<ejs-grid class="grid"
  #grid
  [dataSource]="(masterSkills$ | async)?.items"
  [allowPaging]="allowPaging"
  [pageSettings]="pageSettings"
  [height]="fullScreenGridHeight"
  [rowHeight]="rowHeight"
  [resizeSettings]="resizeSettings"
  [allowSorting]="allowSorting"
  [allowResizing]="allowResizing"
  [enableVirtualization]="false"
  (rowSelected)="rowSelected($event, grid)"
  (rowDeselected)="rowDeselected($event, grid)"
  (dataBound)="gridDataBound(grid)"
  [selectionSettings]="selectionSettings"
  (actionBegin)="actionBegin($event)"
>
  <e-columns>
    <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="40"></e-column>
    <e-column textAlign="Right" width="60">
      <ng-template #template let-data>
        <div class="row-tool-buttons" [class.hidden]=!isLoaded>
          <button ejs-button cssClass="e-flat primary-icon-button" (click)="editSkill(data, $event)">
            <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
          </button>
          <button ejs-button [disabled]="!userPermission[userPermissions.CanEditMasterSkills]" cssClass="e-flat secondary-icon-button" (click)="deleteSkill(data, $event)">
            <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
          </button>
        </div>
      </ng-template>
    </e-column>
    <e-column field="skillCategory.name" headerText="skill category" width="250"></e-column>
    <e-column field="skillAbbr" headerText="skill abbr" width="250"></e-column>
    <e-column field="skillDescription" headerText="skill description" width="400"></e-column>
  </e-columns>
  <ng-template #pagerTemplate let-data>
    <div class="e-pagertemplate">
      <div class="control-section">
        <div class="content-wrapper">
          <section class="left-side-pager-controls">
            <ejs-dropdownlist
              id="rowsPerPage"
              class="dropdown-no-border"
              [dataSource]="rowsPerPageDropDown"
              [allowFiltering]="true"
              [(value)]="activeRowsPerPageDropDown"
              (change)="onRowsDropDownChanged()"
            >
            </ejs-dropdownlist>
            <ejs-numerictextbox
              id="goToPage"
              class="numeric-input-no-border"
              format="#"
              [validateDecimalOnType]="validateDecimalOnType"
              [decimals]="decimals"
              placeholder="Go to:"
              min="1" [max]="(masterSkills$ | async)?.totalPages"
              [showSpinButton]="false"
              (change)="onGoToClick($event)"
            >
            </ejs-numerictextbox>
            <div class="total-rows">
              Total Rows: {{(masterSkills$ | async)?.totalCount}}
            </div>
          </section>
          <section class="right-side-pager-controls">
            <ejs-pager
              id="gridPager"
              #gridPager
              [pageSize]="pageSize"
              [totalRecordsCount]="(masterSkills$ | async)?.totalCount"
              [enablePagerMessage]="false"
              [currentPage]="currentPage"
              (click)="onGoToClick($event)"
            >
            </ejs-pager>
          </section>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-grid>

<app-export-dialog *ngIf="isActive" [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>

<app-filter-dialog *ngIf="isActive" [items]="filteredItems" [count]="(masterSkills$ | async)?.totalCount" (deleteFilter)="onFilterDelete($event)" (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()" (closeDialogClicked)="onFilterClose()">
  <form class="bootstrap" [formGroup]="skillFilterFormGroup">
    <div class="input-container">
      <label for="externalId">Search</label>
      <div class="input-group">
        <input  class="e-input"
                type="text"
                maxlength="50"
                formControlName="searchTerm"/>
      </div>
    </div>
    <div class="input-container">
      <label>Skill Category</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="skillCategoryIds"
                         placeholder="All"
                         [fields]="optionFields"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.skillCategoryIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container" *ngIf="!isFeatureIrpEnabled">
      <label>Skill ABBR</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="skillAbbreviations"
                         placeholder="All"
                         [fields]="optionFields"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.skillAbbreviations.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Skill Description</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="skillDescriptions"
                         placeholder="All"
                         [fields]="optionFields"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.skillDescriptions.dataSource">
        </ejs-multiselect>
      </div>
    </div>
  </form>
</app-filter-dialog>

<app-side-dialog *ngIf="isActive"
  (formCancelClicked)="closeDialog()"
  (formSaveClicked)="saveSkill()"
  header="{{ skillFormGroup.get('id')?.value == 0 ? 'Add' : 'Edit' }} Skill" [disableSaveButton]="!userPermission[userPermissions.CanEditMasterSkills]"
  >
  <form class="skills-form-dialog form-container bootstrap"
        id="addEditSkillsForm"
        [formGroup]="skillFormGroup">
    <div>
      <div class="input-container">
        <label for="skillCategoryId">Skill Category <span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            name="skillCategoryId"
            formControlName="skillCategoryId"
            [fields]="optionFields"
            [allowFiltering]="true"
            [dataSource]="(allSkillsCategories$ | async)?.items">
          </ejs-dropdownlist>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container" *ngIf="!isFeatureIrpEnabled">
        <label for="skillAbbr">Skill Abbr</label>
        <div class="input-group">
          <input class="e-input"
                 type="text"
                 maxlength="100"
                 appValidateWithMessage
                 name="skillAbbr"
                 formControlName="skillAbbr"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="skillDescription">Skill Description <span class="required">*</span></label>
        <div class="input-group">
          <ejs-textbox name="skillDescription" appValidateWithMessage formControlName="skillDescription" [multiline]="true" maxlength="100"></ejs-textbox>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>
