@import 'colors';

.table-wrapper {
  height: calc(98vh - 84px - 80px);

  & .ag-header-cell-text {
    color: $secondary-dark-blue-15;
  }

  & .ag-overlay {
    background-color: $grid-overlay;
  }

  & .ag-theme-alpine .ag-ltr .ag-cell {
    &.status-cell {
      display: flex;
      align-items: center;
    }

    &.name {
      font-weight: 700;
      display: inline-flex;
      color: $primary-active-blue-10;
      cursor: pointer;
    }

    &.approve-cell {
      padding: 0 !important;
      border: none !important;
    }

    & .approve {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        font-weight: 700;
        text-align: center;
        color: $supportive-green-10;
        cursor: pointer;
      }
    }

    &.bold {
      font-weight: 700;
      cursor: pointer;
    }
  }

}

app-grid {
  flex: 1;
}

.app-grid {
  display: flex;
  flex-direction: column;

  &__component {
    width: 100%;
  }

  .ag-header {
    background-color: var(--grid-background-color);
  }

  .ag-root-wrapper {
    border-top-left-radius: var(--grid-border-radius);
    border-top-right-radius: var(--grid-border-radius);
  }

  .ag-root-wrapper,
  .ag-row,
  .ag-header {
    border-color: var(--grid-border-color) !important;
  }

  .ag-cell {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .ag-cell-focus,
  .ag-cell-no-focus {
    border: none !important;
  }

  .no-border.ag-cell:focus {
    border: none !important;
    outline: none;
  }

  .ag-row {
    background-color: inherit;
  }

  .ag-row-hover {
    background-color: var(--grid-row-background-color-hover);
  }

  .ag-header-cell-text {
    text-transform: uppercase;
    font-size: 12px;
  }

  .ag-root-wrapper {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .ag-header-cell-text {
    font-weight: 600 !important;
    color: $secondary-dark-blue-15 !important;
  }

  .custom-grid {
    position: relative;
  }

  .grid-pagination {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    column-gap: 20px;

    .total-rows {
      font-size: 14px;
    }
  }
}

.app-grid-dark {

  .ag-header,
  .ag-root-wrapper {
    background-color: $sidebar-background !important;
  }

  .ag-row {
    background-color: $sidebar-background !important;
    color: $white !important;
  }

  .ag-row-hover {
    background-color: var(--grid-row-background-color-hover) !important;
    color: $black !important;
  }

  .ag-root-wrapper,
  .ag-row,
  .ag-header {
    border-color: $grid-border-color !important;
  }

  .ag-header-icon {
    color: $white !important;
  }

  .e-input-group.e-control-wrapper.e-ddl.e-valid-input {
    &:hover {
      background: transparent !important;
    }
  }

  .ag-header-cell-text {
    font-weight: 700 !important;
    color: $secondary-dark-blue-30 !important;
  }

  .ag-paging-row-summary-panel,
  .ag-paging-page-summary-panel,
  .ag-paging-page-summary-panel > .ag-paging-button,
  .ag-side-buttons {
    color: $secondary-dark-blue-30 !important;
  }

  .ag-checkbox-input-wrapper {
    background-color: $secondary-dark-blue-10-2 !important;

    &::after {
      color: $secondary-dark-blue-40 !important;
    }

    &.ag-checked::after {
      background-color: $white !important;
    }
  }

  .ag-checkbox {

    &:has(.ag-checked) {
      .ag-checkbox-input-wrapper {
        background-color: $secondary-dark-blue-40 !important;
        border-radius: 2px !important;

        &::after {
          color: $primary-active-blue-10 !important;
          border-radius: 2px !important;
        }
      }
    }
  }

  .ag-icon-tree-open,
  .ag-icon-tree-closed {
    color: $secondary-dark-blue-30;
  }
}
