@import '../../styles/variables/colors';

.datepicker--custom .e-input-group.e-control-wrapper.e-date-wrapper {
  min-width: 285px;
  background: $white;

  .e-input[readonly] {
    background: transparent !important;

    ~ span.e-input-group-icon {
      background: transparent !important;
    }
  }
}

.e-highlightselectedrange:nth-last-of-type(1) {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.e-highlightselectedrange:nth-of-type(1) {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.e-highlightselectedrange {
  background: $primary-active-blue-10 !important;

  span {
    color: $white !important;
  }
}

.e-focused-date {
  span {
    color: $black !important;
  }
}

.custom-date-picker {
  display: flex;
  justify-content: space-between;

  .datepicker {
    margin: 0 4px;
  }
  
  ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper.e-error {
    border-color: $grey!important;
  }
  ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper .e-input {
    font-weight: 400!important;
    color: $black!important;
  }

  ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper.e-non-edit.e-error.e-valid-input {
    min-width: 215px!important;
  }

  ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper.e-valid-input {
    min-width: 215px!important;
  }

  .e-input-group.e-control-wrapper {
    margin-bottom: 0!important;
  }
}
