@import '../../styles/variables/colors';

.datepicker--custom .e-input-group.e-control-wrapper.e-date-wrapper {
  min-width: 285px;
  background: $white;

  .e-input[readonly] {
    background: transparent !important;

    ~ span.e-input-group-icon {
      background: transparent !important;
    }
  }
}

.e-highlightselectedrange {
  background: $primary-active-blue-10 !important;

  span {
    color: $white !important;
  }
}

.e-focused-date {
  span {
    color: $black !important;
  }
}
