@import 'colors';

:root {
  --primary-active-blue: #{$primary-active-blue};
  --primary-active-blue-10: #{$primary-active-blue-10};
  --primary-active-blue-15: #{$primary-active-blue-15};
  --primary-active-blue-20: #{$primary-active-blue-20};
  --primary-active-blue-30: #{$primary-active-blue-30};
  --primary-active-blue-40: #{$primary-active-blue-40};
  --primary-active-blue-50: #{$primary-active-blue-50};
  --primary-active-blue-60: #{$primary-active-blue-60};
  --primary-active-blue-70: #{$primary-active-blue-70};
  --primary-active-blue-80: #{$primary-active-blue-80};
  --primary-active-blue-90: #{$primary-active-blue-90};

  --tooltip-background: #{$white};
  --tooltip-text: #{$black};

  --form-control-gap-y: 15px;
  --form-control-gap-x: 12px;

  --grid-background-color: #{$white};
  --grid-border-color: #{$grid-row-border};
  --grid-border-radius: 12px;
  --grid-row-background-color-hover: #{$primary-active-blue-90}
}
