@import "colors";

:root {
  --primary-active-blue: #{$primary-active-blue};
  --primary-active-blue-10: #{$primary-active-blue-10};
  --primary-active-blue-15: #{$primary-active-blue-15};
  --primary-active-blue-20: #{$primary-active-blue-20};
  --primary-active-blue-30: #{$primary-active-blue-30};
  --primary-active-blue-40: #{$primary-active-blue-40};
  --primary-active-blue-50: #{$primary-active-blue-50};
  --primary-active-blue-60: #{$primary-active-blue-60};
  --primary-active-blue-70: #{$primary-active-blue-70};
  --primary-active-blue-80: #{$primary-active-blue-80};
  --primary-active-blue-90: #{$primary-active-blue-90};

  --tooltip-background: #{$white};
  --tooltip-text: #{$black};

  --widget-status-applied-open: #{mix($supportive-green-10, $primary-active-blue-60, 65%)};
  --widget-status-not-applied: #{mix($secondary-dark-blue-30, $primary-active-blue-60, 65%)};
  --widget-status-shortlisted-incomplete: #{mix($supportive-orange, $primary-active-blue-60, 65%)};
  --widget-status-offered-pending: #{mix($supportive-red, $primary-active-blue-60, 65%)};
  --widget-status-rejected-closed: #{mix($secondary-dark-blue-20, $primary-active-blue-60, 65%)};
  --widget-status-accepted: #{mix($supportive-purple, $primary-active-blue-60, 65%)};
  --widget-status-onboard-filled: #{mix($primary-active-blue-30, $primary-active-blue-60, 65%)};
  --widget-status-in-progress: #{mix($primary-active-blue, $primary-active-blue-60, 65%)};
  --widget-status-offboard : #{mix($supportive-pink, $primary-active-blue-60, 50%)};
  --widget-status-cancelled : #{mix($supportive-red-50, $primary-active-blue-60, 50%)};
  --widget-status-custom: #{mix($secondary-dark-blue-15, $primary-active-blue-60, 65%)};

  --form-control-gap-y: 15px;
  --form-control-gap-x: 12px;

  --grid-background-color: #{$white};
  --grid-border-color: #{$grid-row-border};
  --grid-border-radius: 12px;
  --grid-row-background-color-hover: #{$primary-active-blue-90};

  --supportive-red: #{$supportive-red};
  --supportive-green-10: #{$supportive-green-10};
  --chart-dark-bg: #{$sidebar-background};
  --chart-light-bg: #{$white};
  --secondary-dark-blue-30: #{$secondary-dark-blue-30};
  --tooltip-dark-background: #{$widget-dark-tooltip};
  --tooltip-dark-text: #{$white};
  --supportive-orange: #{$supportive-orange};
}
