/* You can add global styles to this file, and also import other style files */
@use "sass:meta";

@use "root";

@import "./variables/colors.scss";
@import "./fusion";

@import "../../assets/fonts/open-sans.scss";

html {
  height: 100%;
}

/* scrollbar styling */
/* firefox */
* {
  scrollbar-width: thin;
}

/* webkit */
*::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary-dark-blue-30;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $secondary-dark-blue-20;
}

*::-webkit-scrollbar-button {
  display: none;
}

body {
  transition: background-color 0.5s ease;
  margin: 0;
  font-family: "Open Sans";
  height: 100%;

  .flex-column {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .full-screen-box {
    height: calc(100% - 80px) !important;
  }

  .hyperlink {
    cursor: pointer;
    color: $primary-active-blue-10;
    font-weight: 700;
  }

  .input-group {
    position: relative;

    i-feather {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 10px;
      color: $supportive-red;
      display: none;
    }

    span.error {
      position: absolute;
      left: 0;
      bottom: -14px;
      font-size: 12px;
      color: $supportive-red;
    }

    &.datetimepicker {
      i-feather {
        right: 58px;
      }
    }

    &.multiselect,
    &.dropdown,
    &.datepicker {
      i-feather {
        right: 25px;
      }
    }

    &.workflow {
      i-feather {
        top: 35%;
      }

      span {
        bottom: -25px;
      }
    }
  }

  h3 {
    margin: 5px;
    font-weight: normal;
  }

  label {
    font-size: 14px;

    .required {
      color: $supportive-red;
      vertical-align: top;
    }
  }

  .stick-right {
    margin-left: auto !important;
  }

  // Default icon size
  i-feather.icon {
    width: 16px;
    height: 16px;
    &.fill-red {
      stroke: #FF5858
    }

    &.fill-red {
      stroke: #FF5858
    }
  }

  ejs-sidebar.e-control.e-sidebar.e-left {
    border-right: none;
  }

  &.light {
    // Styles not related to syncfusion controls here
    background-color: $background;

    .header {
      border-bottom: 1px solid #d1d6e2;
    }

    label {
      color: $secondary-dark-blue-15;
    }

    @include meta.load-css("./themes/material_l");

    .bootstrap {
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-lists/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-dropdowns/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-inputs/styles/bootstrap5.css");
    }
  }

  &.dark {
    // Styles not related to syncfusion controls here
    background-color: #1a1b2e;
    color: #a2a2a2;

    .header {
      border-bottom: 1px solid #4c5673;
      color: #fff;
    }

    //@include meta.load-css("./themes/material_d");

    .bootstrap {
      /*@include meta.load-css("../../../node_modules/@syncfusion/ej2-base/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-popups/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-lists/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-dropdowns/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-inputs/styles/bootstrap5-dark.css");*/
    }
  }

  &.light,
  &.dark {
    .bootstrap {
      .e-wrapper .e-label, input {
        font-family: "Open Sans" !important;
      }
    }
  }
}

hr {
  background-color: $secondary-dark-blue-45;
  height: 1px;
  border: 0;
  margin: 12px 0;
}

.last-content-section-padding {
  padding-bottom: 25px;
}

@import "./controls/grid";
@import "./controls/button";
@import "./controls/chip";
@import './controls/switch';
@import './controls/badge';
@import './controls/context-menu';
@import './controls/card';
@import './controls/input';
@import './controls/dropdown-list-no-border';
@import './controls/input-no-border';
@import './controls/pager';
@import './controls/dropdown';
@import './controls/checkbox';
@import './controls/upload';
@import './controls/radio';
@import './controls/tab';
@import './controls/unsaved-changes-dialog';
@import './controls/alert-dialog';
@import './controls/accordion';
@import './controls/datepicker';
@import './controls/dialog';
@import './controls/toast';
@import './controls/button-with-icon';
@import './controls/treeview';
@import './controls/numeric-textbox';
@import './controls/pdf-viewer';
@import './controls/tooltip';

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@include meta.load-css( "../../node_modules/@syncfusion/ej2-angular-layouts/styles/material.css");

.overflow-hide {
  overflow: hidden !important;
}

.widget-tooltip {
  text-align: center;
  padding: 10px 20px;
  background-color: var(--tooltip-background);
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
  color: var(--tooltip-text);

  &::after {
    content: "";
    display:block;
    width:15px;
    height:15px;
    position:absolute;
    left: 40%;
    background-color: var(--tooltip-background);
    transform: rotate(45deg);
  }
}

.filter-button-content {
  display: flex;

  .e-badge.e-badge-circle.e-badge-success {
    margin-right: 8px;
    top: 0;
    padding-right: 1px;
  }
}

#Active_Positions,
#Candidates{
  &_SeriesCollection {
    cursor: default;
  }
}

#Filled_Positions_Trend_ChartSeriesClipRect_0_Rect {
  transform: translate(0, 3px);
}
