/* You can add global styles to this file, and also import other style files */
@use "sass:meta";

@use "root";

@import "colors.scss";
@import "./fusion";
@import "./ag-grid-styles";

@import "../../assets/fonts/open-sans.scss";
@import '@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '@ag-grid-community/core/dist/styles/ag-theme-alpine';
@import "adaptive-response.scss";
@import 'controls/responsive-container.scss';

html {
  height: 100%;
}

/* scrollbar styling */
/* firefox */
* {
  scrollbar-width: thin;
}

/* webkit */
*::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary-dark-blue-30;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $secondary-dark-blue-20;
}

*::-webkit-scrollbar-button {
  display: none;
}

body {
  transition: background-color 0.5s ease;
  margin: 0;
  font-family: "Open Sans";
  height: 100%;

  .flex-column {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .full-screen-box {
    height: calc(100% - 80px) !important;
  }

  .hyperlink {
    cursor: pointer;
    color: $primary-active-blue-10;
    font-weight: 700;
  }

  .input-group {
    position: relative;

    i-feather {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 10px;
      color: $supportive-red;
      display: none;
    }

    span.error {
      position: absolute;
      left: 0;
      bottom: -16px;
      font-size: 12px;
      color: $supportive-red;
    }

    &.datetimepicker {
      i-feather {
        right: 58px;
      }
    }

    &.multiselect,
    &.dropdown,
    &.datepicker {
      i-feather {
        right: 25px;
      }
    }

    &.workflow {
      i-feather {
        top: 35%;
      }

      span {
        bottom: -25px;
      }
    }
  }

  .textbox {
    span.error {
      top: 53px;
    }
  }

  h3 {
    margin: 5px;
    font-weight: normal;
  }

  label {
    font-size: 14px;

    .required {
      color: $supportive-red;
      vertical-align: top;
    }
  }

  .stick-right {
    margin-left: auto !important;
  }
  // Default icon size
  i-feather.icon, app-custom-icon.icon {
    width: 16px;
    height: 16px;

    &.fill-red {
      stroke: #FF5858
    }

    &.fill-red {
      stroke: #FF5858
    }
  }

  ejs-sidebar.e-control.e-sidebar.e-left {
    border-right: none;
  }

  &.light {
    // Styles not related to syncfusion controls here
    background-color: $background;

    .header {
      border-bottom: 1px solid #d1d6e2;
    }

    label {
      color: $secondary-dark-blue-15;
    }

    #sidebar .username .header-item .e-menu-wrapper {
      background: none;
      width: calc(100% - 34px);

      & ul.e-menu {
        width: 100%;
        color: $white;

        & .e-selected, .e-focused {
          background-color: transparent;
        }

        & .e-menu-item {
          width: 100%;
          height: 3rem;
          font-size: 14px;
          flex-direction: row;
          align-items: center;

          & .e-caret {
            width: 18px;
            color: $white;
            line-height: 55px;
          }
        }
      }
    }

    .header-item {
      .e-menu-wrapper,
      .e-menu-wrapper .e-menu .e-menu-item {
        background-color: $background;
        font-size: 14px !important;
        font-weight: 600;
        height: 56px;
        line-height: 56px;

        @media #{$max-mobile} {
          background-color: transparent;
        }
      }

      .e-menu-item.e-selected {
        border-radius: 8px;
        background-color: $primary-active-blue-70 !important;
        color: $primary-active-blue-10 !important;
      }

      .e-menu-wrapper .e-menu .e-menu-item .e-caret {
        display: none;
      }
    }

    .e-menu-wrapper .e-ul .e-menu-item {
      font-size: 14px;
    }

    .e-menu-wrapper .e-ul .e-menu-item.e-focused,
    .e-menu-wrapper .e-ul .e-menu-item.e-selected {
      background-color: $primary-active-blue-10 !important;
      color: $white !important;
    }


    @include meta.load-css("./themes/material_l");

    .bootstrap {
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-lists/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-dropdowns/styles/bootstrap5.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-inputs/styles/bootstrap5.css");
    }
  }

  &.dark {
    // Styles not related to syncfusion controls here
    $background: #1A1B2E;
    background-color: $background;
    color: #a2a2a2;

    .header {
      border-bottom: 1px solid #4c5673;
      color: #fff;
      background-color: $background;
    }

    .app-maps-chart__text {
      color: $secondary-dark-blue-30;
    }

    .header-item {
      .e-menu-wrapper,
      .e-menu-wrapper .e-menu .e-menu-item {
        background-color: $background;
        font-size: 14px !important;
        font-weight: 600;
        height: 56px;
        line-height: 56px;
      }

      .e-menu-item.e-selected {
        border-radius: 8px;
        background-color: $primary-active-blue-70 !important;
        color: $primary-active-blue-10 !important;
      }

      .e-menu-wrapper .e-menu .e-menu-item .e-caret {
        display: none;
      }
    }

    .e-menu-wrapper .e-ul .e-menu-item {
      font-size: 14px;
    }

    .e-menu-wrapper .e-ul .e-menu-item.e-focused,
    .e-menu-wrapper .e-ul .e-menu-item.e-selected {
      background-color: $primary-active-blue-10 !important;
      color: $white !important;
    }

    .week-picker-container .e-input-group.e-control-wrapper {
      background-color: $background !important;
    }

    .widget-tooltip {
      text-align: center;
      padding: 10px 20px;
      background-color: var(--tooltip-dark-background);
      box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
      color: var(--tooltip-dark-text);

      &::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        left: 40%;
        background-color: var(--tooltip-dark-background);
        transform: rotate(45deg);
      }
    }

    #organization-agency-dropdown .e-input-group {
      background: $background !important;
      color: $white;
    }

    #organization-agency-dropdown .e-input-group:hover {
      background: $primary-active-blue-70 !important;
      color: $primary-active-blue-10;
    }

    .e-input-group.e-control-wrapper.e-ddl.e-valid-input {
      &:hover {
        background: transparent !important;
      }
    }

    .e-input-group.e-float-icon-left.search-with-icon {
      background: $sidebar-background;
      border: 1px solid $grid-border-color;
    }

    .bootstrap .e-input-group.e-control-wrapper,
    app-navigation-panel {
      background: $sidebar-background !important;
    }

    .custom-chip,
    .candidates-additional-info .container-row,
    .search, .credentials-container,
    .side-menu,
    .document-side-panel,
    .e-toolbar .e-tbar-btn,
    .dialog .applied-filters .chips-container .e-chip-list .e-chip,
    .filter-chips .e-chip-list .e-chip {
      background: $sidebar-background !important;
    }

    .container-row,
    .comments-container.background,
    .file-container,
    .credentials,
    .credentials .e-accordion, .credentials .e-acrdn-item,
    .contacts,
    .tile-dark-blue,
    .partnership-settings .main-content,
    .alert-panel,
    .dialog .applied-filters .chips-container {
      background: $widget-dark-tooltip !important;
    }

    .container-row .title, .comments-container .comments-header .title, .comment .comment-header .name,
    .comment .comment-body, .credentials-title, .contact-title, .contacts .contact-details,
    .contacts .contact-details i-feather, .general-information .title, .job-distibution .title,
    .job-description .title, .contact-header .contact-title, .contact-header .title, .work-location-header .title,
    .special-project .title, .candidates-info .column .cost,
    .dialog-header .title, .cards-container .card.e-card h4,
    .tree-lebel label, .section-tittle,
    .profile-details-header .username, .job-info-container .value,
    .profile-hours-statistics-container section h3,
    .partnership-settings .title,
    .alert-panel .alert-panel-header__title,
    .ordered-chips__title, .alert-title-header-body-color,
    .dialog .applied-filters .chips-container .e-chip-list .e-chip,
    .e-chip-list .e-chip .e-chip-delete.e-dlt-btn,
    .filter-chips .e-chip-list .e-chip {
      color: $white !important;
    }

    .input-container label,
    .e-switch-wrapper label,
    .dropdown-container label,
    .tab-legend__item,
    .tab-legend__item span,
    .alert-date {
      color: $secondary-dark-blue-40 !important;
    }

    .comment .icon.visibility,
    .comment .comment-header .controls .date {
      color: $secondary-dark-blue-30 !important;
    }

    @include meta.load-css("./themes/material_d");

    .bootstrap {
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-base/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-popups/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-lists/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-dropdowns/styles/bootstrap5-dark.css");
      @include meta.load-css("../../../node_modules/@syncfusion/ej2-angular-inputs/styles/bootstrap5-dark.css");
    }
  }

  &.light,
  &.dark {
    .bootstrap {
      .e-wrapper .e-label, input {
        font-family: "Open Sans" !important;
      }
    }
  }

  .e-close li.e-list-item.e-level-2 {
    @media #{$max-tablet} {
      display: none;
    }
  }
}

body.light .header-item .e-menu-item.e-selected {
  @media #{$max-mobile} {
    border-radius: 0px !important;
    background-color: transparent !important;
    color: inherit !important;
  }
}

hr {
  background-color: $secondary-dark-blue-45;
  height: 1px;
  border: 0;
  margin: 12px 0;
}

.last-content-section-padding {
  padding-bottom: 25px;
}

@import "./controls/grid";
@import "./controls/button";
@import "./controls/chip";
@import './controls/switch';
@import './controls/badge';
@import './controls/context-menu';
@import './controls/card';
@import './controls/input';
@import './controls/dropdown-list-no-border';
@import './controls/input-no-border';
@import './controls/pager';
@import './controls/dropdown';
@import './controls/checkbox';
@import './controls/upload';
@import './controls/radio';
@import './controls/tab';
@import './controls/unsaved-changes-dialog';
@import './controls/alert-dialog';
@import './controls/accordion';
@import './controls/datepicker';
@import './controls/dialog';
@import './controls/toast';
@import './controls/button-with-icon';
@import './controls/treeview';
@import './controls/numeric-textbox';
@import './controls/pdf-viewer';
@import './controls/tooltip';
@import './controls/custom-buttons';
@import './controls/dropdownbutton.scss';
@import './controls/menu.scss';
@import './controls/open-positions';
@import 'text';

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@include meta.load-css( "../../node_modules/@syncfusion/ej2-angular-layouts/styles/material.css");

.overflow-hide {
  overflow: hidden !important;
}

.hidden {
  visibility: hidden;
}

.widget-tooltip {
  text-align: center;
  padding: 10px 20px;
  background-color: var(--tooltip-background);
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
  color: var(--tooltip-text);

  &::after {
    content: "";
    display:block;
    width:15px;
    height:15px;
    position:absolute;
    left: 40%;
    background-color: var(--tooltip-background);
    transform: rotate(45deg);
  }
}

.filter-button-content {
  display: flex;

  .e-badge.e-badge-circle.e-badge-success,
  .e-badge.e-badge-pill.e-badge-success {
    margin-right: 8px;
    top: 0;
    padding-right: 1px;

    &.align-text {
      padding-right: 0;
    }
  }

  .e-badge.e-badge-pill.e-badge-success {
    padding-right: 4px;

    &.align-text {
      padding-right: 5px;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.button-export-container {
  display: flex;
}

#Active_Positions,
#Candidates{
  &_SeriesCollection {
    cursor: default;
  }
}

#Filled_Positions_Trend_ChartSeriesClipRect_0_Rect {
  transform: translate(0, 3px);
}

@import '@ag-grid-community/core/dist/styles/ag-grid.css';
@import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css';
@import '@ag-grid-community/core/dist/styles/ag-theme-balham.css';

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

#chart_57723_1_tooltip {
  top: 10px !important;

  @media screen and (max-width: 1700px) {
    top: 0 !important;
  }
}

.hideBtn {
  display: none;
}

.order-type-column {
  display: inline-block;
  cursor: default;
}

.deployed-candidate {
  &__order-id {
    color: $primary-active-blue-10;
    font-weight: 700;
  }
}

.comments-container {
  white-space: normal;
  line-height: 20px;
  word-break: break-word;
}
.user_subs_cls .ag-row-loading {
  display: none;
}
body.dark .title, body.dark .contact-name {
  color: white !important;
}
.credential-wrapper .checkbox-container {
  padding-bottom: 25px;
}
.document-grid .ag-body-viewport.ag-layout-auto-height.ag-row-no-animation {
  height: calc(74vh - 164px) !important;
  overflow: auto;
}

.document-grid {
  height: calc(89vh - 164px) !important;
}

#Already_expired_creds .app-widget-wrapper__header {
  padding: 0% 3%;
}

#Already_expired_creds .widget__type {
  padding: 0% 3%;
  color: #1a1b2e;
}

#Upcoming_exp_creds .app-widget-wrapper__header {
  padding: 0% 3%;
}

#Upcoming_exp_creds .widget__type {
  padding: 0% 3%;
  color: #1a1b2e;
}
.reason-form .input-group span.error{
  position: relative;
  bottom: 0px;
}
.exp_creds .app-widget-wrapper__projection-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}
svg.svg-inline--fa.fa-users , svg.feather.feather-eye, svg.feather.feather-eye-off{
  width: 20px;
  height: 20px;
}
svg.svg-inline--fa.fa-lock,  svg.svg-inline--fa.fa-unlock{
  width: 17px;
  height: 17px;
}
.item6 .datepicker {
  width: 150px;
}
.irp-candidate .comments-container {
  background: ghostwhite;
}
.comments-irp {
  svg.svg-inline--fa.fa-lock, svg.svg-inline--fa.fa-unlock {
    width: 14px;
    height: 21px;
  }
  svg.svg-inline--fa.fa-user-friends {
    width: 20px;
    height: 20px;
  }
  svg.svg-inline--fa.fa-eye-slash , svg.svg-inline--fa.fa-eye{
    width: 20px;
    height: 20px;
  }
  
}
.app-grid__component .ag-root-wrapper {
  border: none !important;
  }
 

  .app-grid__component span.ag-icon.ag-icon-menu {
    display: none;
}
body.dark .schedule-comp td ,body.dark .schedule-comp th, body.dark .schedule-comp .table-row, body.dark .schedule-items-container {
  background: #25263b;
}
body.dark .schedule-bar, body.dark .date-cell, body.dark .schedule-items-header .header-itm, body.dark .open-position-wrapper .content, body.dark .schedule-wrapper .grid-body {
  background: #25263b !important;
}
body.dark .schedule-bar h3, body.dark .schedule-items-header .header-itm , body.dark .schedule-item .date span, body.dark .schedule-item .date span, body.dark .schedule-items-container .date i-feather, body.dark .schedule-comp .card-wrapper .block span, body.dark .schedule-items-container button.e-control.e-flat, body.dark .results-counter span.label, body.dark .results-counter span.count, body.dark .content .empty, body.dark .schedule-bar .bootstrap .e-input-group input.e-input, body.dark .schedule-bar .bootstrap .e-input-group.e-control-wrapper input.e-input, body.dark .open-position-wrapper .title, body.dark .availability-open-position__title{
  color: white !important;
}
body.dark .schedule-items-container .book-circle.circle {
  background: white !important;
}
body.dark .schedule-wrapper span.e-chip-delete.e-dlt-btn {
  color: black !important;
}
body.dark .schedule-comp th.table-title span, body.dark .schedule-wrapper span.chips-group-text, body.dark .schedule-wrapper span.chips-title, body.dark .schedule-items-container span.candidate-name {
  color: white;
}
.IRPgrid .app-grid__component .ag-body-horizontal-scroll, .app-grid__component span.ag-icon.ag-icon-menu {
 display: flex;
}
#Available_Employee_body .ag-center-cols-container {
  width: 100% !important; min-width: 600px;
}
.shared-with-grid .ag-root-wrapper.ag-layout-auto-height.ag-ltr {
  max-height: inherit;
}
.shared-with-grid .ag-root-wrapper-body, .shared-with-grid .ag-body-viewport {
  overflow: scroll;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  [data-uid="Master Data"],[data-uid="Communication/Document Library"],[data-uid="Administration/Organization Interface "],[data-uid="Administration/Interface Logs"],[data-uid="Organization/Candidate Assignment"],[data-uid="Organization/Settings"],
  [data-uid="Agency/Reports"],[data-uid="Agency/Timesheets"],[data-uid="Agency/Candidate Assignment"],[data-uid="Organization/Scheduling"],[data-uid="Organization/Timesheets"],[data-uid="Organization Profile"],[data-uid="Profile"],[data-uid="Reports"],
  [data-uid="Organization Profile"],[data-uid="Analytics"],[data-uid="Candidate Assignment"],[data-uid="Order Management"],[data-uid="Scheduling"],[data-uid="Settings"],[data-uid="Timesheets"],[data-uid="Administration/User List"],[data-uid="Administration/Roles & Permissions"]
  ,body.light .e-btn.noResponsive
  {
    display: none;
  }
}