@import './colors';

.color-supportive-green-10 {
  color: $supportive-green-10;
}

.color-supportive-red {
  color: $supportive-red;
}

.color-primary-active-blue-10 {
  color: $primary-active-blue-10 !important;
}

.font-weight-bold {
  font-weight: 700;
}

.title-settings {
  font-size: 18px;
}
