@import "colors";
@import 'adaptive-response';

.stepper {
  padding-bottom: 40px;

  .e-tab-header {
    .e-items {
      .e-item {
        background-color: var(--bg-steper);
        border: 1px solid var(--header-border);
      }

      .e-disable {
        opacity: 0.5;
      }

      .e-active {
        background-color: $primary-active-blue-10;

        .stepper-title {
          color: $white !important;
        }
      }
    }
  }

  .stepper-title {
    color: var(--title) !important;

    .required {
      color: $supportive-red;
    }
  }
}

.tabs {
  max-width: calc(100% - 16px) !important;

  @media #{$max-mobile} {
    max-width: calc(100vw - 32px) !important;
  }

  .e-content {
    height: auto !important;
  }
}

@media #{$max-tablet} {
  @container main-content (max-width: 640px) {
    .tabs {
      .e-tab-header {
        overflow: hidden;

        .e-item {
          max-width: 135px;
          background-color: blue;
        }
      }
    }

    .stepper {
      .stepper-title {
        .text {
          white-space: pre-line;
        }
      }
    }
  }
}
