@import 'colors';
@import 'mixins';

.pay-rate-grid {
  ::ng-deep {
    .ag-header-cell-text {
      white-space: normal;
    }

    .ag-selection-checkbox {
      padding-left: 5px;
    }

    .ag-cell {
      padding: 8px 12px;
       
      app-grid-actions-cell{
        justify-content: flex-end;
      }

      .remove-button {
        padding: 6px 10px;
        opacity: 1 !important;

        @include grid-action-button(
          $supportive-red,
          $supportive-red-00,
          $supportive-red-40,
          $secondary-dark-blue-30
        );
      }
    }
  }
}