<!-- <button cssClass="e-flat primary-icon-button" (click)="onEdit(data)">
  <span>
    <i-feather name="edit" class="icon"></i-feather>
  </span>
</button> -->
<!-- <button type="button">{{label}}</button> -->
<!-- class="btn btn-transparent-dark border-0 btn-icon rounded"  -->
<button *ngIf="label === 'Edit'"
  style='color:rgb(62, 127, 255); background-color: transparent; border: 0; border-radius: 4px; cursor: pointer;'
  [attr.title]="label"
  (click)="onClick($event)">
  <fa-icon [icon]='faEdit' class="pr-3">
    Edit
  </fa-icon>
</button>

<button *ngIf="label === 'Delete'"
  style='color:#dc3545; background-color: transparent; border: 0; border-radius: 4px; cursor: pointer;'
  [attr.title]="label"
        [disabled]="params.data.agencyStatus === agencyStatus.Inactive
        || params.data.agencyStatus === agencyStatus.Terminated || params.data?.isDefault
        || !userPermission[userPermissions[params.data.canDelete]]"
  (click)="onClick($event)">
  <fa-icon [icon]='faTrash' class="pr-3">
    Edit
  </fa-icon>
</button>
<button *ngIf="label === 'View' || label === 'View Errors'"
  style='color:rgb(62, 127, 255); background-color: transparent; border: 0; border-radius: 4px; cursor: pointer;'
  [attr.title]="label"
  (click)="onClick($event)">
  <fa-icon [icon]='faView' class="pr-3">

    faView
  </fa-icon>
</button>
<ng-container *ngIf="label === 'Edit Mail'">
  <button
    class="icon-btn"
    (click)="onClick($event, 'edit')">
    <i-feather name="edit" class="icon"></i-feather>
  </button>
  <!--    TODO delete third ! in lastLoginDate-->
  <button
    *ngIf="!params.data.isDeleted && !params.data.lastLoginDate && userPermission[userPermissions.CanEditUsers]"
    class="icon-btn"
    (click)="onClick($event, 'mail')">
    <i-feather name="mail" class="icon"></i-feather>
  </button>
</ng-container>
<ng-container *ngIf="label === 'NameLink'">
  <span style='color:rgb(62, 127, 255); background-color: transparent; border: 0; border-radius: 4px; cursor: pointer;'
  [attr.title]="label"
  (click)="onClick($event)">
    {{this.params.node.data?.originalFileName}}
  </span>
</ng-container>
