@import 'colors';
@import 'adaptive-response';

:host {
  height: calc(100% - 145px);

  .grid-component {
    height: 100%;

    .inactive-btn {
      &:focus {
        background-color: $primary-active-blue-70 !important;
        color: $supportive-red !important;
      }

      &:focus:hover {
        background-color: $primary-active-blue-50 !important;
      }
    }
  }

  ::ng-deep {
    .controls-container {
      flex-direction: row !important;
      
      .right-content {
        justify-content: flex-end;
        width: auto;
      }
    }
  }

  @media (max-width: 769px) {
    .grid-component {
      height: calc(100% - 25px);
    }
  }

  @media (max-width: 738px) {
    .grid-component {
      height: calc(100% - 45px);
    }

    ::ng-deep {
      .controls-container {
        flex-direction: column;
        row-gap: 12px;

        .right-content {
          justify-content: flex-start;
        }
      }
    }
  }

  @media #{$max-mobile} {
    height: auto;
    padding-bottom: 24px;

    ::ng-deep .controls-container {
      .left-content {
        display: none;
      }

      .right-content {
        margin-top: 12px;
      }
    }

    .grid-component {
      height: auto;

      &:has(.e-emptyrow) {
        height: 145px;
      }
    }

    .button-export {
      padding: 8px 12px;

      .icon {
        margin: 0;
      }
    }

    ::ng-deep {
      .controls-container {
        row-gap: 24px;

        .right-content {
          justify-content: flex-start;
        }
      }
    }
  }
}
.msp-text-box {
  border: 5px;
  border-color: #ffffff;
  border-style: groove;
  padding: 14px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
}
.msp-note-text {
  color: #c8180b !important;
}
.msp-button-container{
    display: flex;
    align-content:center;
    justify-content: center;
}
.mat-menu-item[disabled] {
  color: rgba(0,0,0,.38) !important;
}
