<app-page-toolbar>
  <ng-container left>
    <h3>Agency list</h3>
  </ng-container>
  <ng-container right>
    <button ejs-button cssClass="e-outline button-filter" (click)="showFilters()">
      <div class="filter-button-content">
          <span *ngIf="(filteredItems$ | async) as filteredItems" class="e-badge e-badge-success e-badge-circle">{{filteredItems}}</span>
        Filters <i-feather name="sliders" class="icon"></i-feather>
      </div>
    </button>
    <button
      ejs-dropdownbutton
      [items]="exportOptions"
      (select)="exportSelected($event)"
      id="importButton"
      cssClass="e-outline button-export">Export <i-feather name="download" class="icon"></i-feather></button>
    <button ejs-button [isPrimary]="true" (click)="navigateToAgencyForm()">Add Agency</button>
  </ng-container>
</app-page-toolbar>

<section>
  <ejs-grid #grid
            [dataSource]="(agencies$ | async)?.items"
            [allowPaging]="allowPaging"
            [pageSettings]="pageSettings"
            [height]="gridHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="true"
            [resizeSettings]="resizeSettings"
            [sortSettings]="initialSort"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            (dataBound)="dataBound()"
            (rowSelected)="rowSelected($event, grid)"
            (rowDeselected)="rowDeselected($event, grid)"
            [selectionSettings]="selectionSettings"
            (actionBegin)="actionBegin($event)"
    >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit(data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button [disabled]="data.agencyDetails.status === statusEnum.Inactive" cssClass="e-flat secondary-icon-button" (click)="onRemove(data)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="agencyDetails.name" headerText="AGENCY NAME" width="430"></e-column>
      <e-column field="agencyDetails.status" headerText="AGENCY STATUS" width=200>
        <ng-template #template let-data>
          <div>
            <ejs-chiplist class="events-off">
              <e-chips>
                <e-chip [text]="statusEnum[data.agencyDetails.status]"
                        [cssClass]="getChipCssClass(statusEnum[data.agencyDetails.status])">
                </e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="agencyContactDetails.0.contactPerson" headerText="CONTACT PERSON" width="220"></e-column>
      <e-column field="agencyContactDetails.0.phone1" headerText="PHONE" width="220" [allowSorting]="false"></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist id="rowsPerPage"
                                class="dropdown-no-border"
                                [dataSource]="rowsPerPageDropDown"
                                [(value)]="activeRowsPerPageDropDown"
                                (change)="onRowsDropDownChanged()">
              </ejs-dropdownlist>
              <ejs-numerictextbox id="goToPage"
                                  class="numeric-input-no-border"
                                  format="#"
                                  placeholder="Go to:"
                                  min="1"
                                  [max]="(agencies$ | async)?.totalPages"
                                  [showSpinButton]="false"
                                  (change)="onGoToClick($event)">
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager id="gridPager"
                         #gridPager
                         [pageSize]="pageSize"
                         [totalRecordsCount]="(agencies$ | async)?.totalCount"
                         [enablePagerMessage]="false"
                         [currentPage]="currentPage"
                         (click)="onGoToClick($event)">
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>

<app-filter-dialog
  [items]="filteredItems"
  [count]="(agencies$ | async)?.totalCount"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
  (closeDialogClicked)="onFilterClose()"
>
  <app-agency-list-filters [form]="agencyListFilterFormGroup" [filterColumns]="filterColumns"></app-agency-list-filters>
</app-filter-dialog>
