<app-page-toolbar>
  <ng-container left>
    <h3 class="page-title">Agency list</h3>
  </ng-container>
  <ng-container right>
    <button ejs-button appHideBeforeSyncfusionLoad cssClass="e-outline button-filter" (click)="showFilters()">
      <div class="filter-button-content">
          <span *ngIf="(filteredItems$ | async) as filteredItems" class="e-badge e-badge-success e-badge-pill align-text">{{filteredItems}}</span>
        Filters <i-feather name="sliders" class="icon"></i-feather>
      </div>
    </button>
    <button
      ejs-dropdownbutton
      appHideBeforeSyncfusionLoad
      [items]="exportOptions"
      (select)="exportSelected($event)"
      id="importButton"
      cssClass="e-outline button-export">
      <div class="button-export-container">
        <span class="text-btn">Export</span>
        <i-feather name="upload" class="icon"></i-feather>
      </div>
    </button>
    <app-tooltip-container
      [message]="toolTipMessage"
      [showToolTip]="!userPermission[userPermissions.CanCreateDeleteAgency]">
      <button ejs-button appHideBeforeSyncfusionLoad [disabled]="!userPermission[userPermissions.CanCreateDeleteAgency]" [isPrimary]="true" (click)="navigateToAgencyForm()">Add Agency</button>
    </app-tooltip-container>
  </ng-container>
</app-page-toolbar>

<section class="grid-component">
  <ejs-grid #grid
            [dataSource]="(agencies$ | async)?.items"
            [pageSettings]="pageSettings"
            [height]="fullScreenGridHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="false"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            (dataBound)="dataBound()"
            (rowSelected)="rowSelected($event, grid)"
            (rowDeselected)="rowDeselected($event, grid)"
            [selectionSettings]="selectionSettings"
            (actionBegin)="actionBegin($event)"
    >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="130">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit(data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button
                    cssClass="e-flat secondary-icon-button inactive-btn"
                    [disabled]="data.agencyDetails.status === statusEnum.Inactive || !userPermission[userPermissions.CanEditAgencyProfile]"
                    (click)="onRemove(data)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
            <button ejs-button
                    [matMenuTriggerFor]="menu"
                    (click)="$event.stopPropagation()"
                    [disabled]="false"
                    [matMenuTriggerData]="{
                      data: data,
                      items: data.menuItems
                    }"
                    cssClass="e-flat primary-icon-button">
              <span><i-feather name="more-vertical" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="AgencyName" headerText="AGENCY NAME" width="430">
        <ng-template #template let-data>
          <app-agency-name [agencyName]="data.agencyDetails.name"
                           [isMsp]="data.isMsp"></app-agency-name>
        </ng-template>
      </e-column>
      <e-column field="AgencyStatus" headerText="AGENCY STATUS" width=200>
        <ng-template #template let-data>
          <div>
            <ejs-chiplist class="events-off">
              <e-chips>
                <e-chip [text]="statusMapper[data.agencyDetails.status]"
                        [cssClass]="getChipCssClass(statusMapper[data.agencyDetails.status])">
                </e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="taxId" headerText="Tax Id" width="220">
        <ng-template #template let-data>
          {{ data.agencyDetails.taxId }}
        </ng-template>
      </e-column>
      <e-column field="ContactPerson" headerText="CONTACT PERSON" width="220">
        <ng-template #template let-data>
          {{ data.contactPerson }}
        </ng-template>
      </e-column>
      <e-column field="agencyContactDetails.0.phone1" headerText="PHONE" width="220" [allowSorting]="false">

      </e-column>
      <e-column field="agencyContactDetails.0.phone1" headerText="NETSUITE ID" width="220" [allowSorting]="false">
        <ng-template #template let-data>
          {{ data.netSuiteId }}
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>

  <app-grid-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecordsCount]="(agencies$ | async)?.totalCount ?? 0"
    (navigateToPageEmitter)="changeGridPage($event)"
    (pageSizeChangeEmitter)="changeGridSize($event)"
  ></app-grid-pagination>
</section>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-items="items" let-data="data">
    <button mat-menu-item
            *ngFor="let item of items"
            [disabled]="item.disabled"
            (click)="menuOptionSelected(item.id, data)">
      {{ item.text }}
    </button>
  </ng-template>
</mat-menu>
<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>

<app-side-dialog [disableSaveButton]="!userPermission[userPermissions.CanCreateMSP]"
                 (formCancelClicked)="onConvertAgencyToMSPFormCancelClick()"
                 (formSaveClicked)="onConvertAgencyToMSPFormSaveClick()"
                 [header]="'Convert To MSP'"
                 [width]="'523px'">
  <form class="form-container" id="convertAgencyToMSPForm" [formGroup]="convertAgencyToMSPFormGroup">
    <div class="msp-text-box">
      <h2 class="msp-note-text">NOTE:</h2>
      This action will convert the current Agency to MSP.
      <br />
      <br />
      The User for this MSP will need to be created again. The existing users of the Agency can also be converted to MSP User from User Management Screen by changing their Business Unit Type from Agency to MSP.
      <br />
      <br />
      Note that the same users can not be part of both Agency and MSP.
      <br />
      <br />
    </div>
    <div class="msp-button-container">
      <button ejs-button [isPrimary]="true" [disabled]="!userPermission[userPermissions.CanCreateMSP]" (click)="onConvertAgencyToMSPFormSaveClick()" [formGroup]="convertAgencyToMSPFormGroup">Convert To MSP</button>
    </div>
  </form>
</app-side-dialog>

<app-filter-dialog
  [items]="filteredItems"
  [count]="(agencies$ | async)?.totalCount"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
  (closeDialogClicked)="onFilterClose()"
>
  <app-agency-list-filters [form]="agencyListFilterFormGroup" [filterColumns]="filterColumns"></app-agency-list-filters>
</app-filter-dialog>

<app-scroll-to-top></app-scroll-to-top>

<app-agency-history-details [agencyHD]="agencyData"></app-agency-history-details>
