<div class="row-tool-buttons action-renderer ag-grid-cell-renderer">
  <button 
    ejs-button class="edit-button" 
    cssClass="e-flat primary-icon-button" 
    (click)="edit()" 
    [disabled]="cellValue.gridActionsParams.disableControls ||  !userPermission[userPermissions.CanEditOrientation]">
    <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
  </button>
  <button
    ejs-button
    cssClass="e-flat secondary-icon-button"
    [disabled]="cellValue.gridActionsParams.disableControls || !userPermission[userPermissions.CanEditOrientation]"
    class="remove-button"
    (click)="delete()">
    <span><i-feather name="trash-2" class="icon"></i-feather></span>
  </button>
</div>
