@import 'src/app/styles/variables/colors';

.job-details {
  margin-top: 18px;
  margin-bottom: 16px;
}

.order-content {
  display: flex;

  >div {
    width: 100%;
  }
}

.job-description-accordion {
  margin-right: 12px;
}

.separator {
  height: 1px;
  background-color: $secondary-dark-blue-45;
  margin-bottom: 15px;
}

.credentials {
  background-color: $secondary-dark-blue-50;
  border-radius: 8px;
  padding: 16px;

  .credential-item {
    display: flex;

    i-feather {
      color: $supportive-red;
      width: 11px;
      height: 11px;
      margin-left: 18px;

      &.active {
        color: $supportive-green-10;
      }
    }

    .credential-title {
      margin-right: auto;
    }
  }

  .e-accordion, .e-acrdn-item {
    background-color: $secondary-dark-blue-50;
  }

  .credentials-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
