<form>
  <!-- Credential Type -->
  <div class="input-container bootstrap">
    <label>Credential Type<span class="required">*</span></label>
    <div class="input-group">
      <input class="e-input" type="text" placeholder="Credential Type" />
    </div>
  </div>

  <!-- Credential Name -->
  <div class="input-container bootstrap">
    <label>Credential Name<span class="required">*</span></label>
    <div class="input-group">
      <input class="e-input" type="text" placeholder="Credential Name" />
    </div>
  </div>

  <!-- Comments -->
  <div class="input-container bootstrap">
    <label for="comments">Comments</label>
    <div class="input-group">
      <ejs-textbox
        class="e-input"
        type="text"
        [multiline]="true"
        placeholder="Comments">
      </ejs-textbox>
    </div>
  </div>

  <div class="bootstrap checkbox-container">
    <ejs-checkbox label="Req. For Submission"></ejs-checkbox>
    <ejs-checkbox label="Req. For Onboard"></ejs-checkbox>
    <ejs-checkbox label="Optional"></ejs-checkbox>
  </div>
</form>
