form {
  margin-top: 20px;
}

.input-container {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

label {
  display: inline-block;
  margin-bottom: 2px;
  line-height: 20px;
}

ejs-textbox.e-control {
  .e-textbox {
    height: 118px !important;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

ejs-checkbox:not(:last-child) {
  margin-bottom: 20px;
}
