@import 'colors';

.extension {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__info {
    display: flex;
    column-gap: 20px;

    .extension__details {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 60%;

      .config {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .durations {
          display: flex;
          align-items: flex-end;
          column-gap: 12px;
        }

        .row {
          display: flex;
          column-gap: 12px;
        }
      }
    }
  }

  &__comments {
    width: 40%;
  }
}

.form-line-item-50 {
  width: 50%;
}
