<div class="extension">
  <div class="extension__info">
    <div class="extension__details">
      <app-extension-candidate-info
        *ngIf="candidateJob"
        [candidateJob]="candidateJob"
        [orderPosition]="orderPosition"
      ></app-extension-candidate-info>
      <form class="config">
        <div class="durations">
          <app-dropdown
            [dataSource]="extensionDurationPrimary"
            [fields]="durationFieldsSettings"
            [formGroupInstance]="extensionForm"
            [hideBorder]="false"
            label="Extension Duration"
            class="durations-control"
            controlName="durationPrimary"
          ></app-dropdown>
          <app-dropdown
            [dataSource]="extensionDurationSecondary"
            [fields]="durationFieldsSettings"
            [formGroupInstance]="extensionForm"
            [hideBorder]="false"
            class="durations-control"
            controlName="durationSecondary"
          ></app-dropdown>
          <app-numeric-textbox
            [formGroupInstance]="extensionForm"
            [htmlAttributes]="numericInputAttributes"
            [min]="1"
            [max]="99"
            [strictMode]="false"
            format="#"
            controlName="durationTertiary"
            class="durations-control"
          ></app-numeric-textbox>
        </div>
        <div class="row">
          <app-datepicker
            [formGroupInstance]="extensionForm"
            [enableMask]="true"
            [maskPlaceholder]="datepickerMask"
            [required]="true"
            [min]="minDate"
            id="extension-start-date"
            controlName="startDate"
            label="Extension Start Date"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            class="form-line-item-50"
          ></app-datepicker>
          <app-datepicker
            [formGroupInstance]="extensionForm"
            [enableMask]="true"
            [maskPlaceholder]="datepickerMask"
            [required]="true"
            [min]="startDate || minDate"
            id="extension-end-date"
            controlName="endDate"
            label="Extension End Date"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            class="form-line-item-50"
          ></app-datepicker>
        </div>
        <div class="row">
          <app-numeric-textbox
            [formGroupInstance]="extensionForm"
            [required]="true"
            [htmlAttributes]="billRateAttributes"
            [decimals]="2"
            [min]="0"
            format="c"
            controlName="billRate"
            label="Bill Rate"
            class="form-line-item-50"
          ></app-numeric-textbox>
          <app-input
            [formGroupInstance]="extensionForm"
            controlName="linkedId"
            id="linkedId"
            maxlength="20"
            label="Linked ID"
            class="form-line-item-50"
          ></app-input>
        </div>
      </form>
    </div>
    <div class="extension__comments">
      <app-comments
        [canVmsCreateOrders]="canCreateOrder"
        [comments]="comments"
        [isCreating]="true"></app-comments>
    </div>
  </div>
  <div class="extension__bill-rates">
    <app-bill-rates
      #billRates
      [billRates]="candidateJob?.billRates!"
      [isActive]="true"
      [isLocal]="candidateJob?.isLocal!"
      (hourlyRateSync)="hourlyRateToOrderSync($event)"></app-bill-rates>
  </div>
</div>
