@import 'colors';
@import 'adaptive-response';

.extension {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__info {
    display: flex;
    column-gap: 20px;

    .extension__details {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 60%;

      .config {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .durations {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 12px;
          align-items: end;
        }

        .row {
          display: flex;
          column-gap: 12px;
        }
      }
    }
  }

  &__comments {
    width: 40%;
  }
}

.form-line-item-50 {
  width: 50%;
}

@media #{$max-mobile} {
  .extension {
    &__info {
      flex-direction: column;
      row-gap: 20px;
    }

    &__details {
      width: 100% !important;

      .durations {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: auto;

        .itm1 {
          grid-column: 1/3;
        }
      }

      .row {
        flex-direction: column;
        row-gap: 12px;
      }
    }

    &__comments {
      width: 100%;
    }
  }

  .form-line-item-50 {
    width: 100%;
  }
}
