<ng-container *ngIf="milesData.weekMiles || milesData.cumulativeMiles">
    <div class="mile-title">Week Miles</div>
    <div class="mile-value">{{milesData.weekMiles}}</div>

    <div class="mile-title">Cumulative Miles</div>
    <div class="mile-value">{{milesData.cumulativeMiles}}</div>
</ng-container>

<ng-container *ngIf="milesData.weekCharge || milesData.cumulativeCharge">
    <div class="mile-title">Week Charge</div>
    <div class="mile-value">{{milesData.weekCharge | currency}}</div>

    <div class="mile-title">Cumulative Charge</div>
    <div class="mile-value">{{milesData.weekCharge | currency}}</div>
</ng-container>
