<div class="associated-grid">
  <ejs-grid
    #grid
    [dataSource]="(associateListPage$ | async)?.items"
    [allowSorting]="true"
    [allowResizing]="true"
    [allowSelection]="false"
    [resizeSettings]="resizeSettings"
    [allowPaging]="allowPaging"
    [enableVirtualization]="false"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    (actionBegin)="actionBegin($event)"
    class="e-gridwithheader e-gridsubheader"
  >
    <e-columns>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button
                    cssClass="e-flat primary-icon-button"
                    (click)="onEdit(data); (false)"
                    [disabled]="!userPermission[userPermissions.CanViewFeeExceptions] && !userPermission[userPermissions.CanViewPartnershipSettings]">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button
                    cssClass="e-flat secondary-icon-button"
                    (click)="onRemove(data)"
                    [disabled]="!areAgencyActionsAllowed || data.agencyStatus === agencyStatus.Inactive || data.agencyStatus === agencyStatus.Terminated || !userPermission[userPermissions.CanEditAssociatedOrganizations]"
            >
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="businessUnitName" headerText="{{headerText}}" textAlign="Left"></e-column>
      <e-column field="baseFee" headerText="Base Fee %" width="130" textAlign="left">
        <ng-template #template let-data>
          {{ priceUtils.formatNumbers(data.baseFee) }}
        </ng-template>
      </e-column>
      <e-column field="tierName" headerText="Tier" width="150" textAlign="left"></e-column>
      <e-column field="exeptionFee" headerText="Exception Fee" width="150" textAlign="left"></e-column>
      <e-column headerText="Job Distribution" [columns]="jobDistributionColumns" textAlign="left"></e-column>
      <e-column field="partnershipStatus" headerText="Partnership Status" textAlign="left" [valueAccessor]="partnershipStatusValueAccess"></e-column>
    </e-columns>

    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                placeholder="Go to:"
                min="1"
                [max]="(associateListPage$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(associateListPage$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(associateListPage$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</div>

<app-invite-dialog [openEvent]="openAssociateOrgAgencyDialog"></app-invite-dialog>
<app-edit-associate-dialog [openEvent]="openEditDialog" (editEndEvent)="onEditEnd()"></app-edit-associate-dialog>
