<div
  class="associated-grid"
  [ngClass]="{'empty-grid': agencyData.items.length < 1}"
>
  <ejs-grid
    #grid
    [dataSource]="agencyData.items"
    [allowSorting]="true"
    [allowResizing]="true"
    [allowSelection]="false"
    [resizeSettings]="resizeSettings"
    [enableVirtualization]="false"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    (actionBegin)="actionBegin($event)"
    class="e-gridwithheader e-gridsubheader"
  >
    <e-columns>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button
                    appHideBeforeSyncfusionLoad
                    cssClass="e-flat primary-icon-button"
                    (click)="onEdit(data); (false)"
                    [disabled]="!userPermission[userPermissions.CanViewFeeExceptions] && !userPermission[userPermissions.CanViewPartnershipSettings]">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button
                    appHideBeforeSyncfusionLoad
                    cssClass="e-flat secondary-icon-button"
                    (click)="onRemove(data)"
                    [disabled]="!areAgencyActionsAllowed || data.agencyStatus === agencyStatus.Inactive || data.agencyStatus === agencyStatus.Terminated || !userPermission[userPermissions.CanEditAssociatedOrganizations]"
            >
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="businessUnitName" headerText="{{headerText}}" textAlign="Left"></e-column>
      <e-column field="baseFee" headerText="Base Fee %" width="130" textAlign="left">
        <ng-template #template let-data>
          {{ priceUtils.formatNumbers(data.baseFee) }}
        </ng-template>
      </e-column>
      <e-column field="tierName" headerText="Tier" width="150" textAlign="left"></e-column>
      <e-column field="exeptionFee" headerText="Exception Fee" width="150" textAlign="left"></e-column>
      <e-column headerText="Job Distribution" [columns]="jobDistributionColumns" textAlign="left"></e-column>
      <e-column field="partnershipStatus" headerText="Partnership Status" textAlign="left">
        <ng-template #template let-data>
          <div class="status-cell">
            <app-tooltip-container
            [message]="data.suspensionMessage"
            [showToolTip]="!!data.suspensionMessage && data.partnershipStatus === partnershipStatuses.Suspended"
            >
              <ejs-chiplist>
                <e-chips>
                  <e-chip [text]="partnershipStatuses[data.partnershipStatus]" [cssClass]="partnershipStatuses[data.partnershipStatus] | chipsCssClass"></e-chip>
                </e-chips>
              </ejs-chiplist>
            </app-tooltip-container>
            <app-tooltip-container
              class="tooltip"
              *ngIf="data.partnershipStatus === partnershipStatuses.Active && data.suspensionMessage"
              [message]="data.suspensionMessage"
              [showToolTip]="true">
              <div class="warning-icon-container">
                <i-feather class="icon" name="alert-circle"></i-feather>
              </div>
            </app-tooltip-container>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
  <app-grid-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecordsCount]="(associateListPage$ | async)?.totalCount ?? 0"
    (navigateToPageEmitter)="changeGridPage($event)"
    (pageSizeChangeEmitter)="changeGridSize($event)"
  ></app-grid-pagination>
</div>

<app-invite-dialog [openEvent]="openAssociateOrgAgencyDialog"></app-invite-dialog>
<app-edit-associate-dialog [openEvent]="openEditDialog" (editEndEvent)="onEditEnd()"></app-edit-associate-dialog>
