<div class="historical-events__wrapper">
  <ng-container *ngIf="events?.length; else noData">
    <ng-container *ngFor="let event of events">
      <p>
        <span class="historical-events__span">{{ event.localDateTime | localDateTime: 'MM/dd/yyyy, HH:mm:ss' }} </span>
        <span *ngIf="!event?.userId; else name">{{ event?.actionDescription }} by System</span>
        <ng-template #name>
          {{ event?.actionDescription }} by {{ businessUnitValues[event.userType] }} User
          <span class="hyperlink"> {{ event?.firstName }} {{ event?.lastName }}</span>
        </ng-template>
      </p>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <p>No data yet</p>
  </ng-template>
</div>
