<form [formGroup]="billRateForm">
  <div class="form-line">
    <!-- Bill Rate Title -->
    <div class="dropdown-container bootstrap">
      <label>Bill Rate Title<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          appValidateWithMessage
          formControlName="billRateConfigId"
          [allowFiltering]="true"
          [fields]="optionFields"
          [dataSource]="billRateOptions"
        ></ejs-dropdownlist>
      </div>
    </div>
  </div>

  <div class="form-line">
    <!-- Bill Rates Category -->
    <div class="input-container bootstrap form-line-item-20">
      <label>Bill Rates Category<span class="required">*</span></label>
      <div class="input-group">
        <input class="e-input" type="text" placeholder="Regular/Local" disabled [value]="categoryValue" />
      </div>
    </div>

    <!-- Bill Rates Type -->
    <div class="input-container bootstrap form-line-item-20">
      <label>Bill Rates Type<span class="required">*</span></label>
      <div class="input-group">
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            formControlName="billType"
            [fields]="billRateFields"
            [allowFiltering]="true"
            [dataSource]="billRateTypes"
          ></ejs-dropdownlist>
        </div>
      </div>
    </div>
  </div>

  <div class="form-line">
    <!-- Rates/Hours -->

    <!-- Effective Date -->
    <div class="datepicker-container bootstrap">
      <label>Effective Date<span class="required">*</span></label>
      <div class="input-group datepicker">
        <ejs-datepicker
          class="datepicker"
          format="MM/dd/yyyy"
          placeholder="MM/DD/YYYY"
          [enableMask]="true"
          [maskPlaceholder]="{  month: 'MM', day: 'DD', year: 'YYYY' }"
          appValidateWithMessage
          formControlName="effectiveDate"
        >
        </ejs-datepicker>
      </div>
    </div>

    <div class="input-container bootstrap" *ngIf="!hideFilds.has('rateHour')">
      <label *ngIf="selectedBillRateUnit === BillRateUnitList.Multiplier">Multiplier <span
        *ngIf="billRateForm.get('rateHour')?.enabled" class="required">*</span></label>
      <label *ngIf="selectedBillRateUnit === BillRateUnitList.Currency">Amount <span
        *ngIf="billRateForm.get('rateHour')?.enabled" class="required">*</span></label>
      <label *ngIf="selectedBillRateUnit === BillRateUnitList.Hours">Hours <span
        *ngIf="billRateForm.get('rateHour')?.enabled" class="required">*</span></label>
      <div class="input-group">
        <ejs-numerictextbox
          class="numeric-input"
          appValidateWithMessage
          min="0"
          maxlength="10"
          formControlName="rateHour"
          [validateDecimalOnType]="true"
          [showSpinButton]="false"
          [format]="format"
          [decimals]="decimals"
        >
        </ejs-numerictextbox>
      </div>
    </div>
  </div>

  <div *ngIf="isInternalsEnabled" class="form-line">
    <!-- Internal Min -->
    <div class="input-container bootstrap">
      <label>
        {{additionalLableForMinMax ?? 'Interval'}} Min
        <span *ngIf="isIntervalMinRequired" class="required">*</span>
      </label>
      <div class="input-group">
        <ejs-numerictextbox
          *ngIf="!isWeeklyOT; else intervalMinWithTooltip"
          id="intervalMin"
          class="e-input"
          appValidateWithMessage
          min="0"
          maxlength="10"
          [validateDecimalOnType]="true"
          [showSpinButton]="false"
          decimals='0'
          format="#"
          formControlName="intervalMin"
        ></ejs-numerictextbox>

        <ng-template #intervalMinWithTooltip>
          <ejs-tooltip target='.e-info'
            content="Weekly OT rate will be paid after total hours worked per week exceed the set number"
          >
            <ejs-numerictextbox
              id="intervalMin"
              class="e-input e-info"
              appValidateWithMessage
              min="0"
              maxlength="10"
              [validateDecimalOnType]="true"
              [showSpinButton]="false"
              decimals='0'
              format="#"
              formControlName="intervalMin"
            ></ejs-numerictextbox>
          </ejs-tooltip>
        </ng-template>
      </div>
    </div>

    <!-- Internal Max -->
    <div class="input-container bootstrap" *ngIf="!hideFilds.has('intervalMax')">
      <label>
        {{additionalLableForMinMax ?? 'Interval'}} Max
        <span *ngIf="isIntervalMaxRequired" class="required">*</span>
      </label>
      <div class="input-group">
        <ejs-numerictextbox
          id="intervalMax"
          class="e-input"
          appValidateWithMessage
          min="0"
          maxlength="10"
          [validateDecimalOnType]="true"
          [showSpinButton]="false"
          decimals='0'
          format="#"
          formControlName="intervalMax"
        ></ejs-numerictextbox>
      </div>
    </div>
  </div>

  <!-- OT flags -->
  <div *ngIf="billRateForm.get('billRateConfigId')?.value">
    <div *ngFor="let item of configOT; trackBy: trackByFn" class="ot-label">
      <ng-container *ngIf="!isOnCallSelected || item.formKey !=='holidayCalculationEnabled'">
        <h4 class="ot-label__title">{{ item.title }}</h4>
        <h4 class="ot-label__value">{{ !!billRateForm?.get(item.formKey)?.value }}</h4>
      </ng-container>
    </div>
  </div>
</form>
