@import 'colors';
@import 'adaptive-response';

form {
  margin-top: 20px;
}

.ot-label {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  &__title,
  &__value {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: $secondary-dark-blue-15;
  }

  &__value {
    margin-left: 10px;
    font-weight: 700;
  }
}

.form-line {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  .input-container,
  .dropdown-container,
  .datepicker-container {
    width: 100%;

    + .input-container,
    + .datepicker-container {
      margin-left: 10px;
    }
  }
}

label {
  display: inline-block;
  margin-bottom: 2px;
  line-height: 20px;
}

@media #{$max-mobile} {
  .form-line {
    flex-direction: column;
    row-gap: 12px;

    .input-container,
    .dropdown-container,
    .datepicker-container {
      margin-left: 0 !important;
    }
  }
}
