<section class="flex-column">
  <section class="toolbar">
    <section class="toolbar-header">
      <div class="toolbar-header-div">{{title }}
      </div>
    </section>
    <section class="toolbar-buttons">
      <button ejs-button
              id="filterButton"
              (click)="showFilters()"
              cssClass="e-outline button-filter">
        <div class="filter-button-content">
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
    </section>
  </section>
</section>
<section class="candidate-regular-section">
  <app-logi-report [paramsData]="paramsData" [reportName]="reportName" [catelogName]="catelogName" [reportType]="reportType"></app-logi-report>
  <router-outlet></router-outlet>
</section>
<app-filter-dialog [items]="filteredItems" (deleteFilter)="onFilterDelete($event)"
                   (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()">

  <form [formGroup]="candidateListForm" class="filter-form-dialog form-container bootstrap">
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Agency<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect mode="CheckBox" formControlName="agencyIds" placeholder="All" appValidateWithMessage
                             [allowFiltering]="true" [showDropDownIcon]="true" [dataSource]="this.filterColumns.agencyIds.dataSource"
                             [fields]="agencyFields" [selectAllText]='allOption' showSelectAll=true>
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>

    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Search By<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist appValidateWithMessage
                              formControlName="searchBy"
                              [fields]="searchByFields"
                              [dataSource]="filterColumns.searchBy.dataSource"
                              [allowFiltering]="true"
                              placeholder="">
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
    </div>

    <div class="form-elemet" *ngIf="candidateListForm.get('searchBy')?.value==2">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Skills</label>
          <div class="input-group dropdown">
            <ejs-multiselect mode="CheckBox" formControlName="skillIds" placeholder="All"
                             [allowFiltering]="true" [showDropDownIcon]="true" [dataSource]="filterColumns.skillIds.dataSource"
                             [fields]="commonFields" [selectAllText]='allOption' showSelectAll=true>
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>

    <div class="form-elemet" *ngIf="candidateListForm.get('searchBy')?.value==1">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Candidate Name</label>
          <div class="input-group dropdown">
            <ejs-autocomplete formControlName="candidateName" [dataSource]="filterColumns.candidateName.dataSource"
                              filterType='StartsWith' [fields]='candidateNameFields'
                              [autofill]='true' [placeholder]='remoteWaterMark' sortOrder='Ascending' (filtering)='onFiltering($event)'></ejs-autocomplete>
          </div>
        </div>
      </div>
    </div>

    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <ejs-checkbox label="Incomplete / Inactive" formControlName="inActiveInComplete"></ejs-checkbox>
        </div>
      </div>
    </div>

  </form>
</app-filter-dialog>
