@import "colors.scss";

.grid-container {
  height: inherit;
  display: flex;
  flex-direction: column;

  .grid-title {
    margin-bottom: 12px;
    color: $black;
    font-size: 14px;
    font-weight: 700;
  }
}
