@import "colors";
.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  h3 {
    color: $title-black;
    margin: 8px;
  }
}

.grid-component {
  margin-top: 18px;
  overflow-y: auto;
}

form {
  margin-top: 24px;

  .input-group {
    margin: 5px auto;
  }
}
