<section class="flex-column">
  <section class="toolbar">
    <section>
      <h3>Business Lines</h3>
    </section>
    <section>
      <button ejs-button [isPrimary]="true" appHideBeforeSyncfusionLoad (click)="addBusinessLine()">Add Business Line</button>
    </section>
  </section>

  <ejs-grid
    #businessLineGrid
    class="grid-component"
    [dataSource]="businessLines$ | async"
    [allowSorting]="false"
    [allowResizing]="true"
    [allowSelection]="false"
    [resizeSettings]="resizeSettings"
    [allowPaging]="allowPaging"
    [enableVirtualization]="true"
    [pageSettings]="pageSettings"
    [rowHeight]="rowHeight"
    [height]="fullScreenGridHeight"
  >
    <e-columns>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit(data, $event)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemove(data.id, $event)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="line" headerText="Business Line" textAlign="Left" width="100%"></e-column>
    </e-columns>

    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                placeholder="Go to:"
                min="1"
                [max]="totalCount$ | async"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{totalCount$ | async}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="totalCount$ | async"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-side-dialog
  (formCancelClicked)="onFormCancelClick()"
  (formSaveClicked)="onFormSaveClick()"
  [header]="dialogHeader + ' Business Line'"
  [width]="'436px'"
>
  <form class="form-container bootstrap" id="addEditRecordForm" [formGroup]="businessLineFormGroup">
    <div class="group">
      <div class="input-container">
        <label for="name">Business Line<span class="required">*</span></label>
        <div class="input-group">
          <input
            id="name"
            class="e-input"
            type="text"
            minlength="3"
            maxlength="100"
            appValidateWithMessage
            formControlName="line"
            [pattern]="onlyLetters"
          />
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>
