<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme">
    <ng-template #header>
        <div class="app-accumulation-chart__title">
            <h3 class="widget-header__title">Nursing Utilization</h3>
        </div>
    </ng-template>
    <ng-template #RNUtilizationChart>
        <p class="hours-rn">Monthly hours scheduled for Nursing : <strong>{{chartData?.targetPerdiemNursingHours}}</strong></p>
        <form [formGroup]="rnUtilizationform">
        <div class="input-sec">
            <span>
                <div class="input-container calendar">
                    <label>Date</label>
                    <div class="input-group datepicker">
                        <ejs-datepicker id="inactiveDate" class="datepicker" format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY" [enableMask]="true" formControlName="workDate"
                            [maskPlaceholder]="maskPlaceholder" (change)= "onDatechange($event)">
                        </ejs-datepicker>
                    </div>
                </div>
            </span>
            <span>
                <div class="dropdown-container">
                    <label>Work Commitment</label>
                    <div class="input-group dropdown">
                        <ejs-multiselect #workcommitmentControl id="workcommitmentIds" mode="CheckBox" formControlName="workcommitIds"
                        placeholder="All" [fields]="optionFields" [allowFiltering]="true" [showDropDownIcon]="true"
                        [dataSource]="commitmentsPage$ | async" [selectAllText]='allOption'
                         [showSelectAll]="true" tabindex="2" (select)="onWorkcommitmentSelect($event)" >
                      </ejs-multiselect>
                    </div>
                </div>
            </span>
        </div>

       </form>  
        
        <div class="widget">
            <span class="widget__type">
                <p class="orgname">Target Utilization for Nursing </p>
                <input class="e-input widgeticon" type="text" maxlength="100" id="targetutilizationId"
                 value="60" (input)="getNursingPercentage()" />
            </span>
            <span class="widget__type">
                <p class="orgname">No.of Per Diem Nursing <ejs-tooltip [content]="noofPerDiemOrders" position='TopCenter'>
                        <span class="mytooltip">
                            <i-feather name="info" id="info"
                                [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
                        </span>
                    </ejs-tooltip></p>
                <p class="orgcount">{{chartData?.noOfPerdiemNursing}}</p>
            </span>
            <span class="widget__type">
                <p class="orgname">Target Per Diem Nursing hours <ejs-tooltip [content]="targetPerDiemhrs"
                        position='TopCenter'>
                        <span class="mytooltip">
                            <i-feather name="info" id="info"
                                [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
                        </span>
                    </ejs-tooltip></p>
                <p class="orgcount">{{chartData?.targetPerdiemNursingHours}}</p>
            </span>
            <span class="widget__type">
                <p class="orgname">Actual Per Diem Nursing hours <ejs-tooltip [content]="actualPerDiemhrs"
                        position='TopCenter'>
                        <span class="mytooltip">
                            <i-feather name="info" id="info"
                                [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
                        </span>
                    </ejs-tooltip></p>
                <p class="orgcount">{{chartData?.perdayTotalHoursSchedule}}</p>
            </span>
        </div>
    </ng-template>
</app-widget-wrapper>