@import "colors";

.widget {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 100%;
  text-align: center;

  &__title {
    padding-bottom: 4%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;

    @media screen and (max-width: 600px) {
      padding-bottom: 3px;
    }
  }

  &__type {
    font-size: 14px;
    color: $secondary-dark-blue-20;
    margin-right: -12px;
    margin-right: 4px;
    cursor: default;

    @media screen and (max-width: 1550px) {
      font-size: 12px;
    }
  }
}

  .app-widget-wrapper {

    &__tooltip {
      text-align: right;
      float: right;
      width: 100%
    }
  }

.orgcount {
    text-align: right;
    width: -webkit-fill-available;
    width: -moz-available;
}
.orgname {
    text-align: left;
    white-space: nowrap;
    color: $primary-active-blue-10;
    cursor: pointer;
    font-size: 13px;
    width: max-content;
}
.widget__type {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.widget{
    padding: 10px 0px 0px 0px !important;
    width:100%;
    height: unset;
}
.widget__type p {
    margin: 5px 0px;
}
.app-widget-wrapper__header{
    padding-bottom: 5px;
}
.e-input-group {
    border: 1px solid $secondary-dark-blue-40 !important;
    border-radius: 8px;
}

form{
  width : 100%;
  flex: auto;
}
.widgeticon {
  text-align: right;
  font-weight: 500 !important;
  width: 16% !important;
  border-bottom: 1px solid gray !important;
}
.hours-rn{
  background: gainsboro;
  padding: 4px 2px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.targetcount {
  display: flex;
  justify-content: right;
}

[hidden] {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.float-right {
  float: right !important;
}

.w-100 {
  width: 100% !important;

}

.mt-0 {
  margin-top: 0 !important;
}

input.e-input.widgeticon {
  width: 3rem!important;
}
.title i-feather.icon{
  margin-right: 10px;
}