$primary-active-blue: #2368EE;
$primary-active-blue-10: #3E7FFF;
$primary-active-blue-15: #518CFF;
$primary-active-blue-70: #C5D9FF;
$primary-active-blue-80: #D8E5FF;
$primary-active-blue-90: #ECF2FF;

$sidebar-item-selected-hover-blue: rgba(62, 127, 255, 0.1);
$sidebar-background: #25263e;

$secondary-dark-blue-20: #677089;
$secondary-dark-blue-30: #9198AC;
$secondary-dark-blue-40: #D1D6E2;
$secondary-dark-blue-45: #EAECF2;
$secondary-dark-blue-50: #F7F8FC;

$dark-blue-20: #4C5673;

$supportive-green-10: #5AA658;
$supportive-green-40: #D1EACE;
$supportive-green-50: #F2FAF2;
$green: #EFF8F1;;

$supportive-red: #FF5858;
$error: #FFEDEE;

$supportive-orange: #F9B53E;
$orange: #FEF4E3;

$black: #060715;
$title-black: #333333;
$pure-black: #000000;
$white: #FFF;
