$primary-active-blue: #2368EE;
$primary-active-blue-10: #3E7FFF;
$primary-active-blue-15: #518CFF;

$sidebar-item-selected-hover-blue: rgba(62, 127, 255, 0.1);
$sidebar-background: #25263e;

$secondary-dark-blue-20: #677089;
$secondary-dark-blue-30: #9198AC;
$secondary-dark-blue-40: #D1D6E2;
$secondary-dark-blue-45: #EAECF2;
$dark-blue-20: #4C5673;

$supportive-green-10: #5AA658;
$supportive-green-40: #D1EACE;

$supportive-orange: #F9B53E;
$orange: #FEF4E3;

$black: #060715;
