$primary-active-blue: #2368ee;
$primary-active-blue-10: #3e7fff;
$primary-active-blue-15: #518cff;
$primary-active-blue-20: #6499ff;
$primary-active-blue-30: #78a6ff;
$primary-active-blue-40: #8bb2ff;
$primary-active-blue-50: #9ebfff;
$primary-active-blue-60: #b2ccff;
$primary-active-blue-70: #c5d9ff;
$primary-active-blue-80: #d8e5ff;
$primary-active-blue-90: #ecf2ff;

$sidebar-item-selected-hover-blue: rgba(62, 127, 255, 0.1);
$sidebar-background: #25263e;

$secondary-dark-blue-10: #0a163e;
$secondary-dark-blue-15: #4c5673;
$secondary-dark-blue-20: #677089;
$secondary-dark-blue-30: #9198ac;
$secondary-dark-blue-40: #d1d6e2;
$secondary-dark-blue-45: #eaecf2;
$secondary-dark-blue-50: #f7f8fc;

$supportive-green-10: #5aa658;
$supportive-green-40: #d1eace;
$supportive-green-50: #f2faf2;
$green: #eff8f1;

$supportive-red: #ff5858;
$supportive-red-00: #e24d4d;
$supportive-red-40: #ffbbbb;
$error: #ffedee;

$supportive-orange: #f9b53e;
$orange: #fef4e3;

$supportive-purple: #8f5fa8;

$background: #f6f6f6;
$grid-row-border: #e0e0e0;

$black: #060715;
$title-black: #333333;
$pure-black: #000000;
$white: #fff;
$grey: #ced4da;

$bill-rates-grid-hover-shadow: rgb(0 0 0 / 22%);

$primary-btn-hover: #558eff;

