@import "./colors.scss";

@mixin linkWithIcon {
  cursor: pointer;
  color: $primary-active-blue-10;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 10px;
  border-radius: 8px;

  &:hover,
  &:focus {
    background-color: $primary-active-blue-70;
    border-color: transparent;
  }

  .icon {
    margin-right: 5px;
  }
}
