@import "./colors.scss";

@mixin linkWithIcon {
  cursor: pointer;
  color: $primary-active-blue-10;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 590 !important;
  padding: 9px 10px;
  border-radius: 8px;

  &:hover,
  &:focus {
    background-color: $primary-active-blue-70;
    border-color: transparent;
  }

  .icon {
    margin-right: 5px;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin with-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin toggle {
  .e-switch-wrapper {
    height: 12px!important;
    width: 34px!important;

    .e-switch-inner {
      border: none!important;

      &.e-switch-active {
        background-color: transparent!important;
      }
    }

    .e-switch-handle {
      height: 18px!important;
      width: 18px!important;
      background-color: white!important;
      left: 0px!important;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%)!important;

      &.e-switch-active {
        left: 100%!important;
        border: none!important;
        background-color: $primary-active-blue-10 !important;
      }
    }
  }
}

@mixin link-button {
  border: none;
  background: none;
  padding: 0;
  color: $primary-active-blue-10;
  cursor: pointer;
}

@mixin close-red-btn {
  color: $supportive-red;
  cursor: pointer;
  margin-left: 26px;
  margin-right: 10px;
}

@mixin dialog-title {
  font-size: 24px;
  font-weight: 700;
  color: $black;
  margin: 0;
}

@mixin table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $secondary-dark-blue-45;
  border-radius: 12px 12px 0 0;
  padding: 15px;
}

@mixin input-form-container {
  width: 100%;

  &.long {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &.flexed {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 12px;
  }
}

@mixin table-container {
  height: auto;

  &::ng-deep {
    .empty-table {
      .ag-body-viewport {
        height: 100px;
        background: #eaecf2;
      }

      & .ag-overlay-wrapper.ag-overlay-no-rows-wrapper {
        font-size: 14px !important;
        color: #9198ac !important;
      }
    }
  }
}

@mixin action-buttons {
  button.e-control.e-btn {
    i-feather {
      margin: 0;
    }
  }

  .default-icon-button,
  .secondary-icon-button,
  .primary-icon-button {
    padding: 10px;
    border: none;
    &.e-ripple {
      overflow: initial;
      position: initial;
      transform: none;
    }
  }

  .secondary-icon-button {
    color: $supportive-red;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $supportive-red-00;
    }

    &:hover {
      color: $supportive-red;
      background-color: $supportive-red-40;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $supportive-red-40;

      app-custom-icon.icon.supportive-green-10 {
        color: $supportive-green-40;
      }
    }
  }

  .primary-icon-button {
    color: $primary-active-blue-10;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $primary-active-blue;
    }

    &:hover {
      color: $primary-active-blue-10;
      background-color: $primary-active-blue-70;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $primary-active-blue-50;
    }
  }
}
