@import "./colors.scss";

@mixin linkWithIcon {
  cursor: pointer;
  color: $primary-active-blue-10;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 590 !important;
  padding: 9px 10px;
  border-radius: 8px;

  &:hover,
  &:focus {
    background-color: $primary-active-blue-70;
    border-color: transparent;
  }

  .icon {
    margin-right: 5px;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin with-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin toggle {
  .e-switch-wrapper {
    height: 12px!important;
    width: 34px!important;

    .e-switch-inner {
      border: none!important;

      &.e-switch-active {
        background-color: transparent!important;
      }
    }

    .e-switch-handle {
      height: 18px!important;
      width: 18px!important;
      background-color: white!important;
      left: 0px!important;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%)!important;

      &.e-switch-active {
        left: 100%!important;
        border: none!important;
        background-color: $primary-active-blue-10 !important;
      }
    }
  }
}

@mixin link-button {
  border: none;
  background: none;
  padding: 0;
  color: $primary-active-blue-10;
  cursor: pointer;
}
