<section>
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Visibility Settings</h3>
    </div>
    <div class="actions">
      <span class="action-link" (click)="addNew()"><i-feather name="plus" class="icon"></i-feather> Add Visibility</span>
    </div>
  </div>
  <ejs-grid #grid class="e-gridwithheader" *ngIf="createdUser"
            [dataSource]="(userVisibilitySettingsPage$ | async)?.items"
            [allowSelection]="false"
            [allowPaging]="allowPaging"
            [pageSettings]="pageSettings"
            [height]="510"
            [enableVirtualization]="false"
            [rowHeight]="rowHeight"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            (dataBound)="dataBound()">
    <e-columns>
      <e-column textAlign="Right" minWidth="112" width="112">
        <ng-template #template let-data>
          <div class="e-grid-tool-buttons">
            <span class="edit-button" (click)="onEdit(data)"><i-feather name="edit" class="icon"></i-feather></span>
            <span class="remove-button" (click)="onRemove(data)"><i-feather name="trash-2" class="icon"></i-feather></span>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Organization" width=157>
        <ng-template #template let-data>
          <span>{{data.organizationId === null ? 'All' : data.organizationName}}</span>
        </ng-template>
      </e-column>
      <e-column headerText="Region" width=157>
        <ng-template #template let-data>
          <span>{{data.regionId === null ? 'All' : data.regionName}}</span>
        </ng-template>
      </e-column>
      <e-column headerText="Location" width=157>
        <ng-template #template let-data>
          <span>{{data.locationId === null ? 'All' : data.locationName}}</span>
        </ng-template>
      </e-column>
      <e-column headerText="Department" width=190>
        <ng-template #template let-data>
          <span>{{data.departmentId === null ? 'All' : data.departmentName}}</span>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist id="rowsPerPage"
                                class="dropdown-no-border"
                                [allowFiltering]="true"
                                [dataSource]="rowsPerPageDropDown"
                                [(value)]="activeRowsPerPageDropDown"
                                (change)="onRowsDropDownChanged()">
              </ejs-dropdownlist>
              <ejs-numerictextbox id="goToPage"
                                  class="numeric-input-no-border"
                                  format="#"
                                  placeholder="Go to:"
                                  min="1"
                                  [max]="(userVisibilitySettingsPage$ | async)?.totalPages"
                                  [showSpinButton]="false"
                                  (change)="onGoToClick($event)">
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(userVisibilitySettingsPage$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager id="gridPager"
                         #gridPager
                         [pageSize]="pageSize"
                         [totalRecordsCount]="(userVisibilitySettingsPage$ | async)?.totalCount"
                         [enablePagerMessage]="false"
                         [currentPage]="currentPage"
                         (click)="onGoToClick($event)">
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-add-edit-visibility [openEvent]="openAddEditDialog" [user]="createdUser"></app-add-edit-visibility>
