<section class="login-page">
    <div class="row">
      <div class="left-column">
        <div class="logo">
          <img src="./assets/logo-login.svg" alt="einstein" />
        </div>
        <div class="form-wrapper">
          <div class="text-box">
            <h2>WELCOME!</h2>
            <p>Log In with your email....</p>
          </div>
          <div id="api"></div>
        </div>
      </div>
      <div class="right-column"></div>
    </div>
  </section>
  
  <app-message-toast></app-message-toast>
  
  