@import "colors";
.app-active-positions-initial-extended {
    &__component {
      aspect-ratio: 2.2;
    }


    &__title {
      width: 95%;
    }

    &__tooltip {
      text-align: right;
      width: 5%;
    }

  }
  .color-box {
    width: 5px;
    height: 5px;
    display: inline-block;
    margin: 0px 5px;
  }
  .initial{
    background-color: $primary-active-blue-10;
  }
  .extended{
    background-color: $supportive-orange;
  }
  .header{
    padding: 2%;
    display: flex;
    justify-content: center;
    .labels{
      margin: 0px 5px;
    }
  }

  .widget-legend {
    &__item,
    &__item-content {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__score {
      font-size: 14px;
      line-height: 24px;
      width: 100%;
      text-align: center
    }
    &__head {
      font-weight: 700;
      width: 100%;
      text-align: center
    }

    &__row {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__row-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 5px;
      margin: 5px 0 5px 8px;

      &:hover {
        background-color: $primary-active-blue-70;
        border-radius: 4px;
      }
    }


    &__initialExtended-legend-text {
      font-size: 13px;
      font-weight: 800;
      width: 75%;
      text-align: center;
      height: 20px;
      text-transform: uppercase;
      border-color: transparent;
      color: $white;
      align-items: center;
      border: 0 solid;
      border-radius: 14px;
      box-shadow: none;
      box-sizing: border-box;
      line-height: 20px;
    }
  }

  .w-30{
    width: 30%;
  }
