@import 'colors';
@import 'mixins';
@import 'adaptive-response';

:host {
  height: calc(100% - 240px);

  @media #{$max-mobile} {
    height: calc(100% - 268px);
  }

  ::ng-deep {
    ejs-tab {
      .e-content.e-lib.e-touch {
        height: 100% !important;
      }
    }

    .controls-container {
      flex-direction: row;
      justify-content: space-between;

      .right-content {
        width: auto;
        justify-content: flex-end;
      }
    }
  }
}

.restriction-message {
  border-radius: 8px;
  background-color: $primary-active-blue-90;
  color: $primary-active-blue;
  font-size: 14px;
  line-height: 21px;
  padding: 8px;
  display: flex;
  margin: 0 20px;
  max-width: 65%;

  .tooltip-icon {
    padding: 4px 15px 0 5px;
  }
}

.candidate-left-container {
  display: flex;
}

.candidate-message {
  display: flex;
  align-items: center;

  &__itm {
    color: $title-black;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 17px;

    span {
      font-weight: 700;
    }
  }
}

.candidate-profile-container {
  display: flex;

  .e-card {
    padding: 0 12px;
  }

  .left {
    width: 70%;
    padding-right: 20px;
  }

  .right {
    width: 30%;
  }
}

.stepper-title {
  &>span {
    color: $supportive-red;
  }
}

.candidate-name-title {
  margin-left: 10px;
  font-weight: 700;
}

.back-button {
  margin-right: 28px;
}

.mobile-buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  position: fixed;
  bottom: 0;
  padding: 12px 24px;
  background-color: $white;
  margin-left: -15px;
  width: calc(100% - 50px);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);

  button,
  app-tooltip-container {
    width: 100%;

    ::ng-deep .tooltip-container {
      width: 100%;
    }
  }
}

@media #{$max-desktop-small} {
  .candidate-profile {
    display: flex;
    flex-direction: column;
  }

  .candidate-profile-container {
    flex-direction: column;

    .left,
    .right {
      width: 100%;
      padding-bottom: 24px;
      padding-right: 0px;
    }
  }
}

@media #{$max-tablet} {
  .restriction-message {
    margin: 21px 0 0 0;
    max-width: 100%;
  }
}

@media #{$max-mobile} {
  .candidate-profile-container {
    padding-bottom: 65px;
  }

  .candidate-left-container {
    padding-top: 18px;
  }

  :host {
    padding-right: 16px;
  }
}
