@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/mixins.scss";

:host {
  height: calc(100% - 240px);

  ::ng-deep {
    ejs-tab {
      .e-content.e-lib.e-touch {
        height: 100% !important;
      }
    }
  }
}

.candidate-message {
  display: flex;
  align-items: center;

  &__itm {
    color: $title-black;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 17px;

    span {
      font-weight: 700;
    }
  }
}

.candidate-profile-container {
  display: flex;

  .e-card {
    padding: 0 12px;
  }

  .left {
    width: 70%;
    padding-right: 20px;
  }

  .right {
    width: 30%;
  }
}
