<app-page-toolbar>
  <ng-container left>
    <button ejs-button cssClass="e-outline" (click)="navigateBack()">Back</button>
    <h3>{{title}} Candidate</h3>
    <div class="candidate-message" *ngIf="candidateMessage?.title">
      <div class="candidate-message__itm"><span>Job title:</span> {{candidateMessage?.title}}</div>
      <div class="candidate-message__itm"><span>Position ID:</span> {{candidateMessage?.position}}</div>
    </div>
  </ng-container>
  <ng-container right>
    <ng-container *ngIf="!readonlyMode && showSaveProfileButtons">
      <button ejs-button [disabled]="!candidateForm?.dirty" cssClass="e-outline"  (click)="clearForm()">Clear</button>
      <button ejs-button [isPrimary]="true" (click)="save()" [disabled]="!agencyActionsAllowed">Save</button>
    </ng-container>
  </ng-container>
</app-page-toolbar>
<!-- Candidate Profile step -->
<ejs-tab class="stepper" #stepper (created)="onStepperCreated()">
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerText>
        <div class="stepper-header required">
          <div class="stepper-title">Candidate Profile<span>*</span></div>
          <div class="stepper-sub-title">Overall Info</div>
        </div>
      </ng-template>
      <ng-template #content>
        <!-- Candidate Profile info step -->
        <section class="candidate-profile-container">
          <div class="left">
            <div class="e-card">
              <div class="e-card-content">
                <form [formGroup]="candidateForm" id="candidateProfile">
                  <app-candidate-general-info [formGroup]="$any(candidateForm.get('generalInfo'))" [isCandidateCreated]="!readonlyMode && (isCandidateCreated$ | async)" [selectedSkills]="fetchedCandidate?.candidateProfileSkills"></app-candidate-general-info>
                  <app-candidate-contact-details [formGroup]="$any(candidateForm.get('contactDetails'))"></app-candidate-contact-details>
                  <app-candidate-professional-summary [formGroup]="$any(candidateForm.get('profSummary'))"></app-candidate-professional-summary>
                </form>
              </div>
            </div>
          </div>
          <div class="right">
            <app-image-uploader (selectImage)="onImageSelect($event)"
                                uploaderTitle="Photo"
                                [disabled]="readonlyMode"
                                [logo]="photo">
            </app-image-uploader>
          </div>
        </section>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div class="stepper-header">
          <div class="stepper-title">Experience</div>
          <div class="stepper-sub-title">Additional info here</div>
        </div>
      </ng-template>
      <ng-template #content>
        <app-experience-grid [readonlyMode]="readonlyMode" [areAgencyActionsAllowed]="agencyActionsAllowed"></app-experience-grid>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div class="stepper-header">
          <div class="stepper-title">Education</div>
          <div class="stepper-sub-title">Additional info here</div>
        </div>
      </ng-template>
      <ng-template #content>
        <app-education-grid [readonlyMode]="readonlyMode" [areAgencyActionsAllowed]="agencyActionsAllowed"></app-education-grid>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div class="stepper-header">
          <div class="stepper-title">Credentials</div>
          <div class="stepper-sub-title">Additional info here</div>
        </div>
      </ng-template>
      <ng-template #content>
        <app-credentials-grid [isNavigatedFromOrganizationArea]="isNavigatedFromOrganizationArea" [orderId]="orderId" [areAgencyActionsAllowed]="agencyActionsAllowed"></app-credentials-grid>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
