<section class="flex-column">
  <section class="toolbar">
    <section>
      <h3>Skills</h3>
    </section>
    <section>
      <button (click)="showFilters()" ejs-button id="filterButton" cssClass="e-outline button-filter">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-circle">{{ filteredItems.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button ejs-button id="importButton" cssClass="e-outline button-import" (click)="onImportDataClick()">
        Import <i-feather name="upload" class="icon"></i-feather>
      </button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="importButton"
        cssClass="e-outline button-export">Export <i-feather name="download" class="icon"></i-feather></button>
      <button ejs-button id="addDepartmentButton" [isPrimary]="true" (click)='addSkill()'>Add Skill</button>
    </section>
  </section>
  <ejs-grid class="grid grid-component"
    #grid
    [dataSource]="(skills$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [enableVirtualization]="true"
    [resizeSettings]="resizeSettings"
    (actionBegin)="actionBegin($event)"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)"
    (dataBound)="gridDataBound(grid)"
    [selectionSettings]="selectionSettings"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="editSkill(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="deleteSkill(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="skillCategory.name" headerText="category" width=200></e-column>
      <e-column field="masterSkill.skillDescription" headerText="skill name" width=200></e-column>
      <e-column field="glNumber" headerText="gl number" width=200></e-column>
      <e-column field="allowOnboard" headerText="allow onboard" width=150>
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox [checked]="data.allowOnboard" (change)="allowOnBoardChange(data, $event)" label=""></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="inactiveDate" type="date" [format]="format" headerText="inactive date" width=140></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1" [max]="(skills$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(skills$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-filter-dialog [items]="filteredItems" [count]="(skills$ | async)?.totalCount" (deleteFilter)="onFilterDelete($event)" (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()" (closeDialogClicked)="onFilterClose()">
  <form class="bootstrap" [formGroup]="SkillFilterFormGroup">
    <div class="input-container">
      <label for="skillCategoryId">Skill Category</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          mode="CheckBox"
          [fields]="filterOptionFields"
          [dataSource]="filterColumns.skillCategories.dataSource"
          [showDropDownIcon]="true"
          formControlName="skillCategories"
          placeholder="All"></ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label for="skillAbbr">Skill ABBR</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          mode="CheckBox"
          [dataSource]="filterColumns.skillAbbrs.dataSource"
          [showDropDownIcon]="true"
          formControlName="skillAbbrs"
          placeholder="All"></ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label for="skillDescription">Skill Description</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          mode="CheckBox"
          [dataSource]="filterColumns.skillDescriptions.dataSource"
          [showDropDownIcon]="true"
          formControlName="skillDescriptions"
          placeholder="All"></ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label for="glNumber">GL Number</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          mode="CheckBox"
          [dataSource]="filterColumns.glNumbers.dataSource"
          [showDropDownIcon]="true"
          formControlName="glNumbers"
          placeholder="All"></ejs-multiselect>
      </div>
    </div>
    <div>
      <ejs-checkbox formControlName="allowOnboard" label="Allow Onboard"></ejs-checkbox>
    </div>
  </form>
</app-filter-dialog>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>

<app-side-dialog
  (formCancelClicked)="closeDialog()"
  (formSaveClicked)="saveSkill()"
  header="{{ title }} Skill"
  >
  <form class="skills-form-dialog form-container bootstrap"
        id="addEditSkillsForm"
        [formGroup]="SkillFormGroup">
    <div>
      <div class="input-container">
        <label for="skillCategoryId">Skill Category <span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist
            name="skillCategoryId"
            [fields]="optionFields"
            appValidateWithMessage
            formControlName="skillCategoryId"
            [dataSource]="(allSkillsCategories$ | async)?.items"
          ></ejs-dropdownlist>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="skillAbbr">Skill Abbr</label>
        <div class="input-group">
          <input class="e-input"
                 type="text"
                 maxlength="100"
                 appValidateWithMessage
                 name="skillAbbr"
                 formControlName="skillAbbr"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="skillDescription">Skill Description <span class="required">*</span></label>
        <div class="input-group">
          <input class="e-input"
                 type="text"
                 maxlength="100"
                 appValidateWithMessage
                 name="skillDescription"
                 formControlName="skillDescription"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="glNumber">GL Number</label>
        <div class="input-group">
          <input class="e-input"
                 type="text"
                 maxlength="100"
                 appValidateWithMessage
                 name="glNumber"
                 formControlName="glNumber"/>
        </div>
      </div>
    </div>

    <div class="inactive-date-container">
      <div class="input-container calendar">
        <label for="inactiveDate">Inactive Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="inactiveDate"
            class="datepicker"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            formControlName="inactiveDate"
            [strictMode]='true'
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
    <div>
      <ejs-checkbox formControlName="allowOnboard" label="Allow Onboard"></ejs-checkbox>
    </div>
  </form>
</app-side-dialog>

<app-file-upload-dialog></app-file-upload-dialog>
