@import '../../styles/variables/colors';

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    margin-left: 18px;
  }
}

.grid {
  margin-top: 20px;
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.skills-form-dialog {
  &.form-container {
    margin-top: 20px;
  }

  .inactive-date-container {
    width: 198px;
  }
}
