<section class="flex-column">
  <section class="toolbar" [class.hidden]="!isLoaded">
    <section>
      <h3 class="title-settings">Skills</h3>
    </section>
    <section>
      <button (click)="showFilters()" ejs-button id="filterButton" cssClass="e-outline button-filter">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill">{{ filteredItems.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="importButton"
        cssClass="e-outline button-export">
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
      <!-- TODO add right permission -->
      <app-tooltip-container
        [message]="toolTipMessage"
        [showToolTip]="!userPermission[userPermissions.ManageAssignSkills]">
        <button
          ejs-button
          [isPrimary]="true"
          (click)='assignSkill()'
          [disabled]="!userPermission[userPermissions.ManageAssignSkills]">Assign Skill</button>
      </app-tooltip-container>
    </section>
  </section>

  <ejs-grid class="grid grid-component"
    #grid
    [dataSource]="(skills$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [enableVirtualization]="false"
    [resizeSettings]="resizeSettings"
    (actionBegin)="actionBegin($event)"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)"
    (dataBound)="gridDataBound(grid)"
    [selectionSettings]="selectionSettings"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>

      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="editSkill(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="deleteSkill(data, $event)"
              [disabled]="!userPermission[userPermissions.CanEditAssignedSkills]">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="skillCategory.name" headerText="category" width=200></e-column>
      <e-column field="masterSkill.skillDescription" headerText="skill name" width=200></e-column>
      <e-column field="system" headerText="System Config" width=200>
        <ng-template #template let-data>
          <span>{{ data.system }}</span>
        </ng-template>
      </e-column>
      <e-column field="skillCode" headerText="Skill Code" width=200></e-column>
      <e-column field="glNumber" headerText="gl number" width=200></e-column>
      <e-column field="allowOnboard" headerText="allow onboard" width=150>
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox
              [checked]="data.allowOnboard"
              (change)="allowOnBoardChange(data, $event)"
              label=""
              [disabled]="!userPermission[userPermissions.CanEditAssignedSkills]"></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="inactiveDate"
        type="date"
        [format]="inactivateColformat"
        headerText="inactive date" width=140></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="changeRowsPerPage()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1" [max]="(skills$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="changePage($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(skills$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(skills$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="changePage($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-side-dialog
  [disableSaveButton]="!userPermission[userPermissions.CanEditAssignedSkills]"
  (formCancelClicked)="closeAsignDialog()"
  (formSaveClicked)="saveSkill()"
  header="Edit Skill"
  >
  <form
    class="skills-form-dialog form-container bootstrap"
    id="addEditSkillsForm"
    [formGroup]="skillForm">
    <ng-container *ngFor="let control of skillDialogConfig; trackBy: trackByField">
      <ng-container [ngSwitch]="control.fieldType">

        <ng-template [ngSwitchCase]="fieldTypes.Dropdown">
          <div class="input-container form-dropdown">
            <label [for]="control.field">
              {{control.title}}
              <span class="required" *ngIf="control.required">*</span>
            </label>
            <div class="input-group dropdown" *ngIf="control.sourceKey">
              <ejs-dropdownlist
                appValidateWithMessage
                [dataSource]="formSourcesMap[control.sourceKey]"
                [fields]="dropDownfields"
                [allowFiltering]="true"
                [formControlName]="control.field">
              </ejs-dropdownlist>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="fieldTypes.Input">
          <div class="input-container">
            <label [for]="control.field">{{control.title}}
              <span class="required" *ngIf="control.required">*</span>
            </label>
            <div class="input-group">
              <input
                class="e-input"
                type="text"
                [attr.maxlength]="control.maxLen || null"
                appValidateWithMessage
                [name]="control.field"
                [formControlName]="control.field"/>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="fieldTypes.Date">
          <div class="inactive-date-container">
            <div class="input-container calendar">
              <label [for]="control.field">{{control.title}}
                <span class="required" *ngIf="control.required">*</span>
              </label>
              <div class="input-group datepicker">
                <ejs-datepicker
                  class="datepicker"
                  format="MM/dd/yyyy"
                  placeholder="MM/DD/YYYY"
                  [formControlName]="control.field"
                  [strictMode]='true'
                >
                </ejs-datepicker>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="fieldTypes.CheckBoxGroup">
          <div class="input-container">
            <span class="controls-group-title">{{control.title}}</span>
            <span class="required" *ngIf="control.required"> *</span>

              <div class="input-group checkboxes">
                <div class="control-block" *ngFor="let checkbox of control.checkBoxes; trackBy: trackByField">
                  <ejs-tooltip content="At least one system should be selected">
                    <ejs-checkbox [formControlName]="checkbox.field" [label]="checkbox.title"></ejs-checkbox>
                  </ejs-tooltip>
                </div>
              </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="fieldTypes.CheckBox">
          <div>
            <ejs-checkbox [formControlName]="control.field" [label]="control.title"></ejs-checkbox>
          </div>
        </ng-template>

      </ng-container>
    </ng-container>

  </form>
</app-side-dialog>

<app-filter-dialog [items]="filteredItems" [count]="(skills$ | async)?.totalCount"
  (deleteFilter)="deleteFilter($event)"
  (clearAllFiltersClicked)="filterClearAll()"
  (applyFilterClicked)="applyFilter()"
  (closeDialogClicked)="closeFilter()">
  <form class="bootstrap" [formGroup]="skillFilterForm">
    <div class="input-container" *ngIf="orgModuleSettings.isIrpDisplayed && orgModuleSettings.isFeatureIrpEnabled">
      <span class="controls-group-title">System Configuration</span>
        <div class="input-group checkboxes">
          <div class="control-block">
            <ejs-checkbox formControlName="includeInIRP" label="IRP"></ejs-checkbox>
          </div>
          <div class="control-block">
            <ejs-checkbox formControlName="includeInVMS" label="VMS"></ejs-checkbox>
          </div>
        </div>
    </div>

    <div class="input-container">
      <label for="skillCategoryId">Skill Category</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          mode="CheckBox"
          [allowFiltering]="true"
          [fields]="filterOptionFields"
          [dataSource]="filterColumns.skillCategories.dataSource"
          [showDropDownIcon]="true"
          formControlName="skillCategories"
          placeholder="All"></ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label for="skillAbbr">Skill Code</label>
      <div class="input-group dropdown">
        <input
        class="e-input"
        type="text"
        maxlength="200"
        appValidateWithMessage
        name="skillCode"
        formControlName="skillCode"/>
      </div>
    </div>
    <div class="input-container">
      <label for="skillDescription">Skill Description</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          mode="CheckBox"
          [allowFiltering]="true"
          [dataSource]="filterColumns.skillDescriptions.dataSource"
          [showDropDownIcon]="true"
          formControlName="skillDescriptions"
          placeholder="All"></ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label for="glNumber">GL Number</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          mode="CheckBox"
          [allowFiltering]="true"
          [dataSource]="filterColumns.glNumbers.dataSource"
          [showDropDownIcon]="true"
          formControlName="glNumbers"
          placeholder="All"></ejs-multiselect>
      </div>
    </div>
    <div>
      <ejs-checkbox formControlName="allowOnboard" label="Allow Onboard"></ejs-checkbox>
    </div>

  </form>
</app-filter-dialog>

<app-export-dialog
  [columns]="columnsToExport"
  [fileName]="fileName"
  (cancel)="closeExport()"
  (export)="export($event)">
</app-export-dialog>

<app-assign-skill [openSidebar]="openAssignSidebarSubject"></app-assign-skill>

<app-file-upload-dialog></app-file-upload-dialog>
