<div class="table-container">
  <ejs-grid #grid
  [dataSource]="(candidates$ | async)?.items"
  [allowSelection]="true"
  [allowPaging]="false"
  [pageSettings]="pageSettings"
  [height]="fullScreenGridHeight"
  [rowHeight]="rowHeight"
  [enableVirtualization]="false"
  [resizeSettings]="resizeSettings"
  [allowSorting]="allowSorting"
  [allowResizing]="allowResizing"
  [selectionSettings]="selectionOptions"
  [enablePersistence]="true"
  (dataBound)="dataBound()"
  (rowSelected)="rowSelected($event, grid)"
  (rowDeselected)="rowDeselected($event, grid)">
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="80" *ngIf="isAgency">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button noResponsive" (click)="onEdit(data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button
              [disabled]="!agencyActionsAllowed || data.candidateStatus === candidateStatus.Onboard || !userPermission[userPermissions.CanEditCandidateProfile]"
              cssClass="e-flat secondary-icon-button enabled-button" (click)="onRemove(data.candidateProfileId)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="" field="actions" textAlign="Left" width="150" [visible]="false">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button noResponsive" (click)="onEdit(data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button enabled-button"
              [disabled]="!userPermission[userPermissions.ManageIrpCandidateProfile]" (click)="onRemove(data.id)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
            <ng-container *ngIf="data.hasRedFlag">
              <ejs-tooltip *ngIf="data.redFlagDescription; else redFlag" [content]="data.redFlagDescription" position="TopCenter">
                <ng-container *ngTemplateOutlet="redFlag"></ng-container>
              </ejs-tooltip>
              <ng-template #redFlag>
                <button ejs-button cssClass="e-flat secondary-icon-button enabled-button">
                  <span><i-feather name="flag" class="icon"></i-feather></span>
                </button>
              </ng-template>
            </ng-container>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Emp ID" field="employeeId" [visible]="false" width="100"></e-column>
      <e-column field="lastName" [headerText]="!isIRP ? 'Name' : 'Emp Name'" width="200">
        <ng-template #template let-data>
          <div class="name-wrapper">
            <ng-container *ngIf="false">
              <!--TODO: user icon-->
              <div class="user-photo">
                <ng-container *ngIf="data.photo; else defaultPhoto">

                </ng-container>
                <ng-template #defaultPhoto>
                  <i-feather name="user" class="user-icon"></i-feather>
                </ng-template>
              </div>
            </ng-container>
            {{data.lastName}}, {{data.firstName}} {{data.middleName}}
          </div>
        </ng-template>
      </e-column>
      <e-column field="profileStatus" headerText="Profile Status" width=200>
        <ng-template #template let-data>
          <div>
            <ejs-chiplist class="events-off">
              <e-chips>
                <e-chip [text]="statusEnum[data.profileStatus] || employeeStatusEnum[data.employeeStatusId]"
                  [cssClass]="getChipCssClass(statusEnum[data.profileStatus] || data.employeeStatus)">
                </e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Primary Skill" field="primarySkillName" [visible]="false" width=200></e-column>
      <e-column [headerText]="!isIRP ? 'Skill' : 'Secondary Skill'" field="candidateProfileSkills" width=200 *ngIf="isIRP">
        <ng-template #template let-data>
          <!-- <div  *ngFor="let skill of (data.candidateProfileSkills || data.employeeSkills)">{{skill.skillDescription || skill}}</div>  -->
          <ng-container *ngIf="data.employeeSkills?.length === 2 || data.employeeSkills?.length === 1">
            <span *ngFor="let skill of data.employeeSkills; let i = index" class="skill-name">
              {{skill }}
              <span class="skill-name" *ngIf="i !== data.employeeSkills.length - 1">, </span>
            </span>
          </ng-container>
          <ng-container *ngIf="data.employeeSkills?.length >= 2">
            <ejs-tooltip content="{{ data.employeeSkills.join(', ') }}" target="#skillName">
              <span id="skillName" class="skill-name">Multiple Skills</span>
            </ejs-tooltip>
          </ng-container>
        </ng-template>
      </e-column>
      <e-column [headerText]="!isIRP ? 'Skill' : 'Secondary Skill'" field="candidateProfileSkills" width=200 *ngIf="!isIRP">
        <ng-template #template let-data>
          <ng-container *ngIf="data.candidateProfileSkills?.length === 2 || data.candidateProfileSkills?.length === 1">
            <span *ngFor="let skill of data.candidateProfileSkills; let i = index" class="skill-name">
              {{skill }}
              <span class="skill-name" *ngIf="i !== data.candidateProfileSkills.length - 1">, </span>
            </span>
          </ng-container>
          <ng-container *ngIf="data.candidateProfileSkills?.length >= 2">
            <ejs-tooltip content="{{ data.candidateProfileSkills.join(', ') }}" target="#skillName">
              <span id="skillName" class="skill-name">Multiple Skills</span>
            </ejs-tooltip>
          </ng-container>
        </ng-template>
      </e-column>
      <e-column headerText="Location" field="locationName" [visible]="false" width=200></e-column>
      <e-column headerText="DEpartment" field="departmentName" [visible]="false" width=200></e-column>
      <e-column headerText="Work Commitment" field="employeeWorkCommitments" width=200 *ngIf="isIRP">
        <ng-template #template let-data>
          <ng-container *ngIf="data.employeeWorkCommitments">
            {{data.employeeWorkCommitments}}
          </ng-container>
          <ng-container *ngIf="!data.employeeWorkCommitments">
            No Work Commitment
          </ng-container>
        </ng-template>
      </e-column>
      <e-column headerText="Hire Date" field="hireDate" textAlign="Left" [visible]="false" width=200>
        <ng-template #template let-data>
          {{data.hireDate | date: 'MM/dd/yyy': 'UTC'}}
        </ng-template>
      </e-column>
      <!-- <e-column headerText="Org. Orientation" field="orgOrientation" textAlign="Left"  [visible]="false" width=200>
        <ng-template #template let-data>
          {{data.orgOrientation | date: 'MM/dd/yyy': 'UTC'}}
        </ng-template>
      </e-column> -->
      <e-column textAlign="Left" field="lastAssignmentEndDate" headerText="Current Assignment End Date">
        <ng-template #template let-data>
          {{data.lastAssignmentEndDate | date: 'MM/dd/yyy': 'UTC'}}
        </ng-template>
      </e-column>
      <e-column field="candidateStatus" headerText="Candidate status" textAlign="Left" width="150">
        <ng-template #template let-data>
          <div class="status-cell" *ngIf="showCandidateStatus(data.candidateStatus)">
            <ejs-chiplist>
              <e-chips>
                <e-chip [text]="data.candidateStatus | candidateStatusName"
                  [cssClass]="data.candidateStatus | candidateStatusName | chipsCssClass"></e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Region" field="candidateProfileRegions">
        <ng-template #template let-data>
          <div *ngFor="let region of data.candidateProfileRegions; trackBy: regionTrackBy">{{ region.regionDescription ||
            region }}</div>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
    </ng-template>
  </ejs-grid>
  <app-grid-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecordsCount]="(candidates$ | async)?.totalCount ?? 0"
    (navigateToPageEmitter)="changePageNumber($event)"
    (pageSizeChangeEmitter)="changePageSize($event)"
  ></app-grid-pagination>
</div>

<app-filter-dialog
  [targetElement]="targetElement$ | async"
  [items]="filteredItems"
  [count]="(candidates$ | async)?.totalCount"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
  (closeDialogClicked)="onFilterClose()"
>
  <form [formGroup]="CandidateFilterFormGroup">
    <ng-container *ngIf="!isIRP && CandidateFilterFormGroup">
      <div class="bootstrap">
        <div class="input-container">
          <label *ngIf="isIRP">Employee Name</label>
          <label *ngIf="!isIRP">Candidate Name</label>
          <div class="input-group">
            <input class="e-input" type="text" maxlength="50" formControlName="candidateName" />
          </div>
        </div>
      </div>
      <div class="bootstrap">
        <div class="input-container">
          <label>Region</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              #regionMultiselect
              mode="CheckBox"
              formControlName="regionsNames"
              placeholder="All"
              [fields]="regionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.regionsNames?.dataSource"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
      <div class="bootstrap">
        <div class="input-container">
          <label>Skill</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="skillsIds"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.skillsIds?.dataSource"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
      <div class="bootstrap">
        <div class="input-container">
          <label>Profile Status</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="profileStatuses"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.profileStatuses?.dataSource"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isIRP && CandidateFilterFormGroup">
      <div class="bootstrap row">
        <div class="input-container candidate-id">
          <label>Employee ID</label>
          <div class="input-group">
            <input class="e-input" type="text" maxlength="10" formControlName="candidateId" />
          </div>
        </div>
        <div class="input-container candidate-name">
          <label>Employee Name</label>
          <div class="input-group">
            <input class="e-input" type="text" maxlength="50" formControlName="candidateName" />
          </div>
        </div>
      </div>
      <div class="bootstrap">
        <div class="input-container">
          <label>Profile Status</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="profileStatuses"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.profileStatuses?.dataSource"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container">
          <label>Location</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="locationIds"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.locationIds?.dataSource"
              [filterType]="filterType"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container">
          <label>Department</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="departmentIds"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.departmentIds?.dataSource"
              [filterType]="filterType"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container">
          <label>Primary Skill</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="primarySkillIds"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.primarySkillIds?.dataSource"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container">
          <label>Secondary Skill</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="secondarySkillIds"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.secondarySkillIds?.dataSource"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Hire Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker class="datepicker" format="MM/dd/yyyy" placeholder="MM/DD/YYYY" [enableMask]="true"
              [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }" formControlName="hireDate">
            </ejs-datepicker>
          </div>
        </div>
        <div class="input-container">
          <label>Credential Type</label>
          <div class="input-group multiselect">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="credType"
              placeholder="All"
              [fields]="optionFields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.credType?.dataSource"
              [changeOnBlur]="!isMobileScreen"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Credential Start Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              [enableMask]="true"
              [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
              formControlName="startDate">
            </ejs-datepicker>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Credential End Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              [enableMask]="true"
              [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
              formControlName="endDate">
            </ejs-datepicker>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</app-filter-dialog>

<app-export-dialog [columns]="isIRP ? columnsToExportIrp : columnsToExport" [fileName]="fileName" (cancel)="closeExport()"
  (export)="export($event)"></app-export-dialog>
