@import "colors";
@import "adaptive-response";

.user-photo {
  background-color: $secondary-dark-blue-40;
  width: 30px;
  height: 30px;
  margin-right: 24px;
  border-radius: 13%;
  padding: 4px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .user-icon {
    color: $secondary-dark-blue-20;
  }

}

.name-wrapper {
  display: flex;
  align-items: center;
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;

  &.candidate-id {
    width: 30%;
    margin-right: 12px;
  }

  &.candidate-name {
    width: 70%;
  }
}

.row {
  display: flex;
}

ejs-checkbox.e-checkbox-wrapper.e-wrapper {
  padding: 0px 70px 0px 0px;
}

.skill-name {
  font-size: 14px;
  line-height: 20px;
}

@media #{$max-mobile} {
  .input-container {
    &.candidate-id,
    &.candidate-name {
      width: 100%;
    }
  }

  .row {
    flex-direction: column;
  }
}