<app-grid
  gridTitle="General Notes"
  [rowData]="generalNotes$ | async"
  [columnDefinitions]="columnDef"
  [rowSelection]="rowSelection"
  [totalRecordsCount]="(generalNotes$ | async)?.length!"
>
  <button
    action-button
    cssClass="e-action-button"
    ejs-button
    [disabled]="!(userPermissions$ | async)?.[userPermissions.ManageIrpCandidateProfile]"
    (click)="addNote()"
  >
    <i-feather name="plus" class="icon"></i-feather>
    Add Note
  </button>
</app-grid>

<app-side-dialog
  *ngIf="(selectedTab$ | async) === candidateTabsEnum.CandidateProfile"
  [header]="sideDialogTitle$ | async"
  (formCancelClicked)="onCancel()"
  (formSaveClicked)="onSave()"
>
  <app-add-edit-note #addEditNoteComponent></app-add-edit-note>
</app-side-dialog>
