@import 'adaptive-response';

:host {
  display: flex;
  height: calc(100% - 56px);
}

@media #{$max-mobile} {
  #addNoteButton,
  #exportButton {
    border: none;

    .icon {
      margin-left: 0;
    }
  }

  .btn-label {
    display: none;
  }
}
