<div class="row-tool-buttons action-renderer ag-grid-cell-renderer">
  <button
    ejs-button
    appHideBeforeSyncfusionLoad
    cssClass="e-flat primary-icon-button edit-button"
    (click)="editCommitment()"
    [disabled]="!userPermission[userPermissions.CanManageWorkCommitmentData]"
  >
    <span><i-feather name="edit" class="icon"></i-feather></span>
  </button>
  <button
    ejs-button
    appHideBeforeSyncfusionLoad
    cssClass="e-flat secondary-icon-button"
    [disabled]="!userPermission[userPermissions.CanManageWorkCommitmentData]"
    class="remove-button"
    (click)="deleteCommitment()"
  >
    <span><i-feather name="trash-2" class="icon"></i-feather></span>
  </button>
</div>
