<ejs-grid
  #grid
  [dataSource]="associateOrganizations$ | async"
  [allowSorting]="true"
  [allowResizing]="true"
  [allowSelection]="true"
  [resizeSettings]="resizeSettings"
  [allowPaging]="allowPaging"
  [pageSettings]="pageSettings"
  [height]="gridHeight"
  (dataBound)="dataBound()"
  class="e-gridwithtoolbar"
>
  <ng-template #toolbarTemplate let-data>
    <div class="e-gridheader e-gridtoolbar">
      <div class="title">
        <h3>Associated Organizations</h3>
      </div>
      <div class="actions">
        <span class="action-link" (click)="onFilter()"><i-feather name="sliders" class="icon"></i-feather> Filters</span>
        <span class="action-link" (click)="addNew()"><i-feather name="plus" class="icon"></i-feather> Add Organization</span>
      </div>
    </div>
  </ng-template>
  <e-columns>
    <e-column field="organizationName" headerText="Organization" textAlign="Left"></e-column>
    <e-column field="baseFee" headerText="Base Fee %" textAlign="left"></e-column>
    <e-column field="exeptionFee" headerText="Exeption Fee" textAlign="left"></e-column>
    <e-column field="region" headerText="Region" textAlign="left"></e-column>
    <e-column field="classification" headerText="Classification" textAlign="left"></e-column>
    <e-column field="orderType" headerText="Order Type" textAlign="left"></e-column>
    <e-column field="skillCategory" headerText="Skill Category" textAlign="left"></e-column>
    <e-column textAlign="Right" width="120">
      <ng-template #template let-data>
        <div class="row-tool-buttons">
          <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit(data)">
            <span><i-feather name="edit" class="icon"></i-feather></span>
          </button>
          <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemove(data)">
            <span><i-feather name="trash-2" class="icon"></i-feather></span>
          </button>
        </div>
      </ng-template>
    </e-column>
  </e-columns>

  <ng-template #pagerTemplate let-data>
    <div class="e-pagertemplate">
      <div class="control-section">
        <div class="content-wrapper">
          <section class="left-side-pager-controls">
            <ejs-dropdownlist
              id="rowsPerPage"
              class="dropdown-no-border"
              [dataSource]="rowsPerPageDropDown"
              [(value)]="activeRowsPerPageDropDown"
              (change)="onRowsDropDownChanged()"
            >
            </ejs-dropdownlist>
            <ejs-numerictextbox
              id="goToPage"
              class="numeric-input-no-border"
              format="#"
              placeholder="Go to:"
              min="1"
              [max]="(associateOrganizationsPages$ | async)?.totalCount"
              [showSpinButton]="false"
              (change)="onGoToClick($event)"
            >
            </ejs-numerictextbox>
          </section>
          <section class="right-side-pager-controls">
            <ejs-pager
              id="gridPager"
              #gridPager
              [pageSize]="pageSize"
              [totalRecordsCount]="(associateOrganizationsPages$ | async)?.totalPages"
              [enablePagerMessage]="false"
              [currentPage]="currentPage"
              (click)="onGoToClick($event)"
            >
            </ejs-pager>
          </section>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-grid>

<app-invite-dialog [openEvent]="openAssosiateOrgDialog"></app-invite-dialog>
<app-edit-associated-dialog [openEvent]="openEditDialog" (editEndEvent)="onEditEnd()"></app-edit-associated-dialog>
