@import "../../../styles/variables/colors.scss";

.page-title {
  display: flex;
  align-items: center;
}

.org-controls-container {

  &>div {
    display: flex;
    flex-direction: row-reverse;

    button {
      margin-left: 10px;
    }
  }
}

.controls-header {
  .icon {
    margin-left: 10px;
    cursor: pointer;
    color: $secondary-dark-blue-20;
  }
}

.grid-component {
  height: 100%;
  margin-bottom: 25px;
  overflow-y: auto;
}
