<section class="controls-container">
  <div>
    <button ejs-button [isPrimary]="true" (click)="navigateToOrganizationForm()">Add Organization</button>
    <button ejs-button cssClass="e-outline">Filters <i-feather name="sliders" class="icon"></i-feather></button>
  </div>
</section>
<section>
  <ejs-grid #grid 
    [dataSource]="(organizations$ | async)?.items" 
    [allowSorting]="true" 
    [allowResizing]="true" 
    [resizeSettings]="resizeSettings" 
    [sortSettings]="initialSort"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="gridHeight">
    <e-columns>
      <e-column field="createUnder.name" headerText="Organization Name" textAlign="Left" width="120"></e-column>
      <e-column field="generalInformation.status" headerText="Organization Status" textAlign="Left" width="120">
        <ng-template #template let-data>
          <div class="status-cell">
            <ejs-chiplist>
              <e-chips>
                <e-chip [text]="statusEnum[data.generalInformation.status]" [cssClass]="getChipCssClass(statusEnum[data.generalInformation.status])" leadingIconCss="dot"></e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="generalInformation.city" headerText="City" textAlign="Left" width="90"></e-column>
      <e-column field="contactDetails.0.contactPerson" headerText="Contract Person" textAlign="Left" width="120"></e-column>
      <e-column field="contactDetails.0.phoneNumberExt" headerText="Phone" textAlign="Left" width="90"></e-column>
      <e-column field="" headerText="" textAlign="Right" width="90">
        <ng-template #headerTemplate let-data>
          <div class="controls-header"></div>
        </ng-template>
        <ng-template #template let-data>
          <div class="controls-cell">
            <i-feather name="file-text" class="icon"></i-feather>
            <i-feather name="map-pin" class="icon"></i-feather>
            <i-feather (click)="editOrganization(data)" name="edit" class="icon"></i-feather>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <!--TODO: move to shared component-->
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                placeholder="Go to:"
                min="1"
                [max]="(organizations$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(organizations$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>
