@import 'colors';
@import 'adaptive-response';

.flex-column {
  row-gap: 8px;

  ::ng-deep {
    .controls-container {
      flex-direction: row;

      .right-content {
        justify-content: flex-end;
        width: auto;
      }
    }
  }
}

.page-title {
  display: flex;
  align-items: center;
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.org-controls-container {
  .button-group {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
  }
}

.controls-header {
  .icon {
    margin-left: 10px;
    cursor: pointer;
    color: $secondary-dark-blue-20;
  }
}

.grid-component {
  height: calc(100% - 155px);
}

@media (max-width: 850px) {
  .flex-column {
    ::ng-deep {
      .controls-container {
        flex-direction: column;
        row-gap: 10px;
  
        .right-content {
          justify-content: flex-start;
        }
      }
    }

    .grid-component {
      height: calc(100% - 200px);
    }
  }
}

@media #{$max-mobile} {
  .flex-column {
    height: auto;
    padding-bottom: 24px;

    .grid-component {
      height: auto;

      &:has(.e-emptyrow) {
        height: 140px;
      }
    }
  }
}
