<section class="flex-column">
  <app-page-toolbar>
    <ng-container left>
      <section class="page-title">
        <h3>Organization List</h3>
      </section>
    </ng-container>
    <ng-container right>
      <section class="org-controls-container">
        <div>
          <app-tooltip-container
            [message]="toolTipMessage"
            [showToolTip]="!userPermission[userPermissions.CanCreateDeleteOrganization]">
           <button class="noResponsive"
              ejs-button
              appHideBeforeSyncfusionLoad
              [isPrimary]="true"
              *ngIf="userPermission[userPermissions.CanCreateDeleteOrganization]"
              (click)="navigateToOrganizationForm()"
            >
              Add Organization
            </button>
          </app-tooltip-container>
          <button
            ejs-dropdownbutton
            appHideBeforeSyncfusionLoad
            [items]="exportOptions"
            (select)="exportSelected($event)"
            id="importButton"
            cssClass="e-outline button-export"
          >
            <div class="button-export-container">
              Export <i-feather name="upload" class="icon"></i-feather>
            </div>
          </button>
          <button ejs-button appHideBeforeSyncfusionLoad id="filterButton" cssClass="e-outline button-filter" (click)="showFilters()">
            <div class="filter-button-content">
              <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill">{{
                filteredItems.length
              }}</span>
              Filters <i-feather name="sliders" class="icon"></i-feather>
            </div>
          </button>
        </div>
      </section>
    </ng-container>
  </app-page-toolbar>

  <section class="grid-component">
    <ejs-grid
      #grid
      [dataSource]="(organizations$ | async)?.items"
      [allowSorting]="true"
      [allowResizing]="true"
      [resizeSettings]="resizeSettings"
      [allowPaging]="allowPaging"
      [pageSettings]="pageSettings"
      [enableVirtualization]="false"
      [height]="fullScreenGridHeight"
      (rowSelected)="rowSelected($event, grid)"
      (rowDeselected)="rowDeselected($event, grid)"
      (dataBound)="gridDataBound(grid)"
      [selectionSettings]="selectionSettings"
      (actionBegin)="actionBegin($event)"
    >
      <e-columns>
        <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="40"></e-column>
        <e-column textAlign="Right" field="actions" width="120">
          <ng-template #headerTemplate let-data>
            <div class="controls-header"></div>
          </ng-template>
          <ng-template #template let-data>
            <div class="row-tool-buttons" [class.hidden]="!isLoaded">
              <button ejs-button cssClass="e-flat default-icon-button">
                <span><i-feather name="file-text" class="icon"></i-feather></span>
              </button>
              <button ejs-button cssClass="e-flat default-icon-button">
                <span><i-feather name="map-pin" class="icon"></i-feather></span>
              </button>
              <button ejs-button cssClass="e-flat primary-icon-button noResponsive" (click)="editOrganization(data)">
                <span><i-feather name="edit" class="icon"></i-feather></span>
              </button>
            </div>
          </ng-template>
        </e-column>
        <e-column field="createUnder.name" headerText="Organization Name" textAlign="Left" width="320"></e-column>
        <e-column field="generalInformation.organizationType" headerText="Organization Type" textAlign="Left" width="150"></e-column>
        <e-column field="generalInformation.status" headerText="Status" textAlign="Left" width="140">
          <ng-template #template let-data>
            <div class="status-cell">
              <ejs-chiplist>
                <e-chips>
                  <e-chip [text]="organizationStatus[data.generalInformation.status]"
                          [cssClass]="getChipCssClass(organizationStatus[data.generalInformation.status])"></e-chip>
                </e-chips>
              </ejs-chiplist>
            </div>
          </ng-template>
        </e-column>
        <e-column field="contactDetails.0.contactPerson" headerText="Primary Contact" textAlign="Left" width="180"></e-column>
        <e-column field="contactDetails.0.email" headerText="Email" textAlign="Left" width="200"></e-column>
        <e-column field="contactDetails.0.phoneNumberExt"
                  headerText="Phone"
                  textAlign="Left"
                  width="130"
                  [allowSorting]="false">
          <ng-template #template let-data>
            <span>{{ data.contactDetails[0].phoneNumberExt | formatPhoneNumber }}</span>
          </ng-template>
        </e-column>
      </e-columns>
      <ng-template #pagerTemplate let-data>
        <!--TODO: move to shared component-->
        <div class="e-pagertemplate">
          <div class="control-section">
            <div class="content-wrapper">
              <section class="left-side-pager-controls">
                <ejs-dropdownlist
                  id="rowsPerPage"
                  class="dropdown-no-border"
                  [dataSource]="rowsPerPageDropDown"
                  [allowFiltering]="true"
                  [(value)]="activeRowsPerPageDropDown"
                  (change)="onRowsDropDownChanged()"
                >
                </ejs-dropdownlist>
                <ejs-numerictextbox
                  id="goToPage"
                  class="numeric-input-no-border"
                  format="#"
                  placeholder="Go to:"
                  min="1"
                  [max]="(organizations$ | async)?.totalPages"
                  [showSpinButton]="false"
                  (change)="onGoToClick($event)"
                >
                </ejs-numerictextbox>
                <div class="total-rows">
                  Total Rows: {{(organizations$ | async)?.totalCount}}
                </div>
              </section>
              <section class="right-side-pager-controls">
                <ejs-pager
                  id="gridPager"
                  #gridPager
                  [pageSize]="pageSize"
                  [totalRecordsCount]="(organizations$ | async)?.totalCount"
                  [enablePagerMessage]="false"
                  [currentPage]="currentPage"
                  (click)="onGoToClick($event)"
                >
                </ejs-pager>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </section>
</section>

<app-filter-dialog
  [items]="filteredItems"
  [count]="(organizations$ | async)?.totalCount"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
  (closeDialogClicked)="onFilterClose()"
>
  <form class="bootstrap" [formGroup]="OrganizationFilterFormGroup">
    <div class="input-container">
      <label for="externalId">Search</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="searchTerm" />
      </div>
    </div>
    <div class="input-container">
      <label>Organization Name</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          formControlName="businessUnitNames"
          placeholder="All"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.businessUnitNames.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Status</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          formControlName="statuses"
          placeholder="All"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.statuses.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>City</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          formControlName="cities"
          placeholder="All"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.cities.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Contact</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          formControlName="contacts"
          placeholder="All"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.contacts.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
  </form>
</app-filter-dialog>

<app-export-dialog
  [columns]="columnsToExport"
  [fileName]="fileName"
  (cancel)="closeExport()"
  (export)="export($event)"
></app-export-dialog>
