<app-page-toolbar>
    <ng-container left>
      <div class="bootstrap business-dropdowns" [formGroup]="businessForm">
        <div class="dropdown-container">
          <div class="input-group dropdown">
            <ejs-dropdownlist
              appValidateWithMessage
              formControlName="businessUnit"
              [fields]="optionFields"
              [dataSource]="businessUnits"
              placeholder="Business Unit"
            ></ejs-dropdownlist>
          </div>
        </div>
        <div class="dropdown-container">
          <div class="dropdown-container">       
            <ejs-dropdownlist
                appValidateWithMessage
                formControlName="business"
                [fields]="bussinesDataFields"
                [dataSource]="bussinesData$ | async"
                placeholder=Business
              ></ejs-dropdownlist>
          </div>
          <div class="dropdown-container">       
          <!--   <ejs-dropdownlist
                appValidateWithMessage
                formControlName="user"
                [fields]="bussinesDataFields"
                [dataSource]="bussinesData$ | async"
                placeholder=Business
              ></ejs-dropdownlist> -->
          </div>
        </div>
      </div>
    </ng-container>
    
  </app-page-toolbar>
  
  <section class="last-content-section-padding">  
      <ag-grid-angular #agGridPagination                      
                      class="ag-theme-alpine user-subscription-grid"
                      [animateRows]="true"
                      [columnDefs]="columnDefs"
                      [defaultColDef]="defaultColDef"
                      [suppressAggFuncInHeader]="true"
                      [modules]="modules"                
                      [cacheBlockSize]="cacheBlockSize"
                      [rowModelType]="rowModelType"
                      [frameworkComponents]="frameworkComponents"
                      [pagination]="true"
                      [paginationPageSize]="paginationPageSize"                    
                      (gridReady)="onGridReady($event)"
                      [sideBar]="sideBar"                                                
                      toolPanel="columns"
                      [serverSideStoreType]="serverSideStoreType"                
                      [paginationAutoPageSize]="false"
                      [maxBlocksInCache] ="maxBlocksInCache">
      </ag-grid-angular>
  </section>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
      <ejs-dropdownlist
        id="rowsPerPage"
        class="dropdown-no-border"
        [dataSource]="rowsPerPageDropDown"
        [(value)]="activeRowsPerPageDropDown"
        (change)="onPageSizeChanged($event)">
      </ejs-dropdownlist></div>
  </div>
  
  
  