.department-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;

  .item:not(.short) {
    grid-column: 1/3;
  }

  .e-label {
    font-size: 14px;
  }

  .radio-buttons {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
    margin-top: 16px;
  }
}
