<div [formGroup]="addEditOnScreenTemplateForm" id="addEditOnScreenTemplateForm" class="onScreen-template-form">
    <div class="section-container">
        <div class="left-section">
            <div class="input-container bootstrap top-container">
                <label>Title<span class="required">*</span></label>
                <div class="input-group">
                    <input appValidateWithMessage formControlName="title" class="e-input" type="text" [(ngModel)]="alertTitle"/>
                </div>
            </div>
            <div class="rich-text-container">
                <label>Mail Body<span class="required">*</span></label>
                <div>
                    <ejs-richtexteditor #OnScreenRTE id='onScreenDefaultRTE' appValidateWithMessage formControlName="mailBody"
                        [toolbarSettings]='tools' [(value)]='alertBody'>
                    </ejs-richtexteditor>
                </div>
            </div>
        </div>
        <div class="right-section">

            <div class="input-container bootstrap top-container">
                <div class="input-group">
                </div>
            </div>

            <div class="input-container bootstrap">
                <label>Attributes</label>
                <div>
                    <ejs-listview id="onScreenListbox" [dataSource]='templateParamsData'>
                    </ejs-listview>
                </div>
            </div>
        </div>
    </div>
</div>