@import 'colors';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  button.e-control.e-btn {
    padding: 10px;

    i-feather {
      margin: 0;
    }
  }

  .primary-icon-button {
    color: $primary-active-blue-10;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $primary-active-blue;
    }

    &:hover {
      color: $primary-active-blue-10;
      background-color: $primary-active-blue-70;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $primary-active-blue-50;
    }
  }

  .secondary-icon-button {
    color: $supportive-red;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $supportive-red-00;
    }

    &:hover {
      color: $supportive-red;
      background-color: $supportive-red-40;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $supportive-red-40;
    }
  }
}
