<div class="warning-deployed-candidate">
  <ng-container *ngIf="isAgency; else orgMessage">
    <div *ngFor="let candidateInfo of candidateBasicInfo">
      Candidate is already working in Position ID:
      <span>
        {{ candidateInfo.orderPublicId }}/{{ candidateInfo.positionId }};
        {{ candidateInfo.positionActualStartDate | date: 'MM/dd/yyyy' }} -
        {{ candidateInfo.positionActualEndDate | date: 'MM/dd/yyyy' }} for the organization
        {{ candidateInfo.orgName }}
      </span>
    </div>
  </ng-container>
  <ng-template #orgMessage>
    Candidate is already working on an assignment till
    <span>{{ candidateBasicInfo.pop()?.positionActualEndDate | date: 'MM/dd/yyyy' }}</span>
  </ng-template>
</div>
