:host {
  height: 100%;

  .associate {
    margin-top: 24px;
    height: calc(100% - 165px);

    .actions {
      button {
        background-color: transparent;
      }
    }

    .e-gridcustomheader {
      width: unset;
    }
  }
}
