<section class="associate">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Associated {{getTitle}}</h3>
    </div>
    <div class="actions">
      <button
        ejs-button
        [disabled]="!agencyActionsAllowed || !userPermission[userPermissions.CanEditAssociatedOrganizations]"
        class="action-link" (click)="addNew()"
      >
        <i-feather name="plus" class="icon"></i-feather>
        Associate {{getTitle}}
      </button>
    </div>
  </div>
  <app-associate-grid [areAgencyActionsAllowed]="agencyActionsAllowed" [userPermission]="userPermission" [associateEvent$]="associateEvent" [isAgency]="isAgency"></app-associate-grid>
</section>
