<section class="associate">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Associated {{getTitle}}</h3>
    </div>
    <div class="actions">
      <span class="action-link"><i-feather name="sliders" class="icon"></i-feather> Filters</span>
      <button ejs-button [disabled]="!agencyActionsAllowed" class="action-link" (click)="addNew()"><i-feather name="plus" class="icon"></i-feather>
        Associate New {{getTitle}}</button>
    </div>
  </div>
  <app-associate-grid [areAgencyActionsAllowed]="agencyActionsAllowed" [associateEvent$]="associateEvent" [isAgency]="isAgency"></app-associate-grid>
</section>
