<div class="professional-summary">
  <div class="e-card-title-wrapper">
    <div class="e-card-title">Professional Summary</div>
  </div>
  <form [formGroup]="formGroup">
    <div class="bootstrap">
      <div class="input-container">
        <div class="input-group">
          <ejs-textbox appValidateWithMessage
                       formControlName="professionalSummary"
                       cssClass="professional-summary-textbox"
                       [multiline]="true"
                       maxlength="500">
          </ejs-textbox>
        </div>
      </div>
    </div>
  </form>
</div>
