<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="title">
      <h3>Schedule</h3>
    </div>
    <div class="controls">
      <ejs-tooltip
        *ngIf="sideBarSettings.showRemoveButton && scheduleSelectedSlots.dates.length"
        [showTipPointer]="false"
        [content]="removeBtnTooltip"
        position="TopCenter">
        <button
          ejs-button
          class="remove-button"
          [disabled]="disableRemoveButton"
          (click)="removeSchedules()"
        >
          <span><i-feather name="trash-2" class="icon"></i-feather></span>
        </button>
      </ejs-tooltip>
      <button
        *ngIf="sideBarSettings.showOpenPositions"
        [disabled]="!scheduleSelectedSlots.candidates.length"
        (click)="saveSchedule()"
        [isPrimary]="true"
        ejs-button>
        Save
      </button>
      <button class="close" (click)="closeSchedule()">
        <i-feather name="x" class="icon"></i-feather>
      </button>
    </div>
  </div>
  <div
    class="input-container schedule-types"
    [ngStyle]="{'grid-template-columns': scheduleTypes.columnsTemplate}"
  >
    <ng-container *ngFor="let type of scheduleTypes.source">
      <div
        class="input-group radio"
        [class.e-radio-checked]="type.value === scheduleType"
      >
        <app-tooltip-container [message]="type.toolTipMessage" [showToolTip]="type.disabled">
          <ejs-radiobutton
            (change)="changeScheduleType($event)"
            [formControl]="scheduleTypesControl"
            [label]="type.label"
            [value]="type.value"
            [name]="type.name"
            [disabled]="type.disabled"
          ></ejs-radiobutton>
        </app-tooltip-container>
      </div>
    </ng-container>
  </div>
  <div class="form-container" *ngIf="sideBarSettings.showScheduleForm && scheduleFormConfig">
    <form [formGroup]="scheduleForm" [class]="scheduleFormConfig.formClass">
      <ng-container *ngFor="let control of scheduleFormConfig.formFields">
        <ng-container [ngSwitch]="control.type">
          <ng-template [ngSwitchCase]="FieldTypes.Toggle">
            <div class="switch-wrap">
              <div
                *ngIf="control.show"
                class="input-group"
                [ngStyle]="{'grid-area': control.gridAreaName}"
              >
                <ejs-tooltip [content]="control.tooltipContent" position='TopCenter'>
                  <ejs-switch
                    class="switch"
                    [formControlName]="control.field"
                  ></ejs-switch>
                  <label class="switch-label">
                    {{control.title}}
                    <span *ngIf="control.required" class="required">*</span>
                  </label>
                </ejs-tooltip>
              </div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="FieldTypes.Input">
            <div class="input-container bootstrap" [ngStyle]="{'grid-area': control.gridAreaName}">
              <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span></label>
              <div class="input-group" [ngClass]="{'input-readonly': control.readonly}">
                <input
                  class="e-input"
                  [name]="control.field"
                  [readonly]="control.readonly"
                  [formControlName]="control.field"
                />
              </div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
            <div class="input-container bootstrap" [ngStyle]="{'grid-area': control.gridAreaName}">
              <label [for]="control.field">
                {{control.title}}
                <span class="required" *ngIf="control.required">*</span>
              </label>
              <div class="input-group dropdown" *ngIf="control.sourceKey">
                <ejs-dropdownlist
                  [dataSource]="scheduleFormSourcesMap[control.sourceKey]"
                  [fields]="dropDownFields"
                  [formControlName]="control.field">
                </ejs-dropdownlist>
              </div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="FieldTypes.Time">
            <div
              class="input-container bootstrap time-area"
              [class.show-time-area]="control.show"
              [ngStyle]="{'grid-area': control.gridAreaName}">
              <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span>
              </label>
              <div class="input-group">
                <ejs-timepicker
                  (change)="changeTimeControls($event, control.field)"
                  placeholder="HH:MM"
                  [formControlName]="control.field"
                  format="HH:mm"
                  [showClearButton]="false"
                  [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                  [enableMask]="true"
                  [step]="15"
                  maskPlaceholder="HH:MM">
                </ejs-timepicker>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </form>
  </div>
  <app-schedule-items
    *ngIf="sideBarSettings.showOpenPositions"
    [scheduleSelectedSlots]="scheduleSelectedSlots"
    (isEmpty)="hideScheduleForm()"
    [datePickerLimitations]="datePickerLimitations"
    [selectedScheduleType]="scheduleType"
  ></app-schedule-items>
  <app-schedule-open-positions
    *ngIf="!sideBarSettings.showOpenPositions"
  ></app-schedule-open-positions>
</div>

<app-replacement-order-dialog
  *ngIf="sideBarSettings.replacementOrderDialogOpen"
  [replacementOrderData]="replacementOrderDialogData"
  [isRemoveMode]="sideBarSettings.removeReplacementMode"
  (destroyDialog)="closeReplacementOrderDialog()"
  (removeOrder)="deleteSchedule($event)"
  (createOrder)="saveNewEvent($event)"
></app-replacement-order-dialog>
