@import "colors";
@import "mixins";

.sidebar-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  padding: 24px;
  height: calc(100% - 1px);
}

.sidebar-header,
.schedule-types,
.form-container {
  flex: 0 1 auto;
}

app-schedule-items {
  flex: 1 1 auto;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  min-height: 40px;

  .title {
    h3 {
      @include dialog-title;
    }
  }

  .controls {
    display: flex;
    gap: 20px;
    align-items: center;

    .close {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      cursor: pointer;

      i-feather {
        color: $primary-active-blue-10;
      }
    }

    .remove-button {
      border: 1px solid $supportive-red;
      background: none;
      padding: 8px;

      i-feather {
        color:  $supportive-red;
        margin-left: 0;
      }

      &:hover:not([disabled]),
      &:active:not([disabled]) {
        opacity: 0.8;
      }

      &:disabled {
        color: $secondary-dark-blue-30 !important;
        border-color: $secondary-dark-blue-40 !important;
        background-color: $secondary-dark-blue-50 !important;

        i-feather {
          color: $secondary-dark-blue-30;
        }
      }
    }
  }
}

.form-container {
  min-height: 135px;

  .validation-icon {
    display: none !important;
  }

  .time-area {
    display: none;
  }

  .show-time-area {
    display: block;
  }
}

.schedule-types:has(.e-control.e-radio:checked) {
  border: 1px solid $primary-active-blue-40;
}

.schedule-types {
  display: grid;
  border: 1px solid $primary-active-blue-10;
  border-radius: 8px;
  margin-top: 33px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: stretch;

  .input-group:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
  }

  .input-group:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .input-group {
    text-align: center;
    border-left: 1px solid $primary-active-blue-10;
    padding: 0 4px;
    min-width: 1px;
  }

  .input-group:has(.e-control.e-radio:checked) {
    background-color: $primary-active-blue-10;

    .e-control.e-radio:checked + label {
      .e-label {
        color: $white !important;
      }
    }
  }

  .input-group:has(.e-control.e-radio:disabled) {
    opacity: 0.5;
  }

  ejs-radiobutton .e-control.e-radio + label {
    .e-label {
      color: $primary-active-blue-10 !important;
      padding: 10px 0 !important;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }

    &::before {
      display: none !important;
    }

    &::after {
      display: none !important;
    }
  }
}

.input-container .input-group.input-readonly {
  .e-input[readonly] {
    background-color: $secondary-dark-blue-50;
    color: $secondary-dark-blue-30;
    border: 1px solid $secondary-dark-blue-40 !important;
  }
}

.availability-form,
.open-positions-form {
  display: grid;
  grid-template-columns: 1.5fr 0.3fr 0.3fr 0.9fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "shift shift shift shift hours";
}

.unavailability-form {
  display: grid;
  grid-template-columns: 1.5fr 0.3fr 0.3fr 0.9fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "reason reason reason reason reason"
    "shift shift shift shift hours";
}

.book-form {
  display: grid;
  grid-template-columns: 1.5fr 0.3fr 0.3fr 0.9fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "shift shift shift shift hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap switch-wrap";
}

.book-time-form {
  display: grid;
  grid-template-columns: 1.3fr 0.4fr 0.4fr 0.9fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "shift startTime startTime endTime hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap switch-wrap";
}

.availability-time-form,
.open-positions-time-form {
  display: grid;
  grid-template-columns: 1.3fr 0.4fr 0.4fr 0.9fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "shift startTime startTime endTime hours";
}

.unavailability-time-form {
  display: grid;
  grid-template-columns: 1.3fr 0.4fr 0.4fr 0.9fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "reason reason reason reason reason"
    "shift startTime startTime endTime hours";
}

.switch-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "toggle1 toggle2 toggle3 toggle4 toggle5"
    "meal meal meal meal meal";
  grid-area: switch-wrap;
}

.e-switch-wrapper.e-wrapper {
  margin-right: 0;
}

.reason {
  grid-area: reason;
}

.shift {
  grid-area: shift;
}

.startTime {
  grid-area: startTime;
}

.endTime {
  grid-area: endTime;
}

.hours {
  grid-area: hours;
}
