@import "colors";

.month-picker-container {
  display: flex;
  justify-content: space-between;

  button.e-control.e-btn i-feather {
    margin-left: 0;
  }
}

.datepicker {
  margin: 0 4px;
  width: 100%;
}

::ng-deep {
  .month-picker-container {
    ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper.e-error {
      border-color: $grey!important;
    }
    ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper .e-input {
      font-weight: 400!important;
      color: $black!important;
    }

    .e-input-group.e-control-wrapper {
      margin-bottom: 0 !important;
      min-width: 215px !important;
    }
  }
}
