.logi-report-iframe-div{
    position:absolute;
    width: 80%;
    height: 70%;
    min-width: 80%;
    padding-top: 3%;
}

.logi-Custom-report-iframe-div {
  position: absolute;
  width: 97% !important;
  height: 75% !important;
  min-width: 80%;
  padding-top: 3%;
}
