<div tabindex="0" class="e-card">
  <div class="e-card-header tablet">
    <div class="e-card-header-caption">
      <div class="e-card-title">{{uploaderTitle}}</div>
    </div>
    <div class="upload-btn" [class.disable]="disabled" (click)="browse()">
      <i-feather name="upload" class="icon"></i-feather>
      <div class="add-contact-link" >Upload</div>
    </div>
  </div>
  <div id="documents-uploader" class="e-card-content">
    <div
      id="droparea"
      class="droparea"
      [ngClass]="{'hidden': isMaxFilesReached, 'disabled': disabled}"
      (click)="browse()"
    >
      <span *ngIf="!disabled">Drag & Drop or <span class="browse-link">browse</span> files here</span>
      <span *ngIf="disabled">Uploads are not available for this organization</span>
    </div>

    <ng-container *ngIf="isMaxFilesReached">
      <div class="max-files">
        <span>You have reached the maximum number of uploaded files ({{maxFileAmount}})</span>
      </div>
    </ng-container>
    <div *ngIf="documents?.length" class="e-upload uploaded-list">
      <ul class="e-upload-files">
        <li *ngFor="let document of documents" class="e-upload-file-list">
          <span class="e-file-container">
            <span class="e-file-name">{{document.documentName}}</span>
            <div class="file-info">
              <span class="e-file-type">{{document.uploadedDate | date: "MM/dd/yyyy":"utc": "en-US"}}</span> | <!--TODO provide created at data-->
              <span class="e-file-size">{{document.size | formatBytes}}</span>
            </div>
          </span>
          <span class="custom-trash">
            <span class="e-icons e-file-delete-btn" title="Remove" (click)="onDelete(document)"></span>
          </span>
        </li>
      </ul>
    </div>
    <ejs-uploader #previewupload [dropArea]="dropElement" [allowedExtensions]="allowedExtensions"
                  cssClass="custom-trash"
                  [autoUpload]="false"
                  [maxFileSize]="maxFileSize"
                  (selected)="onFileSelected($event)"
                  (removing)="removeUplodedFile($event)"
                  >
    </ejs-uploader>
  </div>
</div>
