@import 'colors';
@import 'adaptive-response';

#droparea {
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-active-blue-10;
  font-size: 12px;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }

  .browse-link {
    text-decoration: underline;
    font-weight: 700;
  }
}

.e-card {
  margin-bottom: 20px;
}

.e-file-select-wrap,
.e-upload-actions {
  display: none;
}

.uploaded-list {
  .e-upload-file-list {
    display: flex;
    align-items: center;
    min-height: 75px;
  }

  .e-file-container {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;

    .e-file-name {
      font-weight: 600;
    }

    .file-info {
      display: flex;
      align-items: baseline;
      column-gap: 8px;
    }

    .e-file-size,
    .uploded-date {
      font-weight: 400;
      font-size: 14px;
      color: $secondary-dark-blue-30;
    }
  }

  .e-file-status {
    margin-top: 5px;
  }
}

.upload-btn {
  display: none;
}

.max-files {
  height: 60px;
  display: flex;
  justify-content: center;
}

@media #{$max-tablet} {
  #droparea {
    display: none;
  }

  #documents-uploader {
    padding: 0;
  }

  .tablet {
    display: flex;
    justify-content: space-between;
  }

  .upload-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 9px 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    color: $primary-active-blue-10;

    &:hover,
    &:focus {
      background-color: $primary-active-blue-70;
      border-color: transparent;
    }

    &.disable {
      color: $primary-active-blue-60;

      &:hover,
      &:focus {
        background-color: $primary-active-blue-90;
      }
    }

    i-feather {
      vertical-align: bottom;
    }
  }
}
