@import "colors";

#droparea {
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-active-blue-10;
  font-size: 12px;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }

  .browse-link {
    text-decoration: underline;
    font-weight: 700;
  }
}

.e-card {
  margin-bottom: 20px;
}

.e-file-select-wrap, .e-upload-actions {
  display: none;
}

.uploaded-list {
  .e-upload-file-list {
    display: flex;
    align-items: center;
    min-height: 75px;
  }

  .e-file-container {
    width: 100%;
  }

  .e-file-status {
    margin-top: 5px;
  }
}
