<ejs-dialog
  cssClass="dnw-dialog"
  #dnwDialog
  [target]="profileDetailsDialogsTarget"
  [width]="'350px'"
  [visible]="false"
>
  <ng-template #content>
    <div class="dnw-dialog-content-container">
      <h2>You have selected DNW</h2>
      <div class="content">Timesheet for the week will be deleted. Are you sure you want to proceed?</div>
      <div class="actions">
        <button ejs-button class="e-outline" (click)="dnwDialog.hide()">Cancel</button>
        <button ejs-button class="e-danger">Proceed</button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>

<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog"
  [width]="'1180px'"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <div class="profile-details-header">
      <span class="e-avatar e-avatar-xlarge"
            style="background-size: cover; background-image: url(https://ej2.syncfusion.com/angular/documentation/samples/avatar/getting-started-cs1/pic01.png)"
      ></span>

        <div class="flex flex-column">
          <h3 class="username">{{ profileData?.firstName }}, {{profileData?.lastName}}</h3>
          <ejs-chiplist #chipList class="events-off">
            <e-chips>
              <e-chip
                *ngIf="profileData"
                [text]="profileData?.status"
                [cssClass]="profileData?.status | chipsCssClass">
              </e-chip>
              <e-chip [text]="onboardedStatus" [cssClass]="onboardedStatus | chipsCssClass"></e-chip>
            </e-chips>
          </ejs-chiplist>
        </div>

        <div class="spacer"></div>

        <div class="header-controls">
         <div style="display: flex; align-items: center" class="timesheet-details-upload-container" #uploadContainer>
           <ejs-datepicker
             [width]="200"
             id="inactiveDate"
             class="datepicker"
             format="MM/dd/yyyy"
             placeholder="MM/DD/YYYY"
           ></ejs-datepicker>

           <button ejs-button cssClass="e-outline" class="upload-button" #uploadBtn (click)="showUploadArea(uploadContainer)">
             Upload
             <i-feather name="upload" class="icon"></i-feather>
           </button>

           <ejs-tooltip #uploadTooltip [container]="uploadContainer" [showTipPointer]="false"
                        opensOn="Custom"
                        position="TopLeft" width="100%">
             <ng-template #content>
               <div class="file-upload-area-container"
                    appClickOutside
                    (clickOutside)="hideUploadArea()"
                    [exclude]="uploadBtn.element"
               >
                 <h2>Upload Documents</h2>
                 <div class="upload-area">
                   <div id="timesheet-details-files-droparea" class="droparea"(click)="browse()" #dropEl>
                     <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
                   </div>
                   <ejs-uploader #uploader
                                 [dropArea]="dropEl"
                                 [allowedExtensions]="allowedExtensions"
                                 [maxFileSize]="maxFileSize"
                                 [multiple]="false"
                                 [autoUpload]="false"
                                 [showFileList]="false"
                                 (selected)="onFileSelected($event)">
                   </ejs-uploader>
                 </div>
               </div>
             </ng-template>
           </ejs-tooltip>
         </div>

          <button
            ejs-dropdownbutton
            [items]="exportOptions"
            (select)="export($event)"
            id="importButton"
            cssClass="e-outline button-export">
            Export <i-feather name="download" class="icon"></i-feather>
          </button>
        </div>

        <i-feather name="x" class="icon close-button" (click)="handleProfileClose()"></i-feather>
      </div>

      <div class="order-header">
        <h2 class="order-id">Order ID {{ profileData?.orderId}}</h2>

        <div class="controls-block">
          <div class="checkbox-block">
            <ejs-checkbox [checked]="false" (checkedChange)="onDWNCheckboxSelectedChange($event)" label="DNW"></ejs-checkbox>
          </div>

          <button *ngIf="!isAgency" ejs-button cssClass="e-outline" class="reject-button" (click)="onRejectButtonClick()">
            Reject
          </button>

          <button ejs-button cssClass="e-primary" (click)="handleApprove()">
            {{submitText}}
          </button>
        </div>
      </div>

      <div class="job-general-info tile-dark-blue">
        <app-profile-details-job-info
        [jobData]="profileData"></app-profile-details-job-info>
      </div>

      <div class="profile-hours-statistics">
        <div class="tile-dark-blue">
          <app-profile-cumulative-hours></app-profile-cumulative-hours>
        </div>
        <ng-container *ngIf="uploadedFiles$ | async as uploads">
          <div class="tile-dark-blue profile-uploads" *ngIf="uploads.length">
            <app-profile-uploads [uploads]="uploads"></app-profile-uploads>
          </div>
        </ng-container>

       <ng-container *ngIf="invoices$ | async as invoices">
         <div class="tile-dark-blue profile-invoices" *ngIf="invoices.length">
           <app-profile-invoices [invoices]="invoices"></app-profile-invoices>
         </div>
       </ng-container>
      </div>

      <section class="profile-table-container">
        <app-profile-timesheet-table
          *ngIf="timeSheetsProfile$ | async as timeSheetsProfile"
          [timeSheetsProfile]="timeSheetsProfile"
          [tempProfile]="profileData"
          (openAddSideDialog)="handleOpenSideDialog($event)">
        </app-profile-timesheet-table>
      </section>
      <div class="timesheet-navigation">
        <div
          [class.disabled]="currentSelectedRowIndex === 0"
          (click)="onNextPreviousOrder(false)"
          class="prev">
            <i-feather name="arrow-left" class="icon"></i-feather>
            Previous Timesheet
        </div>

        <div class="spacer"></div>

        <div
          [class.disabled]="isNextDisabled"
          (click)="onNextPreviousOrder(true)"
          class="next">
          Next Timesheet
          <i-feather name="arrow-right" class="icon"></i-feather>
        </div>
      </div>
    </section>
  </ng-template>
</ejs-dialog>

<app-timesheet-reject-reason-dialog [(visible)]="rejectReasonDialogVisible"
                                    [container]="profileDetailsDialogsTarget"
></app-timesheet-reject-reason-dialog>
<app-add-timesheet [profileId]="profileId" (updateTable)="handleUpdateTable()"></app-add-timesheet>
