<ejs-dialog
  id="dialog"
  #candidateDialog
  cssClass="dialog timesheet-details-dialog"
  [width]="'1180px'"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container" *ngIf="timesheetDetails$ | async as timesheetDetails">
      <div class="profile-details-header">
        <ng-container>
            <img class="e-avatar e-avatar-xlarge" alt="avatar" [src]="timesheetDetails.candidateId | candidateAvatar"/>
        </ng-container>

        <div class="flex flex-column">
          <h3 class="username">
            {{ timesheetDetails.candidateLastName }}, {{ timesheetDetails.candidateFirstName}}
          </h3>

          <ejs-tooltip
            id="tooltip"
            #tooltip
            target=".e-chip"
            (beforeRender)="beforeRender($event)">
            <ejs-chiplist #chipList>
              <e-chips>
                <e-chip
                  [text]="timesheetDetails.statusText"
                  [cssClass]="timesheetDetails.statusText || '' | chipsCssClass"
                >
                </e-chip>
                <e-chip
                  [text]="timesheetDetails.mileageStatusText"
                  [cssClass]="timesheetDetails.mileageStatusText || '' | chipsCssClass"
                >
                </e-chip>
              </e-chips>
            </ejs-chiplist>
          </ejs-tooltip>
        </div>
        <div class="spacer"></div>

        <div class="header-controls">
          <div
          style="display: flex; align-items: center"
          class="timesheet-details-upload-container"
          #uploadContainer>

            <app-date-week-picker
              [initDates]="weekPeriod"
              [availibleDates]="workWeeks"
              [isAbleToChange]="isChangesSaved">
            </app-date-week-picker>

            <app-upload-button [container]="uploadContainer"
                              (filesSelected)="onFilesSelected($event)"
            ></app-upload-button>

            <app-export-button
                    (csvExport)="exportProfileDetails(exportedFileType.csv)"
                    (excelExport)="exportProfileDetails(exportedFileType.excel)"
                    (customExport)="showCustomExportDialog()"
            ></app-export-button>
         </div>

         <i-feather name="x" class="icon close-button" (click)="handleProfileClose()"></i-feather>
       </div>
      </div>

      <div class="order-header">
        <div class="order-meta">
          <h2 class="order-id">Job ID: {{ timesheetDetails?.formattedId}}</h2>
        </div>
        <div class="bootstrap reject-reason-input" *ngIf="timesheetDetails?.rejectionReason as rejectReason">
          <div class="e-input input">{{rejectReason}}</div>
        </div>

        <div class="controls-block">
          <div class="checkbox-block" *ngIf="isDNWEnabled">
            <ejs-switch #dnwSwitch
              class="toggle"
              [checked]="timesheetDetails.noWorkPerformed"
              (change)="onDWNCheckboxSelectedChange($event, dnwSwitch)"
            ></ejs-switch>
            <span>DNW</span>
          </div>
        </div>
      </div>

      <div class="job-general-info tile-dark-blue">
          <app-profile-details-job-info
                  [isAgency]="isAgency"
                  [jobData]="timesheetDetails"
          ></app-profile-details-job-info>
      </div>

      <div class="profile-hours-statistics">
          <div class="tile-dark-blue">
              <app-profile-cumulative-hours
                      [statisticsData]="timesheetDetails.timesheetStatistic.timesheetStatisticDetails"
              ></app-profile-cumulative-hours>
          </div>

          <div class="tile-dark-blue miles" *ngIf="milesData$ | async as milesData">
            <app-profile-miles [milesData]="milesData"></app-profile-miles>
          </div>

          <div class="tile-dark-blue profile-attachments" *ngIf="timesheetDetails?.attachments?.length">
              <h3 class="attachments-title">Attachments</h3>

              <app-attachments-list [attachments]="timesheetDetails.attachments"
                                    [attachmentsListConfig]="attachmentsListConfig$ | async"
              ></app-attachments-list>
          </div>

         <div class="tile-dark-blue profile-invoices" *ngIf="timesheetDetails?.invoices?.length">
           <app-profile-invoices [invoices]="timesheetDetails.invoices"></app-profile-invoices>
         </div>
      </div>

      <section class="profile-table-container">
        <app-profile-timesheet-table
          [isAgency]="isAgency"
          [timesheetDetails]="timesheetDetails"
          [actionsDisabled]="timesheetDetails.noWorkPerformed"
          (openAddSideDialog)="openAddDialog($event)"
          (changesSaved)="handleEditChanges($event)"
          (rejectEvent)="onRejectButtonClick($event)"
          (approveEvent)="handleApprove($event)"
        >
        </app-profile-timesheet-table>
      </section>

    </section>
    <app-navigation-panel
            *ngIf="isNavigationAvaliable"
            prevLabel="Previous Timesheet"
            nextLabel="Next Timesheet"
            [prevDisabled]="currentSelectedRowIndex === 0"
            [nextDisabled]="isNextDisabled"
            (prevClick)="onNextPreviousOrder(false)"
            (nextClick)="onNextPreviousOrder(true)"
    ></app-navigation-panel>
  </ng-template>
</ejs-dialog>

<app-reject-reason-input-dialog
  [(visible)]="rejectReasonDialogVisible"
  [container]="candidateDialog.element"
  (rejectReasonChange)="handleReject($event)"
></app-reject-reason-input-dialog>

<app-add-timesheet></app-add-timesheet>

<app-export-dialog
        [columns]="columnsToExport"
        [fileName]="fileName"
        (cancel)="closeExport()"
        (export)="customExport($event)"
></app-export-dialog>

<app-file-viewer></app-file-viewer>
