@import "colors";
@import "mixins";
@import "adaptive-response";

$chip-margin: 8px;

.profile-table-container {
  padding-bottom: 0;

  ::ng-deep {
    ag-grid-angular {
      height: auto !important;

      .ag-header-cell-text {
        font-weight: 600;
        color: $secondary-dark-blue-15;
      }

      .ag-root-wrapper {
        height: auto !important;
      }

      .ag-root-wrapper-body {
        height: auto !important;
      }
    }
  }
}

.profile-details {
  padding-bottom: 20px;
  border-bottom: 1px solid $secondary-dark-blue-45;

  &__wraper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;

    .e-avatar {
      margin-right: 16px;
    }

    .username {
      color: var(--text);
      font-weight: 700;
      font-size: 24px;
      margin: 0;
    }
  }

  &__header-controls {
    display: flex;
    align-items: center;
    margin-top: 5px;

    .e-input-group {
      margin-bottom: 0;
    }
  }

  &__chip-list,
  &__mobile-date-picker {
    margin-top: 10px;
  }

  &__upload-container {
    display: flex;
    align-items: baseline;
  }

  &__upload-button {
    margin-left: 12px;
    margin-right: 8px;
  }

  .e-chip {
    width: auto;

    &:first-child {
      margin-right: 20px;
    }
  }

  .menu-mobile {
    margin: -2px 0 0 12px;
    border: 1px solid $primary-active-blue-40;
    border-radius: 8px;
    width: 40px;
    padding-top: 3px;
  }

  .e-chip-list:not(.e-chip) {
    gap: 10px;
  }
}

.container {
  padding: 12px 24px;
  padding-bottom: 0 !important;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.tile-dark-blue {
  background-color: $secondary-dark-blue-50;
  border-radius: 8px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;

  .order-id,
  .week-dates {
    font-weight: 700;
    font-size: 16px;
  }

  .week-dates {
    margin-left: 20px;
  }

  .reject-button {
    margin-right: 12px;
  }
}

.order-meta {
  display: flex;
  align-items: center;
}

.job-general-info {
  padding: 25px;
}

.profile-hours-statistics {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;

  .profile-invoices,
  .miles {
    flex-grow: 1;
    min-width: 110px;
  }

  .miles {
    flex-shrink: 0;
  }

  .profile-attachments {
    min-width: 150px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 12px 0 12px 16px;
    box-sizing: border-box;

    .attachments-title {
      font-weight: 700;
      font-size: 14px;
      color: $black;
      margin: 0 0 12px;
    }

    app-attachments-list {
      flex-grow: 1;
      padding-right: 18px;
    }
  }

  .tile-dark-blue {
    min-height: 210px;

    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}

.checkbox-block {
  margin-right: 12px;
  margin-left: 16px;
}

.controls-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.e-switch-wrapper.e-wrapper {
  margin-right: 10px;
}

.timesheet-details-dialog {
  .e-dlg-content {
    display: flex;
    flex-direction: column;

    section.container {
      overflow: auto;
    }
  }
}

app-date-week-picker {
  margin-top: 5px;
}

app-navigation-panel {
  margin-top: auto;
}

.reject-reason-block {
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.reason-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 15px;
  white-space: nowrap;
}

.reason-text {
  border: 1px solid $secondary-dark-blue-40;
  border-radius: 8px;
  background-color: $secondary-dark-blue-50;
  padding: 10px 17px;
  width: auto;
  max-width: 700px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 87%;
}

.hide-elem {
  display: none;
}

@media #{$max-tablet} {
  .profile-hours-statistics {
    flex-wrap: wrap;
    gap: 12px;

    .statistic-wrapper {
      width: 100%;
      margin: 0 !important;
    }

    .miles {
      margin: 0 !important;
    }
  }
}

@media #{$max-mobile} {
  .profile-hours-statistics {
    flex-direction: column;

    .profile-attachments {
      max-width: 100%;
    }
  }

  .order-header {
    flex-wrap: wrap;
    gap: 10px;

    .controls-wrapper{
      width: 100%;
      justify-content: space-between;
    }
  }
  
  .profile-details {
    .menu-mobile {
      margin: 0 0 0 12px;
      border: none;
      padding-top: 6px;
    }
  }
}
