@import 'colors';
@import 'mixins';
@import 'adaptive-response';

$chip-margin: 8px;
.main-body{
  display: flex;
  clear: both;
  height: calc(100vh - 80px);

  .timesheet-details-container,
  .file-viewer-container {
    display: flex;
    flex-direction: column;
  }

  .file-viewer-container {
    border-left: 1px solid var(--header-border);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 3;
  padding:24px 24px 20px 24px;
  background-color: var(--bg-default);
  border-bottom: 1px solid var(--header-border);
}

.content-container {
  overflow-y: auto;
  padding: 0 24px 20px;

  .content-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bg-default);
    padding: 10px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    .controls-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.e-dialog.dialog .container {
  padding: 0 !important;
}

.profile-table-container {
  padding-bottom: 0;
  margin-top: 2px;

  ::ng-deep {
    ag-grid-angular {
      height: auto !important;

      .ag-header-cell-text {
        font-weight: 600;
        color: $secondary-dark-blue-15;
      }

      .ag-root-wrapper {
        height: auto !important;
      }

      .ag-root-wrapper-body {
        height: auto !important;
      }
    }
  }
}

.profile-details {
  &__wraper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .e-avatar {
      margin-right: 16px;
    }

    .username {
      color: var(--text);
      font-weight: 700;
      font-size: 24px;
      margin: 0;
    }
  }

  &__header-controls {
    display: flex;
    align-items: center;
    margin-top: 5px;

    .e-input-group {
      margin-bottom: 0;
    }
  }

  &__upload-container {
    display: flex;
    align-items: baseline;
  }

  &__upload-button {
    margin-left: 12px;
    margin-right: 8px;
  }

  .e-chip {
    width: auto;

    &:first-child {
      margin-right: 20px;
    }
  }

  .e-chip-list:not(.e-chip) {
    gap: 10px;
  }
}

.accordions-section {
  display: flex;
  gap: 16px;
}

.container {
  padding-bottom: 0 !important;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.tile-dark-blue {
  background-color: $secondary-dark-blue-50;
  border-radius: 8px;
}

.job-general-info {
  padding: 25px;
}

.profile-hours-statistics {
  display: flex;
  margin: 16px 0;

  .profile-invoices,
  .miles {
    flex-grow: 1;
    min-width: 110px;
  }

  .miles {
    flex-shrink: 0;
  }

  .tile-dark-blue {
    min-height: 210px;

    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}

.profile-attachments {
  margin-bottom: 20px;
}

.checkbox-block {
  margin-left: 16px;
}

.e-switch-wrapper.e-wrapper {
  margin-right: 10px;
}

.timesheet-details-dialog {
  .e-dlg-content {
    display: flex;
    flex-direction: column;
  }
}

app-date-week-picker {
  margin-top: 5px;
}

app-navigation-panel {
  margin-top: auto;
  z-index: 1;
}

.reject-reason-block {
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.reason-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 15px;
  white-space: nowrap;
}

.reason-text {
  border: 1px solid $secondary-dark-blue-40;
  border-radius: 8px;
  background-color: $secondary-dark-blue-50;
  padding: 10px 17px;
  width: auto;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.hide-elem {
  display: none;
}

@media #{$max-desktop-small} {
  .preview-attachment-mode {
    .timesheet-details-container {
      display: none;
    }

    .file-viewer-container {
      width: 100%;
    }
  }
}

@media #{$max-tablet} {
  .profile-hours-statistics {
    flex-wrap: wrap;
    gap: 12px;

    .statistic-wrapper {
      width: 100%;
      margin: 0 !important;
    }

    .miles {
      margin: 0 !important;
    }
  }

  .accordions-section {
    flex-wrap: wrap;
  }
}

@media #{$max-mobile} {
  .profile-hours-statistics {
    flex-direction: column;

    .profile-attachments {
      max-width: 100%;
    }
  }

  .profile-details {
    .menu-mobile {
      margin: 0 0 0 12px;
      border: none;
      padding-top: 6px;
    }
  }

  .reason-text {
    max-width: 120px;
  }

  .header-container,
  .content-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .close-details {
    right: 16px !important;
  }
}

.mobile-upload-icon {
  margin-left: 0 !important;
}

.close-details-wrapper {
  width: 40px;
  height: 40px;

  .close-details {
    position: absolute;
    top: 34px;
    right: 24px;
  }
}

.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
  // float: left;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}

.comments {
  flex-grow: 1;
}

.timesheet-details-dialog .profile-attachments {
  app-attachments-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  ::ng-deep {
    .attachment {
      box-sizing: border-box;
      width: 270px;
      background-color: var(--file-container);
      border-radius: 12px;
      padding: 24px !important;
      display: flex;
      gap: 12px;

      .file-name {
        padding-left: 0 !important;
      }

      .delete-icon {
        i-feather {
         margin-left: 0 !important;
        }
      }
    }
  }
}
