<ejs-dialog
  id="dialog"
  #candidateDialog
  cssClass="dialog timesheet-details-dialog"
  [width]="'1180px'"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <div class="profile-details-header">
        <img
          class="e-avatar e-avatar-xlarge"
          [src]="(candidateInfo$ | async)?.imgPath"/>

        <div class="flex flex-column">
          <h3 class="username">
            {{ (candidateInfo$ | async)?.firstName }}, {{(candidateInfo$ | async)?.lastName}}
          </h3>

          <ejs-chiplist #chipList class="events-off">
            <e-chips>
              <e-chip
                *ngIf="(candidateInfo$ | async)"
                [text]="(candidateInfo$ | async)?.timesheetStatus"
                [cssClass]="(candidateInfo$ | async)?.timesheetStatus || '' | chipsCssClass">
              </e-chip>
              <e-chip
                [text]="(candidateInfo$ | async)?.status"
                [cssClass]="(candidateInfo$ | async)?.status || '' | chipsCssClass">
            </e-chip>
            </e-chips>
          </ejs-chiplist>
        </div>
        <div class="spacer"></div>

        <div class="header-controls">
          <div
          style="display: flex; align-items: center"
          class="timesheet-details-upload-container"
          #uploadContainer>

            <button
             ejs-button
             cssClass="e-outline"
             class="upload-button"
             #uploadBtn
             >Upload
              <i-feather name="upload" class="icon"></i-feather>
            </button>

            <ejs-tooltip #uploadTooltip [container]="uploadContainer" [showTipPointer]="false"
                         opensOn="Custom"
                         position="TopLeft" width="100%">
              <ng-template #content>
                <div class="file-upload-area-container"
                     appClickOutside
                     [exclude]="uploadBtn.element"
                >
                  <h2>Upload Documents</h2>
                  <div class="upload-area">
                    <div class="droparea" #dropEl>
                      <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
                    </div>
                    <!-- <ejs-uploader #uploader
                                  [dropArea]="dropEl"
                                  [allowedExtensions]="allowedExtensions"
                                  [maxFileSize]="maxFileSize"
                                  [multiple]="false"
                                  [autoUpload]="false"
                                  [showFileList]="false"
                                  (selected)="onFileSelected($event)">
                    </ejs-uploader> -->
                  </div>
                </div>
              </ng-template>
            </ejs-tooltip>

            <app-export-button
                    (csvExport)="exportProfileDetails(exportedFileType.csv)"
                    (excelExport)="exportProfileDetails(exportedFileType.excel)"
                    (customExport)="showCustomExportDialog()"
            ></app-export-button>
         </div>

         <i-feather name="x" class="icon close-button" (click)="handleProfileClose()"></i-feather>
       </div>
      </div>

      <div class="order-header" *ngIf="candidateInfo$ | async as candidateInfo">
        <h2 class="order-id">Order ID {{ (candidateInfo$ | async)?.orderId}}</h2>

        <div class="controls-block">
          <div class="checkbox-block">
            <ejs-switch #dnwSwitch
              class="toggle"
              [checked]="false"
              (change)="onDWNCheckboxSelectedChange($event, dnwSwitch)"
            ></ejs-switch>
            <span>DNW</span>
          </div>

          <button
            *ngIf="!isAgency"
            ejs-button cssClass="e-outline"
            class="reject-button"
            (click)="onRejectButtonClick()">Reject
          </button>

          <button ejs-button cssClass="e-primary" (click)="handleApprove()">
            {{submitText}}
          </button>
        </div>
      </div>

      <div class="job-general-info tile-dark-blue">
        <app-profile-details-job-info
        [jobData]="(candidateInfo$ | async)"></app-profile-details-job-info>
      </div>

      <div class="profile-hours-statistics">
        <ng-container *ngIf="hoursAndMilesData$ | async as hoursAndMilesData">
          <div class="tile-dark-blue" *ngIf="hoursAndMilesData?.hours?.length">
            <app-profile-cumulative-hours [hoursData]="hoursAndMilesData.hours"></app-profile-cumulative-hours>
          </div>

          <div class="tile-dark-blue miles" *ngIf="hoursAndMilesData.miles">
            <app-profile-miles [milesData]="hoursAndMilesData.miles"></app-profile-miles>
          </div>
        </ng-container>

        <ng-container *ngIf="attachments$ | async as uploads">
          <div class="tile-dark-blue profile-uploads" *ngIf="uploads.length">
            <app-profile-uploads *ngIf="!uploads"></app-profile-uploads>
          </div>
        </ng-container>

       <!-- <ng-container *ngIf="invoices$ | async as invoices">
         <div class="tile-dark-blue profile-invoices" *ngIf="invoices.length">
           <app-profile-invoices [invoices]="invoices"></app-profile-invoices>
         </div>
       </ng-container> -->
      </div>

      <section class="profile-table-container">
        <app-profile-timesheet-table
          *ngIf="tmesheetRecords$ | async as timesheetRecords"
          [candidateRecords]="timesheetRecords"
          (openAddSideDialog)="openAddDialog()"
          (updateTable)="handleUpdateTable()"
          (deleteTableItemId)="handleDeleteItem($event)"
        >
        </app-profile-timesheet-table>
      </section>

    </section>
    <app-navigation-panel
            prevLabel="Previous Timesheet"
            nextLabel="Next Timesheet"
            [prevDisabled]="currentSelectedRowIndex === 0"
            [nextDisabled]="isNextDisabled"
            (prevClick)="onNextPreviousOrder(false)"
            (nextClick)="onNextPreviousOrder(true)"
    ></app-navigation-panel>
  </ng-template>
</ejs-dialog>

<app-timesheet-reject-reason-dialog
  [(visible)]="rejectReasonDialogVisible"
  [container]="candidateDialog.element"
  (rejectReasonChange)="handleReject()"
></app-timesheet-reject-reason-dialog>

<app-add-timesheet
  (updateTable)="handleUpdateTable()">
</app-add-timesheet>

<app-export-dialog
        [columns]="columnsToExport"
        [fileName]="fileName"
        (cancel)="closeExport()"
        (export)="customExport($event)"
></app-export-dialog>
