<div tabindex="0" class="e-card">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-title">{{ uploaderTitle }}</div>
      <div *ngIf="!logoSrc; else deleteLogo"
        class="upload-btn"
        [ngClass]="{
          hidden: logoSrc,
          disable: disabled
        }"
        (click)="browse()"
      >
        <i-feather name="upload" class="icon"></i-feather>
        <div class="add-contact-link" >Upload</div>
      </div>
    </div>

    <ng-template #deleteLogo>
      <div
        *ngIf="isImageSelected || logoSrc"
        class="delete-logo"
        (click)="onImageRemove()"
      >
        <i-feather name="trash-2" class="icon"></i-feather>
        <span>Delete</span>
    </div>
    </ng-template>
  </div>
  <div id="image-uploader" class="e-card-content">
    <div class="logo-container" *ngIf="logoSrc">
      <img class="logo big" [src]="logoSrc" />
      <img class="logo medium" [src]="logoSrc" />
      <img class="logo small" [src]="logoSrc" />
    </div>
    <div [class.hidden]="logoSrc" id="droparea" class="droparea" [ngClass]="{'disabled': disabled}" (click)="browse()">
      <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
    </div>
    <ejs-uploader
      #previewupload
      [dropArea]="dropElement"
      [allowedExtensions]="allowedExtensions"
      [autoUpload]="false"
      [multiple]="false"
      [enabled]="!disabled"
      [maxFileSize]="maxFileSize"
      (selected)="onImageSelect($event)"
      (removing)="onImageRemove()"
    >
    </ejs-uploader>
  </div>
</div>
