<div tabindex="0" class="e-card">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-title">{{ uploaderTitle }}</div>
      <div class="upload-btn" [class.disable]="disabled" (click)="browse()">
        <i-feather name="upload" class="icon"></i-feather>
        <div class="add-contact-link" >Upload</div>
      </div>
    </div>
  </div>
  <div id="image-uploader" class="e-card-content">
    <div class="logo-container" *ngIf="logoSrc">
      <img class="logo big" [src]="logoSrc" />
      <img class="logo medium" [src]="logoSrc" />
      <img class="logo small" [src]="logoSrc" />
    </div>
    <div [class.hidden]="logoSrc" id="droparea" class="droparea" [ngClass]="{'disabled': disabled}" (click)="browse()">
      <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
    </div>
    <ejs-uploader
      #previewupload
      [dropArea]="dropElement"
      [allowedExtensions]="allowedExtensions"
      [autoUpload]="false"
      [multiple]="false"
      [enabled]="!disabled"
      [maxFileSize]="maxFileSize"
      (selected)="onImageSelect($event)"
      (removing)="onImageRemove()"
    >
    </ejs-uploader>
    <ng-container *ngIf="!disabled">
      <button *ngIf="isImageSelected || logoSrc" ejs-button class="clear-logo-button" cssClass="e-outline" (click)="onImageRemove()">
        Clear
      </button>
    </ng-container>
  </div>
</div>
