@import 'colors';
@import 'adaptive-response';

#droparea {
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-active-blue-10;
  font-size: 12px;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  .browse-link {
    text-decoration: underline;
    font-weight: 700;
  }
}

.e-card {
  margin-bottom: 20px;
}

.e-file-select-wrap, .e-upload-actions {
  display: none;
}

.clear-logo-button {
  width: 100%;
  margin-top: 20px;
}

.logo-container {
  display: flex;

  .logo {
    margin: auto;
    margin-bottom: 0;
    border-radius: 8px;

    &.big {
      width: 102px;
      margin-left: 0;
    }

    &.medium {
      width: 58px;
    }

    &.small {
      width: 30px;
      margin-right: 0;
    }
  }
}

@media #{$max-desktop-small} {
  .e-card {
    margin-bottom: 0;
  }
}
