@import 'colors';
@import 'adaptive-response';

#droparea {
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-active-blue-10;
  font-size: 12px;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  .browse-link {
    text-decoration: underline;
    font-weight: 700;
  }
}

.e-card {
  margin-bottom: 20px;
}

.e-file-select-wrap, .e-upload-actions {
  display: none;
}

.clear-logo-button {
  width: 100%;
  margin-top: 20px;
}

.logo-container {
  display: flex;

  .logo {
    margin: auto;
    margin-bottom: 0;
    border-radius: 8px;

    &.big {
      width: 102px;
      margin-left: 0;
    }

    &.medium {
      width: 58px;
    }

    &.small {
      width: 30px;
      margin-right: 0;
    }
  }
}

.upload-btn {
  display: none;
}

@media #{$max-desktop-small} {
  .e-card {
    margin-bottom: 0;
  }
}

@media #{$max-tablet} {
  #droparea {
    display: none;
  }

  #image-uploader {
    padding: 0;
  }

  .e-card-header-caption {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .upload-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 9px 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    color: $primary-active-blue-10;

    &:hover,
    &:focus {
      background-color: $primary-active-blue-70;
      border-color: transparent;
    }

    &.disable {
      color: $primary-active-blue-60;

      &:hover,
      &:focus {
        background-color: $primary-active-blue-90;
      }
    }

    i-feather {
      vertical-align: bottom;
    }
  }
}
