<div>
<button ejs-button cssClass="e-flat action-icon">
<span><i-feather name="message-square" class="icon"></i-feather></span>
</button>
<button
ejs-button
cssClass="e-flat lockicon"
[disabled]="btnDisabledLock()"
(click)="btnClickedHandler($event)">
<span><i-feather [name]="params.data.isLocked ? 'lock' : 'unlock'" class="icon"></i-feather></span>
</button>
<button
ejs-dropdownbutton
[items]="params.data.isMoreMenuWithDeleteButton ? params.moreMenuWithDeleteButton : params.moreMenuWithCloseButton"
(select)="menuOptionSelected($event)"
cssClass="e-flat action-icon">
<span><i-feather name="more-vertical" class="icon"></i-feather></span>
</button>
</div>