.lockicon{
    color: #ff5858 !important;
    padding: 10px 10px !important;
    margin-left: 5px;
}
.lockicon:hover{
    background-color: #ffbbbb !important;
}

.action-icon{
    
    color: #677089 !important;
    padding: 10px 3px !important;
    margin-left: 5px;
}

.action-icon:hover{
    color: #3e7fff !important;
    background-color: #c5d9ff !important;
}

