<section class="container">
  <section class="header-container">
    <div class="e-card-header">
      <div class="e-card-header-caption candidat-status">
        <h3 class="e-card-title">{{candidate?.lastName}}, {{candidate?.firstName}}</h3>
        <ejs-chiplist *ngIf="isTab && candidate.candidateStatus">
          <e-chips>
            <e-chip [text]="candidatStatus[candidate.candidateStatus]" [cssClass]="candidatStatus[candidate.candidateStatus] | chipsCssClass"></e-chip>
          </e-chips>
        </ejs-chiplist>
      </div>
      <div class="e-card-content button-container">
        <div class="input-group dropdown bootstrap" *ngIf="!isRejected">
          <ejs-dropdownlist [fields]="optionFields"
                            [dataSource]="nextApplicantStatuses"
                            placeholder="Select Status"
                            (change)="updateCandidateJob($event)">
          </ejs-dropdownlist>
        </div>
        <button *ngIf="!isTab" ejs-button cssClass="e-flat close-button" (click)="onCloseDialog()">
          <i-feather name="x" class="icon"></i-feather>
        </button>
      </div>
    </div>
  </section>
  <section class="content-container">
    <div class="job-details">
      <ejs-accordion expandMode="Single">
        <e-accordionitems>
          <e-accordionitem expanded="true">
            <ng-template #header>
              <div>Job Details</div>
            </ng-template>
            <ng-template #content>
              <form [formGroup]="formGroup">
                <div class="d-flex bootstrap">
                  <div class="input-container f-grow-2">
                    <label>Job ID</label>
                    <div class="input-group input-readonly">
                      <input formControlName="jobId" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container">
                    <label>Bill Rate</label>
                    <div class="input-group input-readonly">
                      <input formControlName="orderBillRate" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Job Date</label>
                    <div class="input-group input-readonly">
                      <ejs-daterangepicker formControlName="jobDate" readonly="true"></ejs-daterangepicker>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Candidate Bill Rate</label>
                    <div class="input-group input-readonly">
                      <input formControlName="candidateBillRate" class="e-input" type="number" readonly/>
                    </div>
                  </div>
                  <div class="input-container">
                    <label>Offered Bill Rate<span *ngIf="!readOnlyMode" class="required">*</span></label>
                    <div class="input-group" [ngClass]="{'input-readonly': readOnlyMode}">
                      <input appValidateWithMessage
                             [readonly]="readOnlyMode"
                             formControlName="offeredBillRate"
                             class="e-input"
                             type="number"/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Location</label>
                    <div class="input-group input-readonly">
                      <input formControlName="locationName" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Available Start Date</label>
                    <div class="input-group input-readonly">
                      <ejs-datepicker appValidateWithMessage
                                      class="datepicker"
                                      format="MM/dd/yyyy"
                                      readonly="true"
                                      formControlName="availableStartDate">
                      </ejs-datepicker>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Leave request comments</label>
                    <div class="input-group input-readonly">
                      <input formControlName="requestComment" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap" *ngIf="isRejected">
                  <div class="input-container">
                    <label>Rejection Reason</label>
                    <div class="input-group input-readonly">
                      <input formControlName="rejectReason" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>Historical Events</div>
            </ng-template>
            <ng-template #content>
              <app-historical-events [organizationId]="candidateJob?.organizationId || -1" [candidateJobId]="candidate.candidateJobId"></app-historical-events>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <div class="comments">
      <app-comments></app-comments>
    </div>
  </section>
  <section class="bill-rates">
    <app-bill-rates #billRates
                    [billRates]="billRatesData"
                    [isActive]="true"
                    (billRatesChanged)="onBillRatesChanged()">
    </app-bill-rates>
  </section>
</section>

<app-reject-reason-dialog
  [rejectReasonsList]="rejectReasons"
  [openEvent]="openRejectDialog"
  (applyReject)="onRejectCandidate($event)"
></app-reject-reason-dialog>
