.credential-expiry-section {
    display: flex;
    height: 65%;
    padding-top: 20px !important;
  }
  
  .form-line {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
  
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  
    > *:not(:first-child) {
      box-sizing: border-box;
      padding-left: 10px;
    }
  }
  
  .form-line-item-20 {
    width: 20%;
  }
  
  .form-line-item-25 {
    width: 25%;
  }
  
  .form-line-item-30 {
    width: 30%;
  }
  
  .form-line-item-40 {
    width: 40%;
  }
  
  .form-line-item-50 {
    width: 50%;
  }
  
  .form-line-item-60 {
    width: 60%;
  }
  