@import 'adaptive-response';

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .flex-50 {
    width: 50%;
  }
  
  @media #{$max-mobile} {
    flex-direction: column;

    .flex-50 {
      width: 100%;
    }
  }

  .dropdown-container {
    margin-bottom: 15px;

    label {
      margin-bottom: 5px !important;
      display: block;
    }
  }
}
