@import "colors";

:host {
  display: contents;
}

.table-row {
  .candidate-cell {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    border-bottom: 1px solid $secondary-dark-blue-45;
  }

  .table-cell{
    margin: 0;
    padding: 0;

    &:nth-child(2) {
      border-left: 1px solid $secondary-dark-blue-45;
    }

    .date-slot {
      height: 130px;
      border: 1px solid $secondary-dark-blue-45;
      border-top: none;
      border-left: none;
      cursor: pointer;

      &.selected {
        border: 1px solid $primary-active-blue;
      }

      &:hover {
        border: 1px solid $primary-active-blue-10;
      }

      .day {
        font-weight: 400;
        font-size: 12px;
        padding: 4px;
      }
    }
  }

  .disabled-cell {
    height: 130px;
    position: relative;
    cursor: default !important;

    .day {
      opacity: 0.5;
    }

    i-feather {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      color: $secondary-dark-blue-40;
    }
  }
}

.fixed {
  position: absolute;
  z-index: 10;
  background: $white;

  &--top {
    top: 0;
    z-index: 20;
  }

  &--left {
    left: 0;
  }
}
