<section class="container">
  <div class="tools-button-group" *ngIf="isToolButtonsShown">
    <button
      ejs-button
      id="filterButton"
      cssClass="e-outline button-filter">Filters <i-feather name="sliders" class="icon"></i-feather></button>
    <button
      ejs-button
      id="addCredentialButton"
      [isPrimary]="true"
      (click)='onAddCredentialClick()'>Add Credential</button>
  </div>

  <ejs-tab
    id="navigationTabs"
    #navigationTabs
    (selected)="onTabSelected($event)"
  >
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText>
          <div>Credential</div>
        </ng-template>
        <ng-template #content>
          <app-master-credential [isActive]="isCredentialActive"></app-master-credential>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText>
          <div>Credentials Types</div>
        </ng-template>
        <ng-template #content>
          <app-master-credentials-types [isActive]="isCredentialsTypesActive"></app-master-credentials-types>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</section>
