@import 'colors';

.container {
  height: 100%;

  .tools-button-group {
    position: absolute;
    right: 0;
    padding: 25px;
    z-index: 1;

    .button-filter {
      margin-right: 12px;
    }

    .button-export {
      margin-right: 12px;
    }
  }

  .e-tab {
    .e-tab-header {
      padding-top: 18px;
    }
  }
}

.form-container {
  .input-container {
    margin-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }
  }
}

ejs-tab {
  height: 100% !important;

  .e-content.e-lib.e-touch {
    height: calc(100% - 62px) !important;

    .e-item.e-active {
      height: 100% !important;

      #activeTab {
        height: 100% !important;
      }
    }
  }
}

