<section [formGroup]="partnershipForm" id="partnershipForm" class="partnership-settings">
  <div class="horizontal-flex bootstrap">
    <div class="input-group dropdown status-selector-container">
      <label>Partnership Status</label>
      <ejs-dropdownlist
        appValidateWithMessage
        formControlName="status"
        [allowFiltering]="true"
        [fields]="optionFields"
        [dataSource]="partnershipStatus"
      ></ejs-dropdownlist>
    </div>
    <div class="input-group dropdown" *ngIf="partnershipForm.get('status')?.value === partnerStatuses.Suspended">
      <label>Suspension Start Date <span class="required">*</span></label>
      <ejs-datepicker
        class="datepicker"
        format="MM/dd/yyyy"
        placeholder="MM/DD/YYYY"
        appValidateWithMessage
        formControlName="suspentionDate"
        [min]="minDate"
        [serverTimezoneOffset]="0"
      >
      </ejs-datepicker>
    </div>
  </div>

  <section class="main-content">
    <section class="job-distribution bootstrap" *ngIf="jobDistributionInitialData$ | async as jobDistributionInitialData">
      <h3 class="title">Job Distribution</h3>
      <div class="flex-wrapper">
        <div class="flex-50">
          <div class="dropdown-container">
            <label>Region</label>
            <div class="input-group dropdown input-readonly">
              <ejs-multiselect
                mode="CheckBox"
                appValidateWithMessage
                formControlName="regionNames"
                [allowFiltering]="true"
                [showSelectAll]="true"
                [fields]="optionRegions"
                [readonly]="true"
                [dataSource]="jobDistributionInitialData.regions"
              ></ejs-multiselect>
            </div>
          </div>
          <div class="dropdown-container">
            <label>Order Type</label>
            <div class="input-group dropdown input-readonly">
              <ejs-multiselect
                mode="CheckBox"
                appValidateWithMessage
                formControlName="orderTypes"
                [allowFiltering]="true"
                [showSelectAll]="true"
                [fields]="optionFields"
                [readonly]="true"
                [dataSource]="orderType"
              ></ejs-multiselect>
            </div>
          </div>
        </div>

        <div class="flex-50">
          <div class="dropdown-container">
            <label>Classification</label>
            <div class="input-group dropdown input-readonly">
              <ejs-multiselect
                mode="CheckBox"
                [allowFiltering]="true"
                [showSelectAll]="true"
                formControlName="classifications"
                [fields]="optionFields"
                [readonly]="true"
                [dataSource]="classification"
              ></ejs-multiselect>
            </div>
          </div>
          <div class="dropdown-container">
            <label>Skill Category</label>
            <div class="input-group dropdown input-readonly">
              <ejs-multiselect
                mode="CheckBox"
                appValidateWithMessage
                [allowFiltering]="true"
                [showSelectAll]="true"
                [readonly]="true"
                formControlName="skillCategoryIds"
                [fields]="optionFields"
                [dataSource]="jobDistributionInitialData.skillCategories"
              ></ejs-multiselect>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="display: none"> <!--TODO: (style="display: none") temporary solution to hide the VMS Settings EIN-5900-->
      <h3 class="title">VMS Settings</h3>
      <div class="flex-wrapper checkbox-section bootstrap">
        <div class="flex-30">
          <ejs-checkbox label="Allow On board" formControlName="allowOnBoard"></ejs-checkbox>
          <ejs-checkbox label="Exclude Min years of experience to Apply" formControlName="excludeExperience"></ejs-checkbox>
          <ejs-checkbox label="Update by self" formControlName="updateBySelf"></ejs-checkbox>
          <ejs-checkbox label="Do not allow to apply" formControlName="applyProhibited"></ejs-checkbox>
        </div>
        <div class="flex-30">
          <ejs-checkbox label="Allow deploy w/o credentials" formControlName="allowDeployCredentials"></ejs-checkbox>
          <ejs-checkbox label="Send email to candidate for distribution" formControlName="sendCandidateDistributionEmail"></ejs-checkbox>
          <ejs-checkbox label="Load other agency candidate details" formControlName="loadAgencyCandidateDetails"></ejs-checkbox>
        </div>
        <div class="flex-30"></div>
      </div>
    </section>

    <section style="display: none"> <!--TODO: (style="display: none") temporary solution to hide the VMS Settings EIN-5900-->
      <div class="flex-wrapper">
        <div class="flex-50">
          <div class="dropdown-container bootstrap submission">
            <label>Submission % override when applying</label>
            <div class="input-group dropdown">
              <ejs-dropdownlist
                appValidateWithMessage
                formControlName="submissionPercentageOverrideRestriction"
                placeholder="Submission"
                [fields]="optionFields"
                [allowFiltering]="true"
                [dataSource]="submission"
              ></ejs-dropdownlist>
            </div>
          </div>
        </div>
        <div class="flex-50"></div>
      </div>
    </section>
  </section>
</section>
