@import "colors";
@import 'adaptive-response';

.partnership-settings {
  .main-content {
    background-color: $secondary-dark-blue-50;
    border-radius: 4px;
    padding: 20px;
  }

  .title {
    font-weight: 700;
    color: $title-black;
    margin: 0 0 16px;
    font-size: 16px;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;

    .flex-50 {
      width: 50%;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    .flex-30 {
      width: calc(100% / 3);



      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  .checkbox-section {
    ejs-checkbox {
      display: block !important;
      margin-bottom: 12px;
    }
  }

  section:not(:last-child) {
    margin-bottom: 12px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  .dropdown-container {
    margin-bottom: 12px;


    &.status-container {
      display: flex;
    }

    .input-group.input-readonly {
      .e-input[readonly], ejs-multiselect .e-input-group {
        background-color: $secondary-dark-blue-50;
        color: $secondary-dark-blue-10;

        &:hover,
        &:focus {
          border: 1px solid $secondary-dark-blue-40 !important;
        }
      }
    }
  }

  .submission {
    max-width: 80%;
  }
}

.horizontal-flex {
  display: flex;
  margin-bottom: 20px;
}

.status-selector-container {
  margin-right: 15px;
}

@media #{$max-mobile} {
  .horizontal-flex {
    .input-group {
      width: 100%;
      margin-right: 0;
    }
  }

  .partnership-settings .flex-wrapper {
    flex-direction: column;

    .flex-50 {
      width: 100%;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  :host {
    display: block;
    padding-bottom: 60px;
  }
}
