<app-close-order-side-dialog
  header="Close {{dialogTitleType}}"
  (isPositionEmitter)="setCloseDateAvailability($event)"
  (formCancelClicked)="onCancel()"
  (formSaveClicked)="onSave()">
  <form class="close-form" [formGroup]="closeForm">
    <div class="input-container bootstrap">
      <label for="reason">Reason <span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          id="reason"
          appValidateWithMessage
          [dataSource]="(closureReasonsPage$ | async)?.items"
          [fields]="reasonFields"
          formControlName="reasonId">
        </ejs-dropdownlist>
      </div>
    </div>
    <app-datepicker
      [formGroupInstance]="closeForm"
      [enableMask]="true"
      [min]="minDate"
      [required]="true"
      [maskPlaceholder]="datepickerMask"
      id="date"
      controlName="closingDate"
      label="Closing Date"
      format="MM/dd/yyyy"
      placeholder="MM/DD/YYYY"
    ></app-datepicker>
    <app-comments [useBackground]="false"></app-comments>
    <p class="warning">
      <i-feather name="alert-circle" class="icon"></i-feather>
      <span>
        Closing a position will permanently close it without the ability to reverse the action!
      </span>
    </p>
  </form>
</app-close-order-side-dialog>
