<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme">
    <ng-template #header>
        <div class="positions-count-day-range-chart__title">
          <h3 class="widget-header__title">{{chartData?.title}}</h3>
        </div>
        <div class="positions-count-day-range-chart__tooltip" *ngIf="description.length>0">
          <ejs-tooltip [content]="description" position='TopCenter'>
            <span class="mytooltip">
              <i-feather name="info" id="info"
                         [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
            </span>
          </ejs-tooltip>
        </div>
      </ng-template>
    <ng-template #positions_count_day_range>
        <section>
          <header>
            <div class="col center"><span>Status</span></div>
            <div class="col w-50">
              <div class="middle-col-header pos-center">
                <div class="row middle-cell">Day Range</div>
                <div class="row flex-container">
                  <div>1-3</div>
                  <div>4-7</div>
                  <div>8-14</div>
                  <div>15-30</div>
                  <div>30+</div>
                </div>
              </div>
            </div>
            <div class="col center"><span>Total<br> Positions</span></div>
          </header>
         <div class="row" *ngFor="let data of chartData?.chartData">
            <div class="col"><span>{{data.label}}</span></div>
            <div class="middle-col">
              <div class="row flex-container">
                <div>{{data.count3}}</div>
                <div>{{data.count7}}</div>
                <div>{{data.count15}}</div>
                <div>{{data.count30}}</div>
                <div>{{data.count30Plus}}</div>
              </div>
            </div>            
            <div class="col">{{data.value}}</div>
          </div>
        </section>

    </ng-template>
</app-widget-wrapper>
