@import "colors";

.positions-count-day-range-chart {
  &__title {
    width: 95%;
  }

  &__tooltip {
    text-align: right;
    width: 5%;
  }

}

section {
    display: table;
    width: 100%;
    margin-top: 10px;
  }
  
  section > * {
    display: table-row;
  }

  header .col {
    display: table-cell;
    border-bottom: solid 1px;
    border-bottom-color: #babfc7;
    border-bottom-color: var(--ag-border-color, #babfc7);
    color: $secondary-dark-blue-15;
  }
  section .row .col:last-child {
    text-align: center;
    color: $black;
    font-weight: 800;
  }
  
  .row .col{
    display: table-cell;
    background-color: $white;
    background-color: var(--ag-background-color, $white);
    color: $black-pearl;
    color: var(--ag-data-color, var(--ag-foreground-color, $black-pearl));
    border-width: 1px;
    border-color: $primary-active-blue-90;
    border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, $primary-active-blue-90));
    border-bottom-style: solid;
    padding: 6px 2px;
   .label{
        height: 20px;
        text-transform: uppercase;
        border-color: transparent;
        color: $white;
        align-items: center;
        border: 0 solid;
        border-radius: 14px;
        box-shadow: none;
        box-sizing: border-box;     
        line-height: 20px;
    }
  }

  section span{
    font-weight: 800;
    text-transform: uppercase;
  }

  section .subcol {
    display: table-cell;
    border-collapse: collapse;   
  }
  .border-top{
    border-top: 1px solid $pure-black;
  }
  .middle-col-header{
    display: table;
    width: 100%;
    padding: 6px 2px;
  }
  .middle-col{
    display: table;
    width: 100%;
    background-color: $white;
    background-color: var(--ag-background-color, $white);
    color: $black-pearl;
    color: var(--ag-data-color, var(--ag-foreground-color, $black-pearl));
    border-width: 1px;
    border-color: $primary-active-blue-90;
    border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, $primary-active-blue-90));
    border-bottom-style: solid;
    padding: 10px 2px;
  }

  .flex-container {
    display: table-row;
  }
  
  .flex-container>div {
    width: 20%;
    text-align: center;
    padding-right: 2px;
    display: table-cell;
  }
  .range{
    border-left-style: solid;
    border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, $primary-active-blue-90));
    border-width: 1px;
    font-weight: 800;
    color: $secondary-dark-blue-15;
  }
  .middle-col-header .flex-container div{
    text-align:center;
    padding-right: 0px;
    display: table-cell;
  }

  header .middle-cell{
    display: table-caption;
    font-weight: 800;
    line-height: 30px;
    color: $black-pearl;
    color: var(--ag-data-color, var(--ag-foreground-color, $black-pearl));
    border-width: 1px;
    border-color: $primary-active-blue-90;
    border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, $primary-active-blue-90));
    border-bottom-style: solid;
  }
  .pos-center{
    text-align: center;
  }
  .center{
    text-align: center;
    vertical-align: bottom;
  }

  .w-50{
    width: 50%;
  }

  .w-30{
    width: 30%;
  }
  .ml-20{
    margin-left: 20px;
  }
  .mlr-20{
    margin: 0px 20px;
    text-align: center;
  }