@import "colors";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.edit-action {
  color: $primary-active-blue-10
}

.comment {
  color: $secondary-dark-blue-20;
  margin-right: 17px;
}
