<div class="row-tool-buttons">
  <button ejs-button [disabled]="!canCreateOrder" cssClass="e-flat primary-icon-button" (click)="onOpen()">
    <i-feather name="message-square" class="icon comment"></i-feather>
  </button>
  <button
    *ngIf="(isOrganizationAgencyArea$ | async)?.isOrganizationArea"
    ejs-button
    [disabled]="!canCreateOrder"
    cssClass="e-flat primary-icon-button edit"
    (click)="onEdit()"
  >
    <span><i-feather name="edit" class="icon"></i-feather></span>
  </button>
</div>
