@import 'colors';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: $primary-active-blue-10;
}

.comment {
  color: $secondary-dark-blue-20;
}

button.e-control.e-btn {
  padding: 8px 10px;

  i-feather {
    margin-left: 0;
  }

  &.edit:hover {
    background-color: $primary-active-blue-70;
  }
}
