<section class="container">
  <section class="controls-container">
    <div class="left-content">
      <section class="setup-details bootstrap">
        <div class="input-container">
          <label for="credentialsDropDown">Credentials</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="credentialsDropDown"
              class="credentials-dropdown"
              placeholder="Credentials"
              [dataSource]="credentials"
              [value]="initialValue"
              (change)="onCredentialsDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="credentialTypeDropDown">Credential Type</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="credentialTypeDropDown"
              class="credential-type-dropdown"
              placeholder="Credential Type"
              [dataSource]="credentialType$ | async"
              [fields]="credentialTypesFields"
              (change)="onCredentialTypeDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container" *ngIf="isRegionDropDownShown">
          <label for="regionDropDown">Region</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="regionDropDown"
              class="region-dropdown"
              placeholder="Region"
              [dataSource]="regions$ | async"
              [fields]="regionFields"
              (change)="onRegionDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="groups-filter">
          <div class="input-container" *ngIf="isGroupDropDownShow">
            <label for="groupDropDown">Group</label>
            <div class="input-group">
              <ejs-dropdownlist
                id="groupDropDown"
                class="group-dropdown"
                placeholder="Group"
                [dataSource]="groups$ | async"
                [fields]="skillGroupsFields"
                (change)="onGroupDropDownChanged($event)"
              ></ejs-dropdownlist>
            </div>
          </div>
        </div>

        <div class="input-container" *ngIf="isSkillDropDownShown">
          <label for="skillDropDown">Skill</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="skillDropDown"
              class="skill-dropdown"
              placeholder="Skill"
              [dataSource]="skills$ | async"
              [enabled]="isSkillDropDownEnabled"
              (change)="onSkillDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>
      </section>
    </div>
    <div class="right-content">
      <div class="tools-button-group" *ngIf="isSkillDropDownShown">
        <button
          ejs-button
          id="groupSetup"
          cssClass="e-outline button-filter"
          (click)="onGroupsSetupClick()"
        >Groups Setup</button>
      </div>
    </div>
  </section>

  <section class="grid">
    <ejs-grid
      #grid
      [dataSource]="gridDataSource"
      [allowPaging]="allowPaging"
      [pageSettings]="pageSettings"
      [height]="gridHeight"
      [rowHeight]="rowHeight"
      [resizeSettings]="resizeSettings"
      [allowSorting]="allowSorting"
      [allowResizing]="allowResizing"
    >
      <e-columns>
        <e-column field="description" headerText="CREDENTIAL DESC" width=200></e-column>
        <e-column field="includeExclude" headerText="INCLUDE/EXCLUDE" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container">
              <ejs-checkbox (change)="onIncludeExcludeChange($event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="reqForSubmission" headerText="REQ.FOR SUBMISSION" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container">
              <ejs-checkbox (change)="onReqForSubmissionChange($event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="reqForOnboard" headerText="REQ.FOR ONBOARD" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container">
              <ejs-checkbox (change)="onReqForOnboardChange($event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="inactiveDate" headerText="INACTIVE DATE" type='date' format="MM/dd/yyyy" width=200></e-column>
        <e-column field="comments" headerText="COMMENTS" width=400>
          <ng-template #template let-data>
            <div class="text-container">
              {{data.comments}}
            </div>
            <a (click)="onViewMoreLessTextClick()">
              {{ isReadMore ? 'view more': 'view less' }}
            </a>
          </ng-template>
        </e-column>
        <e-column textAlign="Right" width=90>
          <ng-template #template let-data>
            <div class="row-tool-buttons">
              <span class="edit-button" (click)="onEditButtonClick(data)"><i-feather name="edit" class="icon"></i-feather></span>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
      <ng-template #pagerTemplate let-data>
        <div class="e-pagertemplate">
          <div class="control-section">
            <div class="content-wrapper">
              <section class="left-side-pager-controls">
                <ejs-dropdownlist
                  id="rowsPerPage"
                  class="dropdown-no-border"
                  [dataSource]="rowsPerPageDropDown"
                  [(value)]="activeRowsPerPageDropDown"
                  (change)="onRowsDropDownChanged()"
                >
                </ejs-dropdownlist>
                <ejs-numerictextbox
                  id="goToPage"
                  class="numeric-input-no-border"
                  format="#"
                  [validateDecimalOnType]="validateDecimalOnType"
                  [decimals]="decimals"
                  placeholder="Go to:"
                  min="1" [max]="lastAvailablePage"
                  [showSpinButton]="false"
                  (change)="onGoToClick($event)"
                >
                </ejs-numerictextbox>
              </section>
              <section class="right-side-pager-controls">
                <ejs-pager
                  id="gridPager"
                  #gridPager
                  [pageSize]="pageSizePager"
                  [totalRecordsCount]="totalDataRecords"

                  [enablePagerMessage]="false"
                  [currentPage]="currentPagerPage"
                  (click)="onGoToClick($event)"
                >
                </ejs-pager>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </section>

  <app-side-dialog
    *ngIf="isActive"
    (formCancelClicked)="onFormCancelClick()"
    (formSaveClicked)="onFormSaveClick()"
    [header]="'Edit Credential'"
    [width]="'436px'"
  >
    <form
      class="form-container bootstrap"
      id="editRecordForm"
      [formGroup]="credentialsSetupFormGroup"
    >
      <div>
        <div class="input-container">
          <label for="description">Credential Desc</label>
          <div class="input-group">
            <input id="description"
                   class="e-input"
                   type="text"
                   placeholder="Credential Description"
                   formControlName="description"/>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container">
          <label for="comments">Comment</label>
          <div class="input-group">
            <ejs-textbox
              id="comments"
              class="e-input"
              type="text"
              maxlength="100"
              [multiline]="true"
              placeholder="Credential Description"
              formControlName="comments"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container calendar">
          <label for="inactiveDate">Inactive Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker
              id="inactiveDate"
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              [enableMask]="true"
              [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
              formControlName="inactiveDate"
            >
            </ejs-datepicker>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="include"
              label="Include"
              formControlName="include"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForSubmission"
              label="Req. For Submission"
              formControlName="reqForSubmission"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForOnboard"
              label="Req. For Onboard"
              formControlName="reqForOnboard"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>
</section>
