@import '../../../../../styles/variables/colors';
$gap: 12px;

.container {

  .controls-container {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .left-content {
      ejs-dropdownlist.e-control {
        span.e-input-group {
          height: 40px !important;
        }
      }

      & > *:not(:last-child) {
        margin-right: $gap;
      }

      .setup-details {
        display: flex;

        .credentials-dropdown,
        .credential-type-dropdown,
        .region-dropdown,
        .skill-dropdown,
        .group-dropdown {
          margin-right: 12px;
        }

        .groups-filter {
          display: flex;
          align-items: end;
        }
      }
    }
  }

  textarea.e-input,
  .e-float-input textarea,
  .e-float-input.e-control-wrapper textarea,
  .e-input-group textarea,
  .e-input-group.e-control-wrapper textarea {
    resize: none;
  }
}

.form-container {
  .input-container {
    margin-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }

    ejs-datepicker.datepicker {
      .e-input-group.e-control-wrapper.e-date-wrapper {
        width: 198px !important;
        height: 40px !important;
      }
    }
  }
}
