<section class="container">
  <section class="controls-container">
    <div class="left-content">
      <section class="setup-details bootstrap">
        <div class="input-container">
          <label for="credentialsDropDown">Credentials</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="credentialsDropDown"
              class="credentials-dropdown"
              placeholder="Credentials"
              [dataSource]="credentials$ | async"
              (change)="onCredentialsDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="credentialTypeDropDown">Credential Type</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="credentialTypeDropDown"
              class="credential-type-dropdown"
              placeholder="Credential Type"
              [dataSource]="credentialType$ | async"
              (change)="onCredentialTypeDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container" *ngIf="isRegionDropDownShown">
          <label for="regionDropDown">Region</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="regionDropDown"
              class="region-dropdown"
              placeholder="Region"
              [dataSource]="regions$ | async"
              [fields]="regionFields"
              (change)="onRegionDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container" *ngIf="isSkillDropDownShown">
          <label for="skillDropDown">Skill</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="skillDropDown"
              class="skill-dropdown"
              placeholder="Skill"
              [dataSource]="skills$ | async"
              (change)="onSkillDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="groups-filter">
          <div class="input-container " *ngIf="isGroupDropDownShow">
            <label for="groupDropDown">Group</label>
            <div class="input-group">
              <ejs-dropdownlist
                id="groupDropDown"
                class="group-dropdown"
                placeholder="Group"
                [dataSource]="groups$ | async"
                (change)="onGroupDropDownChanged($event)"
              ></ejs-dropdownlist>
            </div>
          </div>

          <div class="input-container " *ngIf="isAddGroupButtonShown">
            <button
              ejs-button
              cssClass="e-flat text-button-with-icon"
              (click)="onAddGroupClick()"
            ><i-feather name="plus" class="icon"></i-feather> Add Group</button>
          </div>
        </div>
      </section>
    </div>
    <div class="right-content">
      <div class="tools-button-group">
        <button
          ejs-button
          id="filterButton"
          cssClass="e-outline button-filter">Filters <i-feather name="sliders" class="icon"></i-feather></button>
      </div>
    </div>
  </section>

  <section class="grid">
    <ejs-grid
      #grid
      [dataSource]="gridDataSource"
      [allowPaging]="allowPaging"
      [pageSettings]="pageSettings"
      [height]="gridHeight"
      [rowHeight]="rowHeight"
      [resizeSettings]="resizeSettings"
      [allowSorting]="allowSorting"
      [allowResizing]="allowResizing"
    >
      <e-columns>
        <e-column field="credentialDesc" headerText="CREDENTIAL DESC" width=200></e-column>
        <e-column field="includeExclude" headerText="INCLUDE/EXCLUDE" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container">
              <ejs-checkbox (change)="onIncludeExcludeChange($event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="reqForSubmission" headerText="REQ.FOR SUBMISSION" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container">
              <ejs-checkbox (change)="onReqForSubmissionChange($event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="reqForOnboard" headerText="REQ.FOR ONBOARD" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container">
              <ejs-checkbox (change)="onReqForOnboardChange($event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="inactiveDate" headerText="INACTIVE DATE" type='date' format="MM/dd/yyyy" width=200></e-column>
        <e-column field="comments" headerText="COMMENTS" width=200></e-column>
        <e-column textAlign="Right" width=120>
          <ng-template #template let-data>
            <div class="row-tool-buttons">
              <span class="edit-button" (click)="onEditButtonClick(data)"><i-feather name="edit" class="icon"></i-feather></span>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
      <ng-template #pagerTemplate let-data>
        <div class="e-pagertemplate">
          <div class="control-section">
            <div class="content-wrapper">
              <section class="left-side-pager-controls">
                <ejs-dropdownlist
                  id="rowsPerPage"
                  class="dropdown-no-border"
                  [dataSource]="rowsPerPageDropDown"
                  [(value)]="activeRowsPerPageDropDown"
                  (change)="onRowsDropDownChanged()"
                >
                </ejs-dropdownlist>
                <ejs-numerictextbox
                  id="goToPage"
                  class="numeric-input-no-border"
                  format="#"
                  [validateDecimalOnType]="validateDecimalOnType"
                  [decimals]="decimals"
                  placeholder="Go to:"
                  min="1" [max]="lastAvailablePage"
                  [showSpinButton]="false"
                  (change)="onGoToClick($event)"
                >
                </ejs-numerictextbox>
              </section>
              <section class="right-side-pager-controls">
                <ejs-pager
                  id="gridPager"
                  #gridPager
                  [pageSize]="pageSizePager"
                  [totalRecordsCount]="totalDataRecords"

                  [enablePagerMessage]="false"
                  [currentPage]="currentPagerPage"
                  (click)="onGoToClick($event)"
                >
                </ejs-pager>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </section>

  <app-side-dialog
    *ngIf="isActive"
    (formCancelClicked)="onFormCancelClick()"
    (formSaveClicked)="onFormSaveClick()"
    [header]="'Edit Credential'"
    [width]="'436px'"
  >
    <form
      class="form-container bootstrap"
      id="editRecordForm"
      [formGroup]="credentialsFormGroup"
    >
      <div>
        <div class="input-container">
          <label for="credentialDescription">Credential Desc</label>
          <div class="input-group">
            <input id="credentialDescription"
                   class="e-input"
                   type="text"
                   placeholder="Credential Description"
                   formControlName="credentialDescription"/>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container">
          <label for="credentialComment">Comment</label>
          <div class="input-group">
            <ejs-textbox
              id="credentialComment"
              class="e-input"
              type="text"
              maxlength="100"
              [multiline]="true"
              placeholder="Credential Description"
              formControlName="credentialComment"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container calendar">
          <label for="inactiveDate">Inactive Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker
              id="inactiveDate"
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              [enableMask]="true"
              [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
              formControlName="inactiveDate"
            >
            </ejs-datepicker>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="includeCheckbox"
              label="Include"
              formControlName="includeCheckbox"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForSubmissionCheckbox"
              label="Req. For Submission"
              formControlName="reqForSubmissionCheckbox"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForOnboardCheckbox"
              label="Req. For Onboard"
              formControlName="reqForOnboardCheckbox"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>
</section>

<ejs-dialog
  id="addGroupDialog"
  cssClass="add-group-dialog bootstrap"
  #addGroupDialog
  isModal="true"
  [visible]="false"
  showCloseIcon="true"
  (overlayClick)="hideDialog()"
  width="448px"
  height="259px"
>
  <ng-template #header>
    <section class="header-container">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <h3 class="e-card-title">Add Group</h3>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #content>
    <div>
      <div class="input-container">
        <label for="group">Group</label>
        <div class="input-group">
          <input id="group"
                 class="e-input"
                 type="text"
                 maxlength="50"
                 placeholder="New Group"/>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <div class="footer-buttons bootstrap">
      <div class="input-container">
        <div class="input-group">
          <button
            id="cancelButton"
            ejs-button
            cssClass="e-outline"
            (click)="hideDialog()">Cancel</button>
          <button
            id="saveButton"
            ejs-button
            [isPrimary]="true"
            (click)="onSaveNewGroupClick()">Save</button>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
