<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog invoice-details-container-dialog"
  [width]="'1180px'"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
  [target]="targetElement"
  (open)="onOpen($event)"
>
  <ng-template #content>
    <section
      *ngIf="invoiceDetail"
      class="container"
      [class.dark-theme]="isDarkTheme"
    >
      <div class="profile-details-header">
        <h3 class="username">Invoice ID {{ invoiceDetail.meta.formattedInvoiceNumber }}</h3>
        <div class="spacer"></div>
        <div class="header-actions">
          <div class="header-controls">
            <ng-container *ngIf="!(invoiceDetailsConfig.isMiddleTabletWidth || invoiceDetailsConfig.isMobile)">
              <!--TODO: (style="display: none") temporary solution to hide the export button EIN-5900-->
              <app-export-button style="display: none" (optionSelected)="export($event)"></app-export-button>
              <button ejs-button cssClass="e-outline print-btn" (click)="printInvoice()">
                Print
                <i-feather name="printer" class="icon"></i-feather>
              </button>
            </ng-container>

            <button
              *ngIf="invoiceDetailsConfig.isMiddleTabletWidth || invoiceDetailsConfig.isMobile"
              appHideBeforeSyncfusionLoad
              iconCss="e-icons"
              cssClass="e-caret-hide primary-icon-button menu-mobile"
              ejs-dropdownbutton
              [items]="mobileMenuOptions"
              (select)="onSelectMenuItem($event)"
            >
              <i-feather name="more-vertical" class="icon"></i-feather>
            </button>

            <div
              class="separator"
              *ngIf="!(invoiceDetailsConfig.isMiddleTabletWidth || invoiceDetailsConfig.isMobile)"
            ></div>

            <ng-container *ngIf="!invoiceDetailsConfig.isMobile" [ngTemplateOutlet]="changeStatusBtn"></ng-container>
          </div>

          <button ejs-button cssClass="e-flat close-button" (click)="closeInvoiceDetails()">
            <i-feather name="x" class="icon"></i-feather>
          </button>
        </div>
      </div>

      <div class="chip-container">
        <ejs-chiplist #chipList>
          <e-chips>
            <e-chip
              [text]="invoiceDetail.meta.invoiceStateText"
              [cssClass]="invoiceDetail.meta.invoiceStateText || '' | chipsCssClass"
            >
            </e-chip>
          </e-chips>
        </ejs-chiplist>
        <div *ngIf="invoiceDetailsConfig.isMobile" class="separator"></div>
        <div class="grouped">By {{ invoiceDetail.meta.aggregateByTypeText }}</div>
      </div>

      <div class="job-general-info tile-dark-blue">
        <app-invoice-detail-invoice-info
          [invoiceInfo]="invoiceDetail"
          [isMiddleTabletWidth]="invoiceDetailsConfig.isMiddleTabletWidth"
          (detailsOpen)="openPaymentDetails()"
        ></app-invoice-detail-invoice-info>
      </div>

      <div class="profile-table-block">
        <ng-container *ngIf="invoiceDetail">
          <app-grid
            [class.inactive]="!invoiceDetail.invoiceRecords.length"
            [columnDefinitions]="columnDefinitions"
            [isLoading]="isLoading"
            [rowData]="invoiceDetail.invoiceRecords"
            [totalRecordsCount]="invoiceDetail.invoiceRecords.length"
            [gridOptions]="gridOptions"
            [paginationPanel]="false"
            [adjustColumnsWidth]="true"
          ></app-grid>
          <ng-container *ngTemplateOutlet="tableFooter"></ng-container>

          <h3 class="profile-table-block__title">Summary</h3>
          <ng-container *ngIf="invoiceDetail.summary as summary">
            <app-grid
              [class.inactive]="!summary.length"
              [columnDefinitions]="columnSummaryDefinitions"
              [isLoading]="isLoading"
              [rowData]="summary"
              [totalRecordsCount]="summary.length"
              [gridOptions]="gridSummaryOptions"
              [paginationPanel]="false"
              [adjustColumnsWidth]="true"
            ></app-grid>
          </ng-container>
          <ng-container *ngTemplateOutlet="tableFooter; context: { $implicit: true }"></ng-container>
        </ng-container>
      </div>

      <div class="mobile-change-status-btn" *ngIf="invoiceDetailsConfig.isMobile">
        <ng-container [ngTemplateOutlet]="changeStatusBtn"></ng-container>
      </div>
    </section>
    <app-navigation-panel
      prevLabel="Previous Invoice"
      nextLabel="Next Invoice"
      [prevDisabled]="(prevId$ | async) === null"
      [nextDisabled]="(nextId$ | async) === null"
      (prevClick)="onNextPreviousOrder(false)"
      (nextClick)="onNextPreviousOrder(true)"
    ></app-navigation-panel>
  </ng-template>
</ejs-dialog>

<ng-template #tableFooter let-showHours>
  <div class="table-footer">
    <div *ngIf="showHours" class="total">
      <h5 class="total__value">{{ invoiceDetail.totals.total | numericalConverter }}</h5>
      <p class="total__text">Hours/Miles</p>
    </div>
    <div *ngIf="isAgency" class="total">
      <h5 class="total__value">$ {{ invoiceDetail.totals.feeTotal | numericalConverter }}</h5>
      <p class="total__text">Total Fee Amount</p>
    </div>
    <div class="total">
      <h5 class="total__value">$ {{ invoiceDetail.totals.calculatedTotal | numericalConverter }}</h5>
      <p class="total__text">Amount to be Paid</p>
    </div>
    <div *ngIf="isAgency" class="total">
      <h5 class="total__value">$ {{ invoiceDetail.totals.amount | numericalConverter }}</h5>
      <p class="total__text">Total Amount</p>
    </div>
  </div>
</ng-template>

<ng-template #changeStatusBtn>
  <button
    *ngIf="actionBtnText"
    ejs-button
    [disabled]="invoiceDetailsConfig.isActionBtnDisabled"
    cssClass="e-primary"
    class="relative change-status-btn"
    (click)="changeInvoiceStatus()"
  >
    {{ actionBtnText }}
    <ejs-tooltip
      *ngIf="invoiceDetailsConfig.isActionBtnDisabled"
      class="tooltip"
      content="Separate permission right is required"
      position="BottomCenter"
    >
    </ejs-tooltip>
  </button>
</ng-template>

<app-invoice-payment-details
  *ngIf="invoiceDetailsConfig.paymentDetailsOpen"
  [container]="sideDialog.element"
  [isDarkTheme]="isDarkTheme"
  (destroyDialog)="closePaymentDetails()"
  (editPaymentCheck)="openEditPayment($event)"
  (addPayment)="openAddPayment()"
>
</app-invoice-payment-details>

<app-invoice-add-payment
  *ngIf="invoiceDetailsConfig.addPaymentOpen"
  [invoicesToPay]="paymentRecords"
  [checkNumber]="editCheckNumber"
  [dialogTitle]="paymentDialogTitle"
  [container]="sideDialog.element"
  [isDarkTheme]="isDarkTheme"
  (destroyDialog)="closeAddPayment()"
>
</app-invoice-add-payment>
