<div class="row-tool-buttons action-renderer ag-grid-cell-renderer">
  <button ejs-button class="edit-button" cssClass="e-flat primary-icon-button" (click)="editCommitment()" [disabled]="isPast || !userPermission[userPermissions.ManageIrpCandidateProfile]">
    <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
  </button>
  <button
    ejs-button
    cssClass="e-flat secondary-icon-button"
    [disabled]="isPast || !userPermission[userPermissions.ManageIrpCandidateProfile]"
    class="remove-button"
    (click)="deleteCommitment()">
    <span><i-feather name="trash-2" class="icon"></i-feather></span>
  </button>
</div>
