<div class="e-gridcustomheader">
  <div class="title">
    <h3>Payment Details</h3>
  </div>
  <div class="actions">
    <app-tooltip-container [showToolTip]="!hasPermissions">
      <button
        [disabled]="!hasPermissions"
        ejs-button
        cssClass="e-outline add-payment-detail"
        (click)="addNew()">
        <i-feather name="plus" class="icon"></i-feather> Add Payment Detail
      </button>
    </app-tooltip-container>
  </div>
</div>
<ejs-grid
  #grid
  [dataSource]="data"
  [allowPaging]="allowPaging"
  [allowSelection]="false"
  [pageSettings]="pageSettings"
  [height]="gridHeight"
  [rowHeight]="rowHeight"
  [resizeSettings]="resizeSettings"
  [enableVirtualization]="false"
  [sortSettings]="initialSort"
  [allowSorting]="allowSorting"
  [allowResizing]="allowResizing"
  (dataBound)="dataBound()"
  class="e-gridwithheader"
>
  <e-columns>
    <e-column textAlign="Right" maxWidth="100">
      <ng-template #template let-data>
        <div class="row-tool-buttons">
          <button [disabled]="!hasPermissions" ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit(data)">
            <span><i-feather name="edit" class="icon"></i-feather></span>
          </button>
          <button [disabled]="!hasPermissions" ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemove(data)">
            <span><i-feather name="trash-2" class="icon"></i-feather></span>
          </button>
        </div>
      </ng-template>
    </e-column>
    <e-column field="mode" headerText="Mode" textAlign="left" [valueAccessor]="modeAccessor" minWidth="150"></e-column>
    <e-column field="payee" headerText="Payee" textAlign="left" minWidth="120"></e-column>
    <e-column field="bankAddress1" headerText="Address" textAlign="left" minWidth="160"></e-column>
    <e-column field="bankCity" headerText="City" textAlign="left" minWidth="140"></e-column>
    <e-column field="bankZipCode" headerText="Zip" textAlign="left" minWidth="120"></e-column>
    <e-column field="startDate" headerText="Start Date" textAlign="left" minWidth="140">
      <ng-template #template let-data>
        {{ data.startDate | date:'MM/dd/yyy'}}
      </ng-template>
    </e-column>
    <e-column field="bankName" headerText="Bank Name" textAlign="left" minWidth="160"></e-column>
    <e-column field="bankCountry" headerText="Country" textAlign="left" [valueAccessor]="countryAccessor" minWidth="140"></e-column>
    <e-column field="routingNumber" headerText="Routing Number" textAlign="left" minWidth="180"></e-column>
    <e-column field="accountHolderName" headerText="Account Holder Name" textAlign="left" minWidth="210"></e-column>
    <e-column field="accountHolderNumber" headerText="Account Holder Number" textAlign="left" minWidth="230"></e-column>
    <e-column field="accountHolderCountry" headerText="Account Holder Country" textAlign="left" [valueAccessor]="countryAccessor" minWidth="230"></e-column>
    <e-column field="netSuiteId" headerText="NS Payment Id" textAlign="left" minWidth="230"></e-column>
  </e-columns>
  <ng-template #pagerTemplate let-data>
    <div class="e-pagertemplate">
      <div class="control-section">
        <div class="content-wrapper">
          <section class="left-side-pager-controls">
            <ejs-dropdownlist
              id="rowsPerPage"
              class="dropdown-no-border"
              [dataSource]="rowsPerPageDropDown"
              [allowFiltering]="true"
              [(value)]="activeRowsPerPageDropDown"
            >
            </ejs-dropdownlist>
            <ejs-numerictextbox
              id="goToPage"
              class="numeric-input-no-border"
              format="#"
              placeholder="Go to:"
              min="1"
              [max]="10"
              [showSpinButton]="false"
            >
            </ejs-numerictextbox>
          </section>
          <section class="right-side-pager-controls">
            <!-- <ejs-pager id="gridPager" #gridPager [pageSize]="30" [totalRecordsCount]="30" [enablePagerMessage]="false" [currentPage]="1">
            </ejs-pager> -->
          </section>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-grid>

<app-payment-dialog
  (modalClose)="onPaymentFormCancel($event)"
  [dialogEvent]="$any(openEvent)"
  [onEdit]="editedPaymentsDetails"
  [paymentsList]="paymentsFormArray"
></app-payment-dialog>
