@import 'adaptive-response';

.payment-details-form {
  margin-top: 24px;

  & > * {
    margin-bottom: 12px;
  }

  .calendar {
    width: 50%;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

.add-payment-detail {
  border: none !important;

  i-feather {
    vertical-align: bottom;
  }
}

@media #{$max-mobile} {
  .add-payment-detail {
    .icon {
      margin: 0;
    }
  }
}
