<div class="e-gridcustomheader">
  <div class="title">
    <h3>Payment Details</h3>
  </div>
  <div class="actions">
    <span class="action-link" (click)="onFilter()"><i-feather name="sliders" class="icon"></i-feather> Filters</span>
    <span class="action-link" (click)="addNew()"><i-feather name="plus" class="icon"></i-feather> Add Payment Detail</span>
  </div>
</div>
<ejs-grid
  #grid
  [dataSource]="data"
  [allowPaging]="allowPaging"
  [allowSelection]="false"
  [pageSettings]="pageSettings"
  [height]="gridHeight"
  [rowHeight]="rowHeight"
  [resizeSettings]="resizeSettings"
  [sortSettings]="initialSort"
  [allowSorting]="allowSorting"
  [allowResizing]="allowResizing"
  (dataBound)="dataBound()"
  class="e-gridwithheader"
>
  <e-columns>
    <e-column field="mode" headerText="Mode" textAlign="Left" [valueAccessor]="modeAccessor"></e-column>
    <e-column field="payee" headerText="Payee" textAlign="left"></e-column>
    <e-column field="address" headerText="Address" textAlign="left"></e-column>
    <e-column field="city" headerText="City" textAlign="left"></e-column>
    <e-column field="zip" headerText="Zip" textAlign="left"></e-column>
    <e-column field="startDate" headerText="Start Date" textAlign="left">
      <ng-template #template let-data>
        {{ data.startDate | date:'yyy-MM-ddTHH:mm:ss'}}
      </ng-template>
    </e-column>
    <e-column textAlign="Right" width="120">
      <ng-template #template let-data>
        <div class="row-tool-buttons">
          <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit(data)">
            <span><i-feather name="edit" class="icon"></i-feather></span>
          </button>
          <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemove(data)">
            <span><i-feather name="trash-2" class="icon"></i-feather></span>
          </button>
        </div>
      </ng-template>
    </e-column>
  </e-columns>

  <ng-template #pagerTemplate let-data>
    <div class="e-pagertemplate">
      <div class="control-section">
        <div class="content-wrapper">
          <section class="left-side-pager-controls">
            <ejs-dropdownlist
              id="rowsPerPage"
              class="dropdown-no-border"
              [dataSource]="rowsPerPageDropDown"
              [(value)]="activeRowsPerPageDropDown"
            >
            </ejs-dropdownlist>
            <ejs-numerictextbox
              id="goToPage"
              class="numeric-input-no-border"
              format="#"
              placeholder="Go to:"
              min="1"
              [max]="10"
              [showSpinButton]="false"
            >
            </ejs-numerictextbox>
          </section>
          <section class="right-side-pager-controls">
            <!-- <ejs-pager id="gridPager" #gridPager [pageSize]="30" [totalRecordsCount]="30" [enablePagerMessage]="false" [currentPage]="1">
            </ejs-pager> -->
          </section>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-grid>

<app-side-dialog (formCancelClicked)="onPaymentFormCancel()" (formSaveClicked)="onPaymentFormSave()" [header]="'Add Payment Details'">
  <form class="payment-details-form bootstrap" id="addPaymentForm" [formGroup]="paymentDetailsForm">
    <div class="dropdown-container">
      <label>Mode<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          appValidateWithMessage
          [fields]="optionFields"
          formControlName="mode"
          [dataSource]="paymentMode"
          placeholder="Mode"
        ></ejs-dropdownlist>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="payee">Payee<span class="required">*</span></label>
        <div class="input-group">
          <input id="payee" class="e-input" type="text" appValidateWithMessage placeholder="Payee" formControlName="payee" maxlength="50" />
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="address">Address</label>
        <div class="input-group">
          <input
            id="address"
            class="e-input"
            type="text"
            appValidateWithMessage
            placeholder="Address"
            formControlName="address"
            maxlength="500"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="city">City</label>
        <div class="input-group">
          <input id="city" class="e-input" type="text" appValidateWithMessage placeholder="City" formControlName="city" maxlength="20" />
        </div>
      </div>
    </div>

    <div class="dropdown-container">
      <label>Zip</label>
      <div class="input-group dropdown">
        <div class="input-group">
          <ejs-maskedtextbox
            id="Zip"
            promptChar="_"
            mask="00000"
            appValidateWithMessage
            formControlName="zip"
            class="e-input"
            placeholder="Zip"
          ></ejs-maskedtextbox>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container calendar">
        <label for="inactiveDate">Start Date <span class="required">*</span></label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="startDate"
            class="datepicker"
            format="MM/dd/yyyy"
            appValidateWithMessage
            placeholder="MM/DD/YYYY"
            [enableMask]="true"
            [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
            formControlName="startDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>
