<app-page-toolbar>
  <ng-container left>
    <div class="bootstrap business-dropdowns" [formGroup]="businessFilterForm">
      <div class="dropdown-container">
        <div class="input-group dropdown">
          <ejs-dropdownlist appHideBeforeSyncfusionLoad
                            formControlName="filterBusinessUnit"
                            [allowFiltering]="true"
                            [fields]="unitFields"
                            [dataSource]="businessUnitsDataset"
                            placeholder="Business Unit"></ejs-dropdownlist>
        </div>
      </div>
      <div class="dropdown-container">
        <div class="input-group dropdown">
          <ejs-dropdownlist appHideBeforeSyncfusionLoad
                            formControlName="filterBusiness"
                            [allowFiltering]="true"
                            [fields]="bussinesDataFields"
                            [dataSource]="bussinesUserData$ | async"
                            placeholder="Business"></ejs-dropdownlist>
        </div>
      </div>      
    </div>
    <div>
      <app-search #searchDocument class="search" placeholder="Search keyword"></app-search>
    </div>
  </ng-container>
  <ng-container right *ngIf="!isHalmarkSelected">
    <div class="button-group">
      <button ejs-button appHideBeforeSyncfusionLoad cssClass="e-outline button-filter" style="display:none;">
        Filters <i-feather name="sliders" class="icon"></i-feather>
      </button>
      <button ejs-button appHideBeforeSyncfusionLoad [isPrimary]="true" (click)="handleOnUploadBtnClick()" *ngIf="!isSharedFolderClick">
        <i-feather name="upload" class="icon"></i-feather>Upload
      </button>
    </div>
  </ng-container>
</app-page-toolbar>
<section class="document">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>{{selectedNodeText}}</h3>
    </div>
    <div class="row-tool-buttons" *ngIf="!isSharedFolderClick">
      <button ejs-button cssClass="e-flat seconadry-dark-icon-button" (click)="shareSelectedDocuments($event)" *ngIf="!isHalmarkSelected">
        <span><i-feather name="share-2" class="icon"></i-feather></span>
      </button>
      <button ejs-button cssClass="e-flat primary-icon-button" style="display:none;">
        <span><i-feather name="edit" class="icon"></i-feather></span>
      </button>
      <button ejs-button cssClass="e-flat secondary-icon-button" (click)="deleteSelectedDocuments($event)" *ngIf="!isHalmarkSelected">
        <span><i-feather name="trash-2" class="icon"></i-feather></span>
      </button>
    </div>
  </div>
</section>
<section>
  <app-document-library-table [gridOptions]="gridOptions"
                              [totalRecordsCount]="totalRecordsCount"
                              (onGridReadyEvent)="onGridReady($event)"
                              (onGridPageSizeChanged)="onPageSizeChanged($event)"></app-document-library-table>
</section>

<app-document-preview-side-dialog [header]="previewTitle"
                                  (previewCloseClick)="onClosePreview()"
                                  [width]="dialogWidth">


  <ejs-pdfviewer id="pdfViewer" #pdfViewer [serviceUrl]='service' [documentPath]='pdfDocumentPath' style="height:1080px;"
                 [style.display]="isPdf && !isWordDoc && !isImage ? 'block' : 'none'">
  </ejs-pdfviewer>

  <div *ngIf="isWordDoc">
    <iframe [src]="previewUrl" style="width:100%;height:1080px;" [style.display]="isWordDoc && !isImage && !isPdf ? 'block' : 'none'"></iframe>
  </div>

  <div *ngIf="isImage">
    <img [src]="previewUrl" height="400px" width="100%" [style.display]="isImage && !isWordDoc && !isPdf ? 'block' : 'none'">
  </div>
</app-document-preview-side-dialog>

<app-side-dialog header="{{formDailogTitle}}" (formCancelClicked)="closeDialog()" (formSaveClicked)="handleOnSave()" [width]="dialogWidth">
  <form [formGroup]="documentLibraryform" class="documentlibrary-addnewfolder-form-dialog form-container bootstrap" id="dclForm">
    <section *ngIf="isAddNewFolder">
      <div class="form-elemet" *ngIf="selectedDocumentNode?.text!=undefined">
        <div class="input-container bootstrap">
          <label>Parent Folder Name : {{selectedDocumentNode?.text}}</label>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Folder Name<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   appValidateWithMessage
                   maxlength="100"
                   formControlName="folderName" />
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="isUpload">
      <app-document-library-upload (uploadToFile)="uploadToFile($event)" [allowedExtensions]="allowedExtensions"></app-document-library-upload>
      <section *ngIf="selectedFile!=null || isEditDocument">
        <div class="form-elemet">
          <div class="group">
            <div class="input-container calendar">
              <label for="documentName">Document Name <span class="required">*</span></label>
              <div class="input-group">
                <input class="e-input"
                       id="documentName"
                       type="text"
                       appValidateWithMessage
                       maxlength="50"
                       tabindex="1"
                       formControlName="documentName"/>
              </div>
            </div>
            <div class="input-container"></div>
          </div>
        </div>
        <div class="form-elemet">
          <div class="group" *ngIf="!isAgency">
            <div class="input-container calendar">
              <label for="regionIds">Region <span class="required">*</span></label>
              <div class="input-group multiselect" >
                <ejs-multiselect #regionIdsControl id="regionIds" mode="CheckBox"
                                 formControlName="regionIds"
                                 placeholder="All"
                                 [fields]="optionFields"
                                 [allowFiltering]="true"
                                 [showDropDownIcon]="true"
                                 appValidateWithMessage
                                 [dataSource]="regions$ | async"
                                 [selectAllText]='allOption'
                                 (select)="onRegionSelect($event)"
                                 [showSelectAll]="true"
                                 tabindex="2">
                </ejs-multiselect>
              </div>
            </div>
            <div class="input-container">
              <label for="locationIds">Location <span class="required">*</span></label>
              <div class="input-group multiselect">
                <ejs-multiselect id="locationIds" mode="CheckBox"
                                 formControlName="locationIds"
                                 placeholder="All"
                                 [fields]="optionFields"
                                 [allowFiltering]="true"
                                 [showDropDownIcon]="true"
                                 appValidateWithMessage
                                 [dataSource]="locations$ | async"
                                 [selectAllText]='allOption'
                                 [showSelectAll]="true"
                                 tabindex="3">
                </ejs-multiselect>
              </div>
            </div>
          </div>
        </div>
        <div class="form-elemet">
          <div class="group">
            <div class="input-container calendar">
              <label for="typeIds">Type <span class="required">*</span></label>
              <div class="input-group multiselect">
                <div class="input-group dropdown">
                  <ejs-dropdownlist appValidateWithMessage
                                    formControlName="typeIds"
                                    [allowFiltering]="true"
                                    [fields]="optionFields"
                                    [dataSource]="documentsTypes$ | async" tabindex="4"></ejs-dropdownlist>
                </div>
              </div>
            </div>
            <div class="input-container">
              <label for="tags">Tags</label>
              <div class="input-group">
                <input class="e-input"
                       id="tags"
                       type="text"
                       appValidateWithMessage
                       maxlength="50"
                       formControlName="tags" tabindex="5" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-elemet">
          <div class="group">
            <div class="input-container calendar">
              <label for="statusIds">Status <span class="required">*</span></label>
              <div class="input-group multiselect">
                <div class="input-group dropdown">
                  <ejs-dropdownlist formControlName="statusIds"
                                    appValidateWithMessage
                                    [allowFiltering]="true"
                                    [dataSource]="statusItems"
                                    [fields]="statusFields"
                                    tabindex="6">
                  </ejs-dropdownlist>

                </div>
              </div>
            </div>
            <div class="input-container calendar">
              <label for="startDate">Start Date</label>
              <div class="input-group multiselect">
                <div class="input-group datepicker">
                  <ejs-datepicker id="startDate"
                                  class="datepicker"
                                  format="MM/dd/yyyy"
                                  placeholder="MM/DD/YYYY"
                                  appValidateWithMessage
                                  formControlName="startDate"
                                  tabindex="7">
                  </ejs-datepicker>
                </div>
              </div>
            </div>
            <div class="input-container calendar">
              <label for="endDate">End Date</label>
              <div class="input-group multiselect">
                <div class="input-group datepicker" style="margin-left:10px;">
                  <ejs-datepicker id="endDate"
                                  class="datepicker"
                                  format="MM/dd/yyyy"
                                  placeholder="MM/DD/YYYY"
                                  appValidateWithMessage
                                  formControlName="endDate"
                                  [min]="startDate"
                                  tabindex="8">
                  </ejs-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-elemet">
          <div class="input-container bootstrap">
            <label>Comments</label>
            <div class="input-group">
              <textarea class="e-input"
                        type="text"
                        rows="3"
                        maxlength="3000"
                        appValidateWithMessage
                        name="comments"
                        formControlName="comments" tabindex="9"></textarea>
            </div>
          </div>
        </div>
        <section *ngIf="!isEditDocument">
          <div class="form-elemet">
            <div class="input-container bootstrap">
              <span><i-feather name="share-2" class="icon"></i-feather></span>
              <span class="share-with-text">Share With</span>
            </div>
          </div>
          <div class="form-elemet" *ngIf="this.businessFilterForm.get('filterBusinessUnit')?.value===3">
            <div class="group">
              <div class="input-container agency-switcher-container">
                <div class="input-group datepicker">
                  <ejs-switch id="agency-switcher"
                              [checked]="agencySwitch"
                              (change)="onAgencySwitcher($event);" tabindex="10"></ejs-switch>
                  <label for="agency-switcher" class="switch-text">Agencies</label>
                </div>
              </div>
              <div class="input-container calendar">
                <div class="input-group multiselect" tabindex="11">

                  <ejs-multiselect mode="CheckBox"
                                   formControlName="agencies"
                                   placeholder="All"
                                   [allowFiltering]="true"
                                   [showDropDownIcon]="true"
                                   [fields]="agencyFields"
                                   [dataSource]="AssociateAgencyData"
                                   [selectAllText]='allOption'
                                   [showSelectAll]="false" 
                                   [enabled]="!allAgencies && agencySwitch" >
                  </ejs-multiselect>
                </div>
              </div>
              <div class="input-container allSwitch">
                <div class="switch">
                  <ejs-switch
                    name="allAgencies"
                    [checked]="allAgencies"
                    (change)="allAgenciesChange($event)"
                    label="All"
                    [disabled] = "!agencySwitch"
                  ></ejs-switch>
                  <label for="allAgencies" class="switch-text">All</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-elemet" *ngIf="this.businessFilterForm.get('filterBusinessUnit')?.value===4">
            <div class="group">
              <div class="input-container agency-switcher-container">
                <div class="input-group datepicker">
                  <ejs-switch id="org-switcher"
                              [checked]="organizationSwitch"
                              (change)="onOrganizationSwitcher($event);" tabindex="12"></ejs-switch>
                  <label for="org-switcher" class="switch-text">Organization</label>
                </div>
              </div>
              <div class="input-container calendar">
                <div class="input-group multiselect" tabindex="13">
                  <ejs-multiselect mode="CheckBox"
                                   formControlName="orgnizations"
                                   placeholder="All"
                                   [allowFiltering]="true"
                                   [showDropDownIcon]="true"
                                   [fields]="optionFields"
                                   [dataSource]="ShareOrganizationsData"
                                   [enabled]="!allOrgnizations && organizationSwitch" >
                  </ejs-multiselect>
                </div>
              </div>
              <div class="input-container allSwitch">
                <div class="switch">
                  <ejs-switch
                    name="allOrgnizations"
                    [checked]="allOrgnizations"
                    (change)="allOrgnizationsChange($event)"
                    label="All"
                    [disabled] = "!organizationSwitch"
                  ></ejs-switch>
                  <label for="allOrgnizations" class="switch-text">All</label>
                </div>
              </div>
            </div>
          </div>
          <div class="shared-with-grid" *ngIf="!isUpload && (sharedDocumentInformation$ |async) && isShowSharedWith">
            <ag-grid-angular #sharedWith
                             [rowHeight]="50"
                             domLayout="autoHeight"
                             [headerHeight]="50"
                             [columnDefs]="columnDefs"
                             [rowData]="sharedDocumentInformation"
                             class="ag-theme-alpine grid app-grid__component">
            </ag-grid-angular>
          </div>
        </section>
      </section>
    </section>
    <section *ngIf="isShare && !isEditDocument && !isUpload">
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <span><i-feather name="share-2" class="icon"></i-feather></span>
          <span class="share-with-text">Share With</span>
        </div>
      </div>
      <div class="form-elemet" *ngIf="this.businessFilterForm.get('filterBusinessUnit')?.value===3">
        <div class="group">
          <div class="input-container agency-switcher-container">
            <div class="input-group datepicker">
              <ejs-switch id="agency-switcher"
                          [checked]="agencySwitch"
                          (change)="onAgencySwitcher($event);"></ejs-switch>
              <label for="agency-switcher" class="switch-text">Agencies</label>
            </div>
          </div>
          <div class="input-container calendar">
            <div class="input-group multiselect">

              <ejs-multiselect mode="CheckBox"
                               formControlName="agencies"
                               placeholder="All"
                               [allowFiltering]="true"
                               [showDropDownIcon]="true"
                               [fields]="agencyFields"
                               [dataSource]="AssociateAgencyData"
                               [selectAllText]='allOption'
                               [showSelectAll]="false" 
                               [enabled]="!allAgencies && agencySwitch">
              </ejs-multiselect>
            </div>
          </div>
          <div class="input-container allSwitch">
            <div class="switch">
              <ejs-switch
                name="allAgencies"
                [checked]="allAgencies"
                (change)="allAgenciesChange($event)"
                label="All"
                [disabled] = "!agencySwitch"
              ></ejs-switch>
              <label for="allAgencies" class="switch-text">All</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-elemet" *ngIf="this.businessFilterForm.get('filterBusinessUnit')?.value===4">
        <div class="group">
          <div class="input-container agency-switcher-container">
            <div class="input-group datepicker">
              <ejs-switch id="org-switcher"
                          [checked]="organizationSwitch"
                          (change)="onOrganizationSwitcher($event);"></ejs-switch>
              <label for="org-switcher" class="switch-text">Organization</label>
            </div>
          </div>
          <div class="input-container calendar">
            <div class="input-group multiselect">
              <ejs-multiselect mode="CheckBox"
                               formControlName="orgnizations"
                               placeholder="All"
                               [allowFiltering]="true"
                               [showDropDownIcon]="true"
                               [fields]="optionFields"
                               [dataSource]="ShareOrganizationsData"
                               [enabled]="!allOrgnizations && organizationSwitch">
              </ejs-multiselect>
            </div>
          </div>
          <div class="input-container allSwitch">
            <div class="switch">
              <ejs-switch
                name="allOrgnizations"
                [checked]="allOrgnizations"
                (change)="allOrgnizationsChange($event)"
                label="All"
                [disabled] = "!organizationSwitch"
              ></ejs-switch>
              <label for="allOrgnizations" class="switch-text">All</label>
            </div>
          </div>
        </div>
      </div>
      <div class="shared-with-grid" *ngIf="(sharedDocumentInformation$ |async) && isShowSharedWith">
        <ag-grid-angular #sharedWith 
                         [rowHeight]="50"
                         domLayout="autoHeight"
                         [headerHeight]="50"
                         [columnDefs]="columnDefs"
                         [rowData]="sharedDocumentInformation"
                         class="ag-theme-alpine grid app-grid__component">
        </ag-grid-angular>
      </div>
    </section>
  </form>
</app-side-dialog>
