  <app-page-toolbar>
    <ng-container left>
      <div class="bootstrap business-dropdowns" [formGroup]="businessFilterForm">
        <div class="dropdown-container">
          <div class="input-group dropdown">
            <ejs-dropdownlist appHideBeforeSyncfusionLoad
                              formControlName="filterBusinessUnit"
                              [fields]="unitFields"
                              [dataSource]="businessUnits"
                              placeholder="Business Unit"></ejs-dropdownlist>
          </div>
        </div>
        <div class="dropdown-container">
          <div class="input-group dropdown">
            <ejs-dropdownlist appHideBeforeSyncfusionLoad
                              formControlName="filterBusiness"
                              [fields]="bussinesDataFields"
                              [dataSource]="bussinesUserData$ | async"
                              placeholder="Business"></ejs-dropdownlist>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container right *ngIf="!isHalmarkSelected">
      <div class="button-group">
        <button ejs-button appHideBeforeSyncfusionLoad cssClass="e-outline button-filter" style="display:none;">
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </button>
        <button ejs-dropdownbutton
                appHideBeforeSyncfusionLoad
                id="importButton"
                cssClass="e-outline button-export">
          <div class="button-export-container">Export <i-feather name="download" class="icon"></i-feather></div>
        </button>
        <button ejs-button appHideBeforeSyncfusionLoad [isPrimary]="true">
          <i-feather name="upload" class="icon"></i-feather>Upload
        </button>
      </div>
    </ng-container>
  </app-page-toolbar>
