.edit-org {
    padding-top: 24px;

    .e-content.e-lib.e-touch {
        padding-top: 24px;
    }
}

.job-distribution {
    label {
        display: block;
        margin-bottom: 5px;
    }

    .dropdown-container {
        max-width: 50%;
        margin-bottom: 12px;
    }
}