<section class="job-details" *ngIf="order" [ngSwitch]="order?.orderType">
  <app-general-order-per-diem-info
    *ngSwitchCase="orderType.OpenPerDiem"
    [orderInformation]="order"
    [system]="activeSystem"
  ></app-general-order-per-diem-info>
  <app-general-reorder-info *ngSwitchCase="orderType.ReOrder" [orderInformation]="order" [system]="activeSystem"></app-general-reorder-info>
  <app-general-order-info *ngSwitchDefault [orderInformation]="order" [system]="activeSystem"></app-general-order-info>
</section>
<div class="separator"></div>
<ng-container *ngIf="isClosedOrder">
  <app-order-close-reason-info
    [orderInformation]="orderInformation"
    [showCloseData]="!showReasonInfo"
  ></app-order-close-reason-info>
  <div class="separator"></div>
</ng-container>
<app-order-details [currentOrder]="order" 
      [comments]="comments" 
      [CanOrganizationEditOrdersIRP]="CanOrganizationEditOrdersIRP" 
      [CanOrganizationViewOrdersIRP]="CanOrganizationViewOrdersIRP"
      [activeSystem]="activeSystem"></app-order-details>
