@import "colors";

.bootstrap {
  position: relative;
}

.multi-date {
  position: relative;
  min-width: 200px;
  margin-right: 12px;
  float: left;

  & .e-input {
    padding-right: 25px;

    &.active {
      border-color: $primary-active-blue-10;
      border-width: 2px;
    }
  }

  &:hover {
    & .calendar-icon::after {
      color: $primary-active-blue-10;
    }
  }
}

.bottom-chips {
  margin-right: unset;
  float: none;
}

.calendar-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &.active {
    &::after {
      color: $primary-active-blue-10;
    }
  }

  &::after {
    content: "\e901" !important;
    width: 20px;
    height: 20px;
    font-family: "e-icons";
    color: $secondary-dark-blue-30;
  }
}

.chip {
  margin: 14px 12px 0 0;
  padding: 3px 12px;
  border: 1px solid $secondary-dark-blue-40;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  background: $secondary-dark-blue-50;

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $black;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    cursor: pointer;
    color: $black;
    stroke-width: 2px;
  }
}

.calendar {
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 100;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%) !important;
}
