<div #inputWrapper class="bootstrap">
  <div class="input-container">
    <div class="input-group multi-date" [class.bottom-chips]="showChipsBelowControl">
      <input
        class="e-input"
        [class.active]="isCalendarShow"
        readonly
        placeholder="MM/DD/YYYY"
      />
      <div
        [class.active]="isCalendarShow"
        class="calendar-icon"
        (click)="openMenu()"
      ></div>
    </div>
    <div class="chips-wrapper">
      <div *ngFor="let date of datesControl.value; index as idx" class="chip">
        <span class="chip__text">{{ date | date: 'MM/dd/YYYY' }}</span>
        <i-feather (click)="removeChip(idx)" class="chip__icon" name="x"></i-feather>
      </div>
    </div>
  </div>

  <ejs-calendar
    #ejCalendar
    *ngIf="isCalendarShow"
    [values]="datesValues"
    [isMultiSelection]="true"
    [showTodayButton]="false"
    (valuesChange)="datesValuesChange($event)"
    (created)="createCalendarButtons(ejCalendar)"
    (destroyed)="calendarDestroyed()"
    class="calendar">
  </ejs-calendar>
</div>
