<ejs-dialog
  id="edit-dialog"
  #sideDialog
  cssClass="dialog"
  [width]="width"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{ editAgencyOrg?.businessUnitName}}</h3>
          </div>
          <div class="e-card-content">
            <button ejs-button cssClass="e-outline button-cancel" id="cancelFormButton" (click)="onCancel()">Cancel</button>
            <app-tooltip-container [showToolTip]="!agencyActionsAllowed || isAgencyInactive || !canEditPermission">
              <button
                ejs-button
                [disabled]="!agencyActionsAllowed || isAgencyInactive || !canEditPermission || isAgencyUser"
                id="addFormButton"
                type="submit"
                [isPrimary]="true"
                (click)="onSave()">Save
              </button>
            </app-tooltip-container>
          </div>
        </div>
      </section>

      <section class="edit-org" [ngClass]="{ 'first-active': firstActive }">
        <ejs-tab #editOrgTab (selecting)="onTabSelecting($event)">
          <e-tabitems>
            <e-tabitem *ngIf="userPermission[userPermissions.CanViewFeeExceptions]">
              <ng-template #headerText> {{feeSettingsText}} </ng-template>
              <ng-template #content>
                <app-fee-settings [editAgencyOrg]="editAgencyOrg" [areAgencyActionsAllowed]="agencyActionsAllowed" [userPermission]="userPermission" [form]="$any(feeSettingsForm)"></app-fee-settings>
              </ng-template>
            </e-tabitem>

              <e-tabitem *ngIf="canViewTierTab">
                <ng-template #headerText> {{tierExceptionText}} </ng-template>
                <ng-template #content>
                  <app-tier-settings [editAgencyOrg]="editAgencyOrg" (changeTierControl)="handleTierControl($event)"></app-tier-settings>
                </ng-template>
              </e-tabitem>

            <e-tabitem *ngIf="userPermission[userPermissions.CanViewPartnershipSettings]">
              <ng-template #headerText> {{partnershipText}} </ng-template>
              <ng-template #content>
                <app-partnership-settings
                  [partnershipForm]="$any(partnershipForm)"
                  [activeTab]="activeTab"
                  [isAgency]="isAgencyUser"></app-partnership-settings>
              </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
      </section>
    </section>
  </ng-template>
</ejs-dialog>
