@import 'adaptive-response';

.edit-org {
  padding-top: 24px;

  .e-content.e-lib.e-touch {
    padding-top: 24px;
  }

  &.first-active {
    .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
      left: 0px !important;
      right: 280px !important;
    }
  }
}

.save-btn {
  width: 100%;
}

.e-dialog .e-footer-content {
  display: none;
}

@media #{$max-mobile} {
  .header-container .e-card-content {
    display: none;
  }

  .e-dialog .e-footer-content {
    display: block;
  }

  .e-dialog .e-footer-content .e-btn {
    margin-left: 0;
  }

  .dialog.responsive {
    width: 100% !important;

    ::ng-deep {
      .tooltip-container {
        display: block;
      }
    }
  }
}
