<ejs-dialog
  id="edit-dialog"
  #sideDialog
  cssClass="dialog responsive"
  [width]="width"
  [target]="targetElement$ | async"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{ editAgencyOrg?.businessUnitName}}</h3>
          </div>
          <ng-container [ngTemplateOutlet]="actionBtn"></ng-container>
        </div>
      </section>

      <section class="edit-org" [ngClass]="{ 'first-active': firstActive }">
        <ejs-tab
          #editOrgTab (selecting)="onTabSelecting($event)"
          [heightAdjustMode]="'Fill'"
        >
          <e-tabitems>
            <e-tabitem *ngIf="userPermission[userPermissions.CanViewFeeExceptions]">
              <ng-template #headerText> {{feeSettingsText}} </ng-template>
              <ng-template #content>
                <app-fee-settings [editAgencyOrg]="editAgencyOrg" [areAgencyActionsAllowed]="agencyActionsAllowed" [userPermission]="userPermission" [isAgency]="isAgencyUser" [form]="$any(feeSettingsForm)"></app-fee-settings>
              </ng-template>
            </e-tabitem>

              <e-tabitem *ngIf="canViewTierTab">
                <ng-template #headerText> {{tierExceptionText}} </ng-template>
                <ng-template #content>
                  <app-tier-settings [editAgencyOrg]="editAgencyOrg" [isAgency]="isAgencyUser" (changeTierControl)="handleTierControl($event)"></app-tier-settings>
                </ng-template>
              </e-tabitem>

            <e-tabitem *ngIf="userPermission[userPermissions.CanViewPartnershipSettings]">
              <ng-template #headerText> {{partnershipText}} </ng-template>
              <ng-template #content>
                <app-partnership-settings
                  [partnershipForm]="$any(partnershipForm)"
                  [activeTab]="activeTab"
                  [isAgency]="isAgencyUser"></app-partnership-settings>
              </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
      </section>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <ng-container [ngTemplateOutlet]="actionBtn"></ng-container>
  </ng-template>
</ejs-dialog>

<ng-template #actionBtn>
  <div class="e-card-content mobile-button-group">
    <button
      ejs-button
      cssClass="e-outline button-cancel action-btn"
      id="cancelFormButton"
      (click)="onCancel()"
    >
      Cancel
    </button>

    <app-tooltip-container
      [showToolTip]="!agencyActionsAllowed || isAgencyInactive || !canEditPermission"
      class="action-btn"
    >
      <button
        ejs-button
        id="addFormButton"
        type="submit"
        class="save-btn"
        [isPrimary]="true"
        [disabled]="!agencyActionsAllowed || isAgencyInactive || !canEditPermission || isAgencyUser"
        (click)="onSave()"
      >
        Save
      </button>
    </app-tooltip-container>
  </div>
</ng-template>
