@import 'colors';

.timesheet-picker-container {
  display: flex;
  justify-content: space-between;

  button {
    padding: 8px 12px;
  }

  button.e-control.e-btn i-feather {
    margin-left: 0;
  }
}

.datepicker {
  margin: 0 4px;
  width: 100%;
}

::ng-deep {
  .timesheet-picker-container {
    ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper.e-error {
      border-color: $grey!important;
    }
    ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper .e-input {
      font-weight: 400!important;
      color: var(--secondary-text)!important;
    }

    ejs-datepicker.datepicker .e-input-group.e-control-wrapper.e-date-wrapper.e-non-edit.e-error.e-valid-input {
      min-width: 215px!important;
    }

    .e-input-group.e-control-wrapper {
      margin-bottom: 0!important;
    }
  }

  .datepicker--custom .e-input-group.e-control-wrapper.e-date-wrapper {
    background-color: transparent;
  }
}
