<div class="timesheet-picker-container">
  <button
    ejs-button cssClass="e-outline"
    (click)="prevWeek()"
    [disabled]="isPrevDisabled || disabled">
    <i-feather name="chevron-left" class="icon"></i-feather>
  </button>
  <ejs-datepicker
      id="startDate"
      #datePicker
      class="datepicker datepicker--custom"
      format="dd/MM/yyyy"
      placeholder="From:DD/MM/YYYY - To:DD/MM/YYYY"
      [enabled]="!disabled"
      [formControl]="dateControl"
      [showClearButton]="false"
      [showTodayButton]="false"
      [allowEdit]="false"
      [max]="maxDate"
      [min]="minDate"
      (renderDayCell)="renderCell($event)"
      (cleared)="clearControl()"
      (open)="navigateTo()"
    >
  </ejs-datepicker>
  <button
    ejs-button
    cssClass="e-outline"
    (click)="nextWeek()"
    [disabled]="isNextDisabled || disabled">
    <i-feather name="chevron-right" class="icon"></i-feather>
  </button>
</div>

