@import "colors";

.action {
  width: 100%;
  text-align: center;

  button {
    color: $primary-active-blue-10;

    &:disabled {
      i-feather {
        color: $primary-active-blue-40;
        fill: $primary-active-blue-60;
      }
    }

    &:not(:disabled) {
      i-feather {
        fill: $primary-active-blue-20;
      }
    }
  }
}