<app-page-toolbar>
  <ng-container left>
    <button ejs-button cssClass="e-outline" (click)="onBack()">Back</button>
    <h3>{{title}} Agency</h3>
  </ng-container>
  <ng-container right>
    <!-- TBD delete button -->
    <!-- <button *ngIf="isAgencyCreated$ | async" ejs-button cssClass="e-danger" [isPrimary]="true"(click)="onDelete()">Delete</button> -->
    <button [disabled]="!agencyForm?.dirty" ejs-button cssClass="e-outline" (click)="onClear()">Clear</button>
    <button ejs-button [isPrimary]="true" (click)="onSave()">Save</button>
  </ng-container>
</app-page-toolbar>

<ejs-tab class="stepper" #stepper>
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerText>
        <div class="stepper-header required">
          <div class="stepper-title">General Info</div>
          <div class="stepper-sub-title">Overall Agency Info</div>
        </div>
      </ng-template>
      <ng-template #content>
        <!-- General info step -->
        <section class="general-info-container">
          <div class="left">
            <div class="e-card">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-title">Agency Details</div>
                </div>
              </div>

              <div class="e-card-content">
                <form [formGroup]="agencyForm" id="agencyFormFirstStep">
                  <app-general-info-group [formGroup]="$any(agencyControl)"></app-general-info-group>

                  <div class="e-card-title-wrapper">
                    <div class="e-card-title">Billing Details</div>
                  </div>

                  <div class="billing-checkbox bootstrap">
                    <ejs-checkbox formControlName="isBillingPopulated" label="Same As Agency"></ejs-checkbox>
                  </div>
                  <app-billing-details-group [formGroup]="$any(billingControl)"></app-billing-details-group>

                  <div class="e-card-title-wrapper contact-header">
                    <div class="e-card-title">Contact Details</div>
                    <div class="add-contact-link" (click)="addContact()"><i-feather name="plus" class="icon"></i-feather> Add Contact</div>
                  </div>
                  <hr />
                  <ng-container *ngFor="let contactGroup of contacts.controls; let i = index">
                    <app-contact-details-group
                      [formGroup]="$any(contactGroup)"
                      [isRemovable]="contacts.length > 1"
                      (deleteContactEvent)="deleteContact(i)"
                    ></app-contact-details-group>
                    <hr />
                  </ng-container>
                </form>
              </div>
            </div>
          </div>
          <div class="right">
            <app-image-uploader uploaderTitle="Logo" (selectImage)="setLogoFile($event)"></app-image-uploader>
          </div>
        </section>
        <section class="payment-section last-content-section-padding">
          <app-payment-details-grid [paymentsFormArray]="$any(agencyForm?.get('agencyPaymentDetails'))"></app-payment-details-grid>
        </section>
      </ng-template>
    </e-tabitem>

    <e-tabitem>
      <ng-template #headerText>
        <div class="stepper-header">
          <div class="stepper-title">Associated Organizations</div>
          <div class="stepper-sub-title">Additional info here</div>
        </div>
      </ng-template>
      <ng-template #content>
        <app-associated-org-grid></app-associated-org-grid>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
