@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/mixins.scss";

.general-info-container {
  display: flex;
  padding-bottom: 12px;

  .left {
    width: 70%;
    padding-right: 20px;
  }

  .right {
    width: 30%;
  }

  .billing-checkbox {
    margin-bottom: 12px;
  }

  .contact-header {
    display: flex;
    justify-content: space-between;
  }

  .add-contact-link {
    @include linkWithIcon;
  }
}

.payment-section {
  margin-top: 12px;
}
