<app-page-toolbar>
  <ng-container left>
    <section class="button-group">
      <ng-container [ngTemplateOutlet]="backButton"></ng-container>
      <h3>{{ title }} Agency</h3>
    </section>
  </ng-container>
  <ng-container right>
    <section class="button-group">
      <ng-container [ngTemplateOutlet]="buttonSection"></ng-container>
    </section>
  </ng-container>
</app-page-toolbar>

<ejs-tab class="stepper" #stepper (created)="onStepperCreated()" width="99%">
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerText></ng-template>
      <ng-template #content>
        <!-- General info step -->
        <form [formGroup]="agencyForm" id="agencyFormFirstStep">
          <div class="dropdown-container bootstrap create-under" *ngIf="createUnderAvailable && !agencyConfig.isEditMode">
            <label>Create Under<span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist
                appValidateWithMessage
                formControlName="parentBusinessUnitId"
                [fields]="createUnderFields"
                [allowFiltering]="true"
                [dataSource]="businessUnits$ | async"
              ></ejs-dropdownlist>
            </div>
          </div>

          <section class="general-info-container">
            <div class="left">
              <div class="e-card">
                <div class="e-card-header">
                  <div class="e-card-header-caption">
                    <div class="e-card-title">Agency Details</div>
                    <div *ngIf="agencyConfig.agencyIsMsp" class="msp-agency">
                      <ejs-chiplist>
                        <e-chips>
                          <e-chip text="Is Msp" cssClass="e-success msp-chip"></e-chip>
                        </e-chips>
                      </ejs-chiplist>
                    </div>
                  </div>
                </div>

                <div class="e-card-content">
                  <app-general-info-group
                    [agencyConfig]="agencyConfig"
                    [formGroup]="$any(agencyControl)"
                    (mspCheckboxEmitter)="onMspCheckboxChecked($event)"></app-general-info-group>

                  <div class="e-card-title-wrapper">
                    <div class="e-card-title">Job Distribution</div>
                  </div>
                  <app-job-distribution [formGroup]="$any(distributionControl)"></app-job-distribution>

                  <div class="e-card-title-wrapper">
                    <div class="e-card-title">Billing Details</div>
                  </div>

                  <div class="billing-checkbox bootstrap">
                    <ejs-checkbox formControlName="isBillingPopulated" label="Same As Agency"></ejs-checkbox>
                  </div>
                  <app-billing-details-group [formGroup]="$any(billingControl)"></app-billing-details-group>

                  <div class="e-card-title-wrapper contact-header">
                    <div class="e-card-title">Contact Details</div>
                    <app-tooltip-container class="stick-right" [showToolTip]="!userPermission[userPermissions.CanEditAgencyProfile]">
                      <button
                        [disabled]="!userPermission[userPermissions.CanEditAgencyProfile]"
                        ejs-button
                        cssClass="e-outline add-contact-link"
                        (click)="addContact()">
                        <i-feather name="plus" class="icon"></i-feather> Add Contact
                      </button>
                    </app-tooltip-container>
                  </div>
                  <hr />
                  <ng-container *ngFor="let contactGroup of contacts.controls; let i = index">
                    <app-contact-details-group
                      [formGroup]="$any(contactGroup)"
                      [isRemovable]="contacts.length > 1"
                      (deleteContactEvent)="deleteContact(i)"
                    ></app-contact-details-group>
                    <hr />
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="right">
              <app-image-uploader uploaderTitle="Logo" [logo]="logo" (selectImage)="onImageSelect($event)"></app-image-uploader>
            </div>
          </section>
          <section class="payment-section last-content-section-padding">
            <app-payment-details-grid
              [paymentsFormArray]="$any(agencyForm?.get('agencyPaymentDetails'))"
              [hasPermissions]="userPermission[userPermissions.CanEditAgencyProfile]"
            ></app-payment-details-grid>
          </section>
        </form>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>

<section class="mobile-button-group">
  <ng-container [ngTemplateOutlet]="backButton"></ng-container>
  <ng-container [ngTemplateOutlet]="buttonSection"></ng-container>
</section>

<ng-template #backButton>
  <button *ngIf="!agencyConfig.isAgencyUser" ejs-button appHideBeforeSyncfusionLoad cssClass="e-outline item"
    (click)="onBack()">
    Back
  </button>
</ng-template>

<ng-template #buttonSection>
  <ng-container *ngIf="!isSeccondStepActive">
    <button appHideBeforeSyncfusionLoad [disabled]="!agencyForm?.dirty" ejs-button cssClass="e-outline item"
      (click)="onClear()">
      Clear
    </button>
    <app-tooltip-container
      class="item"
      [message]="toolTipMessage"
      [showToolTip]="!userPermission[userPermissions.CanEditAgencyProfile]"
    >
      <button
        ejs-button
        appHideBeforeSyncfusionLoad
        class="save-btn"
        [disabled]="(activeUser.businessUnitType === businessUnitType.Agency && (activeUser.agencyStatus === agencyStatus.Inactive || activeUser.agencyStatus === agencyStatus.Terminated))|| !userPermission[userPermissions.CanEditAgencyProfile]"
        [isPrimary]="true" (click)="onSave()">
        Save
      </button>
    </app-tooltip-container>
  </ng-container>
</ng-template>
