@import 'colors';
@import 'mixins';
@import 'adaptive-response';

.general-info-container {
  display: flex;
  padding-bottom: 12px;

  .e-card {
    .e-card-header {
      .e-card-header-caption {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 20px;

        .msp-agency {
          .e-chip {
            width: 100%;

            &.msp-chip {
              width: 70px;
            }
          }
        }
      }
    }
  }

  .left {
    width: 70%;
    padding-right: 20px;
  }

  .right {
    width: 30%;
  }

  .billing-checkbox {
    margin-bottom: 12px;
  }

  .contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-contact-link {
    border: none;

    i-feather {
      vertical-align: bottom;
    }
  }
}

.button-group {
  display: flex;
  column-gap: 12px;
}

.mobile-button-group {
  display: none;
}

.create-under {
  max-width: calc(70% - 14px);

  label {
    display: block;
    margin-bottom: 5px;
  }

  margin-bottom: 16px;
}

.payment-section {
  margin-top: 12px;
}

:host ::ng-deep {
  .e-tab-header {
    display: none !important;
  }
}

@media #{$max-desktop-small} {
  .create-under {
    max-width: unset;
  }

  .general-info-container {
    flex-direction: column;
    row-gap: 24px;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }
  }

  :host ::ng-deep {
    .controls-container {
      flex-direction: row;

      .left-content {
        max-width: unset;
        width: 100%;
      }

      .right-content {
        justify-content: flex-end;
      }
    }
  }
}

@media #{$max-tablet} {
  .payment-section,
  .create-under,
  .general-info-container {
    padding-right: 16px;
  }
}

@media #{$max-mobile} {
  :host {
    ::ng-deep .controls-container {
      padding-bottom: 0;
    }

    .stepper {
      width: 99%;
      padding-bottom: 70px;
    }

    .mobile-button-group {
      display: grid;
      place-items: center;
      grid-template-columns: auto 30% 40%;
      gap: 12px;

      &.agency-user {
        grid-template-columns: 50% 50%;
      }

      .item {
        justify-self: stretch;
      }

      .save-btn {
        width: 100%;
      }

      ::ng-deep {
        .tooltip-container {
          display: block;
        }
      }
    }

    .button-group {
      display: none;
    }
  }
}
