@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/mixins.scss";

.general-info-container {
  display: flex;
  padding-bottom: 12px;
  .e-card {
    .e-card-header {
      .e-card-header-caption {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 20px;

        .msp-agency {
          .e-chip {
            width: 100%;

            &.msp-chip {
              width: 70px;
            }
          }
        }
      }
    }
  }

  .left {
    width: 70%;
    padding-right: 20px;
  }

  .right {
    width: 30%;
  }

  .billing-checkbox {
    margin-bottom: 12px;
  }

  .contact-header {
    display: flex;
    justify-content: space-between;
  }

  .add-contact-link {
    border: none;

    i-feather {
      vertical-align: bottom;
    }
  }
}

.create-under {
  max-width: calc(70% - 14px);

  label {
    display: block;
    margin-bottom: 5px;
  }

  margin-bottom: 16px;
}

.payment-section {
  margin-top: 12px;
}
