@import "mixins";

$headerHeight: 19px;

:host {
  display: block;
  height: 100%;
}

.app-widget-wrapper {
  display: inline;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  --chartHeight: 100%;

  @media screen and (max-width: 1700px) {
    padding-left: 16px;
  }

  &.with-legend {
    --chartHeight: 60%;

    .app-widget-wrapper__chart {
      float:left;
      width:50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    @include with-ellipsis;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #1a1b2e;
    height: $headerHeight;
    padding-left:16px;
  }

  &__projection-wrapper {
    flex: 1;
    height: calc(100% - #{$headerHeight});
  }

  &__chart {
    max-height: var(--chartHeight);
    padding-top:10%;
  }

  &__position-chat {
    height: 100%;
    margin-right: -16px;
  }

  &__legend {
    height: 80%;
    overflow: auto;
    padding-top: 25px;
    margin-right: 12px;
    cursor: default;
    box-sizing: border-box;

  }

  &__loader {
    display: grid;
    height: 100%;
    place-items: center;
  }

  &__header {
    &::ng-deep {
      h3 {
        @include with-ellipsis;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #1a1b2e;
        line-height: 16px;
        padding-left:12px;
        padding-top:12px;
      }
    }
  }
}
