@import "mixins";

$headerHeight: 19px;

:host {
  display: block;
  height: 100%;
}

.app-widget-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4%;
  box-sizing: border-box;
  --chartHeight: 100%;

  &.with-legend {
    --chartHeight: 50%;
    .app-widget-wrapper__map-chart,
    .app-widget-wrapper__line-chart {
      border-bottom: 1px solid rgba($secondary-dark-blue-40, 0.32);
    }
  }

  &.with-orgchart {
    padding: 6% !important;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    @include with-ellipsis;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #1a1b2e;
    height: $headerHeight;
  }

  &__projection-wrapper {
    flex: 1;
    height: calc(100% - #{$headerHeight});
  }

  &__chart {
    height: var(--chartHeight);
  }

  &__line-chart {
    height: 47%;
    margin-top: 5%;
  }

  &__map-chart {
    height: calc(60% - #{$headerHeight});
  }

  &__position-chart {
    height: 100%;
   // padding-left: 0px;
   // margin-left: -10%;
   // margin-top: -10px;
  }

  &__legend {
    height: 45%;
    overflow: auto;
    padding-top: 5px;
    cursor: default;
    box-sizing: border-box;
  }

  .line-chart-legend {
    height: 40%;
    margin-right: -12px;
  }

  .map-chart-legend {
    height: 30%;
    box-sizing: content-box;
  }

  &__loader {
    display: grid;
    height: 100%;
    place-items: center;
  }

  &__header {
    &::ng-deep {
      h3 {
        @include with-ellipsis;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #1a1b2e;
      }
    }

    display: flex;
  }

 

  .e-tooltip-wrap .e-tip-content {
    font-size: 12px;
    line-height: 20px;
    background-color: #4e5461;
    color: #f8f5f5;
    border-radius: 4px;
    font-family: "Open Sans", "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
  }

  .e-tooltip-wrap.e-popup {
    background-color: #fff;
    border: 2px solid #000;
  }
  &__positions_count_day_range {
    display: flex;
    overflow: auto;
  }
}
.with-position{
    padding: 8% !important;
}
.app-widget-wrapper__agency_count, .app-widget-wrapper__org-chart{
  //height needed for menu collapse mode
  height: calc(100% - 19px);
  overflow: auto;
}
.app-widget-wrapper__position-chart{
  margin-top: -17px;
}
.with-isCandidate{
  margin-top: 5px !important;
}
.with-isLTA{
  margin-top: 10px !important;
 // margin-left: -2px !important;
}
.app-widget-wrapper__agency_count, .app-widget-wrapper__RNUtilization-chart{
  overflow-x: hidden;
  overflow-y : auto;
}
.app-widget-wrapper__RNUtilization-chart {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: inherit;
  padding: 0px 5px;
}
.app-widget-wrapper__agency_count, .app-widget-wrapper__AlreadyExpiredCredentials-chart{
  overflow: auto;
}
.app-widget-wrapper__AlreadyExpiredCredentials-chart {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}