<div [ngClass]="{'app-widget-wrapper':true,'with-legend' : legend, 'with-position':isLTAOrderEnding}">
  <div class="app-widget-wrapper__content">
    <h3 *ngIf="title" class="app-widget-wrapper__title">{{ title }}</h3>
    <ng-container [ngTemplateOutlet]="isLoading ? loadingTemplate : regularWidgetTemplate"></ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-inline-loader class="app-widget-wrapper__loader"></app-inline-loader>
</ng-template>

<ng-template #regularWidgetTemplate>

    <div class="app-widget-wrapper__projection-wrapper">
    <div *ngIf="header" class="app-widget-wrapper__header">
      <ng-container [ngTemplateOutlet]="header"></ng-container>
    </div>
    <div *ngIf="chart" class="app-widget-wrapper__chart">
      <ng-container [ngTemplateOutlet]="chart"></ng-container>
    </div>
    <div *ngIf="lineChart" class="app-widget-wrapper__line-chart">
      <ng-container [ngTemplateOutlet]="lineChart"></ng-container>
    </div>
    <div *ngIf="mapChart" class="app-widget-wrapper__map-chart">
      <ng-container [ngTemplateOutlet]="mapChart"></ng-container>
    </div>
    <div *ngIf="positionChart" [ngClass]="{'with-isCandidate' : isCandidateApplied}">
      <ng-container [ngTemplateOutlet]="positionChart"></ng-container>
    </div>
    <div *ngIf="legend" [ngClass]="{'app-widget-wrapper__legend': true, 'line-chart-legend': lineChart, 'map-chart-legend': mapChart}">
      <ng-container [ngTemplateOutlet]="legend"></ng-container>
    </div>
    <div *ngIf="OrgChart" class="app-widget-wrapper__org-chart">
      <ng-container [ngTemplateOutlet]="OrgChart"></ng-container>
    </div>
    <div *ngIf="agency_count" class="app-widget-wrapper__agency_count">
      <ng-container [ngTemplateOutlet]="agency_count"></ng-container>
    </div>
    <div class="height_update">
      <div *ngIf="RNUtilizationChart" class="app-widget-wrapper__RNUtilization-chart">
        <ng-container [ngTemplateOutlet]="RNUtilizationChart"></ng-container>
      </div>  
    </div>
    <div *ngIf="already_expired_credentials" class="app-widget-wrapper__expired-chart">
      <ng-container [ngTemplateOutlet]="already_expired_credentials"></ng-container>
    </div> 
    <div *ngIf="upcoming_exp_creds" class="app-widget-wrapper__upcoming-chart">
      <ng-container [ngTemplateOutlet]="upcoming_exp_creds"></ng-container>
    </div>
    <div class="height_update">
      <div *ngIf="available_employee" class="app-widget-wrapper__available_employee">
        <ng-container [ngTemplateOutlet]="available_employee"></ng-container>
      </div>  
    </div>
    <div *ngIf="positions_count_day_range" class="app-widget-wrapper__positions_count_day_range">
      <ng-container [ngTemplateOutlet]="positions_count_day_range"></ng-container>
    </div>
    <div *ngIf="orders_pending_custom_status" class="app-widget-wrapper__orders_pending_in_custom">
      <ng-container [ngTemplateOutlet]="orders_pending_custom_status"></ng-container>
    </div>
  </div> 
</ng-template>
