<ejs-dialog
  cssClass="profile-details-reject-reason-dialog"
  #rejectReasonDialog
  [target]="container"
  [visible]="visible"
  [width]="'450px'"
  [isModal]="true"
  (visibleChange)="onVisibleChange($event)"
  (close)="handleDialogClose()"
>
  <ng-template #content>
    <form
      class="reject-reason-dialog-content-container"
      [formGroup]="form"
    >
      <h2 class="title">Reason for Rejection</h2>
      <div class="content">
        <div class="description">Please specify reason for rejection</div>
        <div class="reason-title"></div>
        <div class="reason-input">
          <div class="input-title">Reason</div>
          <div class="input-container bootstrap">
            <div class="input-group">
              <ejs-textbox class="e-input"
                           type="text"
                           cssClass="reject-reason-input"
                           formControlName="reason"
                           appValidateWithMessage
                           [multiline]="true"
              ></ejs-textbox>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button ejs-button class="e-outline" (click)="hide()">Cancel</button>
        <button ejs-button class="e-danger" type="submit" (click)="submit()">Reject</button>
      </div>
    </form>
  </ng-template>
</ejs-dialog>
