<section class="filter-grid">
  <ejs-grid
    #filterGrid
    [dataSource]="(filteredCredentials$ | async)?.items"
    [allowPaging]="allowPaging"
    [enableVirtualization]="false"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
  >
    <e-columns>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button
              ejs-button
              cssClass="e-flat primary-icon-button"
              [disabled]="!userPermission[userPermissions.CanEditCredentials]"
              (click)="editCredentialSetup(data)"
            >
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button
                    cssClass="e-flat secondary-icon-button"
                    [disabled]="!userPermission[userPermissions.CanEditCredentials]"
                    (click)="removeCredential(data, $event)">
              <span ><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="system" headerText="SYSTEM" width=144>
        <ng-template #template let-data>
          <span>{{ data.includeInIRP | irpSystemGridText: data.includeInVMS }}</span>
        </ng-template>
      </e-column>
      <e-column field="regionName" headerText="REGION" width=200>
        <ng-template #template let-data>
          <span *ngIf="data.regionId">{{ data.regionName }}</span>
          <span *ngIf="!data.regionId">All</span>
        </ng-template>
      </e-column>
      <e-column field="locationName" headerText="LOCATION" width=200>
        <ng-template #template let-data>
          <span *ngIf="data.locationId">{{ data.locationName }}</span>
          <span *ngIf="!data.locationId">All</span>
        </ng-template>
      </e-column>
      <e-column field="departmentName" headerText="DEPARTMENT" width=200>
        <ng-template #template let-data>
          <span *ngIf="data.departmentId">{{ data.departmentName }}</span>
          <span *ngIf="!data.departmentId">All</span>
        </ng-template>
      </e-column>
      <e-column field="skillGroupName" headerText="GROUP" width=250>
        <ng-template #template let-data>
          <span *ngFor="let skillGroup of data.skillGroups; let i = index">{{ skillGroup.name }}
            <span *ngIf="i !== data.skillGroups.length - 1">, </span>
          </span>
          <span *ngIf="data.skillGroups.length === 0">All</span>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="changePage()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1" [max]="(filteredCredentials$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="nextPage($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(filteredCredentials$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="credentialSetupFilter.pageSize"
                [totalRecordsCount]="(filteredCredentials$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="credentialSetupFilter.pageNumber"
                (click)="nextPage($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>
