.container {
  padding-top: 23px;

  .tools-button-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

    .tools-button-group {
      display: flex;
      align-items: center;

      h3 {
        margin-left: 19px;
      }
    }
  }
}
