.container {
  padding-top: 23px;

  .tools-button-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;

    .tools-button-group {
      display: flex;
      align-items: center;

      h3 {
        margin-left: 19px;
      }

      .filter-button {
        margin-right: 12px;
      }
    }
  }

  ejs-tab {
    .e-tab-header.e-control {
      padding-bottom: 10px;
    }
  }
}
