<section class="container">
  <div class="tools-button-container">
    <div class="tools-button-group">
      <button
        ejs-button
        id="backButton"
        cssClass="e-outline back-button"
        (click)="onBackButtonClick()">Back</button>
      <h3>Groups</h3>
    </div>

    <div class="form-button-group">
      <button
        ejs-button
        id="addGroupButton"
        [isPrimary]="true"
        cssClass="add-group-button"
        (click)="onAddGroupClick()">Add Group</button>
    </div>
  </div>

  <app-group-setup></app-group-setup>
</section>
