@import "colors";

.eligible-message {
  background-color: $supportive-red-10;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 8px;
  color: $supportive-red;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;

  i-feather {
    margin-right: 14px;
  }
}
