@import "colors";
@import 'adaptive-response';

.actions {
  .action-link {
    background-color: transparent;

    &:hover,
    &:active {
      background-color: transparent !important;
    }
  }
}

@media #{$max-mobile} {
  .empty-grid {
    height: 100%;
  }
}
