<form class="note-form add-edit-noteform">
  <app-datepicker
    [formGroupInstance]="noteForm"
    [required]="true"
    controlName="date"
    label="Date"
    id="date"
  >
  </app-datepicker>
  <app-dropdown
    [dataSource]="categories$ | async"
    [fields]="categoryFields"
    [formGroupInstance]="noteForm"
    [required]="true"
    [hideBorder]="false"
    label="Category"
    id="category"
    controlName="categoryId"
  >
    >
  </app-dropdown>
  <app-textarea
    [formGroupInstance]="noteForm"
    [required]="true"
    maxlength="250"
    controlName="note"
    label="Note"
    id="note"
  >
  </app-textarea>
</form>
