@import 'colors';
@import 'adaptive-response';

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  @media #{$min-tablet} {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .input-container {
    width: 100%;

    &:nth-child(n+2) {
      margin-left: 0;

      @media #{$min-tablet} {
        margin-left: 12px;
      }

    }
  }
}

.calendar-container {
  width: 234px;
}

.order-filter-item {
  display: inline-block;
  position: relative;
  height: 60px;
  text-indent: 0;

  &_parent {
    font-size: 12px;
    color: var(--sub-title-4);
    position: absolute;
    left: 0;
    top: 20px;

    &:hover {
      color: $bg-gray-200;
    }
  }
}
