<form class="bootstrap" [formGroup]="form" *ngIf="form">
  <div>
    <div class="input-container">
      <label for="orderId">{{ activeTab === AgencyOrderManagementTabs.ReOrders ? 'Re-Order ID' : 'Order ID' }}</label>
      <div class="input-group">
        <input id="orderId" class="e-input" type="text" maxlength="50" formControlName="orderPublicId" />
      </div>
    </div>
  </div>
  <div>
    <div class="input-container">
      <label>Organization</label>
      <div class="input-group">
        <ejs-multiselect
          #organizationMultiselect
          mode="CheckBox"
          selectAllText="All"
          [showSelectAll]="true"
          formControlName="organizationIds"
          placeholder="All"
          [fields]="optionFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [changeOnBlur]="false"
          [dataSource]="filterColumns.organizationIds.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
  </div>
    <div class="input-container">
      <label>Region</label>
      <div class="input-group">
        <ejs-multiselect
          mode="CheckBox"
          #regionMultiselect
          selectAllText="All"
          [showSelectAll]="true"
          formControlName="regionIds"
          placeholder="All"
          [fields]="optionFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.regionIds.dataSource"
        >
          <ng-template #itemTemplate let-data>
            <div class="order-filter-item">
              <span>{{ data?.name }}</span>
              <span class="order-filter-item_parent">{{ data?.orgName }}</span>
            </div>
          </ng-template>
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Location</label>
      <div class="input-group">
        <ejs-multiselect
          #locationMultiselect
          mode="CheckBox"
          formControlName="locationIds"
          selectAllText="All"
          [showSelectAll]="true"
          placeholder="All"
          [fields]="optionFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.locationIds.dataSource"
        >
          <ng-template #itemTemplate let-data>
            <div class="order-filter-item">
              <span>{{ data?.name }}</span>
              <span class="order-filter-item_parent">{{ data?.regionName }}</span>
            </div>
          </ng-template>
        </ejs-multiselect>
      </div>
    </div>
  <div>
    <div class="input-container">
      <label>Department</label>
      <div class="input-group">
        <ejs-multiselect
          mode="CheckBox"
          selectAllText="All"
          [showSelectAll]="true"
          formControlName="departmentsIds"
          placeholder="All"
          [fields]="optionFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.departmentsIds.dataSource"
        >
          <ng-template #itemTemplate let-data>
            <div class="order-filter-item">
              <span>{{ data?.name }}</span>
              <span class="order-filter-item_parent">{{ data?.locationName }}</span>
            </div>
          </ng-template>
        </ejs-multiselect>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-container">
      <label>Skill</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          formControlName="skillIds"
          placeholder="All"
          [fields]="optionFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.skillIds.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container" *ngIf="activeTab !== AgencyOrderManagementTabs.ReOrders && activeTab !== AgencyOrderManagementTabs.PerDiem && activeTab !== AgencyOrderManagementTabs.PermPlacement">
      <label>Order Type</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          formControlName="orderTypes"
          placeholder="All"
          [fields]="optionFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.orderTypes.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-container">
      <label>Candidate Status</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          formControlName="candidateStatuses"
          placeholder="All"
          [fields]="statusFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.candidateStatuses.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Order Status</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          #orderStatusFilter
          mode="CheckBox"
          formControlName="orderStatuses"
          placeholder="All"
          [fields]="statusFields"
          [allowFiltering]="true"
          [showDropDownIcon]="true"
          [dataSource]="filterColumns.orderStatuses.dataSource"
        >
        </ejs-multiselect>
      </div>
    </div>
  </div>
  <div>
    <div class="input-container">
      <label>Special Project Category</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          placeholder="All"
          formControlName="projectTypeIds"
          [allowFiltering]="true"
          [dataSource]="filterColumns.projectTypeIds.dataSource"
          [fields]="specialProjectCategoriesFields"
          [showDropDownIcon]="true"
        >
        </ejs-multiselect>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-container">
      <label>Project Name</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          placeholder="All"
          formControlName="projectNameIds"
          [allowFiltering]="true"
          [dataSource]="filterColumns.projectNameIds.dataSource"
          [fields]="projectNameFields"
          [showDropDownIcon]="true"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>PO #</label>
      <div class="input-group multiselect">
        <ejs-multiselect
          mode="CheckBox"
          placeholder="All"
          formControlName="poNumberIds"
          [allowFiltering]="true"
          [dataSource]="filterColumns.poNumberIds.dataSource"
          [fields]="poNumberFields"
          [showDropDownIcon]="true"
        >
        </ejs-multiselect>
      </div>
    </div>
  </div>
  <div>
    <div class="input-container">
      <label>Job Title</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="jobTitle" />
      </div>
    </div>
  </div>
  <div>
    <div class="input-container">
      <label>Candidate Name</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="candidateName" />
      </div>
    </div>
  </div>
  <div class="row" *ngIf="activeTab !== AgencyOrderManagementTabs.PerDiem && activeTab !== AgencyOrderManagementTabs.PermPlacement">
    <div class="input-container">
      <label>Bill Rate From</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="billRateFrom" />
      </div>
    </div>
    <div class="input-container">
      <label>Bill Rate To</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="billRateTo" />
      </div>
    </div>
  </div>
  <div class="row" *ngIf="activeTab === AgencyOrderManagementTabs.PermPlacement">
    <div class="input-container">
      <label>Annual Salary From</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="annualSalaryRangeFrom" />
      </div>
    </div>
    <div class="input-container">
      <label>Annual Salary To</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="annualSalaryRangeTo" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-container">
      <label>Candidates Count From</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="candidatesCountFrom" />
      </div>
    </div>
    <div class="input-container">
      <label>Candidates Count To</label>
      <div class="input-group">
        <input class="e-input" type="text" maxlength="50" formControlName="candidatesCountTo" />
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="activeTab !== AgencyOrderManagementTabs.PermPlacement" class="input-container">
      <label for="numberOfPositions"># of Positions</label>
      <div class="input-group">
        <input id="numberOfPositions" class="e-input" type="text" maxlength="50" formControlName="openPositions" />
      </div>
    </div>
  </div>
  <div class="row" *ngIf="activeTab !== AgencyOrderManagementTabs.PerDiem">
    <div class="input-container calendar">
      <label for="jobStartDate">{{ activeTab !== AgencyOrderManagementTabs.ReOrders ? 'Job Start Date' : 'Re-Order Date' }}</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          id="jobStartDate"
          class="datepicker"
          [format]="formatDate"
          [placeholder]="placeholderDate"
          [enableMask]="true"
          [maskPlaceholder]="datepickerMask"
          formControlName="jobStartDate"
        >
        </ejs-datepicker>
      </div>
    </div>
    <div class="input-container calendar" *ngIf="activeTab !== AgencyOrderManagementTabs.ReOrders && activeTab !== AgencyOrderManagementTabs.PermPlacement">
      <label for="jobEndDate">Job End Date</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          id="jobEndDate"
          class="datepicker"
          [format]="formatDate"
          [placeholder]="placeholderDate"
          [enableMask]="true"
          [maskPlaceholder]="datepickerMask"
          formControlName="jobEndDate"
        >
        </ejs-datepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-container calendar">
      <label>Creation Date From</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          class="datepicker"
          [format]="formatDate"
          [placeholder]="placeholderDate"
          [enableMask]="true"
          [maskPlaceholder]="datepickerMask"
          formControlName="creationDateFrom"
        >
        </ejs-datepicker>
      </div>
    </div>
    <div class="input-container calendar">
      <label>Creation Date To</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          class="datepicker"
          [format]="formatDate"
          [placeholder]="placeholderDate"
          [enableMask]="true"
          [maskPlaceholder]="datepickerMask"
          formControlName="creationDateTo"
          >
        </ejs-datepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-container calendar">
      <label>Distributed On From</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          class="datepicker"
          [format]="formatDate"
          [placeholder]="placeholderDate"
          [enableMask]="true"
          [maskPlaceholder]="datepickerMask"
          formControlName="distributedOnFrom"
        >
        </ejs-datepicker>
      </div>
    </div>
    <div class="input-container calendar">
      <label>Distributed On To</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          class="datepicker"
          [format]="formatDate"
          [placeholder]="placeholderDate"
          [enableMask]="true"
          [maskPlaceholder]="datepickerMask"
          formControlName="distributedOnTo"
        >
        </ejs-datepicker>
      </div>
    </div>
  </div>
</form>
