@import 'colors';
.alerts-template-top-padding {
  padding-top: 10px;
}

.business-dropdowns {
  display: flex;
  width: 100%;

  .dropdown-container {
    margin-right: 12px;
    width: 100%;
    max-width: 220px;
  }
}

:host {
  .button-group {
    margin-top: 24px;
    display: block;
    border-bottom: 1px solid $secondary-dark-blue-40;
  }
}

.system-buttons {
  position: relative;    
  margin-top: 0 !important;
  padding: 12px 24px;
  background-color: $background;    
}