@import 'colors';
.alerts-template-top-padding {
  padding-top: 10px;
}

.business-dropdowns {
  display: flex;
  width: 100%;

  .dropdown-container {
    margin-right: 12px;
    width: 100%;
    max-width: 220px;
  }
}

:host {
  .button-group {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $secondary-dark-blue-40;
    display: block;
  }
}

.system-buttons {
  position: fixed;
  top: 81px;
  left: 50%;
  z-index: 3;
  margin-top: 0 !important;
  padding: 12px 24px;
  transform: translateX(-50%);
  background-color: $background;
  display: flex !important;
  justify-content: center;
}
