.alerts-template-top-padding {
  padding-top: 10px;
}

.alerts-template-grid {
  width: 100%;
  height: 550px;
}
.business-dropdowns {
  display: flex;
  width: 100%;

  .dropdown-container {
    margin-right: 12px;
    width: 100%;
    max-width: 220px;
  }
}