@import "colors";
@import "adaptive-response";
@import 'mixins';

.e-grid {
  border-radius: 12px;

  .e-row {
    .e-checkbox-wrapper .e-frame.e-check,
    body.light .e-css.e-checkbox-wrapper .e-frame.e-check {
      background-color: #fff;
      color: $primary-active-blue-10;
    }
  }

  &.e-gridhover
    tr[role='row']:not(.e-editedrow):hover
    .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
    background-color: $primary-active-blue-90 !important;
  }

  .e-success-row {
    background-color: $supportive-green-50;
  }

  .align-right {
    text-align: right;
  }

  .e-sortnumber {
    display: none;
  }

  .e-sortfilterdiv.e-icons.e-descending.e-icon-descending {
    float: right;
  }

  .controls-header,
  .row-tool-buttons {
    display: flex;
    justify-content: flex-end;

    .icon {
      margin: 0;
    }

    .e-btn {
      line-height: 0 !important;
    }
  }

  .row-tool-buttons {
    display: flex;
    cursor: pointer;
  }

  .e-item-active {
    color: $primary-active-blue;
  }

  .sort-header {
    display: flex;

    i-feather {
      cursor: pointer;
      margin-top: 5px;
      margin-left: 12px;
      color: $primary-active-blue;
    }
  }
}

.subrow-wrapper {
  app-grid-subrow-candidate:not(:last-child) {
    display: block;
    border-bottom: 1px solid $secondary-dark-blue-45;
  }
}

@media #{$max-mobile} {
  .e-grid .e-content {
    overflow-y: hidden !important;
  }
}

.order-type-text-cell {
  @include order-type-text-cell;
}
