<ejs-grid
  #grid
  class="e-gridwithchildrow"
  (rowDataBound)="setRowHighlight($event)"
  [dataSource]="ordersPage?.items || []"
  [pageSettings]="pageSettings"
  [height]="isMobile ? mobileGridHeight : fullScreenGridHeight"
  [rowHeight]="rowHeight"
  [allowSorting]="true"
  [resizeSettings]="resizeSettings"
  [allowResizing]="allowResizing"
  [allowTextWrap]="allowWrap"
  [selectionSettings]="selectionOptions"
  [textWrapSettings]="wrapSettings"
  [enableVirtualization]="false"
  (rowDeselected)="onRowDeselect($event, gridWithChildRow)"
  (rowSelected)="onRowClick($event)"
  (dataBound)="onDataBound()"
  (actionBegin)="actionBegin($event)"
  (created)="onGridCreated()"
>
  <e-columns>
    <e-column
      type="checkbox"
      [customAttributes]="{ class: 'bootstrap' }"
      width="50"
      [allowResizing]="false"
      textAlign="center"
    ></e-column>
    <e-column headerTextAlign="Right" width="140" minWidth="125" maxWidth="200">
      <ng-template #headerTemplate let-data>
        <div class="controls-header" [class.hidden]="!isLoaded">
          <button
            ejs-button
            cssClass="e-flat icon-button"
            *ngIf="!isSubrowDisplay; else onSubrowToggle"
            (click)="expandAll()"
          >
            <span><img src="assets/icons/menu-expand.svg" alt="coll" class="icon" /></span>
          </button>
          <ng-template #onSubrowToggle>
            <button ejs-button cssClass="e-flat icon-button" (click)="collapseAll()">
              <span><img src="assets/icons/menu-collapse.svg" alt="coll" class="icon c" /></span>
            </button>
          </ng-template>
          <button
            ejs-button
            cssClass="e-flat icon-button"
            *ngIf="isRowScaleUp; else onRowScaleDown"
            (click)="onRowScaleUpClick()"
          >
            <span><i-feather name="menu" class="icon"></i-feather></span>
          </button>
          <ng-template #onRowScaleDown>
            <button ejs-button cssClass="e-flat icon-button" (click)="onRowScaleDownClick()">
              <span><i-feather name="align-justify" class="icon"></i-feather></span>
            </button>
          </ng-template>
        </div>
      </ng-template>
      <ng-template #template let-data>
        <div class="row-tool-buttons" [class.hidden]="!isLoaded">
          <button *ngIf="isLockMenuButtonsShown" ejs-button cssClass="e-flat" [disabled]="true">
            <span *ngIf="data.isLocked"><i-feather name="lock" class="icon"></i-feather></span>
            <span *ngIf="!data.isLocked"><app-custom-icon name="unlock" class="icon"></app-custom-icon></span>
          </button>
          <button ejs-button cssClass="e-flat default-icon-button with-badge" (click)="openDetailsTab = true">
            <span><i-feather name="message-square" class="icon"></i-feather></span>
            <span *ngIf="data.unreadComments > 0" class="e-badge e-badge-success e-badge-pill right-overflow">{{
              data.unreadComments
            }}</span>
          </button>
        </div>
      </ng-template>
    </e-column>
    <e-column field="orderId" headerText="ORDER ID" isPrimaryKey="true" width="115" minWidth="100" maxWidth="180">
      <ng-template #template let-data>
        <ng-container
          *ngIf="
            data.orderType === orderTypes.OpenPerDiem ? !data.reOrders?.length : !data.children?.length;
            else withToggle
          "
        >
          <div>
            <b>{{ data.organizationPrefix }}-{{ data.publicId }}</b>
          </div>
        </ng-container>

        <ng-template #withToggle>
          <div class="subrow-toggle" (click)="onSubrowToggle($event, data)">
            <b>{{ data.organizationPrefix }}-{{ data.publicId }}</b
            ><i-feather [name]="subrowsState.has(+data.index) ? 'chevron-down' : 'chevron-right'"></i-feather>
          </div>
        </ng-template>
      </ng-template>
    </e-column>
    <e-column field="reOrderId" headerText="RE-ORDER ID" width="140" minWidth="120" maxWidth="200" [visible]="false">
      <ng-template #template let-data>
        <ng-container *ngIf="!data.children?.length; else withToggle">
          <div>
            <b>{{ data.organizationPrefix }}-{{ data.publicId }}</b>
          </div>
        </ng-container>

        <ng-template #withToggle>
          <div class="subrow-toggle" (click)="onSubrowToggle($event, data)">
            <b>{{ data.organizationPrefix }}-{{ data.publicId }}</b>
            <i-feather [name]="subrowsState.has(+data.index) ? 'chevron-down' : 'chevron-right'"></i-feather>
          </div>
        </ng-template>
      </ng-template>
    </e-column>
    <e-column field="status" headerText="STATUS" width="215" minWidth="120" maxWidth="260">
      <ng-template #template let-data>
        <div class="status-cell" [class.ex-chip]="data?.extensionFromId">
          <ejs-chiplist>
            <e-chips>
              <e-chip [text]="data.statusText" [cssClass]="data.statusText | chipsCssClass"></e-chip>
              <e-chip *ngIf="data?.extensionFromId" text="E" cssClass="e-warning ex"></e-chip>
            </e-chips>
          </ejs-chiplist>
        </div>
      </ng-template>
    </e-column>
    <e-column field="orderType" headerText="TYPE" textAlign="Center" width="85" minWidth="70" maxWidth="110">
      <ng-template #template let-data>
        <div class="order-type-column" *ngIf="orderTypes[data.orderType] as orderType">
          <ejs-tooltip id="tooltip" [content]="orderType" position="TopCenter">
            <span class="order-type-text-cell">{{ orderType[0] }}</span>
          </ejs-tooltip>
        </div>
      </ng-template>
    </e-column>
    <e-column field="jobTitle" headerText="JOB TITLE" width="120" minWidth="100" maxWidth="200"></e-column>
    <e-column field="organizationName" headerText="Organization" width="155" minWidth="135" maxWidth="200"></e-column>
    <e-column
      field="numberOfPositions"
      headerText="AVAIL POS."
      headerTextAlign="Right"
      width="135"
      minWidth="110"
      maxWidth="180"
    >
      <ng-template #template let-data>
        <div class="align-right" *ngIf="data.orderType !== orderTypes.OpenPerDiem">
          {{ data.numberOfOpenPositions }}/{{ data.numberOfPositions }}
        </div>
      </ng-template>
    </e-column>
    <e-column field="skill" headerText="SKILL" textAlign="Left" width="100" minWidth="90" maxWidth="200"></e-column>
    <e-column
      field="department"
      headerText="DEPARTMENT"
      textAlign="Left"
      width="145"
      minWidth="125"
      maxWidth="200"
    ></e-column>
    <e-column
      field="regionName"
      headerText="REGION"
      textAlign="Left"
      width="150"
      minWidth="90"
      maxWidth="200"
      [visible]="true"
    ></e-column>
    <e-column
      field="location"
      headerText="LOCATION"
      textAlign="Left"
      width="140"
      minWidth="110"
      maxWidth="200"
    ></e-column>
    <e-column field="billRate" headerText="Bill Rate" headerTextAlign="Right" width="120" minWidth="100" maxWidth="200">
      <ng-template #template let-data>
        <div class="align-right">{{ data.billRate }}</div>
      </ng-template>
    </e-column>
    <e-column field="jobStartDate" width="155" minWidth="135" maxWidth="200">
      <ng-template #headerTemplate let-data>
        <span class="e-headertext">
          {{ selectedTab !== AgencyOrderManagementTabs.ReOrders ? 'START DATE' : 'RE-ORDER DATE' }}
        </span>
      </ng-template>
      <ng-template #template let-data>
        {{ data.jobStartDate | date: 'MM/dd/yyy':'UTC' }}
      </ng-template>
    </e-column>
    <e-column
      field="shiftsNext90Days"
      headerText="# of Shifts Next 90 Days"
      textAlign="Right"
      headerTextAlign="Right"
      width="220"
      minWidth="200"
      maxWidth="260"
      [visible]="false"
    ></e-column>
    <e-column
      field="annualSalaryRangeFrom"
      headerText="Annual Salary From"
      textAlign="Right"
      headerTextAlign="Right"
      width="200"
      minWidth="180"
      maxWidth="260"
      [visible]="false"
    >
      <ng-template #template let-data>
        <span>{{ data.annualSalaryRangeFrom | currency: 'USD':'symbol':'1.0-2' }}</span>
      </ng-template>
    </e-column>
    <e-column
      field="annualSalaryRangeTo"
      headerText="Annual Salary To"
      textAlign="Right"
      headerTextAlign="Right"
      width="200"
      minWidth="160"
      maxWidth="260"
      [visible]="false"
    >
      <ng-template #template let-data>
        <span>{{ data.annualSalaryRangeTo | currency: 'USD':'symbol':'1.0-2' }}</span>
      </ng-template>
    </e-column>
    <e-column field="endDate" headerText="End Date" width="130" minWidth="105" maxWidth="200">
      <ng-template #template let-data>
        <span>{{ data.endDate | date: formatDate:'UTC' }}</span>
      </ng-template>
    </e-column>
    <e-column field="shiftName" headerText="Shift Name" width="160" minWidth="80" maxWidth="200">
      <ng-template #template let-data>
        <span>{{ data.shiftName }}</span>
      </ng-template>
    </e-column>
    <e-column field="shiftStartTime" headerText="SHIFT" width="160" minWidth="80" maxWidth="200">
      <ng-template #template let-data>
        <span>{{ data.shiftStartTime | date: 'HH:mm':'UTC' }}-{{ data.shiftEndTime | date: 'HH:mm':'UTC' }}</span>
      </ng-template>
    </e-column>
    <e-column
      field="candidatesCount"
      headerText="CAND."
      headerTextAlign="Right"
      width="90"
      minWidth="80"
      maxWidth="160"
    >
      <ng-template #template let-data>
        <div class="align-right">{{ data.candidatesCount }}</div>
      </ng-template>
    </e-column>
    <e-column field="creationDate" headerText="Creation Date" width="150" minWidth="140" maxWidth="200">
      <ng-template #template let-data>
        <span>{{ data.creationDate | date: formatDate }}</span>
      </ng-template>
    </e-column>
  </e-columns>

  <ng-template #detailTemplate let-data>
    <div class="subrow-wrapper">
      <ng-container *ngIf="data.orderType === orderTypes.OpenPerDiem; else defaultSubRow">
        <app-grid-subrow-reorder
          *ngFor="let child of data.reOrders"
          [reOrder]="child"
          [order]="data"
          [selected]="selectedReOrder?.selected?.order === data.id && selectedReOrder?.selected.reOrder === child.id"
          [hideAgency]="true"
          (clickEvent)="onOpenReorderDialog($event, data)"
        ></app-grid-subrow-reorder>
      </ng-container>
    </div>

    <ng-template #defaultSubRow>
      <app-grid-subrow-candidate
        *ngFor="let child of data.children"
        [candidat]="child"
        [order]="data"
        [selected]="
          selectedCandidate?.selected?.order === data.id && selectedCandidate?.selected.positionId === child.positionId
        "
        [isAgency]="false"
        (clickEvent)="onOpenCandidateDialog($event, data)"
      ></app-grid-subrow-candidate>
    </ng-template>
  </ng-template>
</ejs-grid>
<app-grid-pagination
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [totalRecordsCount]="(ordersPage$ | async)?.totalCount || 0"
  (navigateToPageEmitter)="gridPageChanged($event)"
  (pageSizeChangeEmitter)="gridPerPageChanged($event)"
></app-grid-pagination>

<app-export-dialog
  [columns]="columnsToExport"
  [fileName]="fileName"
  (cancel)="closeExport()"
  (export)="export($event)"
></app-export-dialog>

<app-preview-order-dialog
  #detailsDialog
  [order]="selectedOrder"
  [openEvent]="openPreview"
  [orderPositionSelected$]="orderPositionSelected$"
  [openDetailsTab]="openDetailsTab"
  [openCandidateTab]="!!previousSelectedOrderId"
  (compareEvent)="onCompare()"
  (selectReOrder)="selectReOrder($event)"
  (nextPreviousOrderEvent)="onNextPreviousOrderEvent($event)"
></app-preview-order-dialog>

<app-candidat-dialog [openEvent]="openCandidat"></app-candidat-dialog>

<app-child-order-dialog
  [order]="$any(selectedOrder)"
  [candidate]="selectedCandidate"
  [openEvent]="openChildDialog"
></app-child-order-dialog>

<app-filter-dialog
  [items]="filteredItems"
  [count]="ordersPage?.totalCount"
  [targetElement]="targetElement"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
  (closeDialogClicked)="onFilterClose()"
>
  <app-agency-order-filters
    [form]="OrderFilterFormGroup"
    [filterColumns]="filterColumns"
    [activeTab]="selectedTab"
    (setDefault)="setDefaultFilters($event)"
  ></app-agency-order-filters>
</app-filter-dialog>

<app-scroll-to-top *ngIf="isMobile"></app-scroll-to-top>
