<ng-container *ngIf="displayRows.length; else emptyMessageTemplate">
  <ng-container *ngFor="let row of displayRows as IRPCandidateForPosition; trackBy:trackBySystem">
    <div
      *ngFor="let data of row.rowsSource; trackBy:trackById"
      (click)="selectRow($event, data)"
      class="custom-row">
      <ng-container *ngFor="let cell of colDefs[row.system]; trackBy:trackByField">
        <div
          [ngStyle]="{
           width: cell.width + 'px',
           'min-width': cell.minWidth + 'px',
           'max-width': cell.maxWidth + 'px'
         }"
          class="custom-cell">
          <ng-container [ngSwitch]="cell.field">

            <ng-container *ngSwitchCase="'skill'">
              <ng-container *ngIf="!data?.skillToolTip; else skillToolTip">
                <p class="custom-cell__value">{{ data[cell?.field || ''] }}</p>
              </ng-container>

              <ng-template #skillToolTip>
                <app-tooltip-container [showToolTip]="data?.skillToolTip" [message]="data?.fullSkillName">
                  <p class="custom-cell__value">{{ data[cell?.field || ''] }}</p>
                </app-tooltip-container>
              </ng-template>

              <h3 class="custom-cell__title">{{ cell.headerName }}</h3>
            </ng-container>

            <ng-container *ngSwitchCase="'candidateStatus' || 'orderStatus'">
              <ng-container *ngIf="data[cell?.field || ''] as cellValue">
                <div [class]="cell?.cellClass">
                  <ejs-chiplist>
                    <e-chips>
                      <e-chip [text]="cellValue" [cssClass]="(cellValue | chipsCssClass)"></e-chip>
                    </e-chips>
                  </ejs-chiplist>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'system'">
              <ng-container *ngIf="row.system === vmsSystem && isBothSystemsEnabled; else defaultCell">
                <p class="custom-cell__value custom-cell__link" (click)="navigateToPositionDetails(data)">
                  {{ data[cell?.field || ''] }}
                </p>
              </ng-container>

              <ng-template #defaultCell>
                <p class="custom-cell__value">{{ data[cell?.field || ''] }}</p>
              </ng-template>

              <h3 class="custom-cell__title">{{ cell.headerName }}</h3>
            </ng-container>

            <ng-container *ngSwitchCase="'actualStartDate'">
              <ng-container *ngIf="row.system === irpSystem && params.data.orderType === 3">
                <p class="custom-cell__value">{{ data[cell?.field || ''] }}</p>
              <h3 class="custom-cell__title">{{ cell.headerName }}</h3>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'actualEndDate'">
              <ng-container *ngIf="row.system === irpSystem && params.data.orderType === 3">
                <p class="custom-cell__value">{{ data[cell?.field || ''] }}</p>
              <h3 class="custom-cell__title">{{ cell.headerName }}</h3>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchDefault>
              <p class="custom-cell__value">{{ data[cell?.field || ''] }}</p>
              <h3 class="custom-cell__title">{{ cell.headerName }}</h3>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
<ng-template #emptyMessageTemplate>
  <div class="empty-message">
    <p>{{ emptyMessage }}</p>
  </div>
</ng-template>
