@import '../../../styles/variables/colors';

.controls-wrapper {
  position: absolute;
  right: 0;
  padding: 25px;
  z-index: 1;

  button {
    margin-left: 10px;
  }
}

.tabs {
  margin-top: 15px;
}