@import "colors";
.percentage-ratio {
  font-weight: 700;

  &__value {
    color: $supportive-red;
    margin: 0 5px 0 15px;
  }

  &__value-decrease {
    display: inline-block;
    color: $supportive-red;
    transform: rotate(180deg);
  }

  &__value-increase {
    color: $supportive-green-10;
  }
}

.e-arrow-right-up {
  font-size: 12px;
}

.percentage-ratio-mar{
  .percentage-ratio__value {
    margin: 0 0 0 5px !important;
  }
}