<form [formGroup]="form">
  <div class="search">
    <div class="search-controls">
      <div class="input-container name">
        <label>Credential Name</label>
        <div>
          <app-search (inputKeyUpEnter)="searchCredential($event)"></app-search>
        </div>
      </div>
      <div class="input-container type">
        <label>Credential Type</label>
        <div class="bootstrap">
          <ejs-dropdownlist
            [showClearButton]="true"
            [dataSource]="credentialTypes$ | async"
            [fields]="credTypesFields"
            [(value)]="selectedCredType"
            (change)="filterByType()"></ejs-dropdownlist>
        </div>
      </div>
    </div>
    <div class="results-container" [ngClass]="{ 'cred-selection-invalid': credSelectionInvalid }">
      <ng-container *ngIf="filteredCreds as creds">
        <ejs-grid
          #searchGrid
          class="search-grid" *ngIf="creds.length"
          [dataSource]="creds"
          (rowSelected)="selectCredential($event)"
          (rowDeselected)="deselectCredential()"
          allowFiltering="true"
          [height]="'100%'"
          [rowHeight]="48"
        >
          <e-columns>
            <e-column field="name"></e-column>
            <e-column field="credentialTypeName"></e-column>
          </e-columns>
        </ejs-grid>
        <div class="empty-list" *ngIf="!creds.length">
          <i-feather name="alert-circle" class="icon"></i-feather>
          <span>There are no records to display</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="form-line">
    <div class="input-container bootstrap">
      <label for="comments">Comment</label>
      <div class="input-group">
        <ejs-textbox
          class="e-input"
          type="text"
          [multiline]="true"
          formControlName="comment">
        </ejs-textbox>
      </div>
    </div>
  </div>

  <div class="form-line">
    <div class="bootstrap checkbox-container">
      <ejs-checkbox formControlName="reqForSubmission" label="Req. For Submission"></ejs-checkbox>
      <ejs-checkbox formControlName="reqForOnboard" label="Req. For Onboard"></ejs-checkbox>
      <ejs-checkbox formControlName="optional" label="Optional"></ejs-checkbox>
    </div>
  </div>
</form>
