@import 'colors';

form {
  margin-top: 20px;
}

.search {
  margin: 24px -24px 0;
  padding: 24px;
  max-height: 408px;
  background-color: $secondary-dark-blue-50;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .search-controls {
    display: flex;
    align-items: flex-end;

    .name {
      width: 267px;
      margin-right: 15px;
    }

    .type {
      width: 109px;
    }
  }

  .results-container {
    margin-top: 20px;
    overflow: auto;

    ejs-grid {
      .e-content {
        background-color: $secondary-dark-blue-50;
      }

      .e-row {
        cursor: pointer;
      }
    }
  }

  .empty-list {
    display: flex;
    color: $secondary-dark-blue-30;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 234px;

    i-feather {
      margin-right: 8px;
    }
  }

  .select-credential-error {
    display: flex;
    color: $supportive-red;
    margin-top: 6px;

    i-feather {
      margin-right: 8px;
    }

    span.error {
      font-size: 12px;
    }
  }
}

.form-line {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  .input-container {
    width: 100%;
    + .input-container {
      margin-left: 10px;
    }
  }
}

label {
  display: inline-block;
  margin-bottom: 2px;
  line-height: 20px;
}

ejs-textbox.e-control {
  .e-textbox {
    height: 118px !important;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

ejs-checkbox:not(:last-child) {
  margin-bottom: 20px;
}

.cred-selection-invalid {
  border: 1px solid $supportive-red;
}
