@import "colors";

:host {
  overflow-y: auto;
}

.container {
  .apply-button {
    margin: 0 8px 0 12px;
  }

  .close-button {
    margin-left: 8px;
  }

  .deploy-candidate-wrapper{
    display: flex;
    flex-direction: row;

    @media(max-width: 2500px) {
      flex-direction: column;
      .candidate-title {
        white-space: nowrap;
      }
    }
    .icon {
      color: $primary-active-blue;
    }
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    .candidate-info {
      width: 55%;
      margin-right: 12px;

      .dropdown {
        margin-top: 12px;
      }

      ejs-accordion {
        margin-bottom: 10px;

        .form-container {
          display: flex;
          flex-direction: row;

          .input-container {
            margin-bottom: 12px;
          }

          .left-column {
            width: 64%;
            margin-right: 12px;
          }

          .right-column {
            width: 36%;
          }
        }

        .row {
          margin-top: 12px;
          justify-content: space-around;
          gap: 10px;
        }
      }
    }

    .comments {
      width: 45%;
      background-color: $secondary-dark-blue-50;
    }
  }

  .bill-rates {
    margin-top: 16px;
  }
}

.candidat-status {
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex;
  gap: 10px;

  .input-container {
    margin-bottom: 12px;
    flex: 1 1 0px;
  }
}

.e-card-content {
  display: flex;
  flex-wrap: nowrap;
}
