@import 'src/app/styles/variables/colors';

.work-commitment {
  height: calc(100% - 80px);

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    h3 {
      color: $title-black;
      margin: 8px;
    }

    button {
      margin-left: 18px;
    }
  }

  .grid-container {
    margin-top: 24px;
    height: 100%;
  }
}
