@import "../../../styles/variables/colors.scss";

.users-grid {
  .default-role {
    background-color: $secondary-dark-blue-50;

    .secondary-icon-button {
      opacity: 0.5;
    }
  }
}

.ag-overlay {
  background-color: $grid-overlay;
}

