/**/
.e-switch-wrapper.e-switch-disabled .e-switch-inner{
    opacity: 1 !important;
    background-color: #d8e5ff !important;
}
.yesFlag .e-switch-wrapper.e-switch-disabled .e-switch-handle{
    background-color: #6499ff !important;
}