@import 'adaptive-response';

:host {
  display: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 16vh;
  right: 10vw;
  display: none;
  transition: all 0.2s ease-in-out;
  z-index: 20;

  ::ng-deep.e-control.e-btn {
    padding: 8px 12px !important;
  }

  ::ng-deep.icon {
    margin-left: 0 !important;
  }
}

.show-scrollTop {
  display: block;
}

@media #{$max-mobile} {
  :host {
    display: block;
  }
}
