<div class="schedule-items-container">
  <div class="schedule-items-header" *ngIf="!selectedType">
    <div
      *ngIf="scheduleItems.length"
      class="header-itm">
      Employees Selected <span class="header-itm__count">{{scheduleItems.length}}</span>
    </div>
    <div class="group-error" *ngIf="itemsErrorCounter && scheduleItems.length">
      <div class="header-itm">
        Errors
        <span class="header-itm__errors">{{itemsErrorCounter}}</span>
      </div>
    </div>
  </div>
  <div
    class="error-message"
    *ngIf="itemsErrorCounter && scheduleItems.length"
  >
    Remove or correct invalid records to save
  </div>
  <div class="schedule-item" *ngFor="let item of scheduleItems; trackBy: trackByCandidateId">
    <button ejs-button cssClass="e-flat" (click)="removeScheduleItem(item.candidateId)">
      <i-feather name="x" class="icon"></i-feather>
    </button>
    <ng-container *ngIf="!item.tooltipContent; else candidateTooltip">
      <span class="candidate-name">{{item.candidateName}}</span>
    </ng-container>

    <ng-template #candidateTooltip>
      <ejs-tooltip [showTipPointer]="false" [content]="item.tooltipContent" position="TopCenter">
        <span class="candidate-name" [class.candidate-name-error]="item.hasError">{{item.candidateName}}</span>
      </ejs-tooltip>
    </ng-template>

    <!--Todo: uncomment in future implementation -->
    <!--<app-icon-multi-date-picker
      [datePickerLimitations]="datePickerLimitations"
      [dates]="item.selectedDates"
      (appliedDates)="updateDateItems($event, item.candidateId)"
    ></app-icon-multi-date-picker>-->

    <ng-container *ngFor="let dateItem of item.dateItems; trackBy: trackByDate">
      <ng-container *ngIf="dateItem.tooltipContent">
        <ejs-tooltip [showTipPointer]="false" [content]="dateItem.tooltipContent" position="TopCenter">
          <ng-container
            [ngTemplateOutlet]="dateTemplate"
            [ngTemplateOutletContext]="{ item, dateItem }"
          ></ng-container>
        </ejs-tooltip>
      </ng-container>
      <ng-container *ngIf="!dateItem.tooltipContent">
        <ng-container
          [ngTemplateOutlet]="dateTemplate"
          [ngTemplateOutletContext]="{ item, dateItem }"
        ></ng-container>
      </ng-container>
    </ng-container>

  </div>
</div>

<ng-template #dateTemplate let-dateItem="dateItem" let-item="item">
  <div class="date" [class.date-errors]="dateItem.hasError">
    <div class="circle {{scheduleCircleType[dateItem.scheduleType]}}" *ngIf="dateItem.scheduleType"></div>
    <span>{{dateItem.date | date: "MM/dd/yyyy"}}
<!--      TODO: will be implemented in scope of EIN-12052-->
<!--      <span class="schedule-type" *ngIf="dateItem.scheduleType === scheduleType.Book && dateItem.orderType === ltaOrder">L</span>-->
    </span>
    <button ejs-button cssClass="e-flat" (click)="removeDateItem(item.candidateId, dateItem.dateValue, dateItem.id)">
      <i-feather name="x" class="icon"></i-feather>
    </button>
  </div>
</ng-template>
