@import "colors";

.schedule-items-container {
  padding: 24px;
  box-sizing: border-box;
  height: calc(100% - 1px);
  margin: 25px -24px 0;
  background-color: $secondary-dark-blue-50;

  .schedule-items-header {
    display: flex;
    justify-content: space-between;

    .group-error {
      .header-itm {
        text-align: right;
      }
    }

    .header-itm {
      margin-top: 5px;
      font-weight: 700;
      font-size: 12px;
      line-height: 13px;
      color: $pure-black;
      text-transform: uppercase;

      span {
        display: inline-block;
        border-radius: 50%;
        padding: 2px 3px;
        color: $white;
        margin-left: 14px;
        min-width: 12px;
        text-align: center;
      }

      &__count {
        background-color: $primary-active-blue-10;
      }

      &__errors {
        background-color: $supportive-red;
      }
    }
  }

  .error-message {
    color: $supportive-red;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    text-align: right;
  }

  .empty-list-text {
    color: $supportive-red;
    font-size: 14px;
    text-align: center;
  }

  .schedule-item {
    color: $secondary-dark-blue-20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    margin-bottom: 22px;
    margin-top: 35px;

    button {
      margin: 0;
      padding: 2px;
      height: unset;
      color: inherit;

      i-feather {
        margin: 0;
      }
    }

    .candidate-name {
      height: 14px;
      font-size: 12px;
    }

    .candidate-name-error {
      color: $supportive-red !important;
    }

    .date-errors {
      border: 1px solid $supportive-red !important;

      i-feather {
        color: $supportive-red !important;
      }
    }

    .date {
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid $secondary-dark-blue-40;
      border-radius: 16px;
      padding: 0 4px 0 8px;
      font-size: 12px;
      color: $black;

      .circle {
        height: 12px;
        width: 12px;
        border-radius: 50%;
      }

      .book-circle {
        background-color: $pure-black;
      }

      .availability-circle {
        background-color: $supportive-green-10;
      }

      .unavailability-circle {
        background-color: $supportive-red;
      }

      .schedule-type {
        font-weight: 700;
      }

      i-feather {
        color: $secondary-dark-blue-20;
      }

      i-feather[name="x"] {
        color: $black;
      }
    }
  }
}
