@import 'colors';
@import "adaptive-response";

.actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
  .action-link {
    position: absolute;
    top: -60px;
    padding: 9px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    color: $primary-active-blue-10;
    &:hover,
    &:focus {
      background-color: $primary-active-blue-70;
      border-color: transparent;
    }

    i-feather {
      vertical-align: bottom;
    }

    @media #{$max-mobile} {
      top: -40px;
    }
  }
}

.credential-grid-container {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
