<div class="actions">
  <span class="action-link" (click)="addNew()">
    <i-feather name="plus" class="icon"></i-feather>
    Add Unassigned Credential
  </span>
</div>

<section class="credential-grid-container">
  <app-order-credentials-grid [credential]="credentials"
                              (edit)="onEdit($event)"
                              (update)="onUpdate($event)"
                              (delete)="onDelete($event)">
  </app-order-credentials-grid>
</section>

<app-side-dialog *ngIf="isActive"
                 [header]="credentialFormHeader"
                 (formCancelClicked)="onDialogCancel()"
                 (formSaveClicked)="onDialogOk()"
                 class="dialog"
                 >
  <app-add-order-credential-form #addCred
                                 (selectCredentialItem)="prePopulateData($event)"
                                 [formSubmitted]="formSubmitted"
                                 [form]="CredentialForm"
                                 [addedCredentials]="credentials"
                                 [includeInIRP]="includeInIRP"
                                 *ngIf="!isEditMode && showForm">
  </app-add-order-credential-form>
  <app-edit-order-credential-form #editCred
                                  [form]="CredentialForm"
                                  *ngIf="isEditMode && showForm">
  </app-edit-order-credential-form>
</app-side-dialog>
