.extension-grid {
  --ag-range-selection-border-color: transparent;
  ::ng-deep {
    .extension-buttons {
      border-left: 1px solid var(--grid-border-color);
    }
    .ag-root-wrapper.ag-layout-normal {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .custom-wrap {
      .ag-header-cell-text {
        white-space: pre-wrap;
      }
    }

    .align-right {
      text-align: right;
    }
  }
}
