@import 'colors';
@import 'mixins';

.dialog {
  .header-candidate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0;

    .title {
      font-size: 24px;
      font-weight: 700;
      color: $black;
      margin: 0;
    }

    .save-button {
      margin-left: 8px;
    }
  }

  .input-group {
    margin-top: 5px;
    width: 100%;

    label {
      margin-bottom: 12px;
    }
  }

  .form-wrapper {
    margin-top: 24px;
    padding: 0 24px 24px;

    .form {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    .status,
    .reason,
    .close-date,
    .close-switch {
      grid-column: 1/3;
    }
  }
}

.switch {
  @include toggle;
}

app-comments-irp {
  display: block;
  margin-top: 16px;
}
