@import 'adaptive-response';
@import 'colors';

::ng-deep {
  .e-calendar .e-content .e-range-hover {
    background-color: $primary-active-blue !important;
    color: $white !important;

    .e-day {
      background-color: $primary-active-blue !important;
      color: var(--selected-date-range-color) !important;
      font-weight: 700 !important;
    }
  }

  .week-picker-container {
    width: 247px;

    @media #{$max-mobile} {
      width: auto;
      flex: 1;
    }

    .e-input,
    .e-input-group  {
      background-color: $white !important;
    }

    .e-input-group-icon.e-range-icon {
      &::before {
        content: '\e901' !important;
        padding-right: 12px;
      }

      &.e-icons {
        background-color: $white !important;
      }
    }
  }
}
