<div class="action-cell">
  <button ejs-button cssClass="e-flat download-icon" (click)="documentDownload($event);">
    <span><i-feather name="download" class="icon"></i-feather></span>
  </button>
  <button 
  *ngIf="!params.data.isSharedWithMe"
   ejs-dropdownbutton cssClass="e-flat ellipsis-icon" 
   [items]="params.data.status == 'Inactive' ? params.editMenuActiveItems : params.data.isSharedByMe ? params.editMoreMenuITems : params.editMenuITems"
   (select)="menuOptionSelected($event)">
    <span><i-feather name="more-vertical" class="icon"></i-feather></span>
  </button>
</div>
