@import "../../../styles/variables/colors";

.candidates-list {
  .link {
    cursor: pointer;
    color: $primary-active-blue-10;
    font-weight: 700;
    font-size: 14px;
  }

  .progress-bar {
    display: flex;
    align-items: center;

    span {
      margin-right: 8px;
      width: 26px;
    }
  }
  .icon {
    width: 14px !important;
    height: 14px !important;
    padding-left: 5px;
  }

}

.e-tooltip-wrap .e-arrow-tip .e-tip-bottom {
  display: none;
}

.input-group.switch {
  display: flex;
  align-items: center;
}

.switch-label {
  display: flex;
  cursor: pointer;
}
