<div class="setup-container">
  <app-setup-grid-filters
    [isIRPFlagEnabled]="isIRPFlagEnabled"
    [allRegions]="allRegions"
    [organizationRegions]="orgRegions"
    [groups]="groups"
  ></app-setup-grid-filters>

  <div class="grid">
    <app-credentials-grid
      [isIRPFlagEnabled]="isIRPFlagEnabled"
      [userPermission]="userPermission"
    ></app-credentials-grid>
  </div>
</div>

<app-map-credentials-dialog
  [userPermission]="userPermission"
  [orgRegions]="orgRegions"
  [groups]="groups"
></app-map-credentials-dialog>
