<ejs-tab
  #timesheetTabs
  id="tab_default"
  heightAdjustMode="Auto"
  (selecting)="onSelect($event)"
>
  <e-tabitems>
    <e-tabitem *ngFor="let tab of tabConfig; trackBy: trackByFn">
      <ng-template #headerText>
        <div class="e-tab-header">
          <div class="tab-item">
            {{ tab.title }}
            <span
              *ngIf="tab.amount"
              class="tab-navigation e-badge e-badge-success e-badge-circle">
              {{ tab.amount }}
            </span>
          </div>
        </div>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
