<section
  class="grid-component"
  [class.mobile-login-on]="isMobileLoginOn"
>
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Education</h3>
    </div>
    <div class="actions">
      <button
        ejs-button
        class="action-link"
        *ngIf="!readonlyMode"
        [disabled]="!areAgencyActionsAllowed || !userPermission[userPermissions.CanEditEducation]"
        (click)="addNew()"
      >
        <i-feather name="plus" class="icon"></i-feather>
        <span class="text-btn">
          Add Education
        </span>
      </button>
    </div>
  </div>
  <ejs-grid #grid class="e-gridwithheader"
            [dataSource]="educations$ | async"
            [rowHeight]="rowHeight"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            [pageSettings]="pageSettings"
            [allowSelection]="false"
            [height]="(isMobile$ | async) ? mobileGridHeight : fullScreenGridHeight"
            [enableVirtualization]="false"
            (dataBound)="dataBound()">
    <e-columns>
      <e-column textAlign="Right" *ngIf="!readonlyMode" maxWidth="50">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" [disabled]="!areAgencyActionsAllowed" (click)="onEdit(data)"><i-feather name="edit" class="icon"></i-feather></button>
            <button ejs-button cssClass="e-flat secondary-icon-button enabled-button" [disabled]="!areAgencyActionsAllowed || !userPermission[userPermissions.CanEditEducation]" (click)="onRemove(data)"><i-feather name="trash-2" class="icon"></i-feather></button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="degree" headerText="Degree Type" width="320" [valueAccessor]="degreeAccessor"></e-column>
      <e-column field="schoolName" headerText="School Name" width="320"></e-column>
      <e-column headerText="Graduation Month/Year" width="220" textAlign="Right">
        <ng-template #template let-data>{{data.graduationDate | date:"MM/yyyy" : "UTC"}}</ng-template>
      </e-column>
      <e-column field="fieldOfStudy" headerText="Field Of Study" width="540"></e-column>
    </e-columns>
  </ejs-grid>
</section>

<app-side-dialog header="{{ title }} Education"
                 [disableSaveButton]="!userPermission[userPermissions.CanEditEducation]"
                 (formCancelClicked)="closeDialog()"
                 (formSaveClicked)="saveEducation()">
  <form class="education-form-dialog form-container bootstrap"
        id="addEducationForm"
        [formGroup]="educationForm">
    <div class="dropdown-container">
      <label>Degree Type<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist appValidateWithMessage
                          [fields]="optionFields"
                          formControlName="degree"
                          appValidateWithMessage
                          [allowFiltering]="true"
                          [dataSource]="degreeTypes">
        </ejs-dropdownlist>
      </div>
    </div>
    <div class="input-container">
      <label>School Name<span class="required">*</span></label>
      <div class="input-group">
        <input class="e-input"
               type="text"
               maxlength="50"
               appValidateWithMessage
               formControlName="schoolName"/>
      </div>
    </div>
    <div class="input-container">
      <label>Field Of Study<span class="required">*</span></label>
      <div class="input-group">
        <input class="e-input"
               type="text"
               maxlength="50"
               appValidateWithMessage
               formControlName="fieldOfStudy"/>
      </div>
    </div>
    <div class="input-container calendar">
      <label>Graduation Month/Year<span class="required">*</span></label>
      <div class="input-group datepicker">
        <ejs-datepicker class="datepicker"
                        format="MM/dd/yyyy"
                        placeholder="MM/DD/YYYY"
                        appValidateWithMessage
                        [enableMask]="true"
                        [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                        [max]="today"
                        formControlName="graduationDate">
        </ejs-datepicker>
      </div>
    </div>
  </form>
</app-side-dialog>
