@import "colors";

.login-page {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-column {
      padding: 70px;
      width: 20%;
      min-width: 400px;
      position: relative;

      .text-box {
        margin-top: 180px;

        h2 {
          font-size: 34px;
          font-weight: 700;
          color: $secondary-dark-blue-15;
          margin: 0;
          padding: 0;
        }

        p {
          font-size: 24px;
          font-weight: 400;
          color: $secondary-dark-blue-30;
          margin: 0;
          padding: 0;
        }
      }

      form {
        margin-top: 80px;
        position: relative;

        label {
          display: block;
          margin-top: 12px;
          margin-bottom: 3px;
        }

        .user-action {
          align-items: center;
          margin: 12px 0;

          .forgot,
          .e-label {
            font-size: 12px;
            font-weight: 400;
            color: $secondary-dark-blue-30;
          }

          .remember {
            margin-top: -8px;
          }
        }

        .button-container {
          margin-top: 40px;

          button {
            display: block;
            width: 100%;

            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .right-column {
      background-image: url("../../../assets/login.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
    }
  }
}

.sso-wrapper {
  margin-top: 80px;
  position: relative;

  button {
    display: block;
    width: 100%;
  }
}

