<section class="login-page">
  <div class="row">
    <div class="left-column" #spiner>
      <div class="logo">
        <img src="./assets/logo-login.svg" alt="einstein" />
      </div>
      <div class="form-wrapper">
        <!-- <div class="text-box">
          <h2>WELCOME!</h2>
          <p>Log In with your email....</p>
        </div> -->
        <!-- <form [formGroup]="loginForm">
          <div class="input-container bootstrap">
            <label>Email</label>
            <div class="input-group">
              <input class="e-input" type="text" />
            </div>
          </div>
          <div class="input-container bootstrap">
            <label>Password</label>
            <div class="input-group">
              <input class="e-input" type="password" />
            </div>
          </div>
          <div class="user-action row">
            <div class="forgot">Forgot Your Password?</div>
            <div class="remember bootstrap">
              <ejs-checkbox label="Remember me"></ejs-checkbox>
            </div>
          </div>
          <div class="button-container" #spiner>
            <button
              [disabled]="!loginForm.controls['user'].value"
              class="e-control e-btn e-lib e-primary"
              type="submit"
            >
              Login
            </button>
            <button class="e-control e-btn e-lib e-primary e-outline" type="button" (click)="loginWithSSO()">
              Login with SSO
            </button>
          </div>
        </form> -->
        <!-- <div class="sso-wrapper" #spiner>
          <div class="button-container">
            <button class="e-control e-btn e-lib e-primary e-outline" type="button" (click)="loginWithSSO()">
              Login with SSO
            </button>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <div class="right-column"></div> -->
  </div>
</section>

<app-message-toast></app-message-toast>

