<ejs-tab id="tab_default" heightAdjustMode="Auto" #tabNavigation (selecting)="onSelect($event)">
  <div class="e-tab-header">
    <div>{{ tabTitle.AllOrders }}</div>
    <div>{{ tabTitle.PerDiem }}</div>
    <div>{{ tabTitle.ReOrders }}</div>
    <div>
      {{ tabTitle.Incomplete }}
      <span *ngIf="incompleteCount" class="tab-navigation e-badge e-badge-success e-badge-circle">{{ incompleteCount }}</span>
    </div>
    <div>{{ tabTitle.OrderTemplates }}</div>
  </div>
  <div class="e-content"></div>
</ejs-tab>
