@import "colors";

.widget {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  // height: 100%;
  text-align: center;

  &__title {
    padding-bottom: 4%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;

    @media screen and (max-width: 600px) {
      padding-bottom: 3px;
    }
  }

  &__type {
    font-size: 14px;
    color: $secondary-dark-blue-20;
    margin-right: -12px;
    margin-right: 4px;
    cursor: default;

    @media screen and (max-width: 1550px) {
      font-size: 12px;
    }
  }

}

  .app-widget-wrapper {
    &__tooltip {
    //  text-align: right;
    //  float: right;
      width: 5%
    }
  }



.interfacename {
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
    width : 100%;
    font-weight: 700;
    color: $black;
}
.orgname {
    text-align: left;
    white-space: nowrap;
    color: #3E7FFF;
    cursor: pointer;
    font-size: 13px;
    width: max-content;
    width: 100%;
    text-overflow: ellipsis;
    white-space: break-spaces;
}
@media screen and (min-width : 1001px) {
  .orgname {
    overflow: hidden;
  }
}
@media screen and (min-width : 0px) and (max-width : 1000px) {
  .app-widget-wrapper__org-chart {
    overflow: auto !important;
  }
}
@media screen and (min-width : 0px) and (max-width : 1000px) {
  .orgname {
    overflow: auto !important;
  }
}
.widget__type {
    display: flex;
    width: 100%;
}
.widget{
    padding: 10px 0px 0px 0px !important;
}
.irpWidget{
  .widget{
    padding: 5px 0px 0px 0px !important;
}
}
.widget__type p {
    margin: 5px 8px 5px 0px;
}
.app-widget-wrapper__header{
    padding-bottom: 5px;
}

h3.scheduled_integrations_title {
  font-size: 14px !important;
}
.scheduled_integrations_icon {
  float: left;
}
.scheduled_integrations_tap {
  float: left;
}
h3.orgname {
  text-decoration: underline;
  font-size: 13px;
  color: #5f73a4;
}
p.interfacename {
  margin: 0px;
font-size: 13px;
padding-left: 5px;
font-weight: 500;
}
.scheduled_integrations_icon app-custom-icon.icon {
  background: #dae5d4;
  padding: 10px;
  margin: 8px 5px 10px 0px;
  color: #5d8b42;
  border-radius: 6px;
}
.widget_cus {
  padding-top: 5px !important;
}
.scheduled_integrations_Link
{
  float: right;
    font-size: 14px;
    padding-right: 16px;
    text-decoration: underline;
    color:#5f73a4;
}
.scheduled_integrations{
  background-color:#fff;
  min-height: 300px;
  box-shadow: 0 2px 5px #00000026;
  border-radius: 15px;
  margin-top: 10px;
}
.hours-rn{
  background: gainsboro;
  padding: 4px 2px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  margin : 0;
  font-size: xx-small;
}
