@import "adaptive-response";
@import "colors";

:host{
  height: 100%;
}

.toolbar-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  & > *:not(:last-child) {
    margin-right: 12px;
  }

  .search {
    display: none; //TODO: temporary solution to hide the search field
    flex-grow: 1;
    max-width: 400px;
  }
}

.grid-component {
  height: calc(100% - 145px);

  @media #{$max-tablet} {
    height: calc(100% - 208px);
  }
}

@media #{$min-desktop-small} {
  ::ng-deep {
    app-page-toolbar {
      .controls-container {
        flex-direction: row;

        .right-content {
          margin-top: 0;
        }
      }
    }
  }
}

@media #{$max-tablet} {
  .toolbar-actions {
    justify-content: flex-start;
  }
}

@media #{$max-mobile} {
  .toolbar-actions {
    padding-top: 80px;
  }

  app-tab-navigation {
    position: fixed;
    background-color: $background;
    margin: auto -24px;
    padding: 10px 24px 6px 24px;
    z-index: 100;
    top: 81px;
  }
}
