@import "adaptive-response";
@import "colors";

.toolbar-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  & > *:not(:last-child) {
    margin-right: 12px;
  }

  .search {
    display: none; //TODO: temporary solution to hide the search field
    flex-grow: 1;
    max-width: 400px;
  }
}

@media #{$max-tablet} {
  .toolbar-actions {
    justify-content: flex-start;
  }
}

@media #{$max-mobile} {
  .toolbar-actions {
    padding-top: 64px;
  }

  app-tab-navigation {
    position: fixed;
    background-color: $background;
    padding-top: 10px;
    padding-bottom: 6px;
    z-index: 100;
    top: 81px;
  }
}
