<app-page-toolbar>
  <ng-container left>
    <app-tab-navigation #tabNavigation (selectedTab)="onTabChanged($event)" appTabsMobileShadow> </app-tab-navigation>
  </ng-container>
  <ng-container right>
    <div class="toolbar-actions">
      <app-search #search (inputKeyUpEnter)="searchOrders($event)" class="search"></app-search>
      <button ejs-button appHideBeforeSyncfusionLoad id="filterButton" cssClass="e-outline button-filter" (click)="showFilters()">
        <div class="filter-button-content">
          <span *ngIf="(filteredItems$ | async) || 0 as filteredItems" class="e-badge e-badge-success e-badge-pill">{{
            filteredItems
          }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-dropdownbutton
        appHideBeforeSyncfusionLoad
        [items]="exportOptions"
        (select)="onExportSelected($event)"
        id="importButton"
        cssClass="e-outline button-export"
      >
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
    </div>
  </ng-container>
</app-page-toolbar>

<section class="last-content-section-padding grid-component">
  <app-order-management-grid
    [filteredItems$]="filteredItems$"
    [selectedTab]="selectedTab"
    [onExportClicked$]="exportSelected$"
    [orderStatus]="orderStatus"
    [search$]="search$"
  ></app-order-management-grid>
</section>
