<ejs-dialog
  #sideAddDialog
  cssClass="dialog filter"
  [width]="496"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
  (beforeClose)="clearDialogData()"
>
  <ng-template #content>
    <div class="dialog-container">
      <div class="dialog-header">
        <h3 class="title">{{ title | titlecase }}</h3>
        <div class="controls">
          <button ejs-button cssClass="e-outline button-cancel" (click)="cancelChanges()">Cancel</button>
          <button ejs-button [isPrimary]="true" (click)="saveManualInvoice()">Save</button>
        </div>
      </div>

      <div class="form" *ngIf="form">
        <form [formGroup]="form" autocomplete="off" class="bootstrap grid">

          <ng-container *ngFor="let field of dialogConfig.fields; trackBy:trackByIndex">
            <ng-container [ngSwitch]="field.type">

              <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
                <div class="input-container" [ngClass]="field.widthStyle || ''">
                  <ng-container [ngSwitch]="field.field">
                    <ng-template [ngSwitchCase]="'locationId'">
                      <ejs-tooltip [content]="'Change if candidate worked in different Location'">
                        <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                        </label>
                      </ejs-tooltip>
                    </ng-template>

                    <ng-template [ngSwitchCase]="'departmentId'">
                      <ejs-tooltip [content]="'Change if candidate worked in different Department'">
                        <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                        </label>
                      </ejs-tooltip>
                    </ng-template>

                    <ng-template ngSwitchDefault>
                      <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                      </label>
                    </ng-template>

                  </ng-container>

                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      [required]="field.required"
                      [allowFiltering]="true"
                      [fields]="dropDownFieldsConfig"
                      [formControlName]="field.field"
                      [dataSource]="field.options"
                      appValidateWithMessage
                    ></ejs-dropdownlist>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Input">
                <div class="input-container" [ngClass]="field.widthStyle || ''">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <input
                      class="e-input"
                      [name]="field.field"
                      appValidateWithMessage
                      [formControlName]="field.field"
                    />
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Date">
                <div class="input-container" [ngClass]="field.widthStyle || ''">
                  <label [for]="field.field">{{ field.title }}<span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group picker">
                    <ejs-datepicker
                      name="serviceDate"
                      class="datepicker"
                      format="MM/dd/yyyy"
                      appValidateWithMessage
                      placeholder="MM/DD/YYYY"
                      [max]="today"
                      [formControlName]="field.field"
                    >
                    </ejs-datepicker>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.TextArea">
                <div class="input-container long">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span></label>
                  <ejs-textbox
                    class="e-input man-invoice-textbox"
                    type="text"
                    [multiline]="true"
                    appValidateWithMessage
                    maxlength="500"
                    [formControlName]="field.field">
                  </ejs-textbox>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Toggle">
                <div class="input-container long flexed">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span></label>
                  <ejs-switch
                  [disabled]="field.disabled"
                  class="toggle"
                  onLabel="Yes"
                  offLabel="No"
                  [formControlName]="field.field">
                  >
                  </ejs-switch>
                </div>
              </ng-template>

            </ng-container>
          </ng-container>

        </form>
        <app-file-uploader *ngIf="dialogShown"
                           [maxFiles]="5"
                           [maxFileSize]="maxFileSize"
                           [clearAll]="clearFiles"
                           [attachments]="invoiceToEdit?.attachments || []"
                           [useRedTrashBin]="true"
                           (existingFileDelete)="deleteFile($event)"
                           (selectedFilesChanged)="setFilesForUpload($event)">
        </app-file-uploader>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
