<div *ngIf="!isAgencyOrOrganization" class="dropdown-container bootstrap">
  <div class="input-group dropdown">
    <ejs-dropdownlist
      id="organization-agency-dropdown"
      cssClass="organization-agency-dropdown-popup"
      [fields]="optionFields"
      [dataSource]="organizationsAgencies$ | async"
      [formControl]="organizationAgencyControl"
      popupHeight="402px"
    >
      <ng-template #itemTemplate let-data>
        <div class="item-container">
          <div class="logo-container">
            <img
              [src]="baseUrl + '/api/BusinessUnit/' + data.id + '/logo'"
              onerror="onerror=null; src='assets/icons/no-logo.svg'"
              alt="logo"
            />
          </div>
          <div class="details">
            <p class="name">{{ data.name }}</p>
          </div>
        </div>
      </ng-template>

      <ng-template #valueTemplate let-data>
        <div class="value-container">
          <div *ngIf="selectedLogo$ | async as logo" class="logo-container">
            <img [src]="logo" alt="logo" />
          </div>

          <p class="title">{{ data.name }}</p>
        </div>
      </ng-template>
    </ejs-dropdownlist>
  </div>
</div>

<div *ngIf="isAgencyOrOrganization" class="organization-agency-title-container">
  <div *ngIf="selectedLogo$ | async as logo" class="logo-container">
    <img class="e-avatar" [src]="logo" alt="logo" />
  </div>

  <p class="title">{{ organizationAgency?.name }}</p>
</div>
