<div *ngIf="!isAgencyOrOrganization; else agencyOrOrganization" class="dropdown-container bootstrap org-agency-selector">
  <div class="input-group dropdown">
    <ejs-dropdownlist
      id="organization-agency-dropdown"
      cssClass="organization-agency-dropdown-popup"
      [allowFiltering]="true"
      filterBarPlaceholder="Search"
      [fields]="optionFields"
      [dataSource]="organizationsAgencies$ | async"
      [formControl]="organizationAgencyControl"
      popupHeight="402px"
      (select)="selectBusinesUnitType()"
    >
      <ng-template #itemTemplate let-data>
        <div class="item-container" [ngClass]="isDarkTheme?' dark-item-container':''">
          <div class="logo-container">
            <img *ngIf="data.hasLogo; else noLogo"
              [src]="baseUrl + '/api/BusinessUnit/' + data.id + '/logo?lastUpdateTicks=' + data.lastUpdateTicks"
              alt="logo"
            />
          </div>
          <div class="details">
            <p class="name" [ngClass]="{inactive: data.status === agencyStatuses.Terminated}">{{ data.name }}</p>
          </div>
        </div>
      </ng-template>

      <ng-template #valueTemplate let-data>
        <div class="value-container">
          <div class="logo-container">
            <img *ngIf="data.hasLogo; else noLogo"
              [src]="baseUrl + '/api/BusinessUnit/' + data.id + '/logo?lastUpdateTicks=' + data.lastUpdateTicks"
              alt="logo"
            />
          </div>

          <p class="title" [ngClass]="{inactive: data.status === agencyStatuses.Terminated}">{{ data.name }}</p>
        </div>
      </ng-template>
    </ejs-dropdownlist>
  </div>
</div>

<ng-template #agencyOrOrganization>
  <div class="organization-agency-title-container" *ngIf="organizationAgency">
    <div class="logo-container">
      <img *ngIf="organizationAgency.hasLogo; else noLogo"
        [src]="baseUrl + '/api/BusinessUnit/' + organizationAgency.id + '/logo?lastUpdateTicks=' + organizationAgency.lastUpdateTicks"
        alt="logo"
      />
    </div>
    <p class="title">{{ organizationAgency?.name }}</p>
  </div>
</ng-template>

<ng-template #noLogo>
  <div class="has-no-logo"></div>
</ng-template>
