<section class="container">
  <section class="grid">
    <ejs-grid
      #grid
      [dataSource]="gridDataSource"
      [allowPaging]="allowPaging"
      [pageSettings]="pageSettings"
      [height]="gridHeight"
      [rowHeight]="rowHeight"
      [enableVirtualization]="true"
      [resizeSettings]="resizeSettings"
      [allowSorting]="allowSorting"
      [allowResizing]="allowResizing"
      [sortSettings]="gridSortSettings"
      (rowSelected)="rowSelected($event, grid)"
      (rowDeselected)="rowDeselected($event, grid)"
      [selectionSettings]="selectionSettings"
      (dataBound)="gridDataBound(grid)"
      (actionBegin)="actionBegin($event, grid)"
      (created)="gridCreated()"
    >
      <e-columns>
        <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
        <e-column textAlign="Right" width="100">
          <ng-template #template let-data>
            <div class="row-tool-buttons" [class.hidden]="!isLoaded">
              <button ejs-button cssClass="e-flat primary-icon-button" (click)="editCredential(data, $event)">
                <span class="edit-button" ><i-feather name="edit" class="icon"></i-feather></span>
              </button>
              <button
                ejs-button
                cssClass="e-flat secondary-icon-button"
                [disabled]="!userPermission[userPermissions.CanEditMasterCredentials] || !userPermission[userPermissions.CanEditCredentials]"
                (click)="removeCredential(data, $event)">
                <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
              </button>
            </div>
          </ng-template>
        </e-column>
        <e-column field="system" headerText="SYSTEM" width=120 *ngIf="isCredentialSettings"></e-column>
        <e-column field="credentialTypeName" headerText="CREDENTIAL TYPE" width=200></e-column>
        <e-column field="name" headerText="CREDENTIAL" width=288></e-column>
        <e-column field="expiryDateApplicable" headerText="EXPIRY DATE APPLICABLE" width=230>
          <ng-template #template let-data>
            <div class="bootstrap">
              <ejs-checkbox
                [checked]="data.expireDateApplicable"
                (change)="expireDateApplicableChange(data, $event)"
                [disabled]="!userPermission[userPermissions.CanEditMasterCredentials] && !userPermission[userPermissions.CanEditCredentials]"
              ></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="comment" headerText="COMMENT" width="1600">
          <ng-template #template let-data>
            <div class="comment">
              {{data.comment}}
            </div>
          </ng-template>
        </e-column>
        <e-column field="irpComment" headerText="IRP COMMENT" width=220 *ngIf="isCredentialSettings">
          <ng-template #template let-data>
            <div class="comment">
              {{data.irpComment}}
            </div>
          </ng-template>
        </e-column>
      </e-columns>
      <ng-template #pagerTemplate let-data>
        <div class="e-pagertemplate">
          <div class="control-section">
            <div class="content-wrapper">
              <section class="left-side-pager-controls">
                <ejs-dropdownlist
                  id="rowsPerPage"
                  class="dropdown-no-border"
                  [allowFiltering]="true"
                  [dataSource]="rowsPerPageDropDown"
                  [(value)]="activeRowsPerPageDropDown"
                  (change)="changeRowDropDown()"
                >
                </ejs-dropdownlist>
                <ejs-numerictextbox
                  id="goToPage"
                  class="numeric-input-no-border"
                  format="#"
                  [validateDecimalOnType]="validateDecimalOnType"
                  [decimals]="decimals"
                  placeholder="Go to:"
                  min="1" [max]="lastAvailablePage"
                  [showSpinButton]="false"
                  (change)="changePage($event)"
                >
                </ejs-numerictextbox>
                <div class="total-rows">
                  Total Rows: {{totalDataRecords}}
                </div>
              </section>
              <section class="right-side-pager-controls">
                <ejs-pager
                  id="gridPager"
                  #gridPager
                  [pageSize]="pageSize"
                  [totalRecordsCount]="totalDataRecords"
                  [enablePagerMessage]="false"
                  [currentPage]="currentPage"
                  (click)="changePage($event)"
                >
                </ejs-pager>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </section>

  <app-filters
    [filteredColumns]="filterColumns"
    (handleClearFilters)="clearAllFilters($event)"
    (handleApplyFilters)="applyFilters()"
    [isCredentialSettings]="isCredentialSettings"
    [systemFlags]="selectedSystem"
    [isMspUser]="isMspUser"
    [totalDataRecords]="totalDataRecords"
  ></app-filters>

  <app-export-dialog
    [columns]="columnsToExport"
    [fileName]="fileName"
    (cancel)="closeExport()"
    (export)="export($event)"
  ></app-export-dialog>

  <app-add-edit-credential
    [disableButton]="!userPermission[userPermissions.CanEditMasterCredentials] || !userPermission[userPermissions.CanEditCredentials]"
    [isCredentialSettings]="isCredentialSettings"
    [systemFlags]="selectedSystem"
    (handleCloseDialog)="clearFormDetails($event)"
    [editCredential]="selectedCredential"
  ></app-add-edit-credential>
</section>

<app-assign-credential-side [openSidebar]="openAssignSidebarSubject"></app-assign-credential-side>
