@import 'colors';

.container {
  padding-top: 24px;

  .comment {
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.grid {
  height: calc(100% - 285px);
  overflow-y: auto;
}


.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.checkbox-container {
  padding-top: 12px;
}

.form-container {
  padding-top: 24px;

  .input-container {
    margin-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }

    ejs-dropdownlist.e-control {
      span.e-input-group {
        height: 40px !important;
      }
    }

    ejs-textbox.e-control {
      .e-textbox {
        height: 118px !important;
        padding-top: 10px;
        padding-right: 31px;
        padding-left: 17px;
      }
    }
  }
}
