<section class="bill-rates-grid">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Bill Rates</h3>
    </div>
    <div *ngIf="!readOnly" class="actions">
      <app-tooltip-container [showToolTip]="disabledActionMode">
        <button ejs-button [disabled]="disabledActionMode" class="action-link" (click)="addNew()">
          <i-feather name="plus" class="icon"></i-feather>
          <span class="text-btn">
            Add Bill Rate
          </span>
        </button>
      </app-tooltip-container>
    </div>
  </div>
  <ejs-grid #grid class="e-gridwithheader"
            [dataSource]="billRatesData"
            [allowSelection]="false"
            [height]="billRatesData.length ? billRatesData.length * rowHeight : rowHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="false"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            [pageSettings]="pageSettings"
            (dataBound)="dataBound()">
    <e-columns>
      <e-column [visible]="!readOnly" textAlign="Right" width="120">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button [disabled]="disabledActionMode" cssClass="e-flat primary-icon-button" (click)="onEdit($event, data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" [disabled]="data.isPredefined || disabledActionMode" (click)="onRemove($event, data)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>

      <e-column headerText="Bill Rate Title">
        <ng-template #template let-data>{{data.billRateConfig.title}}</ng-template>
      </e-column>

      <e-column headerText="Bill Rate Category">
        <ng-template #template let-data>{{BillRateCategory[data.billRateConfig.category]}}</ng-template>
      </e-column>

      <e-column headerText="Pay Rate Type">
        <ng-template #template let-data>{{BillRateType[data.billType]}}</ng-template>
      </e-column>

      <e-column headerText="Rates/Hours" textAlign="Right">
        <ng-template #template let-data>
          {{ data.rateHour | rateHourPipe: data.billRateConfigId:data.billRateConfig.type:billRateOptions }}
        </ng-template>
      </e-column>

      <e-column field="intervalMin" headerText="Interval Min" textAlign="Right"></e-column>

      <e-column field="intervalMax" headerText="Interval Max" textAlign="Right"></e-column>

      <e-column headerText="Effective Date" textAlign="Right">
        <ng-template #template let-data>{{data.effectiveDate | date:'M/d/y': 'utc': 'en-US'}}</ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
  <div class="grid-footer"></div>
</section>
