<div class="widget">
  <div class="widget-data">
    <div *ngIf="widget" class="widget-value">
      <span class="widget-value-number">{{ widget.total }}</span>
      <app-percentage-ratio-indicator [percentageRatio]="widget.percentRatio"></app-percentage-ratio-indicator>
    </div>

    <div class="widget-chart">
      <div class="chart">
        <ejs-chart
          #sfComponent
          [id]="widget?.id"
          [chartArea]="chartArea"
          [primaryXAxis]="primaryXAxis"
          [primaryYAxis]="primaryYAxis"
          style="height: inherit"
          [background]="isDarkTheme==true ? 'var(--chart-dark-bg)' : 'var(--chart-light-bg)'"
        >
          <e-series-collection>
            <e-series
              [dataSource]="widget?.chartData ?? []"
              [fill]="widget && widget.percentRatio < 0 ? 'var(--supportive-red)' : 'var(--supportive-green-10)'"
              type="Spline"
              xName="x"
              yName="y"
            ></e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
    </div>
  </div>

  <div class="widget-text">
    <span>{{ widget?.title ?? ''}}</span>
    <span>Last 30 days</span>
  </div>
</div>
