@import "colors";

.open-position-wrapper {
  height: calc(100% - 1px);

  .title {
    color: $secondary-dark-blue-15;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .content {
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
    margin: 8px -24px 0;
    background-color: $secondary-dark-blue-50;
    border: 1px solid $secondary-dark-blue-40;

    .empty {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: $secondary-dark-blue-15;
      text-align: center;
    }

    .position-item:first-child {
      margin-top: 0;
    }

    .position-item {
      margin-top: 25px;

      &__title {
        text-transform: uppercase;
        color: $secondary-dark-blue-15;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }

      .position-counter {
        font-weight: 700;
        font-size: 11px;
        line-height: 16px;
        color: $white;
        background-color: $primary-active-blue-10;
        border-radius: 50%;
        padding: 0 4px;
        margin-left: 10px;
      }

      .card-container {
        display: grid;
        margin-top: 14px;
        flex-direction: column;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 8px;

        &__card {
          color: $black;
          background-color: $white;
          padding: 6px 7px 6px 10px;
          cursor: pointer;
          border-radius: 4px;
          box-shadow: 0px 2px 20px $secondary-black-50;
          border: 1px solid $white;

          &--time {
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
          }

          &--attributes {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin: 2px 0;
            min-height: 18px;
          }

          &--action {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
              color: $primary-active-blue;
              text-transform: uppercase;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              border: none;
              background: none;
              margin: 0;
              padding: 0;
            }

            .position-counter {
              display: block;
              margin-left: 0px;
            }
          }
        }

        &__card:hover,
        &__card:active {
          border: 1px solid $primary-active-blue;
          background-color: $primary-active-blue-90;
        }
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px $secondary-black-50,
  0 8px 10px 1px $secondary-black-50,
  0 3px 14px 2px $secondary-black-50;
  color: $black;
  background-color: $white;
  padding: 6px 7px 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid $white;

  .position-counter {
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: $white;
    background-color: $primary-active-blue-10;
    border-radius: 50%;
    padding: 0 4px;
    margin-left: 10px;
  }

  .card-container__card--time {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

  .card-container__card--attributes {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 2px 0;
    min-height: 18px;
  }

  .card-container__card--action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: $primary-active-blue;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
    }

    .position-counter {
      margin-left: 0;
      display: none;
    }
  }
}

