<section class="comments-container">
  <div class="comments-header">
    <div class="title">
      Comments
    </div>
    <div class="dropdown-container">All</div>
  </div>
  <div class="comments-body">

  </div>
  <div class="comments-controls">
    <div class="input-group bootstrap">
      <input id="externalId"
        class="e-input"
        type="text"
        placeholder="Enter your comment here..."/>
    </div>
    <div class="actions">
      <i-feather name="lock" class="icon lock"></i-feather>
      <i-feather name="send" class="icon send"></i-feather>
    </div>
  </div>
</section>
