<div [formGroup]="form" id="addNewRoleForm" class="role-form">
  <div class="dropdown-container bootstrap">
    <label>Business Unit<span class="required">*</span></label>
    <div class="input-group dropdown">
      <ejs-dropdownlist
        appValidateWithMessage
        formControlName="businessUnitType"
        [allowFiltering]="true"
        [fields]="optionFields"
        [dataSource]="businessUnits"
      ></ejs-dropdownlist>
    </div>
  </div>

  <div class="dropdown-container bootstrap">
    <label>Business<span class="required">*</span></label>
    <div class="input-group dropdown">
      <ejs-dropdownlist
        appValidateWithMessage
        formControlName="businessUnitId"
        [allowFiltering]="true"
        [fields]="bussinesDataFields"
        [dataSource]="newRoleBussinesData"
        [value]="defaultBusinessValue"
      ></ejs-dropdownlist>
    </div>
  </div>

  <div class="input-container bootstrap">
    <label>Role<span class="required">*</span></label>
    <div class="input-group">
      <input appValidateWithMessage formControlName="name" class="e-input" type="text" />
    </div>
  </div>

  <div class="copy-role">
    <div class="dropdown-container bootstrap">
      <label>Copy Role From</label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          appValidateWithMessage
          [allowFiltering]="true"
          [formControl]="copyRoleControl"
          [dataSource]="copyRoleData$ | async"
          [fields]="copyRoleFields"
        ></ejs-dropdownlist>
      </div>
    </div>
    <button ejs-button [disabled]="!copyRoleControl.value" cssClass="e-outline button-cancel" id="copy-role" (click)="onApply()">
      Apply
    </button>
  </div>
<div class="tree-filter">
  <div class="active-toggle">
    <ejs-switch class="switch" [disabled]="form.disabled" [checked]="form.get('isActive')?.value" (change)="toggleActive()"></ejs-switch>
    <span class="e-text">Active</span>
    <div class="active-error" *ngIf="showActiveError">
      <div>
        <i-feather name="alert-circle" class="icon validation-icon"></i-feather>
      </div>
      <div>
        <div *ngIf="usersAssignedToRole.userNames.length" class="user-names">
          <div class="user-error-message">Here is a list of Users that have this role and you need to reassign the role:</div>
          <div *ngFor="let user of usersAssignedToRole.userNames">{{user.firstName}} {{user.lastName}}</div>
        </div>
        <div *ngIf="usersAssignedToRole.hasUsersOutsideVisibility">There are Users with this Role outside the scope of your Visibility.</div>
      </div>
    </div>
  </div>
  <div class="input-container" *ngIf="IsShowIRPVMS">
    <div class="bootstrap checkbox-container" *ngIf="!IsEmpBussinessUnit">
      <ejs-checkbox formControlName="IRP" label="IRP"  (change)="OnChangeIRP($event)"></ejs-checkbox>&nbsp;&nbsp;&nbsp;
      <ejs-checkbox formControlName="VMS" label="VMS"  (change)="OnChangeVMS($event)"></ejs-checkbox>
    </div>
  </div>
  
</div>

  <hr class="divider" />
  <div class="tree-lebel">
    <label>Permission tree<span class="required">*</span></label>
    <span class="error-validation"
      ><i-feather
        name="alert-circle"
        class="icon validation-icon"
        [ngStyle]="{ display: !permissionsControl?.untouched && permissionsControl?.invalid ? 'inline-block' : 'none' }"
      ></i-feather>
      <span class="error" *ngIf="!permissionsControl?.untouched">{{ permissionsControl?.errors | validationError }}</span></span
    >
  </div>
  <ejs-treeview
    #tree
    [disabled]="(isNewRoleDataLoading$ | async) || form.disabled"
    [fields]="fields"
    [showCheckBox]="true"
    (nodeClicked)="onSelecting()"
    (drawNode)="drawNode($event)"
    (dataBound)="dataBound()"
  ></ejs-treeview>
</div>
