<div [formGroup]="form" id="addNewRoleForm" class="role-form">
  <div class="dropdown-container bootstrap">
    <label>Business Unit<span class="required">*</span></label>
    <div class="input-group dropdown">
      <ejs-dropdownlist
        appValidateWithMessage
        formControlName="businessUnitType"
        [fields]="optionFields"
        [dataSource]="businessUnits"
        placeholder="Business Unit"
      ></ejs-dropdownlist>
    </div>
  </div>

  <div class="dropdown-container bootstrap">
    <label>Business<span class="required">*</span></label>
    <div class="input-group dropdown">
      <ejs-dropdownlist
        appValidateWithMessage
        formControlName="businessUnitId"
        [fields]="bussinesDataFields"
        [dataSource]="newRoleBussinesData"
        placeholder="Business"
      ></ejs-dropdownlist>
    </div>
  </div>

  <div class="input-container bootstrap">
    <label>Role<span class="required">*</span></label>
    <div class="input-group">
      <input appValidateWithMessage formControlName="name" class="e-input" type="text" placeholder="Role" />
    </div>
  </div>

  <div class="copy-role">
    <div class="dropdown-container bootstrap">
      <label>Copy Role From</label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          appValidateWithMessage
          [formControl]="copyRoleControl"
          [dataSource]="copyRoleData$ | async"
          [fields]="copyRoleFields"
          placeholder="Copy Role From"
        ></ejs-dropdownlist>
      </div>
    </div>
    <button ejs-button [disabled]="!copyRoleControl.value" cssClass="e-outline button-cancel" id="copy-role" (click)="onApply()">
      Apply
    </button>
  </div>

  <div class="active-toggle">
    <ejs-switch class="switch" [disabled]="form.disabled" [checked]="form.get('isActive')?.value" (change)="toggleActive()"></ejs-switch>
    <span class="e-text">Active</span>
  </div>

  <hr class="divider" />
  <div class="tree-lebel">
    <label>Permission tree<span class="required">*</span></label>
    <span class="error-validation"
      ><i-feather
        name="alert-circle"
        class="icon validation-icon"
        [ngStyle]="{ display: !permissionsControl?.untouched && permissionsControl?.invalid ? 'inline-block' : 'none' }"
      ></i-feather>
      <span class="error" *ngIf="!permissionsControl?.untouched">{{ permissionsControl?.errors | validationError }}</span></span
    >
  </div>
  <ejs-treeview
    #tree
    [disabled]="(isNewRoleDataLoading$ | async) || form.disabled"
    [fields]="roleTreeField$ | async"
    [showCheckBox]="true"
    (nodeClicked)="onSelecting()"
    (drawNode)="drawNode($event)"
    (dataBound)="dataBound()"
  ></ejs-treeview>
</div>
