@import "../../../styles/variables/colors.scss";

.role-form {
  padding-top: 24px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  .dropdown-container,
  .input-container {
    margin-bottom: 12px;
  }

  .active-toggle {
    margin-top: 24px;

    .active-error {
      display: flex;
      gap: 8px;
      margin-top: 16px;
      color: $supportive-red;
      font-size: 12px;
      font-weight: 400;

      .user-names, .user-error-message {
        margin-bottom: 8px;
      }
    }
  }
  .tree-filter{
    display: flex;
    gap: 20px;
  }
  .e-checkbox-wrapper label
  {
    margin-top:27px !important;
  }
  .e-hidden{
    display: none !important;
  }
  .e-show{
    display: block !important
  }
  .divider {
    margin: 24px -24px;
    background-color: $secondary-dark-blue-40;
  }

  ejs-treeview {
    text-transform: capitalize;
  }

  .tree-lebel {
    label {
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      color: $pure-black;
    }

    .error-validation {
      display: inline-block;
      margin-left: 35px;
      color: $supportive-red;
      font-size: 12px;
      font-weight: 400;
      position: relative;

      i-feather {
        position: absolute;
        top: -2px;
        left: -24px;
      }
    }
  }

  .copy-role {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdown-container {
      flex-grow: 1;
      margin-right: 12px;
    }

    .button-cancel {
      margin-top: 10px;
    }
  }
}
