<app-side-dialog
  header="Edit Credential"
  [width]="'434px'"
  [disableSaveButton]="permission"
  (formCancelClicked)="closeDialog()"
  (formSaveClicked)="updateCredential()"
>
  <form
    class="form-container bootstrap"
    id="editRecordForm"
    [formGroup]="editCredentialForm"
  >
    <div>
      <div class="input-container">
        <label for="credentialType">Credential Type</label>
        <div class="input-group">
          <input
            id="credentialType"
            class="e-input"
            type="text"
            formControlName="credentialType"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="input-container">
        <label for="description">Credential</label>
        <div class="input-group">
          <input
            id="description"
            class="e-input"
            type="text"
            formControlName="description"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="input-container">
        <label for="comments">Comment</label>
        <div class="input-group">
          <ejs-textbox
            id="comments"
            class="e-input"
            type="text"
            maxlength="500"
            [multiline]="true"
            formControlName="comments"
          >
          </ejs-textbox>
        </div>
      </div>
    </div>
    <div *ngIf="isIRPAndVMSEnabled && isCredentialIRP">
      <div class="input-container">
        <label for="irpComments">IRP Comment</label>
        <div class="input-group">
          <ejs-textbox
            id="irpComments"
            class="e-input"
            type="text"
            maxlength="500"
            [multiline]="true"
            formControlName="irpComments"
          >
          </ejs-textbox>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container calendar">
        <label for="inactiveDate">Inactive Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="inactiveDate"
            class="datepicker"
            format="MM/dd/yyyy"
            [enableMask]="true"
            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
            placeholder="MM/DD/YYYY"
            formControlName="inactiveDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container checkbox-container">
        <div class="input-group">
          <ejs-checkbox
            id="Optional"
            label="Optional"
            formControlName="isActive"
          ></ejs-checkbox>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container checkbox-container">
        <div class="input-group">
          <ejs-checkbox
            id="reqForSubmission"
            label="Req. For Submission"
            formControlName="reqSubmission"
          ></ejs-checkbox>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container checkbox-container">
        <div class="input-group">
          <ejs-checkbox
            id="reqForOnboard"
            label="Req. For Onboard"
            formControlName="reqOnboard"
          ></ejs-checkbox>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>
