<div class="table-header">
  <div>
    <span class="header-block">Invoice Number: {{ invoiceData.invoiceNumber || '' }}</span>
    <span class="header-block">
      Invoice Amount: {{ invoiceData.amount || '' | currency: 'USD' }}
    </span>
  </div>
  <div>
    <button (click)="addNewPayment()" class="add-btn">
      + Add Payment
    </button>
  </div>
</div>



<!-- <ag-grid-angular #grid
  [columnDefs]=""
  [rowData]=""
  [context]="context"
  [rowHeight]="64"
  [modules]="modules"
  [pagination]="false"
  [getRowStyle]=""
  [class.empty-table]=""
  [overlayNoRowsTemplate]=""
  (gridReady)=""
  class="ag-theme-alpine app-grid__component"
  >
</ag-grid-angular> -->