<section class="workflow-mapping-container">
  <app-page-toolbar>
    <ng-container left> </ng-container>
    <ng-container right>
      <button (click)="showFilters()" ejs-button id="filterButton" cssClass="e-outline button-filter">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill align-text">{{
            filteredItems.length
          }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <app-tooltip-container
        [message]="toolTipMessage"
        [showToolTip]="!userPermission[userPermissions.CanEditWorkflows]">
          <button
            ejs-button
            [isPrimary]="true"
            [disabled]="!userPermission[userPermissions.CanEditWorkflows]"
            (click)="onAddMappingClick()"
          >Add Mapping</button>
      </app-tooltip-container>
    </ng-container>
  </app-page-toolbar>

  <ejs-grid
    class="grid grid-component"
    #grid
    (rowDataBound)="rowDataBound($event)"
    [dataSource]="(workflowMappings$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [enableVirtualization]="false"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    (actionBegin)="actionBegin($event)"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    (dataBound)="gridDataBound(grid)"
  >
    <ng-template #detailTemplate let-data>
      <table
        class="detailtable"
        width="100%"
        *ngFor="let type of [workflowTypes.OrderWorkflow, workflowTypes.ApplicationWorkflow]"
      >
        <colgroup>
          <col width="150" />
          <col width="180" />
          <col width="180" />
          <col width="180" />
          <col width="180" />
          <col width="160" />
          <col width="230" />
          <col width="150" />
          <col width="80" />
        </colgroup>
        <thead>
          <tr>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell workflow-type">
              <span>{{ type === workflowTypes.OrderWorkflow ? 'ORDER' : 'APPLICATION' }}</span>
            </td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stepDetails of getStepDetails(data.stepMappings, data.workflowName, type)">
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell"></td>
            <td class="e-rowcell e-templatecell workflow-type-content">
              <p>{{ stepDetails.step.name + ' > ' + stepDetails.step.status }}</p>
            </td>
            <td class="e-rowcell e-templatecell user-roles-content">
              <p>{{ stepDetails.roleUser?.name }}</p>
            </td>
            <td class="e-rowcell e-templatecell"></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <e-columns>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditButtonClick(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" [disabled]="!userPermission[userPermissions.CanEditWorkflows]" (click)="onRemoveButtonClick(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="regionName" headerText="REGION" width="150">
        <ng-template #template let-data>
          <div [appHighlightGridRowDirective]="data.hasUnassignedSteps">
            <span *ngIf="data.regionId">{{ data.regionName }}</span>
            <span *ngIf="!data.regionId">All</span>
          </div>
        </ng-template>
      </e-column>
      <e-column field="locationName" headerText="LOCATION" width="180">
        <ng-template #template let-data>
          <span *ngIf="data.locationId">{{ data.locationName }}</span>
          <span *ngIf="!data.locationId">All</span>
        </ng-template>
      </e-column>
      <e-column field="departmentName" headerText="DEPARTMENT" width="180">
        <ng-template #template let-data>
          <span *ngIf="data.departmentId">{{ data.departmentName }}</span>
          <span *ngIf="!data.departmentId">All</span>
        </ng-template>
      </e-column>
      <e-column field="skills" headerText="SKILL" width="170">
        <ng-template #template let-data>
          <span *ngFor="let skill of data.skills; let i = index"
            >{{ skill.skillDescription }}
            <span *ngIf="i !== data.skills.length - 1">, </span>
          </span>
          <span *ngIf="data.skills.length === 0">All</span>
        </ng-template>
      </e-column>
      <e-column headerText="WORKFLOW TYPE" width="180">
        <ng-template #template let-data>
          <span>{{data.workflowGroupName}}</span>
        </ng-template>
      </e-column>
      <e-column field="workflowName" headerText="WORKFLOW NAME" width="180"></e-column>
      <e-column headerText="CUSTOM STEP NAME" width="230"></e-column>
      <e-column headerText="ROLE/USER" width="150"></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(workflowMappings$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(workflowMappings$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(workflowMappings$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>

  <app-filter-dialog
    [items]="filteredItems"
    [count]="(workflowMappings$ | async)?.totalCount"
    (deleteFilter)="onFilterDelete($event)"
    (clearAllFiltersClicked)="onFilterClearAll()"
    (applyFilterClicked)="onFilterApply()"
    (closeDialogClicked)="onFilterClose()"
  >
    <form class="bootstrap" [formGroup]="WorkflowFilterFormGroup">
      <div class="input-container">
        <label>Region</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="regionIds"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.regionIds.dataSource"
          >
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Location</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="locationIds"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [filterType]="filterType"
            [dataSource]="filterColumns.locationIds.dataSource"
          >
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Department</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="departmentsIds"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [filterType]="filterType"
            [dataSource]="filterColumns.departmentsIds.dataSource"
          >
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Skill</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="skillIds"
            placeholder="All"
            [fields]="skillsFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.skillIds.dataSource"
          >
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Workflow Type</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="types"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.types.dataSource"
          >
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Workflow Name</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="names"
            placeholder="All"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.names.dataSource"
          >
          </ejs-multiselect>
        </div>
      </div>
    </form>
  </app-filter-dialog>

  <app-side-dialog
    [disableSaveButton]="!userPermission[userPermissions.CanEditWorkflows]"
    *ngIf="isActive"
    (formCancelClicked)="onCancelFormClick()"
    (formSaveClicked)="onSaveFormClick()"
    [header]="dialogHeader + ' Workflow'"
    [width]="'569'"
  >
    <form class="form-container" id="addWorkflow" *ngIf="showForm" [formGroup]="workflowMappingFormGroup">

      <div>
        <div class="input-container dropdown">
          <label for="workflowType">Workflow Type <span class="required">*</span></label>
          <div class="input-group dropdown bootstrap">
            <ejs-dropdownlist
              id="workflowType"
              appValidateWithMessage
              [allowFiltering]="true"
              [dataSource]="workflowGroupTypesSources"
              [fields]="workflowGroupTypesFields"
              formControlName="workflowType"
            >
            </ejs-dropdownlist>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="region">Region <span class="required">*</span></label>
          <div class="dropdown-wrapper">
            <div class="input-group dropdown bootstrap">
              <ejs-multiselect
                id="region"
                #regionDropdown
                appValidateWithMessage
                mode="CheckBox"
                [dataSource]="orgRegions"
                [fields]="fields"
                [allowFiltering]="true"
                [showDropDownIcon]="true"
                formControlName="regions"
              >
              </ejs-multiselect>
            </div>
            <div class="switch">
              <ejs-switch
                name="allRegions"
                [checked]="allRegionsSelected"
                (change)="allRegionsChange($event)"
                label="All"
              ></ejs-switch>
              <label for="allRegions" class="switch-text">All</label>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="location">Location <span class="required">*</span></label>
          <div class="dropdown-wrapper">
            <div class="input-group dropdown bootstrap">
              <ejs-multiselect
                id="location"
                #locationDropdown
                appValidateWithMessage
                mode="CheckBox"
                [dataSource]="locations"
                [fields]="fields"
                [allowFiltering]="true"
                [showDropDownIcon]="true"
                formControlName="locations"
              >
              </ejs-multiselect>
            </div>
            <div class="switch">
              <ejs-switch
                name="allLocations"
                [checked]="allLocationsSelected"
                (change)="allLocationsChange($event)"
                label="All"
              ></ejs-switch>
              <label for="allLocations" class="switch-text">All</label>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="department">Department <span class="required">*</span></label>
          <div class="dropdown-wrapper">
            <div class="input-group dropdown bootstrap">
              <ejs-multiselect
                id="department"
                #departmentDropdown
                appValidateWithMessage
                mode="CheckBox"
                [dataSource]="departments"
                [fields]="fields"
                [allowFiltering]="true"
                [showDropDownIcon]="true"
                formControlName="departments"
                [query]="query"
                (filtering)="onDepartmentsFiltering($event)"
              >
              </ejs-multiselect>
            </div>
            <div class="switch">
              <ejs-switch
                name="allDepartments"
                [checked]="allDepartmentsSelected"
                (change)="allDepartmentsChange($event)"
                label="All"
              ></ejs-switch>
              <label for="allDepartments" class="switch-text">All</label>
            </div>
          </div>
          <div *ngIf="departments && departments.length > maxDepartmentsLength">
            Narrow down locations/regions or use input search for departments.
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="skill">Skill <span class="required">*</span></label>
          <div class="input-group dropdown bootstrap">
            <ejs-multiselect
              id="skill"
              appValidateWithMessage
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="skills"
              [fields]="skillsFields"
              [showSelectAll]="true"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              formControlName="skills"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container">
          <label for="workflowName">Workflow Name<span class="required">*</span></label>
          <div class="input-group dropdown bootstrap">
            <ejs-dropdownlist
              appValidateWithMessage
              id="workflowName"
              formControlName="workflowName"
              [allowFiltering]="true"
              [dataSource]="workflowSources"
              [fields]="fields"
            >
            </ejs-dropdownlist>
          </div>
        </div>
      </div>

      <div class="groups bootstrap" *ngIf="isMappingSectionShown">
        <div class="group-container" formArrayName="orderRoleUserFormArray">
          <div class="group-name"><h3>Order</h3></div>
          <div class="group-details-container">
            <div class="group" *ngFor="let step of orderRoleUserFormArray.controls; let i = index" [formGroupName]="i">
              <div class="input-container without-label step-details">
                <div class="input-group input-readonly">
                  <input
                    class="e-input"
                    type="text"
                    readonly
                    [value]="orderWorkflowSteps[i]?.status + ' > ' + orderWorkflowSteps[i]?.nextStepStatus"
                  />
                </div>
              </div>

              <div class="input-container role-user">
                <label>Role/User <span class="required">*</span></label>
                <div class="input-group dropdown">
                  <ejs-multiselect
                    selectAllText="Select All"
                    mode="CheckBox"
                    [allowFiltering]="true"
                    [showDropDownIcon]="true"
                    appValidateWithMessage
                    [dataSource]="rolesWithUsers[workflowTypes.OrderWorkflow][orderWorkflowSteps[i]?.type ?? 0]"
                    [fields]="fields"
                    formControlName="roleUserList"
                  >
                  </ejs-multiselect>
                </div>
              </div>

              <div class="input-container permissions">
                <ejs-checkbox
                  #orderRoleUserPermissions
                  formControlName="isPermissionBased"
                  label="Permissions"
                  (checkedChange)="disableRoleUserList(i, orderRoleUserPermissions.checked, orderRoleUserFormArray)"
                ></ejs-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="group-container" formArrayName="applicationRoleUserFormArray">
          <div class="group-name"><h3>Application</h3></div>
          <ng-container *ngFor="let step of applicationRoleUserFormArray.controls; let i = index" [formGroupName]="i">
            <div class="group" *ngIf="applicationWorkflowSteps[i]?.requirePermission">
              <div class="input-container without-label step-details">
                <div class="input-group input-readonly">
                  <input
                    class="e-input"
                    type="text"
                    readonly
                    [value]="applicationWorkflowSteps[i]?.status + ' > ' + applicationWorkflowSteps[i]?.nextStepStatus"
                  />
                </div>
              </div>

              <div class="input-container role-user">
                <label>Role/User <span class="required">*</span></label>
                <div class="input-group dropdown">
                  <ejs-multiselect
                    selectAllText="Select All"
                    mode="CheckBox"
                    [allowFiltering]="true"
                    [showDropDownIcon]="true"
                    appValidateWithMessage
                    [dataSource]="
                      rolesWithUsers[workflowTypes.ApplicationWorkflow][applicationWorkflowSteps[i]?.type ?? 0]
                    "
                    [fields]="fields"
                    formControlName="roleUserList"
                  >
                  </ejs-multiselect>
                </div>
              </div>

              <div class="input-container permissions">
                <ejs-checkbox
                  #applicationPermissions
                  formControlName="isPermissionBased"
                  label="Permissions"
                  (checkedChange)="disableRoleUserList(i, applicationPermissions.checked, applicationRoleUserFormArray)"
                ></ejs-checkbox>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </app-side-dialog>
</section>
