@import 'colors.scss';

.workflow-mapping-container {
  padding-bottom: 24px;
  padding-right: 25px;
  margin-right: -25px;
  height: calc(100% - 12px);

  .grid-component {
    margin-top: 25px;
  }

  app-page-toolbar {
    position: absolute;
    z-index: 1;
    right: 0;
    top: -85px;
  }
}

.form-container {
  padding-top: 24px;

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-wrapper {
    display: flex;

    .input-group {
      width: 100%;
      margin-right: 12px;
    }
  }

  .input-container {
    margin-bottom: 12px;

    &.without-label {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      &.step-details {
        padding-right: 10px;
        padding-top: 3px;
      }
    }

    &.role-user {
      width: 184px;
    }

    &.permissions {
      width: 70px;
      align-self: center;
      margin-top: 19px;
      margin-left: 10px;
    }

    .input-group.input-readonly {
      width: 210px;

      .e-input[readonly] {
        background-color: $secondary-dark-blue-50;
        color: $secondary-dark-blue-30;

        &:hover,
        &:focus {
          border: 1px solid $secondary-dark-blue-40 !important;
        }
      }
    }
  }

  .groups {
    max-height: 100%;
    overflow: auto;
  }

  .group-name {
    padding-bottom: 3px;

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
    }
  }

  .group {
    display: flex;
  }
}

table.detailtable {
  thead {
    tr {
      height: 26px !important;

      td {
        border-top: 1px solid $secondary-dark-blue-45;
        border-bottom: 1px solid $secondary-dark-blue-40;

        &.workflow-type {

          span {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 13px;
            color: $secondary-dark-blue-15;
          }
        }
      }
    }
  }

  tbody {
    tr {
      height: 64px !important;

      td {
        &.workflow-type-content {

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 150px;
          }
        }

        &.user-roles-content {

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width:120px;
          }
        }
      }
    }
  }
}

tr.highlight {
  background-color: $error !important;

  &:hover {
    background-color: $primary-active-blue-90 !important;
  }
}

.e-row {
  .e-customized-expand-cell {
    border-top: 1px solid $grid-row-border;
  }

  &:last-of-type .e-customized-expand-cell,
  &:last-of-type .e-detailrowcollapse {
    border-bottom: 1px solid $grid-row-border;
  }
}

.e-row[aria-selected='true'] {
  .e-customized-expand-cell {
    background-color: $primary-active-blue-10;
  }

  td.e-detailrowcollapse {
    div.e-icons.e-dtdiagonalright.e-icon-grightarrow::before {
      color: $white !important;
    }
  }

  td.e-detailrowexpand {
    div.e-icons.e-dtdiagonaldown.e-icon-gdownarrow::before {
      color: $white !important;
    }
  }
}

tr.e-detailrow {
  &:hover {
    background-color: $primary-active-blue-90 !important;
  }
}

.e-row:hover {
  .e-detailrowcollapse,
  .e-detailrowexpand {
    background-color: $primary-active-blue-90 !important;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}
