<section class="container">
  <app-page-toolbar>
    <ng-container left>
    </ng-container>
    <ng-container right>
      <button
        ejs-button
        [isPrimary]="true"
        (click)="onAddMappingClick()"
      >Add Mapping</button>
    </ng-container>
  </app-page-toolbar>

  <ejs-grid class="grid grid-component"
            #grid
            [dataSource]="(workflowMappings$ | async)?.items"
            [allowPaging]="allowPaging"
            [pageSettings]="pageSettings"
            [height]="gridHeight"
            [rowHeight]="rowHeight"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
  >
    <e-columns>
      <e-column field="regionId" headerText="REGION" width=200></e-column>
      <e-column field="locationId" headerText="LOCATION" width=200></e-column>
      <e-column field="departmentId" headerText="DEPARTMENT" width=200></e-column>
      <e-column field="skills" headerText="SKILL" width=200></e-column>
      <e-column field="workflowType" headerText="WORKFLOW TYPE" width=200></e-column>
      <e-column field="workflowName" headerText="WORKFLOW NAME" width=200></e-column>
      <e-column textAlign="Right" width=120>
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditButtonClick(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemoveButtonClick(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(workflowMappings$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(workflowMappings$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>

  <app-side-dialog
    *ngIf="isActive"
    (formCancelClicked)="onCancelFormClick()"
    (formSaveClicked)="onSaveFormClick()"
    [header]="dialogHeader + ' Workflow'"
  >
    <form class="form-container bootstrap"
          id="addWorkflow"
          [formGroup]="workflowMappingFormGroup">

      <div>
        <div class="input-container dropdown">
          <label for="region">Region <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="region"
              appValidateWithMessage
              placeholder="Region"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="regions$ | async"
              [fields]="fields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="regions"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="location">Location <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="location"
              appValidateWithMessage
              placeholder="Location"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="locations$ | async"
              [fields]="fields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="locations">
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="department">Department <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="department"
              appValidateWithMessage
              placeholder="Department"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="departments$ | async"
              [fields]="departmentFields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="departments">
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="skill">Skill <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="skill"
              appValidateWithMessage
              placeholder="Skill"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="(skills$ | async)?.items"
              [fields]="skillsFields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="skills">
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container dropdown">
          <label for="workflowType">Workflow Type <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist
              id="workflowType"
              appValidateWithMessage
              placeholder="Workflow Type"
              [dataSource]="workflowTypes$ | async"
              formControlName="workflowType">
            </ejs-dropdownlist>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container">
          <label for="workflow">Workflow Name<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist
              id="workflowName"
              appValidateWithMessage
              placeholder="Workflow Name"
              [dataSource]="workflowName$ | async"
              [fields]="workflowNameFields"
              formControlName="workflowName"
            >
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>
</section>
