.e-dialog .e-dlg-content {
    font-size: 15px;
    color: #600604;
    background-color: #f2dede;
    border-color:#ebccd1;
}
.e-dialog .e-dlg-header-content{
    padding: 3px !important;;
    background-color: #f2dede;
}
.e-popup.e-popup-open.e-dialog{
    height:auto !important;
    width:438px !important;
}