@import 'colors.scss';

.container {
  padding-top: 24px;
}

.checkbox {
  width: 25px;
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-between;

  .input-container {
    width: 100%;

    &:first-child {
      margin-right: 12px;
    }
  }
}

.form-container {
  padding-top: 24px;

  .group {
    display: flex;

    .input-container:first-child {
      padding-right: 13px;
    }

    .input-container {
      width: 100%;

      ejs-numerictextbox {
        span.e-disabled {
          border: 1px solid $grey;
          background-color: $secondary-dark-blue-50;
        }
      }
    }
  }
}
