<section class="container">
  <ejs-grid
    class="grid grid-component"
    #grid
    [dataSource]="(billRatesPage$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="gridHeight"
    [enableVirtualization]="true"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    [enableVirtualization]="true"
  >
    <e-columns>
      <e-column field="regionName" headerText="REGION" width=150>
        <ng-template #template let-data>
          <span *ngIf="data.regionId">{{ data.regionName }}</span>
          <span *ngIf="!data.regionId">All</span>
        </ng-template>
      </e-column>
      <e-column field="locationName" headerText="LOCATION" width=180>
        <ng-template #template let-data>
          <span *ngIf="data.locationId">{{ data.locationName }}</span>
          <span *ngIf="!data.locationId">All</span>
        </ng-template>
      </e-column>
      <e-column field="departmentName" headerText="DEPARTMENT" width=180>
        <ng-template #template let-data>
          <span *ngIf="data.departmentId">{{ data.departmentName }}</span>
          <span *ngIf="!data.departmentId">All</span>
        </ng-template>
      </e-column>
      <e-column field="skills" headerText="SKILL" width=170>
        <ng-template #template let-data>
          <span *ngFor="let skill of data.skills; let i = index">{{ skill.name }}
            <span *ngIf="i !== data.skills.length - 1">, </span>
          </span>
          <span *ngIf="data.skills.length === 0">All</span>
        </ng-template>
      </e-column>
      <e-column field="orderTypes" headerText="ORDER TYPE" width=180>
        <ng-template #template let-data>
          <span *ngFor="let orderTypeId of data.orderTypes; let i = index">{{ orderTypeId | orderTypeName }}
            <span *ngIf="i !== data.orderTypes.length - 1">, </span>
          </span>
          <span *ngIf="data.orderTypes.length === 0">All</span>
        </ng-template>
      </e-column>
      <e-column field="billRateTitle" headerText="BILL RATE TITLE" width=180></e-column>
      <e-column field="billRateCategory" headerText="BILL RATE CATEGORY" width=200>
        <ng-template #template let-data>
          <span>{{ billRateCategory[data.billRateCategory] }}</span>
        </ng-template>
      </e-column>
      <e-column field="billRateType" headerText="BILL RATE TYPE" width=200>
        <ng-template #template let-data>
          <span>{{ billRateType[data.billRateType] }}</span>
        </ng-template>
      </e-column>
      <e-column field="effectiveDate" headerText="EFFECTIVE DATE" width=180>
        <ng-template #template let-data>
          <span>{{ data.effectiveDate | date: 'MM/dd/yyyy' }}</span>
        </ng-template>
      </e-column>
      <e-column field="rateHour" headerText="BILL RATE VALUE (RATE/TIMES)" width=250 textAlign="Right"></e-column>
      <e-column field="intervalMin" headerText="INTERVAL MIN" width=180 textAlign="Right"></e-column>
      <e-column field="intervalMax" headerText="INTERVAL MAX" width=180 textAlign="Right"></e-column>
      <e-column field="considerForWeeklyOT" headerText="CONSIDER FOR WEEKLY OT" width=230>
        <ng-template #template let-data>
          <div class="checkbox bootstrap" (click)="stopPropagation($event)">
            <ejs-checkbox
              [checked]="data.considerForWeeklyOT"
              [disabled]="isReadOnly"
              (change)="considerForWeeklyOtChange(data, $event)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="considerForDailyOT" headerText="CONSIDER FOR DAILY OT" width=230>
        <ng-template #template let-data>
          <div class="checkbox bootstrap" (click)="stopPropagation($event)">
            <ejs-checkbox
              [checked]="data.considerForDailyOT"
              [disabled]="isReadOnly"
              (change)="considerForDailyOtChange(data, $event)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="considerFor7thDayOT" headerText="CONSIDER FOR 7th DAY OT" width=230>
        <ng-template #template let-data>
          <div class="checkbox bootstrap" (click)="stopPropagation($event)">
            <ejs-checkbox
              [checked]="data.considerFor7thDayOT"
              [disabled]="isReadOnly"
              (change)="considerFor7thDayOtChange(data, $event)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="regularLocal" headerText="REGULAR LOCAL" width=180>
        <ng-template #template let-data>
          <div class="checkbox bootstrap" (click)="stopPropagation($event)">
            <ejs-checkbox
              [checked]="data.regularLocal"
              [disabled]="isReadOnly"
              (change)="regularLocalChange(data, $event)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="displayInTimesheet" headerText="DISPLAY IN TIMESHEET" width=200>
        <ng-template #template let-data>
          <div class="checkbox bootstrap" (click)="stopPropagation($event)">
            <ejs-checkbox
              [checked]="data.displayInTimesheet"
              [disabled]="isReadOnly"
              (change)="displayInTimeSheetChange(data, $event)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="displayInJob" headerText="DISPLAY IN JOB" width=200>
        <ng-template #template let-data>
          <div class="checkbox bootstrap" (click)="stopPropagation($event)">
            <ejs-checkbox
              [checked]="data.displayInJob"
              [disabled]="isReadOnly"
              (change)="displayInJobChange(data, $event)"></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>
      <e-column textAlign="Right" width=100 freeze="Right">
        <ng-template #template let-data>
          <div class="row-tool-buttons" (click)="stopPropagation($event)">
            <button
              ejs-button
              cssClass="e-flat primary-icon-button"
              [disabled]="isReadOnly"
              (click)="onEditRecordButtonClick(data, $event)"
            >
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button
              ejs-button
              cssClass="e-flat secondary-icon-button"
              [disabled]="isReadOnly"
              (click)="onRemoveRecordButtonClick(data, $event)"
            >
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(billRatesPage$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(billRatesPage$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>

  <app-side-dialog
    (formCancelClicked)="onFormCancelClick()"
    (formSaveClicked)="onFormSaveClick()"
    [header]="dialogHeader + ' Record'"
    [width]="'436px'"
  >
    <form
      *ngIf="isActive"
      class="form-container bootstrap"
      id="addEditRecordForm"
      [formGroup]="billRatesFormGroup"
    >
      <div class="group">
        <div class="input-container dropdown">
          <label for="region">Region <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="region"
              #regionDropdown
              appValidateWithMessage
              placeholder="Region"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="orgRegions"
              [fields]="fields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="regionIds"
            >
            </ejs-multiselect>
          </div>
        </div>

        <div class="input-container dropdown">
          <label for="location">Location <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="location"
              #locationDropdown
              appValidateWithMessage
              placeholder="Location"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="locations"
              [fields]="fields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="locationIds">
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div class="group">
        <div class="input-container dropdown">
          <label for="department">Department <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="department"
              #departmentDropdown
              appValidateWithMessage
              placeholder="Department"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="departments"
              [fields]="fields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="departmentIds">
            </ejs-multiselect>
          </div>
        </div>

        <div class="input-container dropdown">
          <label for="skill">Skill <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="skill"
              appValidateWithMessage
              placeholder="Skill"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="skills$ | async"
              [fields]="skillsFields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="skillIds">
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div class="group">
        <div class="input-container form-dropdown">
          <label for="billRatesTitle">Bill Rates Title <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist
              id="billRatesTitle"
              appValidateWithMessage
              placeholder="Bill Rates Title"
              [dataSource]="billRatesOptions$ | async"
              [fields]="billRateTitleFields"
              formControlName="billRateTitleId">
            </ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container dropdown">
          <label for="orderType">Order Type <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              id="orderType"
              appValidateWithMessage
              placeholder="Order Type"
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="orderTypes"
              [fields]="orderTypesFields"
              [showSelectAll]="true"
              [allowFiltering]="false"
              [showDropDownIcon]="true"
              formControlName="orderTypeIds">
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div class="group">
        <div class="input-container">
          <label for="billRatesCategory">Bill Rates Category</label>
          <div class="input-group">
            <input
              id="billRatesCategory"
              class="e-input e-disabled"
              type="text"
              placeholder="Regular/Local"
              formControlName="billRatesCategory"
            />
          </div>
        </div>

        <div class="input-container">
          <label for="billRatesType">Bill Rates Type</label>
          <div class="input-group">
            <input
              id="billRatesType"
              class="e-input e-disabled"
              type="text"
              placeholder="Times"
              formControlName="billRatesType"
            />
          </div>
        </div>
      </div>

      <div class="group">
        <div class="input-container bootstrap">
          <label *ngIf="selectedBillRateUnit === BillRateUnitList.Multiplier">Multiplier <span class="required">*</span></label>
          <label *ngIf="selectedBillRateUnit === BillRateUnitList.Currency">Amount <span class="required">*</span></label>
          <label *ngIf="selectedBillRateUnit === BillRateUnitList.Hours">Hours <span class="required">*</span></label>
          <div class="input-group">
            <ejs-numerictextbox
              *ngIf="selectedBillRateUnit === BillRateUnitList.Hours"
              class="numeric-input"
              appValidateWithMessage
              min="0"
              maxlength="10"
              [validateDecimalOnType]="true"
              [showSpinButton]="false"
              placeholder="Hours"
              decimals='0'
              format="#"
              formControlName="billRateValueRateTimes"
            >
            </ejs-numerictextbox>

            <input
              *ngIf="selectedBillRateUnit === BillRateUnitList.Multiplier || selectedBillRateUnit === BillRateUnitList.Currency"
              class="e-input"
              type="text"
              formControlName="billRateValueRateTimes"
              appValidateWithMessage
              [placeholder]="selectedBillRateUnit === BillRateUnitList.Multiplier ? 'Multiplier' : 'Amount'"
              maxlength="11"
              (keyup)="priceUtils.verifyDigitsAfterDot(billRatesFormGroup,'billRateValueRateTimes')"
              (keydown)="priceUtils.numbersOnly($event)"
              (focus)="priceUtils.setPriceMask(billRatesFormGroup,'billRateValueRateTimes', $event)"
              (blur)="priceUtils.setTwoDecimals(billRatesFormGroup, 'billRateValueRateTimes', $event)"
            />
          </div>
        </div>

        <div class="input-container calendar">
          <label for="effectiveDate">Effective Date <span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker
              id="effectiveDate"
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              appValidateWithMessage
              formControlName="effectiveDate"
            >
            </ejs-datepicker>
          </div>
        </div>
      </div>

      <div class="group">
        <div class="input-container bootstrap">
          <label for="intervalMin">Interval Min <span class="required" *ngIf="isIntervalMinEnabled">*</span></label>
          <div class="input-group">
            <ejs-numerictextbox
              id="intervalMin"
              class="numeric-input"
              appValidateWithMessage
              min="0"
              [maxlength]="10"
              [validateDecimalOnType]="true"
              [showSpinButton]="false"
              placeholder="Interval Min"
              decimals='0'
              format="#"
              formControlName="intervalMin"
            >
            </ejs-numerictextbox>
          </div>
        </div>

        <div class="input-container bootstrap">
          <label for="intervalMax">Interval Max <span class="required" *ngIf="isIntervalMaxEnabled">*</span></label>
          <div class="input-group">
            <ejs-numerictextbox
              id="intervalMax"
              class="numeric-input"
              appValidateWithMessage
              min="0"
              [maxlength]="10"
              [validateDecimalOnType]="true"
              [showSpinButton]="false"
              placeholder="Interval Max"
              decimals='0'
              format="#"
              formControlName="intervalMax"
            >
            </ejs-numerictextbox>
          </div>
        </div>
      </div>

      <div class="checkbox-container">
        <div class="input-container">
          <div class="input-group">
            <ejs-checkbox
              id="considerForWeeklyOt"
              label="Consider for Weekly OT"
              formControlName="considerForWeeklyOt"
            ></ejs-checkbox>
          </div>
        </div>

        <div class="input-container">
          <div class="input-group">
            <ejs-checkbox
              id="considerForDailyOt"
              label="Consider for Daily OT"
              formControlName="considerForDailyOt"
            ></ejs-checkbox>
          </div>
        </div>

        <div class="input-container">
          <div class="input-group">
            <ejs-checkbox
              id="considerFor7thDayOt"
              label="Consider for 7th Day OT"
              formControlName="considerFor7thDayOt"
            ></ejs-checkbox>
          </div>
        </div>

        <div class="input-container">
          <div class="input-group">
            <ejs-checkbox
              id="regularLocal"
              label="Regular/Local"
              formControlName="regularLocal"
            ></ejs-checkbox>
          </div>
        </div>

        <div class="input-container">
          <div class="input-group">
            <ejs-checkbox
              id="displayInTimesheet"
              label="Display in Timesheet"
              formControlName="displayInTimesheet"
            ></ejs-checkbox>
          </div>
        </div>

        <div class="input-container">
          <div class="input-group">
            <ejs-checkbox
              id="displayInJob"
              label="Display in Job"
              formControlName="displayInJob"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>

  <app-filter-dialog
    [items]="filteredItems"
    [count]="(billRatesPage$ | async)?.totalCount"
    (deleteFilter)="onFilterDelete($event)"
    (clearAllFiltersClicked)="onFilterClearAll()"
    (applyFilterClicked)="onFilterApply()">
    <form class="bootstrap" [formGroup]="billRateFilterFormGroup">
      <div class="input-container">
        <label>Region</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="regionIds"
                           placeholder="All"
                           [fields]="fields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.regionIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Location</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="locationIds"
                           placeholder="All"
                           [fields]="fields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.locationIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Department</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="departmentIds"
                           placeholder="All"
                           [fields]="fields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.departmentIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Skills</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="skillIds"
                           placeholder="All"
                           [fields]="skillsFields"
                           [allowFiltering]="false"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.skillIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Bill Rate Title</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="billRateTitleIds"
                           placeholder="All"
                           [fields]="billRateTitleFields"
                           [allowFiltering]="false"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.billRateTitleIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Order Type</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="orderTypeIds"
                           placeholder="All"
                           [fields]="orderTypesFields"
                           [allowFiltering]="false"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.orderTypeIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </form>
  </app-filter-dialog>
</section>
