@import 'colors';
@import 'adaptive-response';

.e-btn-group {
  position: relative;
  z-index: 0;
  border-radius: 12px !important;
  box-shadow: none !important;
}

.e-btn {
  min-width: 80px;
  padding: 11px 15px !important;
  border: 1px solid $secondary-dark-blue-45 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 16px !important;
  text-transform: initial !important;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05) !important;
  background: $white !important;
  color: $secondary-dark-blue-10 !important;

  &:hover,
  &:focus {
    background: $primary-active-blue-30 !important;
    color: $white !important;
  }

  &:first-of-type {
    border-radius: 12px 0 0 12px !important;
  }

  &:last-of-type {
    border-radius: 0 12px 12px 0 !important;
  }

  &.active {
    border-right: none !important;
    border-left: none !important;
    background: $primary-active-blue-10 !important;
    color: $white !important;
  }

  &.disabled {
    color: $secondary-dark-blue-40 !important;
    pointer-events: none !important;
  }
}
@media #{$max-mobile} {
  .e-btn-group {
    width: 87vw;
    display: flex;
  }

  .e-btn {
    flex: 1;
    min-width: unset;
  }
}
