<div class="e-btn-group e-round-corner">
  <ng-container *ngFor="let button of buttonOptions; trackBy: trackByFn">
    <input
      type="radio"
      [id]="button.id"
      name="font"
      [value]="button.title"
      [checked]="button.active"
      [disabled]="button.disabled" />
    <label
      [class.active]="button.active"
      [class.disabled]="button.disabled"
      class="e-btn"
      [for]="button.id"
      (click)="btnClick(button)">
        {{ button.title }}
    </label>
  </ng-container>
</div>
