<form [formGroup]="billRateForm">
  <div class="form-line">
    <!-- Bill Rate Title -->
    <div class="dropdown-container bootstrap">
      <label>Bill Rate Title<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          #billRateOptions
          [fields]="optionFields"
          appValidateWithMessage
          formControlName="billRateConfigId"
          [dataSource]="billRateOptions$ | async"
          placeholder="Bill Rate Title"
        ></ejs-dropdownlist>
      </div>
    </div>
  </div>

  <div class="form-line">
    <!-- Bill Rates Category -->
    <div class="input-container bootstrap form-line-item-20">
      <label>Bill Rates Category<span class="required">*</span></label>
      <div class="input-group">
        <input class="e-input" type="text" placeholder="Bill Rates Category" disabled [value]="categoryValue" />
      </div>
    </div>

    <!-- Bill Rates Type -->
    <div class="input-container bootstrap form-line-item-20">
      <label>Bill Rates Type<span class="required">*</span></label>
      <div class="input-group">
        <input class="e-input" type="text" placeholder="Bill Rates Type" disabled [value]="typeValue" />
      </div>
    </div>
  </div>

  <div class="form-line">
    <!-- Rates/Hours -->

    <!-- Effective Date -->
    <div class="datepicker-container bootstrap">
      <label>Effective Date<span class="required">*</span></label>
      <div class="input-group datepicker">
        <ejs-datepicker
          class="datepicker"
          format="MM/dd/yyyy"
          placeholder="MM/DD/YYYY"
          [enableMask]="true"
          [maskPlaceholder]="{  month: 'MM', day: 'DD', year: 'YYYY' }"
          appValidateWithMessage
          formControlName="effectiveDate"
        >
        </ejs-datepicker>
      </div>
    </div>

    <div class="input-container bootstrap">
      <label *ngIf="selectedBillRateUnit === BillRateUnitList.Multiplier">Rate <span class="required">*</span></label>
      <label *ngIf="selectedBillRateUnit === BillRateUnitList.Currency">Money <span class="required">*</span></label>
      <label *ngIf="selectedBillRateUnit === BillRateUnitList.Hours">Hours <span class="required">*</span></label>
      <div class="input-group">
        <ejs-numerictextbox
          *ngIf="selectedBillRateUnit === BillRateUnitList.Hours"
          class="numeric-input"
          appValidateWithMessage
          min="0"
          maxlength="10"
          [validateDecimalOnType]="true"
          [showSpinButton]="false"
          placeholder="Hours"
          decimals='0'
          format="#"
          formControlName="rateHour"
        >
        </ejs-numerictextbox>

        <ejs-numerictextbox
          *ngIf="selectedBillRateUnit === BillRateUnitList.Multiplier || selectedBillRateUnit === BillRateUnitList.Currency"
          class="numeric-input"
          appValidateWithMessage
          min="0"
          maxlength="10"
          [validateDecimalOnType]="true"
          [showSpinButton]="false"
          [placeholder]="selectedBillRateUnit === BillRateUnitList.Multiplier ? 'Rate' : 'Money'"
          decimals='2'
          [format]="rateHourMask"
          formControlName="rateHour"
          (blur)="onRateHourBlur($event)"
        >
        </ejs-numerictextbox>
      </div>
    </div>
  </div>

  <div class="form-line">
    <!-- Internal Min -->
    <div class="input-container bootstrap">
      <label>
        Interval Min
        <span *ngIf="isIntervalMinControlRequired" class="required">*</span>
      </label>
      <div class="input-group">
        <ejs-numerictextbox
          id="intervalMin"
          class="e-input"
          appValidateWithMessage
          min="0"
          maxlength="10"
          [validateDecimalOnType]="true"
          [showSpinButton]="false"
          placeholder="Interval Min"
          decimals='0'
          format="#"
          formControlName="intervalMin"
        ></ejs-numerictextbox>
      </div>
    </div>

    <!-- Internal Max -->
    <div class="input-container bootstrap">
      <label>
        Interval Max
        <span *ngIf="isIntervalMaxControlRequired" class="required">*</span>
      </label>
      <div class="input-group">
        <ejs-numerictextbox
          id="intervalMax"
          class="e-input"
          appValidateWithMessage
          min="0"
          maxlength="10"
          [validateDecimalOnType]="true"
          [showSpinButton]="false"
          placeholder="Interval Max"
          decimals='0'
          format="#"
          formControlName="intervalMax"
        ></ejs-numerictextbox>
      </div>
    </div>
  </div>
</form>
