@import "colors";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 !important;
  .content {
    margin-top: 25px;
    .widget-container {
      background-color: $secondary-dark-blue-50;
      padding: 24px;
      .e-mastertext {
        font-size: 14px;
        line-height: 20px;
        color: $secondary-dark-blue-20;
        margin-bottom: 4px;
      }

      .widget-grid {
        border: none;

        &__name {
          font-size: 16px !important;
          line-height: 22px !important;
        }

        &__description {
          font-size: 12px !important;
          line-height: 16px;
        }
      }

      .e-grid .e-gridheader {
        display: none;
      }
    }
  }
  .e-card-header {
    margin: 24px;
    .e-close-large {
      font-size: 10px;
      font-weight: 700;
      color: $primary-active-blue-10;
    }
  }
}
