<section class="flex-column">
  <section class="toolbar">
    <section class="details bootstrap">
      <ejs-dropdownlist
        id="regionsDropDown"
        class="region-dropdown"
        placeholder="Region"
        [allowFiltering]="true"
        [dataSource]="regions$ | async"
        [fields]="regionFields"
        (change)="changeRegion($event)"
        [value]="defaultValue"
      ></ejs-dropdownlist>
      <button
        ejs-button
        cssClass="e-flat button-with-icon"
        (click)="openAddRegionDialog()"
        [class.hidden]="true"
        ><i-feather name="plus" class="icon"></i-feather> Add Region</button>
    </section>

    <section [class.hidden]="!isLoaded">
      <button
        ejs-button
        id="filterButton"
        cssClass="e-outline button-filter"
        (click)="showFilters()">
        <div class="filter-button-content">
          <span
            *ngIf="filteredItems.length"
            class="e-badge e-badge-success e-badge-pill align-text">
            {{ filteredItems.length }}
          </span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-button
        id="importButton"
        cssClass="e-outline button-import"
        (click)="openImportDialog()">Import <i-feather name="download" class="icon"></i-feather></button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="exportButton"
        cssClass="e-outline button-export">
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-button
        id="addDepartmentButton"
        [isPrimary]="true"
        (click)='openAddLocationDialog()'>Add Location</button>
    </section>
  </section>

  <ejs-grid class="grid grid-component"
    #grid
    [dataSource]="(locations$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [enableVirtualization]="false"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    (actionBegin)="actionBegin($event)"
    (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)"
    (dataBound)="gridDataBound(grid)"
    [selectionSettings]="selectionSettings"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="editLocation(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="deleteLocation(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="includeInIRPText" headerText="Include in IRP" width=200>
        <ng-template #template let-data>
          <span>{{ data.includeInIRPText }}</span>
        </ng-template>
      </e-column>
      <e-column field="externalId" headerText="LOCATION Id" width=200></e-column>
      <e-column field="invoiceId" headerText="INVOICE LOCATION ID" width=200></e-column>
      <e-column field="name" headerText="LOCATION NAME" width=200></e-column>
      <e-column field="businessLine" headerText="Business Line" width=200></e-column>
      <e-column field="address1" headerText="ADDRESS 1" width=200></e-column>
      <e-column field="address2" headerText="ADDRESS 2" width=200></e-column>
      <e-column field="city" headerText="CITY" width=200></e-column>
      <e-column field="state" headerText="STATE" width=200></e-column>
      <e-column field="zip" headerText="ZIP" width=200></e-column>
      <e-column field="contactPerson" headerText="CONTACT PERSON" width=200></e-column>
      <e-column field="timeZone" headerText="Timezone" width=200></e-column>
      <e-column field="inactiveDate" headerText="Inactivation Date" width=200>
        <ng-template #template let-data>
          {{ data.inactiveDate | date: 'MM/dd/yyy' : 'UTC' }}
        </ng-template>
      </e-column>
      <e-column field="reactivateDate" headerText="Reactivation Date" width=200>
        <ng-template #template let-data>
          {{ data.reactivateDate | date: 'MM/dd/yyy' : 'UTC' }}
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="changeRowsPerPage()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(locations$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="selectPage($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(locations$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(locations$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="selectPage($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-export-dialog
  [columns]="columnsToExport"
  [fileName]="fileName"
  (cancel)="closeExport()"
  (export)="export($event)">
</app-export-dialog>

<app-filter-dialog
  [items]="filteredItems"
  [count]="(locations$ | async)?.totalCount"
  (deleteFilter)="deleteFilter($event)"
  (clearAllFiltersClicked)="clearFilter()"
  (applyFilterClicked)="applyFilter()"
  (closeDialogClicked)="closeFilter()"
>
  <form class="bootstrap" [formGroup]="locationFilterForm">
    <div class="input-container">
      <label>Location Id</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="externalIds"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.externalIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container" *ngIf="isOrgVMSEnabled || !isFeatureIrpEnabled">
      <label>Invoice Location ID</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="invoiceIds"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.invoiceIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Location Name</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="names"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.names.dataSource">
        </ejs-multiselect>
      </div>
    </div>
     <div class="input-container">
      <label>Address 1</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="addresses1"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.addresses1.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>City</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="cities"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.cities.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>State</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="states"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.states.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Zip</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="zipCodes"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.zipCodes.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Contact Person</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="contactPeople"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.contactPeople.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <!-- Remove condition after feature implemented -->
    <div class="input-container" *ngIf="isFeatureIrpEnabled && isOrgIrpEnabled && isOrgVMSEnabled">
      <label>Include in IRP</label>
      <div class="input-group multiselect">
        <ejs-dropdownlist mode="CheckBox"
                         formControlName="includeInIRP"
                         placeholder="All"
                         [fields]="dropDownfields"
                         [allowFiltering]="true"
                         [dataSource]="filterColumns.includeInIRP.dataSource">
        </ejs-dropdownlist>
      </div>
    </div>
  </form>
</app-filter-dialog>

<app-side-dialog
  (formCancelClicked)="cancelEditLocation()"
  (formSaveClicked)="saveLocation()"
  [header]="dialogHeader"
  [width]="'832px'"
>
  <form
    class="form-container bootstrap"
    id="addEditRecordForm"
    [formGroup]="locationDetailsFormGroup"
  >
    <div class="form-block"
      [ngClass]="{ 'no-inid': !isOrgVMSEnabled && isFeatureIrpEnabled, 'prev-form-view': !isFeatureIrpEnabled }">
      <ng-container *ngFor="let control of locationDialogConfig.baseForm; trackBy: trackByField">
        <ng-container [ngSwitch]="control.fieldType">

          <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
            <div class="input-container form-dropdown" [ngStyle]="{'grid-area': control.gridAreaName}">
              <label [for]="control.field">
                {{control.title}}
                <span class="required" *ngIf="control.required">*</span>
              </label>
              <div class="input-group dropdown" *ngIf="control.sourceKey">
                <ejs-dropdownlist
                  appValidateWithMessage
                  [dataSource]="formSourcesMap[control.sourceKey]"
                  [fields]="dropDownfields"
                  [allowFiltering]="true"
                  [formControlName]="control.field">
                </ejs-dropdownlist>
              </div>
            </div>
          </ng-template>

          <ng-template [ngSwitchCase]="FieldTypes.Input">
            <div class="input-container" [ngStyle]="{'grid-area': control.gridAreaName}">
              <label [for]="control.field">
                {{control.title}}
                <span class="required" *ngIf="control.required">*</span>
              </label>
              <div class="input-group">
                <input
                  [attr.maxlength]="control.maxLen || null"
                  [pattern]="control.pattern || '.*'"
                  class="e-input"
                  type="text"
                  appValidateWithMessage
                  [formControlName]="control.field"/>
              </div>
            </div>
          </ng-template>

          <ng-template [ngSwitchCase]="FieldTypes.Toggle">
            <div class="input-container blue-text" [ngStyle]="{'grid-area': control.gridAreaName}">
              <ejs-switch
                appValidateWithMessage
                [formControlName]="control.field"
              ></ejs-switch>
              <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span>
              </label>
            </div>
          </ng-template>

        </ng-container>
      </ng-container>
    </div>

    <ng-container *ngIf="locationDialogConfig.subForms?.length">
      <ng-container *ngFor="let subForm of locationDialogConfig.subForms; trackBy: trackByKey">
        <div>
          <h3 class="title">{{subForm.formTitle}}</h3>
          <div [ngClass]="subForm.containerClass">
            <ng-container *ngFor="let control of subForm.controls; trackBy: trackByField">

              <ng-container [ngSwitch]="control.fieldType">
                <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
                  <div class="input-container form-dropdown" [ngStyle]="{'grid-area': control.gridAreaName}">
                    <label [for]="control.field">
                      {{control.title}}
                      <span class="required" *ngIf="control.required">*</span>
                    </label>
                    <div class="input-group dropdown">
                      <ejs-dropdownlist
                        *ngIf="control.sourceKey"
                        appValidateWithMessage
                        [dataSource]="formSourcesMap[control.sourceKey]"
                        [formControlName]="control.field">
                      </ejs-dropdownlist>
                    </div>
                  </div>
                </ng-template>

                <ng-template [ngSwitchCase]="FieldTypes.Input">
                  <div class="input-container" [ngStyle]="{'grid-area': control.gridAreaName}">
                    <label [for]="control.field">
                      {{control.title}}
                      <span class="required" *ngIf="control.required">*</span>
                    </label>
                    <div class="input-group">
                      <input
                        [attr.maxlength]="control.maxLen || null"
                        [pattern]="control.pattern || '.*'"
                        class="e-input"
                        [type]="control.inputType || 'text'"
                        appValidateWithMessage
                        [formControlName]="control.field"/>
                    </div>
                  </div>
                </ng-template>

                <ng-template [ngSwitchCase]="FieldTypes.Date">
                  <div class="input-container calendar" [ngStyle]="{'grid-area': control.gridAreaName}">
                    <label [for]="control.field">
                      {{control.title}}
                      <span class="required" *ngIf="control.required">*</span>
                    </label>
                    <div class="input-group datepicker">
                      <ejs-datepicker
                        class="datepicker"
                        format="MM/dd/yyyy"
                        placeholder="MM/DD/YYYY"
                        [formControlName]="control.field"
                        appValidateWithMessage
                      >
                      </ejs-datepicker>
                    </div>
                  </div>
                </ng-template>
              </ng-container>

            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </form>
</app-side-dialog>

<ejs-dialog
  id="addRegionDialog"
  cssClass="add-region-dialog"
  #addRegionDialog
  isModal="true"
  [visible]="false"
  showCloseIcon="true"
  (overlayClick)="hideRegionDialog()"
  width="448px"
  height="282px"
>
  <ng-template #header>
    <section class="header-container">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <h3 class="e-card-title">Add Region</h3>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #content>
    <div class="input-container bootstrap" [formGroup]="regionFormGroup">
      <label for="invoiceNote">Region</label>
      <div class="input-group">
        <input id="addRegion"
               class="e-input"
               type="text"
               maxlength="50"
               required
               appValidateWithMessage
               formControlName="newRegionName"/>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <div class="e-card-content">
      <button
        id="cancelDialogButton"
        ejs-button
        cssClass="e-outline"
        (click)="hideRegionDialog()">Cancel</button>
      <button
        id="okDialogButton"
        ejs-button
        [isPrimary]="true"
        (click)="saveRegion()">Save</button>
    </div>
  </ng-template>
</ejs-dialog>

<app-import-locations
  [dialogEvent]="importDialogEvent"
  [irpFlagEnabled]="isFeatureIrpEnabled"
  [orgIrpEnabled]="isOrgIrpEnabled"
  [orgVMSEnabled]="isOrgVMSEnabled"
  (reloadItemsList)="updatePage()">
</app-import-locations>
