<section class="flex-column">
  <section class="toolbar">
    <section class="details bootstrap">
      <ejs-dropdownlist
        id="regionsDropDown"
        class="region-dropdown"
        placeholder="Region"
        [dataSource]="regions$ | async"
        [fields]="regionFields"
        (change)="onRegionDropDownChanged($event)"
      ></ejs-dropdownlist>
      <button
        ejs-button
        cssClass="e-flat button-with-icon"
        (click)="onAddRegionClick()"
      ><i-feather name="plus" class="icon"></i-feather> Add Region</button>
    </section>
    <section>
      <button
        ejs-button
        id="filterButton"
        cssClass="e-outline button-filter">Filters <i-feather name="sliders" class="icon"></i-feather></button>
      <button
        ejs-button
        id="importButton"
        cssClass="e-outline button-import"
        (click)="onImportDataClick()">Import <i-feather name="upload" class="icon"></i-feather></button>
      <button
        ejs-button
        id="addDepartmentButton"
        [isPrimary]="true"
        (click)='onAddDepartmentClick()'>Add Location</button>
    </section>
  </section>

  <ejs-grid class="grid grid-component"
    #grid
    [dataSource]="gridDataSource"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
  >
    <e-columns>
      <e-column field="externalId" headerText="EXT LOCATION ID" width=200></e-column>
      <e-column field="invoiceId" headerText="INVOICE LOCATION ID" width=200></e-column>
      <e-column field="name" headerText="LOCATION NAME" width=200></e-column>
      <e-column field="address1" headerText="ADDRESS 1" width=200></e-column>
      <e-column field="address2" headerText="ADDRESS 2" width=200></e-column>
      <e-column field="city" headerText="CITY" width=200></e-column>
      <e-column field="state" headerText="STATE" width=200></e-column>
      <e-column field="zip" headerText="ZIP" width=200></e-column>
      <e-column field="contactPerson" headerText="CONTACT PERSON" width=200></e-column>
      <e-column textAlign="Right" width=120>
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditButtonClick(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemoveButtonClick(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="lastAvailablePage"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSizePager"
                [totalRecordsCount]="totalDataRecords"
                [enablePagerMessage]="false"
                [currentPage]="currentPagerPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

  <app-side-dialog
    (formCancelClicked)="onFormCancelClick()"
    (formSaveClicked)="onFormSaveClick()"
    [header]="dialogHeader + ' Location'"
    [width]="'832px'"
  >
    <form
      class="form-container bootstrap"
      id="addEditRecordForm"
      [formGroup]="locationDetailsFormGroup"
    >
      <div>
        <div class="input-container">
          <label for="externalId">Ext Location ID <span class="required">*</span></label>
          <div class="input-group">
            <input id="externalId"
                   class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   placeholder="Ext Location ID"
                   formControlName="externalId"/>
          </div>
        </div>
      </div>

      <div class="group">
        <div class="input-container">
          <label for="invoiceId">Invoice Location ID <span class="required">*</span></label>
          <div class="input-group">
            <input id="invoiceId"
                   class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   placeholder="Invoice Location ID"
                   formControlName="invoiceId"/>
          </div>
        </div>

        <div class="input-container">
          <label for="name">Location Name<span class="required">*</span></label>
          <div class="input-group">
            <input id="name"
                   class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   placeholder="Location Name"
                   formControlName="name"/>
          </div>
        </div>
      </div>

      <div class="large-group">
        <div class="input-container">
          <label for="address1">Address 1<span class="required">*</span></label>
          <div class="input-group">
            <input id="address1"
                   class="e-input"
                   type="text"
                   maxlength="100"
                   appValidateWithMessage
                   placeholder="Address 1"
                   formControlName="address1"/>
          </div>
        </div>

        <div class="input-container">
          <label for="address2">Address 2</label>
          <div class="input-group">
            <input id="address2"
                   class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   placeholder="Address 2"
                   formControlName="address2"/>
          </div>
        </div>
      </div>

      <div class="group">
        <div class="input-container form-dropdown">
          <label for="state">State <span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist
                id="state"
                appValidateWithMessage
                placeholder="State"
                [dataSource]="statesGeneral$ | async"
                formControlName="state">
              </ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="city">City <span class="required">*</span></label>
          <div class="input-group">
            <input
              id="city"
              class="e-input"
              type="text"
              maxlength="20"
              appValidateWithMessage
              placeholder="City"
              formControlName="city"/>
          </div>
        </div>

        <div class="input-container">
          <label for="zip">Zipcode <span class="required">*</span></label>
          <div class="input-group">
            <input id="zip"
                   class="e-input"
                   type="text"
                   pattern="[0-9]*"
                   maxlength="6"
                   appValidateWithMessage
                   placeholder="Zipcode"
                   formControlName="zip"/>
          </div>
        </div>
      </div>

      <div>
        <h3 class="title">Contacts</h3>

        <div class="combined-group">
          <div class="input-container">
            <label for="contactPerson">Contact Person <span class="required">*</span></label>
            <div class="input-group">
              <input id="contactPerson"
                     class="e-input"
                     type="text"
                     maxlength="50"
                     appValidateWithMessage
                     placeholder="Contact Person"
                     formControlName="contactPerson"/>
            </div>
          </div>

          <div class="input-container">
            <label for="contactEmail">Contact Person Email<span class="required">*</span></label>
            <div class="input-group">
              <input id="contactEmail"
                     class="e-input"
                     type="email"
                     appValidateWithMessage
                     placeholder="Contact Person Email"
                     formControlName="contactEmail"/>
            </div>
          </div>
        </div>

        <div class="group">
          <div class="input-container">
            <label for="phoneNumber">Phone Number<span class="required">*</span></label>
            <div class="input-group">
              <input id="phoneNumber"
                     class="e-input"
                     type="tel"
                     pattern="^[0-9]*$"
                     maxlength="10"
                     appValidateWithMessage
                     placeholder="Phone Number"
                     formControlName="phoneNumber"/>
            </div>
          </div>

          <div class="input-container">
            <label for="phoneType">Phone Type<span class="required">*</span></label>
              <div class="input-group dropdown">
                <ejs-dropdownlist
                  id="phoneType"
                  appValidateWithMessage
                  placeholder="Phone Type"
                  formControlName="phoneType"
                  [dataSource]="phoneTypes$ | async"
                >
                </ejs-dropdownlist>
              </div>
          </div>

          <div class="input-container">
            <label for="ext">Ext</label>
            <div class="input-group">
              <input id="ext"
                     class="e-input"
                     type="text"
                     maxlength="50"
                     placeholder="Ext"
                     formControlName="ext"/>
            </div>
          </div>

          <div class="input-container">
            <label for="glNumber">GL Number</label>
            <div class="input-group">
              <input id="glNumber"
                     class="e-input"
                     type="text"
                     maxlength="50"
                     placeholder="GL Number"
                     formControlName="glNumber"/>
            </div>
          </div>
        </div>

        <div class="group">
          <div class="input-container">
            <label for="invoiceNote">Invoice Note</label>
            <div class="input-group">
              <input id="invoiceNote"
                     class="e-input"
                     type="text"
                     maxlength="50"
                     placeholder="Invoice Note"
                     formControlName="invoiceNote"/>
            </div>
          </div>

          <div>
            <div class="input-container calendar">
              <label for="inactiveDate">Inactive Date</label>
              <div class="input-group datepicker">
                <ejs-datepicker
                  id="inactiveDate"
                  class="datepicker"
                  format="MM/dd/yyyy"
                  placeholder="MM/DD/YYYY"
                  [enableMask]="true"
                  [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                  formControlName="inactiveDate"
                >
                </ejs-datepicker>
              </div>
            </div>
          </div>
        </div>

        <div class="bootstrap">
          <ejs-checkbox
            label="Allow deploy w/o credentials"
            (change)="onAllowDeployWOCreadentialsCheck($event)"
          ></ejs-checkbox>
        </div>
      </div>
    </form>
  </app-side-dialog>

<ejs-dialog
  id="addRegionDialog"
  cssClass="add-region-dialog"
  #addRegionDialog
  isModal="true"
  [visible]="false"
  showCloseIcon="true"
  (overlayClick)="hideDialog()"
  width="448px"
  height="282px"
>
  <ng-template #header>
    <section class="header-container">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <h3 class="e-card-title">Add Region</h3>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #content>
    <div class="input-container bootstrap">
      <label for="invoiceNote">Region</label>
      <div class="input-group">
        <input id="addRegion"
               class="e-input"
               type="text"
               minlength="1"
               maxlength="50"
               required
               appValidateWithMessage
               placeholder="New Region"
               [(ngModel)]="newRegionName"/>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <div class="e-card-content">
      <button
        id="cancelDialogButton"
        ejs-button
        cssClass="e-outline"
        (click)="hideDialog()">Cancel</button>
      <button
        id="okDialogButton"
        ejs-button
        [isPrimary]="true"
        (click)="onOkDialogClick()">Save</button>
    </div>
  </ng-template>
</ejs-dialog>

<app-file-upload-dialog></app-file-upload-dialog>
