@import "../../styles/variables/colors";
@import 'mixins';

.flex-column {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    .details {
      display: flex;
      align-items: center;

      ejs-dropdownlist.e-control {
        span.e-input-group {
          height: 40px !important;
        }
      }

      .region-dropdown {
        margin-right: 12px;
        width: 207px;
      }

      .e-input-group.e-control-wrapper input {
        padding-left: 16px;
        padding-bottom: 7px;
        padding-top: 5px;
      }
    }

    .button-filter {
      margin-left: 12px;
      margin-right: 6px;
    }

    .button-import {
      margin-left: 6px;
      margin-right: 12px;
    }

    .button-export {
      margin-right: 12px;
    }
  }

  .grid-component {
    overflow-y: auto;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.form-container {
  padding-top: 24px;

  .input-container {
    margin-bottom: 12px;

    &.blue-text {
      label {
        color: #3E7FFF;
      }
    }

    input {
      height: 40px;
    }

    ejs-dropdownlist.e-control {
      span.e-input-group {
        height: 40px !important;
      }
    }

    ejs-datepicker.e-control {
      span.e-input-group {
        height: 40px !important;
      }
    }
  }

  .group {
    display: flex;

    .input-container {
      padding-right: 12px;
    }
  }

  .large-group {
    display: flex;
    padding-top: 12px;

    .input-container:first-child {
      padding-right: 12px;
    }
  }

  .title {
    padding-top: 17px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 0;
    line-height: 28px;
  }

  .combined-group {
    display: flex;
    .input-container:first-child {
      padding-right: 12px;
    }

    .input-container:last-child {
      width: 187px;
    }
  }
}

.form-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  grid-template-areas: 
  "exteranlArea exteranlArea . irpArea"
  "invoiceArea nameArea businessLineArea ."
  "timeZoneArea timeZoneArea . ."
  "address1Area address1Area address2Area address2Area"
  "stateArea cityArea zipArea .";

  &.no-inid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "exteranlArea exteranlArea . irpArea"
    "nameArea businessLineArea timeZoneArea timeZoneArea"
    "address1Area address1Area address2Area address2Area"
    "stateArea cityArea zipArea .";
  }

  &.prev-form-view {
    grid-template-areas: 
    "exteranlArea exteranlArea . ."
    "invoiceArea nameArea businessLineArea ."
    "locationTypeArea locationTypeArea timeZoneArea timeZoneArea"
    "address1Area address1Area address2Area address2Area"
    "stateArea cityArea zipArea .";
  }
}

.contacts-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  grid-template-areas:
  "personArea personArea emailArea ."
  "phoneArea phoneTypeArea extArea glArea"
  "inactivateArea reactivateArea . ."
}

::ng-deep {
  .input-container {
    @include toggle;
  }
}

.bulk-section {
  background-color: $primary-active-blue-10;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;

  &__rowscount {
    margin-right: 60px;
    margin-left:31px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #fff
  }
  .edit-button,
  .delete-button {
    color:#fff
  }
}
.gridrightpager{
position:absolute;
right:0;
}
.e-pager{
border-radius: 12px !important;
}