<app-form-control-wrapper
  [formGroup]="formGroupInstance"
  [label]="label"
  [id]="id"
  [required]="required"
>
  <div class="input-group multiselect">
    <ejs-multiselect
      #selector
      [allowFiltering]="allowFilter"
      [attr.id]="id"
      [dataSource]="dataSource"
      [fields]="fields"
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [showDropDownIcon]="true"
      [tabindex]="id"
      [selectAllText]="selectAllText"
      [showSelectAll]="showSelectAll"
      (selectedAll)="selectAllEmitter.emit($event)"
      [sortOrder]="sortOrder"
      [showClearButton]="showClearAll"
      [popupWidth]="popupWidth"
      (blur)="onBlur()"
      [filterType]="filterType"
      mode="CheckBox"
    ></ejs-multiselect>
    <app-error-message [control]="getControl()"></app-error-message>
  </div>
</app-form-control-wrapper>
