@import 'colors';
@import 'adaptive-response';

.job-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 16px;

  .job-info-section {
    display: flex;
  }

  i-feather {
    color: $secondary-dark-blue-40;
    margin-right: 5px;
  }

  .title {
    font-weight: 400;
    font-size: 12px;
    color: $secondary-dark-blue-30;
  }

  .value {
    font-weight: 700;
    font-size: 12px;
    overflow-wrap: anywhere;
    color: $black;
  }
}
