@import "../../../../styles/variables/colors";
@import "adaptive-response";

.job-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .job-info-section {
    display: flex;
    margin-right: 25px;
  }

  i-feather {
    color: $secondary-dark-blue-40;
    margin-right: 5px;
  }

  .title {
    font-weight: 400;
    font-size: 12px;
    color: $secondary-dark-blue-30;
  }

  .value {
    font-weight: 700;
    font-size: 12px;
    white-space: nowrap;
    color: $black;
  }
}

@media #{$max-desktop-small} {
  .job-info-container {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media #{$max-mobile} {
  .job-info-container {
    flex-direction: column;
  }
}
