<section class="flex-column">
  <ejs-grid
    class="grid grid-component"
    #grid
    [dataSource]="gridDataSource"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [enableVirtualization]="false"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)"
    [selectionSettings]="selectionSettings"
    (dataBound)="gridDataBound(grid)"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="40"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button appHideBeforeSyncfusionLoad cssClass="e-flat primary-icon-button" (click)="onEditButtonClick(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button [disabled]="!userPermission[userPermissions.CanEditMasterCredentials] && !userPermission[userPermissions.CanEditCredentials]" appHideBeforeSyncfusionLoad cssClass="e-flat secondary-icon-button" (click)="onRemoveButtonClick(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="name" headerText="Types"></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [allowFiltering]="true"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="lastAvailablePage"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{totalDataRecords}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSizePager"
                [totalRecordsCount]="totalDataRecords"
                [enablePagerMessage]="false"
                [currentPage]="currentPagerPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>

<app-side-dialog
  [disableSaveButton]="!userPermission[userPermissions.CanEditMasterCredentials] && !userPermission[userPermissions.CanEditCredentials]"
  (formCancelClicked)="onFormCancelClick()"
  (formSaveClicked)="onFormSaveClick()"
  [header]="dialogHeader +  ' Type'"
  [width]="'436px'"
>
  <form
    class="form-container bootstrap"
    id="addEditRecordForm"
    [formGroup]="credentialTypeFormGroup"
  >
    <div>
      <div class="input-container">
        <label for="credentialTypeName">Type Name<span class="required">*</span></label>
        <div class="input-group">
          <input id="credentialTypeName"
                  class="e-input"
                  type="text"
                  maxlength="50"
                  appValidateWithMessage
                  formControlName="credentialTypeName"/>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>
