@import "colors";
.e-card-header{
  padding-bottom: 20px;
  background-color: #fff;
}
.e-dlg-header-content{
  display: none;
}
.dialog {
  .header-container {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $white;
  }
  .e-gridwithheader{
    border-top: 1px solid #ccc;
    border-radius: 10px;
  }  
}
