@import 'src/app/styles/variables/colors';
@import 'adaptive-response';

.order-type-status-container {
  display: flex;

  .left-section {
    width: 70%;
    padding-right: 20px;
  }

  .right-section {
    width: 30%;
  }

  .job-title-wrapper,
  .order-type-container {
    width: 40%;
  }

  .order-status-container {
    width: 20%;
  }

  .order-type-status-form {
    display: flex;
    column-gap: 12px;
  }

  .input-container,
  .dropdown-container {
    margin-bottom: 15px;
  }

  .order-status-container {
    margin-right: 0;
  }
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.order-form-container {
  display: flex;

  .left-section {
    width: 70%;
    padding-right: 20px;
  }

  .right-section {
    width: 30%;
  }
}

.general-information,
.job-distibution,
.job-description,
.contact-details,
.work-location,
.workflow {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  color: $black;
}

.form-line {
  display: flex;
  align-items: flex-end;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  > *:not(:first-child) {
    box-sizing: border-box;
    padding-left: 16px;
  }
}

.form-line-item-20 {
  width: 20%;
}

.form-line-item-25 {
  width: 25%;
}

.form-line-item-30 {
  width: 30%;
}

.form-line-item-35 {
  width: 35%;
}

.form-line-item-40 {
  width: 40%;
}

.form-line-item-45 {
  width: 45%;
}

.form-line-item-50 {
  width: 50%;
}

.form-line-item-60 {
  width: 60%;
}

.form-line-item-100 {
  width: 100%;
}

.comments {
  padding: 0;

  .e-card-content {
    padding: 0;
    height: 456px;
  }
}

.job-description-checkboxes-container {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 14px;

  ejs-checkbox:not(:first-child) {
    margin-left: 24px;
  }
}

ejs-textbox.e-control {
  .e-textbox {
    height: 220px !important;
    padding-top: 10px;
    padding-right: 31px;
    padding-left: 17px;
  }
}

.contact-header,
.work-location-header {
  display: flex;
  align-items: center;
  .title {
    margin-bottom: 0;
  }

  .add-contact-link {
    padding: 9px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: $primary-active-blue-10;
    &:hover,
    &:focus {
      background-color: $primary-active-blue-70;
      border-color: transparent;
    }

    &.disable {
      color: $primary-active-blue-60;

      &:hover,
      &:focus {
        background-color: $primary-active-blue-90;
      }
    }

    i-feather {
      vertical-align: bottom;
    }
  }
}

.contact-details-title-container,
.project-type-container,
.project-name-container {
  display: flex;
  align-items: flex-end;

  .input-container:first-child {
    width: 100%;
  }
  .edit-button-container {
    margin-left: 16px;
  }
}

.contact-btn {
  display: flex;
  align-items: flex-end;
  column-gap: 14px;
}

.remove-button-container {
  display: flex;
  justify-content: flex-end;
}

.radio-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;

  label {
    margin-bottom: 10px;
  }
}

.e-wrapper {
  label {
    margin-right: 15px;
  }
}

.form-subline {
  display: flex;
  align-items: flex-end;
  column-gap: 15px;

  &__width-50 {
    width: 50%;
  }

  &__width-35 {
    width: calc(35% + 7px);
  }

  &__width-100 {
    width: 100%;
  }
}

.perm-form-30 {
  width: calc(30% + 28px);
}

.perm-form-35 {
  width: calc(32% + 20px);
}

@media #{$max-desktop-small} {
  .order-form-container {
    flex-direction: column;
    padding-right: 16px;

    .left-section {
      width: 100%;
      padding: 0 0 20px 0;
    }

    .right-section {
      padding: 0;
      width: 100%;
    }
  }

  .order-type-status-container {
    padding-right: 16px;

    .left-section {
      width: 100%;
      padding: 0;
    }

    .right-section {
      width: 0;
    }
  }
}

@media #{$max-mobile} {
  .perm-form-30,
  .perm-form-35,
  .form-line-item-20,
  .form-line-item-25,
  .form-line-item-30,
  .form-line-item-35,
  .form-line-item-40,
  .form-line-item-45,
  .form-line-item-50 {
    width: 100%;
  }

  .work-location-item,
  .contact-details-item {
    &:not(:last-child) {
      border-bottom: 1px solid $secondary-dark-blue-45;
      padding-bottom: 20px;
    }
  }

  .contact-btn {
    justify-content: space-between;
    width: 100%;

    .radio-button {
      height: unset;
      flex-direction: row-reverse;
      align-items: flex-end;
      column-gap: 20px;
      margin-bottom: 0;

      ejs-radiobutton {
        margin-bottom: 16px;
      }
    }

    .remove-button-container {
      margin-top: 0;
    }
  }

  .form-line {
    flex-direction: column;
    row-gap: 12px;

    .contact-btn,
    .form-subline,
    .input-container,
    .datepicker-container,
    .job-description-checkboxes-container {
      padding-left: 0;
    }
  }

  .form-subline {
    width: 100%;
    flex-direction: column;
    row-gap: 12px;
    padding-left: 0;
  }

  .job-description-checkboxes-container {
    flex-direction: column;
    align-items: unset;
    row-gap: 10px;
    width: 100%;
    padding: 0;

    ejs-checkbox:not(:first-child) {
      margin-left: 0;
    }
  }

  .order-type-container {
    max-width: 50%;
  }

  .order-status-container {
    flex: 1;
  }

  .order-type-status-container {
    .left-section {
      width: 100%;
      padding: 0;

      .order-type-status-form {
        flex-wrap: wrap !important;

        .order-type-container {
          width: 49%;
        }

        .job-title-wrapper {
          flex-basis: 100%;
        }

        .order-job-title {
          width: 100%;
        }
      }
    }

    .right-section {
      display: none;
    }
  }
}

.input-group.input-readonly {
  .e-input[readonly] {
    background-color: $secondary-dark-blue-50;
    color: $secondary-dark-blue-30;
    border: 1px solid $secondary-dark-blue-40 !important;
  }
}
