<section class="order-type-status-container bootstrap">
  <div class="left-section">
    <form [formGroup]="orderTypeForm" class="order-type-status-form">
      <div class="input-container order-type-container">
        <label>Order Type<span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist
            formControlName="orderType"
            appValidateWithMessage
            [allowFiltering]="true"
            [dataSource]="orderTypesDataSource"
            [fields]="optionFields"
          >
          </ejs-dropdownlist>
        </div>
      </div>

      <!-- Status -->
      <div class="input-container order-status-container">
        <label>Status</label>
        <div class="input-group">
          <input class="e-input" type="text" [value]="orderStatus" [disabled]="true" />
        </div>
      </div>
    </form>
  </div>

  <div class="right-section"></div>
</section>

<section class="order-form-container" *ngIf="settings">
  <div class="left-section">
    <div tabindex="0" class="e-card">
      <div class="e-card-content">
        <div class="general-information">
          <div class="title">General Information</div>
          <div class="general-information-form-container">
            <form [formGroup]="generalInformationForm">
              <div class="form-line">
                <!-- Job Title -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>Job Title<span class="required">*</span></label>
                  <div class="input-group">
                    <input class="e-input" type="text" appValidateWithMessage formControlName="title" maxlength="50" />
                  </div>
                </div>

                <!-- Region -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>Region<span class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      formControlName="regionId"
                      appValidateWithMessage
                      [allowFiltering]="true"
                      [dataSource]="regions$ | async"
                      [fields]="optionFields"
                      (select)="onRegionDropDownChanged($event)"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>

                <!-- Location -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>Location<span class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      formControlName="locationId"
                      appValidateWithMessage
                      [allowFiltering]="true"
                      [dataSource]="locations$ | async"
                      [fields]="optionFields"
                      (select)="onLocationDropDownChanged($event)"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>

                <!-- Department -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>Department<span class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      formControlName="departmentId"
                      appValidateWithMessage
                      [allowFiltering]="true"
                      [dataSource]="departments$ | async"
                      [fields]="departmentFields"
                      (select)="onDepartmentDropDownChanged($event)"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>

                <!-- Skill -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>Skill<span class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      formControlName="skillId"
                      appValidateWithMessage
                      [allowFiltering]="true"
                      [dataSource]="skills$ | async"
                      [fields]="skillFields"
                      (select)="onSkillsDropDownChanged($event)"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="!isPerDiem">
                <div class="form-line">
                  <!-- Hourly rate -->
                  <div *ngIf="!isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Hourly Rate<span class="required">*</span></label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        type="text"
                        formControlName="hourlyRate"
                        appValidateWithMessage
                        maxlength="10"
                        (focus)="priceUtils.setPriceMask(generalInformationForm, 'hourlyRate', $event)"
                        (blur)="priceUtils.setTwoDecimals(generalInformationForm, 'hourlyRate', $event)"
                      />
                    </div>
                  </div>

                  <!-- # Open Positions -->
                  <div class="input-container bootstrap form-line-item-20">
                    <label># Open Positions<span class="required">*</span></label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        type="text"
                        formControlName="openPositions"
                        appValidateWithMessage
                        maxlength="10"
                      />
                    </div>
                  </div>

                  <!-- Min Yrs. Req. -->
                  <div class="input-container bootstrap form-line-item-20">
                    <label>Min Yrs. Req.</label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        type="text"
                        formControlName="minYrsRequired"
                        appValidateWithMessage
                        maxlength="10"
                      />
                    </div>
                  </div>

                  <!-- Joining Bonus -->
                  <div *ngIf="!isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Joining Bonus</label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        formControlName="joiningBonus"
                        maxlength="10"
                        appValidateWithMessage
                        type="text"
                        (focus)="priceUtils.setPriceMask(generalInformationForm, 'joiningBonus', $event)"
                        (blur)="priceUtils.setTwoDecimals(generalInformationForm, 'joiningBonus', $event)"
                      />
                    </div>
                  </div>

                  <!-- Order Placement Fee (%) -->
                  <div *ngIf="isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Order Placement Fee (%)<span class="required">*</span></label>
                    <div class="input-group">
                      <ejs-numerictextbox
                        class="e-input"
                        formControlName="orderPlacementFee"
                        format="###.00'%'"
                        max="100"
                        min="0"
                        appValidateWithMessage
                        [decimals]="2"
                        [showSpinButton]="false"
                        [validateDecimalOnType]="true"
                        [htmlAttributes]="{ maxLength: '6' }"
                      ></ejs-numerictextbox>
                    </div>
                  </div>

                  <!-- Annual Salary Range From -->
                  <div *ngIf="isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Annual Salary Range From<span class="required">*</span></label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        formControlName="annualSalaryRangeFrom"
                        maxlength="10"
                        appValidateWithMessage
                        type="text"
                        (focus)="priceUtils.setPriceMask(generalInformationForm, 'annualSalaryRangeFrom', $event)"
                        (blur)="priceUtils.setTwoDecimals(generalInformationForm, 'annualSalaryRangeFrom', $event)"
                      />
                    </div>
                  </div>

                  <!-- Annual Salary Range To -->
                  <div *ngIf="isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Annual Salary Range To<span class="required">*</span></label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        formControlName="annualSalaryRangeTo"
                        maxlength="10"
                        appValidateWithMessage
                        type="text"
                        (focus)="priceUtils.setPriceMask(generalInformationForm, 'annualSalaryRangeTo', $event)"
                        (blur)="priceUtils.setTwoDecimals(generalInformationForm, 'annualSalaryRangeTo', $event)"
                      />
                    </div>
                  </div>

                  <!-- Comp. Bonus -->
                  <div *ngIf="!isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Comp. Bonus</label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        type="text"
                        formControlName="compBonus"
                        appValidateWithMessage
                        maxlength="10"
                        (focus)="priceUtils.setPriceMask(generalInformationForm, 'compBonus', $event)"
                        (blur)="priceUtils.setTwoDecimals(generalInformationForm, 'compBonus', $event)"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-line">
                  <!-- Duration -->
                  <div *ngIf="!isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Duration<span class="required">*</span></label>
                    <div class="input-group dropdown">
                      <ejs-dropdownlist
                        formControlName="duration"
                        appValidateWithMessage
                        [allowFiltering]="true"
                        [dataSource]="durations"
                        [fields]="optionFields"
                      >
                      </ejs-dropdownlist>
                    </div>
                  </div>

                  <!-- Job Start Date -->
                  <div class="datepicker-container form-line-item-20">
                    <label>Job Start Date<span class="required">*</span></label>
                    <div class="input-group datepicker bootstrap">
                      <ejs-datepicker
                        class="datepicker"
                        format="MM/dd/yyyy"
                        placeholder="MM/DD/YYYY"
                        formControlName="jobStartDate"
                        appValidateWithMessage
                        [enableMask]="true"
                        [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                      >
                      </ejs-datepicker>
                    </div>
                  </div>

                  <!-- Job End Date -->
                  <div *ngIf="!isPermPlacementOrder" class="datepicker-container form-line-item-20">
                    <label>Job End Date<span class="required">*</span></label>
                    <div class="input-group datepicker bootstrap">
                      <ejs-datepicker
                        class="datepicker"
                        format="MM/dd/yyyy"
                        placeholder="MM/DD/YYYY"
                        formControlName="jobEndDate"
                        appValidateWithMessage
                        [enableMask]="true"
                        [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                        [enabled]="isJobEndDateControlEnabled"
                        [min]="generalInformationForm.controls['jobStartDate'].value"
                      >
                      </ejs-datepicker>
                    </div>
                  </div>

                  <!-- Shift Requirements -->
                  <div *ngIf="isPermPlacementOrder" class="input-container bootstrap form-line-item-20">
                    <label>Shift Name<span class="required">*</span></label>
                    <div class="input-group dropdown">
                      <ejs-dropdownlist
                        formControlName="shift"
                        appValidateWithMessage
                        [allowFiltering]="true"
                        [dataSource]="masterShiftNames"
                        [fields]="optionFields"
                      >
                      </ejs-dropdownlist>
                    </div>
                  </div>

                  <!-- Shift Start Time -->
                  <div *ngIf="isPermPlacementOrder" class="input-container calendar form-line-item-20">
                    <label for="startTime"
                      >Shift Start Time<span class="required" *ngIf="isShiftTimeRequired">*</span></label
                    >
                    <div class="input-group datepicker bootstrap">
                      <ejs-timepicker
                        placeholder="HH:MM"
                        formControlName="shiftStartTime"
                        appValidateWithMessage
                        format="HH:mm"
                        [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                        [enableMask]="true"
                        maskPlaceholder="HH:MM"
                      >
                      </ejs-timepicker>
                    </div>
                  </div>

                  <!-- Shift End Time -->
                  <div *ngIf="isPermPlacementOrder" class="input-container calendar form-line-item-20">
                    <label for="startTime"
                      >Shift End Time<span class="required" *ngIf="isShiftTimeRequired">*</span></label
                    >
                    <div class="input-group datepicker bootstrap">
                      <ejs-timepicker
                        placeholder="HH:MM"
                        formControlName="shiftEndTime"
                        appValidateWithMessage
                        format="HH:mm"
                        [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                        [enableMask]="true"
                        maskPlaceholder="HH:MM"
                      >
                      </ejs-timepicker>
                    </div>
                  </div>
                </div>

                <div class="form-line" *ngIf="!isPermPlacementOrder">
                  <!-- Shift Requirements -->
                  <div class="input-container bootstrap form-line-item-20">
                    <label>Shift Name<span class="required">*</span></label>
                    <div class="input-group dropdown">
                      <ejs-dropdownlist
                        formControlName="shift"
                        appValidateWithMessage
                        [allowFiltering]="true"
                        [dataSource]="masterShiftNames"
                        [fields]="optionFields"
                      >
                      </ejs-dropdownlist>
                    </div>
                  </div>

                  <!-- Shift Start Time -->
                  <div class="input-container calendar form-line-item-20">
                    <label for="startTime"
                      >Shift Start Time<span class="required" *ngIf="isShiftTimeRequired">*</span></label
                    >
                    <div class="input-group datepicker bootstrap">
                      <ejs-timepicker
                        placeholder="HH:MM"
                        formControlName="shiftStartTime"
                        appValidateWithMessage
                        format="HH:mm"
                        [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                        [enableMask]="true"
                        maskPlaceholder="HH:MM"
                      >
                      </ejs-timepicker>
                    </div>
                  </div>

                  <!-- Shift End Time -->
                  <div class="input-container calendar form-line-item-20">
                    <label for="startTime"
                      >Shift End Time<span class="required" *ngIf="isShiftTimeRequired">*</span></label
                    >
                    <div class="input-group datepicker bootstrap">
                      <ejs-timepicker
                        placeholder="HH:MM"
                        formControlName="shiftEndTime"
                        appValidateWithMessage
                        format="HH:mm"
                        [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                        [enableMask]="true"
                        maskPlaceholder="HH:MM"
                      >
                      </ejs-timepicker>
                    </div>
                  </div>
                </div>
              </ng-container>
            </form>
          </div>
        </div>
        <!-- Job Distribution -->
        <div class="job-distibution">
          <div class="title">Job Distribution</div>
          <div class="job-distribution-form-container">
            <form [formGroup]="jobDistributionForm">
              <div class="form-line">
                <div class="input-container bootstrap form-line-item-40">
                  <label>Job Distribution<span class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      formControlName="jobDistribution"
                      appValidateWithMessage
                      [allowFiltering]="true"
                      [dataSource]="distribution"
                      [fields]="optionFields"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>
                <div class="input-container bootstrap form-line-item-40">
                  <label> Agency <span *ngIf="agencyControlEnabled" class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-multiselect
                      mode="CheckBox"
                      formControlName="agency"
                      appValidateWithMessage
                      [enabled]="agencyControlEnabled"
                      [dataSource]="associateAgencies$ | async"
                      [fields]="associateAgencyFields"
                      [showSelectAll]="true"
                      [allowFiltering]="true"
                      [showDropDownIcon]="true"
                    >
                    </ejs-multiselect>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="job-description">
          <div class="title">Job Description</div>
          <div class="job-description-form-container">
            <form [formGroup]="jobDescriptionForm">
              <div class="form-line">
                <!-- Classification -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>Classification</label>
                  <div class="input-group dropdown">
                    <ejs-multiselect
                      mode="CheckBox"
                      formControlName="classifications"
                      [dataSource]="jobClassifications"
                      [fields]="optionFields"
                      [allowFiltering]="true"
                      [showSelectAll]="true"
                      [showDropDownIcon]="true"
                    >
                    </ejs-multiselect>
                  </div>
                </div>

                <div class="bootstrap job-description-checkboxes-container">
                  <ejs-checkbox label="On Call Required" formControlName="onCallRequired"></ejs-checkbox>
                  <ejs-checkbox label="ASAP Start" formControlName="asapStart"></ejs-checkbox>
                  <ejs-checkbox label="Critical Order" formControlName="criticalOrder"></ejs-checkbox>
                </div>
              </div>

              <div class="form-line">
                <!-- Job Description -->
                <div class="input-container bootstrap form-line-item-40">
                  <label for="comments">Job Description</label>
                  <div class="input-group">
                    <ejs-textbox
                      class="e-input"
                      type="text"
                      [multiline]="true"
                      appValidateWithMessage
                      maxlength="4000"
                      formControlName="jobDescription"
                    >
                    </ejs-textbox>
                  </div>
                </div>

                <!-- Unit Description -->
                <div class="input-container bootstrap form-line-item-40">
                  <label for="comments">Unit Description</label>
                  <div class="input-group">
                    <ejs-textbox
                      class="e-input"
                      type="text"
                      [multiline]="true"
                      appValidateWithMessage
                      maxlength="500"
                      formControlName="unitDescription"
                    >
                    </ejs-textbox>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <!-- Reason of Requisition -->
                <div class="input-container bootstrap form-line-item-40">
                  <label>Reason for Requisition<span class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      formControlName="orderRequisitionReasonId"
                      appValidateWithMessage
                      (change)="onRequisitionChange($event)"
                      [allowFiltering]="true"
                      [dataSource]="(reasons$ | async)?.items"
                      [fields]="reasonForRequisitionFields"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="contact-details">
          <div class="contact-header">
            <div class="title">Contact Details</div>
            <div
              class="stick-right add-contact-link"
              [class.disable]="contactDetailsFormArray.invalid"
              (click)="addContact()"
            >
              <i-feather name="plus" class="icon"></i-feather>
              Add Contact
            </div>
          </div>
          <div class="contact-details-form-container">
            <form [formGroup]="contactDetailsForm">
              <ng-container formArrayName="contactDetails">
                <div
                  class="form-line"
                  [formGroupName]="i"
                  *ngFor="let contact of contactDetailsFormArray.controls; let i = index"
                >
                  <!-- Title -->
                  <div class="contact-details-title-container form-line-item-25">
                    <div *ngIf="!isEditContactTitle[i]" class="input-container bootstrap">
                      <label>Title<span class="required">*</span></label>
                      <div class="input-group dropdown">
                        <ejs-dropdownlist
                          appValidateWithMessage
                          formControlName="title"
                          [allowFiltering]="true"
                          [dataSource]="contactDetailTitles"
                        >
                        </ejs-dropdownlist>
                      </div>
                    </div>

                    <div *ngIf="isEditContactTitle[i]" class="input-container bootstrap">
                      <label>Title<span class="required">*</span></label>
                      <div class="input-group">
                        <input class="e-input" type="text" appValidateWithMessage formControlName="title" />
                      </div>
                    </div>

                    <div class="input-container edit-button-container">
                      <button
                        ejs-button
                        type="button"
                        cssClass="e-outline"
                        class="icon-button"
                        (click)="editContactTitleHandler(i)"
                      >
                        <i-feather name="edit3" class="icon"></i-feather>
                      </button>
                    </div>
                  </div>

                  <!-- Contact Person -->
                  <div class="input-container bootstrap form-line-item-25">
                    <label>Contact Person<span class="required">*</span></label>
                    <div class="input-group">
                      <input class="e-input" type="text" appValidateWithMessage maxLength="50" formControlName="name" />
                    </div>
                  </div>

                  <!-- Mobile Phone -->
                  <div class="input-container bootstrap form-line-item-25">
                    <label>Mobile Phone</label>
                    <div class="input-group">
                      <ejs-maskedtextbox
                        promptChar="_"
                        mask="000-000-0000"
                        formControlName="mobilePhone"
                        appValidateWithMessage
                        placeholder=" "
                        maxlength="10"
                      >
                      </ejs-maskedtextbox>
                    </div>
                  </div>

                  <!-- Email -->
                  <div class="input-container bootstrap form-line-item-25">
                    <label>Email<span class="required">*</span></label>
                    <div class="input-group">
                      <input class="e-input" type="email" appValidateWithMessage formControlName="email" />
                    </div>
                  </div>

                  <div class="contact-btn">
                    <!--Primary contact-->
                    <div *ngIf="contactDetailsFormArray.controls.length > 1" class="radio-button">
                      <label>Primary</label>
                      <ejs-radiobutton
                        name="primaryContact"
                        [value]="i"
                        [checked]="contact.get('isPrimaryContact')?.value"
                        (change)="selectPrimaryContact($event)"
                      ></ejs-radiobutton>
                    </div>

                    <!-- Remove button -->
                    <div class="input-container remove-button-container">
                      <button
                        *ngIf="contactDetailsFormArray.controls.length > 1"
                        ejs-button
                        type="button"
                        cssClass="e-outline"
                        class="icon-button"
                        (click)="removeContact(i)"
                      >
                        <i-feather name="trash2" class="icon"></i-feather>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </form>
          </div>
        </div>
        <div class="work-location">
          <div class="work-location-header">
            <div class="title">Work Location</div>
            <div
              class="stick-right add-contact-link"
              [class.disable]="workLocationsFormArray.invalid"
              (click)="addWorkLocation()"
            >
              <i-feather name="plus" class="icon"></i-feather>
              Add More
            </div>
          </div>

          <form [formGroup]="workLocationForm">
            <ng-container formArrayName="workLocations">
              <div
                class="form-line"
                [formGroupName]="i"
                *ngFor="let workLocation of workLocationsFormArray.controls; let i = index"
              >
                <!-- Address -->
                <div class="input-container bootstrap form-line-item-40">
                  <label>Address<span class="required">*</span></label>
                  <div class="input-group">
                    <input
                      class="e-input"
                      type="text"
                      appValidateWithMessage
                      maxlength="100"
                      formControlName="address"
                    />
                  </div>
                </div>

                <!-- State -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>State<span class="required">*</span></label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      [allowFiltering]="true"
                      [dataSource]="organizationStatesWithKeyCode$ | async"
                      [fields]="organizationStateWithKeyCodeFields"
                      appValidateWithMessage
                      formControlName="state"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>

                <!-- City -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>City<span class="required">*</span></label>
                  <div class="input-group">
                    <input class="e-input" type="text" appValidateWithMessage maxlength="20" formControlName="city" />
                  </div>
                </div>

                <!-- Zip Code -->
                <div class="input-container bootstrap form-line-item-20">
                  <label>Zip Code<span class="required">*</span></label>
                  <div class="input-group">
                    <input class="e-input" type="text" appValidateWithMessage formControlName="zipCode" maxlength="6" />
                  </div>
                </div>

                <!-- Remove button -->
                <div class="input-container remove-button-container">
                  <button
                    *ngIf="workLocationsFormArray.controls.length > 1"
                    ejs-button
                    type="button"
                    cssClass="e-outline"
                    class="icon-button"
                    (click)="removeWorkLocation(i)"
                  >
                    <i-feather name="trash2" class="icon"></i-feather>
                  </button>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="special-project">
          <div class="title">Special Project</div>
          <form [formGroup]="specialProject">
            <div class="form-line">
              <!-- Special Project Category -->
              <div class="input-container bootstrap form-line-item-30">
                <label
                  >Special Project Category<span class="required" *ngIf="isSpecialProjectFieldsRequired">*</span></label
                >
                <div class="input-group dropdown">
                  <ejs-dropdownlist
                    formControlName="projectTypeId"
                    appValidateWithMessage
                    [allowFiltering]="true"
                    [dataSource]="specialProjectCategories"
                    [fields]="specialProjectCategoriesFields"
                  >
                  </ejs-dropdownlist>
                </div>
              </div>
              <!-- Project Name -->
              <div class="input-container bootstrap form-line-item-30">
                <label>Project Name<span class="required" *ngIf="isSpecialProjectFieldsRequired">*</span></label>
                <div class="input-group dropdown">
                  <ejs-dropdownlist
                    formControlName="projectNameId"
                    appValidateWithMessage
                    [allowFiltering]="true"
                    [dataSource]="projectNames"
                    [fields]="projectNameFields"
                  >
                  </ejs-dropdownlist>
                </div>
              </div>
              <!-- PO# -->
              <div class="input-container bootstrap form-line-item-30">
                <label>PO#<span class="required" *ngIf="isSpecialProjectFieldsRequired">*</span></label>
                <div class="input-group dropdown">
                  <ejs-dropdownlist
                    formControlName="poNumberId"
                    appValidateWithMessage
                    [allowFiltering]="true"
                    [dataSource]="poNumbers"
                    [fields]="poNumberFields"
                  >
                  </ejs-dropdownlist>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <app-document-uploader
      uploaderTitle="Documents"
      [disabled]="!settings[SettingsKeys.AllowDocumentUpload]?.value"
      [documents]="order?.documents"
      (selectDocuments)="onDocumentsSelected($event)"
      (deleteDocument)="onDocumentDeleted($event)"
    >
    </app-document-uploader>
    <div tabindex="0" class="e-card comments">
      <div class="e-card-content">
        <app-comments
          [comments]="comments"
          [commentContainerId]="commentContainerId"
          [useBackground]="false"
          [isCreating]="!orderId"
        ></app-comments>
      </div>
    </div>
  </div>
</section>
