@import 'colors';

.form-container {
  padding-top: 31px;

  .group {
    padding-top: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "region region location location"
    "department department group-field group-field"
    "type type type type";

    .region { grid-area: region; }
    .location { grid-area: location; }
    .department { grid-area: department; }
    .type { grid-area: type; }
    .group-field {
      width: 396px;
      grid-area: group-field;
    }
  }

  .save-mapping-message {
    margin: 20px 0;
    background-color: $sheer-peach;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: $roux;

    .icon {
      margin-top: 2px;
      color: $supportive-orange;
      margin-right: 4px;
    }
  }

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-wrapper {
    display: flex;

    .input-group {
      width: 100%;
      margin-right: 12px;
    }
  }

  .grid {
    padding-top: 16px;
  }
}

.e-hide {
  opacity: 0.7;
  pointer-events: none;
}

.checkbox-container {
  width: 20px;
}
.comment{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
