<app-side-dialog
  (formCancelClicked)="closeMapCredentialDialog()"
  (formSaveClicked)="saveCredentialMapping()"
  [header]="dialogTitle"
  [width]="'1012px'"
>
  <form
    class="form-container"
    id="editRecordForm"
    [formGroup]="mapCredentialsFormGroup"
  >
    <div class="group">
      <div class="input-container dropdown region">
        <label for="region">Region <span class="required">*</span></label>
        <div class="dropdown-wrapper">
          <div class="input-group dropdown bootstrap">
            <ejs-multiselect
              id="region"
              #regionsDropdown
              appValidateWithMessage
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="orgRegions"
              [fields]="fields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [filterType]="filterType"
              (blur)="onDropdownBlur()"
              formControlName="regionIds"
            >
            </ejs-multiselect>
          </div>
          <div class="switch">
            <ejs-switch
              name="allRegions"
              [checked]="allRegions"
              (change)="allRegionsChange($event)"
              label="All"
            ></ejs-switch>
            <label for="allRegions" class="switch-text">All</label>
          </div>
        </div>
      </div>

      <div class="input-container dropdown location">
        <label for="location">Location <span class="required">*</span></label>
        <div class="dropdown-wrapper">
          <div class="input-group dropdown bootstrap">
            <ejs-multiselect
              id="location"
              #locationsDropdown
              appValidateWithMessage
              selectAllText="Select All"
              mode="CheckBox"
              [dataSource]="locations"
              [fields]="fields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [filterType]="filterType"
              (blur)="onDropdownBlur()"
              formControlName="locationIds">
            </ejs-multiselect>
          </div>
          <div class="switch">
            <ejs-switch
              name="allLocations"
              [checked]="allLocations"
              (change)="allLocationsChange($event)"
              label="All"
            ></ejs-switch>
            <label for="allLocations" class="switch-text">All</label>
          </div>
        </div>
      </div>

      <div class="input-container dropdown department">
        <label for="department">Department <span class="required">*</span></label>
        <div class="dropdown-wrapper">
          <div class="input-group dropdown bootstrap">
            <ejs-multiselect
              id="department"
              #departmentsDropdown
              appValidateWithMessage
              selectAllText="Select All"
              mode="CheckBox"
              maximumSelectionLength="50000"
              [dataSource]="departments"
              [fields]="fields"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [filterType]="filterType"
              (blur)="onDropdownBlur()"
              (filtering)="onDepartmentsFiltering($event)"
              [query]="query"
              formControlName="departmentIds">
            </ejs-multiselect>
          </div>
          <div class="switch">
            <ejs-switch
              name="allDepartments"
              [checked]="allDepartments"
              (change)="allDepartmentsChange($event)"
              label="All"
            ></ejs-switch>
            <label for="allDepartments" class="switch-text">All</label>
          </div>
        </div>
        <div *ngIf="departments && departments.length > maxDepartmentsLength">
          Narrow down locations/regions or use input search for departments.
        </div>
      </div>

      <div class="input-container dropdown group-field">
        <label for="group">Group <span class="required">*</span></label>
        <div class="input-group dropdown bootstrap">
          <ejs-multiselect
            id="group"
            #groupsDropdown
            appValidateWithMessage
            selectAllText="Select All"
            mode="CheckBox"
            [dataSource]="groups"
            [fields]="fields"
            [showSelectAll]="true"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [enabled]="!isEdit"
            (open)="disableDropdownItemsIfSelectedAll(DropdownsList.Groups)"
            (change)="onDropdownChange($event, DropdownsList.Groups)"
            (select)="onDropdownSelect($event, DropdownsList.Groups)"
            (blur)="onDropdownBlur()"
            (selectedAll)="onSelectAllGroups($event)"
            formControlName="groupIds">
          </ejs-multiselect>
        </div>
      </div>

      <div class="input-container dropdown type">
        <label for="credentialType">Credential Type/Name <span class="required">*</span></label>
        <div class="input-group dropdown bootstrap">
          <ejs-multiselect
            id="credentialType"
            appValidateWithMessage
            selectAllText="Select All"
            mode="CheckBox"
            [dataSource]="credentialTypeSources"
            [fields]="fields"
            [showSelectAll]="true"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            (open)="disableDropdownItemsIfSelectedAll(DropdownsList.Types)"
            (change)="onDropdownChange($event, DropdownsList.Types)"
            (select)="onDropdownSelect($event, DropdownsList.Types)"
            (blur)="onDropdownBlur()"
            formControlName="credentialType">
          </ejs-multiselect>
        </div>
      </div>
    </div>

    <div class="save-mapping-message" *ngIf="!isEdit">
      <div class="icon"><i-feather name="info" class="icon"></i-feather></div>
      <div>{{editCredentialMessage}}</div>
    </div>

    <section class="grid">
      <div class="e-gridcustomheader">
        <div class="title">
          <h3>Selected Credentials</h3>
        </div>
      </div>

      <ejs-grid
        class="e-gridwithheader"
        #grid
        [dataSource]="gridDataSource"
        [allowPaging]="allowPaging"
        [pageSettings]="pageSettings"
        [height]="gridHeight"
        [rowHeight]="rowHeight"
        [resizeSettings]="resizeSettings"
        [allowSorting]="allowSorting"
        [allowResizing]="allowResizing"
        (dataBound)="gridDataBound(grid)"
      >
        <e-columns>
          <e-column textAlign="Right" width="120">
            <ng-template #template let-data>
              <div class="row-tool-buttons">
                <app-tooltip-container [message]="editCredentialMessage" [showToolTip]="!!data.hasToolTip">
                  <button
                    ejs-button
                    cssClass="e-flat primary-icon-button"
                    [disabled]="!isEdit || !!data.hasToolTip"
                    (click)="editSelectedCredential(data)">
                    <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
                  </button>
                </app-tooltip-container>
                <button ejs-button  cssClass="e-flat secondary-icon-button" (click)="removeSelectedCredential(data)">
                  <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
                </button>
              </div>
            </ng-template>
          </e-column>
          <e-column field="credentialType" headerText="CREDENTIAL TYPE" width=200></e-column>
          <e-column field="description" headerText="CREDENTIAL" width=200></e-column>
          <e-column field="system" headerText="SYSTEM CONFIGURATION" width=144>
            <ng-template #template let-data>
              <span>{{ data.includeInIRP | irpSystemGridText: data.includeInVMS }}</span>
            </ng-template>
          </e-column>
          <e-column field="reqSubmission" headerText="REQ. FOR SUBMISSION" width=190>
            <ng-template #template let-data>
              <div class="checkbox-container bootstrap" (click)="customStopPropagation(data, $event)">
                <ejs-checkbox [checked]="data.reqSubmission" (change)="checkboxStateChanged($event, data, 'reqSubmission')"></ejs-checkbox>
              </div>
            </ng-template>
          </e-column>
          <e-column field="reqOnboard" headerText="REQ. FOR ONBOARD" width=180>
            <ng-template #template let-data>
              <div class="checkbox-container bootstrap" (click)="customStopPropagation(data, $event)">
                <ejs-checkbox [checked]="data.reqOnboard" (change)="checkboxStateChanged($event, data, 'reqOnboard')"></ejs-checkbox>
              </div>
            </ng-template>
          </e-column>
          <e-column field="isActive" headerText="OPTIONAL" width=120>
            <ng-template #template let-data>
              <div class="checkbox-container bootstrap" (click)="customStopPropagation(data, $event)">
                <ejs-checkbox [checked]="data.isActive" (change)="checkboxStateChanged($event, data, 'isActive')"></ejs-checkbox>
              </div>
            </ng-template>
          </e-column>
          <e-column field="inactiveDate" headerText="INACTIVE DATE" type='date' format="MM/dd/yyyy" width=180>
            <ng-template #template let-data>
              <div class="inactive-date">{{data.inactiveDate | date: 'MM/dd/yyyy'}}</div>
            </ng-template>
          </e-column>
          <e-column field="comments" headerText="COMMENT" width=200>
            <ng-template #template let-data>
              <div class="comment">{{ data.comments }}</div>
            </ng-template>
          </e-column>
          <e-column field="irpComment" headerText="IRP COMMENT" width=200>
            <ng-template #template let-data>
              <div class="comment">{{ data.irpComment }}</div>
            </ng-template>
          </e-column>
        </e-columns>
        <ng-template #pagerTemplate let-data>
          <div class="e-pagertemplate">
            <div class="control-section">
              <div class="content-wrapper">
                <section class="left-side-pager-controls">
                  <ejs-dropdownlist
                    id="rowsPerPage"
                    class="dropdown-no-border"
                    [allowFiltering]="true"
                    [dataSource]="rowsPerPageDropDown"
                    [(value)]="activeRowsPerPageDropDown"
                    (change)="onRowsDropDownChanged()"
                  >
                  </ejs-dropdownlist>
                  <ejs-numerictextbox
                    id="goToPage"
                    class="numeric-input-no-border"
                    format="#"
                    [validateDecimalOnType]="validateDecimalOnType"
                    [decimals]="decimals"
                    placeholder="Go to:"
                    min="1" [max]="lastAvailablePage"
                    [showSpinButton]="false"
                    (change)="onGoToClick($event)"
                  >
                  </ejs-numerictextbox>
                  <div class="total-rows">
                    Total Rows: {{totalDataRecords}}
                  </div>
                </section>
                <section class="right-side-pager-controls">
                  <ejs-pager
                    id="gridPager"
                    #gridPager
                    [pageSize]="pageSize"
                    [totalRecordsCount]="totalDataRecords"
                    [enablePagerMessage]="false"
                    [currentPage]="currentPage"
                    (click)="onGoToClick($event)"
                  >
                  </ejs-pager>
                </section>
              </div>
            </div>
          </div>
        </ng-template>
      </ejs-grid>
    </section>
  </form>
</app-side-dialog>

<app-edit-credential-dialog
  [permission]="!userPermission[userPermissions.CanEditCredentials]"
  (closeEditDialog)="hideCredentialDialog()"
  *ngIf="isEditCredentialModalOpen"
  [isIRPAndVMSEnabled]="isIRPAndVmsEnabled"
  [isCredentialIRP]="isCredentialIRP"
></app-edit-credential-dialog>
