@import "colors";
@import 'adaptive-response';

.order-container {
  display: flex;

  .left-section {
    display: flex;
    width: 70%;
    padding-right: 20px;

    .order-type-container {
      width: 70%;
    }

    .order-status-container {
      width: 30%;
    }

    .input-container,
    .dropdown-container {
      margin-bottom: 15px;
      margin-right: 10px;
    }

    .order-status-container {
      margin-right: 0;
    }
  }

  .right-section {
    width: 30%;
  }
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

ejs-textbox.e-control {
  .e-textbox {
    height: 220px !important;
    padding-top: 10px;
    padding-right: 31px;
    padding-left: 17px;
  }
}

.order-form-container {
  display: flex;

  .left-section {
    width: 70%;
    padding-right: 20px;
  }

  .right-section {
    width: 30%;
  }

  .form-wrapper {
    margin-bottom: 24px;

    .title {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 700;
      color: $black;
    }
  }
}

.form-array-section {
  .form-header {
    display: flex;
    justify-content: space-between;

    .add-button {
      padding: 9px 10px;
      border-radius: 8px;
      cursor: pointer;
      color: $primary-active-blue-10;

      &:hover,
      &:focus {
        background-color: $primary-active-blue-70;
        border-color: transparent;
      }

      i-feather {
        vertical-align: bottom;
      }
    }
  }

  .form-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 16px;
    margin: 10px 0;

    div {
      width: 100%;
    }
  }

  .edit-button-container,
  .remove-button-container {
    margin-top: 22px;
    border-color: $primary-active-blue-40 !important;
  }

  .radio-button {
    width: 40px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;

    label {
      margin-bottom: 10px;
    }

    ejs-radiobutton {
      margin-right: 10px;
    }
  }
}

.general-information-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  align-items: end;
  grid-template-areas:
    "item1 item1 item2 item2"
    "item3 item3 item4 item4"
    "item5 item6 item7 item8"
    "item9 item10 item11 .";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.general-information-po-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto 1fr;
  gap: 16px;
  grid-template-areas:
    "item1 item1 item2 item2"
    "item3 item3 item4 item4"
    "item5 item6 item6 item6"
    "item7 item8 item9 .";
}

.item5 {
  grid-area: item5
}

.item6 {
  grid-area: item6
}

.special-project-wrapper {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 16px
}

.job-distribution-wrapper {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 16px;
}

.job-description-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 4fr;
  gap: 16px;
  grid-template-areas:
    "itm1 itm1 itm2 itm2 itm3 itm3 itm3 itm3"
    "itm4 itm4 itm4 itm4 itm5 itm5 itm5 itm5";

  .itm1 {
    grid-area: itm1;
  }

  .itm2 {
    grid-area: itm2;
  }

  .itm3 {
    grid-area: itm3;
    margin-top: 15px;
    display: flex;
  }

  .itm4 {
    grid-area: itm4;
  }

  .itm5 {
    grid-area: itm5;
  }

  .order-box {
    margin-left: 17%;
  }

  .order-box1 {
    margin-left: 39%;
  }

  .order-box2 {
    margin-left: 64%;
  }

  .order-box3 {
    margin-left: 85%;
  }
}

.job-description-po-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 16px;
  grid-template-areas:
    "itm1 itm1 itm2 itm2 itm3 itm4 itm5 itm6 itm7 itm8"
    "itm9 itm9 itm9 itm9 itm9 itm10 itm10 itm10 itm10 itm10";

  .itm1 {
    grid-area: itm1;
  }

  .itm2 {
    grid-area: itm2;
  }

  .itm3 {
    grid-area: itm3;
  }

  .itm4 {
    grid-area: itm4;
  }

  .itm5 {
    grid-area: itm5;
  }

  .itm6 {
    grid-area: itm6;
  }

  .itm7 {
    grid-area: itm7;
  }

  .itm8 {
    grid-area: itm8;
  }

  .itm9 {
    grid-area: itm9;
  }

  .itm10 {
    grid-area: itm10;
  }

  .itm3,
  .itm4,
  .itm5,
  .itm6,
  .itm7,
  .itm8 {
    margin-top: 30px;
  }
}

@media #{$max-desktop-small} {
  .order-form-container {
    flex-direction: column;

    .left-section {
      width: 100%;
      padding: 0 0 20px 0;
    }

    .right-section {
      width: 100%;
    }
  }
}

@media #{$max-tablet} {
  .order-container {
    .left-section {
      width: 100%;
      padding-right: 16px;

      form {
        padding: 0;
      }

      .order-type-container,
      .order-status-container {
        width: 50%;
      }
    }

    .right-section {
      display: none;
    }
  }

  .order-form-container {
    padding-right: 16px;
  }

  .job-description-wrapper {
    gap: 12;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "itm1 itm1 itm2 itm2"
      "itm3 itm3 itm3 itm3"
      "itm4 itm4 itm5 itm5";
  }

  .special-project-wrapper {
    width: 100%;
  }
}

@media #{$max-mobile} {

  .general-information-po-wrapper,
  .general-information-wrapper,
  .job-description-po-wrapper,
  .job-distribution-wrapper,
  .special-project-wrapper,
  .job-description-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-container,
    .checkbox-container {
      margin: 0 !important;
      width: 100%;

      ::ng-deep {
        .multi-date {
          width: 100%;
        }
      }
    }
  }

  .form-array-section {
    display: grid;

    .contactDetailsList {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: start;
      row-gap: 8px;
      grid-template-areas:
        "itm0 itm0 itm0 itm0 itm0 itm1"
        "itm2 itm2 itm2 itm2 itm2 itm2"
        "itm3 itm3 itm3 itm3 itm3 itm3"
        "itm4 itm4 itm4 itm4 itm4 itm4"
        "itm5 auto auto auto auto itm6";

      .itm0 {
        grid-area: itm0;
      }

      .itm1 {
        grid-area: itm1;
      }

      .itm2 {
        grid-area: itm2;
      }

      .itm3 {
        grid-area: itm3;
      }

      .itm4 {
        grid-area: itm4;
      }

      .itm5 {
        grid-area: itm5;
      }

      .itm6 {
        grid-area: itm6;
      }

      .radio-button {
        display: flex;
        width: unset !important;
        height: unset;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: 16px;
        margin: 16px 0 0 -2px;

        ejs-radiobutton {
          margin-bottom: 16px;
        }
      }
    }

    .workLocationList,
    .contactDetailsList {
      &:not(:last-child) {
        border-bottom: 1px solid $secondary-dark-blue-45;
        padding-bottom: 20px;
      }

      .remove-button-container {
        margin-top: 8px;
      }
    }

    .workLocationList {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "itm0 itm0 itm0 itm0 itm0 itm0"
        "itm1 itm1 itm1 itm1 itm1 itm1"
        "itm2 itm2 itm2 itm2 itm2 itm2"
        "itm3 itm3 itm3 itm3 itm3 itm3"
        "auto auto auto auto auto itm4";

      .itm0 {
        grid-area: itm0;
      }

      .itm1 {
        grid-area: itm1;
      }

      .itm2 {
        grid-area: itm2;
      }

      .itm3 {
        grid-area: itm3;
      }

      .itm4 {
        grid-area: itm4;
      }
    }
  }
}