<div [formGroup]="addEditSmsTemplateForm" id="addEditSmsTemplateForm" class="sms-template-form">
    <div class="section-container">
        <div class="left-section">
            <div class="input-container bootstrap top-container">
                <div class="input-group">
                </div>
            </div>
            <div class="rich-text-container">
                <label>Mail Body<span class="required">*</span></label>
                <div>
                    <ejs-richtexteditor #SMSRTE id='smsDefaultRTE' appValidateWithMessage formControlName="mailBody"
                        [toolbarSettings]='tools'>
                    </ejs-richtexteditor>
                </div>
            </div>
        </div>
        <div class="right-section">

            <div class="input-container bootstrap top-container">
                <div class="input-group">
                </div>
            </div>

            <div class="input-container bootstrap">
                <label>Attributes</label>
                <div>
                    <ejs-listview id="smsListbox" [dataSource]='data'>
                    </ejs-listview>
                </div>
            </div>
        </div>
    </div>



</div>