<section class="flex-column">
  <section class="toolbar">
    <section class="toolbar-header">
      <div class="toolbar-header-div">
        {{ title }}
      </div>
    </section>
    <section class="toolbar-message">
      <div class="toolbar-message-div">
        {{ message }}
      </div>
    </section>
    <section class="toolbar-buttons">
      <button ejs-button id="filterButton" (click)="showFilters()" cssClass="e-outline button-filter">
        <div class="filter-button-content">Filters <i-feather name="sliders" class="icon"></i-feather></div>
      </button>
    </section>
  </section>
</section>
<section class="staff-schedule-report-section">
  <app-logi-report
    [paramsData]="paramsData"
    [reportName]="reportName"
    [catelogName]="catelogName"
    [reportType]="reportType"
  ></app-logi-report>
  <router-outlet></router-outlet>
</section>

<app-filter-dialog
  [items]="filteredItems"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
>
  <form [formGroup]="staffScheduleReportForm" class="filter-form-dialog form-container bootstrap">
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Organization Name<span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            formControlName="businessIds"
            [fields]="organizationFields"
            [dataSource]="filterColumns.businessIds.dataSource"
            [allowFiltering]="true"
            placeholder="Business"
          >
          </ejs-dropdownlist>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Region</label>
        <div class="input-group dropdown">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="regionIds"
            appValidateWithMessage
            [placeholder]="allOption"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.regionIds.dataSource"
            [fields]="regionFields"
          >
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Location</label>
        <div class="input-group dropdown">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="locationIds"
            appValidateWithMessage
            [placeholder]="allOption"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.locationIds.dataSource"
            [fields]="locationFields"
          >
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Department</label>
        <div class="input-group dropdown">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="departmentIds"
            appValidateWithMessage
            [placeholder]="allOption"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.departmentIds.dataSource"
            [fields]="departmentFields"
          >
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Skill</label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="skillIds"
              appValidateWithMessage
              placeholder="All"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.skillIds.dataSource"
              [fields]="commonFields"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container bootstrap">
          <label>Scheduled Shifts</label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="shiftIds"
              appValidateWithMessage
              placeholder="All"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.shiftIds.dataSource"
              [fields]="commonFields"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Work Commitment</label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="workCommitmentIds"
              appValidateWithMessage
              placeholder="All"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="filterColumns.workCommitmentIds.dataSource"
              [fields]="commonFields"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container bootstrap">
          <label></label>
          <div class="input-group dropdown">
            <ejs-checkbox formControlName="isLongTerm" label="Is Long Term?"></ejs-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Employee Name</label>
        <div class="input-group dropdown">
          <ejs-autocomplete
            formControlName="employeeName"
            [dataSource]="filterColumns.employeeName.dataSource"
            filterType="StartsWith"
            [fields]="candidateNameFields"
            [autofill]="true"
            [placeholder]="remoteWaterMark"
            sortOrder="Ascending"
            (filtering)="onFiltering($event)"
          ></ejs-autocomplete>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container calendar">
          <label>Start Date<span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker
              id="startDate"
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              appValidateWithMessage
              formControlName="startDate"
            >
            </ejs-datepicker>
          </div>
          <div *ngIf="startDateControl.invalid"
            class="alert alert-danger">
            <div *ngIf="startDateControl.errors?.['required']">
              Start Date is required.
            </div>
          </div>          
        </div>
        <div class="input-container calendar">
          <label>End Date<span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker
              id="endDate"
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              appValidateWithMessage
              formControlName="endDate"
              [min]="staffScheduleReportForm.controls['startDate'].value"
            >
            </ejs-datepicker>
          </div>
          <div *ngIf="endDateControl.invalid"
            class="alert alert-danger">
            <div *ngIf="endDateControl.errors?.['required']">
              End Date is required.
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-filter-dialog>

