@import 'colors';
@import 'mixins';
@import 'adaptive-response';

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
}

.dialog-container {
  padding: 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #060715;
  margin: 0;
}

.button-cancel {
  margin-right: 8px;
}

.input-group {
  margin-top: 5px;

  &.short {
    width: 150px;
  }
}

.row {
  width: 100%;
  display: flex;

  .input-container:nth-child(2) {
    margin-left: 12px;
  }
}

.input-container {
  @include input-form-container;
  padding-top: 5px;

  &.flexed {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  label {
    margin: 0;
  }
}

.bootstrap {
  &.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
  }
}

::ng-deep {
  .input-container {
    &.flexed {
      @include toggle;
    }
  }
}

@media #{$max-mobile} {
  .controls {
    justify-content: center;
    column-gap: 16px;
    padding: 10px 20px;

    .action-btn {
      width: 45%;
    }
  }

  .title {
    font-size: 24px !important;
  }
}