@import "colors";
@import "mixins";

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
}

.dialog-container {
  padding: 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #060715;
  margin: 0;
}

.button-cancel {
  margin-right: 8px;
}

.input-group {
  margin-top: 5px;

  &.short {
    width: 150px;
  }
}

.row {
  width: 100%;
  display: flex;

  .input-container:nth-child(2) {
    margin-left: 12px;
  }
}

.input-container {
  @include input-form-container;
  padding-top: 20px
}

.bootstrap {
  &.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
  }
}

::ng-deep {
  .input-container {
    &.flexed {
      @include toggle;
    }
  }
}

