<ejs-dialog
id="edit-timesheet-dialog"
#sideAddDialog
cssClass="dialog short"
[width]="'480px'"
[visible]="false"
[isModal]="true"
[animationSettings]="{ effect: 'SlideRight' }"
[target]="container"
>
  <ng-template #content>
    <div class="dialog-container">
      <div class="dialog-header">
        <h3 class="title">{{ dialogConfig[formType].title | titlecase }}</h3>
        <ng-container *ngIf="!(isMobile$ | async)" [ngTemplateOutlet]="actionButtons"></ng-container>
      </div>

      <div class="form" *ngIf="form">
        <form [formGroup]="form" autocomplete="off" class="bootstrap grid">
          <ng-container *ngFor="let field of dialogConfig[formType].fields; trackBy:trackByIndex">
            <ng-container [ngSwitch]="field.type">

              <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
                <div class="input-container" [ngClass]="field.widthStyle || ''" *ngIf="field.visible">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      [allowFiltering]="true"
                      [fields]="dropDownFieldsConfig"
                      [filterType]="filterType"
                      [formControlName]="field.field"
                      [dataSource]="field.options"
                      appValidateWithMessage
                    ></ejs-dropdownlist>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Time">
                <div class="input-container" [ngClass]="field.widthStyle || ''" *ngIf="field.visible">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <ejs-timepicker
                      placeholder="HH:MM"
                      [formControlName]="field.field"
                      appValidateWithMessage
                      format="HH:mm"
                      [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                      [enableMask]="true"
                      [step]="15"
                      (change)="updateValidity()"
                      maskPlaceholder="HH:MM">
                    </ejs-timepicker>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.TimeCalendar">
                <div class="input-container" [ngClass]="field.widthStyle || ''" *ngIf="field.visible">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <ejs-datetimepicker
                      [formControlName]="field.field"
                      appValidateWithMessage
                      [step]="15"
                      placeholder="Select Date and Time"
                      [min]="field.field === 'timeIn' ? dateSettings.timeIn.min : dateSettings.timeOut.min"
                      [max]="field.field === 'timeIn' ? dateSettings.timeIn.max : dateSettings.timeOut.max"
                      (change)="updateValidity()"
                    >
                    </ejs-datetimepicker>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Input">
                <div class="input-container" [ngClass]="field.widthStyle || ''" *ngIf="field.visible">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <input
                      class="e-input"
                      [name]="field.field"
                      appValidateWithMessage
                      [formControlName]="field.field"
                    />
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Number">
                <div class="input-container" [ngClass]="field.widthStyle || ''" *ngIf="field.visible">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <ejs-numerictextbox
                      class="numeric-input"
                      appValidateWithMessage
                      min="0"
                      format="0"
                      [formControlName]="field.field"
                      [showSpinButton]="false"
                    >
                    </ejs-numerictextbox>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Date">
                <div class="input-container" [ngClass]="field.widthStyle || ''" *ngIf="field.visible">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <ejs-datepicker
                      class="datepicker"
                      appValidateWithMessage
                      format="MM/dd/yyyy"
                      [min]="dateSettings.timeIn.min"
                      [max]="dateSettings.timeIn.max"
                      [strictMode]="true"
                      [formControlName]="field.field"
                    >
                    </ejs-datepicker>
                  </div>
                </div>

              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Toggle">
                <div
                  *ngIf="form.get('billRateConfigId')?.value !== onCallId && field.visible"
                  class="input-container flexed"
                  [ngClass]="field.widthStyle || ''"
                  >
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <ejs-switch
                    [formControlName]="field.field"
                  ></ejs-switch>
                </div>
              </ng-template>

            </ng-container>
          </ng-container>

        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <section class="footer">
      <ng-container [ngTemplateOutlet]="actionButtons" *ngIf="isMobile$ | async"></ng-container>
    </section>
  </ng-template>
</ejs-dialog>

<ng-template #actionButtons>
  <div class="controls e-card-content">
    <button
      ejs-button
      appHideBeforeSyncfusionLoad
      cssClass="e-outline button-cancel action-btn"
      (click)="cancelChanges()"
    >Cancel</button>
    <button
      ejs-button
      appHideBeforeSyncfusionLoad
      type="submit"
      cssClass="action-btn"
      [isPrimary]="true"
      (click)="saveRecord()"
    >Save</button>
  </div>
</ng-template>
