@import 'colors';
@import 'mixins';

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
}

.dialog-container {
  padding: 24px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #060715;
  margin: 0;
}

.button-cancel {
  margin-right: 8px;
}

.input-group {
  margin-top: 5px;

  &.short {
    width: 150px;
  }
}

.row {
  width: 100%;
  display: flex;

  .input-container:nth-child(2) {
    margin-left: 12px;
  }
}

.input-container {
  width: 100%;
  padding-top: 20px;

  &.long {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &.flexed {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 12px;
  }
}

.bootstrap {
  &.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
  }
}

::ng-deep {
  body.light, body.dark {
    .e-dialog.dialog {
      &.short {
        height: 580px!important;
      }
    }
  }

  .input-container {
    &.flexed {
      @include toggle;
    }
  }
}

