<div class="pt_30" id="baseExport">
  <div class="header">
    <div class="row pb-3 d-flex align-items-center">
      <div class="col">
        <h2>Schedule Management</h2>
      </div>
      <div class="col text-end">
        <img class="" src="/assets/logo-login.svg" alt="Hallmark HCS E2" />
      </div>
    </div>
    <div class="row pt-3 pb-2 border-top border-bottom border-secondary-subtle border-3">
      <div class="col-auto">
        <div class="pe-4">
          <p class="mb-1 text-bold">Hallmark Healthcare</p>
          <p class="text-muted">Organization Name</p>
        </div>
      </div>
      <div class="col-auto">
        <div class="pe-4">
          <p class="mb-1 text-bold">Boston</p>
          <p class="text-muted">Region</p>
        </div>
      </div>
      <div class="col-auto">
        <div class="pe-4">
          <p class="mb-1 text-bold">Beth Israel Clinic</p>
          <p class="text-muted">Location</p>
        </div>
      </div>
      <div class="col-auto">
        <div class="pe-4">
          <p class="mb-1 text-bold">Cardiologist</p>
          <p class="text-muted">Department</p>
        </div>
      </div>
  
      <div class="col-auto">
        <div class="pe-4">
          <p class="mb-1 text-bold">04/01/2023</p>
          <p class="text-muted">Start Date</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="legend pt-3 pb-3">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-6">
        <div class="row">
          <div class="col-auto text-home-dept d-flex align-items-center pe-3">
            <span class="fs-3 pe-2">■</span> Scheduled in Home Cost Center Department
          </div>
          <div class="col-auto text-other-dept d-flex align-items-center pe-3">
            <span class="fs-3 pe-2">■</span> Scheduled in Another Department
          </div>
          <div class="col-auto text-available d-flex align-items-center pe-3">
            <span class="fs-3 pe-2">■</span> Available
          </div>
          <div class="col-auto text-unavailable d-flex align-items-center">
            <span class="fs-3 pe-2">■</span> Unavailable
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row float_right">
          <div class="col-auto text-muted pe-3">
            ORI - Orientation
          </div>
          <div class="col-auto text-muted pe-3">
            CRT - Critical
          </div>
          <div class="col-auto text-muted pe-3">
            OC - On Call
          </div>
          <div class="col-auto text-muted pe-3">
            CRG - Change Nurse
          </div>
          <div class="col-auto text-muted pe-3">
            PRE - Preceptor
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div #scrollArea class="table-container grid-body f-14">
    <table class="w-100">
      <thead>
        <ng-container *ngIf="activePeriod !== monthPeriod; else monthRange">
          <th class="table-title candidates-head-cell fixed fixed--left fixed--top">
            <span>{{ employeesTitle }}</span>
          </th>
  
          <th>Skill</th>
          <th>Hrs Week 1/2</th>
          <th>Work Commitment</th>
          <th
            *ngFor="let dateHead of datesRanges; trackBy: trackByDatesRange"
            class="table-title date left-border fixed fixed--top"
            weeksEnd [date]="dateHead.dateText"
            [weekStartDay]="orgFirstDayOfWeek"
            [selectedPeriod]="activePeriod"
            [noBorder]="dateHead.noBorder"
          >
            <span>{{ dateHead.dateText | date: 'E MM/dd' }}</span>
          </th>
        </ng-container>
        <ng-template #monthRange>
          <th
            *ngFor="let day of monthRangeDays; trackBy: trackByweekDays"
            class="table-title date left-border month-date fixed fixed--top">
            <span>{{day}}</span>
          </th>
        </ng-template>

      </thead>
      <tbody>
        <ng-container *ngIf="activePeriod !== monthPeriod; else monthView">

        <tr *ngFor="let scheduleItem of scheduleData" class="table-row">
          <td>
            <span>{{scheduleItem.lastName}} {{scheduleItem.firstName}}</span>
            <span>ID : {{scheduleItem.employeeId}}</span>
          </td>
          <td>{{scheduleItem.skill}}</td>
          <td>{{scheduleItem.employeeSchedules.workHours}}</td>
          <td>
            <span *ngFor="let schedule_workcommit of scheduleItem.workCommitments">{{schedule_workcommit}}</span>
          </td>
            <ng-container 
              *ngFor="let dateSlot of datesRanges; trackBy: trackByDatesRange">
              <td
                *ngIf="dateSlot.dateText| calendarDateSlotExport: scheduleItem.employeeSchedules.schedules as dateSchedule; else emptyCell"
                
                weeksEnd [date]="dateSlot.dateText"
                [weekStartDay]="orgFirstDayOfWeek"
                [noBorder]="dateSlot.noBorder"
                cdkDropList
                class="cdk-drop-list"
              >
                <div
                  class="table-cell date-slot"
                  canSchedule
                  [dragDate]="dateSchedule.date"
                  [candidateId]="scheduleItem?.employeeId"
                >
                  <ng-container>
                    <app-export-schedule-card
                      [dateSchedule]="dateSchedule"
                      [activePeriod]="activePeriod"
                    ></app-export-schedule-card>
                  </ng-container>

                </div>
              </td>

              <ng-template #emptyCell>
                <td weeksEnd [date]="dateSlot.dateText"
                  [weekStartDay]="orgFirstDayOfWeek"
                  [selectedPeriod]="activePeriod"
                    cdkDropList
                    class="cdk-drop-list"
                  [noBorder]="dateSlot.noBorder">
                  <div
                    class="table-cell date-slot empty-cell"
                    canSchedule
                    [dragDate]="dateSlot.dateText"
                    [candidateId]="scheduleItem?.employeeId"
                  >
                  </div>
                </td>
              </ng-template>
            </ng-container>
          </tr>
        </ng-container>


        <ng-template #monthView>
          <app-export-month-view
            [scheduleData]="scheduleData"
            [datesRange]="datesRanges"
          ></app-export-month-view>
        </ng-template>

      </tbody>
    </table>
  </div> 
</div>
