<div class="header">
  <div class="row pb-3 d-flex align-items-center">
    <div class="col">
      <h1>Schedule Management</h1>
    </div>
    <div class="col text-end">
      <img class="" src="/assets/logo-login.svg" alt="Hallmark HCS E2" />
    </div>
  </div>
  <div class="row pt-3 pb-2 border-top border-bottom border-secondary-subtle border-3">
    <div class="col-auto">
      <div class="pe-4">
        <p class="mb-1 text-bold">Hallmark Healthcare</p>
        <p class="text-muted">Organization Name</p>
      </div>
    </div>
    <div class="col-auto">
      <div class="pe-4">
        <p class="mb-1 text-bold">Boston</p>
        <p class="text-muted">Region</p>
      </div>
    </div>
    <div class="col-auto">
      <div class="pe-4">
        <p class="mb-1 text-bold">Beth Israel Clinic</p>
        <p class="text-muted">Location</p>
      </div>
    </div>
    <div class="col-auto">
      <div class="pe-4">
        <p class="mb-1 text-bold">Cardiologist</p>
        <p class="text-muted">Department</p>
      </div>
    </div>

    <div class="col-auto">
      <div class="pe-4">
        <p class="mb-1 text-bold">04/01/2023</p>
        <p class="text-muted">Start Date</p>
      </div>
    </div>
  </div>
</div>

<div class="legend pt-3 pb-3">
  <div class="row d-flex align-items-center justify-content-between">
    <div class="col-auto">
      <div class="row">
        <div class="col-auto text-home-dept d-flex align-items-center pe-3">
          <span class="fs-3 pe-2">■</span> Scheduled in Home Cost Center Department
        </div>
        <div class="col-auto text-other-dept d-flex align-items-center pe-3">
          <span class="fs-3 pe-2">■</span> Scheduled in Another Department
        </div>
        <div class="col-auto text-available d-flex align-items-center pe-3">
          <span class="fs-3 pe-2">■</span> Available
        </div>
        <div class="col-auto text-unavailable d-flex align-items-center">
          <span class="fs-3 pe-2">■</span> Unavailable
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <div class="col-auto text-muted pe-3">
          ORI - Orientation
        </div>
        <div class="col-auto text-muted pe-3">
          CRT - Critical
        </div>
        <div class="col-auto text-muted pe-3">
          OC - On Call
        </div>
        <div class="col-auto text-muted pe-3">
          CRG - Change Nurse
        </div>
        <div class="col-auto text-muted pe-3">
          PRE - Preceptor
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
  <table>
    <thead></thead>
  </table>
</div>

