@import '../../../../styles/variables/colors';

.container {
  .link {
    color: $primary-active-blue-10;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }
}

.form-container {
  padding-top: 12px;

  .input-container {
    padding-top: 12px;
  }
}

ejs-grid.e-control.e-grid {
  td.e-active {
    .link {
      color: $white !important;
    }
  }
}
