<app-page-toolbar>
  <ng-container left>
    <div class="bootstrap business-dropdowns" [formGroup]="businessForm">
      <div class="dropdown-container">
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            appHideBeforeSyncfusionLoad
            formControlName="businessUnit"
            [allowFiltering]="true"
            [fields]="unitFields"
            [dataSource]="businessUnits"
            placeholder="Business Unit"
          ></ejs-dropdownlist>
        </div>
      </div>
      <div class="dropdown-container">
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            appHideBeforeSyncfusionLoad
            formControlName="business"
            [allowFiltering]="true"
            [fields]="bussinesDataFields"
            [dataSource]="bussinesUserData$ | async"
            placeholder="Business"
          ></ejs-dropdownlist>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container right>
    <ng-container>
      <button
      *ngIf="importAllowed"
        ejs-button
        appHideBeforeSyncfusionLoad
        class="e-outline"
      >
        <div class="button-import-container" (click)="uploadUsersRef.click()">
          Import<i-feather name="download" class="icon"></i-feather>
          <input hidden type="file" accept=".xlsx" #uploadUsersRef
            (change)="uploadUsers($event)"
          />
        </div>
      </button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="importButton"
        cssClass="e-outline button-export">
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
      <app-tooltip-container
        [message]="toolTipMessage"
        [showToolTip]="!userPermission[userPermissions.CanEditUsers]">
        <button ejs-button [isPrimary]="true" [disabled]="!userPermission[userPermissions.CanEditUsers]" (click)="onAddNewUser()">Add User</button>
      </app-tooltip-container>
    </ng-container>
  </ng-container>
</app-page-toolbar>

<section class="last-content-section-padding">
  <app-user-grid [filterForm]="businessForm" [export$]="exportUsers$" (editUserEvent)="onEdit($event)"></app-user-grid>
</section>

<app-side-dialog width="832" [header]="dialogTitle" (formCancelClicked)="onAddCancel()" (formSaveClicked)="onSave()" [disableSaveButton]="agencyActionsAllowed || !userPermission[userPermissions.CanEditUsers] || !isCreateEmp">
  <section>
    <app-add-edit-user [form]="$any(userSettingForm)" (changeBusinessUnitId)="ChangeBusinessUnitID()" [businessUnits]="businessUnits" [user]="createdUser"></app-add-edit-user>
  </section>
</app-side-dialog>
