<section class="grid-component">
  <ejs-grid #grid [dataSource]="(donotreturnpage$ | async)?.items" [allowPaging]="allowPaging"
    [pageSettings]="pageSettings" [height]="fullScreenGridHeight" [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings" [allowSorting]="allowSorting" [allowResizing]="allowResizing"
    [enableVirtualization]="false" (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)" (dataBound)="gridDataBound(grid)" (actionBegin)="actionBegin($event)"
    [selectionSettings]="selectionSettings">


    <e-columns>
      <e-column textAlign="Right" width="120">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="editDonotReturn(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="firstName" headerText="first name" width="250"></e-column>
      <e-column field="middleName" headerText="middle name" width=250>
      </e-column>
      <e-column field="lastName" headerText="last name" width=250>
      </e-column>
      <e-column field="regionBlocked" headerText="Region blocked" width=250>
      </e-column>
      <e-column field="locationBlocked" headerText="Location blocked" width=250>
      </e-column>
      <e-column field="email" headerText="email" width=250>
      </e-column>
      <e-column field="ssn" headerText="ssn" width=250>
        <ng-template #template let-data>
          {{ data.ssn != null && data.ssn != 0 ? "XXX-XX-" + data.ssn.toString().substr(data.ssn.toString().length - 4):"" }}
        </ng-template>
      </e-column>
      <e-column field="currentStatus" headerText="Current Status" width=250>
      </e-column>
      <e-column field="lastUpdatedDate" headerText="Last Updated Date" width=250></e-column>
      <e-column field="lastBlockedDate" headerText="Last Blocked Date" width=250></e-column>
      <e-column field="lastUnBlockedDate" headerText="Last Unblocked Date" width=250>
        <ng-template #template let-data>
          {{ data.lastUnBlockedDate === '01/01/0001' ? '' :  data.lastUnBlockedDate }}
        </ng-template>
      </e-column>
      <e-column field="comment" headerText="Comment" width=250></e-column>

    </e-columns>

    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist id="rowsPerPage" class="dropdown-no-border" [dataSource]="rowsPerPageDropDown"
                [allowFiltering]="true" [(value)]="activeRowsPerPageDropDown" (change)="onRowsDropDownChanged()">
              </ejs-dropdownlist>
              <ejs-numerictextbox id="goToPage" class="numeric-input-no-border" format="#" placeholder="Go to:" min="1"
                [max]="(donotreturnpage$ | async)?.totalPages" [showSpinButton]="false" (change)="onChangePage($event)">
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(donotreturnpage$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager id="gridPager" #gridPager [pageSize]="pageSize"
                [totalRecordsCount]="(donotreturnpage$ | async)?.totalCount" [enablePagerMessage]="false"  (click)="onChangePage($event)"
                [currentPage]="currentPage">
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-side-dialog (formCancelClicked)="onFormCancelClick()" (formSaveClicked)="saveDonotReturn()"
  header="{{ isEdit ? 'Edit' : 'Add' }} Candidate">
  <form [formGroup]="doNotReturnFormGroup" class="donotreturn-form">
    <div class="input-container bootstrap" *ngIf="isEdit">
      <ejs-switch id="switcher" (change)="onSwitcher($event);" formControlName="dnrStatus" [checked]="isBlock"></ejs-switch>
      <label for="switcher" class="switch-text">{{isBlock?'Blocked':'Unblocked'}}</label>
    </div>

    <div class="form-elemet">
      <div class="input-container bootstrap">
          <div class="inline-radio-container">
            <ejs-radiobutton formControlName="isExternal" label="Search Candidate" name="isExternal" value='false' [disabled]="!isEdit ? false : true"></ejs-radiobutton>
            &nbsp;&nbsp;
            <ejs-radiobutton formControlName="isExternal" label="Block New Candidate" name="isExternal"  value='true' [disabled]="!isEdit ? false : true"></ejs-radiobutton>
          </div>
      </div>
    </div>
    
    <div class="input-container bootstrap" [hidden]="allOrganizations.length == 1">
      <label>Organization<span class="required">*</span></label>
      <div class="input-group">
        <ejs-dropdownlist appValidateWithMessage [enabled]="!isEdit" formControlName="businessUnitId" [fields]="optionFields"
          [allowFiltering]="true" [dataSource]="allOrganizations$ | async"
          (select)="onOrganizationDropDownChanged($event)">
        </ejs-dropdownlist>
      </div>
    </div>

    <div class="form-elemet"  [hidden]="this.doNotReturnFormGroup.get('isExternal')?.value == 'true'">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Candidate Name<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-autocomplete formControlName="candidateProfileId" [enabled]="!isEdit" [dataSource]="CandidateNames" filterType='StartsWith'
              [fields]='candidateNameFields' [autofill]='true' [placeholder]='remoteWaterMark' sortOrder='Ascending'
              (filtering)='onFiltering($event)'></ejs-autocomplete>
          </div>
        </div>
      </div>
    </div>

    <div class="form-elemet" [hidden]="this.doNotReturnFormGroup.get('isExternal')?.value == 'false'">
      <div class="group">
        <div class="input-container bootstrap">
          <label>First Name<span class="required">*</span></label>
          <div class="input-group">
            <app-input [formGroupInstance]="doNotReturnFormGroup" maxlength="200" controlName="firstName" id="fName" 
             maxlength="50" [disable]="isBlock ? null : true"></app-input>
          </div>
        </div>
        <div class="input-container">
          <label>Middle Name</label>
          <div class="input-group">
            <app-input [formGroupInstance]="doNotReturnFormGroup" maxlength="200" controlName="middleName" id="mName"  
                 maxlength="10" [disable]="isBlock ? null : true"></app-input>
          </div>
        </div>
        <div class="input-container">
          <label>Last Name<span class="required">*</span></label>
          <div class="input-group">
            <app-input [formGroupInstance]="doNotReturnFormGroup" maxlength="200" controlName="lastName" id="lName" 
               maxlength="50" [disable]="isBlock ? null : true"></app-input> <!--  -->
          </div>
        </div>
      </div>
    </div>

    <div class="input-container">      
      <app-datepicker
          [formGroupInstance]="doNotReturnFormGroup" [max]="today"  id="dob" controlName="dob" label="Date of Birth" 
          [enabled]="this.doNotReturnFormGroup.get('isExternal')?.value == 'true' ? isBlock ? true : false : (isEdit && isBlock) ? true : false"></app-datepicker>
    </div>
    <div class="d-flex">
      <div class="input-container bootstrap f-grow-2">
        <label>SSN</label>
        <div class="input-group">
          <input  appValidateWithMessage formControlName="ssn" class="e-input" type="text" mask='{{maskSSNPattern}}' (focus)="onSSNFocus()" (blur)="onSSNBlur()" 
              [attr.disabled]="this.doNotReturnFormGroup.get('isExternal')?.value == 'true' ? isBlock ? null : true : (isEdit && isBlock) ? null : true" />
        </div>
      </div>
      <div class="input-container"></div>
    </div>
    <div class="input-container">
      <app-input [formGroupInstance]="doNotReturnFormGroup" maxlength="200" controlName="candidateEmail" id="email"  [disable]="true"
                [disable]="this.doNotReturnFormGroup.get('isExternal')?.value == 'true' ? isBlock ? null : true : (isEdit && isBlock) ? null : true" label="Email"></app-input>
    </div>
    
    <div class="form-elemet">
      <div class="group">
        <div class="input-container calendar">
          <label for="regionIds">Region blocked <span class="required">*</span></label>
          <div class="input-group bootstrap">
            <ejs-multiselect #regionIdsControl id="regionIds" mode="CheckBox" formControlName="regionIds"
              placeholder="All" [fields]="optionFields" [allowFiltering]="true" [showDropDownIcon]="true"
              appValidateWithMessage [dataSource]="regions$ | async" [selectAllText]='allOption'
              [showSelectAll]="true" tabindex="2">
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container">
          <label for="locationIds">Location blocked <span class="required">*</span></label>
          <div class="input-group bootstrap">
            <ejs-multiselect id="locationIds" mode="CheckBox" formControlName="locationIds" placeholder="All"  [enabled]="!requestAPIData"
              [fields]="optionFields" [allowFiltering]="true" [showDropDownIcon]="true" appValidateWithMessage
              [dataSource]="locations$ | async" [selectAllText]='allOption' [showSelectAll]="true" tabindex="3">
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>


    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Comment</label>
        <div class="input-group">
          <ejs-textbox class="e-input" type="text" maxlength="280" appValidateWithMessage name="dnrComment"
          formControlName="dnrComment" [multiline]="true"></ejs-textbox>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>

<app-export-dialog *ngIf="isActive" [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()"
  (export)="export($event)"></app-export-dialog>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()"
  (export)="export($event)"></app-export-dialog>

<app-filter-dialog [items]="filteredItems" (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()">
  <form class="donotreturn-form" [formGroup]="doNotReturnFilterForm">
    <div class="input-container bootstrap" [hidden]="true">
      <label>Organization<span class="required">*</span></label>
      <div class="input-group">
        <ejs-dropdownlist appValidateWithMessage [enabled]="!isEdit" formControlName="businessUnitId" [fields]="optionFields"
          [allowFiltering]="true" [dataSource]="allOrganizations$ | async"
          (select)="onOrganizationDropDownChanged($event)">
        </ejs-dropdownlist>
      </div>
    </div>
   
    <div class="input-container bootstrap">
      <ejs-switch id="filterswitcher" (change)="onFilterSwitcher($event);" [checked]="isFilterBlock"></ejs-switch>
      <label for="filterswitcher" class="switch-text"> {{isFilterBlock ? "Blocked" : "Unblocked"}}</label>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>First Name</label>
          <div class="input-group">
            <app-input [formGroupInstance]="doNotReturnFilterForm" maxlength="200" controlName="firstName" id="fName" 
             maxlength="50"></app-input>
          </div>
        </div>
        <div class="input-container">
          <label>Middle Name</label>
          <div class="input-group">
            <app-input [formGroupInstance]="doNotReturnFilterForm" maxlength="200" controlName="middleName" id="mName"  
                 maxlength="10"></app-input>
          </div>
        </div>
        <div class="input-container">
          <label>Last Name</label>
          <div class="input-group">
            <app-input [formGroupInstance]="doNotReturnFilterForm" maxlength="200" controlName="lastName" id="lName" 
               maxlength="50"></app-input> <!-- [disable]="(isEdit) ? null : true" -->
          </div>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container calendar">
          <label for="regionIds">Region blocked</label>
          <div class="input-group bootstrap">
            <ejs-multiselect #regionIdsControl id="regionIds" mode="CheckBox" formControlName="regionBlocked"
              placeholder="All" [fields]="optionFields" [allowFiltering]="true" [showDropDownIcon]="true"
              appValidateWithMessage [dataSource]="regions$ | async" [selectAllText]='allOption'
              [showSelectAll]="true" tabindex="2">
            </ejs-multiselect>
          </div>
        </div>
        <div class="input-container">
          <label for="locationIds">Location blocked</label>
          <div class="input-group bootstrap">
            <ejs-multiselect id="locationIds" mode="CheckBox" formControlName="locationBlocked" placeholder="All" [enabled]="!requestAPIData"
              [fields]="optionFields" [allowFiltering]="true" [showDropDownIcon]="true" appValidateWithMessage
              [dataSource]="locations$ | async" [selectAllText]='allOption' [showSelectAll]="true" tabindex="3">
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>
    <div class="input-container">
      <app-input [formGroupInstance]="doNotReturnFilterForm" maxlength="200" controlName="email" id="email" label="Email"></app-input>
    </div>
    <div class="d-flex">
      <div class="input-container bootstrap f-grow-2">
        <label>SSN</label>
        <div class="input-group">
          <input appValidateWithMessage formControlName="ssn" class="e-input" type="text" mask='{{filterSSNPattern}}'  (focus)="onFilterSSNFocus()" (blur)="onFilterSSNBlur()" />
        </div>
      </div>
      <div class="input-container"></div>
    </div>
  </form>
</app-filter-dialog>
