<app-bill-rates-grid
  [billRatesData]="billRatesControl.value"
  [billRateOptions]="billRatesOptions"
  [readOnlyMode]="readOnlyMode"
  [disabledActionMode]="!userPermission[userPermissions.CanEditOrderBillRate] && !userPermission[userPermissions.CanUpdateBillRates]"
  (add)="addBillRate()"
  (edit)="editBillRate($event)"
  (remove)="removeBillRate($event)">
</app-bill-rates-grid>

<app-side-dialog
  *ngIf="isActive"
  [header]="billRateFormHeader"
  [width]="'436px'"
  (formCancelClicked)="cancelChanges()"
  (formSaveClicked)="saveChanges()">
  <app-bill-rate-form
  [billRateForm]="billRateForm"
  [selectedBillRateUnit]="selectedBillRateUnit"
  [billRatesData]="billRatesControl.value"
  ></app-bill-rate-form>
</app-side-dialog>
