<app-bill-rates-grid
  [billRatesData]="billRatesControl.value"
  [billRateOptions]="billRatesOptions"
  [readOnlyMode]="readOnlyMode"
  [disabledActionMode]="!userPermission[userPermissions.CanEditOrderBillRate]"
  (add)="onAddBillRate()"
  (edit)="onEditBillRate($event)"
  (remove)="onRemoveBillRate($event)">
</app-bill-rates-grid>

<app-side-dialog
  *ngIf="isActive"
  [header]="billRateFormHeader"
  [width]="'436px'"
  (formCancelClicked)="onDialogCancel()"
  (formSaveClicked)="onDialogOk()">
  <app-bill-rate-form
  [billRateForm]="billRateForm"
  [selectedBillRateUnit]="selectedBillRateUnit"
  [billRatesData]="billRatesControl.value"
  ></app-bill-rate-form>
</app-side-dialog>
