@import "adaptive-response";

.app-fillrates-report {
  &__filters-form {
    display: flex;
    flex-direction: column;
    row-gap: var(--form-control-gap-y);
  }

  &__row-controls {
    display: flex;
    flex-wrap: wrap;

    @media #{$min-tablet} {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .input-container {
      width: 100%;

      &:nth-child(n+2) {
        margin-left: 0;

        @media #{$min-tablet} {
          margin-left: var(--form-control-gap-x);
        }

      }
    }
  }

  &__row-control {
    flex: 1;
  }
}

.input-container {
  label {
    display: block;
    margin-bottom: 5px;
  }
}

