<ejs-dialog
  #destroyableDialog
  isModal="true"
  showCloseIcon="true"
  width="450px"
  height="300px"
  cssClass="confirm-dialog"
  [animationSettings]="animationSettings"
  (close)="close()"
>
  <ng-template #header>
    <section class="header-container">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <h3 class="e-card-title">{{ warningTitle }}</h3>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #content>
    <section>
      <p>Would you like to override comments</p>

      <div class="checkbox-wrapper bootstrap">
        <ejs-checkbox
          label="Credential Mapping"
          [(checked)]="credentialMappring"
        ></ejs-checkbox>

        <ejs-checkbox
          label="All Open and In Progress Orders"
          [(checked)]="openInProgressOrders"
        ></ejs-checkbox>
    </div>
    </section>
  </ng-template>

  <ng-template #footerTemplate>
    <div class="e-card-content">
      <div>
        <button ejs-button cssClass="e-outline" (click)="cancel()">Cancel</button>
        <button ejs-button cssClass="e-primary" [isPrimary]="true" (click)="confirmOverriding()">Yes</button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
