<div
  [class.highlight]="allowBulkSelection && selectedTableRowsAmount"
  [ngClass]="isDarkTheme ? 'app-grid-pagination app-grid-dark-pagination' : 'app-grid-pagination'"
>
  <div class="app-grid-pagination__controls">
    <section
    *ngIf="!allowBulkSelection || !selectedTableRowsAmount; else bulkApproveTemplate"
    class="app-grid-pagination__left-side-controls">
      <app-dropdown
        [dataSource]="customRowsPerPageDropDownObject || gridConfig.rowsPerPageDropDownObject"
        [fields]="perPageFieldsSettings"
        [formGroupInstance]="paginationFormGroup"
        [allowFiltering]="!(isMobile || isTablet)"
        (openDropdown)="openDropdownPopup($event)"
        class="app-grid-pagination__rows-options"
        controlName="pageSize"
      ></app-dropdown>
      <app-numeric-textbox
        (changeValueEmitter)="navigateToPageEmitter.emit($event)"
        [formGroupInstance]="paginationFormGroup"
        [max]="10 || 1"
        [min]="1"
        format="#"
        controlName="navigateTo"
        class="app-grid-pagination__navigate-to-control"
        placeholder="Go to:"
      ></app-numeric-textbox>
      <div class="total-rows">Total Rows: {{ totalRecordsCount }}</div>
    </section>
    <ng-template #bulkApproveTemplate>
      <section class="bulk-section">
        <h3 class="bulk-section__amount">{{ selectedTableRowsAmount }} Rows Selected</h3>

        <app-tooltip-container [showToolTip]="disableBulkButton" *ngIf="bulkActionConfig.approve">
          <button
            [disabled]="disableBulkButton"
            (click)="bulkEventEmitter.emit(bulkTypeAction.APPROVE)"
            class="approve-button"
            ejs-button
            cssClass="e-primary"
          >
            Approve
          </button>
        </app-tooltip-container>

        <app-tooltip-container [showToolTip]="disableBulkButton" *ngIf="bulkActionConfig.edit">
          <button
            [disabled]="disableBulkButton"
            (click)="bulkEventEmitter.emit(bulkTypeAction.EDIT)"
            class="approve-button"
            ejs-button
            cssClass="e-primary"
          >
            Edit
          </button>
        </app-tooltip-container>

        <app-tooltip-container [showToolTip]="disableBulkButton" *ngIf="bulkActionConfig.delete">
          <button
            [disabled]="disableBulkButton"
            (click)="bulkEventEmitter.emit(bulkTypeAction.DELETE)"
            class="approve-button"
            ejs-button
            cssClass="e-primary"
          >
            Delete
          </button>
        </app-tooltip-container>

        <!--TODO: (style="display: none") temporary solution to hide the export button EIN-5900-->
        <button
          style="display: none"
          (click)="bulkEventEmitter.emit(bulkTypeAction.EXPORT)"
          ejs-button
          cssClass="e-primary button-export button--no-wrap"
        >
          Export <i-feather name="upload" class="icon"></i-feather>
        </button>
      </section>
    </ng-template>
    <section class="right-side-pager-controls">
      <ejs-pager
        #pagerComponent
        (click)="handlePagerClickEvent($event)"
        [currentPage]="currentPage"
        [enablePagerMessage]="false"
        [pageSize]="paginationFormGroup.getRawValue().pageSize"
        [totalRecordsCount]="totalRecordsCount"
        class="app-grid-pagination__pager"
      ></ejs-pager>
    </section>
  </div>
</div>
