<div
  [class.highlight]="allowBulkSelection && selectedTableRowsAmount"
  [ngClass]="isDarkTheme ? 'app-grid-pagination app-grid-dark-pagination' : 'app-grid-pagination'"
>
  <div class="app-grid-pagination__controls">
    <section
    *ngIf="!allowBulkSelection || !selectedTableRowsAmount; else bulkApproveTemplate"
    class="app-grid-pagination__left-side-controls">
      <app-dropdown
        [dataSource]="gridConfig.rowsPerPageDropDownObject"
        [fields]="perPageFieldsSettings"
        [formGroupInstance]="paginationFormGroup"
        class="app-grid-pagination__rows-options"
        controlName="pageSize"
      ></app-dropdown>
      <app-numeric-textbox
        (changeValueEmitter)="navigateToPageEmitter.emit($event)"
        [formGroupInstance]="paginationFormGroup"
        [max]="pagerComponent.totalPages || 1"
        [min]="1"
        format="#"
        controlName="navigateTo"
        class="app-grid-pagination__navigate-to-control"
        placeholder="Go to:"
      ></app-numeric-textbox>
    </section>
    <ng-template #bulkApproveTemplate>
      <section class="bulk-section">
        <h3 class="bulk-section__amount">
          {{ selectedTableRowsAmount }} Rows Selected
        </h3>

        <button
          *ngIf="allowBulkButton"
          (click)="approveEmitter.emit()"
          class="approve-button"
          ejs-button
          cssClass="e-primary">
          Approve
        </button>
        <button
          (click)="exportEmitter.emit()"
          ejs-button
          cssClass="e-primary button-export button--no-wrap">
          Export <i-feather name="download" class="icon"></i-feather>
        </button>
      </section>
    </ng-template>
    <section class="right-side-pager-controls">
      <ejs-pager
        #pagerComponent
        (click)="handlePagerClickEvent($event)"
        [currentPage]="currentPage"
        [enablePagerMessage]="false"
        [pageSize]="paginationFormGroup.value.pageSize"
        [totalRecordsCount]="totalRecordsCount"
        class="app-grid-pagination__pager"
      ></ejs-pager>
    </section>
  </div>
</div>
