@import 'colors';
@import 'adaptive-response';

.app-grid-pagination {
  background-color: #fff;
  border: 1px solid var(--grid-row-border);
  padding: 5px 0 5px 16px;
  border-bottom-left-radius: var(--grid-border-radius);
  border-bottom-right-radius: var(--grid-border-radius);

  &.highlight {
    background: #3e7fff;

    .app-grid-pagination__pager.e-pager {
      border-color: transparent;
      background: transparent;

      &::ng-deep {
        .e-pagercontainer {
          border-color: transparent;
          background: transparent;
        }

        .e-numericitem {
          border-color: #fff;
          background: transparent;
          color: #fff;

          &.e-currentitem {
            background: #fff;
            color: #3e7fff;
          }
        }

        .e-nextpage,
        .e-prevpage {
          background: transparent;

          &::before {
            color: #fff;
          }
        }
      }
    }
  }

  &__rows-options,
  &__navigate-to-control {
    max-width: 140px;

    ::ng-deep {
      .e-control-wrapper {
        border-color: transparent !important;
      }

      .e-input-group.e-numeric.e-control-wrapper.e-input-focus,
      .e-control-wrapper.e-input-group:active {
        border-width: 1px !important;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;

    @media #{$max-mobile} {
      flex-direction: column-reverse !important;
      padding-right: 16px;
    }
  }

  & .bulk-section {
    display: flex;
    align-items: center;
    column-gap: 10px;

    &__amount {
      margin-right: 60px;
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.015em;
      color: #fff;
    }

    & .approve-button {
      margin-right: 16px;
      color: $white;

      &:disabled {
        color: $white;
      }
    }

    .edit-button,
    .delete-button {
      display: flex;
      align-items: center;
      column-gap: 4px;

      .icon {
        margin: 0;
      }
    }
  }

  &__left-side-controls {
    display: flex;
    align-items: center;
    column-gap: 15px;

    @media #{$max-mobile} {
      column-gap: 5px;
    }

    .total-rows {
      color: $secondary-dark-blue-15;
      font-size: 14px;
      min-width: 58px;
    }
  }

  &__pager.e-pager {
    border-width: 0;
    border-bottom-right-radius: var(--grid-border-radius);
  }
}

.app-grid-dark-pagination {
  background-color: $sidebar-background;
}

@media (max-width: 769px) {
  ::ng-deep {
    .e-pager .e-prevpagedisabled,
    .e-pager .e-prevpage,
    .e-pager .e-nextpage,
    .e-pager .e-nextpagedisabled,
    .e-pager .e-lastpagedisabled,
    .e-pager .e-lastpage,
    .e-pager .e-firstpage,
    .e-pager .e-firstpagedisabled {
      display: none !important;
    }
  }
}
