<form [formGroup]="paymentDetailsForm">
  <div class="form-container bootstrap">
      <div class="column">
          <div class="input-container">
            <label for="payee">Payee<span class="required">*</span></label>
            <div class="input-group">
              <input id="payee" class="e-input" type="text" appValidateWithMessage formControlName="payee" maxlength="50" />
            </div>
        </div>
    </div>
  </div>
  <div class="form-container bootstrap">
    <div class="column">
      <div class="input-container">
        <label for="bankAddress1">Address<span class="required">*</span></label>
        <div class="input-group">
          <input
            id="bankAddress1"
            class="e-input"
            type="text"
            appValidateWithMessage
            formControlName="bankAddress1"
            maxlength="500"
          />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="d-flex">
        <div class="input-container city">
          <label for="bankCity">City</label>
          <div class="input-group">
            <input id="bankCity" class="e-input" type="text" appValidateWithMessage formControlName="bankCity" maxlength="20" />
          </div>
        </div>
        <div class="input-container">
          <label for="bankZipCode">Zipcode</label>
          <div class="input-group">
            <ejs-maskedtextbox
              class="e-input"
              promptChar="_"
              mask="00000"
              appValidateWithMessage
              formControlName="bankZipCode"
              placeholder=" "
              maxlength="6"
            ></ejs-maskedtextbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-container bootstrap">
    <div class="column">
      <div class="input-container calendar">
        <label for="startDate">Start Date <span class="required">*</span></label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="startDate"
            class="datepicker"
            format="{{formatInput}}"
            appValidateWithMessage
            placeholder="{{placeholderInput}}"
            formControlName="startDate"
            [enableMask]="true"
            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
          >
          </ejs-datepicker>
          <span class="error" *ngIf="!startDateControl?.untouched">{{ startDateControl?.errors | validationError }}</span>
        </div>
      </div>
    </div>
  </div>
</form>

