@import 'adaptive-response';

.form-container {
  display: flex;
  gap: 10px;

  .column {
    width: 50%;

    .input-container,
    .dropdown-container {
      margin-bottom: 12px;

      .input-group {
        margin-top: 5px;
      }
    }

    .d-flex {
      display: flex;
      gap: 10px;

      .city {
        width: 65%;
      }
    }
  }
}

@media #{$max-mobile} {
  .form-container {
    flex-direction: column;
    gap: 0;

    .column {
      width: 100%;

      .d-flex {
        flex-direction: column;
        gap: 0;

        .city {
          width: 100%;
        }
      }
    }
  }
}
