<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme">
  <ng-template #header>
    <div class="app-accumulation-chart__title">
      <h3 class="widget-header__title">Expired Credentials</h3>
    </div>
    <div class="app-widget-wrapper__tooltip" *ngIf="description.length > 0">
      <ejs-tooltip [content]="description" position='TopCenter'>
        <span class="mytooltip">
          🔴
        </span>
      </ejs-tooltip>
    </div>

</ng-template>
<ng-template #already_expired_credentials>
  <div class="widget" *ngFor="let data of expirydata">
    <span class="widget__type">
      <p class="orgname" (click)="redirect_to_candidate(data.name)">{{data.name}}</p><p class="orgcount">{{data.value}} / {{data.total}}</p>
    </span>
    <ejs-progressbar #{{data.name}} id={{data.name}} [type]='type' [maximum]='data.total' [minimum]='min' [value]=data.value
      [width]='width' [trackThickness]='trackThickness' [progressColor]=data.progressColor [progressThickness]='progressThickness' cornerRadius='Round'
      [height]='height'  [animation]='animation'
       (load)='load($event)'>
    </ejs-progressbar>
  </div>
</ng-template>
</app-widget-wrapper>
