<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme">
  <ng-template #header>
    <div class="app-accumulation-chart__title">
      <h3 class="widget-header__title">Already Expired Credentials</h3>
    </div>
    <div class="app-widget-wrapper__tooltip" *ngIf="description.length > 0">
      <ejs-tooltip [content]="description" position='TopCenter'>
        <span class="mytooltip">
          <i-feather name="info" id="info"
                     [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
        </span>
      </ejs-tooltip>
    </div>
  
</ng-template>
<ng-template #already_expired_credentials>
  <div class="widget">
    <span class="widget__type">
      <p class="orgname">No. of Employees with Expired License</p><p class="orgcount">87</p>
    </span>
    <ejs-progressbar #linear1 id='linear1' [type]='type' [maximum]='max' [minimum]='min' [value]='value1'
      [width]='width' [trackThickness]='trackThickness' [progressColor]="progressColor1" [progressThickness]='progressThickness'
      [height]='height' [cornerRadius]='cornerRadius2'  [animation]='animation'
       (load)='load($event)'>
    </ejs-progressbar>  
    <span class="widget__type">
      <p class="orgname">No. of Employees with Expired Certificate</p><p class="orgcount">48</p>
    </span>
    <ejs-progressbar #linear2 id='linear2' [type]='type' [maximum]='max' [minimum]='min' [value]='value2'
      [width]='width' [trackThickness]='trackThickness' [progressColor]="progressColor2" [progressThickness]='progressThickness'
      [height]='height'  [animation]='animation'
       (load)='load($event)'>
    </ejs-progressbar> 
    <span class="widget__type">
      <p class="orgname">No. of Employees with Expired Checklist</p><p class="orgcount">59</p>
    </span>
    <ejs-progressbar #linear3 id='linear3' [type]='type' [maximum]='max' [minimum]='min' [value]='value3'
      [width]='width' [trackThickness]='trackThickness' [progressColor]="progressColor3" [progressThickness]='progressThickness'
      [height]='height'  [animation]='animation'
       (load)='load($event)'>
    </ejs-progressbar> 
  </div>
</ng-template>
</app-widget-wrapper>