<ejs-tab
  id="tab-default"
  heightAdjustMode="Auto"
  overflowMode="Scrollable"
  cssClass="tabs"
  [width]="tabsWidth$ | async"
  #tabNavigation
  (selecting)="onSelect($event)"
  (created)="onTabCreated()"
>
  <div class="e-tab-header">
    <div>{{ tabTitle.AllOrders }}</div>
    <div>{{ tabTitle.PerDiem }}</div>
    <div>{{ tabTitle.PermPlacement }}</div>
    <div>{{ tabTitle.ReOrders }}</div>
    <div>
      {{ tabTitle.Incomplete }}
      <span *ngIf="incompleteCount" class="tab-navigation e-badge e-badge-success e-badge-pill">
        {{ incompleteCount }}
      </span>
    </div>
    <div *ngIf="!hideTemplatesTab">{{ tabTitle.OrderTemplates }}</div>
  </div>
  <div class="e-content"></div>
</ejs-tab>
