<section class="container">
  <section class="header-container">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <h3 class="e-card-title">Sanders, Paul 2</h3>
      </div>
      <div class="e-card-content">
        <button ejs-button cssClass="e-outline">Reject</button>
        <button ejs-button [isPrimary]="true" class="apply-button">Onboarded</button>
        <button ejs-button cssClass="e-flat close-button" (click)="onClose()">
          <i-feather name="x" class="icon"></i-feather>
        </button>
      </div>
    </div>
  </section>
  <section class="content-container">
    <div class="candidate-info">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded="true">
            <ng-template #header>
              <div>Job Details</div>
            </ng-template>
            <ng-template #content>
              <form>
                <div class="form-container">
                  <div class="left-column">
                    <div class="input-container bootstrap">
                      <label class="input-group">Job ID</label>
                      <div>
                        <input appValidateWithMessage formControlName="jobId" class="e-input" type="text" placeholder="Job ID" />
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Job Date</label>
                      <div>
                        <ejs-daterangepicker formControlName="date" placeholder="DD/MM/YYYY - DD/MM/YYYY"></ejs-daterangepicker>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Candidates</label>
                      <div>
                        <input appValidateWithMessage formControlName="candidates" class="e-input" type="text" placeholder="Candidates" />
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Guaranteed Work Week</label>
                      <div>
                        <input appValidateWithMessage formControlName="workWeek" class="e-input" type="text" placeholder="Guaranteed Work Week" />
                      </div>
                    </div>
                  </div>
                  <div class="right-column">
                    <div class="input-container bootstrap">
                      <label class="input-group">Bill Rate</label>
                      <div>
                        <input appValidateWithMessage formControlName="billRate" class="e-input" type="text" placeholder="Input text" />
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Location</label>
                      <div>
                        <input appValidateWithMessage formControlName="location" class="e-input" type="text" placeholder="Location" />
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Candidate Bill Rate</label>
                      <div>
                        <input appValidateWithMessage formControlName="candidateBillRate" class="e-input" type="text" placeholder="Input text" />
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Clock ID </label>
                      <div>
                        <input appValidateWithMessage formControlName="clockId" class="e-input" type="text" placeholder="Clock ID" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-container bootstrap">
                  <label class="input-group">Available Start Date</label>
                  <div>
                    <input appValidateWithMessage formControlName="avStartDate" class="e-input" type="text" placeholder="Input text" />
                  </div>
                </div>
                <div class="form-container row">
                  <div class="input-container bootstrap">
                    <label class="input-group">Years of experience</label>
                    <div>
                      <input appValidateWithMessage formControlName="yearExp" class="e-input" type="text" placeholder="0" />
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Exp. as Travelers</label>
                    <div>
                      <input appValidateWithMessage formControlName="travelExp" class="e-input" type="text" placeholder="0" />
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Offered Bill Rate</label>
                    <div>
                      <input appValidateWithMessage formControlName="offeredBillRate" class="e-input" type="text" placeholder="$ 0.00" />
                    </div>
                  </div>
                </div>
                <div class="input-container bootstrap">
                  <div>
                    <ejs-checkbox label="Allow deploy w/o credentials"></ejs-checkbox>
                  </div>
                </div>
                <div class="form-container date-container">
                  <div class="input-container bootstrap">
                    <label class="input-group">Actual Start Date</label>
                    <div class="input-group datepicker">
                      <ejs-datepicker
                        id="startDate"
                        class="datepicker"
                        format="MM/dd/yyyy"
                        appValidateWithMessage
                        placeholder="MM/DD/YYYY"
                        [enableMask]="true"
                        [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                        formControlName="startDate"
                      >
                      </ejs-datepicker>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Actual End Date</label>
                    <div class="input-group datepicker">
                      <ejs-datepicker
                        id="endDate"
                        class="datepicker"
                        format="MM/dd/yyyy"
                        appValidateWithMessage
                        placeholder="MM/DD/YYYY"
                        [enableMask]="true"
                        [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                        formControlName="endDate"
                      >
                      </ejs-datepicker>
                    </div>
                  </div>
                </div>
                <div class="input-container bootstrap">
                  <label class="input-group">Leave request comments</label>
                  <div>
                    <input appValidateWithMessage formControlName="comments" class="e-input" type="text" placeholder="Leava request comments" />
                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
      <ejs-accordion #historicalAcc>
        <e-accordionitems>
          <e-accordionitem>
            <ng-template #header>
              <div>Historical Events</div>
            </ng-template>
            <ng-template #content><div></div></ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <div class="comments"></div>
  </section>
  <section></section>
</section>
