<section class="container">
  <section class="header-container">
    <div class="e-card-header">
      <div class="e-card-header-caption candidat-status">
        <div class="deploy-candidate-wrapper">
          <h3 class="e-card-title candidate-title">
            {{candidate?.lastName}}, {{candidate?.firstName}}
            <i-feather name="briefcase" class="icon" *ngIf="candidate.deployedCandidateInfo"></i-feather>
          </h3>
          <app-deploy-candidate-message *ngIf="candidate.deployedCandidateInfo" [candidate]="candidate" [isAgency]="isAgency"></app-deploy-candidate-message>
        </div>
        <ejs-chiplist *ngIf="isTab && candidate.candidateStatus">
          <e-chips>
            <e-chip [text]="candidatStatus[candidate.candidateStatus]" [cssClass]="candidatStatus[candidate.candidateStatus] | chipsCssClass"></e-chip>
          </e-chips>
        </ejs-chiplist>
      </div>
      <div class="e-card-content button-container">
        <div class="input-group dropdown bootstrap input-readonly" *ngIf="!isRejected && !candidate.deployedCandidateInfo">
          <ejs-dropdownlist
            *ngIf="isOnboarded"
            [fields]="optionFields"
            [formControl]="jobStatusControl"
            [dataSource]="nextApplicantStatuses"
            [itemTemplate]="itemTemplate"
            placeholder="Select Status"
            (select)="onDropDownChanged($event)"
          >
            <ng-template #itemTemplate let-data>
              <span [ngClass]="{'disabled-item': !data.isEnabled}">{{data.statusText}}</span>
            </ng-template>
          </ejs-dropdownlist>
        </div>
        <button *ngIf="!isTab" ejs-button cssClass="e-flat close-button" (click)="closeDialog()">
          <i-feather name="x" class="icon"></i-feather>
        </button>
      </div>
    </div>
  </section>
  <section class="content-container">
    <div class="candidate-info">
      <ejs-accordion #accordionElement expandMode="Single" (expanding)="toForbidExpandSecondRow($event)" (clicked)="clickedOnAccordion($event)">
        <e-accordionitems>
          <e-accordionitem expanded="true">
            <ng-template #header>
              <div>Job Details</div>
            </ng-template>
            <ng-template #content>
              <form [formGroup]="form">
                <div class="form-container">
                  <div class="left-column">
                    <div class="input-container bootstrap">
                      <label class="input-group">Job ID</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="jobId" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Job Date</label>
                      <div class="input-group input-readonly">
                        <ejs-daterangepicker formControlName="date" placeholder="DD/MM/YYYY - DD/MM/YYYY" readonly="true"></ejs-daterangepicker>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Candidates</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="candidates" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Guaranteed Work Week</label>
                      <div class="input-group">
                        <input appValidateWithMessage formControlName="workWeek" class="e-input" type="text" maxlength="50"/>
                      </div>
                    </div>
                  </div>
                  <div class="right-column">
                    <div class="input-container bootstrap">
                      <label class="input-group">Bill Rate ($)</label>
                      <div class="input-group input-readonly">
                        <input
                          appValidateWithMessage
                          formControlName="billRates"
                          class="e-input"
                          type="text"
                          (focus)="priceUtils.setPriceMask(form, 'billRates', $event)"
                          (blur)="priceUtils.setTwoDecimals(form, 'billRates', $event)"
                          readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Location</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="locationName" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Candidate Bill Rate ($)</label>
                      <div class="input-group input-readonly">
                        <input
                          appValidateWithMessage
                          formControlName="candidateBillRate"
                          class="e-input"
                          type="text"
                          (focus)="priceUtils.setPriceMask(form, 'candidateBillRate', $event)"
                          (blur)="priceUtils.setTwoDecimals(form, 'candidateBillRate', $event)"
                          readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Clock ID </label>
                      <div>
                        <input appValidateWithMessage formControlName="clockId" class="e-input" type="text" maxlength="50"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-container bootstrap">
                  <label class="input-group">Available Start Date</label>
                  <div class="input-group input-readonly">
                    <input appValidateWithMessage formControlName="avStartDate" class="e-input" type="text" readonly/>
                  </div>
                </div>
                <div *ngIf="isAccepted" class="input-container bootstrap offered-start-date">
                  <label class="input-group">Offered Start Date</label>
                  <div class="input-group input-readonly">
                    <input appValidateWithMessage formControlName="offeredStartDate" class="e-input" type="text" readonly/>
                  </div>
                </div>
                <div class="form-container row">
                  <div class="input-container bootstrap">
                    <label class="input-group">Yrs. of Exp.</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="yearExp" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Exp. as Travelers</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="travelExp" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Offered Bill Rate ($)</label>
                    <div class="input-group">
                      <input
                        appValidateWithMessage
                        formControlName="offeredBillRate"
                        class="e-input"
                        type="text"
                        (focus)="priceUtils.setPriceMask(form, 'offeredBillRate', $event)"
                        (blur)="priceUtils.setTwoDecimals(form, 'offeredBillRate', $event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="input-container bootstrap" *ngIf="candidateJobState$ | async as candidateJobState">
                  <div *ngIf="!candidateJobState.hasAllRequiredOnboardedCredentials">
                    <ejs-checkbox formControlName="allow" label="Allow deploy w/o credentials"></ejs-checkbox>
                  </div>
                </div>
                <div class="form-container date-container">
                  <div class="input-container bootstrap">
                    <label class="input-group">Actual Start Date</label>
                    <div class="input-group datepicker">
                      <ejs-datepicker
                        id="startDate"
                        class="datepicker"
                        format="MM/dd/yyyy"
                        appValidateWithMessage
                        placeholder="MM/DD/YYYY"
                        [min]="today"
                        [enableMask]="true"
                        [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                        formControlName="startDate"
                      >
                      </ejs-datepicker>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Actual End Date</label>
                    <div class="input-group datepicker">
                      <ejs-datepicker
                        id="endDate"
                        class="datepicker"
                        format="MM/dd/yyyy"
                        appValidateWithMessage
                        placeholder="MM/DD/YYYY"
                        [min]="today"
                        [enableMask]="true"
                        [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                        formControlName="endDate"
                      >
                      </ejs-datepicker>
                    </div>
                  </div>
                </div>
                <div class="input-container bootstrap">
                  <label class="input-group">Leave request comments</label>
                  <div class="input-group input-readonly">
                    <input appValidateWithMessage formControlName="comments" class="e-input" type="text" readonly/>
                  </div>
                </div>
                  <div class="input-container bootstrap" *ngIf="isRejected">
                    <label>Reason</label>
                    <div class="input-group input-readonly">
                      <input formControlName="rejectReason" class="e-input" type="text" readonly/>
                    </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>Historical Events</div>
            </ng-template>
            <ng-template #content>
              <app-historical-events [organizationId]="candidateJob?.organizationId || -1" [candidateJobId]="candidate.candidateJobId" [candidateId]="candidate.candidateId"></app-historical-events>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <div class="comments">
      <app-comments></app-comments>
    </div>
  </section>
  <section>
    <app-bill-rates-view-grid [billRatesData]="billRatesData"></app-bill-rates-view-grid>
  </section>
</section>

<app-reject-reason-dialog
  [rejectReasonsList]="rejectReasons"
  [openEvent]="openRejectDialog"
  (applyReject)="onRejectCandidate($event)"
></app-reject-reason-dialog>
