@import 'colors';
@import 'adaptive-response';

.form-title {
  color: $title-black;
  font-size: 16px;
  font-weight: 700;
  margin: 12px 0;
}

.general-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 50%;
  place-items: end;
  gap: 12px;

  .swift-code {
    grid-column: 4/5;
    grid-row: 2;
  }

  .fee {
    grid-column: 1/4;
  }
}

.bank-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: end;

  gap: 12px;

  .bank-name,
  .address-1 {
    grid-column: 1/3;
  }

  .routing-number,
  .address-2 {
    grid-column: 3/5;
  }
}

.account-holder-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: end;
  gap: 12px;
  grid-template-areas:
    "itm1 itm1 . ."
    "itm2 itm3 . ."
    "itm4 itm4 itm5 itm5"
    "itm6 itm7 itm8 itm9";

  @media #{$max-tablet} {
    grid-template-areas:
    "itm1 itm1 . ."
    "itm2 itm2 itm3 itm3"
    "itm4 itm4 itm5 itm5"
    "itm6 itm7 itm8 itm9";
  }

  @media (max-width: 825px) {
    grid-template-areas:
    "itm1 itm1 . ."
    "itm2 itm2 itm3 itm3"
    "itm4 itm4 itm5 itm5"
    "itm6 itm6 itm7 itm7"
    "itm8 itm8 itm9 itm9";
  }

  .item-1 {
    grid-area: itm1;
  }

  .item-2 {
    grid-area: itm2;
  }

  .item-3 {
    grid-area: itm3;
  }

  .item-4 {
    grid-area: itm4;
  }

  .item-5 {
    grid-area: itm5;
  }

  .item-6 {
    grid-area: itm6;
  }

  .item-7 {
    grid-area: itm7;
  }

  .item-8 {
    grid-area: itm8;
  }

  .item-9 {
    grid-area: itm9;
  }
}


.input-container,
.dropdown-container {
  width: 100%;

  .input-group {
    margin-top: 5px;
  }
}

@media #{$max-mobile} {
  .general-info {
    grid-template-columns: 1fr 1fr;

    .item-1 {
      grid-column: 1/3;
    }

    .fee,
    .swift-code {
      grid-row:4;
      grid-column: unset;
    }
  }

  .bank-details {
    grid-template-columns: 1fr 1fr;

    .item-1 {
      grid-column: 1/3;
    }

    .bank-name,
    .address-1 {
      grid-column: unset;
    }
  
    .routing-number,
    .address-2 {
      grid-column: unset;
    }
  }

  .account-holder-details {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "itm1 itm1"
      "itm2 itm3"
      "itm4 itm5"
      "itm6 itm6"
      "itm7 itm7"
      "itm8 itm8"
      "itm9 itm9";
  }

  .bank-details-title {
    margin-top: 30px;
  }
}
