<div [class.grid-title]="title" [ngClass]="(isDarkTheme$ | async) ? 'app-grid app-grid-dark' : 'app-grid'">
  <div class="app-grid__header">
    <p *ngIf="title" class="title">{{ title }}</p>
    <ng-content select="[action-button]"></ng-content>
  </div>

  <ag-grid-angular
    (gridReady)="handleGridReadyEvent($event)"
    (selectionChanged)="handleMultiSelectionChanged($event)"
    (rowClicked)="handleSelectionChanged($event)"
    (sortChanged)="handleSortChanged($event)"
    (rowDragEnd)="handleRowDragEvent($event)"
    (componentStateChanged)="handleComponentStateChangeEvent($event)"
    [columnDefs]="columnDefinitions"
    [defaultColDef]="defaultColumnDefinition"
    [modules]="modules"
    [rowData]="rowData"
    [rowHeight]="gridConfig.initialRowHeight"
    [headerHeight]="52"
    [suppressRowClickSelection]="suppressRowClickSelection"
    [rowSelection]="rowSelection"
    [gridOptions]="gridOptions"
    [rowDragManaged]="rowDragManaged"
    [suppressMoveWhenRowDragging]="suppressMoveWhenRowDragging"
    [overlayNoRowsTemplate]="customGridEmptyMessage || gridEmptyMessage"
    [context]="context"
    [domLayout]="domLayout"
    class="ag-theme-alpine app-grid__component"
  ></ag-grid-angular>
  <app-grid-pagination
    *ngIf="paginationPanel"
    (navigateToPageEmitter)="navigateToPageEmitter.emit($event)"
    (pageSizeChangeEmitter)="pageSizeChangeEmitter.emit($event)"
    (approveEmitter)="approveEmitter.emit(selectedTableRows)"
    (exportEmitter)="exportEmitter.emit(selectedTableRows)"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecordsCount]="totalRecordsCount"
    [selectedTableRowsAmount]="selectedTableRows.length"
    [allowBulkSelection]="allowBulkSelection"
    [allowBulkButton]="allowBulkButton"
    [disableBulkButton]="disableBulkButton"
    [isDarkTheme]="isDarkTheme$ | async"
    [customRowsPerPageDropDownObject]="customRowsPerPageDropDownObject"
    [disableRowsPerPageDropdown]="disableRowsPerPageDropdown"
  ></app-grid-pagination>
</div>
