@import 'colors';
@import 'adaptive-response';
@import '@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '@ag-grid-community/core/dist/styles/ag-theme-alpine';

app-grid {
  flex: 1;
}

.app-grid {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media #{$max-mobile} {
    height: auto;
  }

  & .ag-row-selected {
    background-color: $primary-active-blue-70 !important;
  }

  & .ag-overlay-wrapper.ag-overlay-no-rows-wrapper {
    font-size: 14px;
    color: $secondary-dark-blue-30;
  }

  &.grid-title {
    position: relative;
    padding-top: 57px;

    .app-grid__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--grid-background-color);
      position: absolute;
      top: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 17px;
      border: 1px solid var(--grid-border-color);
      border-top-left-radius: var(--grid-border-radius);
      border-top-right-radius: var(--grid-border-radius);

      .title {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
      }

      .action-button {
        position: absolute;
        right: 8px;
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
    }

    .ag-root-wrapper {
      border-top: 1px solid var(--grid-border-color) !important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &__component {
    width: 100%;
    flex: 1;
  }

  .ag-header {
    background-color: var(--grid-background-color);
  }

  .ag-root-wrapper {
    border-top-left-radius: var(--grid-border-radius);
    border-top-right-radius: var(--grid-border-radius);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .ag-root-wrapper,
  .ag-row,
  .ag-header {
    border-color: var(--grid-border-color);
  }

  .ag-cell {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .ag-row {
    background-color: inherit;
  }

  .ag-row-hover {
    background-color: var(--grid-row-background-color-hover);
  }

  .ag-header-cell-text {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.app-grid-header {
  .ag-root-wrapper {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
}

.app-grid-dark {
  .ag-root-wrapper,
  .ag-header {
    background-color: $sidebar-background;
  }

  .ag-row {
    background-color: $sidebar-background !important;
    color: $white;
  }

  .ag-row-hover {
    background-color: $primary-active-blue-90 !important;
    color: $black;
  }

  .ag-root-wrapper,
  .ag-row,
  .ag-header {
    border-color: $grid-border-color !important;
  }

  .ag-header-icon {
    color: $white !important;
  }

  .e-input-group.e-control-wrapper.e-ddl.e-valid-input {
    &:hover {
      background: transparent !important;
    }
  }

  .ag-header-cell-text {
    font-weight: 700 !important;
    color: $secondary-dark-blue-30 !important;
  }

  .ag-paging-row-summary-panel,
  .ag-paging-page-summary-panel,
  .ag-paging-page-summary-panel > .ag-paging-button,
  .ag-side-buttons {
    color: $secondary-dark-blue-30 !important;
  }

  .ag-center-cols-viewport,
  .ag-center-cols-container {
    background-color: $sidebar-background !important;
  }
}

@media #{$max-mobile} {
  .app-grid {
    .app-grid__header {
      .action-button {
        .btn-label {
          display: none;
        }

        .e-action-button {
          .icon {
            margin: 0;
          }
        }
      }
    }
  }
}
