<ejs-dialog
  #sideDialog
  cssClass="dialog import-dialog responsive"
  [width]="width"
  [target]="targetElement$ | async"
  [visible]="false"
  [isModal]="true"
  [zIndex]="zIndex"
  [animationSettings]="{ effect: 'SlideRight' }">
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{title}}</h3>
          </div>
          <ng-container [ngTemplateOutlet]="actionBtn"></ng-container>
          <button
            tabindex="-1"
            ejs-button
            cssClass="e-flat mobile-close-button"
            (click)="onCancel()"
          >
            <i-feather name="x" class="icon"></i-feather>
          </button>
        </div>
      </section>
      <section class="import-items-container">
        <section class="file-uploader-container">
          <div class="section-header">
            <span class="message">Upload file, then hit import button</span>
            <span class="action-link-btn" (click)="downloadTemplate()">Download template</span>
          </div>
          <div class="file-uploader" #fileUploader>
            <div id="droparea" class="droparea" (click)="browse()">
              <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
            </div>
            <div class="file-info" [class.selected-file]="selectedFile">
              <ejs-uploader
                #previewupload
                [dropArea]="dropElement"
                [allowedExtensions]="allowedExtensions"
                [autoUpload]="false"
                [multiple]="false"
                [maxFileSize]="maxFileSize"
                (removing)="clear()"
                (selected)="selectFile($event)"
              >
              </ejs-uploader>
              <button *ngIf="selectedFile" ejs-button class="clear-button" cssClass="e-outline" (click)="clear()">Clear</button>
            </div>
          </div>
        </section>
        <section *ngIf="importResult" class="results" [ngClass]="{'first-active': firstActive}">
          <span *ngIf="activeErrorTab" class="action-link-btn error-template-button" (click)="downloadErrors()">
            Download file with Errors
            <i-feather name="download" class="icon"></i-feather>
          </span>
          <ejs-tab #tab (selecting)="onTabSelecting($event)" (created)="onTabCreated()" (selected)="onTabChange()">
            <e-tabitems>
              <e-tabitem [disabled]="!importResult.succesfullRecords.length">
                <ng-template #headerText> Successful <span class="tab-badge">{{importResult?.succesfullRecords?.length}}</span></ng-template>
                <ng-template #content>
                  <section class="results-grid">
                    <ng-content select="[successful]"></ng-content>
                  </section>
                </ng-template>
              </e-tabitem>
              <e-tabitem [disabled]="!importResult.errorRecords.length">
                <ng-template #headerText> Error <span class="tab-badge">{{importResult?.errorRecords?.length}}</span></ng-template>
                <ng-template #content>
                  <section class="results-grid">
                    <ng-content select="[errors]"></ng-content>
                  </section>
                </ng-template>
              </e-tabitem>
            </e-tabitems>
          </ejs-tab>
        </section>
      </section>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <ng-container [ngTemplateOutlet]="actionBtn"></ng-container>
  </ng-template>
</ejs-dialog>

<ng-template #importBtn>
  <button ejs-button cssClass="e-primary action-btn" [disabled]="!enabledImportButton" (click)="onImport()">Import</button>
</ng-template>

<ejs-dialog
  *ngIf="isOrderImport"
  #confirmOrderImport
  [showCloseIcon]="true"
  [isModal]="true"
  [visible]="false"
  height="262"
  [target]="targetElement$ | async"
  width="435px"
  class="modal-dialog"
>
  <ng-template #footerTemplate>
    <div class="modal-dialog__footer">
      <button ejs-button cssClass="e-outline" (click)="cancelImportOrder()">Cancel</button>
      <ejs-splitbutton
        content="Submit"
        cssClass="e-primary"
        [items]="submitImportMenuItems"
        (click)="submitOrderImport()"
        (select)="onSplitButtonSelect($event)"
      >
      </ejs-splitbutton>
    </div>
  </ng-template>
  <ng-template #content>
    <div class="modal-dialog__content">
      Only those data that do not contain errors will be imported. <br>
      Do you want to submit them or save for later?
    </div>
  </ng-template>
  <ng-template #header>
    <h1 class="modal-dialog__header">Import</h1>
  </ng-template>
</ejs-dialog>

<ng-template #actionBtn>
  <div class="e-card-content mobile-button-group">
    <button
      ejs-button
      cssClass="e-outline action-btn"
      (click)="onCancel()"
    >
      Cancel
    </button>

    <ng-container *ngIf="!activeErrorTab" [ngTemplateOutlet]="importBtn"></ng-container>
    <ejs-tooltip
      *ngIf="activeErrorTab"
      id="tooltip"
      content="Invalid data cannot be imported"
      position="BottomCenter"
      class="action-btn"
      [showTipPointer]="false"
    >
      <div><ng-container *ngTemplateOutlet="importBtn"></ng-container></div>
    </ejs-tooltip>
  </div>
</ng-template>
