<div [formGroup]="formGroup">
  <div class="contact-items">
    <div class="input-container bootstrap">
      <label>Title</label>
      <div class="input-group">
        <input formControlName="title" class="e-input" type="text" maxlength="100"/>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label>Contact Person<span class="required">*</span></label>
      <div class="input-group">
        <input appValidateWithMessage formControlName="contactPerson" class="e-input" type="text" maxlength="100"/>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label>Phone 1</label>
      <div class="input-group">
        <input appValidateWithMessage
        formControlName="phone1"
        mask="000-000-0000"
        class="e-input"
        type="text"/>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label>Email</label>
      <div class="input-group">
        <input appValidateWithMessage formControlName="email" class="e-input" type="text" maxlength="100"/>
      </div>
    </div>
    <div class="remove-button-container" *ngIf="isRemovable">
      <button appHideBeforeSyncfusionLoad ejs-button cssClass="e-outline" class="icon-button" (click)="removeContact()">
        <i-feather name="trash2" class="icon"></i-feather>
      </button>
    </div>
  </div>
</div>
