@import 'adaptive-response';

.contact-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr) fit-content(40px);
  gap: 12px;
  place-items: end;

  .remove-button-container {
    button {
      width: 40px;
      height: 40px;
    }
  }

  .input-container label {
    margin-bottom: 5px !important;
    display: block;
  }
}

@media #{$max-mobile} {
  .contact-items {
    grid-template-columns: 1fr 40px;
    place-items: unset;

    .input-container {
      grid-column: 1/3;
    }

    &:has(.remove-button-container) {
      .input-container:first-child {
        grid-column: 1/2;
      }
    }

    .remove-button-container {
      grid-column: 2/3;
      grid-row: 1;
      place-self: end;
    }
  }
}
