<ejs-dialog
  #sideDialog
  cssClass="dialog responsive"
  [width]="'528px'"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{ title }} Commitment</h3>
          </div>
          <ng-container *ngIf="!(isMobile$ | async)" [ngTemplateOutlet]="actionButtons"></ng-container>
        </div>
      </section>
      <section>
        <form [formGroup]="candidateWorkCommitmentForm" class="commitment-form bootstrap">
          <div>
            <app-dropdown
              [dataSource]="workCommitments"
              [fields]="fields"
              [sortOrder]="sortOrder.ASCENDING"
              [formGroupInstance]="candidateWorkCommitmentForm"
              [hideBorder]="false"
              class="control-field"
              label="Work Commitment"
              id="workCommitmentId"
              controlName="masterWorkCommitmentId"
              (change)="getPayRateById($event)"
            ></app-dropdown>
          </div>
          <div>
            <app-multiselect-dropdown
              [formGroupInstance]="candidateWorkCommitmentForm"
              [fields]="fields"
              [dataSource]="regions"
              [showSelectAll]="true"
              [required]="true"
              selectAllText="Select All"
              controlName="regionIds"
              id="regionIds"
              class="control-field"
              label="Region"
            ></app-multiselect-dropdown>
          </div>
          <div class="location-container">
            <app-multiselect-dropdown
              [formGroupInstance]="candidateWorkCommitmentForm"
              [fields]="fields"
              [dataSource]="locations"
              [showSelectAll]="true"
              [required]="true"
              selectAllText="Select All"
              controlName="locationIds"
              id="locationIds"
              class="control-field"
              label="Location"
            ></app-multiselect-dropdown>
            <span *ngIf="showCommonRangesError" class="common-range-error">Selected Work Commitments should have common dates</span>
          </div>

          <div class="row">
            <app-input
              [formGroupInstance]="candidateWorkCommitmentForm"
              maxlength="20"
              controlName="jobCode"
              class="control control-field"
              id="jobCode"
              label="Job Code"
              [required]="true"
            ></app-input>
            <app-datepicker
              #startDatePicker
              [formGroupInstance]="candidateWorkCommitmentForm"
              id="startDate"
              controlName="startDate"
              class="control control-field"
              label="Start Date"
              [required]="true"
              [strictMode]="true"
              [min]="minimumDate"
              [max]="maximumDate"
              (valueChange)="dateValueChange($event)"
            ></app-datepicker>
            <app-numeric-textbox
              [formGroupInstance]="candidateWorkCommitmentForm"
              [htmlAttributes]="numericInputAttributes"
              [min]="0"
              [maxLength]="10"
              [decimals]="3"
              [format]="formatPayRate"
              [required]="true"
              id="payRate"
              class="control-field"
              controlName="payRate"
              label="Pay Rate"
            ></app-numeric-textbox>
          </div>

          <div class="row">
            <app-numeric-textbox
              [formGroupInstance]="candidateWorkCommitmentForm"
              [min]="0"
              [maxLength]="10"
              [decimals]="1"
              [format]="format"
              class="control control-field"
              id="availRequirement"
              controlName="availRequirement"
              label="Avail. Requirement (h)"
            ></app-numeric-textbox>
            <app-numeric-textbox
              [formGroupInstance]="candidateWorkCommitmentForm"
              [min]="0"
              [maxLength]="10"
              [decimals]="0"
              [format]="format"
              class="control-field"
              id="schedulePeriod"
              controlName="schedulePeriod"
              label="Schedule Period (weeks)"
            ></app-numeric-textbox>
          </div>

          <div class="row">
            <app-numeric-textbox
              [formGroupInstance]="candidateWorkCommitmentForm"
              [min]="0"
              [format]="format"
              [maxLength]="10"
              [decimals]="1"
              class="control control-field"
              id="minWorkExperience"
              controlName="minWorkExperience"
              label="Min. Work Experience"
            ></app-numeric-textbox>
            <app-numeric-textbox
              [formGroupInstance]="candidateWorkCommitmentForm"
              [min]="0"
              [maxLength]="10"
              [format]="format"
              [decimals]="0"
              id="criticalOrder"
              class="control control-field"
              controlName="criticalOrder"
              label="Critical Order"
            ></app-numeric-textbox>
            <app-dropdown
              [dataSource]="holidays"
              [fields]="fields"
              class="control-field"
              [formGroupInstance]="candidateWorkCommitmentForm"
              [hideBorder]="false"
              label="Holiday"
              id="holiday"
              controlName="holiday"
          ></app-dropdown>
          </div>

          <div>
            <app-input
              [formGroupInstance]="candidateWorkCommitmentForm"
              maxlength="200"
              controlName="comment"
              id="comment"
              label="Comment"
            ></app-input>
          </div>
        </form>
      </section>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <ng-container *ngIf="isMobile$ | async" [ngTemplateOutlet]="actionButtons"></ng-container>
  </ng-template>
</ejs-dialog>

<app-replacement-order-confirmation
  *ngIf="showOverrideDialog"
  [text]="replacementConfirmationMessage"
  (confirm)="overrideCommitmentConfirm$.next($event)"
  [(replaceChecked)]="replaceOrder"
></app-replacement-order-confirmation>

<ng-template #actionButtons>
  <div class="e-card-content responsive-dialog">
    <button
      ejs-button
      cssClass="e-outline button-cancel action-btn"
      (click)="closeDialog()"
    >
      Cancel
    </button>
    <button
      ejs-button
      type="submit"
      cssClass="action-btn"
      [isPrimary]="true"
      (click)="validateCommitment()"
      >
        Save
      </button>
  </div>
</ng-template>
