@import 'colors';
@import 'adaptive-response';

.commitment-form {
  &>div {
    margin-top: 12px;
  }

  .row {
    display: flex;

    .control {
      margin-right: 12px;
    }

    .control-field {
      width: 100%;
    }
  }

  .location-container {
    position: relative;
  }

  .common-range-error {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 12px;
    color: $supportive-red;
  }
}

@media #{$max-mobile} {
  .row {
    flex-direction: column;
    row-gap: 12px;
  }
}
