@import 'colors';
@import 'adaptive-response';

:host {
  display: block;
  height: 100%;

  ::ng-deep {
    .controls-container {
      flex-direction: row;

      .right-content {
        justify-content: flex-end;
      }
    }
  }
}

.tab-legend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;

  &__item {
    font-size: 12px;
    color: $secondary-dark-blue-20;
    font-weight: 400;

    span {
      font-weight: 700;
      color: $secondary-dark-blue-15;
    }
  }
}

@media #{$max-tablet} {
  .tab-legend {
    grid-template-columns: repeat(2, 1fr);
  }
}



.table-tabs {
  margin-bottom: 0;
  display: inline-block;

  &.irp {
    max-width: 300px;
    overflow: hidden;
  }

  &.vms {
    &::ng-deep .e-tab-header {
      .e-items.e-toolbar-items {
        padding: 0;

        .e-scroll-nav {
          display: none;
        }
      }
    }
  }
}

.candidates-grid {
  margin-top: 24px;
  height: calc(100% - 135px);

  @media #{$max-desktop-small} {
    height: calc(100% - 150px);
  }
}

@media (max-width: 730px) {
  .candidates-grid {
    height: calc(100% - 220px);
  }

  .tab-legend {
    grid-template-columns: repeat(2, 1fr);
  }

  :host {
    ::ng-deep {
      .controls-container {
        flex-direction: column;
        row-gap: 12px;

        .right-content {
          justify-content: flex-start;
        }
      }
    }
  }
}

@media #{$max-mobile} {
  .candidates-grid {
    height: auto;
    padding-bottom: 24px;
  }

  .tab-legend {
    grid-template-columns: 1fr;
  }

  :host {
    ::ng-deep {
      .controls-container {
        margin-top: 60px;
      }

      .left-content {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100% !important;
        z-index: 2;

        &:has([style*="box-shadow"]) {
          box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px !important;
        }
      }

      .table-tabs {
        display: block;
        width: 100%;
        background-color: var(--background);
        padding-left: 16px;
      }
    }
  }
}

.icon.no-margin {
  margin-left: 0;
}
