@import "colors";
@import "adaptive-response";

:host {
  height: 100%;
}

.tab-legend {
  display: flex;
  gap: 17px;

  &__item {
    font-size: 12px;
    color: $secondary-dark-blue-20;
    font-weight: 400;

    span {
      font-weight: 700;
      color: $secondary-dark-blue-15;
    }
  }
}

.candidates-grid {
  margin-top: 24px;
  height: calc(100% - 135px);

  @media #{$max-desktop-small} {
    height: calc(100% - 195px);
  }

  @media #{$max-tablet} {
    height: calc(100% - 210px);
  }
}
