<app-page-toolbar>
  <ng-container left>
    <app-tab-navigation 
    #tabNavigation 
    class="table-tabs" (selectedTab)="tabSelected($event)"></app-tab-navigation>
  </ng-container>
  <ng-container right>
    <button ejs-button appHideBeforeSyncfusionLoad cssClass="e-outline" (click)="showFilters()">
      <div class="filter-button-content">
        <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill">{{ filteredItems.length }}</span>
        Filters <i-feather name="sliders" class="icon"></i-feather>
      </div>
    </button>
    <button
              ejs-dropdownbutton
              appHideBeforeSyncfusionLoad
              [items]="exportOptions"
              (select)="exportSelected($event)"
              id="exportButton"
              cssClass="e-outline button-export"
              [disabled]="!canViewCandidateAssignment"
            > 
              <div class="button-export-container">
                Export <i-feather name="upload" class="icon"></i-feather>
              </div>
   </button>
  </ng-container>
</app-page-toolbar>
<section class="tab-legend">
  <div class="tab-legend__item">
    <span>All:</span> Confirmed, Active, Past job Candidates.
  </div>
  <div class="tab-legend__item">
    <span>Confirmed:</span> Offer accepted and ready to Onboard.
  </div>
  <div class="tab-legend__item">
    <span>Active:</span> On assignment candidates.
  </div>
  <div class="tab-legend__item">
    <span>Past:</span> Jobs completed Candidates.
  </div>
</section>
<section class="candidates-grid">
  <app-candidate-grid [candidatesPage]="candidatesPage" [filters]="filters" [activeTab]="activeTab" [export$]="exportCandidate$" [pageNumber]="pageNumber" [pageSize]="pageSize" [CandidateStatus]="CandidateStatus"></app-candidate-grid>
</section>

<app-filter-dialog
  (clearAllFiltersClicked)="onFilterClearAll()"
  (closeDialogClicked)="onFilterClose()"
  (applyFilterClicked)="onFilterApply()"
  (deleteFilter)="onFilterDelete($event)"
  [items]="filteredItems"
  [count]="(candidates$ | async)?.totalCount"
>

  <app-filters
  #filterco
    [filtersForm]="filtersForm"
    [filterColumns]="filterColumns"
    [isClear]="isClear"
    [isAgency]="isAgency"
    [orgAgencyName]="orgAgencyName"
    [lastOrgId]="lastOrgId"
    [lastAgencyId]="lastAgencyId"
  ></app-filters>
</app-filter-dialog>
