@import 'colors';

.container {
  .tools-button-group {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
  }
}

.form-container {
  padding-top: 24px;

  .checkbox-group {
    margin: 12px 0 14px;
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .label-gray {
    color: $secondary-dark-blue-15;
  }

  .group-title {
    margin: 30px 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: $title-black;
  }

  .input-container {
    margin-bottom: 12px;
    width: 386px;

    .e-input-group-icon {
      color: $secondary-dark-blue-30;

      .icon {
        height: 20px !important;
        width: 20px !important;
        padding-left: 13px;
        padding-right: 8px;
      }
    }
  }

  .search-container {
    padding-top: 24px;
  }
}

.search {
  margin: 8px -24px 0;
  padding: 17px 24px;
  height: 650px;
  background-color: $secondary-dark-blue-50;

  label {
    line-height: 20px;
  }

  .grid-error-validation {
    color: $supportive-red;
    display: flex;
    align-items: center;

    .required {
      padding-right: 5px;
    }

    .required-title {
      padding-left: 5px;
    }
  }

  .empty-list {
    display: flex;
    color: $secondary-dark-blue-30;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 234px;

    i-feather {
      margin-right: 8px;
    }
  }

  .select-credential-error {
    display: flex;
    color: $supportive-red;
    margin-top: 6px;

    i-feather {
      margin-right: 8px;
    }

    span.error {
      font-size: 12px;
    }
  }
}
