.app-line-chart {
  &__component {
    aspect-ratio: 2.2;
  }

  &__title {
    width: 50%;
  }

  &__tooltip {
    text-align: right;
    width: 10%;
    margin-left:15px;
  }

  &__actions {
    display: flex;
    width: 40%;

    & button {
      height: 28px;

      &:nth-child(odd) {
        border-radius: 8px 0px 0px 8px;
      }

      &:nth-child(even) {
        border-radius: 0px 8px 8px 0px;
      }
    }
  }
}

.widget-header {
  display: flex;
  justify-content: space-between;
  width:100%;
  .slideBarWidth{
    width: 35% !important;
  }
  .slideTooltipMar{
    margin-left:30px !important;
  }
}
