<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme">
  <ng-template #header>
    <div class="widget-header">
      <div class="app-line-chart__title" [ngClass]="slideBar ? 'slideBarWidth' : ''">
        <h3 class="widget-header__title">{{ 'Positions Trend' }}</h3>
      </div>
      <div class="app-line-chart__actions">
        <button ejs-button
                [isPrimary]="monthMode"
                [cssClass]="monthMode ? 'e-small' : 'e-outline e-small'"
                (click)="onSwicthTo(monthlySelection)">
          Monthly
        </button>
        <button ejs-button
                [isPrimary]="!monthMode"
                [cssClass]="!monthMode ? 'e-small' : 'e-outline e-small'"
                (click)="onSwicthTo(weeklySelection)">
          Weekly
        </button>
      </div>
      <div class="app-line-chart__tooltip" *ngIf="description.length>0">
        <ejs-tooltip [content]="description" position='TopCenter'>
          <span class="mytooltip">
            <i-feather name="info" id="info"
                       [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
          </span>
        </ejs-tooltip>
      </div>
    </div>
  </ng-template>
  <ng-template #lineChart>
    <ejs-chart
      #sfComponent
      [chartArea]="chartArea"
      [primaryXAxis]="isDarkTheme ? primaryXAxisDarkTheme : primaryXAxis"
      [primaryYAxis]="isDarkTheme ? primaryYAxisDarkTheme : primaryYAxis"
      [crosshair]="crosshairSettings"
      [legendSettings]="legendSettings"
      [tooltip]="isDarkTheme ? tooltipDarkSettings : tooltipSettings"
      class="app-line-chart__component"
      [palettes]="palettes"
      [background]="isDarkTheme ? 'var(--chart-dark-bg)' : 'var(--chart-light-bg)'"
    >
      <e-series-collection>
        <!-- ngFor structural directive can't be used due to an error in Syncfusion library v.20.1.57 during rendering -->
        <e-series
          [dataSource]="(filteredChartData$ | async)?.[positionTypeEnum.OPEN] ?? []"
          [name]="positionTypeEnum.OPEN"
          [width]="lineWidthInPixels"
          [xName]="xAxisName"
          [yName]="yAxisName"
          [legendShape]="legendShape"
          [type]="type"
        ></e-series>
        <e-series
          [dataSource]="(filteredChartData$ | async)?.[positionTypeEnum.FILLED] ?? []"
          [name]="positionTypeEnum.FILLED"
          [width]="lineWidthInPixels"
          [xName]="xAxisName"
          [yName]="yAxisName"
          [legendShape]="legendShape"
          [type]="type"
        ></e-series>
        <e-series
          [dataSource]="(filteredChartData$ | async)?.[positionTypeEnum.CLOSED] ?? []"
          [name]="positionTypeEnum.CLOSED"
          [width]="lineWidthInPixels"
          [xName]="xAxisName"
          [yName]="yAxisName"
          [legendShape]="legendShape"
          [type]="type"
        ></e-series>
        <e-series
          [dataSource]="(filteredChartData$ | async)?.[positionTypeEnum.IN_PROGRESS] ?? []"
          [name]="positionTypeEnum.IN_PROGRESS"
          [width]="lineWidthInPixels"
          [xName]="xAxisName"
          [yName]="yAxisName"
          [legendShape]="legendShape"
          [type]="type"
        ></e-series>
      </e-series-collection>
    </ejs-chart>
  </ng-template>

  <ng-template #legend>
    <app-widget-legend
      [slideBar]="slideBar"
      [isPositionTrend]="true"
      [legendData]="chartLegend"
      (changeCheckbox)="onClickLegend($event)"
      (onClickLegend)="redirectToSourceContent($event)"
      [showPercentRatio]="true"
    ></app-widget-legend>
  </ng-template>
</app-widget-wrapper>
