.app-line-chart {
  &__component {
    aspect-ratio: 2;
  }
}

.widget-header {
  display: flex;
  justify-content: space-between;

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #1a1b2e;
    line-height: 16px;
  }

  &__actions {
    display: flex;

    & button {
      height: 28px;

      &:nth-child(odd) {
        border-radius: 8px 0px 0px 8px;
      }

      &:nth-child(even) {
        border-radius: 0px 8px 8px 0px;
      }
    }
  }
}
