.general-info__form {
  display: grid;
  grid-gap: 12px;
  grid-template-rows: repeat(3, 1fr);

  .row {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 200px;

    .two-controls {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 100px 1fr;
    }
  }
}
#first-name label {
  white-space: nowrap;
}