@import 'colors';

.date-editor-container {
  height: 40px;
  width: 98px;
  border: 1px solid $secondary-dark-blue-40;
  border-radius: 8px;
}

::ng-deep {
  .wrapper {
    height: 40px;
    width: 100%;

    ejs-timepicker.e-timepicker {
      .e-input-group.e-control-wrapper.e-time-wrapper {
        height: 40px!important;
        width: 100%!important;
        display: flex!important;
        align-items: center!important;
        padding: 0 16px;

        .e-input {
          padding: 0!important;
        }
      }
    }
  }
  .init-value-wrapper {
    padding-left: 17px;
    padding-right: 17px;

    .value-block {
      display: flex;
      flex-direction: column;
    }

    .value {
      line-height: 20px;
    }
  }
}
