@import 'colors';

.grid-date-editor {
  ::ng-deep {
    .wrapper {
      height: 40px;
      width: 114px;

      &.errored {
        ejs-timepicker.e-timepicker {
          .e-input-group.e-control-wrapper.e-time-wrapper {
            border-color: $supportive-red!important;
          }
        }
      }

      ejs-timepicker.e-timepicker {
        .e-input-group.e-control-wrapper.e-time-wrapper {
          height: 40px!important;
          width: 100%!important;
          display: flex!important;
          align-items: center!important;
          padding: 0 16px;

          .e-input {
            padding: 0!important;
          }
        }
      }
    }

    .init-value-wrapper {
      padding-left: 17px;
      padding-right: 17px;

      .value {
        line-height: 20px;
      }
    }
  }
}
