<ng-container [ngSwitch]="editable">

  <ng-template [ngSwitchCase]="false">
    <div class="init-value-wrapper">
      <span class="value-block" *ngIf="fieldVisible">
        <span *ngIf="value; else timePlaceholder" class="value">{{ value | date:'H:mm': 'UTC'}}</span>

        <ng-template #timePlaceholder>
          <span class="value">HH:MM</span>
        </ng-template>
      </span>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="true">
    <div class="wrapper" [ngClass]="{'errored': control.invalid && control.touched}" *ngIf="fieldVisible">
      <ejs-timepicker
        placeholder="HH:MM"
        format="HH:mm"
        [value]="dateValue"
        [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
        [enableMask]="true"
        [step]="15"
        maskPlaceholder="HH:MM"
        (change)="handleTimeChange($event)">
      </ejs-timepicker>
    </div>
  </ng-template>

</ng-container>
