<ng-container [ngSwitch]="editable">

  <ng-template [ngSwitchCase]="false">
    <div class="init-value-wrapper">
      <span class="value-block">
        <span class="value">{{ dateValue | date:'dd/MM/yyyy'}}</span>
        <span class="value">{{ dateValue | date:'H:mm aa'}}</span>
      </span>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="true">
    <div class="wrapper">
      <ng-container [ngSwitch]="type">

        <ng-template ngSwitchCase="time">
          <ejs-timepicker
          placeholder="HH:MM"
          format="hh:mm a"
          [value]="dateValue"
          [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
          [enableMask]="false"
          [step]="15"
          maskPlaceholder="HH:MM"
          (change)="handleTimeChange($event)">
        </ejs-timepicker>
        </ng-template>

        <ng-template ngSwitchCase="dateTime">
          <ejs-datetimepicker
          name="startDateTime"
          [step]="30"
          [value]="dateValue"
          >
          </ejs-datetimepicker>
        </ng-template>
      </ng-container>
    </div>
  </ng-template>

</ng-container>
