@import "colors";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;;
  padding: 28px 20px 28px 20px;
  border-top: 1px solid var(--separator);
  background-color: #fff;

  .prev, .next {
    color: $primary-active-blue-10;
    font-weight: 590;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .prev i-feather {
    margin-right: 8px;
  }

  .next i-feather {
    margin-left: 8px;
  }
}
