<h2 class="title">HR Info</h2>
<form class="hr-info__form">
  <app-dropdown
    [dataSource]="hrCompanyCodes"
    [fields]="fieldsSettings"
    [formGroupInstance]="candidateForm"
    [hideBorder]="false"
    label="HR Company Code"
    id="hr-company-code"
    controlName="hrCompanyCodeId"
  ></app-dropdown>

  <app-dropdown
    [dataSource]="hrInternalTransfersRecruitments"
    [fields]="fieldsSettings"
    [formGroupInstance]="candidateForm"
    [hideBorder]="false"
    placeholder="Select"
    label="Internal transfer/recruitment"
    id="internal-transfer-recruitment"
    controlName="internalTransferId"
  ></app-dropdown>

  <app-dropdown
    [dataSource]="orientationConfigurations"
    [fields]="fieldsSettings"
    [formGroupInstance]="candidateForm"
    [hideBorder]="false"
    placeholder="Select"
    label="Orientation Configuration"
    id="orientation-configuration"
    controlName="orientationConfigurationId"
  ></app-dropdown>

  <app-datepicker
    [formGroupInstance]="candidateForm"
    id="organization-orientation-date"
    controlName="organizationOrientationDate"
    label="Organization Orientation Date"
  ></app-datepicker>

  <div>
    <ejs-switch id="contract" (change)="listenContractChanges($event)"></ejs-switch>
    <label for="contract">Contract</label>
  </div>

  <app-datepicker
    [formGroupInstance]="candidateForm"
    [disabled]="true"
    id="contract-start-date"
    controlName="contractStartDate"
    label="Contract Start Date"
  ></app-datepicker>

  <app-datepicker
    [formGroupInstance]="candidateForm"
    [disabled]="true"
    id="contract-end-date"
    controlName="contractEndDate"
    label="Contract End Date"
  ></app-datepicker>
</form>
