<h2 class="title">HR Info</h2>
<form class="hr-info__form" [formGroup]="candidateForm">
  <div class="hr-info__form_first">
    <app-dropdown
      [dataSource]="hrCompanyCodes"
      [fields]="fieldsSettings"
      [formGroupInstance]="candidateForm"
      [hideBorder]="false"
      label="HR Company Code"
      id="hr-company-code"
      controlName="hrCompanyCodeId"
    ></app-dropdown>

    <app-dropdown
      [dataSource]="(reasons$ | async)?.items"
      [fields]="fieldsSettingsInternalTransfer"
      [formGroupInstance]="candidateForm"
      [hideBorder]="false"
      placeholder="Select"
      label="Internal Transfer/Recruitment"
      id="internal-transfer-recruitment"
      controlName="internalTransferId"
    ></app-dropdown>
  </div>

  <div class="hr-info__form_second">
    <div>
      <ejs-switch
        formControlName="isContract"
        name="isContract"
        id="contract"
        [checked]="isContractValue"
        (change)="onChange($event)"></ejs-switch>
      <label for="contract">Contract</label>
    </div>

    <app-datepicker
      [formGroupInstance]="candidateForm"
      [disabled]="true"
      [required]="true"
      id="contract-start-date"
      controlName="contractStartDate"
      label="Contract Start Date"
    ></app-datepicker>

    <app-datepicker
      [formGroupInstance]="candidateForm"
      [disabled]="true"
      [required]="true"
      id="contract-end-date"
      controlName="contractEndDate"
      label="Contract End Date"
    ></app-datepicker>
  </div>
</form>
