@import 'adaptive-response';

.hr-info__form {
  display: grid;
  grid-gap: 12px;

  &_first {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    align-items: end;
  }

  &_second {
    display: grid;
    grid-template-columns: 110px 160px 160px;
    grid-gap: 12px;
    align-items: center;
  }
}

@media #{$max-tablet} {
  .hr-info__form {
    &_first {
      grid-template-columns: repeat(2, 1fr);
    }

    &_second {
      grid-template-columns: 110px auto auto;
    }
  }
}

@media #{$max-tablet} {
  .hr-info__form {
    &_first {
      grid-template-columns: 1fr;
    }

    &_second {
      grid-template-columns: 1fr;
    }
  }
}
