<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog"
  width="50%"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">Order ID {{order?.orderId}}</h3>
          </div>
          <div  class="e-card-content">
            <button
              ejs-button
              cssClass="e-outline button-cancel"
              >Compare</button>
            <button
              ejs-button
              type="submit"
              cssClass="e-flat close-button"
              (click)="onClose()"
              ><i-feather name="x" class="icon"></i-feather></button>
          </div>
        </div>
      </section>
      <div class="order-tabs" [ngClass]="{'first-active': firstActive}">
        <ejs-tab #tab (selecting)="onTabSelecting($event)" (created)="onTabCreated()">
          <e-tabitems>
            <e-tabitem>
              <ng-template #headerText>Order Details</ng-template>
              <ng-template #content>
              </ng-template>
            </e-tabitem>
            <e-tabitem>
              <ng-template #headerText>Candidates <span class="e-badge e-badge-success e-badge-circle">5</span></ng-template>
              <ng-template #content>
                <app-candidates-order></app-candidates-order>
              </ng-template>
            </e-tabitem>
            <e-tabitem>
              <ng-template #headerText>Extensions</ng-template>
              <ng-template #content>
              </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
      </div>
    </section>
  </ng-template>
</ejs-dialog>
