<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog order-details-dialog"
  [target]="targetElement"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container preview-dialog">
      <section class="header-container">
        <div class="e-card-header preview-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title preview-title">{{getTitle}}</h3>
            <div class="order-statuses">
              <ejs-chiplist #chipList class="events-off">
                <e-chips>
                  <e-chip [text]="order?.statusText"></e-chip>
                  <e-chip *ngIf="order?.extensionFromId" text="E" cssClass="e-warning ex-chip"></e-chip>
                </e-chips>
              </ejs-chiplist>
              <div class="vertical-divider"></div>
              <div *ngIf="order && !isReOrder" class="order-other-statuses">
                <span class="custom-chip">{{ orderType[order.orderType] }}</span>
                <span class="custom-chip"> {{order.isLocked ? "Locked" : "Unlocked"}}</span>
              </div>
            </div>
          </div>
          <div class="e-card-content">
            <button ejs-button type="submit" cssClass="e-flat close-button" (click)="onClose()">
              <i-feather name="x" class="icon"></i-feather>
            </button>
          </div>
        </div>
      </section>
      <div class="order-tabs" >
        <ejs-tab #tab (selecting)="onTabSelecting($event)" (created)="onTabCreated()">
          <e-tabitems>
            <e-tabitem>
              <ng-template #headerText>{{isReOrder ? 'Re-Order Details' : 'Order Details'}}</ng-template>
              <ng-template #content>
                <section class="order-details" *ngIf="currentOrder">
                  <section class="job-details" [ngSwitch]="currentOrder?.orderType">
                    <app-general-order-per-diem-info *ngSwitchCase="orderType.OpenPerDiem" [orderInformation]="currentOrder"></app-general-order-per-diem-info>
                    <app-general-reorder-info
                      *ngSwitchCase="orderType.ReOrder"
                      [system]="system"
                      [orderInformation]="currentOrder"></app-general-reorder-info>
                    <app-general-order-info *ngSwitchDefault [orderInformation]="currentOrder"></app-general-order-info>
                  </section>
                  <hr />
                  <ng-container *ngIf="isClosedOrder">
                    <app-order-close-reason-info [orderInformation]="orderInformation"
                    [showCloseData]="!showRejectInfo"></app-order-close-reason-info>
                    <hr />
                  </ng-container>
                  <app-order-details [currentOrder]="currentOrder" [comments]="orderComments"></app-order-details>
                </section>
              </ng-template>
            </e-tabitem>
            <e-tabitem>
              <ng-template #headerText>Candidates <span class="e-badge e-badge-success e-badge-pill">{{countOrderCandidates$ | async}}</span></ng-template>
              <ng-template #content>
                <ng-container *ngIf="currentOrder">
                  <app-extension-candidate
                    [actionsAllowed]="agencyActionsAllowed && userPermission[userPermissions.CanAgencyMatchOrders]"
                    [hasCanEditOrderBillRatePermission]="userPermission[userPermissions.CanEditOrderBillRate]"
                    *ngIf="currentOrder.extensionFromId; else candidateOrder"
                    [currentOrder]="currentOrder"
                    [dialogEvent]="openEvent"
                  ></app-extension-candidate>
                </ng-container>
                <ng-template #candidateOrder>
                  <app-candidates-order [currentOrder]="currentOrder"></app-candidates-order>
                </ng-template>
              </ng-template>
            </e-tabitem>
            <ng-container *ngIf="currentOrder">
              <e-tabitem *ngIf="orderType.OpenPerDiem === currentOrder.orderType">
                <ng-template #headerText>
                  Re-Orders <span class="e-badge e-badge-success e-badge-pill">{{ currentOrder?.reOrders?.length || '0' }}</span>
                </ng-template>
                <ng-template #content>
                  <app-order-reorders-container (selectReOrder)="selectReOrder.emit($event)" [isAgency]="true" [currentOrder]="currentOrder"></app-order-reorders-container>
                </ng-template>
              </e-tabitem>

              <e-tabitem *ngIf="(orderType.Traveler === currentOrder.orderType || orderType.ContractToPerm === currentOrder.orderType) && currentOrder.extensionFromId">
                <ng-template #headerText>Extensions</ng-template>
                <ng-template #content>
                  <section class="order-details">
                    <section class="job-details">
                      <app-general-order-info [orderInformation]="currentOrder"></app-general-order-info>
                    </section>
                    <hr />
                    <app-extension-grid [data]="extensions" class="extension-grid"></app-extension-grid>
                  </section>
                </ng-template>
              </e-tabitem>
            </ng-container>
          </e-tabitems>
        </ejs-tab>
      </div>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <app-dialog-next-previous
      *ngIf="orderDialogOptions$ | async as options"
      [title]="isReOrder ? 'Re-Order' : 'Order'"
      [options]="options"
      (nextEvent)="onNextPreviousOrder(true)"
      (previousEvent)="onNextPreviousOrder(false)"
    ></app-dialog-next-previous>
  </ng-template>
</ejs-dialog>
