@import 'colors';
@import 'adaptive-response';

.order-tabs {
  margin-top: 24px;

  span {
    margin-left: 12px;
  }

  &.first-active {
    .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
      left: 114px !important;
      right: 109px !important;
    }
  }
}

.preview-dialog {
  .preview-header {
    align-items: start !important;
  }

  .preview-title {
    margin: 0;
  }

  ejs-chiplist {
    padding-left: 0;

    .ex-chip {
      width: auto;
      margin-left: 5px;
    }
  }
}

.order-statuses {
  display: flex;
  align-items: center;
}

.vertical-divider {
  border-left: 1px solid $secondary-dark-blue-40;
  margin: 0 8px;
  height: 20px;
}

.custom-chip {
  border: 1px solid $secondary-dark-blue-40;
  background: $secondary-dark-blue-50;
  border-radius: 16px;
  padding: 0 8px;
  font-size: 14px;
}

.order-other-statuses {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 8px;
  }
}

.order-details {
  margin-top: 24px;
}

.extension-grid {
  height: 500px;
  display: block;
}

@media #{$max-mobile} {
  .e-card-header-caption {
    width: 95%;
  }

  .close-button {
    padding-top: 0 !important;
  }

  .e-badge.e-badge-pill {
    margin-left: 3px !important;
  }
}
