<div class="message-container" (click)="enter()">
  <div class="message-header">
    <div class="user-info-container">
      <img class="avatar" src="assets/default-avatar.svg" alt="avatar" width="32" height="32">
      <div class="user-block">
        <span class="user-name">{{ thread.displayName }}</span>
        <span class="user-unit">{{ thread.businessUnitName}}</span>
      </div>
    </div>
    <div class="timestamp">
      <span>{{ lastMessage?.timestamp | date: 'MM/dd HH:mm'}}</span>
    </div>
  </div>
  <span class="message-preview" [innerHtml]="lastMessage?.message"
  [ngClass]="{ 'unread': this.lastMessage?.readIndicator}"></span>
</div>