@import 'colors';
@import 'adaptive-response';

:host {
  overflow-y: auto;
}

.header-container {
  .button-container {
    display: flex;
    gap: 12px;

    @media (max-width: $tablet-min) {
      button:not(.close-button),
      .dropdown {
        display: none;
      }
    }
  }
}

.container {
  .deployed-icon {
    color: $primary-active-blue;
  }

  .apply-button {
    margin: 0 8px 0 12px;
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    .input-group.input-readonly {
      .e-input[readonly],
      ejs-daterangepicker .e-input-group,
      ejs-datepicker .e-input-group {
        background-color: $secondary-dark-blue-50;
        color: $secondary-dark-blue-30;
        border: 1px solid $secondary-dark-blue-40 !important;
      }
    }

    .candidate-info {
      width: 55%;
      margin-right: 12px;

      ejs-accordion {
        margin-bottom: 10px;

        .form-container {
          display: flex;
          flex-direction: row;

          .left-column {
            width: 64%;
            margin-right: 12px;
          }

          .right-column {
            width: 36%;
          }
        }

        .input-container {
          margin-bottom: 12px;

          label {
            white-space: nowrap;
          }
        }

        .offered-start-date {
          margin-top: 12px;
        }

        .row {
          margin-top: 12px;
          justify-content: space-between;
          gap: 10px;
        }

        .date-container {
          margin-top: 12px;
          gap: 10px;
        }
      }
    }

    .comments {
      width: 45%;
      height: auto;
      background-color: $secondary-dark-blue-50;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    @media (max-width: $tablet-min) {
      flex-direction: column;
      .candidate-info {
        width: 100%;
      }

      .comments {
        width: 100%;
      }
    }
  }

  .warning-deployed-candidate {
    color: $supportive-red-00;
    padding: 15px 5px 5px;
    font-size: 1rem;
  }
}

.candidat-status {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-min) {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.d-flex {
  display: flex;
  gap: 12px;

  .input-container {
    flex: 1 1 0;
  }
}

.mobile-actions {
  position: fixed;
  bottom: 73px;
  left: 0;
  width: 95%;
  padding: 24px 16px;
  background-color: $white;
  z-index: 1001;
  display: none;
  border-top: 1px solid $secondary-dark-blue-45;

  &.tab{
    bottom: 0;
  }

  .dropdown {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 0 !important;

    &:not(:first-child) {
      margin-left: 16px !important;
    }
  }

  @media (max-width: $tablet-min) {
    display: flex;
  }
}

::ng-deep{
  .e-confirm-dialog.e-control.e-dialog.e-popup.unsaved-changes-dialog {
    width: 470px !important;
  }
}
