<section class="container">
  <ejs-tab
    (selected)="selectTab($event)"
    [heightAdjustMode]="'Fill'"
  >
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText><div>Orientation Setup</div></ng-template>
        <ng-template #content>
          <app-orientation-setup [isActive]="selectedTab === orientationTab.Setup"></app-orientation-setup>
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText><div>Historical Data</div></ng-template>
        <ng-template #content>
          <app-orientation-historical-data [isActive]="selectedTab === orientationTab.HistoricalData"></app-orientation-historical-data>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</section>
