<section class="sidebar-menu">
  <section>
    <a [routerLink]="['/client']" class="icon-container">
      <i-feather name="home" class="icon"></i-feather>
      <span class="e-text">Dashboard</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/client/client-management']" class="icon-container">
      <i-feather name="file-text" class="icon"></i-feather>
      <span class="e-text">Client Management</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/client/time-sheets']" class="icon-container">
      <i-feather name="users" class="icon"></i-feather>
      <span class="e-text">Timesheets</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/client/invoices']" class="icon-container">
      <i-feather name="dollar-sign" class="icon"></i-feather>
      <span class="e-text">Invoices</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/client/candidates']" class="icon-container">
      <i-feather name="users" class="icon"></i-feather>
      <span class="e-text">Candidates</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/client/reports']" class="icon-container">
      <i-feather name="file" class="icon"></i-feather>
      <span class="e-text">Reports</span>
    </a>
  </section>
</section>
