<section class="client-dashboard">
  <section>
    <a [routerLink]="['/client']" class="icon-container">
      <i-feather name="home" class="icon"></i-feather>
      <span>Dashboard</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/client-management']" class="icon-container">
      <i-feather name="file-text" class="icon"></i-feather>
      <span>Client Management</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/time-sheets']" class="icon-container">
      <i-feather name="users" class="icon"></i-feather>
      <span>Timesheets</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/invoices']" class="icon-container">
      <i-feather name="dollar-sign" class="icon"></i-feather>
      <span>Invoices</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/candidates']" class="icon-container">
      <i-feather name="users" class="icon"></i-feather>
      <span>Candidates</span>
    </a>
  </section>
  <section>
    <a [routerLink]="['/reports']" class="icon-container">
      <i-feather name="file" class="icon"></i-feather>
      <span>Reports</span>
    </a>
  </section>
</section>
