.client-dashboard {
  .icon-container {
    height: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #ffffff; // TODO: should be defined from theme

    .icon {
      padding-left: 1.5rem;
      padding-right: 1rem;
    }
  }

  .icon-container:hover {
    background-color: #272f51;

    .icon {
      color: #6499ff;
    }
  }
}
