<div class="warning-deployed-candidate">
  <ng-container *ngIf="isAgency; else orgMessage">
    Employee is already working in Position ID: <span>{{candidateBasicInfo?.orderId}}/{{candidateBasicInfo?.positionId}}; {{candidateBasicInfo?.actualStartDate | date: 'dd/MM/yyyy'}} - {{candidateBasicInfo?.actualEndDate | date: 'dd/MM/yyyy'}} for the organization {{candidateBasicInfo?.organizationName}} </span>
  </ng-container>
  <ng-template #orgMessage>
    Employee is already working on an assignment till <span>{{candidateBasicInfo?.actualEndDate | date: 'dd/MM/yyyy'}}</span>
  </ng-template>
</div>
