@import "src/app/styles/variables/colors";

$grid-border-radius: 10px;
$grid-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);

.template-dialog {
  .template-title {
    max-width: 400px;
    margin-bottom: 20px;
  }

  .grid {
    .grid-header {
      box-shadow: $grid-box-shadow;
      background-color: $white;
      border: 1px solid $grid-row-border;
      border-radius: 10px 10px 0 0;
      height: 55px;
      padding: 0 21px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 16px;

      & + .grid-body {
        border-top-left-radius: unset;
        border-top-right-radius: unset;

        .e-gridheader:not(.e-gridtoolbar) {
          border-radius: unset;
          border-top: none;
        }
      }
    }
  }
}


