@import "colors";

.input-container {
  margin-bottom: 15px;

  .input-group {
    position: relative;

    .e-badge {
      position: absolute;
      right: 30px;
      top: 11px;
    }
  }
}

.bootstrap {
  .e-multi-select-wrapper {
    .e-close-hooker {
      margin-right: 10px;
    }
  }
}

.toggle_field {
  width: 50%;
  display: inline-block;
}
