<app-filter-dialog
  [items]="filteredItems"
  [count]="count"
  (deleteFilter)="deleteFilter($event)"
  (clearAllFiltersClicked)="clearAllFilters()"
  (applyFilterClicked)="applyFilter()"
  (closeDialogClicked)="closeFilterDialog()"
>
  <form [formGroup]="scheduleFilterFormGroup" [class]="formConfig.formClass">
    <div class="bootstrap">
      <ng-container *ngFor="let item of formConfig.formFields">
        <ng-container [ngSwitch]="item.type">
          <ng-template [ngSwitchCase]="fieldTypes.MultiSelectDropdown">
            <div class="input-container">
              <label [for]="item.field">{{ item.title }} <span *ngIf="item.required" class="required">*</span></label>
              <div class="input-group multiselect">
                <ejs-multiselect
                  appValidateWithMessage
                  selectAllText="Select All"
                  mode="CheckBox"
                  [dataSource]="filterColumns[item.sourceKey].dataSource"
                  [fields]="optionFields"
                  [showSelectAll]="true"
                  [allowFiltering]="true"
                  [showDropDownIcon]="true"
                  [formControlName]="item.field"
                >
                </ejs-multiselect>
                <span
                  *ngIf="scheduleFilterFormGroup.get(item.field)?.value?.length as counter"
                  class="e-badge e-badge-success e-badge-pill"
                >
                  {{ counter }}
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="fieldTypes.Toggle">
            <div class="input-container">
              <div class="input-group wide">
                <ejs-switch
                  class="toggle"
                  [formControlName]="item.field"
                ></ejs-switch>
                <label [for]="item.field">{{ item.title }}</label>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </form>
</app-filter-dialog>
