<app-filter-dialog
  [items]="filteredItems"
  [count]="count"
  (deleteFilter)="deleteFilter($event)"
  (clearAllFiltersClicked)="clearAllFilters()"
  (applyFilterClicked)="applyFilter()"
  (closeDialogClicked)="closeFilterDialog()"
>
  <form [formGroup]="scheduleFilterFormGroup">
    <div class="bootstrap">
      <div class="input-container">
        <label>Region<span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="regionIds"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.regionIds.dataSource"
            [showSelectAll]="true"
          ></ejs-multiselect>
          <span *ngIf="selectedRegionsNumber" class="e-badge e-badge-success e-badge-pill">{{ selectedRegionsNumber }}</span>
        </div>
      </div>

      <div class="input-container">
        <label>Location<span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="locationIds"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.locationIds.dataSource"
            [showSelectAll]="true"
          ></ejs-multiselect>
          <span *ngIf="selectedLocationsNumber" class="e-badge e-badge-success e-badge-pill">{{ selectedLocationsNumber }}</span>
        </div>
      </div>

      <div class="input-container">
        <label>Department</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="departmentsIds"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.departmentsIds.dataSource"
            [showSelectAll]="true"
          ></ejs-multiselect>
          <span *ngIf="selectedDepartmentsNumber" class="e-badge e-badge-success e-badge-pill">{{ selectedDepartmentsNumber }}</span>
        </div>
      </div>

      <div class="input-container">
        <label>Skill</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="skillIds"
            placeholder="All"
            [fields]="optionFields"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="filterColumns.skillIds.dataSource"
            [showSelectAll]="true"
          ></ejs-multiselect>
          <span *ngIf="selectedSkillsNumber" class="e-badge e-badge-success e-badge-pill">{{ selectedSkillsNumber }}</span>
        </div>
      </div>
    </div>
  </form>
</app-filter-dialog>
