<div class="candidate-row"  [ngClass]="{'selected': selected}" (click)="clickEvent.emit(candidat)">
  <div class="info">
    <div class="data">{{ order.organizationPrefix }}-{{ order.publicId }}-{{ candidat.positionId }}</div>
    <div class="title">Position ID</div>
  </div>
  <div class="info status">
    <ejs-chiplist>
      <e-chips>
        <e-chip [text]="orderStatusText[candidat.orderStatus]" [cssClass]="orderStatusText[candidat.orderStatus] | chipsCssClass"></e-chip>
      </e-chips>
    </ejs-chiplist>
  </div>
  <div class="info">
    <div class="divider"></div>
  </div>
  <div class="info">
    <div class="data">{{ candidat.lastName }}, {{ candidat.firstName }}</div>
    <div class="title">Candidate Name</div>
  </div>
  <div class="info">
    <ejs-chiplist>
      <e-chips>
        <e-chip [text]="candidatStatus[candidat.candidateStatus]" [cssClass]="candidatStatus[candidat.candidateStatus] | chipsCssClass"></e-chip>
      </e-chips>
    </ejs-chiplist>
  </div>
  <div class="info" *ngIf="!isAgency; else agencyColumn">
    <div class="data">{{ order.skill || order.skillName || '-' }}</div>
    <div class="title">Skill</div>
  </div>
  <ng-template #agencyColumn>
    <div class="info">
      <div class="data">{{ candidat.agencyName }}</div>
      <div class="title">Agency</div>
    </div>
  </ng-template>
  <div class="info">
    <div class="data"> {{order.billRate | billRate: candidat.candidateBillRate: candidat.candidateStatus: candidat.candidateBillRate}}</div>
    <div class="title">Bill Rate $</div>
  </div>
  <div class="info">
    <div class="progress-bar">
      <span class="data">{{ candidat.submissionsPercentage }}</span>
      <app-custom-progress-bar [value]="candidat.submissionsPercentage"></app-custom-progress-bar>
    </div>
    <div class="title">Submission %</div>
  </div>
  <div class="info">
    <div class="progress-bar">
      <span class="data">{{ candidat.onboardedPercentage }}</span>
      <app-custom-progress-bar [value]="candidat.onboardedPercentage"></app-custom-progress-bar>
    </div>
    <div class="title">Onboard %</div>
  </div>
  <div class="info" >
      <span class="data">{{ candidat.actualStartDate || order.jobStartDate | date: 'MM/dd/yyyy'}}</span>
      <div class="title">Actual Start Date </div>
  </div>
  <div class="info">
    <span class="data">{{ candidat.actualEndDate || order.jobEndDate | date: 'MM/dd/yyyy'}}</span>
    <div class="title">Actual End Date </div>
</div>
</div>

