@import '../../../styles/variables/colors.scss';

.candidate-row {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 103px;
  background-color: var(--bg-sub-row) !important;
  border-bottom: 1px solid var(--grid-header-border) !important;

  .info {
    font-size: 12px;

    &:not(:last-child) {
      margin-right: 26px;
    }

    .data {
      font-weight: 700;
      color: var(--text) !important;
    }

    .title {
      margin-top: 2px;
      font-weight: 400;
      color: $secondary-dark-blue-30 !important;
    }
  }

  .status {
    min-width: 186px;
    padding-left: 30px;
  }

  .divider {
    width: 1px;
    height: 34px;
    background-color: $secondary-dark-blue-45;
  }

  .progress-bar {
    display: flex;
    align-items: center;

    span {
      margin-right: 8px;
      width: 26px;
    }

    app-custom-progress-bar {
      min-width: 70px
    }
  }

  &.selected {
    background-color: $primary-active-blue-70;
  }

  .clearedToStart{
    .data{
      text-align: center;
      padding-bottom: 2px;
    }
    .title{
      min-width: 120px;
      margin-bottom: 15px;
    }
    ::ng-deep {
      .custom-progress-bar .bar{
        background-color : #f9b53e !important
      }
    }
  }
}

ejs-chiplist.e-control.e-chip-list .e-chip {
  min-width: 112px;
  width: auto;
}

