<ejs-grid
  #grid
  [dataSource]="tableData.items"
  [allowPaging]="allowPaging"
  [pageSettings]="pageSettings"
  [height]="gridHeight"
  [rowHeight]="rowHeight"
  [resizeSettings]="resizeSettings"
  [allowSorting]="allowSorting"
  [allowResizing]="allowResizing"
  [allowTextWrap]="tableSettings.allowWrap"
  [selectionSettings]="tableSettings.selectionOptions"
  [textWrapSettings]="tableSettings.wrapSettings"
  (rowSelected)="onRowClick($event)"
>
  <e-columns>
    <e-column
      type="checkbox"
      [customAttributes]="{ class: 'bootstrap' }"
      [width]="timesheetsTableColumnWidth['checkbox']">
    </e-column>
    <e-column
      field="name"
      headerText="NAME"
      [width]="timesheetsTableColumnWidth['name']">
        <ng-template #template let-data>
          <div [class.red-text]="data.statusText === TIMESHEETS_STATUSES.MISSING">
            <span class="name">{{ data.firstName }} {{ data.lastName }}</span>
          </div>
        </ng-template>
    </e-column>
    <e-column
      field="status"
      headerText="STATUS"
      [width]="timesheetsTableColumnWidth['statusText']">
        <ng-template #template let-data>
          <div class="status-cell">
            <ejs-chiplist>
              <e-chips>
                <e-chip [text]="data.status" [cssClass]="(data.status | chipsCssClass)"></e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
    </e-column>
    <e-column
      field="orderId"
      headerText="ORDER ID"
      [width]="timesheetsTableColumnWidth['orderId']">
        <ng-template #template let-data>
          <div>
            <span class="name"><b>{{ data.orderId }}</b></span>
          </div>
        </ng-template>
    </e-column>
    <e-column
      field="skill"
      headerText="SKILL"
      textAlign="Left"
      [width]="timesheetsTableColumnWidth['skillName']">
    </e-column>
    <e-column
      field="location"
      headerText="Location"
      textAlign="Left"
      [width]="timesheetsTableColumnWidth['location']">
    </e-column>
    <e-column
      field="workWeek"
      headerText="WORK WEEK"
      textAlign="Right"
      [width]="timesheetsTableColumnWidth['workWeek']">
        <ng-template #template let-data>
          <div class="align-right">
            <b>
             {{ data.startDate | date:'W - ccc M/d/yy' }}
            </b>
          </div>
        </ng-template>
    </e-column>
    <e-column
      field="department"
      headerText="DEPARTMENT"
      textAlign="Left"
      [width]="timesheetsTableColumnWidth['departmentName']">
    </e-column>
    <e-column
      field="billRate"
      headerText="BILL RATE $"
      textAlign="Right"
      [width]="timesheetsTableColumnWidth['billRate']">
        <ng-template #template let-data>
          <div class="align-right">{{ data.billRate }}</div>
        </ng-template>
    </e-column>
    <e-column
      [field]="isAgency ? 'orgName' : 'agencyName'"
      [headerText]="isAgency ? 'Org NAME' : 'Agency Name' "
      textAlign="Left"
      [width]="timesheetsTableColumnWidth['agencyName']">
    </e-column>
    <e-column
      field="totalHours"
      headerText="TOTAL HOURS"
      textAlign="Right"
      [width]="timesheetsTableColumnWidth['totalHours']">
        <ng-template #template let-data>
          <div class="align-right">{{ data.totalDays * 8 }}</div>
        </ng-template>
    </e-column>
    <e-column
      headerTextAlign="Right"
      [width]="timesheetsTableColumnWidth['controls']"
      freeze="Right">
        <ng-template #headerTemplate let-data>
          <div class="controls-header">
            <button ejs-button cssClass="e-flat icon-button">
              <span><i-feather name="menu" class="icon" (click)="onRowScaleUpClick()"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat icon-button">
              <span><i-feather name="align-justify" class="icon" (click)="onRowScaleDownClick()"></i-feather></span>
            </button>
          </div>
        </ng-template>
        <ng-template #template>
          <!-- <div class="row-tool-buttons" (click)="stopPropagation($event)">
            <button ejs-button cssClass="e-flat default-icon-button">
              <span><i-feather name="message-square" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" *ngIf="isLockMenuButtonsShown">
              <span><i-feather name="lock" class="icon"></i-feather></span>
            </button>
            <button
              ejs-dropdownbutton
              [items]="data.isMoreMenuWithDeleteButton ? moreMenuWithDeleteButton : moreMenuWithCloseButton"
              (select)="menuOptionSelected($event, data)"
              cssClass="e-flat primary-icon-button"
            >
              <span><i-feather name="more-vertical" class="icon"></i-feather></span>
            </button>
          </div> -->
        </ng-template>
    </e-column>
  </e-columns>

  <ng-template #pagerTemplate let-data>
    <div class="e-pagertemplate">
      <div class="control-section">
        <div class="content-wrapper">
          <section class="left-side-pager-controls">
            <ejs-dropdownlist
              id="rowsPerPage"
              class="dropdown-no-border"
              [dataSource]="rowsPerPageDropDown"
              [(value)]="activeRowsPerPageDropDown"
              (change)="onRowsDropDownChanged()"
            >
            </ejs-dropdownlist>
            <ejs-numerictextbox
              id="goToPage"
              class="numeric-input-no-border"
              format="#"
              [validateDecimalOnType]="validateDecimalOnType"
              [decimals]="decimals"
              placeholder="Go to:"
              min="1"
              [max]="tableData.totalPages"
              [showSpinButton]="false"
              (change)="onGoToClick($event)"
            >
            </ejs-numerictextbox>
          </section>
          <section class="right-side-pager-controls">
            <ejs-pager
              id="gridPager"
              #gridPager
              [pageSize]="pageSize"
              [totalRecordsCount]="tableData.totalCount"
              [enablePagerMessage]="false"
              [currentPage]="currentPage"
              (click)="onGoToClick($event)"
            >
            </ejs-pager>
          </section>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-grid>
