<app-grid
  [class.inactive]="!tableData?.items?.length"
  (gridReadyEmitter)="gridReady($event)"
  (navigateToPageEmitter)="onGoToClick($event)"
  (pageSizeChangeEmitter)="onRowsDropDownChanged($event)"
  (bulkEventEmitter)="bulkEventEmitter.emit($event)"
  (gridSelectedRow)="selectedRow($event)"
  (sortChanged)="sortHandler.emit($event)"
  [suppressRowClickSelection]="false"
  [rowSelection]="rowSelection"
  [columnDefinitions]="columnDefinitions"
  [currentPage]="(currentPage$ | async) || 1"
  [isLoading]="isLoading"
  [pageSize]="pageSize"
  [rowData]="tableData?.items"
  [totalRecordsCount]="tableData?.totalCount || 0"
  [changeTableSelectedIndex]="newSelectedIndex"
  [allowBulkSelection]="true"
  [bulkActionConfig]="bulkActionConfig"
  [disableBulkButton]="!userPermission[userPermissions.CanOrganizationApproveRejectTimesheets]"
>
</app-grid>
