<ng-container *ngIf="system === systemType.VMS; else irpOrderInfo">
  <section class="candidates-info">
    <div class="container-row reorders">
      <div class="column">
        <div class="icon">
          <i-feather name="user" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">{{ orderInformation.title }}</div>
          <div class="sup-title">Job title</div>
        </div>
      </div>
      <div class="column">
        <div class="icon">
          <i-feather name="map-pin" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">{{ orderInformation.regionName }}</div>
          <div class="sup-title">Region</div>
        </div>
      </div>
      <div class="column">
        <div class="icon">
          <i-feather name="map-pin" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">{{ orderInformation.locationName }}</div>
          <div class="sup-title">Location</div>
        </div>
      </div>
      <div class="column last-column">
        <div class="cost">${{ orderInformation.hourlyRate }}</div>
        <div class="sup-title">Bill Rate</div>
      </div>
      <div class="column">
        <div class="icon">
          <i-feather name="folder" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">{{ orderInformation.departmentName }}</div>
          <div class="sup-title">Department</div>
        </div>
      </div>
      <div class="column" *ngIf="(isOrganizationOrAgencyArea$ | async)?.isOrganizationArea">
        <div class="icon">
          <i-feather name="briefcase" class="icon"></i-feather>
        </div>
        <div>
          <div class="title" [title]="agencies?.tooltip">{{ agencies?.name }}</div>
          <div class="sup-title">Agency</div>
        </div>
      </div>
      <div class="column">
        <div class="icon">
          <i-feather name="briefcase" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">{{ orderInformation.orderRequisitionReasonName || '-' }}</div>
          <div class="sup-title">Reason for Requisition</div>
        </div>
      </div>
      <ng-container *ngIf="(isOrganizationOrAgencyArea$ | async)?.isOrganizationArea">
        <ng-container *ngTemplateOutlet="orderIdText"></ng-container>
      </ng-container>
      <div class="column">
        <div class="icon">
          <i-feather name="briefcase" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">{{ orderInformation?.skillName ?? orderInformation?.reOrderFrom?.skillName }}</div>
          <div class="sup-title">Skill</div>
        </div>
      </div>
      <ng-container *ngIf="(isOrganizationOrAgencyArea$ | async)?.isAgencyArea">
        <ng-container *ngTemplateOutlet="orderIdText"></ng-container>
      </ng-container>
      <div class="column" *ngIf="!(isOrganizationOrAgencyArea$ | async)?.isOrganizationArea"></div>
      <div class="column empty-column"></div>
      <div class="column empty-column"></div>
      <div class="last-column"></div>
    </div>
  </section>

  <section class="candidates-additional-info" *ngIf="orderInformation">
    <div class="container-row justify-content-normal">
      <div class="column">
        <div>
          <div class="title accent positions">
            {{ orderInformation?.acceptedPositions }}/{{ orderInformation?.openPositions }}
          </div>
          <div class="sup-title">Open Positions</div>
        </div>
      </div>
      <div class="column">
        <div>
          <div class="title">
            {{ orderInformation?.shiftStartTime | date: 'HH:mm':'UTC' }} -
            {{ orderInformation?.shiftEndTime | date: 'HH:mm':'UTC' }}
          </div>
          <div class="sup-title">Shift</div>
        </div>
      </div>
      <div class="column">
        <div>
          <div class="title">{{ orderInformation?.jobStartDate | date: 'MM/dd/yyy':'UTC' }}</div>
          <div class="sup-title">Date</div>
        </div>
      </div>
      <div class="column" *ngIf="orderInformation.minYrsRequired">
        <div class="title">{{ orderInformation.minYrsRequired }}</div>
        <div class="sup-title">Exp. Req.</div>
      </div>
    </div>
  </section>

  <div class="separator mt-16"></div>

  <section class="candidates-additional-info">
    <div class="warning">
      <div class="icon">
        <i-feather name="alert-triangle" class="icon"></i-feather>
      </div>
      <span>
        Candidates must apply and go through Onboarding process on the parent Open Per Diem order before they can accept
        shift!
      </span>
    </div>
  </section>
</ng-container>

<ng-template #irpOrderInfo>
  <ng-container [ngSwitch]="orderInformation.orderType">
    <ng-template [ngSwitchCase]="orderType.ReOrder">
      <section class="candidates-info" *ngIf="orderInformation">
        <div class="container-row">
          <div class="column">
            <div class="icon">
              <i-feather name="briefcase" class="icon"></i-feather>
            </div>
            <div>
              <div class="title">{{ orderInformation?.irpOrderMetadata?.skillName }}</div>
              <div class="sup-title">Skill</div>
            </div>
          </div>

          <div class="column">
            <div class="icon">
              <i-feather name="folder" class="icon"></i-feather>
            </div>
            <div>
              <div class="title">{{ orderInformation?.regionName }}</div>
              <div class="sup-title">Region</div>
            </div>
          </div>

          <div class="column">
            <div class="icon">
              <i-feather name="map-pin" class="icon"></i-feather>
            </div>
            <div>
              <div class="title">{{ orderInformation.locationName }}</div>
              <div class="sup-title">Location</div>
            </div>
          </div>

          <div class="column">
            <div class="icon">
              <i-feather name="folder" class="icon"></i-feather>
            </div>
            <div>
              <div class="title">{{ orderInformation.departmentName }}</div>
              <div class="sup-title">Department</div>
            </div>
          </div>

          <div class="column">
            <div class="icon">
              <i-feather name="calendar" class="icon"></i-feather>
            </div>
            <div>
              <div class="title">{{ orderInformation.jobStartDate | date: 'MM/dd/yyyy':'utc' }}</div>
              <div class="sup-title">Job Date</div>
            </div>
          </div>

          <div class="column">
            <div class="icon">
              <i-feather name="briefcase" class="icon"></i-feather>
            </div>
            <div>
              <div class="title">{{ orderInformation.orderRequisitionReasonName || '-' }}</div>
              <div class="sup-title">Reason for Requisition</div>
            </div>
          </div>

          <div class="column">
            <div class="icon">
              <i-feather name="clock" class="icon"></i-feather>
            </div>
            <div>
              <div class="title">
                {{ orderInformation?.shiftStartTime | date: 'HH:mm':'UTC' }} -
                {{ orderInformation?.shiftEndTime | date: 'HH:mm':'UTC' }}
              </div>
              <div class="sup-title">Shift</div>
            </div>
          </div>
        </div>
      </section>
      <section class="candidates-additional-info" *ngIf="orderInformation">
        <div class="container-row justify-content-normal">
          <div class="column">
            <div class="title">{{ orderInformation.onCallRequired | boolValueToText }}</div>
            <div class="sup-title">On-Call</div>
          </div>

          <div class="column">
            <div class="title">{{ orderInformation.asapStart | boolValueToText }}</div>
            <div class="sup-title">ASAP Start</div>
          </div>

          <div class="column">
            <div class="title">{{ orderInformation.criticalOrder | boolValueToText }}</div>
            <div class="sup-title">Critical Order</div>
          </div>

          <div class="column">
            <div class="title">{{ !!orderInformation?.contract | boolValueToText }}</div>
            <div class="sup-title">Contract</div>
          </div>

          <div class="column">
            <div class="title">{{ !!orderInformation.weekend | boolValueToText }}</div>
            <div class="sup-title">Weekend</div>
          </div>

          <div class="column">
            <div class="title">{{ !!orderInformation.holiday | boolValueToText }}</div>
            <div class="sup-title">Holiday</div>
          </div>

          <div class="column">
            <div class="title">{{ (orderInformation.creationDate | date: 'MM/dd/yyy':'UTC') || '-' }}</div>
            <div class="sup-title">Creation Date</div>
          </div>

          <div class="column">
            <div class="title">{{ (orderInformation?.irpOrderMetadata?.orderOpenDate | date: 'MM/dd/yyy':'UTC') || '-' }}</div>
            <div class="sup-title">Distributed On</div>
          </div>
        </div>
      </section>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #orderIdText>
  <div class="column links">
    <div class="accent link" (click)="moveToPerDiem()">
      Order Per Diem ID: {{ orderInformation?.organizationPrefix }}-{{ orderInformation?.reOrderFrom?.publicId }}
    </div>
  </div>
</ng-template>
