<section class="sidebar">
  <section class="logo">
    <span class="e-text">EINSTEIN-II</span>
  </section>

  <section class="menu">
    <app-menu></app-menu>
  </section>

  <section class="misc">
    <section class="theme-toggle">
      <ejs-switch class="switch" [checked]="isDarkTheme" (click)="toggleTheme()"></ejs-switch>
      <span class="e-text">{{themeName}}</span>
    </section>

    <section class="edu-faq">
      <a href="" class="icon-container">
        <i-feather name="folder" class="icon"></i-feather>
        <span class="e-text">Education Hub</span>
      </a>

      <a href="" class="icon-container">
        <i-feather name="info" class="icon"></i-feather>
        <span class="e-text">FAQ</span>
      </a>
    </section>
  </section>
</section>
