@import 'colors';

.file-cell {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $primary-active-blue-10;
  font-size: 14px;
  cursor: pointer;

  &__name {
    &:hover {
      text-decoration: $primary-active-blue-10 underline;
    }
  }

  i-feather {
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }
}
