<div class="login-container">
  <h1>Simple login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="dropdown-container bootstrap">
      <ejs-dropdownlist
        [fields]="optionFields"
        formControlName="user"
        [dataSource]="usersDropDownData" >
      </ejs-dropdownlist>
    </div>

    <div class="button-container">
      <button
        [disabled]="!loginForm.controls['user'].value"
        class="e-control e-btn e-lib e-primary"
        type="submit">
        Login
      </button>
    </div>
  </form>
</div>
