@import 'adaptive-response';
$gap: 12px;

.controls-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  @media #{$max-tablet} {
    flex-direction: column;
    row-gap: 15px;
  }

  .left-content {
    max-width: 50%;
    display: flex;

    & > *:not(:last-child) {
      margin-right: $gap;
    }
  }

  .right-content {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    @media #{$max-tablet} {
      justify-content: flex-start;
    }

    & > *:not(:first-child) {
      margin-left: $gap;
    }
  }

  .e-tab-header {
    .e-items.e-toolbar-items {
      padding: 0;

      .e-scroll-nav {
        display: none;
      }
    }
  }
}
