@import "adaptive-response";
@import "colors";
$gap: 12px;

.controls-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  .left-content {
    max-width: 50%;
    display: flex;

    & > *:not(:last-child) {
      margin-right: $gap;
    }
  }

  .right-content {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    & > *:not(:first-child) {
      margin-left: $gap;
    }
  }

  .e-tab-header {
    .e-items.e-toolbar-items {
      padding: 0;

      .e-scroll-nav {
        display: none;
      }
    }
  }
}

@media #{$max-tablet} {
  .controls-container {
    flex-direction: column;
    padding-top: 15px;
    row-gap: 15px;

    .right-content {
      justify-content: flex-start;
    }
  }
}

@media #{$max-mobile} {
  .controls-container {

    .left-content {
      max-width: unset;
      padding-top: 1px;
    }
  }
}
