@import 'adaptive-response';
@import 'colors';
$gap: 12px;

.controls-container {
  padding: 20px 0 10px;
  display: flex;
  justify-content: space-between;

  .left-content {
    max-width: 50%;
    display: flex;

    &.buttons {
      max-width: 100%;
    }

    & > *:not(:last-child) {
      margin-right: $gap;
    }
  }

  .right-content {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    & > *:not(:first-child, .buttons-group) {
      margin-left: $gap;
    }
  }

  .e-tab-header {
    .e-items.e-toolbar-items {
      padding: 0;

      .e-scroll-nav {
        display: none;
      }
    }
  }
}

@media #{$max-desktop-small} {
  .controls-container {
    flex-direction: column;

    .right-content {
      justify-content: flex-start;
      margin-top: 21px;
      width: 100%;
    }
  }
}

@media #{$max-tablet} {
  .controls-container {
    flex-direction: column;
    padding-top: 15px;

    .left-content {
      max-width: unset;
      width: auto;
      overflow: hidden;
      padding: 1px 14px 0 0;

      &.buttons {
        flex-direction: column;
      }
    }

    .right-content {
      justify-content: flex-start;
    }
  }
}

@media #{$max-mobile} {
  .controls-container {
    padding: 0 0 12px;

    .left-content {
      max-width: unset;
      padding-top: 1px;
    }

    .right-content {
      flex-direction: column;

      .buttons-group {
        align-items: flex-start;
        margin-left: 0;
      }
    }
  }
}
