$gap: 12px;

.controls-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  .left-content {
    width: 50%;
    display: flex;

    & > *:not(:last-child) {
      margin-right: $gap;
    }
  }

  .right-content {
    width: 50%;
    display: flex;
    justify-content: end;
    flex-grow: 1;

    & > *:not(:first-child) {
      margin-left: $gap;
    }
  }
}
