@import "colors";

.datepicker-container {
  position: relative;

  .calendar-icon {
    margin: 0;
    padding: 2px;
    height: unset;
    color: $secondary-dark-blue-20;

    &:hover,
    &:active,
    &:focus {
      color: $secondary-dark-blue-20;
    }

    i-feather {
      margin: 0;
    }
  }

  .calendar {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 100;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%) !important;
  }
}
