@import 'colors.scss';

.container {
  height: calc(100% - 80px);
  padding-top: 23px;
  padding-right: 25px;
  margin-right: -25px;

  .toolbar-buttons {
    float: right;
    position: relative;
    z-index: 99;
  }

  .workflows-container {
    display: flex;
    width: 100%;

    .workflow-steps {
      width: 100%;
    }

    .workflow-details-container {
      border-left: 1px solid $secondary-dark-blue-40;
      padding-left: 15px;
      width: 100%;

      .application-workflow {
        padding-top: 32px;
        padding-bottom: 120px;
      }
    }
  }

  .job-order-container {
    padding-top: 26px;
  }
}

.e-control.e-btn.save-button[disabled] {
  background-color: $primary-active-blue-10;
  color: $white;
  opacity: 40%;
}

.delete-button {
  margin-right: 12px;
}

.form-container {
  padding-top: 24px;
}

:host {
  ::ng-deep {
    ejs-tab {
      .e-content.e-lib.e-touch {
        height: 100% !important;
      }
    }
  }
}
