<section class="container">
  <div class="toolbar-buttons">
    <button
      ejs-button
      cssClass="e-outline delete-button"
      *ngIf="workflowsWithDetails.length !== 0"
      (click)="onDeleteWorkflowClick()">Delete</button>
    <button
      ejs-button
      cssClass="save-button"
      [isPrimary]="true"
      [disabled]="workflowsWithDetails.length === 0"
      (click)="onUpdateWorkflowClick()">Save</button>
  </div>

  <section class="workflows-container">
    <app-card-menu
      [cards]="workflowsWithDetails"
      (addNewWorkflowClick)="onAddNewWorkflowClick()"
      (cardClicked)="onCardSelected($event)"
    ></app-card-menu>
    <section class="workflow-details-container" [formGroup]="customStepOrderFormGroup">
      <app-workflow-steps
        *ngIf="orderWorkflow"
        class="workflow-steps"
        [workflow]="orderWorkflow"
        [customSteps]="customOrderSteps"
        [customStepFormGroup]="customStepOrderFormGroup"
        (customStepAddClick)="onCustomStepClick($event)"
        (customStepRemoveClick)="onCustomStepRemoveClick($event)"
      ></app-workflow-steps>
      <app-workflow-steps
        *ngIf="applicationWorkflow"
        class="workflow-steps"
        [workflow]="applicationWorkflow"
        [customSteps]="customApplicationSteps"
        [customStepFormGroup]="customStepApplicationFormGroup"
        (customStepAddClick)="onCustomStepClick($event)"
        (customStepRemoveClick)="onCustomStepRemoveClick($event)"
      ></app-workflow-steps>
    </section>
  </section>

  <app-side-dialog
    *ngIf="isActive"
    (formCancelClicked)="onCancelFormClick()"
    (formSaveClicked)="onSaveFormClick()"
    header="Add Workflow"
  >
    <form class="form-container bootstrap"
          id="addWorkflow"
          [formGroup]="workflowFormGroup">
      <div>
        <div class="input-container">
          <label for="workflow">Workflow <span class="required">*</span></label>
          <div class="input-group">
            <input id="workflow"
                   class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   placeholder="Workflow"
                   formControlName="workflow"/>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>
</section>
