<section class="container">
  <div class="toolbar-buttons" *ngIf="isJobOrderWorkflowTabActive">
    <button
      ejs-button
      hideBeforeSyncfusionLoad
      cssClass="e-outline delete-button"
      *ngIf="workflowsWithDetails.length !== 0"
      (click)="onDeleteWorkflowClick()">Delete</button>
    <button
      ejs-button
      hideBeforeSyncfusionLoad
      cssClass="save-button"
      [isPrimary]="true"
      [disabled]="workflowsWithDetails.length === 0"
      (click)="onUpdateWorkflowStepsClick()">Save</button>
  </div>
  <ejs-tab
    id="navigationTabs"
    (selected)="onTabSelected($event)"
  >
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText><div>Job Order Workflow</div></ng-template>
        <ng-template #content>
          <section class="job-order-container">
            <section class="workflows-container">
              <app-card-menu
                [cards]="workflowsWithDetails"
                (addNewWorkflowClick)="onAddNewWorkflowClick()"
                (cardClicked)="onCardSelected($event)"
              ></app-card-menu>
              <section class="workflow-details-container" *ngIf="workflowsWithDetails.length > 0">
                <div class="order-workflow">
                  <app-workflow-steps
                    [formGroup]="customStepOrderFormGroup"
                    *ngIf="orderWorkflow"
                    class="workflow-steps"
                    [workflow]="orderWorkflow"
                    [workflowSteps$]="customOrderSteps$"
                    [customStepFormGroup]="customStepOrderFormGroup"
                    (customStepRemoveClick)="onCustomStepRemoveClick()"
                  ></app-workflow-steps>
                </div>
                <div class="application-workflow">
                  <app-workflow-steps
                    [formGroup]="customStepApplicationFormGroup"
                    *ngIf="applicationWorkflow"
                    class="workflow-steps"
                    [workflow]="applicationWorkflow"
                    [workflowSteps$]="customApplicationSteps$"
                    [customStepFormGroup]="customStepApplicationFormGroup"
                    (customStepRemoveClick)="onCustomStepRemoveClick()"
                  ></app-workflow-steps>
                </div>
              </section>
            </section>

            <app-side-dialog
              *ngIf="isJobOrderWorkflowTabActive"
              (formCancelClicked)="onCancelFormClick()"
              (formSaveClicked)="onCreateWorkflowClick()"
              header="Add Workflow"
            >
              <form class="form-container bootstrap"
                    id="addWorkflow"
                    [formGroup]="workflowFormGroup">
                <div>
                  <div class="input-container">
                    <label for="workflow">Workflow <span class="required">*</span></label>
                    <div class="input-group">
                      <input id="workflow"
                             class="e-input"
                             type="text"
                             maxlength="50"
                             appValidateWithMessage
                             formControlName="workflow"/>
                    </div>
                  </div>
                </div>
              </form>
            </app-side-dialog>
          </section>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText><div>Workflow Mapping</div></ng-template>
        <ng-template #content>
          <app-workflow-mapping [isActive]="isWorkflowMappingTabActive"></app-workflow-mapping>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</section>
