:host {
  width: 100%;
}

.grid-icon-cell-container {
  display: flex;
  align-items: center;

  button {
    margin-right: 25px;
    margin-left: 5px;
  }

  .icon {
    position: relative;
    top: 2px;
    width: 16px !important;
    height: 16px !important;
    margin-left: 6px;
    color: #181d1f !important;
    stroke-linecap: unset !important;
    stroke-linejoin: unset !important;

    &.desc {
      transform: rotateZ(180deg);
    }
  }
}
