<section class="candidates-list">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Employees List</h3>
    </div>
    <div class="grid-toolbar">
      <app-search
        class="search"
        [placeholder]="candidateSearchPlaceholder"
        [showClearButton]="true"
        (inputKeyUpEnter)="searchByCandidateName($event)"
        (clearInput)="clearInputField()"
      ></app-search>
      <ng-container *ngIf="system === systemType.IRP && isFeatureIrpEnabled">
        <div class="input-container">
          <div class="input-group switch">
            <ejs-switch
              id="switcher"
              class="switch"
              (change)="onSwitcher($event)"
              [checked]="isAvailable"
            ></ejs-switch>
            <label class="switch-label" for="switcher">is Available</label>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="system !== systemType.IRP || !isFeatureIrpEnabled || isAgency; else irpCandiadtes">
    <ejs-grid
    #orderCandidatesGrid
    id="users-grid"
    class="users-grid e-gridwithheader"
    [dataSource]="candidatesList?.items || []"
    [allowSorting]="false"
    [allowResizing]="true"
    [allowSelection]="false"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [enableVirtualization]="true"
    [allowPaging]="false"
    [pageSettings]="pageSettings"
    [height]="300"
  >
    <e-columns>
      <e-column textAlign="Right" width="80">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <div
              ejs-button
              cssClass="e-flat primary-icon-button custom-button"
              [class.btn-icon__disabled]="order?.isClosed && data.statusName !== cancelledStatusName"
              (click)="onEdit(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </div>
          </div>
        </ng-template>
      </e-column>
      <e-column field="firstName" headerText="Name" textAlign="Left" width="140">
        <ng-template #template let-data>
          <div class="link" (click)="onViewNavigation(data)">
            {{ data.lastName }}, {{ data.firstName }}
          </div>
        </ng-template>
      </e-column>
      <e-column field="statusName" headerText="Status" textAlign="Left" width="180">
        <ng-template #template let-data>
          <div class="status-cell">
            <ejs-chiplist>
              <e-chips>
                <ng-container [ngSwitch]="data.status">
                  <ng-container *ngSwitchCase="candidateStatuses.BillRatePending">
                    <e-chip text="B.R.Pending" cssClass="e-pending"></e-chip>
                  </ng-container>
                  <ng-container *ngSwitchCase="candidateStatuses.OfferedBR">
                    <e-chip text="Offered B.R." cssClass="e-pending"></e-chip>
                  </ng-container>
                  <ng-container *ngSwitchCase="candidateStatuses.Onboard">
                    <e-chip [text]="data.statusName" cssClass="e-filled"></e-chip>
                  </ng-container>
                  <ng-container *ngSwitchCase="candidateStatuses.Rejected">
                    <e-chip [text]="data.statusName" cssClass="e-default"></e-chip>
                  </ng-container>
                  <ng-container *ngSwitchCase="candidateStatuses.Cancelled">
                    <e-chip [text]="data.statusName" cssClass="e-default"></e-chip>
                  </ng-container>
                  <ng-container *ngSwitchCase="candidateStatuses.Offboard">
                    <e-chip [text]="data.statusName" cssClass="e-default"></e-chip>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <!-- blank statuses -->
                  </ng-container>
                </ng-container>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="skill" headerText="Skill" textAlign="Left" width="230" *ngIf="isAgency; else agencyColumn">
      </e-column>
      <ng-template #agencyColumn>
        <e-column field="agency" textAlign="Left" headerText="Agency" width="200" *ngIf="!isAgency">
          <ng-template #template let-data>
            {{ data.agencyName }}
          </ng-template>
        </e-column>
      </ng-template>
      <e-column field="hourlyBillRate" textAlign="Right" headerText="Bill Rate &dollar;" width="200">
        <ng-template #template let-data>
          <div class="align-right">
            {{ data.hourlyBillRate | billRate: data.candidateBillRate:data.status:data.offeredBillRate }}
          </div>
        </ng-template>
      </e-column>
      <e-column field="submissionsPercentage" headerText="Submission %" textAlign="Left" width="130">
        <ng-template #template let-data>
          <div class="progress-bar">
            <span>{{ data.submissionsPercentage }}</span>
            <app-custom-progress-bar [value]="data.submissionsPercentage"></app-custom-progress-bar>
          </div>
        </ng-template>
      </e-column>
      <e-column field="onboardedPercentage" headerText="Onboard %" textAlign="Left" width="130">
        <ng-template #template let-data>
          <div class="progress-bar">
            <span>{{ data.onboardedPercentage }}</span>
            <app-custom-progress-bar [value]="data.onboardedPercentage"></app-custom-progress-bar>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
  <app-grid-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecordsCount]="candidatesList?.totalCount || 0"
    (navigateToPageEmitter)="gridPageChanged($event)"
    (pageSizeChangeEmitter)="gridPerPageChanged($event)"
  ></app-grid-pagination>
  </ng-container>

  <ng-template #irpCandiadtes>
    <ejs-grid
      #orderCandidatesGrid
      id="users-grid"
      class="users-grid e-gridwithheader"
      [dataSource]="irpCandidates?.items  || []"
      [allowSorting]="false"
      [allowResizing]="true"
      [allowSelection]="false"
      [rowHeight]="rowHeight"
      [resizeSettings]="resizeSettings"
      [enableVirtualization]="true"
      [allowPaging]="false"
      [pageSettings]="pageSettings"
      [height]="300"
    >
      <e-columns>
        <e-column textAlign="Right" width="120">
          <ng-template #template let-data>
            <div class="row-tool-buttons">
              <div
                ejs-button
                cssClass="e-flat primary-icon-button custom-button"
                [class.btn-icon__disabled]="selectedOrder.irpOrderMetadata?.status === orderStatus.Closed"
              >
              <span class="edit-button"><i-feather name="flag" class="icon"></i-feather></span>
              </div>
              <div
                ejs-button
                cssClass="e-flat primary-icon-button custom-button"
                [class.btn-icon__disabled]="selectedOrder.irpOrderMetadata?.status === orderStatus.Closed"
              >
              <ejs-tooltip id="tooltip" content="Notify" position="TopCenter">
                <span class="edit-button"><i-feather name="mail" class="icon"></i-feather></span>
              </ejs-tooltip>
              </div>
              <div
                ejs-button
                cssClass="e-flat primary-icon-button custom-button"
                [class.btn-icon__disabled]="selectedOrder.irpOrderMetadata?.status === orderStatus.Closed
                || data?.status === onboardedCandidate"
                (click)="changeIrpCandidateStatus(data)"
              >
                <span class="edit-button"><i-feather name="calendar" class="icon"></i-feather></span>
              </div>
            </div>
          </ng-template>
        </e-column>
        <e-column field="firstName" headerText="Name" textAlign="Left" width="140">
          <ng-template #template let-data>
            <div class="link" (click)="onViewNavigation(data)">
              {{ data.lastName }}, {{ data.firstName }}
              <ng-container *ngIf="!data.isOriented">
                <ejs-tooltip content="Not oriented" position="TopRight">
                  <i-feather name="compass" class="icon"></i-feather>
                </ejs-tooltip>
              </ng-container>
            </div>
          </ng-template>
        </e-column>
        <e-column field="orderStatusText" headerText="Status" textAlign="Left" width="150">
          <ng-template #template let-data>
            <div class="status-cell">
              <ejs-chiplist>
                <e-chips>
                  <e-chip [text]="data.statusName" [cssClass]="data.statusName | chipsCssClass"></e-chip>
                </e-chips>
              </ejs-chiplist>
            </div>
          </ng-template>
        </e-column>
        <e-column field="primarySkill" headerText="Primary Skill" textAlign="Left" width="230">
          <ng-template #template let-data>
            <div>
              {{data.primarySkill.skillDescription}}
            </div>
          </ng-template>
        </e-column>
        <e-column field="option" headerText="Work Commitment" textAlign="Left" width="140">
        </e-column>
        <e-column field="isContract" headerText="Contract Employee" textAlign="Left" width="116">
          <ng-template  #template let-data>
            <div>
              {{data.isContract | boolValueToText }}
            </div>
          </ng-template>
        </e-column>
        <e-column field="lastShiftFrom" headerText="Last Shift Scheduled" textAlign="Left" width="116">
          <ng-template  #template let-data>
            <div>
              {{data.lastShiftFrom | date: 'MM/dd/yyyy' }}
            </div>
          </ng-template>
        </e-column>
        <e-column field="lastShiftTime" headerText="Last Shift Time" textAlign="Left" width="116">
        </e-column>
        <e-column field="nextShiftFrom" headerText="Next Shift Scheduled" textAlign="Left" width="116">
          <ng-template  #template let-data>
            <div>
              {{data.nextShiftFrom | date: 'MM/dd/yyyy' }}
            </div>
          </ng-template>
        </e-column>
        <e-column field="nextShiftTime" headerText="Next Shift Time" textAlign="Left" width="116">
        </e-column>
        <e-column field="weeklyHoursSchedule" headerText="Week hours SCH." textAlign="Left" width="116">
        </e-column>
        <e-column field="weekOvertime" headerText="Week Overtime" textAlign="Left" width="116">
        </e-column>
        <e-column field="payRate" headerText="Pay Rate" textAlign="Left" width="116">
        </e-column>
      </e-columns>
    </ejs-grid>
    <app-grid-pagination
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [totalRecordsCount]="candidatesList?.totalCount || 0"
      (navigateToPageEmitter)="gridPageChanged($event)"
      (pageSizeChangeEmitter)="gridPerPageChanged($event)"
    ></app-grid-pagination>
  </ng-template>

</section>

<app-reorder-status-dialog
  [openEvent]="openDetails"
  [candidate]="candidate"
  [isAgency]="isAgency"
  [candidateJob]="candidateJob"
  [dialogNextPreviousOption]="dialogNextPreviousOption"
  [actionsAllowed]="agencyActionsAllowed && userPermission[userPermissions.CanAgencyMatchOrders]"
  (nextPreviousOrderEvent)="onNextPreviousOrderEvent($event)"
  [isCandidatePayRateVisible]="isCandidatePayRateVisible"
></app-reorder-status-dialog>
