@import 'colors';
@import 'adaptive-response';

.candidates-list {
  .link {
    cursor: pointer;
    color: $primary-active-blue-10;
    font-weight: 700;
    font-size: 14px;
  }

  .candidate-link {
    cursor: pointer;
    color: $primary-active-blue-10;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;

    .link-name {
      margin-bottom: 4px;
    }

    i-feather {
      cursor: pointer;
      color: $supportive-red;
    }
  }

  .progress-bar {
    display: flex;
    align-items: center;

    span {
      margin-right: 8px;
      width: 26px;
    }
  }
  .icon {
    width: 14px !important;
    height: 14px !important;
    padding-left: 5px;
  }

  .sort-header {
    display: flex;

    i-feather {
      cursor: pointer;
      margin-top: 2px;
      margin-left: 5px;
      color: $primary-active-blue;
    }
  }

  .grid-toolbar {
    display: flex;
    column-gap: 24px;

    .search {
      width: 280px;
      @media (max-width: 820px) {
        width: 220px;
      }
    }
  }
}

.e-tooltip-wrap .e-arrow-tip .e-tip-bottom {
  display: none;
}

.input-group.switch {
  display: flex;
  align-items: center;
}

.switch-label {
  display: flex;
  cursor: pointer;
}

.custom-button {
  .icon {
    padding-left: 0;
  }
  &:hover {
    border-radius: 8px;
  }
}

.e-active {
  border-radius: 8px !important;
}

@media #{$max-mobile} {
  .candidates-list {
    .e-gridcustomheader {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 12px;
      padding: 12px;
    }

    .grid-toolbar {
      column-gap: 12px;

      .search {
        width: 180px;
      }

      .input-group.switch {
        flex-direction: column;
        align-items: baseline;
        row-gap: 12px;

        .switch-label {
          flex-direction: row;
          column-gap: 4px;
        }
      }
    }
  }
}
