<section class="flex-column">
  <section class="toolbar">
    <section>
      <h3>Holidays</h3>
    </section>
    <section [class.hidden]="!isLoaded">
      <button
        ejs-button
        id="filterButton"
        (click)="showFilters()"
        cssClass="e-outline button-filter">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill">{{ filteredItems.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="importButton"
        cssClass="e-outline button-export">
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
      <app-tooltip-container
        [message]="toolTipMessage"
        [showToolTip]="!userPermission[userPermissions.CanEditOrganizationHolidays]">
        <button
          ejs-button
          id="addDepartmentButton"
          [disabled]="!userPermission[userPermissions.CanEditOrganizationHolidays]"
          [isPrimary]="true"
          (click)='addHoliday()'>Assign Holiday</button>
      </app-tooltip-container>
    </section>
  </section>
  <ejs-grid class="grid grid-component"
    #grid
    [dataSource]="(holidaysPage$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [enableVirtualization]="false"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    (actionBegin)="actionBegin($event)"
    (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)"
    (dataBound)="gridDataBound(grid)"
    [selectionSettings]="selectionSettings"
    class="grid-component"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="120">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="editHoliday(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="deleteHoliday(data, $event)" [disabled]="!userPermission[userPermissions.CanEditOrganizationHolidays]">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="regionId" headerText="region" width="100%">
        <ng-template #template let-data>
          <ng-container *ngIf="!data.regionId">
            All
          </ng-container>
          <ng-container *ngIf="data.regionId">
            {{ data.regionName }}
          </ng-container>
        </ng-template>
      </e-column>
      <e-column field="locationId" headerText="location" type="location" width="100%">
        <ng-template #template let-data>
          <ng-container *ngIf="!data.locationId">
            All
          </ng-container>
          <ng-container *ngIf="data.locationId">
            {{ data.locationName }}
          </ng-container>
        </ng-template>
      </e-column>
      <e-column field="holidayName" headerText="holiday name" width="100%"></e-column>
      <e-column field="startDateTime" headerText="start date & time" width="100%">
        <ng-template #template let-data>
          {{ data.startDateTime | date: "MM/dd/yyyy HH:mm":"utc": "en-US" }}
        </ng-template>
      </e-column>
      <e-column field="endDateTime" headerText="end date & time" width="100%">
        <ng-template #template let-data>
          {{ data.endDateTime | date: "MM/dd/yyyy HH:mm":"utc": "en-US" }}
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1" [max]="(holidaysPage$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(holidaysPage$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(holidaysPage$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-filter-dialog [items]="filteredItems" [count]="(holidaysPage$ | async)?.totalCount" (deleteFilter)="onFilterDelete($event)" (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()" (closeDialogClicked)="onFilterClose()">
  <form class="bootstrap" [formGroup]="HolidayFilterFormGroup">
    <div class="input-container">
      <label>Region</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="regionIds"
                         placeholder="All"
                         [fields]="optionFields"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="regions">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Location</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="locationIds"
                         placeholder="All"
                         [fields]="optionFields"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.locationIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Holiday Name</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="holidayNames"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.holidayNames.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Year</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="years"
                         placeholder="All"
                         [fields]="optionFields"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.years.dataSource">
        </ejs-multiselect>
      </div>
    </div>
  </form>
</app-filter-dialog>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>

<app-side-dialog
  [disableSaveButton]="!userPermission[userPermissions.CanEditOrganizationHolidays]"
  (formCancelClicked)="closeDialog()"
  (formSaveClicked)="saveHoliday()"
  header="{{ title }} Holiday"
  >
  <form *ngIf="showForm" class="holidays-form-dialog form-container bootstrap"
        id="addEditHolidaysForm"
        [formGroup]="HolidayFormGroup">

        <div class="input-container">
          <label>System Configuration</label>
          <div class="bootstrap checkbox-container">
            <ejs-checkbox formControlName="includeInIRP" label="IRP"></ejs-checkbox>&nbsp;&nbsp;&nbsp;
            <ejs-checkbox formControlName="includeInVMS" label="VMS"></ejs-checkbox>
          </div>
        </div>
        
    <ng-container *ngIf="title === 'Assign'">

      <div>
        <div class="input-container">
          <label>Region <span class="required">*</span></label>
          <div class="input-group multiselect">
            <ejs-multiselect appValidateWithMessage
                             mode="CheckBox"
                             formControlName="regions"
                             selectAllText="Select All"
                             [fields]="optionFields"
                             [showSelectAll]="true"
                             [allowFiltering]="true"
                             [showDropDownIcon]="true"
                             [dataSource]="regions">
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container">
          <label>Location <span class="required">*</span></label>
          <div class="input-group multiselect">
            <ejs-multiselect appValidateWithMessage
                             mode="CheckBox"
                             formControlName="locations"
                             selectAllText="Select All"
                             [fields]="optionFields"
                             [showSelectAll]="true"
                             [allowFiltering]="true"
                             [showDropDownIcon]="true"
                             [dataSource]="locations">
              <ng-template #itemTemplate="" let-data="">
                  <div *ngIf="data.id" class="location-option-container">
                    <span class="location-name">{{data.name}}</span>
                    <span class="region-name">{{data.regionName}}</span>
                  </div>
                  <ng-container *ngIf="!data.id">
                    <span class="location-name">{{data.name}}</span>
                  </ng-container>
              </ng-template>
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="title === 'Edit'">
      <div>
        <div class="input-container">
          <label for="region">Region <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist
              appValidateWithMessage
              [allowFiltering]="true"
              [dataSource]="editRegions"
              [fields]="optionFields"
              formControlName="regionId">
            </ejs-dropdownlist>
          </div>
        </div>
      </div>

      <div>
        <div class="input-container">
          <label for="region">Location <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist
              appValidateWithMessage
              [allowFiltering]="true"
              [dataSource]="locations"
              [fields]="optionFields"
              formControlName="locationId">
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
    </ng-container>

    <div>
      <div class="input-container">
        <label for="holidayName">Holiday Name <span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist [dataSource]="masterHolidays"
                            [allowFiltering]="true"
                            appValidateWithMessage
                            name="holidayName"
                            formControlName="holidayName"
                            [fields]="holidayOptionFields">
          </ejs-dropdownlist>
        </div>
      </div>
    </div>

    <div class="timepicker-field">
      <div class="input-container calendar">
        <label for="startDateTime">Start Date & Time <span class="required">*</span></label>
        <div class="input-group datetimepicker">
          <ejs-datetimepicker appValidateWithMessage
                          name="startDateTime"
                          formControlName="startDateTime"
                          placeholder="Select Date and Time"
                          format="MM/dd/yyyy HH:mm"
                          timeFormat="HH:mm"
                          [step]="30">
          </ejs-datetimepicker>
        </div>
      </div>
    </div>

    <div class="timepicker-field">
      <div class="input-container calendar">
        <label for="endDateTime">End Date & Time <span class="required">*</span></label>
        <div class="input-group datetimepicker">
          <ejs-datetimepicker appValidateWithMessage
                          name="endDateTime"
                          formControlName="endDateTime"
                          placeholder="Select Date and Time"
                          format="MM/dd/yyyy HH:mm"
                          timeFormat="HH:mm"
                          [step]="30">
          </ejs-datetimepicker>
        </div>
      </div>
    </div>
    <p *ngIf="(startTimeField?.errors || endTimeField?.errors) as errorObj" class="error">
      {{ errorObj['invalidDate'] ? datesValidationMessage : '' }}
    </p>
  </form>
</app-side-dialog>

<app-file-upload-dialog></app-file-upload-dialog>
