@import 'colors';

.day-cell-block {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
}

.cell-value {
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  display: inline-block;
  line-height: 20px;

  &.main {
    font-size: 12px;
    font-weight: 700;
    color: var(--sub-title-2);
    line-height: 16px;
  }
}
