@import "colors";
@import "adaptive-response";

.quick-order-form-container {
  padding: 5px 24px;

  .row {
    display: flex;
    width: 100%;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    > *:not(:first-child) {
      box-sizing: border-box;
      padding-left: 10px;
    }

    .order-type-status-form {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .order-type-container {
        flex: 1;
      }

      .order-status {
        width: 32.39%;
        padding-left: 10px;
      }
    }

    .contact-details-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex: 1;
    }
  }

  .quick-order-header-fields {
    align-items: flex-start;

    .title-job {
      margin-top: 12px;
    }
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .special-project,
  .contact-details,
  .job-description,
  .job-distibution,
  .general-information {
    margin: 24px auto;

    .title {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 700;
      color: $black;
    }
  }

  .mobile-submit-btn {
    width: 100%;
    margin-top: 24px;
  }
}

.job-description-form {
  display: flex;
  width: 100%;

  .job-description {
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
  }

  ejs-textbox.e-control {
    .e-textbox {
      height: 196px !important;
    }
  }
}

.edit-button-container {
  display: flex;
  align-items: flex-end;
}

.form-line-item-20 {
  width: 20%;
}

.form-line-item-30 {
  width: 30%;
}

.form-line-item-35 {
  width: 35%;
}

.form-line-item-40 {
  width: 40%;
}

.form-line-item-50 {
  width: 50%;
}

.form-line-item-60 {
  width: 60%;
}

.form-line-item-70 {
  width: 70%;
}

.form-line-item-100 {
  width: 100%;
}

.contact-details-title-container {
  flex: 1;
  margin-right: 10px;
}

// mobile resolution styles

.e-accordion {
  background-color: $background !important;
  margin-top: 12px;

  .e-acrdn-header {
    .header-title {
      display: flex;
      align-items: center;

      span:first-child {
        margin-right: 5px;
      }
    }
  }

  .e-acrdn-item {
    background-color: $white !important;
    border-radius: 8px;

    &.form-invalid {
      border: 1px solid $supportive-red !important;
    }
  }

  .e-acrdn-panel {
    background-color: $background;

    .e-acrdn-content {
      margin-top: 8px;
      border-radius: 12px;
      padding: 0 16px 16px;
      background-color: $white;
    }
  }
}

.e-badge.e-badge-success.e-badge-pill {
  background-color: $secondary-dark-blue-20 !important;
}

.e-accordion .e-acrdn-item .e-acrdn-header:hover .e-badge.e-badge-success.e-badge-pill,
.e-accordion .e-acrdn-item.e-select.e-active > .e-acrdn-header .e-badge.e-badge-success.e-badge-pill {
  background-color: $primary-active-blue-15 !important;
}

@media #{$max-mobile} {
  .row {
    flex-direction: column;
    margin: 0 !important;

    > * {
      padding: 15px 0 0 !important;
    }

    .order-status {
      width: 50% !important;
    }

    .contact-details-title-wrapper {
      width: 100%;
    }
  }

  .job-description-form {
    flex-direction: column;

    .job-description {
      padding: 10px 0 0;
    }
  }

  .form-line-item-20,
  .form-line-item-30,
  .form-line-item-35,
  .form-line-item-40,
  .form-line-item-60,
  .form-line-item-70 {
    width: 100%;
  }

  .special-project,
  .contact-details,
  .job-description,
  .job-distibution,
  .general-information {
    margin: 0 !important;

    .title {
      margin-bottom: 0 !important;
    }
  }
}
