@import "colors";

.quick-order-form-container {
  padding: 5px 24px;

  .row {
    display: flex;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    > *:not(:first-child) {
      box-sizing: border-box;
      padding-left: 10px;
    }

    .order-type-status-form {
      display: flex;
      flex: 1;

      .order-type-container {
        flex: 1;
        padding-right: 12px;
      }

      .order-status {
        width: 32%;
      }
    }
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .job-description,
  .job-distibution,
  .general-information {
    margin: 24px auto;

    .title {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 700;
      color: $black;
    }
  }
}

.job-description-form {
  display: flex;
  width: 100%;

  .job-description {
    margin: 0;
    padding-left: 12px;
  }

  ejs-textbox.e-control {
    .e-textbox {
      height: 117px !important;
    }
  }
}

.form-line-item-20 {
  width: 20%;
}

.form-line-item-30 {
  width: 30%;
}

.form-line-item-40 {
  width: 40%;
}

.form-line-item-50 {
  width: 50%;
}

.form-line-item-60 {
  width: 60%;
}
