@import"colors";
.quick-order-form-container {
  padding: 5px 24px;

  .row {
    display: flex;
    width: 100%;

    .organization-form {
      flex: 1;
      margin-right: 12px;
    }

    .order-type-status-form {
      display: flex;

      .order-type-container {
        flex: 1;
        margin-right: 12px;
      }
    }
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .general-information {
    margin: 24px auto;

    .title {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 700;
      color: $black;
    }

    .general-information-form-container {
      .datepicker-container,
      .input-container {
        margin-bottom: 15px;
        margin-right: 10px;
      }
    }
  }
}

.form-line-item-20 {
  width: 20%;
}

.form-line-item-30 {
  width: 30%;
}

.form-line-item-60 {
  width: 60%;
}