<app-close-order-side-dialog
  header="Close {{isPosition ? 'Position' : 'Order'}}"
  (isPositionEmitter)="setCloseDateAvailability($event)"
  (formCancelClicked)="onCancel()"
  (formSaveClicked)="onSave()">
  <form class="close-form" [formGroup]="closeForm">
    <div class="input-container bootstrap">
      <label for="reason">Reason <span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          id="reason"
          appValidateWithMessage
          [allowFiltering]="true"
          [dataSource]="closureReasons"
          [fields]="reasonFields"
          formControlName="reasonId">
        </ejs-dropdownlist>
      </div>
    </div>
    <app-datepicker
      [formGroupInstance]="closeForm"
      [enableMask]="true"
      [required]="true"
      [maskPlaceholder]="datepickerMask"
      [min]="minDate"
      [max]="maxDate"
      [strictMode]="true"
      id="date"
      controlName="closingDate"
      label="Closing Date"
      format="MM/dd/yyyy"
      placeholder="MM/DD/YYYY"
    ></app-datepicker>
    <div tabindex="0" class="e-card comments" *ngIf="currentSystem === systemTypes.VMS">
      <div class="e-card-content">
        <app-comments
          [comments]="comments"
          [canVmsCreateOrders]="canCreateOrder"
          [commentContainerId]="commentContainerId"
          [useBackground]="false"></app-comments>
      </div>
    </div>
    <p class="warning">
      <i-feather name="alert-circle" class="icon"></i-feather>
      <span>
        Closing {{isPosition ? 'a position' : 'an order'}} will permanently close it without the ability to reverse the action!
      </span>
    </p>
  </form>
</app-close-order-side-dialog>
