<ejs-dialog
  id="invite-dialog"
  #sideDialog
  cssClass="dialog"
  [width]="'538px'"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">Assoсiate {{title}}</h3>
          </div>
          <div class="e-card-content">
            <button ejs-button cssClass="e-outline button-cancel" id="cancelFormButton" (click)="onCancel()">Cancel</button>
            <button ejs-button id="addFormButton" type="submit" [isPrimary]="true" (click)="onInvite()">
              Save
            </button>
          </div>
        </div>
      </section>

      <section class="invite bootstrap">
        <div class="input-container">
          <label>{{title}}</label>
          <div class="input-group">
            <input class="e-input" type="text" placeholder="Agency" disabled [value]="businessUnitName$ | async"/>
          </div>
        </div>
        <div class="dropdown-container">
          <label>{{isAgency ? 'Organization' : 'Agency'}}</label>
          <div class="input-group dropdown">
            <ejs-multiselect
              appValidateWithMessage
              [formControl]="control"
              mode="CheckBox"
              [fields]="optionFields"
              [dataSource]="associateAgencyOrg$ | async"
            ></ejs-multiselect>
          </div>
        </div>
      </section>
    </section>
  </ng-template>
</ejs-dialog>
