@import "../../../../styles/variables/colors";

.candidates-list {
  .link {
    cursor: pointer;
    color: $primary-active-blue-10;
    font-weight: 700;
    font-size: 14px;
  }

  .progress-bar {
    display: flex;
    align-items: center;

    span {
      margin-right: 8px;
      width: 26px;
    }
  }
  .icon {
    width: 14px !important;
    height: 14px !important;
    padding-left: 5px;
  }

  .sort-header {
    display: flex;

    i-feather {
      cursor: pointer;
      margin-top: 2px;
      margin-left: 5px;
      color: $primary-active-blue;
    }
  }

  .grid-toolbar {
    display: flex;
    column-gap: 50px;
    
    .search {
      width: 280px;
    }
  }
}

.e-tooltip-wrap .e-arrow-tip .e-tip-bottom {
  display: none;
}

.input-group.switch {
  display: flex;
  align-items: center;
}

.switch-label {
  display: flex;
  cursor: pointer;
}

.custom-button {
  .icon {
    padding-left: 0;
  }
  &:hover {
    border-radius: 8px;
  }
}

.e-active{
  border-radius: 8px !important;
}
