.general-information {
  .org-section,
  .address-section,
  .city-section,
  .status-section,
  .zipcode-section {
    display: flex;
  }

  .left-column {
    width: 60%;
  }

  .right-column {
    width: 40%;
  }

  .id-container {
    display: flex;
    width: 100%;
  }

  .input-container,
  .dropdown-container {
    margin-bottom: 15px;
    margin-right: 10px;
    flex: 1 1 0px;
  }

  .input-container label,
  .dropdown-container label {
    margin-bottom: 5px !important;
    display: block;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .checkbox-container {
    display: flex;

    label {
      margin-right: 12px;
    }
  }
}
