<section class="table-wrapper">
  <ag-grid-angular #agGridPagination
                  style="width: 100%; height: 550px;"
                  class="ag-theme-alpine"
                  [animateRows]="true"
                  [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef"
                  [suppressAggFuncInHeader]="true"
                  [modules]="modules"                
                  [cacheBlockSize]="cacheBlockSize"
                  [rowModelType]="rowModelType"
                  [frameworkComponents]="frameworkComponents"
                  [pagination]="true"
                  [paginationPageSize]="paginationPageSize"                    
                  (gridReady)="onGridReady($event)"
                  [sideBar]="sideBar"                                                
                  toolPanel="columns"
                  [serverSideStoreType]="serverSideStoreType"                
                  [paginationAutoPageSize]="false"
                  [maxBlocksInCache] ="maxBlocksInCache"
                  [noRowsOverlayComponent]="noRowsOverlayComponent"
                  [noRowsOverlayComponentParams]="noRowsOverlayComponentParams">
  </ag-grid-angular>
</section>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6 text-right">
    <ejs-dropdownlist
      id="rowsPerPage"
      class="dropdown-no-border"
      [dataSource]="rowsPerPageDropDown"
      [(value)]="activeRowsPerPageDropDown"
      (change)="onPageSizeChanged($event)">
    </ejs-dropdownlist></div>
</div>
<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>



