<app-widget-wrapper [title]="'Applicants by Region'" [isLoading]="isLoading">
  <ng-template #chart>
    <app-map class="app-maps-chart__map" [layers]="chartData?.chartData"></app-map>
  </ng-template>

  <ng-template #legend>
    <div #legend class="app-maps-chart__legend">
      <div>
        <div class="app-maps-chart__range-line" (click)="redirectToSourceContent()"></div>
        <div class="app-maps-chart__range-values">
          {{ chartData?.chartData?.[0]?.shapeSettings?.colorMapping?.[0]?.from }} -
          {{ chartData?.chartData?.[0]?.shapeSettings?.colorMapping?.[0]?.to }}
        </div>
      </div>

      <div *ngIf="chartData?.unknownStateCandidates" class="app-maps-chart__unknown-candidates">
        <span class="app-maps-chart__text">Applicants with no state indicated</span>
        <span class="app-maps-chart__number">{{ chartData?.unknownStateCandidates }}</span>
      </div>
    </div>
  </ng-template>
</app-widget-wrapper>
