<app-widget-wrapper [isLoading]="isLoading">
  <ng-template #header>
    <h3 class="widget-header__title">Applicants by Region</h3>
  </ng-template>

  <ng-template #mapChart>
    <app-map class="app-maps-chart__map" [layers]="chartData?.chartData" [isDarkTheme]="isDarkTheme"></app-map>
  </ng-template>

  <ng-template #legend>
    <div #legend class="app-maps-chart__legend">
      <div>
        <div class="app-maps-chart__range-line" (click)="redirectToSourceContent()"></div>
        <div class="app-maps-chart__range-values">
          {{ chartData?.chartData?.[0]?.shapeSettings?.colorMapping?.[0]?.from }} -
          {{ chartData?.chartData?.[0]?.shapeSettings?.colorMapping?.[0]?.to }}
        </div>
      </div>

      <div *ngIf="chartData?.description" class="app-maps-chart__unknown-candidates">
        <span class="app-maps-chart__text">{{ chartData?.description ?? '' }}</span>
      </div>

      <div *ngIf="chartData?.unknownStateCandidates" class="app-maps-chart__unknown-candidates">
        <span class="app-maps-chart__text">Applicants with no state indicated</span>
        <span class="app-maps-chart__number" [ngClass]="isDarkTheme?' app-maps-chart__dark-number':''">{{ chartData?.unknownStateCandidates }}</span>
      </div>
    </div>
  </ng-template>
</app-widget-wrapper>
