<app-grid
  gridTitle="Work Commitment"
  [rowData]="candidateWorkCommitmentsPage?.items || []"
  [columnDefinitions]="columnDef"
  [rowSelection]="rowSelection"
  [totalRecordsCount]="candidateWorkCommitmentsPage?.totalCount || 0"
  [pageSize]="5"
  [currentPage]="pageNumber"
  [customRowsPerPageDropDownObject]="customRowsPerPageDropDownObject"
  [disableRowsPerPageDropdown]="true"
  [gridOptions]="gridOptions"
  [context]="context"
  [showUpScrollButton]="false"
  (navigateToPageEmitter)="handleChangePage($event)"
>
  <button
    *ngIf="(currentUserPermissions$ | async) as userPermission"
    action-button
    class="add-action"
    cssClass="e-action-button"
    ejs-button
    (click)="addCommitment()"
    [disabled]="!userPermission[userPermissions.ManageIrpCandidateProfile]"
  >
    <i-feather name="plus" class="icon"></i-feather>
    <span class="btn-label">Add Commitment</span>
  </button>
</app-grid>
