@import "colors";
@import 'mixins';

.input-container {
  margin-bottom: 15px;

  .input-group {
    margin-top: 5px;
  }

  .input-group {
    position: relative;

    .e-badge {
      position: absolute;
      right: 30px;
      top: 11px;
    }
  }
}

@include regions-by-unit-options;

.ordered-chips {
  &__section {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }

  &__title {
    margin-right: 10px;
    line-height: 32px;
    font-size: 12px;
    color: $secondary-dark-blue-30;
    display: inline;
  }

  &__value {
    display: flex;
  }
}

.bootstrap {
  .e-multi-select-wrapper {
    .e-close-hooker {
      margin-right: 10px;
    }
  }
}

.e-chip-list {
  padding: 4px 2px !important;

  .e-chip {
    width: auto;
    text-transform: initial;
    font-variant: common-ligatures;
    font-weight: normal;
    font-size: 12px;
    height: 24px;
    background-color: $secondary-dark-blue-50;
    color: $black;
    border: 1px solid $secondary-dark-blue-40;
    line-height: 14px;

    .e-chip-delete.e-dlt-btn {
      color: $black;
      font-weight: 600;

      &::before {
        content: "\e7e7";
      }
    }
  }
}
