<section class="candidates-info" *ngIf="orderInformation">
  <div class="container-row">
    <div class="column">
      <div class="icon">
        <i-feather name="user" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{orderInformation.title}}</div>
        <div class="sup-title">Job title</div>
      </div>
    </div>
    <div class="column">
      <div class="icon">
        <i-feather name="map-pin" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{orderInformation.locationName}}</div>
        <div class="sup-title">Location</div>
      </div>
    </div>
    <div class="column">
      <div class="icon">
        <i-feather name="folder" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{orderInformation.departmentName}}</div>
        <div class="sup-title">Department</div>
      </div>
    </div>

    <div class="column empty-column"></div>

    <div class="column">
      <div class="icon">
        <i-feather name="briefcase" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{orderInformation.orderRequisitionReasonName || '-'}}</div>
        <div class="sup-title">Reason for Requisition</div>
      </div>
    </div>
    <div class="column">
      <div class="icon">
        <i-feather name="briefcase" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{orderInformation?.skillName}}</div>
        <div class="sup-title">Skill</div>
      </div>
    </div>

    <div class="column"></div>
  </div>
</section>

<section class="candidates-additional-info" *ngIf="orderInformation">
  <div class="container-row justify-content-normal">
    <div class="column">
      <div class="title">{{ orderType[orderInformation.orderType] }}</div>
      <div class="sup-title">Job Type</div>
    </div>
    <div class="column">
      <div class="title">{{activeValue(orderInformation.onCallRequired)}}</div>
      <div class="sup-title">Oncall</div>
    </div>
    <div class="column">
      <div class="title">{{ orderInformation.criticalOrder ? 'Yes' : 'No'}}</div>
      <div class="sup-title">Critical Order</div>
    </div>
    <div class="column">
      <div class="title">{{(orderInformation.orderOpenDate | date: 'MM/dd/yyy' : 'UTC') || '-'}}</div>
      <div class="sup-title">Distributed On</div>
    </div>
  </div>
</section>
