<section class="candidates-info" *ngIf="orderInformation">
  <div class="container-row" [class.extension]="orderInformation.extensionFromId">
    <div class="column">
      <div class="icon">
        <i-feather name="user" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation.title }}</div>
        <div class="sup-title">Job title</div>
      </div>
    </div>
    <div class="column">
      <div class="icon">
        <i-feather name="folder" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation.departmentName }}</div>
        <div class="sup-title">Department</div>
      </div>
    </div>
    <div class="column">
      <div class="icon">
        <i-feather name="map-pin" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation.locationName }}</div>
        <div class="sup-title">Location</div>
      </div>
    </div>
    <div class="column" *ngIf="orderInformation.extensionFromId">
      <div class="icon">
        <i-feather name="briefcase" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation?.skillName }}</div>
        <div class="sup-title">Skill</div>
      </div>
    </div>
    <div *ngIf="orderInformation.orderType !== orderType.PermPlacement" class="column last-column">
      <div class="cost">${{ orderInformation.hourlyRate }}</div>
      <div class="sup-title">Bill Rate</div>
    </div>
    <div class="column" *ngIf="orderInformation.extensionFromId">
      <div class="icon">
        <i-feather name="briefcase" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation.orderRequisitionReasonName }}</div>
        <div class="sup-title">Reason for Requisition</div>
      </div>
    </div>
    <div class="column">
      <div class="icon">
        <i-feather name="calendar" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation.jobStartDate | date: 'MM/dd/yyy' }}</div>
        <div class="sup-title">{{ dateFieldName }}</div>
      </div>
    </div>
    <div *ngIf="!hideEndDate" class="column">
      <div class="icon">
        <i-feather name="calendar" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation.jobEndDate | date: 'MM/dd/yyy' }}</div>
        <div class="sup-title">End Date</div>
      </div>
    </div>
    <div class="column"></div>
    <div class="column last-column">
      <div *ngIf="orderInformation?.extensionInitialOrderId" class="accent link" (click)="moveToInitialOrder()">
        Initial Order ID: {{ orderInformation.organizationPrefix }}-{{ orderInformation?.extensionPublicId }}
      </div>
      <div *ngIf="orderInformation.hasParentExtension" class="accent link" (click)="moveToPreviousExtension()">
        Previous Extension: {{ orderInformation?.extensionFromId }}
      </div>
    </div>
    <div *ngIf="orderInformation.orderType === orderType.PermPlacement" class="column">
      <div class="icon">
        <i-feather name="percent" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">{{ orderInformation?.orderPlacementFee }}%</div>
        <div class="sup-title">Order Placement Fee</div>
      </div>
    </div>
    <div *ngIf="orderInformation.orderType === orderType.PermPlacement" class="column">
      <div class="icon">
        <i-feather name="dollar-sign" class="icon"></i-feather>
      </div>
      <div>
        <div class="title">
          {{ orderInformation?.annualSalaryRangeFrom | currency }} -
          {{ orderInformation?.annualSalaryRangeTo | currency }}
        </div>
        <div class="sup-title">Annual Salary Range</div>
      </div>
    </div>
  </div>
</section>
<section class="candidates-additional-info" *ngIf="orderInformation">
  <div class="container-row">
    <div class="column">
      <div class="title">{{ orderType[orderInformation.orderType] }}</div>
      <div class="sup-title">Job Type</div>
    </div>
    <div class="column" *ngIf="!orderInformation.extensionFromId">
      <div class="title">{{ orderInformation.acceptedPositions }} / {{ orderInformation.openPositions }}</div>
      <div class="sup-title">Open Positions</div>
    </div>
    <div class="column">
      <div class="title">
        {{ orderInformation.shiftStartTime | date: 'hh:mm' }} - {{ orderInformation.shiftEndTime | date: 'hh:mm' }}
      </div>
      <div class="sup-title">Shift</div>
    </div>
    <div *ngIf="orderInformation.orderType !== orderType.PermPlacement" class="column">
      <div class="title">${{ orderInformation.joiningBonus }} / ${{ orderInformation.compBonus }}</div>
      <div class="sup-title">Start / End Bonus</div>
    </div>
    <div class="column">
      <div class="title">{{ activeValue(orderInformation.onCallRequired) }}</div>
      <div class="sup-title">Oncall</div>
    </div>
    <div class="column">
      <div class="title">{{ activeValue(orderInformation.nO_OT) }}</div>
      <div class="sup-title">Do Not Consider OT</div>
    </div>
    <div class="column">
      <div class="title">{{ orderInformation.orderOpenDate | date: 'MM/dd/yyy' }}</div>
      <div class="sup-title">Distributed On</div>
    </div>
  </div>
</section>
