<ng-container *ngIf="system === systemType.VMS; else irpOrderInfo">
  <section class="candidates-info" *ngIf="orderInformation">
    <div
      class="container-row"
      [class.extension]="orderInformation.extensionFromId"
      [ngSwitch]="orderInformation.orderType"
    >
      <ng-container *ngSwitchCase="orderType.PermPlacement">
        <ng-container [ngTemplateOutlet]="jobInfoTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="region"></ng-container>
        <ng-container [ngTemplateOutlet]="locationTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="departmentTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="dateTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="reasonForRequisitionTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="skillTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="orderPlacementFee"></ng-container>
        <ng-container [ngTemplateOutlet]="annualSalaryRange"></ng-container>
        <ng-container [ngTemplateOutlet]="orderInfo"></ng-container>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <ng-container [ngTemplateOutlet]="jobInfoTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="region"></ng-container>
        <ng-container [ngTemplateOutlet]="locationTemplate"></ng-container>
        <div class="column last-column">
          <ng-container [ngTemplateOutlet]="billRate"></ng-container>
        </div>
        <ng-container [ngTemplateOutlet]="departmentTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="dateTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="reasonForRequisitionTemplate"></ng-container>
        <div class="column last-column" *ngIf="regularRates.regularLocal">
          <div class="cost">${{ regularRates.regularLocal | number: '1.2-2' }}</div>
          <div class="sup-title">Regular Local Bill Rate</div>
        </div>
        <ng-container [ngTemplateOutlet]="skillTemplate"></ng-container>
        <div></div>
        <div></div>
        <div class="column links">
          <ng-container [ngTemplateOutlet]="orderInfo"></ng-container>
        </div>
      </ng-container>
    </div>
  </section>
  <section class="candidates-additional-info" *ngIf="orderInformation">
    <div class="container-row justify-content-space-between">
      <div class="column">
        <div class="title">{{ orderType[orderInformation.orderType] }}</div>
        <div class="sup-title">Job Type</div>
      </div>
      <div class="column" *ngIf="!orderInformation.extensionFromId">
        <div class="title accent positions">
          {{ orderInformation.acceptedPositions }} / {{ orderInformation.openPositions }}
        </div>
        <div class="sup-title">Open Positions</div>
      </div>
      <div class="column">
        <div class="title">
          {{ orderInformation.shiftStartTime | date: 'HH:mm':'UTC' }} -
          {{ orderInformation.shiftEndTime | date: 'HH:mm':'UTC' }}
        </div>
        <div class="sup-title">Shift</div>
      </div>
      <div *ngIf="orderInformation.orderType !== orderType.PermPlacement" class="column">
        <div class="title">
          ${{ orderInformation.joiningBonus || 0 | currency: '':'' }} / ${{
            orderInformation.compBonus || 0 | currency: '':''
          }}
        </div>
        <div class="sup-title">Start / End Bonus</div>
      </div>
      <ng-container *ngIf="orderInformation.orderType !== orderType.ReOrder">
        <div class="column">
          <div class="title">{{ activeValue(orderInformation.onCallRequired) }}</div>
          <div class="sup-title">Oncall</div>
        </div>
        <div class="column">
          <div class="title">{{ orderInformation.asapStart ? 'Yes' : 'No' }}</div>
          <div class="sup-title">ASAP Start</div>
        </div>
        <div class="column">
          <div class="title">{{ orderInformation.criticalOrder ? 'Yes' : 'No' }}</div>
          <div class="sup-title">Critical Order</div>
        </div>
        <div class="column">
          <div class="title">{{ (orderInformation.orderOpenDate | date: 'MM/dd/yyy') || '-' }}</div>
          <div class="sup-title">Distributed On</div>
        </div>
        <div class="column" *ngIf="orderInformation.minYrsRequired">
          <div class="title">{{ orderInformation.minYrsRequired }}</div>
          <div class="sup-title">Exp. Req.</div>
        </div>
        <ng-container
          [ngTemplateOutlet]="linkedId"
          [ngTemplateOutletContext]="{ linkedID: orderInformation.linkedId }"
        ></ng-container>
      </ng-container>
    </div>
  </section>
</ng-container>

<ng-template #irpOrderInfo>
  <section class="candidates-info" *ngIf="orderInformation">
    <div
      class="container-row"
      [class.extension]="orderInformation.extensionFromId"
      [ngSwitch]="orderInformation.orderType"
    >
      <ng-container [ngTemplateOutlet]="irpSkillTemplate"></ng-container>
      <div class="column">
        <div class="icon">
          <i-feather name="folder" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">{{ orderInformation.regionName }}</div>
          <div class="sup-title">Region</div>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="locationTemplate"></ng-container>
      <ng-container [ngTemplateOutlet]="departmentTemplate"></ng-container>
      <ng-container [ngTemplateOutlet]="dateTemplate"></ng-container>
      <ng-container [ngTemplateOutlet]="reasonForRequisitionTemplate"></ng-container>
      <div class="column">
        <div class="icon">
          <i-feather name="folder" class="icon"></i-feather>
        </div>
        <div>
          <div class="title">
            {{ orderInformation.shiftStartTime | date: 'HH:mm':'utc' }} -
            {{ orderInformation.shiftEndTime | date: 'HH:mm':'utc' }}
          </div>
          <div class="sup-title">Shift</div>
        </div>
      </div>
    </div>
  </section>
  <section class="candidates-additional-info" *ngIf="orderInformation">
    <div class="container-row justify-content-space-between">
      <div class="column">
        <div class="title">{{ orderInformation.onCallRequired | boolValueToText }}</div>
        <div class="sup-title">On-Call</div>
      </div>
      <div class="column">
        <div class="title">{{ orderInformation.asapStart | boolValueToText }}</div>
        <div class="sup-title">ASAP Start</div>
      </div>
      <div class="column">
        <div class="title">{{ orderInformation.criticalOrder | boolValueToText }}</div>
        <div class="sup-title">Critical Order</div>
      </div>
      <div class="column" *ngIf="orderInformation.orderType !== ltaOrderType">
        <div class="title">{{ orderInformation?.contract || false | boolValueToText }}</div>
        <div class="sup-title">Contract</div>
      </div>

      <div class="column">
        <div class="title">{{ orderInformation.weekend || false | boolValueToText }}</div>
        <div class="sup-title">Weekend</div>
      </div>

      <div class="column">
        <div class="title">{{ orderInformation.holiday || false | boolValueToText }}</div>
        <div class="sup-title">Holiday</div>
      </div>

      <div class="column">
        <div class="title">{{ (orderInformation.creationDate | date: 'MM/dd/yyy':'UTC') || '-' }}</div>
        <div class="sup-title">Creation Date</div>
      </div>

      <div class="column">
        <div class="title">{{ (orderInformation?.irpOrderMetadata?.orderOpenDate | date: 'MM/dd/yyy':'UTC') || '-' }}</div>
        <div class="sup-title">Distributed On</div>
      </div>
      <div class="column" *ngIf="orderInformation.minYrsRequired">
        <div class="title">{{ orderInformation.minYrsRequired }}</div>
        <div class="sup-title">Exp. Req.</div>
      </div>
      <ng-container
        [ngTemplateOutlet]="linkedId"
        [ngTemplateOutletContext]="{ linkedID: orderInformation.linkedId }"
      ></ng-container>
    </div>
  </section>
</ng-template>

<ng-template #jobInfoTemplate>
  <div class="column">
    <div class="icon">
      <i-feather name="user" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">{{ orderInformation.title }}</div>
      <div class="sup-title">Job title</div>
    </div>
  </div>
</ng-template>

<ng-template #locationTemplate>
  <div class="column">
    <div class="icon">
      <i-feather name="map-pin" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">{{ orderInformation.locationName }}</div>
      <div class="sup-title">Location</div>
    </div>
  </div>
</ng-template>

<ng-template #departmentTemplate>
  <div class="column">
    <div class="icon">
      <i-feather name="folder" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">{{ orderInformation.departmentName }}</div>
      <div class="sup-title">Department</div>
    </div>
  </div>
</ng-template>

<ng-template #dateTemplate>
  <div class="column">
    <div class="icon">
      <i-feather name="calendar" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">
        {{ orderInformation.jobStartDate | date: 'MM/dd/yyy':'utc' }}
        <ng-container *ngIf="!hideEndDate">
          -&nbsp;{{ orderInformation.jobEndDate | date: 'MM/dd/yyy':'utc' }}
        </ng-container>
      </div>
      <div class="sup-title">
        <ng-container *ngIf="orderInformation.orderType === orderType.ReOrder; else defaultSupTitleTemplate">
          Date
        </ng-container>

        <ng-template #defaultSupTitleTemplate>
          Start<ng-container *ngIf="!hideEndDate">/End</ng-container> Date
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #reasonForRequisitionTemplate>
  <div class="column">
    <div class="icon">
      <i-feather name="briefcase" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">{{ orderInformation.orderRequisitionReasonName || '-' }}</div>
      <div class="sup-title">Reason for Requisition</div>
    </div>
  </div>
</ng-template>

<ng-template #skillTemplate>
  <div class="column">
    <div class="icon">
      <i-feather name="briefcase" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">{{ orderInformation?.skillName }}</div>
      <div class="sup-title">Skill</div>
    </div>
  </div>
</ng-template>

<ng-template #irpSkillTemplate>
  <div class="column">
    <div class="icon">
      <i-feather name="briefcase" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">{{ orderInformation?.irpOrderMetadata?.skillName }}</div>
      <div class="sup-title">Skill</div>
    </div>
  </div>
</ng-template>

<ng-template #orderPlacementFee>
  <div class="column">
    <div class="icon">
      <i-feather name="percent" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">
        {{ orderInformation?.orderPlacementFee ? orderInformation?.orderPlacementFee + '%' : '-' }}
      </div>
      <div class="sup-title">Order Placement Fee</div>
    </div>
  </div>
</ng-template>

<ng-template #annualSalaryRange>
  <div class="column">
    <div class="icon">
      <i-feather name="dollar-sign" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">
        {{ orderInformation?.annualSalaryRangeFrom | currency }} -
        {{ orderInformation?.annualSalaryRangeTo | currency }}
      </div>
      <div class="sup-title">Annual Salary Range</div>
    </div>
  </div>
</ng-template>

<ng-template #billRate>
  <div class="cost">${{ regularRates.regular| number: '1.2-2' }}</div>
  <div class="sup-title">Regular Bill Rate</div>
</ng-template>

<ng-template #orderInfo>
  <div class="column link-wrapper" *ngIf="orderInformation?.extensionInitialOrderId || orderInformation?.hasParentExtension">
    <div *ngIf="orderInformation?.extensionInitialOrderId" class="accent link" (click)="moveToInitialOrder()">
      Initial Order ID: {{ orderInformation.organizationPrefix }}-{{ orderInformation?.extensionInitialOrderPublicId }}
    </div>
    <div *ngIf="orderInformation.hasParentExtension" class="accent link" (click)="moveToPreviousExtension()">
      Previous Extension: {{ orderInformation.organizationPrefix }}-{{ orderInformation?.extensionPublicId }}
    </div>
  </div>
</ng-template>

<ng-template #region>
  <div class="column">
    <div class="icon">
      <i-feather name="map-pin" class="icon"></i-feather>
    </div>
    <div>
      <div class="title">{{ orderInformation.regionName }}</div>
      <div class="sup-title">Region</div>
    </div>
  </div>
</ng-template>

<ng-template #linkedId let-linkedID="linkedID">
  <div class="column">
    <div class="title">{{ linkedID || '-' }}</div>
    <div class="sup-title">Linked ID</div>
  </div>
</ng-template>
