@import "colors";

section {
  .title {
    font-weight: 700;
    font-size: 12px;
    color: $black;

    .accent {
      color: $primary-active-blue-10;
    }
  }

  .accent {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $primary-active-blue-10;
    font-family: 'Open Sans';
    font-style: normal;
    text-transform: capitalize;
  }

  .sup-title{
    font-weight: 400;
    font-size: 12px;
    margin-top: 3px;
    color: $secondary-dark-blue-30;
  }
}

.candidates-info {
  .container-row {
    display: grid;
    padding: 16px;
    border-radius: 8px;
    grid-template-columns: repeat(4, 1fr);
    background-color: $secondary-dark-blue-50;
    gap: 25px 38px;

    &.reorders {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .column {
    display: flex;

    .icon {
      color: $secondary-dark-blue-40;
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }

    .cost {
      font-weight: 700;
      color: $black;
      font-size: 24px;
    }
  }

  .last-column {
    flex-direction: column;
    text-align: right;
  }
}

.candidates-additional-info {
  margin-top: 16px;

  .container-row {
    display: flex;
    justify-content: space-between;

    .column {
      display: flex;
      flex-direction: column;
    }
  }

  .warning {
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: start;
    padding-bottom: 13px;
    border-bottom: 1px solid $secondary-dark-blue-30;

    .icon {
      color: $supportive-red;
      margin-right: 5px;
    }
  }
}





