@import "colors";

.action-container {
  .e-btn.link {
    cursor: pointer;
    background-color: transparent;
    color: $primary-active-blue-10;
    font-weight: 700;
    font-size: 14px;
    padding: 0;

    &[disabled] {
      color: $title-black;
      font-weight: 400;
    }
  }
}
