<section>
  <section class="toolbar">
    <section class="details bootstrap">
      <ejs-dropdownlist
        id="regionsDropDown"
        class="region-dropdown"
        placeholder="Region"
        [dataSource]="regions$ | async"
        [fields]="regionFields"
        (change)="onRegionDropDownChanged($event)"
      ></ejs-dropdownlist>
      <button ejs-button cssClass="e-flat plus-button"><i-feather name="plus" class="icon"></i-feather> Add Region</button>
    </section>
    <section>
      <button
        ejs-button
        id="filterButton"
        cssClass="e-outline button-filter">Filters <i-feather name="sliders" class="icon"></i-feather></button>
      <button
        ejs-button
        id="importButton"
        cssClass="e-outline button-import"
        (click)="onImportDataClick()">Import <i-feather name="upload" class="icon"></i-feather></button>
      <button
        ejs-button
        id="addDepartmentButton"
        [isPrimary]="true"
        (click)='onAddDepartmentClick()'>Add Location</button>
    </section>
  </section>

  <section class="grid">
    <ejs-grid
      #grid
      [dataSource]="gridDataSource"
      [allowPaging]="allowPaging"
      [pageSettings]="pageSettings"
      [height]="gridHeight"
      [rowHeight]="rowHeight"
      [resizeSettings]="resizeSettings"
      [allowSorting]="allowSorting"
      [allowResizing]="allowResizing"
    >
      <e-columns>
        <e-column field="externalId" headerText="EXT LOCATION ID" width=200></e-column>
        <e-column field="invoiceId" headerText="INVOICE LOCATION ID" width=200></e-column>
        <e-column field="name" headerText="LOCATION NAME" width=200></e-column>
        <e-column field="address1" headerText="ADDRESS 1" width=200></e-column>
        <e-column field="address2" headerText="ADDRESS 2" width=200></e-column>
        <e-column field="city" headerText="CITY" width=200></e-column>
        <e-column field="state" headerText="STATE" width=200></e-column>
        <e-column field="zip" headerText="ZIP" width=200></e-column>
        <e-column field="contactPerson" headerText="CONTACT PERSON" width=200></e-column>
        <e-column textAlign="Right" width=120>
          <ng-template #template let-data>
            <div class="row-tool-buttons">
              <span class="edit-button" (click)="onEditButtonClick(data)"><i-feather name="edit" class="icon"></i-feather></span>
              <span class="remove-button" (click)="onRemoveButtonClick(data)"><i-feather name="trash-2" class="icon"></i-feather></span>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
      <ng-template #pagerTemplate let-data>
        <div class="e-pagertemplate">
          <div class="control-section">
            <div class="content-wrapper">
              <section class="left-side-pager-controls">
                <ejs-dropdownlist
                  id="rowsPerPage"
                  class="dropdown-no-border"
                  [dataSource]="rowsPerPageDropDown"
                  [(value)]="activeRowsPerPageDropDown"
                  (change)="onRowsDropDownChanged()"
                >
                </ejs-dropdownlist>
                <ejs-numerictextbox
                  id="goToPage"
                  class="numeric-input-no-border"
                  format="#"
                  [validateDecimalOnType]="validateDecimalOnType"
                  [decimals]="decimals"
                  placeholder="Go to:"
                  min="1" [max]="lastAvailablePage"
                  [showSpinButton]="false"
                  (change)="onGoToClick($event)"
                >
                </ejs-numerictextbox>
              </section>
              <section class="right-side-pager-controls">
                <ejs-pager
                  id="gridPager"
                  #gridPager
                  [pageSize]="pageSizePager"
                  [totalRecordsCount]="totalDataRecords"

                  [enablePagerMessage]="false"
                  [currentPage]="currentPagerPage"
                  (click)="onGoToClick($event)"
                >
                </ejs-pager>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </section>


  <app-side-dialog
    (formCancelClicked)="onFormCancelClick()"
    (formSaveClicked)="onFormSaveClick()"
    [header]="'Add Location'"
  >
    <form
      class="form-container bootstrap"
      id="addEditRecordForm"
      [formGroup]="locationDetailsFormGroup"
    >
      <div>
        <div class="input-container">
          <label for="externalId">Ext Location ID <span class="field-required">*</span></label>
          <div class="input-group">
            <input id="externalId"
                   class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   placeholder="Ext Location ID"
                   formControlName="externalId"/>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>
</section>

<app-file-upload-dialog></app-file-upload-dialog>
