@import '../../../../styles/variables/colors';

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  .details {
    display: flex;
    align-items: center;

    .region-dropdown {
      padding-right: 12px;
    }

    .e-input-group.e-control-wrapper input {
      padding-left: 16px;
      padding-bottom: 7px;
      padding-top: 5px;
    }

    .text-button-with-icon {
      display: flex;
      align-items: center;
      color: $primary-active-blue-10;
      border-radius: 8px;
      padding: 9px 10px 9px 10px;
      font-weight: 590;
      line-height: 20px;

      .icon {
        margin: 0;
        padding-right: 5px;
      }

      &:hover,
      &:focus {
        background-color: $primary-active-blue-70;
        border-color: transparent;
      }
    }
  }

  .button-filter {
    margin-left: 12px;
    margin-right: 6px;
  }

  .button-import {
    margin-left: 6px;
    margin-right: 12px;
  }
}

.e-grid {
  border-radius: 12px;

  .row-tool-buttons {
    .edit-button {
      margin-right: 20px
    }
  }

  .e-pager {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .e-pagertemplate {
    .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 51px;

      .left-side-pager-controls {
        display: flex;
        margin-left: 16px;

        #goToPage {
          margin-left: 35px
        }
      }
    }
  }
}

.form-container {
  padding-top: 28px;

  .input-container {
    margin-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }
  }

  .group {
    display: flex;

    .input-container {
      width: 187px;
      padding-right: 12px;
    }
  }

  .large-group {
    display: flex;
    padding-top: 12px;

    .input-container:first-child {
      padding-right: 12px;
    }
  }

  .title {
    padding-top: 17px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 0;
    line-height: 28px;
  }

  .combined-group {
    display: flex;
    .input-container:first-child {
      padding-right: 12px;
    }

    .input-container:last-child {
      width: 187px;
    }
  }
}

ejs-dropdownlist.e-control {
  span.e-input-group {
    height: 40px !important;
  }
}
