<section class="flex-column">
  <section class="toolbar" [class.hidden]="!isLoaded">
    <section>
      <h3>Regions</h3>
    </section>
    <section >
      <button
              ejs-button
              id="filterButton"
              cssClass="e-outline button-filter"
              (click)="showFilters()"
              [class.hidden]="true">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill">{{ filteredItems.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
              ejs-button
              id="importButton"
              cssClass="e-outline button-import"
              [class.hidden]="true"
              (click)="onImportDataClick()">Import <i-feather name="download" class="icon"></i-feather></button>
      <button
              ejs-dropdownbutton
              [items]="exportOptions"
              (select)="exportSelected($event)"
              id="importButton"
              cssClass="e-outline button-export">Export <i-feather name="upload" class="icon"></i-feather></button>

      <button
              ejs-button
              id="addDepartmentButton"
              [isPrimary]="true"
              [disabled]="!userPermission[userPermissions.CanEditOrganizationalHierarchy]"
              (click)='onAddRegionClick()'>Add Region</button>
    </section>
  </section>


  <ejs-grid class="grid grid-component"
            #grid
            [dataSource]="(regionsPageList$ | async)?.items"
            [allowPaging]="allowPaging"
            [pageSettings]="pageSettings"
            [height]="fullScreenGridHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="false"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            (actionBegin)="actionBegin($event)"
            (rowSelected)="rowSelected($event, grid)"
            (rowDeselected)="rowDeselected($event, grid)"
            (dataBound)="gridDataBound(grid)"
            [selectionSettings]="selectionSettings"
            >
    <e-columns>

      <e-column  [customAttributes]='customAttributes'>
        <ng-template #template let-data >
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditButtonClick(data, $event)" [class.hidden]="true">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button
              ejs-button
              cssClass="e-flat secondary-icon-button"
              (click)="onRemoveButtonClick(data, $event)"
              [disabled]="!userPermission[userPermissions.CanEditOrganizationalHierarchy]">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>


      <e-column field="name" headerText="Region" ></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                                id="rowsPerPage"
                                class="dropdown-no-border"
                                [allowFiltering]="true"
                                [dataSource]="rowsPerPageDropDown"
                                [(value)]="activeRowsPerPageDropDown"
                                (change)="onRowsDropDownChanged()">
              </ejs-dropdownlist>
              <ejs-numerictextbox
                                  id="goToPage"
                                  class="numeric-input-no-border"
                                  format="#"
                                  [validateDecimalOnType]="validateDecimalOnType"
                                  [decimals]="decimals"
                                  placeholder="Go to:"
                                  min="1"
                                  [max]="(regionsPageList$ | async)?.totalPages"
                                  [showSpinButton]="false"
                                  (change)="onGoToClick($event)">
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(regionsPageList$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                         id="gridPager"
                         #gridPager
                         [pageSize]="pageSize"
                         [totalRecordsCount]="(regionsPageList$ | async)?.totalCount"
                         [enablePagerMessage]="false"
                         [currentPage]="currentPage"
                         (click)="onGoToClick($event)"
                         >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-filter-dialog [items]="filteredItems" (deleteFilter)="onFilterDelete($event)"
                   (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()" (closeDialogClicked)="onFilterClose()">
  <form class="bootstrap" [formGroup]="regionFilterFormGroup">
    <div class="input-container">
      <label>Region</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="ids"
                         placeholder="All"
                         [allowFiltering]="true"
                         [fields]="optionFields"
                         [showDropDownIcon]="true"
                         [dataSource]="regions">
        </ejs-multiselect>
      </div>
    </div>

  </form>
</app-filter-dialog>
<app-side-dialog
                 (formCancelClicked)="onFormCancelClick()"
                 (formSaveClicked)="onFormSaveClick()"
                 [width]="'400px'"
                 >
  <form
        class="form-container bootstrap"
        id="addEditRecordForm"
        [formGroup]="regionFormGroup"
        >




    <div class="group">


      <div class="input-container">
        <label for="name">Region Name <span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           appValidateWithMessage
                           formControlName="region"
                           placeholder="All"
                           [allowFiltering]="true"
                           [fields]="optionFields"
                           [showDropDownIcon]="true"
                           [dataSource]="masterRegion">
          </ejs-multiselect>
        </div>
      </div>
    </div>


  </form>
</app-side-dialog>



<app-file-upload-dialog></app-file-upload-dialog>
<app-import-regions [dialogEvent]="importDialogEvent" (reloadItemsList)="updatePage()"></app-import-regions>

<app-export-dialog [columns]="columnsToExport"
                   [fileName]="fileName"
                   (cancel)="closeExport()"
                   (export)="export($event)">
</app-export-dialog>


