@import "colors";
@import 'adaptive-response';
@import 'mixins';

:host {
  overflow-y: auto;
}

.container {
  position: relative;

  .deployed-icon{
    color: $primary-active-blue;
  }

  .e-card-content .apply-button {
    margin-right: 8px;

    @media (max-width: $tablet-min) {
      display: none;
    }
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    .job-details {
      margin-right: 12px;
      width: 55%;

      .input-container, .dropdown-container, .datepicker-container {
        margin-bottom: 12px;
        flex: 1 1 0px;
      }

      .input-group.input-readonly {
        .e-input[readonly], ejs-daterangepicker .e-input-group, ejs-datepicker .e-input-group {
          background-color: $secondary-dark-blue-50;
          color: $secondary-dark-blue-30;
          border: 1px solid $secondary-dark-blue-40 !important;
        }
      }

      .d-flex {
        display: flex;
        gap: 10px;

        .f-grow-2 {
          flex-grow: 2;
        }
      }
    }

    .comments {
      width: 45%;
      background-color: $secondary-dark-blue-50;
      border-radius: 8px;
    }

    @media (max-width: $tablet-min) {
      flex-direction: column;
      .job-details {
        width: 100%;
      }

      .comments {
        width: 100%;
        margin-top: 16px;
      }
    }
  }

  .bill-rates {
    margin-top: 16px;
  }

  .warning-deployed-candidate {
    color: $supportive-red-00;
    padding: 15px 5px 5px;
    font-size: 1rem;
  }
}

.candidat-status {
  display: flex;
  align-items: center;
}

.mobile-actions {
  position: fixed;
  bottom: 73px;
  left: 0;
  width: 93%;
  padding: 24px 16px;
  background-color: $white;
  z-index: 1001;
  display: none;
  border-top: 1px solid $secondary-dark-blue-45;

  &.tab{
    bottom: 0;
  }

  button {
    width: 100%;
    margin: 0 !important;
  }

  @media (max-width: $tablet-min) {
    display: flex;
  }
}

.candidate-message {
  @include candidateMessage;
}

