<app-form-control-wrapper [formGroup]="formGroupInstance" [label]="label" [id]="id" [required]="required">
  <div class="input-group datepicker">
    <ejs-datepicker
      #datepicker
      class="datepicker"
      [format]="format"
      [formControlName]="controlName"
      [enableMask]="enableMask"
      [maskPlaceholder]="maskPlaceholder"
      [min]="min"
      [max]="max"
      [id]="id"
      [placeholder]="placeholder"
      [enabled]="enabled"
      [strictMode]="strictMode"
      (change)="change.emit($event)"
      (valueChange)="valueChange.emit($event)"
      (blur)="blur.emit($event)"
    >
    </ejs-datepicker>
    <app-error-message [control]="getControl()"></app-error-message>
  </div>
</app-form-control-wrapper>
