<ejs-dialog
  id="add-new-fee-dialog"
  #addFeeSideDialog
  cssClass="dialog responsive"
  [width]="'538px'"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{ title }}</h3>
          </div>
          <ng-container [ngTemplateOutlet]="actionButtons"></ng-container>
          <button tabindex="-1" ejs-button cssClass="e-flat mobile-close-button" (click)="onCancel()">
            <i-feather name="x" class="icon"></i-feather>
          </button>
        </div>
      </section>

      <section
        class="add-new-fee bootstrap"
        [formGroup]="feeFormGroup"
        *ngIf="feeExceptionsInitialData$ | async as feeExceptionsInitialData"
      >
        <div class="dropdown-container">
          <label>Region<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              appValidateWithMessage
              formControlName="regionIds"
              mode="CheckBox"
              [allowFiltering]="true"
              [fields]="optionFields"
              [dataSource]="feeExceptionsInitialData.regions"
            ></ejs-multiselect>
          </div>
        </div>
        <div class="dropdown-container">
          <label>Classification<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              appValidateWithMessage
              formControlName="classifications"
              [allowFiltering]="true"
              [fields]="optionFields"
              [dataSource]="classification"
            ></ejs-multiselect>
          </div>
        </div>
        <div class="dropdown-container">
          <label>Skill<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              appValidateWithMessage
              formControlName="masterSkillIds"
              [allowFiltering]="true"
              [fields]="masterSkillsFields"
              [dataSource]="feeExceptionsInitialData.masterSkills"
            ></ejs-multiselect>
          </div>
        </div>
        <div class="input-container">
          <label>Fee %<span class="required">*</span></label>
          <div class="input-group">
            <input
              appValidateWithMessage
              formControlName="fee"
              class="e-input"
              type="text"
              (focus)="priceUtils.setPriceMask(feeFormGroup, 'fee', $event)"
              (blur)="priceUtils.setTwoDecimals(feeFormGroup, 'fee', $event)"
              maxlength="5"
            />
          </div>
        </div>
      </section>
    </section>
  </ng-template>

  <ng-template #footerTemplate>
    <ng-container [ngTemplateOutlet]="actionButtons"></ng-container>
  </ng-template>
</ejs-dialog>

<ng-template #actionButtons>
  <div class="e-card-content mobile-button-group">
    <button
      ejs-button
      id="cancelFormButton"
      cssClass="e-outline button-cancel action-btn"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      ejs-button
      id="addFormButton"
      class="action-btn"
      type="submit"
      (click)="onAdd()"
      [isPrimary]="true"
      [disabled]="disableSaveButton"
    >
      Add
    </button>
  </div>
</ng-template>
