<ng-container
  [ngTemplateOutlet]="dashboardToolbar"
  [ngTemplateOutletContext]="{
    items: filteredItems$ | async,
    filterState: dashboardFiltersState$ | async,
    organizationStructure: (organizationStructure$ | async)?.regions
  }"
></ng-container>

<ng-template
  #dashboardToolbar
  let-items="items"
  let-filterState="filterState"
  let-organizationStructure="organizationStructure"
>
  <div class="dashboard-toolbar">
    <div class="left-content">
      <app-filter-chip-list
        [items]="items"
        [filterState]="filterState"
        [allRegions]="organizationStructure"
        (filterModified)="filterModified()"
      ></app-filter-chip-list>
    </div>
    <div class="right-content">
      <button *ngIf="hasWidgetPermission" ejs-button cssClass="e-outline" (click)="showFilterDialog()">
        <div class="filter-button-content">
          <span *ngIf="items.length" class="e-badge e-badge-success e-badge-circle">{{ items.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button ejs-button cssClass="e-outline" (click)="toggleDialog(true)">
        Manage Widgets <i-feather name="sliders" class="icon"></i-feather>
      </button>
      <button *ngIf="hasOrderManagePermission" ejs-button [isPrimary]="true" (click)="onCreateOrder()">
        Create Order
      </button>
    </div>
  </div>

  <app-widget-list
    *ngIf="isDialogOpened$ | async"
    (closeDialogEmitter)="toggleDialog(false)"
    (widgetToggleEmitter)="widgetToggleEmitter.emit($event)"
    [selectedWidgets]="selectedWidgets"
    [widgets]="widgets"
    [isLoading]="isLoading"
  ></app-widget-list>

  <app-widget-filter
    #filter
    [allOrganizations]="allOrganizations"
    [userIsAdmin]="userIsAdmin"
  ></app-widget-filter>
</ng-template>
