@import "colors";
.dashboard-toolbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  .right-content {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: 15px;

    & > *:not(:first-child) {
      margin-left: 12px;
    }
  }
}
