@import 'colors';
@import 'adaptive-response';

.dashboard-toolbar {
  padding: 20px 16px 20px 0;
  display: flex;
  justify-content: space-between;

  .left-content {
    flex: 1;
  }

  .right-content {
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
    column-gap: 12px;
  }
}

@media #{$max-mobile} {
  .dashboard-toolbar {
    .left-content {
      display: none;
    }

    .icon,
    .right-content {
      margin-left: 0;
    }

    .icon-btn {
      padding: 8px 11px;
    }
  }
}
