<ng-container
  [ngTemplateOutlet]="dashboardToolbar"
  [ngTemplateOutletContext]="{
    items: filteredItems$ | async,
    organizationStructure: organizationStructure$ | async
  }"
></ng-container>

<ng-template
  #dashboardToolbar
  let-items="items"
  let-organizationStructure="organizationStructure"
>
  <div class="dashboard-toolbar">
    <div class="left-content">
      <app-filter-chip-list
        [items]="items"
        [allRegions]="organizationStructure?.regions"
        [orderedFilters]="orderedFilters"
      ></app-filter-chip-list>
    </div>
    <div class="right-content">
      <button *ngIf="hasWidgetPermission" ejs-button cssClass="e-outline" (click)="showFilterDialog()">
        <div class="filter-button-content">
          <span *ngIf="items.length" class="e-badge e-badge-success e-badge-circle">{{ items.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button ejs-button cssClass="e-outline" (click)="toggleDialog(true)">
        Manage Widgets <i-feather name="sliders" class="icon"></i-feather>
      </button>
      <button *ngIf="hasOrderManagePermission" ejs-button [isPrimary]="true" (click)="onCreateOrder()">
        Quick Order
      </button>
    </div>
  </div>

  <app-widget-list
    *ngIf="isDialogOpened$ | async"
    (closeDialogEmitter)="toggleDialog(false)"
    (widgetToggleEmitter)="widgetToggleEmitter.emit($event)"
    [selectedWidgets]="selectedWidgets"
    [widgets]="widgets"
    [isLoading]="isLoading"
  ></app-widget-list>

  <app-widget-filter
    [allOrganizations]="allOrganizations"
    [userIsAdmin]="userIsAdmin"
    [savedFilterItems]="items"
    [organizationStructure]="organizationStructure"
    [allSkills]="skills"
    [orderedFilters]="orderedFilters"
  ></app-widget-filter>
</ng-template>
