@import 'colors';
.dashboard-toolbar {
  padding: 20px 16px 20px 0;
  display: flex;
  justify-content: space-between;

  .left-content {
    flex: 1;
  }

  .right-content {
    display: initial;
    justify-content: flex-end;
    margin-left: 15px;

    & > *:not(:first-child) {
      margin-left: 12px;
    }
  }
}
