<form class="edit-department">
  <ng-container *ngFor="let fieldConfig of filtersFormConfig; trackBy: trackByFn">
    <ng-container [ngSwitch]="fieldConfig.type">
      <ng-container *ngSwitchCase="controlTypes.Date">
        <div class="item" *ngIf="fieldConfig.show">
          <app-datepicker
            [formGroupInstance]="formGroup"
            [controlName]="fieldConfig.field"
            [label]="fieldConfig.title"
            [disabled]="!!fieldConfig.disabled"
          ></app-datepicker>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="controlTypes.Checkbox">
        <div class="item">
          <app-toggle
            [formGroupInstance]="formGroup"
            [id]="fieldConfig.field"
            [controlName]="fieldConfig.field"
            [label]="fieldConfig.title"
            [disabled]="!!fieldConfig.disabled"
          >
          </app-toggle>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</form>

