@import "colors";

.widget {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  &__title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10%;

    @media screen and (max-width: 600px) {
      padding-bottom: 3px;
    }
  }

  &__type {
    font-size: 14px;
    color: $secondary-dark-blue-20;
    margin-right: -16px;
    cursor: default;
  }
}
