<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme" [isLTAOrderEnding]="isLTAOrderEnding && !slideBar" >
  <ng-template #header>
    <div [ngClass]="isLTAOrderEnding ? 'app-header padt-10' : 'app-header padt-5' ">
      <div class="app-accumulation-chart__title">
        <h3 class="widget-header__title">{{ chartData?.count }}</h3>
      </div>
    </div>
      <div  *ngIf="description.length>0">
        <ejs-tooltip [content]="description" position='TopCenter'>
          <span class="mytooltip">
            <i-feather name="info" id="info"
                       [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
          </span>
        </ejs-tooltip>
      </div>
    
  </ng-template>
  <ng-template #positionChat>
    <div class="widget">
      
      <span class="widget__type" *ngIf="isLTAOrderEnding"
            (mousedown)="defineMousePosition($event)"
            (click)="toSourceContent($event)">{{ chartData?.statusName | titlecase }} Positions</span>
      <span class="widget__type" *ngIf="!isLTAOrderEnding"
            (mousedown)="defineMousePosition($event)">Positions ending in next  45  days</span>
    </div>
  </ng-template>
</app-widget-wrapper>
