@import '../../../../styles/variables/colors';

.toolbar {
  display: flex;
  justify-content: end;
  margin-top: 20px;

  button {
    margin-left: 18px;
  }
}

.grid {
  margin-top: 20px;

  .grid-checkbox {
    pointer-events: none;
  }
  
  .row-tool-buttons {
    color: $secondary-dark-blue-20;

    i-feather {
      cursor: pointer;
    }

    .edit-button {
      margin-right: 20px
    }
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.skills-form-dialog {
  &.form-container {
    margin-top: 20px;
  }

  ejs-textbox {
    textarea.e-textbox.e-input {
      height: 100px;
    }
  }
}