<app-page-toolbar>
  <ng-container left>
    <div class="bootstrap business-dropdowns" [formGroup]="businessForm">
      <div class="dropdown-container">
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            formControlName="businessUnit"
            [fields]="optionFields"
            [dataSource]="businessUnits"
            placeholder="Business Unit"
          ></ejs-dropdownlist>
        </div>
      </div>
      <div class="dropdown-container">
        <app-multiselect-dropdown
          [formGroupInstance]="businessForm"
          [fields]="bussinesDataFields"
          [dataSource]="bussinesData$ | async"
          [showSelectAll]="true"
          controlName="business"
          placeholder="Business"
          selectAllText="All"
        ></app-multiselect-dropdown>
      </div>
    </div>
  </ng-container>
  <ng-container right>
    <ng-container>
      <button ejs-button cssClass="e-outline" (click)="showFilters()">
        <div class="filter-button-content">
          <span *ngIf="(filteredItems$ | async) as filteredItems" class="e-badge e-badge-success e-badge-circle">{{filteredItems}}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button ejs-button [isPrimary]="true" (click)="onAddNewRole()">Add Role</button>
    </ng-container>
  </ng-container>
</app-page-toolbar>

<section class="role-and-permissions last-content-section-padding">
  <app-roles-grid [filterForm]="businessForm" [filteredItems$]="filteredItems$" (editRoleEvent)="onEdit($event)"></app-roles-grid>
</section>

<app-side-dialog [header]="dialogTitle" (formCancelClicked)="onAddCancel()" (formSaveClicked)="onSave()">
  <section>
    <app-role-form #roleForm [form]="$any(roleFormGroup)" [businessUnits]="businessUnits" [roleId]="roleId"></app-role-form>
  </section>
</app-side-dialog>
