<app-page-toolbar>
  <ng-container left>
    <div class="bootstrap business-dropdowns" [formGroup]="businessForm">
      <div class="dropdown-container">
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            formControlName="businessUnit"
            [fields]="optionFields"
            [dataSource]="businessUnits"
            placeholder="Business Unit"
          ></ejs-dropdownlist>
        </div>
      </div>
      <div class="dropdown-container">
        <app-multiselect-dropdown
          [formGroupInstance]="businessForm"
          [fields]="bussinesDataFields"
          [dataSource]="bussinesData$ | async"
          [showSelectAll]="true"
          controlName="business"
          placeholder="Business"
          selectAllText="All"
        ></app-multiselect-dropdown>
      </div>
    </div>
  </ng-container>
  <ng-container right>
    <ng-container>

      <button
        ejs-dropdownbutton
        appHideBeforeSyncfusionLoad
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="importButton"
        cssClass="e-outline button-export">Export <i-feather name="download" class="icon"></i-feather></button>
      <button ejs-button appHideBeforeSyncfusionLoad [isPrimary]="true" (click)="onAddNewRole()">Add Role</button>
    </ng-container>
  </ng-container>
</app-page-toolbar>

<section class="role-and-permissions last-content-section-padding">
  <app-roles-grid [filterForm]="businessForm" [export$]="exportRoles$" [filteredItems$]="filteredItems$" (editRoleEvent)="onEdit($event)"></app-roles-grid>
</section>

<app-side-dialog [header]="dialogTitle" (formCancelClicked)="onAddCancel()" (formSaveClicked)="onSave()">
  <section>
    <app-role-form #roleForm [form]="$any(roleFormGroup)" [businessUnits]="businessUnits" [roleId]="roleId"></app-role-form>
  </section>
</app-side-dialog>
