<ejs-sidebar id="default-sidebar" #sidebar (open)="open()" (close)="close()">
  <div class="title"> Sidebar content</div>
  <div class="sub-title">
    Click the button to close the Sidebar.
  </div>
  <div class="center-align">
    <button ejs-button id="close" (click)="closeClick()" class="e-btn close-btn">Close Sidebar</button>
  </div>
</ejs-sidebar>
<div>
  <div>
    <div class="title">Main content</div>
    <div class="sub-title"> Click the button to open/close the Sidebar.
      <div style="padding:20px" class="center-align">
        <button ejs-button id="toggle" class="e-btn e-info" (click)="toggleClick()">Toggle Sidebar</button>
      </div>

      <div>
        <ul>
           To Render RadioButton.
          <li><ejs-radiobutton label="Option 1" name="default"></ejs-radiobutton></li>

          <li><ejs-radiobutton label="Option 2" name="default" checked="true"></ejs-radiobutton></li>
        </ul>
      </div>


      <div class="wrap">
        <h4>Floating label as auto</h4>
        <div class='textboxes'>
          <ejs-textbox placeholder="First Name" floatLabelType="Auto"></ejs-textbox>
        </div>

        <h4>Floating label as always</h4>
        <div class='textboxes'>
          <ejs-textbox placeholder="First Name" floatLabelType="Always"></ejs-textbox>
        </div>
      </div>

      <ejs-pager [pageSize]= '1' [totalRecordsCount]='20'></ejs-pager>
    </div>
  </div>
</div>
