<section class="container">
  <section class="toolbar">
    <div>
      <h3 class="title-settings">Pay Rate</h3>
    </div>
    <div>
      <button ejs-button cssClass="e-outline button-filter" (click)="filter()">
        <div class="filter-button-content">
          <span *ngIf="(filteredItems$ | async) || 0 as filteredItems" class="e-badge e-badge-success e-badge-pill align-text">{{
            filteredItems
          }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        cssClass="e-outline button-export"
      >
        <div class="button-export-container">Export <i-feather name="upload" class="icon"></i-feather></div>
      </button>
      <app-tooltip-container [showToolTip]="!userPermission[userPermissions.CanEditPayRates]">
        <button
          ejs-button [isPrimary]="true"
          [disabled]="!userPermission[userPermissions.CanEditPayRates]"
          (click)="addPayRateSetupRecord()"
        >
          {{addPayRateBtnText}}
        </button>
      </app-tooltip-container>
  </div>
</section>
<app-payrate-setup
  [filteredItems$]="filteredItems$"
  [export$]="exportMap"
  [userPermission]="userPermission"
>
</app-payrate-setup>

</section>
