@import "colors";
@import "adaptive-response";

.remove-button {
  color: $supportive-red;
}

.upload-button {
  color: $secondary-dark-blue-20;
}

.custom-btn {
  &.disabled {
    opacity: 0.5;
  }
}

@media #{$max-tablet} {
  .custom-btn {
    padding-left: 0 !important;
  }
}

@media #{$max-mobile} {
  .custom-btn {
    margin: auto auto 5px -5px;
  }
}
