<div class="actions-container">
  <button
    *ngIf="uploadAllowed && !editable"
    ejs-button
    cssClass="e-flat secondary-icon-button"
    (click)="uploadAttachments()"
    [disabled]="disableAction"
  >
    <span class="upload-button"><i-feather name="upload" class="icon"></i-feather></span>
  </button>
  <button
    *ngIf="editable"
    ejs-button
    [disabled]="disableAction || isDeletable"
    [class.disabled]="disableAction || isDeletable"
    cssClass="e-flat secondary-icon-button custom-btn"
    (click)="deleteRecord()"
  >
    <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
  </button>
</div>
