<app-page-toolbar>
  <ng-container left>
    <button ejs-button cssClass="e-outline" (click)="navigateBack()">Back</button>
    <h3>{{titlevalue}}  <span class="candidate-name-title">{{candidateName$ | async}}</span></h3>
  </ng-container>
  <ng-container right *ngIf="showButtons">
    <button ejs-button cssClass="e-outline" [disabled]="isCandidateFormPristine" (click)="clearForm()">Clear</button>
    <button ejs-button cssClass="e-primary" (click)="saveCandidate()" [disabled]="!(userPermissions$ | async)?.[userPermissions.ManageIrpCandidateProfile]">Save</button>
  </ng-container>
</app-page-toolbar>

<app-tabs
  #tabs
  [tabs]="tabsConfig"
  (selectEmitter)="onTabChange($event)"
></app-tabs>
