@import 'colors';
@import 'adaptive-response';

:host {
  height: 100%;

  ::ng-deep {
    .controls-container {
      flex-direction: row;

      .left-content {
        @media #{$max-mobile} {
          align-items: center;
        }
      }
      
      .right-content {
        justify-content: flex-end;
        width: unset;
      }
    }
  }
}

.employee-title {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.candidate-name-title {
  font-weight: 700;
}

.mobile-buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  position: fixed;
  bottom: 0;
  padding: 12px 24px;
  background-color: $white;
  margin-left: -15px;
  width: calc(100% - 50px);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);

  button {
    width: 50%;
  }
}

@media #{$max-mobile} {
  :host {
    display: block;
    margin-top: 16px;
  }

  .employee-title {
    display: flex;
    flex-direction: column;
  }
}
