:host {
  height: 100%;

  ::ng-deep {
    .controls-container {
      flex-direction: row;
      
      .right-content {
        justify-content: flex-end;
      }
    }
  }
}

.candidate-name-title {
  margin-left: 10px;
  font-weight: 700;
}