@import 'colors.scss';

.container {
  padding-top: 24px;

  .toolbar-buttons {
    float: right;
    position: relative;
    z-index: 99;
    display: flex;

    .button-filter,
    .button-export {
      margin-right: 12px;
    }

    .search {
      margin-right: 12px;
    }
  }
}
