@import 'colors.scss';

.container {
  padding-top: 24px;
  height: 100%;

  .toolbar-buttons {
    float: right;
    position: relative;
    z-index: 99;
    display: flex;

    .button-filter,
    .button-import,
    .button-export {
      margin-right: 12px;
    }

    .search {
      margin-right: 12px;
    }
  }

  ::ng-deep {
    ejs-tab {
      .e-content.e-lib.e-touch {
        height: 94% !important;
      }
    }
  }
}
