<section class="container">
  <div class="toolbar-buttons">
    <app-search [hidden]="isBillRateSetupTabActive" class="search" #search> </app-search>
    <button *ngIf="isBillRateSetupTabActive" ejs-button cssClass="e-outline button-filter" (click)="filter()">
      <div class="filter-button-content">
        <span *ngIf="(filteredItems$ | async) || 0 as filteredItems" class="e-badge e-badge-success e-badge-pill align-text">{{
          filteredItems
        }}</span>
        Filters <i-feather name="sliders" class="icon"></i-feather>
      </div>
    </button>
    <app-tooltip-container
      [message]="toolTipMessage"
      [showToolTip]="!userPermission[userPermissions.CanEditSettingsBillRates]">
      <button
        *ngIf="isBillRateSetupTabActive"
        [disabled]="!userPermission[userPermissions.CanEditSettingsBillRates]"
        ejs-button
        id="importButton"
        cssClass="e-outline button-import"
        (click)="onImportDataClick()"
      >
        Import <i-feather name="download" class="icon"></i-feather>
      </button>
    </app-tooltip-container>
    <button
      ejs-dropdownbutton
      [items]="exportOptions"
      (select)="exportSelected($event)"
      cssClass="e-outline button-export"
    >
      <div class="button-export-container">Export <i-feather name="upload" class="icon"></i-feather></div>
    </button>
    <app-tooltip-container
      [message]="toolTipMessage"
      [showToolTip]="!canAddBillRate">
      <button
        *ngIf="showButton"
        ejs-button [isPrimary]="true"
        (click)="addBillRateSetupRecord()"
        [disabled]="!canAddBillRate"
      >
        {{ addBillRateBtnText }}
      </button>
    </app-tooltip-container>
  </div>

  <ejs-tab id="navigationTabs" (selected)="onTabSelected($event)" [heightAdjustMode]="'Fill'">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText><div>Bill Rate Setup</div></ng-template>
        <ng-template #content>
          <app-bill-rate-setup
            [filteredItems$]="filteredItems$"
            [export$]="exportMap.get(selectedTab)"
            [isActive]="isBillRateSetupTabActive"
            [importDialogEvent]="importDialogEvent"
            [userPermission]="userPermission"
          >
          </app-bill-rate-setup>
        </ng-template>
      </e-tabitem>

      <e-tabitem *ngIf="userPermission[userPermissions.CanViewExternalBillRates] && userPermission[userPermissions.CanManageExternalBillRates]">
        <ng-template #headerText><div>External Bill Rate</div></ng-template>
        <ng-template #content>
          <app-external-bill-rate
            [export$]="exportMap.get(selectedTab)"
            [searchQuery]="searchQuery"
            [isActive]="isExternalBillRateType"
            [userPermission]="userPermission"
          >
          </app-external-bill-rate>
        </ng-template>
      </e-tabitem>

      <e-tabitem *ngIf="userPermission[userPermissions.CanViewExternalBillRates] && userPermission[userPermissions.CanManageExternalBillRates]">
        <ng-template #headerText><div>External Bill Rate Mapping</div></ng-template>
        <ng-template #content>
          <app-bill-rate-type-mapping
            [export$]="exportMap.get(selectedTab)"
            [searchQuery]="searchQuery"
            [isActive]="isExternalBillRateTypeMapping"
            [userPermission]="userPermission"
          >
          </app-bill-rate-type-mapping>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</section>
