@import "../../../styles/variables/colors";
.flex-column {
  .toolbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    & > section {
      display: flex;
    }

    .year-filter {
      ejs-dropdownlist {
        .e-input-group.e-control-wrapper {
          height: 40px;
        }
      }
      width: 120px;
    }

    button {
      margin-left: 18px;
    }
  }

  .grid {
    margin-top: 20px;

    .grid-checkbox {
      pointer-events: none;
    }
  }

  .grid-component {
    margin-top: 25px;
    overflow-y: auto;
    height: 100%;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.holidays-form-dialog {
  &.form-container {
    margin-top: 20px;
  }

  .timepicker-field {
    width: 60%;
  }
}
