<ejs-dialog
  #destroyableDialog
  cssClass="dialog"
  [width]="888"
  [visible]="false"
  [isModal]="true"
  [target]="container"
  [animationSettings]="{ effect: 'SlideRight', duration: dialogAnimationTime }">
  <ng-template #content>
    <div class="dialog-container">
      
      <div class="dialog-header">
        <h3 class="title">Payment Details</h3>
        <div class="controls">
          <button ejs-button type="submit" cssClass="e-flat close-button" (click)="closeDialog()">
            <i-feather name="x" class="icon"></i-feather>
          </button>
        </div>
      </div>
      
      <div class="table-header">
        <div class="header-block-wrapper">
          <span class="header-block">Invoice Number: {{ invoiceData.invoiceNumber || '' }}</span>
          <span class="header-block">
            Invoice Amount: {{ invoiceData.amount || '' | currency: 'USD' }}
          </span>
        </div>
        <div *ngIf="(userPermission[this.userPermissions.CanOrganizationSetInvoiceStatusToPaid] && !isAgency)|| (userPermission[this.userPermissions.CanAgencySetInvoiceStatusToPaid] && isAgency)">
          <button (click)="addNewPayment()" class="add-btn" [disabled]="!actionsAllowed">
            + Add Payment
          </button>
        </div>
      </div>
      <div class="grid-table-container">
        <app-grid
          [columnDefinitions]="paymentTableDefs"
          [rowData]="tableData"
          [paginationPanel]="false"
          [adjustColumnsWidth]="true"
          [context]="context"
          (gridReadyEmitter)="setGridApi($event)"
          class="ag-theme-alpine app-grid__component"
        ></app-grid>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
