@import 'colors.scss';
@import 'mixins';
@import '@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '@ag-grid-community/core/dist/styles/ag-theme-alpine';

.dialog-container {
  padding: 24px;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}

.title {
  @include dialog-title;
}

.table-header {
  @include table-header;
}

.header-block {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: $title-black;
}

.header-block:last-of-type {
  border-left: 1px solid $secondary-dark-blue-45;
}

.add-btn {
  @include link-button;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
