@import 'colors';

::ng-deep {
  .amount-input {
    width: 95%!important;
    border: 1px solid var(--border-drop-area)!important;
    height: 40px!important;
    padding: 0!important;
    border-radius: 8px!important;
    padding-left: 15px!important;
    font-size: 14px!important;
    color: var(--text)!important;
  }

  .e-input-group {
    border-bottom: none;
  }
}

.init-value {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}