<section class="container">
  <section class="header-container">
    <div class="e-card-header">
      <div class="e-card-header-caption candidat-status">
        <h3 class="e-card-title candidate-title">
          {{candidate?.lastName}}, {{candidate?.firstName}}
          <i-feather name="briefcase" class="icon deployed-icon" *ngIf="candidate.deployedCandidateInfo && !isOnboard"></i-feather>
        </h3>
        <ejs-chiplist *ngIf="isTab && candidate.candidateStatus" [text]="candidatStatus[candidate.candidateStatus]">
          <e-chips>
            <e-chip [cssClass]="candidatStatus[candidate.candidateStatus] | chipsCssClass"></e-chip>
          </e-chips>
        </ejs-chiplist>
      </div>
      <div class="e-card-content">
        <div *ngIf="!isCancelled" class="status-actions">
          <app-tooltip-container [showToolTip]="!actionsAllowed">
            <button *ngIf="showRejectButton" ejs-button cssClass="e-outline"
                    [disabled]="!actionsAllowed"
                    (click)="onReject()">Reject</button>
          </app-tooltip-container>
          <app-tooltip-container [showToolTip]="!actionsAllowed">
            <button *ngIf="showWithdrawAction" ejs-button cssClass="e-outline"
                    [disabled]="!actionsAllowed"
                    (click)="onWithdraw()">Withdraw</button>
          </app-tooltip-container>
          <app-tooltip-container [showToolTip]="!actionsAllowed">
            <button ejs-button [isPrimary]="true" *ngIf="showApplyAction" class="apply-button"
                    [disabled]="!actionsAllowed"
                    (click)="onApply()">Apply</button>
          </app-tooltip-container>
          <app-tooltip-container [showToolTip]="!actionsAllowed">
            <button ejs-button [isPrimary]="true" *ngIf="showAccepteAction" class="apply-button"
                    [disabled]="!actionsAllowed"
                    (click)="onAccept()">Accept</button>
          </app-tooltip-container>
        </div>
        <button *ngIf="!isTab" ejs-button cssClass="e-flat close-button" (click)="onClose()">
          <i-feather name="x" class="icon"></i-feather>
        </button>
      </div>
    </div>
    <app-deploy-candidate-message *ngIf="candidate.deployedCandidateInfo && !isOnboard" [isAgency]="isAgency" [candidateBasicInfo]="deployedCandidateOrderInfo"></app-deploy-candidate-message>
  </section>
  <section class="content-container">
    <div class="candidate-info">
      <ejs-accordion #accordionElement expandMode="Single" appOpenFirstAccordion>
        <e-accordionitems>
          <e-accordionitem expanded="true">
            <ng-template #header>
              <div>Job Details</div>
            </ng-template>
            <ng-template #content>
              <form [formGroup]="form">
                <div class="d-flex">
                  <div class="input-container bootstrap f-grow-2">
                    <label>Job ID</label>
                    <div class="input-group" [ngClass]="{'input-readonly': isApplied}">
                      <input appValidateWithMessage formControlName="jobId" class="e-input" type="text" [readOnly]="isApplied"/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label>Bill Rate ($)</label>
                    <div class="input-group" [ngClass]="{'input-readonly': isApplied}">
                      <input
                        appValidateWithMessage
                        formControlName="billRates"
                        class="e-input"
                        type="text"
                        [readOnly]="isApplied"
                        (focus)="priceUtils.setPriceMask(form, 'billRates', $event)"
                        (blur)="priceUtils.setTwoDecimals(form, 'billRates', $event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-container bootstrap f-grow-2">
                    <label>Job Date</label>
                    <div class="input-group" [ngClass]="{'input-readonly': isApplied}">
                      <ejs-daterangepicker
                        formControlName="date"
                        format="MM/dd/yyyy"
                        [readonly]="isApplied"
                        placeholder="DD/MM/YYYY - DD/MM/YYYY">
                      </ejs-daterangepicker>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label>Candidate Bill Rate ($) <span *ngIf="isApplied" class="required">*</span></label>
                    <div class="input-group">
                      <input
                        appValidateWithMessage
                        formControlName="candidateBillRate"
                        class="e-input"
                        type="text"
                        (focus)="priceUtils.setPriceMask(form, 'candidateBillRate', $event)"
                        (blur)="priceUtils.setTwoDecimals(form, 'candidateBillRate', $event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-container bootstrap">
                    <label>Location</label>
                    <div class="input-group" [ngClass]="{'input-readonly': isApplied}">
                      <input appValidateWithMessage formControlName="locationName" class="e-input" type="text" [readOnly]="isApplied"/>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-container bootstrap">
                    <label>Yrs. of Exp.</label>
                    <div class="input-group" [ngClass]="{'input-readonly': isApplied}">
                      <input appValidateWithMessage formControlName="yearExp" class="e-input" type="text" [readOnly]="isApplied"/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label>Exp. as Travelers</label>
                    <div class="input-group">
                      <input appValidateWithMessage formControlName="expAsTravelers" class="e-input" type="text"/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label>Offered Bill Rate ($)</label>
                    <div class="input-group" [ngClass]="{'input-readonly': isApplied}">
                      <input
                        appValidateWithMessage
                        formControlName="offeredBillRate"
                        class="e-input"
                        [readOnly]="isApplied"
                        (focus)="priceUtils.setPriceMask(form, 'offeredBillRate', $event)"
                        (blur)="priceUtils.setTwoDecimals(form, 'offeredBillRate', $event)"
                        type="text"/>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-container bootstrap f-grow-2"> 
                    <label>Available Start Date <span *ngIf="isApplied" class="required">*</span></label>
                    <div class="input-group datepicker">
                      <ejs-datepicker appValidateWithMessage
                                      class="datepicker"
                                      format="MM/dd/yyyy"
                                      placeholder="MM/DD/YYYY"
                                      [enableMask]="true"
                                      [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                                      formControlName="availableStartDate">
                      </ejs-datepicker>
                    </div>
                  </div>
                  <div class="input-container bootstrap" *ngIf="isCandidatePayRateVisible &&  !isApplied">
                    <label>Candidate Pay Rate ($) <span *ngIf="candidatePayRateRequired" class="required">*</span></label>
                    <div class="input-group">
                      <input
                        appValidateWithMessage
                        formControlName="candidatePayRate"
                        class="e-input"
                        type="text"
                        (focus)="priceUtils.setPriceMask(form, 'candidatePayRate', $event)"
                        (blur)="priceUtils.setTwoDecimals(form, 'candidatePayRate', $event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-container bootstrap">
                    <label>Leave request comments</label>
                    <div class="input-group">
                      <input appValidateWithMessage formControlName="comments" class="e-input" type="text" />
                    </div>
                  </div>
                </div>
                <div *ngIf="showGuaranteedWorkWeek" class="d-flex">
                  <div class="input-container bootstrap f-grow-2">
                    <label>Guaranteed Work Week</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="guaranteedWorkWeek" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label>Offered Start Date</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="offeredStartDate" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
                <div *ngIf="isOnboard" class="d-flex">
                  <div class="input-container bootstrap">
                    <label>Clock ID</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="clockId" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label>Actual Start Date</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="actualStartDate" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label>Actual End Date</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="actualEndDate" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-container bootstrap" *ngIf="isRejected">
                    <label>Rejection Reason</label>
                    <div class="input-group">
                      <input appValidateWithMessage formControlName="rejectReason" class="e-input" type="text" />
                    </div>
                  </div>
                </div>
                <div *ngIf="isCancelled">
                  <div class="input-container bootstrap">
                    <label class="input-group">Reason</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="jobCancellationReason" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Penalty Criteria</label>
                    <div class="input-group input-readonly">
                      <input appValidateWithMessage formControlName="penaltyCriteria" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="input-container bootstrap">
                      <label class="input-group">{{ showPercentage ? '% ' : '' }}Rate</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="rate" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap" *ngIf="showHoursControl">
                      <label class="input-group">Hours</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="hours" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        <e-accordionitem>
          <ng-template #header>
            <div>Historical Events</div>
          </ng-template>
          <ng-template #content>
            <app-historical-events [organizationId]="candidateJob?.organizationId!" [candidateJobId]="candidate.candidateJobId" [candidateId]="candidate.candidateId" [isAgency]="isAgency"></app-historical-events>
          </ng-template>
        </e-accordionitem>
      </e-accordionitems>
      </ejs-accordion>
    </div>
    <div class="comments">
      <app-comments *ngIf="candidateJob" [comments]="comments" [externalCommentConfiguration]="order.externalCommentsConfiguration" [commentContainerId]="candidateJob.commentContainerId || 0"></app-comments>
    </div>
  </section>
  <section class="bill-rates">
    <app-bill-rates-view-grid [billRatesData]="billRatesData"></app-bill-rates-view-grid>
  </section>
  <ng-container *ngIf="!isCancelled && (showRejectButton || showWithdrawAction || showApplyAction || showAccepteAction)">
    <div class="mobile-actions" [ngClass]="{'tab': isTab}">
      <button *ngIf="showRejectButton" ejs-button cssClass="e-outline" (click)="onReject()">Reject</button>
      <button *ngIf="showWithdrawAction" ejs-button cssClass="e-outline" (click)="onWithdraw()">Withdraw</button>
      <button ejs-button [isPrimary]="true" *ngIf="showApplyAction" class="apply-button"
        [disabled]="!actionsAllowed"
        (click)="onApply()">Apply</button>
      <button ejs-button [isPrimary]="true" *ngIf="showAccepteAction" class="apply-button"
        [disabled]="!actionsAllowed"
        (click)="onAccept()">Accept</button>
    </div>
  </ng-container>
</section>

<app-reject-reason-dialog
  [rejectReasonsList]="rejectReasons"
  [openEvent]="openRejectDialog"
  (applyReject)="rejectCandidateJob($event)"
></app-reject-reason-dialog>
