@import 'colors';
@import 'adaptive-response';
@import 'mixins';

:host {
  overflow-y: auto;
}

.status-actions {
  @media (max-width: $tablet-min) {
    display: none;
  }
}

.container {
  .deployed-icon {
    color: $primary-active-blue;
  }

  .apply-button {
    margin: 0 8px 0 12px;
  }

  .close-button {
    margin-left: 8px;
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    @media (max-width: $tablet-min) {
      flex-direction: column;
    }

    .candidate-info {
      width: 55%;
      margin-right: 12px;

      .dropdown {
        margin-top: 12px;
      }

      ejs-accordion {
        margin-bottom: 10px;
      }
    }

    .comments {
      width: 45%;
      background-color: $secondary-dark-blue-50;
      height: auto;
      border-radius: 8px;
    }

    .input-group.input-readonly {
      .e-input[readonly],
      ejs-daterangepicker .e-input-group,
      ejs-datepicker .e-input-group {
        background-color: $secondary-dark-blue-50;
        color: $secondary-dark-blue-30;
        border: 1px solid $secondary-dark-blue-40 !important;
      }
    }

    @media (max-width: $tablet-min) {
      flex-direction: column;
      .candidate-info {
        width: 100%;
      }

      .comments {
        width: 100%;
      }
    }
  }

  .bill-rates {
    margin-top: 16px;
  }
}

.candidat-status {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-min) {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.d-flex {
  display: flex;
  gap: 10px;

  .input-container {
    margin-bottom: 12px;
    flex: 1 1 0px;

    label {
      white-space: nowrap;
    }
  }

  .f-grow-2 {
    flex-grow: 2;
  }
}

.e-card-content {
  display: flex;
  flex-wrap: nowrap;
}

.mobile-actions {
  position: fixed;
  bottom: 73px;
  left: 0;
  width: 93%;
  padding: 24px 16px;
  background-color: $white;
  z-index: 1001;
  display: none;
  border-top: 1px solid $secondary-dark-blue-45;

  &.tab{
    bottom: 0;
  }

  .dropdown {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 0 !important;

    &:not(:first-child) {
      margin-left: 16px !important;
    }
  }

  @media (max-width: $tablet-min) {
    display: flex;
  }
}

.candidate-message {
  @include candidateMessage;
}

