<section class="container">
  <section class="header-container">
    <div class="e-card-header">
      <div class="e-card-header-caption candidat-status">
        <h3 class="e-card-title candidate-title">
          {{candidate?.lastName}}, {{candidate?.firstName}}
          <i-feather name="briefcase" class="icon deployed-icon" *ngIf="isDeployedCandidate"></i-feather>
        </h3>
        <ejs-chiplist *ngIf="isTab && candidateJob?.applicantStatus && !isDeployedCandidate" [text]="statusText">
          <e-chips>
            <e-chip
              [cssClass]="candidatStatus[applicationStatus] | chipsCssClass">
            </e-chip>
          </e-chips>
        </ejs-chiplist>
      </div>
      <div class="e-card-content button-container">
        <div class="input-group dropdown bootstrap" *ngIf="!isRejected && !isReadOnly && !isClosedPosition">
          <ejs-dropdownlist [fields]="optionFields"
                            [dataSource]="nextApplicantStatuses"
                            [formControl]="statusesFormControl"
                            [disabled]="!actionsAllowed"
                            [itemTemplate]="itemTemplate"
                            [allowFiltering]="true"
                            placeholder="Select Status"
                            (select)="onStatusChange($event)">
            <ng-template #itemTemplate let-data>
              <span [ngClass]="{'disabled-item': !data.isEnabled}">{{data.statusText}}</span>
            </ng-template>
          </ejs-dropdownlist>
        </div>
        <button ejs-button cssClass="e-primary" (click)="onSave()" *ngIf="!isRejected && !isReadOnly">
          Save
        </button>
        <button *ngIf="!isTab" ejs-button cssClass="e-flat close-button" (click)="onClose()">
          <i-feather name="x" class="icon"></i-feather>
        </button>
      </div>
    </div>
    <app-eligibility-message [message]="candidateJob?.notEligibilityMessage"></app-eligibility-message>
    <app-deploy-candidate-message *ngIf="isDeployedCandidate" [isAgency]="isAgency" [candidateBasicInfo]="deployedCandidateOrderInfo"></app-deploy-candidate-message>
  </section>
  <section class="content-container">
    <div class="job-details">
      <ejs-accordion #accordionElement expandMode="Single" appOpenFirstAccordion>
        <e-accordionitems>
          <e-accordionitem expanded="true">
            <ng-template #header>
              <div>Job Details</div>
            </ng-template>
            <ng-template #content>
              <form [formGroup]="formGroup">
                <div class="d-flex bootstrap">
                  <div class="input-container f-grow-2">
                    <label>Job ID</label>
                    <div class="input-group input-readonly">
                      <input formControlName="jobId" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div class="input-container">
                    <label>Bill Rate ($)</label>
                    <div class="input-group input-readonly">
                      <input
                        formControlName="orderBillRate"
                        class="e-input"
                        type="text"
                        (focus)="priceUtils.setPriceMask(formGroup, 'orderBillRate', $event)"
                        (blur)="priceUtils.setTwoDecimals(formGroup, 'orderBillRate', $event)"
                        readonly/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container f-grow-2">
                    <label>Job Date</label>
                    <div class="input-group input-readonly">
                      <ejs-daterangepicker formControlName="jobDate" readonly="true"></ejs-daterangepicker>
                    </div>
                  </div>
                  <div class="input-container">
                    <label class="input-group">Clock ID </label>
                    <div>
                      <input appValidateWithMessage formControlName="clockId" class="e-input" type="text" maxlength="50"/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Candidate Bill Rate ($)</label>
                    <div class="input-group input-readonly">
                      <input
                        formControlName="candidateBillRate"
                        class="e-input"
                        type="number"
                        (focus)="priceUtils.setPriceMask(formGroup, 'candidateBillRate', $event)"
                        (blur)="priceUtils.setTwoDecimals(formGroup, 'candidateBillRate', $event)"
                        readonly/>
                    </div>
                  </div>
                  <div class="input-container">
                    <label>Offered Bill Rate ($)<span *ngIf="!isRejected && !isReadOnly" class="required">*</span></label>
                    <div class="input-group" [ngClass]="{'input-readonly': isRejected || isReadOnly || (!hasCanEditOrderBillRatePermission && !isAgency) }">
                      <input appValidateWithMessage
                             [readonly]="isRejected || isReadOnly || (!hasCanEditOrderBillRatePermission && !isAgency)"
                             formControlName="offeredBillRate"
                             class="e-input"
                             (focus)="priceUtils.setPriceMask(formGroup, 'offeredBillRate', $event)"
                             (blur)="priceUtils.setTwoDecimals(formGroup, 'offeredBillRate', $event)"
                             type="text"/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Location</label>
                    <div class="input-group input-readonly">
                      <input formControlName="locationName" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div *ngIf="showYearsOfExperience" class="input-container">
                    <label>Yrs. of Exp.</label>
                    <div class="input-group input-readonly">
                      <input formControlName="yearsOfExperience" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                  <div *ngIf="showYearsOfExperience" class="input-container">
                    <label>Exp. as Travelers</label>
                    <div class="input-group input-readonly">
                      <input formControlName="expAsTravelers" class="e-input" type="number" readonly/>
                    </div>
                  </div>
                  <div class="d-flex bootstrap">
                    <div class="input-container">
                      <label>Available Start Date</label>
                      <div class="input-group input-readonly">
                        <ejs-datepicker appValidateWithMessage
                                        class="datepicker"
                                        format="MM/dd/yyyy"
                                        readonly="true"
                                        formControlName="availableStartDate">
                        </ejs-datepicker>
                      </div>
                    </div>

                    <div class="input-container" *ngIf="isCandidatePayRateVisible && showCandidatePayRate">
                      <label>Candidate Pay Rate ($)</label>
                      <div class="input-group input-readonly">
                        <app-numeric-textbox
                          [formGroupInstance]="formGroup"
                          [decimals]="payRateSetting.decimals"
                          [maxLength]="payRateSetting.maxLength"
                          [min]="payRateSetting.min"
                          [format]="payRateSetting.format"
                          controlName="candidatePayRate"
                        ></app-numeric-textbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap">
                  <div class="input-container">
                    <label>Leave request comments</label>
                    <div class="input-group input-readonly">
                      <input formControlName="requestComment" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
                <div *ngIf="showGuaranteedWorkWeek" class="d-flex">
                  <div class="input-container bootstrap f-grow-2">
                    <label class="input-group">Guaranteed Work Week</label>
                    <div class="input-group">
                      <input appValidateWithMessage formControlName="guaranteedWorkWeek" maxlength="200" class="e-input" type="text"/>
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Offered Start Date</label>
                    <div class="input-group">
                      <ejs-datepicker appValidateWithMessage
                                      class="datepicker"
                                      format="MM/dd/yyyy"
                                      formControlName="offeredStartDate">
                      </ejs-datepicker>
                    </div>
                  </div>
                </div>
                <div class="d-flex bootstrap" *ngIf="isRejected">
                  <div class="input-container">
                    <label>Rejection Reason</label>
                    <div class="input-group input-readonly">
                      <input formControlName="rejectReason" class="e-input" type="text" readonly/>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>Historical Events</div>
            </ng-template>
            <ng-template #content>
              <app-historical-events [organizationId]="candidateJob?.organizationId!" [candidateJobId]="candidate.candidateJobId" [candidateId]="candidate.candidateId" [isAgency]="isAgency"></app-historical-events>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <div class="comments">
      <app-comments *ngIf="candidateJob" [canVmsCreateOrders]="canCreateOrder" [comments]="comments" [externalCommentConfiguration]="order.externalCommentsConfiguration" [commentContainerId]="candidateJob.commentContainerId || 0"></app-comments>
    </div>
  </section>
  <section class="bill-rates">
    <app-bill-rates #billRates
                    [billRates]="billRatesData"
                    [isActive]="true"
                    [readOnlyMode]="isReadOnlyBillRates"
                    (billRatesChanged)="onBillRatesChanged()">
    </app-bill-rates>
  </section>
  <ng-container *ngIf="(!isRejected && !isReadOnly && !isClosedPosition)">
    <div class="mobile-actions" [ngClass]="{'tab': isTab}">
      <div class="input-group dropdown bootstrap" *ngIf="!isRejected && !isReadOnly && !isClosedPosition">
        <ejs-dropdownlist [fields]="optionFields"
                          [dataSource]="nextApplicantStatuses"
                          [formControl]="statusesFormControl"
                          [itemTemplate]="itemTemplate"
                          [allowFiltering]="true"
                          placeholder="Select Status"
                          (select)="updateCandidateJob($event)">
          <ng-template #itemTemplate let-data>
            <span [ngClass]="{'disabled-item': !data.isEnabled}">{{data.statusText}}</span>
          </ng-template>
        </ejs-dropdownlist>
      </div>
    </div>
  </ng-container>
</section>

<app-reject-reason-dialog
  [rejectReasonsList]="rejectReasons"
  [openEvent]="openRejectDialog"
  (applyReject)="onRejectCandidate($event)"
  (cancelReject)="cancelRejectCandidate()"
></app-reject-reason-dialog>
