@import 'colors';
@import 'adaptive-response';

:host {
  overflow-y: auto;
}

.container {
  .deployed-icon {
    color: $primary-active-blue;
  }

  .header-container {
    .button-container {
      display: flex;
      gap: 12px;

      @media (max-width: $tablet-min) {
        button:not(.close-button),
        .dropdown {
          display: none;
        }
      }
    }
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    .job-details {
      margin-right: 12px;
      width: 55%;

      .input-container,
      .dropdown-container,
      .datepicker-container {
        margin-bottom: 12px;
        flex: 1 1 0px;

        label {
          white-space: nowrap;
        }
      }

      .input-group.input-readonly {
        .e-input[readonly],
        ejs-daterangepicker .e-input-group,
        ejs-datepicker .e-input-group {
          background-color: $secondary-dark-blue-50;
          color: $secondary-dark-blue-30;
          border: 1px solid $secondary-dark-blue-40 !important;
        }
      }

      .d-flex {
        display: flex;
        gap: 10px;
        flex: 1;

        .f-grow-2 {
          flex-grow: 2;
        }
      }
    }

    .comments {
      width: 45%;
      background-color: $secondary-dark-blue-50;
      border-radius: 8px;
    }

    @media (max-width: $tablet-min) {
      flex-direction: column;
      .job-details {
        width: 100%;
      }

      .comments {
        margin-top: 20px;
        width: 100%;
      }
    }
  }

  .bill-rates {
    margin-top: 16px;
  }
}

.candidat-status {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-min) {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.mobile-actions {
  position: fixed;
  bottom: 73px;
  left: 0;
  width: 94%;
  padding: 24px 16px;
  background-color: $white;
  z-index: 1001;
  display: none;
  border-top: 1px solid $secondary-dark-blue-45;

  &.tab{
    bottom: 0;
  }

  .dropdown {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 0 !important;

    &:not(:first-child) {
      margin-left: 16px !important;
    }
  }

  @media (max-width: $tablet-min) {
    display: flex;
  }
}

