@import "colors";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 !important;

    .widget-container {
      background-color: var(--background);
      padding: 16px 24px;

      .e-mastertext {
        font-size: 14px;
        line-height: 20px;
        color: var(--text);
        margin-bottom: 4px;
      }

      .widget-grid {
        border: none;
        cursor: pointer;

        &__name {
          font-size: 16px !important;
          line-height: 22px !important;
        }

        &__description {
          font-size: 12px !important;
          line-height: 16px;
        }
      }

      .e-grid .e-gridheader {
        display: none;
      }
    }

  .e-card-header {
    margin: 0;
  }
}
