<div class="attachment" *ngFor="let attachment of attachments; trackBy: trackById">
    <i-feather *ngIf="attachmentsListConfig?.download"
               (click)="$event.stopPropagation(); $event.preventDefault(); download(attachment)"
               name="download"
               class="icon file-icon"
    ></i-feather>

    <ejs-tooltip [content]="attachment.fileName"
                 (click)="preview(attachment)"
                 position="BottomCenter"
                 class="file-name"
    >
        {{attachment.fileName}}
    </ejs-tooltip>

    <div class="delete-icon" *ngIf="attachmentsListConfig?.delete">
        <i-feather name="trash-2" class="icon" (click)="attachmentsListConfig?.delete(attachment)"></i-feather>
    </div>
</div>
