<div class="attachment" *ngFor="let attachment of attachments;let ind = index; trackBy: trackById">
    <i-feather *ngIf="attachmentsListConfig?.download"
               (click)="$event.stopPropagation(); $event.preventDefault(); download(attachment)"
               name="download"
               class="icon file-icon"
    ></i-feather>

    <ejs-tooltip [content]="attachment.fileName"
                 [class.preview-enabled]="!!attachmentsListConfig?.preview"
                 (click)="preview(attachment,ind)"
                 position="BottomCenter"
                 class="file-name"
    >
        {{attachment.fileName}}
    </ejs-tooltip>

    <div class="delete-icon" *ngIf="attachmentsListConfig?.delete">
        <i-feather
          name="trash-2"
          class="icon"
          [ngStyle]="{ color: deleteIconColor }"
          [class.disabled]="disableDelete"
          (click)="!disableDelete ? attachmentsListConfig?.delete(attachment) : null"
        ></i-feather>
    </div>
</div>
