@import "../../../styles/variables/mixins.scss";

.dialog-footer-actions {
  display: flex;
  justify-content: space-between;
  padding: 9px 12px;

  .action-link {
    @include linkWithIcon;

    &:last-child {
      i-feather {
        margin-left: 5px;
        margin-right: 0;
      }
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
}
