@import "colors";

.onboard-candidate-dialog {
  border-radius: 10px !important;

  & + .e-dlg-overlay {
    background-color: $black;
  }
  .e-dlg-header-content {
    border-bottom: 1px solid $secondary-dark-blue-45;
  }

  .e-footer-content {
    border-top: 1px solid $secondary-dark-blue-45;
    padding: 20px 10px;
  }

  .e-card-header {
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $black;
    }
  }

  .sup-title {
    font-size: 16px;
    font-weight: 400;
    color: $pure-black;
    margin: 18px 0;
  }

  .e-control.e-btn.e-outline.delete-button {
    background-color: $supportive-red;
    border-color: $supportive-red;
    color: $white !important;
    margin-right: 12px;
  }
}
