<section class="reorders-list">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Re-Orders</h3>
    </div>
  </div>
  <ejs-grid
    id="users-grid"
    class="users-grid e-gridwithheader"
    [dataSource]="currentReOrders || []"
    [allowSorting]="false"
    [allowResizing]="true"
    [allowSelection]="false"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [enableVirtualization]="true"
    [allowPaging]="false"
    [pageSettings]="pageSettings"
    [height]="300"
  >
    <e-columns>
      <e-column width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat default-icon-button">
              <span><i-feather name="message-square" class="icon"></i-feather></span>
            </button>
            <button
              ejs-button
              cssClass="e-flat primary-icon-button"
              [class.disable]="!canCreateOrder"
              *ngIf="!isAgency"
              (click)="edit(data)"
            >
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="id" headerText="re-order id" textAlign="Left" width="100">
        <ng-template #template let-data>
          <div class="link" (click)="onViewNavigation(data)">{{ data.organizationPrefix }}-{{ data.publicId }}</div>
        </ng-template>
      </e-column>
      <e-column field="statusText" headerText="Status" textAlign="Left" width="160">
        <ng-template #template let-data>
          <div class="status-cell">
            <ejs-chiplist>
              <e-chips>
                <e-chip [text]="data.statusText" [cssClass]="data.statusText | chipsCssClass"></e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="agencies" headerText="Agency" textAlign="Left" width="200" *ngIf="!isAgency">
        <ng-template #template let-data>
          {{ data.agencies?.length ? data.allAgencies ? 'All' : data.agencies.join(', ') : '' }}
        </ng-template>
      </e-column>
      <e-column field="billRate" headerText="BILL RATE $" textAlign="Left" width="120">
        <ng-template #template let-data>
          <div class="align-right">${{ data.billRate }}</div>
        </ng-template>
      </e-column>
      <e-column field="startDate" headerText="date" textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="align-right">{{ data.startDate | date: 'MM/dd/yyyy' : 'UTC' }}</div>
        </ng-template>
      </e-column>
      <e-column field="shift" textAlign="Right" headerText="SHIFT" width="150">
        <ng-template #template let-data>
          <span>{{ data.shiftStartTime | date: 'HH:mm':'UTC' }}-{{ data.shiftEndTime | date: 'H:mm':'UTC' }}</span>
        </ng-template>
      </e-column>
      <e-column field="openPositions" headerText="# POSITIONS" width="120">
        <ng-template #template let-data>
          <span>{{ data.acceptedPositions }}/{{ data.openPositions }}</span>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
  <app-grid-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecordsCount]="currentReOrders?.length ?? 0"
    (navigateToPageEmitter)="gridPageChanged($event)"
    (pageSizeChangeEmitter)="onRowsDropDownChanged()"
  ></app-grid-pagination>
</section>
