<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme">
  <ng-template #header>
    <div class="app-accumulation-chart__title">
      <h3 class="widget-header__title">My Tasks</h3>
    </div>
    <div class="app-widget-wrapper__tooltip" *ngIf="description.length>0">
      <ejs-tooltip [content]="description" position='TopCenter'>
        <span class="mytooltip">
          <i-feather name="info" id="info"
            [ngClass]="{'app-custom-icon-dark': isDarkTheme, 'app-custom-icon-light': !isDarkTheme}"></i-feather>
        </span>
      </ejs-tooltip>
    </div>

  </ng-template>
  <ng-template #OrgChart>
    <div *ngIf="!isAgencyUser" [ngClass]="selectedSystem.isIRP ? 'irpWidget' : '' ">
      <div class="widget">
        <span class="widget__type" (mousedown)="defineMousePosition($event)"
          (click)="toSourceContent('OrdersforApproval')">
          <ul>
            <li>
            </li>
          </ul> 
          <p class="orgname">Pending Order(s) Approval</p>
          <p class="orgcount">{{chartData?.pendingOrders}}</p>
        </span>
      </div>
      <div class="widget">
        <span class="widget__type" (mousedown)="defineMousePosition($event)" (click)="toSourceContent('ManualInvoice')">
          <ul>
            <li>
            </li>
          </ul> 
          <p class="orgname">Pending Manual Invoice(s) Approval</p>
          <p class="orgcount">{{chartData?.pendingManualInvoices}}</p>
        </span>
      </div>
      <div class="widget">
        <span class="widget__type" (mousedown)="defineMousePosition($event)" (click)="toSourceContent('pendingInvoice')">
          <ul>
            <li>
            </li>
          </ul> 
          <p class="orgname">Pending Invoice(s) Approval</p>
          <p class="orgcount">{{chartData?.pendingOrganizationInvoices}}</p>
        </span>
      </div>
      <div class="widget">
        <span class="widget__type" (mousedown)="defineMousePosition($event)"
          (click)="toSourceContent('Pending Timesheet')">
          <ul>
            <li>
            </li>
          </ul> 
          <p class="orgname">Pending Timesheet(s) Approval</p>
          <p class="orgcount">{{chartData?.pendingTimeSheets}}</p>
        </span>
      </div>
      <div class="widget" *ngIf="selectedSystem.isIRP">
          <span class="widget__type" (mousedown)="defineMousePosition($event)"
            (click)="toSourceContent('NoOfLongTermOrders')">
            <ul>
              <li>
              </li>
            </ul> 
             <p class="orgname">No. of Long Term Orders in Next 30 Days</p>
            <p class="orgcount">{{chartData?.quickLinkNoOfLongTermOrdersInNext30Days}}</p>
          </span>
      </div>
    </div>

    <div class="widget" *ngIf="isAgencyUser">
      <span class="widget__type" (mousedown)="defineMousePosition($event)">
        <ul>
          <li>
          </li>
        </ul> 
        <p class="orgname">Credentials Expiring in next 30 days </p>
        <p class="orgcount">{{chartData?.expiringCredentialsCount}}</p>
      </span>
      <span class="widget__type" *ngFor="let missingdata of chartData?.missingTimeSheet"
        (mousedown)="defineMousePosition($event)" (click)="toTimesheetcontent(missingdata.organizationId)">
        <ejs-tooltip [content]="missingdata?.organizationName" position="TopCenter">
          <ul>
            <li>
            </li>
          </ul> 
           <p class="orgname">Timesheet missing - {{missingdata?.organizationName}}</p>
          <p class="orgcount">{{missingdata?.count}}</p>
        </ejs-tooltip>
      </span>
    </div>
  </ng-template>
</app-widget-wrapper>