@import "colors";

.widget {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 100%;
  text-align: center;

  &__title {
    padding-bottom: 4%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;

    @media screen and (max-width: 600px) {
      padding-bottom: 3px;
    }
  }

  &__type {
    font-size: 14px;
    color: $secondary-dark-blue-20;
    margin-right: -12px;
    margin-right: 4px;
    cursor: default;

    @media screen and (max-width: 1550px) {
      font-size: 12px;
    }
  }
}

  .app-widget-wrapper {
    &__tooltip {
      text-align: right;
      float: right;
      width: 100%
    }
  }

.orgcount {
    text-align: right;
    width: -webkit-fill-available;
    width: -moz-available;
    width : 10%;
}
.orgname {
    text-align: left;
    white-space: nowrap;
    color: #3E7FFF;
    cursor: pointer;
    font-size: 13px;
    width: max-content;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.widget__type {
    display: flex;
    width: 100%;
}
.widget{
    padding: 10px 0px 0px 0px !important;
}
.widget__type p {
    margin: 5px 0px;
}
.app-widget-wrapper__header{
    padding-bottom: 5px;
}
ejs-tooltip {
  display: flex;
    width: 100%;
}