@import 'colors.scss';

.form-container {
  padding-top: 31px;

  .group {
    padding-top: 12px;
    display: flex;

    .input-container {
      width: 400px;

      &:first-child {
        padding-right: 12px;
      }
    }
  }

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-wrapper {
    display: flex;

    .input-group {
      width: 100%;
      margin-right: 12px;
    }
  }

  .grid-container {
    padding-top: 16px;

    .input-container {
      label {
        display: flex;

        .required {
          padding-left: 5px;
        }

        .grid-error-validation {
          padding-left: 5px;
          color: $supportive-red;
          display: flex;
          align-items: center;

          span {
            padding-left: 5px;
          }
        }
      }
    }
  }
}

.e-hide {
  opacity: 0.7;
  pointer-events: none;
}

.checkbox-container {
  width: 20px;
}
.comment{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}