.credential-from {
  margin-top: 24px;

  .system-wrapper {
    display: flex;
  }

  .credential-wrapper {
    display: block;
  }

  .input-group {
    margin-top: 5px;
  }

  .input-container {
    margin-bottom: 15px;
  }

  .checkbox-container {
    padding-top: 12px;
    margin-right: 16px;
  }
  .commentfield{
    height: 120px !important;
  }
}
