<app-side-dialog
  [disableSaveButton]="disableButton"
  (formCancelClicked)="closeCredentialDialog()"
  (formSaveClicked)="saveCredential()"
  [header]="title"
  [width]="dialogHeight"
>
  <div class="credential-from bootstrap" *ngIf="credentialForm">
    <form [formGroup]="credentialForm">
      <ng-container *ngFor="let configItem of dialogConfig; trackBy:trackByTitle">
        <div class="input-container">
          <label>{{ configItem.title }} <span *ngIf="configItem.required" class="required">*</span></label>
          <div [class]="configItem.class">
            <ng-container *ngFor="let item of configItem.fields; trackBy:trackByIndex">
              <ng-container [ngSwitch]="item.type">

                <ng-template [ngSwitchCase]="FieldTypes.CheckBox">
                  <div class="checkbox-container">
                    <ejs-checkbox
                      [disabled]="item.disabled"
                      [formControlName]="item.field"
                      [label]="item.title"
                    ></ejs-checkbox>
                  </div>
                </ng-template>

                <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
                  <div class="input-container">
                    <label [for]="item.field">{{ item.title }} <span *ngIf="item.required" class="required">*</span>
                    </label>
                    <div class="input-group dropdown">
                      <ejs-dropdownlist
                        appValidateWithMessage
                        [formControlName]="item.field"
                        [allowFiltering]="true"
                        [fields]="optionFields"
                        [dataSource]="item.dataSource"
                      ></ejs-dropdownlist>
                    </div>
                  </div>
                </ng-template>

                <ng-template [ngSwitchCase]="FieldTypes.Input">
                  <div class="input-container">
                    <label [for]="item.field">{{ item.title }} <span *ngIf="item.required" class="required">*</span>
                    </label>
                    <div class="input-group">
                      <input
                        class="e-input"
                        [name]="item.field"
                        appValidateWithMessage
                        [formControlName]="item.field"
                      />
                    </div>
                  </div>
                </ng-template>

                <ng-template [ngSwitchCase]="FieldTypes.TextArea">
                  <div class="input-container" *ngIf="item.show">
                    <label [for]="item.field">{{ item.title }} <span *ngIf="item.required" class="required">*</span>
                    </label>
                    <div class="input-group">
                      <ejs-textbox
                        class="commentfield"
                        maxlength="4000"
                        [formControlName]="item.field"
                        [multiline]="true"
                      ></ejs-textbox>
                    </div>
                  </div>
                </ng-template>

              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</app-side-dialog>

<app-override-comments-dialog
  *ngIf="showOverrideDialog"
  (destroyDialog)="destroyDialog()"
  (confirm)="confirmOverrideComments($event)"
></app-override-comments-dialog>
