@import 'colors.scss';

.e-badge.e-badge-success.e-badge-circle {
  height: 16px !important;
  width: 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 11px;
  background-color: $primary-active-blue-15 !important;
  transition: transform 500ms;
  transform: translate(0, 0);
}

.e-close .e-badge.e-badge-success.e-badge-circle {
  overflow: visible;
  transition: transform 500ms;
  transform: translate(-0.7rem, -0.7rem);
}

.e-badge.e-badge-success.e-badge-pill {
  background-color: $primary-active-blue-15 !important;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  min-width: 16px;
}

.default-icon-button {
  &.with-badge {
    position: relative;

    .e-badge {
      &.right-overflow {
        position: absolute;
        left: 15px;
        top: 5px;
      }
    }
  }
}
