@import 'colors.scss';

button.e-control.e-btn {
  text-transform: initial;
  border-radius: 8px;
  padding: 8px 15px;
  box-shadow: none !important;
  height: 40px;


  &.e-primary,
  &.e-primary:active,
  &.e-primary:hover {
    &:not(.default-icon-button) {
      color: $white !important;
    }
  }

  &.e-primary:hover {
     background-color: $primary-active-blue-20;
  }

  &.e-primary:active:not([disabled]) {
    background-color: $primary-active-blue;
  }

  i-feather, app-custom-icon {
    vertical-align: middle;
    margin-left: 5px;
  }

  &.icon-button {
    padding: 6px 9px;

    i-feather {
      margin-left: 0;
    }
  }

  &.e-flat {
    &.close-button {
      padding: 10px;
      border: none;

      i-feather {
        margin: 0;
      }

      &.e-ripple {
        overflow: initial;
        position: initial;
        transform: none;
      }

      color: $primary-active-blue-10;

      &.e-active,
      &:focus {
        color: $white;
        background-color: $primary-active-blue-60;
      }

      &:hover {
        background-color: $primary-active-blue-80;
      }

      &[disabled] {
        pointer-events: none;
        background-color: transparent;
        color: $supportive-red-40;
      }
    }

    &.close-blue-button {
      padding: 10px;
      border: none;

      i-feather {
        margin: 0;
      }

      &.e-ripple {
        overflow: initial;
        position: initial;
        transform: none;
      }

      color: $primary-active-blue-10;

      &.e-active,
      &:focus {
        color: $white;
        background-color: $primary-active-blue-10;
      }

      &:hover {
        background-color: $primary-active-blue-40;
      }

      &[disabled] {
        pointer-events: none;
        background-color: transparent;
        color: $primary-active-blue-40;
      }
    }

    &:disabled {
      color: $secondary-dark-blue-30 !important;
    }
  }

  &.e-primary:disabled {
    background-color: var(--bg-primary-btn-disabled) !important;
    color: var(--color-primary-btn-disabled);
  }
}

.e-control.e-popup.e-popup-open.e-dropdown-popup.button-export {
  ul {
    border-radius: 8px;
  }
}

button.e-control.e-btn.e-dropdown-btn {
  &.button-export {
    span.e-btn-icon {
      display: none;
    }
  }

  &.e-active {
    background-color: #fff;
    border: 1px solid $primary-active-blue;
  }
}

.dark {
  .e-control.e-btn.e-outline {
    color: $primary-active-blue-10 !important;
    border-color: $primary-active-blue-40;
    background-color: $sidebar-background;

    &:hover {
      background-color: $primary-active-blue-70;
    }

    &:active {
      border-color: $primary-active-blue !important;
      background-color: $sidebar-background;
      color: $primary-active-blue !important;
    }

    &:disabled {
      background-color: $secondary-dark-blue-15;
      color: $secondary-dark-blue-30 !important;
    }
  }
}

.light {
  .e-control.e-btn.e-outline {
    background-color: #fff;
    color: $primary-active-blue-10 !important;

    &:hover {
      background-color: rgba(139, 178, 255, .7) !important;
    }

    &:active {
      background-color: #fff;
      border-color: $primary-active-blue;
    }

    &:disabled {
      color: $secondary-dark-blue-30 !important;
      border-color: $secondary-dark-blue-40 !important;
      background-color: $secondary-dark-blue-50 !important;
    }
  }

  .e-control.e-btn.e-danger {
    background-color: $supportive-red;
  }
}

.btn-icon__disabled {
  pointer-events: none;
  background-color: transparent !important;
  color: $primary-active-blue-50 !important;
}

.row-tool-buttons.action-renderer.ag-grid-cell-renderer {
  button {
    border: none;
    background-color: inherit;
    padding: 10px;

    i-feather {
      margin-top: 4px;
    }

    color: $secondary-dark-blue-30;
  }

  button.e-control.e-btn {
    i-feather {
      margin: 0;
    }
  }

  .default-icon-button,
  .secondary-icon-button,
  .primary-icon-button {
    padding: 10px;
    border: none;

    &.e-ripple {
      overflow: initial;
      position: initial;
      transform: none;
    }
  }

  .secondary-icon-button {
    color: $supportive-red;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $supportive-red-00;
    }

    &:hover {
      color: $supportive-red;
      background-color: $supportive-red-40;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $supportive-red-40;

      app-custom-icon.icon.supportive-green-10 {
        color: $supportive-green-40;
      }
    }
  }

  .primary-icon-button {
    color: $primary-active-blue-10;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $primary-active-blue;
    }

    &:hover {
      color: $primary-active-blue-10;
      background-color: $primary-active-blue-70;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $primary-active-blue-50;
    }
  }
}