@import "../variables/colors.scss";

button.e-control.e-btn {
  text-transform: initial;
  border-radius: 8px;
  padding: 8px 15px;
  box-shadow: none !important;
  height: 40px;

  &.e-primary:active {
    background-color: $primary-active-blue;
  }

  i-feather {
    vertical-align: middle;
    margin-left: 5px;
  }

  &.icon-button {
    padding: 6px 9px;

    i-feather {
      margin-left: 0;
    }
  }
}

.e-control.e-popup.e-popup-open.e-dropdown-popup.button-export {
  ul {
    border-radius: 8px;
  }
}

button.e-control.e-btn.e-dropdown-btn {
  span.e-btn-icon {
    display: none;
  }

  &.e-active {
    background-color: #fff;
    border: 1px solid $primary-active-blue;
  }
}

.dark {

}

.light {
  .e-control.e-btn.e-outline {
    background-color: #fff;
    color: $primary-active-blue-10 !important;

    &:hover {
      background-color: rgba(139, 178, 255, .7);
    }

    &:active {
      background-color: #fff;
      border-color: $primary-active-blue;
    }

    &:disabled {
      color: $secondary-dark-blue-30 !important;
      border-color: $secondary-dark-blue-40;
      background-color:$secondary-dark-blue-50;
    }
  }

  .e-control.e-btn.e-danger {
    background-color: $supportive-red;
  }
}
