@import "../variables/colors.scss";

body.light,
body.dark {
  .e-card {
    line-height: 36px;
    border-radius: 12px;
    padding: 12px;

    .e-card-title {
      font-size: 16px;
      font-weight: 700;
      color: $title-black;
    }

    .e-card-content {
      .e-card-title-wrapper {
        box-sizing: border-box;
        line-height: normal;
        min-height: 22.5px;
        padding: 12px 0;
        width: inherit;
      }
    }
  }
}
