@import 'colors';

body.light,
body.dark {
  .bootstrap {
    .e-checkbox-wrapper {
      &.e-checkbox-disabled {
        .e-frame {
          border-color: $secondary-dark-blue-45 !important;
          background-color: $secondary-dark-blue-40;

          &.e-check {
            background-color: $primary-active-blue-70;
            border-color: $secondary-dark-blue-45 !important;
          }
        }
      }

      &:hover {
        .e-frame {
          background-color: var(--checkbox-background);
          border-color: $primary-active-blue-10;

          &.e-check {
            background-color: $white;
            color: $primary-active-blue-10 !important;
          }
        }
      }

      .e-label {
        color: var(--sub-title);
      }

      .e-frame {
        height: 16px;
        width: 16px;
        line-height: 14px;
        font-size: 9px;
        box-shadow: none !important;
        background-color: var(--checkbox-background);
        border-color: $secondary-dark-blue-40;
        border-radius: 2px;

        &.e-check {
          background-color: $primary-active-blue-10;
          border-color: $secondary-dark-blue-45 !important;
          color: $white;
        }
      }

      .e-checkbox:focus + .e-frame {
        background-color: var(--checkbox-background);
        border-color: $primary-active-blue-10;

        &.e-check {
          background-color: $white;
          color: $primary-active-blue-10 !important;
        }
      }
    }
  }
}
