@import '../../styles/variables/colors.scss';

.status-cell {
  &.ex-chip {
    ejs-chiplist.e-control.e-chip-list {
      flex-wrap: nowrap;

      .e-chip.ex {
        margin-left: 10px;
        width: auto;
      }
    }
  }

  ejs-chiplist.e-control.e-chip-list {
    .e-chip {
      cursor: default;
    }
  }
}

ejs-chiplist.e-control.e-chip-list {
  .e-chip {
    text-transform: uppercase;
    font-weight: 600;
    height: 20px;
    width: 112px;
    margin: 0;
    font-size: 14px;
    line-height: 1.7em;

    &.e-success,
    &.e-success:hover {
      background-color: $supportive-green-10;
      color: $white;

      &.e-focused {
        background-color: $supportive-green-10;
      }
    }

    &.e-warning,
    &.e-warning:hover {
      background-color: $supportive-orange;
      color: $white;

      &.e-focused {
        background-color: $supportive-orange;
      }
    }

    &.e-default,
    &.e-default:hover {
      background-color: $secondary-dark-blue-20;
      color: $white;

      &.e-focused {
        background-color: $secondary-dark-blue-20;
      }
    }

    &.e-pending,
    &.e-pending:hover {
      background-color: $supportive-red;
      color: $white;

      &.e-focused {
        background-color: $supportive-red;
      }
    }

    &.e-progress,
    &.e-progress:hover {
      background-color: $primary-active-blue;
      color: $white;

      &.e-focused {
        background-color: $primary-active-blue;
      }
    }

    &.e-accepted,
    &.e-accepted:hover {
      background-color: $supportive-purple;
      color: $white;

      &.e-focused {
        background-color: $supportive-purple;
      }
    }

    &.e-awaiting,
    &.e-awaiting:hover {
      background-color: $secondary-dark-blue-30;
      color: $white;

      &.e-focused {
        background-color: $secondary-dark-blue-30;
      }
    }

    &.e-filled,
    &.e-filled:hover {
      background-color: $primary-active-blue-30;
      color: $white;

      &.e-focused {
        background-color: $primary-active-blue-30;
      }
    }
  }

  &.open-jobs-status {
    .e-chip {
      width: 111px;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 13px;
    }
  }

  &.events-off {
    pointer-events: none;
  }
}
