@import '../../styles/variables/colors.scss';

ejs-chiplist.e-control.e-chip-list {
  .e-chip {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 600;
    height: 20px;
    width: 112px;
    margin: 0;
    font-size: 14px;
    line-height: .7em;

    &.e-success,
    &.e-success:hover {
      background-color: $supportive-green-10;
      color: $white;
    }

    &.e-warning,
    &.e-warning:hover {
      background-color: $supportive-orange;
      color: $white;
    }

    &.e-default,
    &.e-default:hover {
      background-color: $secondary-dark-blue-20;
      color: $white;
    }

    &.e-pending,
    &.e-pending:hover {
      background-color: $supportive-red;
      color: $white;
    }

    &.e-progress,
    &.e-progress:hover {
      background-color: $primary-active-blue;
      color: $white;
    }

    &.e-accepted,
    &.e-accepted:hover {
      background-color: $supportive-purple;
      color: $white;
    }

    &.e-filled,
    &.e-filled:hover {
      background-color: $primary-active-blue-30;
      color: $white;
    }
  }
}
