

@import "../variables/colors.scss";

.e-contextmenu-wrapper {
  .e-control.e-contextmenu.e-menu-parent {
    color: $secondary-dark-blue-45;

    .e-menu-item.e-menu-item.e-focused {
      color: $secondary-dark-blue-45;
    }

    .e-menu-item.e-focused,
    .e-menu-item.e-focused.e-selected {
      background-color: #272f51;
    }

    .e-selected {
      border-left: 3px solid $primary-active-blue-15;
      padding-left: 0.81rem;
      line-height: 20px;
      font-weight: 700;
      color: $primary-active-blue-15;
    }

    .e-menu-item {
      display: flex;
      align-items: center;
      height: 2rem;
      background-color: #25263b;
    }
  }

  .hide {
    display: none;
  }
}
