@import 'colors';

ejs-timepicker.e-timepicker.ng-invalid.ng-touched {
  .e-clear-icon {
    margin-right: 11px;
  }
}

ejs-datetimepicker.e-datetimepicker {
  .e-clear-icon {
    margin-right: -6px;
  }

  &.ng-invalid.ng-touched {
    .e-clear-icon {
      margin-right: 13px;
    }
  }
}

body.light, body.dark {
  .bootstrap {
    ejs-datetimepicker.e-datetimepicker,
    ejs-daterangepicker.e-daterangepicker {
      .e-input-group-icon.e-icons {
        &.e-time-icon {
          margin-left: 0;
        }

        &.e-range-icon {
          border: none !important;
        }

        &.e-date-icon {
          margin-right: -5px;
          border: none !important;

          &:hover {
            background-color: transparent;
            color: $primary-active-blue-10;
          }
        }
      }
    }
  }
}

ejs-datepicker.datepicker,ejs-daterangepicker.e-daterangepicker, ejs-timepicker.e-timepicker, ejs-datetimepicker.e-datetimepicker {
  .e-input-group.e-control-wrapper.e-date-wrapper,
  .e-input-group.e-control-wrapper.e-time-wrapper,
  .e-input-group.e-control-wrapper.e-datetime-wrapper,
  .e-input-group.e-control-wrapper.e-date-range-wrapper {
    border-radius: 8px !important;
    border: 1px solid var(--input-border-color) !important;
    height: 40px;
    align-items: center;

    &.e-error {
      border-color: $supportive-red !important;
    }

    .e-input {
      color: $secondary-dark-blue-30 !important;
      padding-left: 16px !important;
    }

    .e-input[readonly],
    .e-input[readonly] ~ span.e-input-group-icon {
      background-color: $secondary-dark-blue-50;
      color: $secondary-dark-blue-30;
    }

    .e-input-group-icon:last-child {
      border: none;

      &:hover {
        background-color: transparent;
        color: $primary-active-blue-10;
      }
    }

    &:hover {
      border: 1px solid $primary-active-blue-10 !important;

      .e-input-group-icon.e-range-icon.e-icons::before,
      .e-input-group-icon.e-range-icon.e-icons::after,
      .e-input-group-icon.e-date-icon.e-icons::before,
      .e-input-group-icon.e-date-icon.e-icons::after{
        background-color: transparent;
        color: $primary-active-blue-10;
      }
    }

    &.e-input-focus {
      border: 2px solid $primary-active-blue-10 !important;
      box-shadow: none !important;

      .e-input-group-icon.e-range-icon.e-icons::before,
      .e-input-group-icon.e-range-icon.e-icons::after,
      .e-input-group-icon.e-date-icon.e-icons::before,
      .e-input-group-icon.e-date-icon.e-icons::after{
        background-color: transparent;
        color: $primary-active-blue-10;
      }
    }
  }

  .e-input-group:not(.e-disabled) .e-input-group-icon:hover,
  .e-input-group.e-control-wrapper:not(.e-disabled) .e-input-group-icon:hover {
    background: transparent !important;
  }

  .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
  .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
  .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
  .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before {
    background: transparent !important;
  }

  .e-input-group.e-control-wrapper.e-float-input .e-float-text::after{
    content: "*";
    color: $supportive-red;
  }

  &.ng-touched.ng-invalid {
    span.e-input-group  {
      border-color: $supportive-red  !important;
    }
  }


  &.ng-touched.ng-invalid.e-control.e-textbox {
    span.e-input-group {
      border-color: $supportive-red;
    }

    &+i-feather {
      display: block;
    }
  }

  .e-input-group.e-control-wrapper {
    &.e-disabled {
      background-color: $secondary-dark-blue-50 !important;
      color: $secondary-dark-blue-30 !important;

      &:hover {
        border-color: $secondary-dark-blue-40 !important;
      }
    }
  }
}

body.dark {
  ejs-datepicker.datepicker, ejs-daterangepicker.e-daterangepicker, ejs-timepicker.e-timepicker, ejs-datetimepicker.e-datetimepicker {
    .e-input-group.e-control-wrapper.e-date-wrapper, .e-input-group.e-control-wrapper.e-time-wrapper, .e-input-group.e-control-wrapper.e-datetime-wrapper, .e-input-group.e-control-wrapper.e-date-range-wrapper {
      .e-input[readonly],
      .e-input[readonly] ~ span.e-input-group-icon {
        background-color: transparent !important;
      }
    }

    .e-input-group.e-control-wrapper {
      &.e-disabled {
        background-color: $secondary-dark-blue-20 !important;
      }
    }
  }
}

body.dark .e-datepicker.e-popup-wrapper.e-lib.e-popup.e-control.e-popup-open {
  .e-day {
    &:hover {
      background-color: $primary-active-blue-80 !important;
      color: $black;
    }
  }
}
