@import "colors";
@import "adaptive-response";


body.light, body.dark {
  .e-dialog {
    .e-icon-dlg-close::before {
      content: "\e7e7" !important;
      color: $secondary-dark-blue-30 !important;
    }

    & + .e-dlg-overlay {
      background-color: unset;
    }
  }

  .e-dialog.filter {
    .e-dlg-header-content {
      .e-dlg-closeicon-btn {
        .e-btn-icon.e-icon-dlg-close::before {
          color: $primary-active-blue-10 !important;
        }
      }
    }
  }

  .responsive,
  .export-dialog {
    .e-footer-content {
      .e-card-content {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 5px;

        .action-btn {
          width: 45%;
        }
      }
    }
  }

  .e-dialog.dialog {
    right: 0;
    left: auto !important;
    position: fixed !important;
    top: 0 !important;
    height: 100% !important;
    max-height: 100% !important;


    @media #{$min-tablet} {
      top: 80px !important;
      max-height: calc(100% - 80px) !important;
    }

    &.e-dialogleft {
      right: auto;
      left: 0 !important;


      &.e-dialogleftborder {
        box-shadow: unset;
        border-right: 1px solid $secondary-dark-blue-40;
      }

      .e-footer-content {
        border-right: unset;
      }
    }

    .e-dlg-content {
      padding: 0;
    }

    .container {
      padding: 24px;

      .header-container {

        .e-card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .e-card-title {
            color: $black;
            font-size: 24px;
            font-weight: 700;
          }

          .e-card-content {
            .button-cancel {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

}

.e-dialog.dialog.filter {
  width: 100% !important;
  @media #{$min-tablet} {
    width: 532px !important;
  }
}

.e-dialog.dialog.export-dialog {
  width: 100% !important;
  @media #{$min-tablet} {
    width: 496px !important;
  }
}

body.dark {
  .e-card-title, .user-name {
    color: $white !important;
  }
}

// Responsive

body.light, body.dark {
  & .e-dialog.e-popup {
    &.quick-order-dialog,
    &.timesheet-details-dialog,
    &.order-details-dialog {
      width: 65%;

      @media #{$max-desktop-small} {
        width: 80%;
      }

      @media #{$max-tablet} {
        width: 100%;
      }

      @media (max-width: $tablet-min) {
        .container {
          padding: 18px;

          .header-container {
            .e-card-header {
              align-items: flex-start;
              .e-card-title {
                font-size: 20px;
                margin-bottom: 24px;
              }
            }
          }
        }
      }
    }

    &.candidate-dialog {
      width: 59%;
  
      @media #{$max-desktop-small} {
        width: 72%;
      }

      @media #{$max-tablet} {
        width: 100%;
      }
    }
  }
}
