@import '../variables/colors';

body.light, body.dark {
  .e-dialog {
    .e-icon-dlg-close::before {
      content: "\e7e7" !important;
      color: $secondary-dark-blue-30 !important;
    }

    & + .e-dlg-overlay {
      background-color: unset;
    }
  }

  .e-dialog.dialog {
    right: 0;
    top: 80px !important;
    left: auto !important;
    height: calc(100% - 80px) !important;
    position: fixed !important;

    &.e-dialogleft {
      right: auto;
      left: 0 !important;
     

      &.e-dialogleftborder {
        box-shadow: unset;
        border-right: 1px solid $secondary-dark-blue-40;
      }
    }
  
    .e-dlg-content {
      padding: 0;
    }
  
    .container {
      padding: 24px;
  
      .header-container {
  
        .e-card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          .e-card-title {
            color: $black;
            font-size: 24px;
            font-weight: 700;
          }
  
          .e-card-content {
            .button-cancel {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  
}
