@import "colors.scss";
@import "adaptive-response.scss";

body.light, body.dark {
  .bootstrap {
    ejs-dropdownlist.e-control, ejs-multiselect.e-control, ejs-autocomplete.e-control {
      span.e-input-group, .e-multiselect.e-input-group {
        border-radius: 8px;
        height: 40px;
        align-items: center;

        &.e-input-focus, &:active {
          box-shadow: none !important;
          border-width: 2px !important;
          border-radius: 8px !important;
          border-color: $primary-active-blue-10 !important;
          padding-left: 5px;

          &::after, &::before {
            display: none;
          }
        }

        &:hover {
          border-color: $primary-active-blue-10 !important;
        }

        &.e-disabled {
          background-color: $secondary-dark-blue-50 !important;
          border: 1px solid $secondary-dark-blue-40 !important;

          .e-delim-values {
            color: $secondary-dark-blue-30 !important;
            -webkit-text-fill-color: $secondary-dark-blue-30 !important
          }
        }

        input.e-input, input.e-dropdownbase {
          padding-left: 15px;

          &::placeholder {
            color: $secondary-dark-blue-30;
          }
        }

        span.e-delim-view.e-delim-values {
          padding-left: 15px;
          width: auto !important;
        }

        .e-down-icon {
          .e-input-group-icon {
            background: transparent;
            color: $secondary-dark-blue-10;
            border: none;
          }
        }

        .e-input-group-icon {
          &.e-search-icon {
            background: transparent !important;
            color: $secondary-dark-blue-10 !important;
            border-left: none;
          }
        }
      }

      &.ng-touched.ng-invalid {
        span.e-input-group, .e-multiselect.e-input-group {
          border-color: $supportive-red !important;
        }
      }

      &.ng-touched.ng-invalid {
        &+i-feather {
          display: block;
        }
      }
    }
  }

  .disabled-item {
    color: $secondary-dark-blue-30;
  }

  ejs-multiselect {
    .e-searcher {
      display: none !important;
    }
  }

  .comments-container {
    ejs-dropdownlist.e-control {
      span.e-input-group.e-control-wrapper,
      span.e-input-group.e-control-wrapper:hover,
      span.e-input-group.e-control-wrapper:active,
      span.e-input-group.e-control-wrapper.e-input-focus,
      span.e-input-group.e-control-wrapper.e-readonly.e-ddl input.e-input[readonly] {
        border-width: 0 !important;
        background-color: transparent;

        input {
          text-align: right;
        }
      }
    }
  }

  app-dropdown.app-grid-pagination__rows-options {
    ejs-dropdownlist.e-control {
      span.e-input-group {
        &.e-disabled {
          background-color: inherit !important;
          border: none !important;
        }
      }
    }
  }
}


/** Begin organization-agency-dropdown styles */
#organization-agency-dropdown {
  .e-input-group {
    height: 56px;
    border: none;
    background-color: transparent !important;
    color: var(--selector-title);

    @media #{$max-tablet} {
      color: $white;
      border-radius: 0;
      height: 3rem;
    }

    &:hover {
      background-color: $primary-active-blue-70 !important;
      color: $primary-active-blue-10;

      @media #{$max-tablet} {
        background-color: $secondary-dark-blue-10-1;
        color: inherit;
      }
    }

    &:active {
      background-color: $primary-active-blue;
      color: $white;
    }
    &.e-input-focus {
      padding-left: 0;
    }

    .e-input-group-icon {
      align-items: flex-start;
      color: inherit !important;
    }
  }
}

.organization-agency-dropdown-popup {
  &.e-popup {
    width: auto !important;
    max-width: 320px;
  }

  .e-content .e-list-parent .e-list-item {
    padding-right: 0;

    &.e-item-focus {
      background-color: transparent;
    }

    &.e-hover {
      background-color: $primary-active-blue-80;
    }

    &.e-active {
      background-color: $primary-active-blue;
      color: $white;

      p {
        color: $white;
      }
    }
  }
}

/** End organization-agency-dropdown styles */

.e-ddl.e-popup.e-control.e-popup-open.max-content {
  .e-dropdownbase .e-list-item {
    white-space: pre-wrap;
    word-break: break-all;
    text-indent: 0;
    padding-left: 16px;
  }
}

.e-ddl.e-popup.e-control.e-ddl-device.e-ddl-device-filter.e-popup-full-page.e-popup-open {
  position: fixed;
  height: 100dvh;
  -webkit-overflow-scrolling: touch;
}

body.dark {
  .bootstrap {
    ejs-dropdownlist.e-control, ejs-multiselect.e-control, ejs-autocomplete.e-control {
      span.e-input-group, .e-multiselect.e-input-group {
        .e-input-group-icon {
          &.e-search-icon {
            color: $white !important;
          }
        }

        &.e-disabled {
          background-color: $secondary-dark-blue-20 !important;
        }
      }
    }

    .e-down-icon {
      .e-input-group-icon {
        color: $secondary-dark-blue-30 !important;
      }
    }
  }

  #organization-agency-dropdown {
    .e-input-group {
      &.e-icon-anim {
        background-color: $primary-active-blue !important;

        &:hover {
          background-color: $primary-active-blue-70 !important;
          color: $primary-active-blue-10;
        }
      }
    }
  }

  .e-nodata,
  .e-filter-parent {
    background-color: $sidebar-background !important;
  }
}
