@import "../variables/colors.scss";

body.light, body.dark {
  .bootstrap {
    ejs-dropdownlist.e-control, ejs-multiselect.e-control, ejs-autocomplete.e-control {
      span.e-input-group, .e-multiselect.e-input-group {
        border-radius: 8px;
        height: 40px;
        align-items: center;

        &.e-input-focus, &:active {
          box-shadow: none !important;
          border-width: 2px !important;
          border-radius: 8px !important;
          border-color: $primary-active-blue-10 !important;
          padding-left: 5px;

          &::after, &::before {
            display: none;
          }
        }

        &:hover {
          border-color: $primary-active-blue-10 !important;
        }

        &.e-disabled {
          background-color: $secondary-dark-blue-50 !important;
          border: 1px solid $secondary-dark-blue-40 !important;

          .e-delim-values {
            color: $secondary-dark-blue-30 !important;
            -webkit-text-fill-color: $secondary-dark-blue-30 !important
          }
        }

        input.e-input, input.e-dropdownbase {
          padding-left: 15px;

          &::placeholder {
            color: $secondary-dark-blue-30;
          }
        }

        span.e-delim-view.e-delim-values {
          padding-left: 15px;
        }

        .e-down-icon {
          .e-input-group-icon {
            background: transparent;
            color: $secondary-dark-blue-10;
            border: none;
          }
        }

        .e-input-group-icon {
          &.e-search-icon {
            background: transparent !important;
            color: $secondary-dark-blue-10 !important;
            border-left: none;
          }
        }
      }

      &.ng-touched.ng-invalid {
        span.e-input-group, .e-multiselect.e-input-group {
          border-color: $supportive-red !important;
        }
      }

      &.ng-touched.ng-invalid {
        &+i-feather {
          display: block;
        }
      }
    }
  }

  .disabled-item {
    color: $secondary-dark-blue-30;
  }

  ejs-multiselect {
    .e-searcher {
      display: none !important;
    }
  }
}

/** Begin organization-agency-dropdown styles */

#organization-agency-dropdown {
  .e-input-group {
    height: 56px;
    border: none;
    background-color: transparent;
    color: $secondary-dark-blue-15;
    &:hover {
      background-color: $primary-active-blue-70;
      color: $primary-active-blue-10;
    }
    &:active {
      background-color: $primary-active-blue;
      color: $white;
    }
    &.e-input-focus {
      padding-left: 0;
    }
    .e-input-group-icon {
      align-items: flex-start;
      color: inherit;
    }
  }
}

.organization-agency-dropdown-popup {
  &.e-popup {
    width: auto !important;
    max-width: 320px;
  }

  .e-content .e-list-parent .e-list-item {
    padding-right: 0;
    &.e-item-focus {
      background-color: transparent;
    }
    &.e-hover {
      background-color: $primary-active-blue-80;
    }
    &.e-active {
      background-color: $primary-active-blue;
      color: $white;
      p {
        color: $white;
      }
    }
  }
}

/** End organization-agency-dropdown styles */
