$grid-border-radius: 10px;

ejs-grid.e-control.e-grid {
  border-radius: $grid-border-radius;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);

  &.e-gridwithtoolbar {
    .e-gridheader:not(.e-gridtoolbar) {
      border-radius: unset;
      border-top: none;
    }

    .e-gridtoolbar {
      font-feature-settings: "smcp" 0;
      font-variant: none;
      height: 67px;
      padding: 0 21px;
      display: flex;
    }
  }

  ejs-pager {
    border-top: none;
  }

  .e-pager {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .e-templatecell {
    .e-grid-tool-buttons {
      & > *:not(:first-child) {
        margin-left: 20px;
      }

      .icon {
        color: $secondary-dark-blue-20;
        cursor: pointer;
      }
    }
  }

  .e-pagertemplate {
    .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 51px;

      .left-side-pager-controls {
        display: flex;
        margin-left: 16px;

        #goToPage {
          margin-left: 35px;
        }
      }
    }
  }

  thead tr {
    height: 52px !important;
  }

  thead tr,
  .e-gridheader {
    border-radius: $grid-border-radius $grid-border-radius 0 0;
    font-variant: small-caps;

    .e-headertext {
      text-transform: lowercase;
      font-weight: 600;
    }

    .e-icon-ascending::before {
      content: "\e910";
    }

    .e-icon-descending::before {
      content: "\e916";
    }
  }

  .e-gridcontent {
    border-radius: 0 0 $grid-border-radius $grid-border-radius;
  }
}
