@import "../variables/mixins";
@import "../../styles/variables/colors";

$grid-border-radius: 10px;

.e-grid.e-resize-lines {
  .e-headercell .e-rhandler {
    height: 20px !important;
    margin-top: 15px;
  }
}

ejs-grid.e-control.e-grid {
  border-radius: $grid-border-radius;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);

  .checkbox-header {
    .e-headercelldiv {
      padding: 0 !important;
      overflow: visible;
    }
  }

  &.e-gridsubheader {
    thead tr {
      height: 25px !important;
    }

    .e-gridheader table th[rowspan] {
      padding-bottom: 16px;
    }

    .sub-header, .e-stackedheadercell {
      .e-rhandler.e-rcursor {
        height: 100%;
        margin-top: 2px;
      }
    }
  }

  .e-gridchkbox, .e-headercell {
    .e-checkbox-wrapper {
      vertical-align: middle;

      .e-frame {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        line-height: 14px;
        font-size: 10px;
  
        &.e-check {
          background-color: #fff;
          color: $primary-active-blue-10;
        }
      }
    }
  }

  .e-gridheader {
    .e-stackedheadercelldiv {
      padding: 0;
    }
  }

  &.e-gridwithtoolbar {
    .e-gridheader:not(.e-gridtoolbar) {
      border-radius: unset;
      border-top: none;
    }

    .e-gridtoolbar {
      font-feature-settings: "smcp" 0;
      font-variant: none;
      height: 67px;
      padding: 0 21px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .title h3 {
        color: $title-black;
        font-weight: 700;
        font-size: 16px;
        margin: 0;
      }
      .actions {
        display: flex;

        .action-link {
          &:not(:first-child) {
            margin-left: 12px;
          }
          @include linkWithIcon;
        }
      }
    }
  }

  .e-gridcontent {
    .e-content {
      .e-frozencontent {
        .e-emptyrow {
          display: none !important;
        }
      }
      
      .e-table {
        tr[role="row"]:not(.e-editedrow):hover
          .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell),
          .e-frozenhover {
            background-color: $primary-active-blue-90;
        }

        .e-rowcell {
          font-size: 14px;
        }

        .e-emptyrow {
          height: 100%;
          position: absolute;
          width: 100%;
          background-color: $secondary-dark-blue-45;
          display: flex;
          justify-content: center;

          &::before {
            content: "There are no records to display yet!";
            color: $secondary-dark-blue-30;
            font-size: 14px;
            padding-top: 25px;
          }

          td {
            display: none;
          }
        }
      }
    }
  }

  &.search-grid {
    border: none;
    box-shadow: none;

    .e-gridheader {
      display: none;
    }
  }

  ejs-pager {
    border-top: none;
  }

  .e-pager {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .e-headercelldiv,
  .e-stackedheadercelldiv {
    font-size: 14px;
    font-weight: 600;

    .controls-header {
      .icon-button {
        padding: 10px;
        border: none;

        &.e-ripple {
          position: initial;
        }
      }
    }
  }

  .e-templatecell {
    .e-grid-tool-buttons {
      & > *:not(:first-child) {
        margin-left: 20px;
      }

      .icon {
        cursor: pointer;
      }

      .edit-button {
        .icon {
          color: $primary-active-blue-10;
        }
      }

      .remove-button {
        .icon {
          color: $supportive-red;
        }
      }
    }

    .row-tool-buttons {
      button.e-control.e-btn {
        i-feather {
          margin: 0;
        }
      }

      .default-icon-button,
      .secondary-icon-button,
      .primary-icon-button {
        padding: 10px;
        border: none;
        &.e-ripple {
          overflow: initial;
          position: initial;
          transform: none;
        }
      }

      .default-icon-button {
        color: $secondary_dark-blue-20;

        &.e-active,
        &:focus {
          color: $white;
          background-color: $primary-active-blue;
        }

        &:hover {
          color: $primary-active-blue-10;
          background-color: $primary-active-blue-70;
        }

        &[disabled] {
          pointer-events: none;
          background-color: transparent;
          color: $secondary-dark-blue-40;
        }
      }

      .secondary-icon-button {
        color: $supportive-red;

        &.e-active,
        &:focus {
          color: $white;
          background-color: $supportive-red-00;
        }

        &:hover {
          background-color: $supportive-red-40;
        }

        &[disabled] {
          pointer-events: none;
          background-color: transparent;
          color: $supportive-red-40;
        }
      }

      .primary-icon-button {
        color: $primary-active-blue-10;

        &.e-active,
        &:focus {
          color: $white;
          background-color: $primary-active-blue;
        }

        &:hover {
          color: $primary-active-blue-10;
          background-color: $primary-active-blue-70;
        }

        &[disabled] {
          pointer-events: none;
          background-color: transparent;
          color: $primary-active-blue-50;
        }
      }
    }
  }

  .e-selectionbackground.e-active {
    .row-tool-buttons {
      .default-icon-button,
      .secondary-icon-button,
      .primary-icon-button {
        color: $white;

        &:hover {
          background-color: $primary-active-blue-50;
        }
      }
    }
  }

  .e-pagertemplate {
    .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 51px;

      .left-side-pager-controls {
        display: flex;
        margin-left: 16px;
        align-items: center;

        #goToPage {
          margin-left: 35px;
        }
      }
    }
  }

  thead tr {
    height: 52px !important;
  }

  thead tr,
  .e-gridheader {
    border-radius: $grid-border-radius $grid-border-radius 0 0;
    font-variant: small-caps;

    .e-headertext,
    .e-stackedheadercelldiv {
      text-transform: lowercase;
      font-weight: 600;
      color: $secondary-dark-blue-15;
    }

    .e-icon-ascending::before {
      content: "\e910";
    }

    .e-icon-descending::before {
      content: "\e916";
    }
  }

  tbody {
    .e-detailrow {
      background-color: $secondary_dark-blue-50;

      .e-detailindentcell,
      .e-detailcell {
        border: none;
      }

      .e-detailcell {
        padding: 0;
        td:last-child {
          padding-right: 19px;
          text-align: end;
        }
      }
    }
  }

  tbody tr {
    td.e-detailrowcollapse {
      div.e-icons.e-dtdiagonalright.e-icon-grightarrow::before {
        content: "\e913" !important;
      }
    }

    td.e-detailrowexpand {
      div.e-icons.e-dtdiagonaldown.e-icon-gdownarrow::before {
        content: "\e916" !important;
      }
    }
  }

  td.e-active {
    background-color: $primary-active-blue-10;
    color: $white !important;
  }

  .e-frozenheader.e-frozen-right-header > .e-table {
    border-left: none;
  }

  .e-frozencontent.e-frozen-right-content > .e-table {
    border-left: 1px solid $grid-row-border;
  }

  .e-emptyrow {
    .e-lastrowcell,
    td {
      padding-left: 21px;
    }
  }
}
