@import "../variables/colors.scss";

body.light, body.dark {
  .bootstrap {
    input.e-input {
      height: 40px;
      border-radius: 8px;
      padding: 0 15px;

      &::placeholder {
        color: $secondary-dark-blue-30 !important;
      }

      &:focus {
        box-shadow: none !important;
        border-width: 2px;
        border-radius: 8px !important;
        border-color: $primary-active-blue-10 !important;
      }

      &:hover {
        border-color: $primary-active-blue-10;
      }

      &[disabled] {
        background-color: $secondary-dark-blue-50;

        &:hover {
          border-color: $secondary-dark-blue-40 !important;
        }
      }

      &.ng-touched.ng-invalid {
        border-color: $supportive-red;

        &+i-feather {
          display: block;
        }
      }
    }

    ejs-textbox {
      &.readonly {
        span.e-input-group {
          &:hover {
            border-color: $grey !important;
          }

          &.e-input-focus {
            border-color: $grey !important;
            border-width: 1px !important;
          }
        }
      }

      &.ng-touched.ng-invalid.e-control.e-textbox {
        span.e-input-group {
          border-color: $supportive-red;
        }

        &+i-feather {
          display: block;
        }
      }

      span.e-input-group {
        border-radius: 8px !important;

        textarea {
          border-radius: 8px !important;
        }

        &.e-input-focus, &:active {
          box-shadow: none !important;
          border-width: 2px !important;
          border-radius: 8px !important;
          border-color: $primary-active-blue-10 !important;

          &::after, &::before {
            display: none;
          }
        }

        &:hover {
          border-color: $primary-active-blue-10 !important;
        }

        textarea.e-control.e-textbox.e-input {
          resize: none;
          padding-left: 15px;

          &::placeholder {
            color: $secondary-dark-blue-30;
          }

          &.e-disabled {
            background-color: $secondary-dark-blue-50 !important;
          }
        }

        textarea::placeholder {
          color: $secondary-dark-blue-30 !important;
        }
      }

      .professional-summary-textbox, .textarea {
        height: 190px;
      }
    }

    ejs-maskedtextbox.e-mask-container {
      &.ng-touched.ng-invalid {
        span.e-input-group {
          border-color: $supportive-red !important;
        }

        &+i-feather {
          display: block;
        }
      }

      .e-input-group input.e-input,
      .e-input-group.e-control-wrapper input.e-input,
      .e-input-group textarea.e-input,
      .e-input-group.e-control-wrapper textarea.e-input {
        height: 40px;
        padding-left: 0;
      }

      span.e-input-group {
        border-radius: 8px !important;
        height: 40px;
        padding: 0 15px;

        &.e-disabled {
          background: $secondary-dark-blue-50 !important;
          border-color: $secondary-dark-blue-40 !important;

          &:hover {
            border-color: $secondary-dark-blue-40 !important;
          }
        }

        &:hover {
          border-color: $primary-active-blue-10 !important;
        }

        &.e-input-focus, &:active {
          box-shadow: none !important;
          border-width: 2px !important;
          border-radius: 8px !important;
          border-color: $primary-active-blue-10 !important;
          height: 38px;

          &::after, &::before {
            display: none;
          }
        }
      }
    }

    ejs-numerictextbox {
      .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled {
        background-color: $secondary-dark-blue-50;
        border-bottom-color: $grey;

        &:hover {
          border-color: $secondary-dark-blue-40 !important;
        }
      }
    }
  }
}
body.dark {
  .bootstrap {
    input.e-input {
      background: $sidebar-background;
      color: $white !important;
    }

    input.e-input[disabled] {
      background: $secondary-dark-blue-20 !important;
    }
  }
}
