@import '../variables/colors.scss';

body.light, body.dark {
  .bootstrap {
    ejs-numerictextbox {
      &.ng-touched.ng-invalid {
        span.e-input-group {
          border-color: $supportive-red !important;

          &.e-input-focus, &:active {
            border-color: transparent !important;
            box-shadow: inset 0 0 0 2px $primary-active-blue-10 !important;
          }
        }

        &+i-feather {
          display: block;
        }
      }

      span.e-input-group {
        border-radius: 8px !important;
        height: 40px;

        &.e-input-focus, &:active {
          box-shadow: inset 0 0 0 1px $primary-active-blue-10 !important;
          border-width: 1px !important;
          border-radius: 8px !important;
          border-color: $primary-active-blue-10 !important;

          &::after, &::before {
            display: none;
          }
        }

        &:hover {
          border-color: $primary-active-blue-10 !important;
        }

        input {
          height: 40px !important;
          border-radius: 8px !important;
          padding: 0 15px !important;
        }
      }
    }
  }
}

body.dark {
  .app-numeric-textbox {
    ejs-numerictextbox {
      span.e-input-group.e-disabled {
        background-color: $bg-gray-200 !important;
        border-bottom-color: $input-border-color !important;

        input {
          background-color: transparent !important;
        }
      }
    }
  }
}
