@import 'colors';

.light {
  ejs-radiobutton {
    .e-control.e-radio + label {
      &::before {
        border: 1px solid;
        width: 17px;
        height: 17px;
      }

      &::after {
        height: 9px;
        left: 4px;
        top: 4px;
        width: 9px;
      }
    }

    .e-label {
      padding-left: 25px !important;
      color: $secondary-dark-blue-15 !important;
    }
  }
}

.dark {

}
