@import "../variables/colors.scss";

.e-switch-wrapper.e-wrapper {
  margin-right: 1rem;

  .e-switch-on {
    opacity: 1 !important;
    background-color: $primary-active-blue-80 !important;
  }

  .e-switch-off {
    opacity: 1 !important;
    background-color: $secondary-dark-blue-40 !important;
  }

  .e-switch-handle {
    .e-switch-active {
      background-color: $primary-active-blue-10 !important;
    }
  }
}

.e-close .e-switch-wrapper.e-wrapper {
  margin-right: initial;
}
