@import "../variables/colors.scss";

.e-switch-wrapper.e-wrapper {
  margin-right: 1rem;

  .e-switch-on {
    background-color: $primary-active-blue-10 !important;
  }

  .e-switch-off {
    background-color: #fff !important;
  }

  .e-switch-handle {
    background-color: #fff !important;
  }

  .e-switch-handle.e-switch-active {
    background-color: #fff !important;
  }
}

.e-close .e-switch-wrapper.e-wrapper {
  margin-right: initial;
}
