@import 'colors';

body.light,
body.dark {
  .e-tab {
    .e-tab-header {
      &:not(.e-vertical) {
        .e-indicator {
          height: 3px;
        }
      }

      .e-toolbar-item {
        margin: 5px 14px 3px 0 !important;

        div.e-tab-wrap {
          padding: 0 !important;
        }

        &.e-active {
          .e-tab-wrap,
          .e-text-wrap {
            height: 36px;
          }

          .e-tab-text {
            font-weight: 700;
            color: $black;

            &:hover {
              text-shadow: none;
            }
          }
        }

        .e-tab-wrap:hover {
          .e-tab-text,
          .e-tab-icon {
            color: $primary-active-blue-10;
          }
        }

        .e-tab-wrap,
        .e-text-wrap {
          height: 36px;
        }

        .e-tab-text {
          display: flex;
          align-items: center;
          font-size: 16px;
          text-transform: capitalize;
          color: $black;
          font-weight: 400;

          &:hover {
            text-shadow: 1px 0 0 $primary-active-blue-10;
          }
        }
      }
    }
  }

  .e-tab.stepper {
    .e-tab-header {
      .e-indicator {
        display: none;
      }
    }

    .e-toolbar {
      .e-toolbar-items {
        .e-toolbar-item {
          background-color: $white;
          border-radius: 12px;
          padding: 16px !important;
          height: auto;
          border: 1px solid $secondary-dark-blue-45;
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);

          .stepper-header {
            position: relative;

            &.required::after {
              display: block;
              content: '*';
              position: absolute;
              color: $supportive-red;
              top: 0;
              right: 0;
            }

            .stepper-title {
              font-size: 14px;
              color: $secondary-dark-blue-10;
              font-weight: 590;
              line-height: 20px;
              margin-bottom: 2px;
            }

            .stepper-sub-title {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              color: $secondary-dark-blue-30;
            }
          }

          &.e-active {
            background-color: $primary-active-blue-10;

            .stepper-header {
              .stepper-title {
                color: $white;
              }

              .stepper-sub-title {
                color: $white;
              }
            }
          }

          &.e-disable {
            background-color: $secondary-dark-blue-45;
            .stepper-header {
              .stepper-title {
                color: $secondary-dark-blue-30;
              }
            }
          }
        }
      }
    }

    & > .e-content {
      padding-top: 24px;
    }
  }
}

body.dark {
  .e-tab {
    .e-tab-header {
      .e-toolbar-item {
        &.e-active {
          .e-tab-text {
            color: $white;
          }

          .e-tab-wrap:hover {
            .e-tab-text,
            .e-tab-icon {
              color: $white;
            }
          }
        }
        .e-tab-text {
          color: $white;

          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  body.light,
  body.dark {
    .open-per-diem-order {
      &.e-tab {
        .e-tab-header {
          display: flex;
          justify-content: center;
          padding-left: 6px;

          .e-toolbar-item {
            margin: 5px 5px 3px 0 !important;

            .e-badge { margin-left: 6px; }
          }
        }
      }
    }
  }
}
