@import 'colors';

body.light {
  --background: #{$background};
  --secondary-background: #{$secondary-dark-blue-50};
  --info-background: #{$secondary-dark-blue-50};
  --bg-default: #{$white};
  --bg-container: #{$background};
  --bg-widget: #{$white};
  --bg-sub-row: #{$white};
  --bg-upload-area: #{$primary-active-blue-90};
  --bg-disable-upload-area: #{$secondary-dark-blue-50};
  --bg-file-uploader: #{$secondary-dark-blue-50};
  --bg-empty-grid: #{$secondary-dark-blue-45};
  --bg-grid: #{$white};
  --bg-button: #{$white};
  --bg-filter-chips: #{$secondary-dark-blue-50};
  --pagination-background: #{$white};
  --bg-steper: #{$white};
  --button-group-border: #{$secondary-dark-blue-45};
  --button-group-background: #{$white};
  --button-group-color: #{$secondary-dark-blue-10};
  --file-container: #{$secondary-dark-blue-50};

  --bg-primary-btn-disabled: #{$primary-active-blue-70};
  --color-primary-btn-disabled: #{$white};
  --input-border-color: #{$secondary-dark-blue-40};
  --bg-input-field-disabled: #{$secondary-dark-blue-50};
  --menu-item-hover: #{$secondary-dark-blue-50};
  --selected-list-item: #{$secondary-dark-blue-45-1};

  --border-drop-area: #{$secondary-dark-blue-40};
  --grid-row-border: #{$grid-row-border};
  --border-upload-file: #{$white};
  --input-border: #{$primary-active-blue-40};
  --header-border: #{$secondary-dark-blue-45};
  --grid-header-border: #{$grid-row-border};
  --dialog-border: #{$secondary-dark-blue-45};
  --separator: #{$secondary-dark-blue-45};
  --devider: #{$secondary-dark-blue-40};

  --icon-color: #{$secondary-dark-blue-10};

  --text: #{$black};
  --secondary-text: #{$black};
  --description: #{$pure-black};
  --title: #{$secondary-dark-blue-10};
  --sub-title: #{$secondary-dark-blue-15};
  --sub-title-2: #{$secondary-dark-blue-15};
  --sub-title-3: #{$secondary-dark-blue-20};
  --sub-title-4: #{$secondary-dark-blue-20};
  --secondary-title: #{$title-black};
  --selector-title: #{$secondary-dark-blue-15};
  --disabled-drop-area-text: #{$secondary-dark-blue-30};
  --selected-date-range-color: #{$white};
  --checkbox-background: #{$white};
  --chechbox-corder-color: #{$secondary-dark-blue-30};

  --shadow: #{$secondary-black-25};
  --redonly-text: #{$secondary-dark-blue-30};

  --acrdn-hover-border: #{$secondary-dark-blue-45};
  --bg-acrdn-selected-header: #{$primary-active-blue-90};
}

body.dark {
  --background: #{$sidebar-background};
  --secondary-background: #{$secondary-dark-blue-10-2};
  --info-background: #{$widget-dark-tooltip};
  --bg-default: #{$sidebar-background};
  --bg-container: #{$bg-grey-100};
  --bg-widget: #{$midnight-express};
  --bg-sub-row: #{$grid-detail-row-bgcolor};
  --bg-upload-area: #{$widget-dark-tooltip};
  --bg-disable-upload-area: #{$secondary-dark-blue-15};
  --bg-file-uploader: #{$widget-dark-tooltip};
  --bg-empty-grid: #{$sidebar-background};
  --bg-grid: #{$sidebar-background};
  --bg-button: #{$sidebar-background};
  --bg-filter-chips: #{$widget-dark-tooltip};
  --pagination-background: #{$sidebar-background};
  --bg-steper: #{$alert-side-bar-bgcolor};
  --button-group-border: #{$primary-active-blue-40};
  --button-group-background: #{$sidebar-background};
  --button-group-color: #{$primary-active-blue-10};
  --file-container: #{$widget-dark-tooltip};

  --bg-primary-btn-disabled: #{$secondary-dark-blue-10-2};
  --color-primary-btn-disabled: #{$secondary-dark-blue-30};
  --input-border-color: #{$secondary-dark-blue-15};
  --bg-input-field-disabled: #{$bg-gray-200};
  --menu-item-hover: #{$primary-active-blue-70};
  --selected-list-item: #{$primary-active-blue};

  --border-drop-area: #{$secondary-dark-blue-50};
  --grid-row-border: #{$sidebar-background};
  --border-upload-file: #{$secondary-dark-blue-30};
  --input-border: #{$primary-active-blue-40};
  --header-border: #{$secondary-dark-blue-15};
  --grid-header-border: #{$grid-border-color};
  --dialog-border: #{$secondary-dark-blue-10-2};
  --separator: #{$secondary-dark-blue-10-2};
  --devider: #{$secondary-dark-blue-15};
  --checkbox-background: #{$secondary-dark-blue-10-2};
  --chechbox-corder-color: #{$secondary-dark-blue-40};

  --icon-color: #{$secondary-dark-blue-30};

  --text: #{$white};
  --secondary-text: #{$secondary-dark-blue-30};
  --description: #{$white};
  --title: #{$white};
  --sub-title: #{$secondary-dark-blue-40};
  --sub-title-2: #{$secondary-dark-blue-30};
  --sub-title-3: #{$secondary-dark-blue-40};
  --sub-title-4: #{$secondary-dark-blue-30};
  --secondary-title: #{$white};
  --selector-title: #{$white};
  --disabled-drop-area-text: #{$white};
  --selected-date-range-color: #{$black};

  --shadow: #{$secondary-dark-blue-10-2};
  --redonly-text: #{$icewind-dale};

  --acrdn-hover-border: #{$primary-active-blue-10};
  --bg-acrdn-selected-header: #{$widget-dark-tooltip};
}
