@import 'colors';

body.light {
  --background: #{$background};
  --secondary-background: #{$secondary-dark-blue-50};
  --bg-default: #{$white};
  --bg-upload-area: #{$primary-active-blue-90};
  --bg-disable-upload-area: #{$secondary-dark-blue-50};
  --bg-empty-grid: #{$secondary-dark-blue-45};
  --bg-grid: #{$white};
  --bg-button: #{$white};

  --bg-primary-btn-disabled: #{$primary-active-blue-70};
  --color-primary-btn-disabled: #{$white};
  --input-border-color: #{$secondary-dark-blue-40};

  --border-drop-area: #{$secondary-dark-blue-40};
  --grid-row-border: #{$grid-row-border};
  --border-upload-file: #{$white};
  --input-bourder: #{$primary-active-blue-40};
  --header-border: #{$secondary-dark-blue-45};

  --text: #{$black};
  --secondary-text: {$black};
  --description: #{$pure-black};
  --title: #{$secondary-dark-blue-10};
  --sub-title: #{$secondary-dark-blue-15};
  --sub-title-2: #{$secondary-dark-blue-15};
  --sub-title-3: #{$secondary-dark-blue-20};
  --secondary-title: #{$title-black};
  --selector-title: #{$secondary-dark-blue-15};
  --disabled-drop-area-text: #{$secondary-dark-blue-30};
  --selected-date-range-color: #{$white};

  --shadow: #{$secondary-black-25};
}

body.dark {
  --background: #{$sidebar-background};
  --secondary-background: #{$secondary-dark-blue-10-2};
  --bg-default: #{$sidebar-background};
  --bg-upload-area: #{$widget-dark-tooltip};
  --bg-disable-upload-area: #{$secondary-dark-blue-15};
  --bg-empty-grid: #{$sidebar-background};
  --bg-grid: #{$sidebar-background};
  --bg-button: #{$sidebar-background};

  --bg-primary-btn-disabled: #{$secondary-dark-blue-10-2};
  --color-primary-btn-disabled: #{$secondary-dark-blue-30};
  --input-border-color: #{$input-border-color};

  --border-drop-area: #{$secondary-dark-blue-50};
  --grid-row-border: #{$sidebar-background};
  --border-upload-file: #{$secondary-dark-blue-30};
  --input-bourder: #{$primary-active-blue-40};
  --header-border: #{$secondary-dark-blue-15};

  --text: #{$white};
  --secondary-text: #{$secondary-dark-blue-30};
  --description: #{$white};
  --title: #{$white};
  --sub-title: #{$secondary-dark-blue-40};
  --sub-title-2: #{$secondary-dark-blue-30};
  --sub-title-3: #{$secondary-dark-blue-40};
  --secondary-title: #{$white};
  --selector-title: #{$white};
  --disabled-drop-area-text: #{$white};
  --selected-date-range-color: #{$black};

  --shadow: #{$secondary-dark-blue-10-2};
}
