@import '../variables/colors';
body.light, body.dark {
  .error-toast {
    .e-toast {
      background-color: $error !important;
      border-left: 6px solid $supportive-red;

      .e-toast-message {

        .e-toast-title {
          color: $supportive-red !important;
        }
      }
    }
  }

  .e-control.e-toast {
    .error-toast.e-toast {
      background-color: $error !important;
      border-left: 6px solid $supportive-red;
  
      .e-toast-message {
  
        .e-toast-content {
          color: $black;
          white-space: pre-wrap;
        }
  
        .e-toast-title {
          color: $supportive-red !important;
        }
      }
    }

    .e-toast.e-toast-header-close-icon {
      .e-toast-content {
        white-space: pre-line;
      }
    }
  }

  .success-toast {
    .e-toast {
      background-color: $green !important;
      border-left: 6px solid $supportive-green-10;

      .e-toast-message {
        .e-toast-title {
          color: $supportive-green-10 !important;
        }
      }
    }
  }

  .warning-toast {
    .e-toast {
      background-color: #FFF4E1 !important;
      border-left: 6px solid $supportive-orange;

      .e-toast-message {
        .e-toast-title {
          color: $supportive-orange !important;
        }
      }
    }
  }

  .e-toast {
    top: 8% !important;

    .e-toast-message {
      justify-content: center;

      .e-toast-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;

        & > div {
          display: flex;
          align-items: center;

          & > div {
            line-height: 28px;
          }

          .icon {
            padding-right: 9px;
          }
        }
      }

      .e-toast-content {
        padding: 0 !important;
        & > div {
          color: $pure-black !important;
        }
      }
    }

    .e-toast-close-icon::before {
      content: "\e7e7";
      color: $secondary-dark-blue-20;
    }
  }
}
