@import 'colors';

.e-tooltip-wrap.e-popup.e-lib.e-control.e-popup-open {
  background-color: $secondary-dark-blue-15;
  border-radius: 4px;
  border-color: $secondary-dark-blue-15;

  .e-arrow-tip {
    .e-arrow-tip-outer {
      border-top-color: $secondary-dark-blue-15;
    }

    .e-arrow-tip-inner {
      color: $secondary-dark-blue-15;
    }
  }
}

.classification-tooltip {
  &.e-tooltip-wrap.e-popup.e-lib.e-control.e-popup-open {
    .e-tip-content {
      max-width: 180px;
    }
  }
}

body.dark .e-tooltip-wrap.e-popup.e-lib.e-control.e-popup-open {
  border-radius: 4px !important;
}
