@import "../variables/colors.scss";

body.light, body.dark {
  .e-confirm-dialog.e-control.e-dialog.e-popup.unsaved-changes-dialog {
    width: 448px;
    border-radius: 8px;

    & + .e-dlg-overlay {
      background-color: $black;
    }

    div.e-dlg-header-content {
      border-radius: 8px 8px 0 0;
      border-bottom: 1px solid $secondary-dark-blue-40;
      padding: 12px 18px;

      .e-dlg-header {
        font-weight: 700;
        font-size: 24px;
        width: 90%;
      }
    }

    div.e-dlg-content {
      border-radius: 8px 8px 0 0;
      padding: 25px 15px;
      min-height: 90px;
      font-size: 16px;
    }

    div.e-footer-content {
      border-radius: 0 0 8px 8px;
      border-top: 1px solid $secondary-dark-blue-40;
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;

      .delete-button {
        background-color: $supportive-red;
      }

      .confirm-button {
        background-color: $primary-active-blue-10;
        color: $white;

        &:hover {
          background-color: $primary-btn-hover;
        }
      }
    }

    &.save-template-dialog {
      height: 500px;
      width: 50%;
    }

    &.wide-dialog {
      width: 514px;
    }
  }
}
