@import "colors";

.droparea {
  border: 1px dashed $primary-active-blue-10;
  border-radius: 4px;
  background-color: var(--bg-upload-area);

  &:hover {
    border-color: $primary-active-blue;
    background-color: $primary-active-blue-80;
  }

  &.disabled {
    background-color: var(--bg-disable-upload-area);
    color: var(--disabled-drop-area-text) !important;
    border-color: var(--border-drop-area);
  }
}

.e-upload-drag-hover {
  border: 1px dashed $primary-active-blue !important;
  background-color: $primary-active-blue-80 !important;
  outline: none !important;
}

.e-upload, .e-upload-file-list {
  border: none !important;
}

.e-file-container {
  .e-file-name, .e-file-type {
    color: var(--text) !important;
  }
}

.custom-trash {
  .e-file-delete-btn, .e-file-remove-btn {
    &::before {
      content: url('../../../assets/icons/trash-2-icon.svg') !important;
    }
  }
}

.hidden-file-size {
  .e-file-size {
    visibility: hidden;
    margin-bottom: -24px;
  }

  .e-file-delete-btn, .e-file-remove-btn {
    &::before {
      content: url('../../../assets/icons/trash-2-icon.svg') !important;
    }
  }
}

