@import "colors";

.droparea {
  border: 1px dashed $primary-active-blue-10;
  border-radius: 4px;
  background-color: $primary-active-blue-90;

  &:hover {
    border: 1px dashed $primary-active-blue;
    background-color: $primary-active-blue-80;
  }

  &.disabled {
    background-color: $secondary-dark-blue-50;
    color: $secondary-dark-blue-30 !important;
    border-color: $secondary-dark-blue-40;
  }
}

.e-upload-drag-hover {
  border: 1px dashed $primary-active-blue !important;
  background-color: $primary-active-blue-80 !important;
  outline: none !important;
}

.e-upload, .e-upload-file-list {
  border: none !important;
}

.e-file-container {
  .e-file-name, .e-file-type {
    color: $black !important;
  }
}

.custom-trash {
  .e-file-delete-btn, .e-file-remove-btn {
    &::before {
      content: url('../../../assets/icons/trash-2-icon.svg') !important;
    }
  }
}

.hidden-file-size {
  .e-file-size {
    visibility: hidden;
    margin-bottom: -24px;
  }

  .e-file-delete-btn, .e-file-remove-btn {
    &::before {
      content: url('../../../assets/icons/trash-2-icon.svg') !important;
    }
  }
}

body.dark {
  .droparea {
    background-color: $widget-dark-tooltip;
  
    &.disabled {
      background-color: $secondary-dark-blue-15;
      color: $white !important;
      border-color: $secondary-dark-blue-50;
    }
  }

  .e-file-container {
    .e-file-name, .e-file-type {
      color: $white !important;
    }
  }
}
