<div [ngClass]="{ 'job-info-container': true, 'tablet-container': isMiddleTabletWidth }">
  <ng-container *ngFor="let item of items; trackBy: trackByTitle">
    <div
      [class.amount]="item.isAmount"
      [ngStyle]="{
        visibility: !item.isHide ? 'visible' : 'hidden'
      }"
      class="job-info-section">
        <i-feather [name]="item.icon" class="icon"></i-feather>
        <div>
          <div class="value">{{ item.value }}</div>
          <div class="title">{{ item.title }}</div>
        </div>
    </div>
  </ng-container>
  <div *ngIf="invoiceInfo.meta.invoiceState !== 1" class="details-action-block">
    <button class="link-button" (click)="openPaymentDetails()">
      Payment Details
    </button>
  </div>
</div>
