<ejs-tab
  #tabNavigation
  id="tab_default"
  heightAdjustMode="Auto"
  overflowMode="Scrollable"
  cssClass="tabs"
  [width]="tabsWidth$ | async"
  (selecting)="onSelect($event)"
  (created)="onTabCreated()"
>
  <div class="e-tab-header">
    <div>
      {{ tabTitle.MyAgency }}
      <!-- TBI: total count -->
      <!-- <span class="tab-navigation e-badge e-badge-success e-badge-circle">2</span> -->
    </div>
    <!--    Temporary hidden tabs   -->
    <ng-container *ngIf="false">
      <div>{{ tabTitle.OtherAgencies }}</div>
      <div>
        {{ tabTitle.AllAgencies }}
      </div>
    </ng-container>
    <div>{{ tabTitle.PerDiem }}</div>
    <div>{{ tabTitle.PermPlacement }}</div>
    <div>{{ tabTitle.ReOrders }}</div>
  </div>
  <div class="e-content"></div>
</ejs-tab>
