@import 'adaptive-response';

.tab-navigation {
  &.e-badge {
    margin-left: 0.3rem;
  }
}

.tabs {
  max-width: calc(100% - 24px) !important;

  @media #{$max-mobile} {
    max-width: calc(100vw - 48px) !important;
  }
}
