<ejs-dialog id="filterDialog" #filterDialog cssClass="dialog filter" [width]="width" [target]="targetElement"
  [visible]="false" [isModal]="true" [showCloseIcon]="true" [animationSettings]="{ effect: 'SlideRight' }"
  (beforeClose)="onClose()">
  <ng-template #header>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">Sorting</h3>
          </div>
        </div>
      </section>
    </section>
  </ng-template>
  <ng-template #content>
    <section class="filter-wrapper">

      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="sortCategories" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="orgname" *ngFor="let item of sortCategories" cdkDrag>
          <img src="assets/icons/menu-round-icon.svg" />
          <i-feather name="chevron-down" (click)="sortDynamic(item)"></i-feather>
          <p> {{item.text}}</p>

          <div class="right-section">
            <span class="active-text">{{item.tooltip}}</span>
            <div [ngClass]="item.sortOrder">
               <img  *ngIf="item.sortOrder =='Ascending'" class="sortIcon"  src="assets/icons/Asec-icon.svg" 
                (click)="sortOrderChange(item)" />
              <img *ngIf="item.sortOrder =='Descending'" class="sortIcon" src="assets/icons/Desc-icon.svg" 
                (click)="sortOrderChange(item)" />
            </div>
            <div *ngIf="isShowSortingChange" class="list-opction" [ngClass]="item.class">
              <ejs-listbox [dataSource]='schduleSortCategories' (change)="ChangeSortCategories($event)"></ejs-listbox>
            </div>
            <div class="delete-icon e-control e-btn e-lib e-flat secondary-icon-button enabled-button">
              <i-feather name="trash-2" class="icon remove-icon" (click)="onRemove(item)"></i-feather>
            </div>
          </div>


        </div>
        <div class="selectBox">
          <div class="orgname" (click)="AddSortingCategory()">
            <img src="assets/icons/menu-round-icon.svg" />
            <i-feather name="chevron-down"></i-feather>
            <p>Add Sorting Category</p>
          </div>



          <div *ngIf="isShowSorting" class="list-opction">
            <ejs-listbox [dataSource]='schduleSortCategories' (change)="HideSortCategories($event)"></ejs-listbox>
          </div>
        </div>

        <div class="header-part">
          <p class="header-sectio">Work commitment</p>


          <ejs-tooltip [content]="description" position='TopCenter'>
            <span class="mytooltip">
              <i-feather name="info" id="info"></i-feather>
            </span>
          </ejs-tooltip>

        </div>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="empWorkCommitments" class="example-list"
          (cdkDropListDropped)="dragDropWorkCommitments($event)">
          <div class="example-box orgname" *ngFor="let item of empWorkCommitments" cdkDrag>
           <img src="assets/icons/menu-round-icon.svg" />
            <p> {{item}}</p>
          </div>
        </div>
      </div>


    </section>

  </ng-template>

  <ng-template #footerTemplate>
    <div class="container">
      <div class="e-card-content">
        <button ejs-button cssClass="e-outline button-clear" id="clearAllButton" (click)="onBackToFilters()">Back
          to Default</button>
        <button ejs-button cssClass="button-filter" id="filterButton" type="submit" [isPrimary]="true"
          (click)="onFilterClick()">Sort</button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>