@import "colors";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.row-tool-buttons {
  button.e-control.e-btn {
    i-feather {
      margin: 0;
    }
  }

  .default-icon-button,
  .secondary-icon-button,
  .primary-icon-button {
    padding: 10px;
    border: none;
    &.e-ripple {
      overflow: initial;
      position: initial;
      transform: none;
    }
  }

  .secondary-icon-button {
    color: $supportive-red;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $supportive-red-00;
    }

    &:hover {
      color: $supportive-red;
      background-color: $supportive-red-40;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $supportive-red-40;

      app-custom-icon.icon.supportive-green-10 {
        color: $supportive-green-40;
      }
    }
  }

  .primary-icon-button {
    color: $primary-active-blue-10;

    &.e-active,
    &:focus {
      color: $white;
      background-color: $primary-active-blue;
    }

    &:hover {
      color: $primary-active-blue-10;
      background-color: $primary-active-blue-70;
    }

    &[disabled] {
      pointer-events: none;
      background-color: transparent;
      color: $primary-active-blue-50;
    }
  }
}
