@import 'colors';

.cards-container {
  padding-right: 15px;

  .cards {
    padding-bottom: 12px;
  }

  .card.e-card {
    border: 1px solid var(--header-border);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    width: 256px;

    &:hover {
      background-color: $primary-active-blue-80;
      cursor: pointer;

      h4 {
        color: $black !important;
      }
    }

    h4 {
      padding: 4px;
      color: $black;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      margin: 0;
      text-overflow: ellipsis;
    }

    .card-info {
      margin: 0;
      padding-left: 4px;
      color: $secondary-dark-blue-30;
      min-height: 16px;
      line-height: 16px;
      font-weight: 400;
      font-size: 12px;
    }

    &.active-card {
      background-color:$primary-active-blue;

      &:hover {
        h4 {
          color: $white !important;
        }
      }

      h4,
      .card-info {
        color: $white;
      }
    }
  }

  .button-container {
    padding: 0 12px;
  }
}
