<div class="cards-container">
  <div class="cards" *ngFor="let card of cards; let i = index">
    <div
      class="card e-card"
      [ngClass]="{ 'active-card': card.isActive }"
      (click)="selectCard(card)"
    >
      <div class="input-container bootstrap">
        <h4>{{card.name}}</h4>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button
      ejs-button
      [disabled]="userPermission"
      cssClass="e-flat button-with-icon"
      (click)="createNewWorkflow()"
    ><i-feather name="plus" class="icon"></i-feather> Add New Workflow</button>
  </div>
</div>
