@import 'colors';
@import 'adaptive-response';

.e-dlg-content {
  margin-bottom: 24px;
}

.container {
  .header-container {
    margin-bottom: 24px;

    button {
      margin-left: 8px;

      &:disabled {
        background-color: $primary-active-blue-10;
        opacity: 0.3;
        color: $white;
      }
    }
  }

  .import-candidates-container {
    .file-uploader-container {
      height: 100%;
      width: 100%;
      margin: 0 -24px;
      padding: 24px;
      background-color: $secondary-dark-blue-50;

      .section-header {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;

        .message {
          color: $secondary-dark-blue-20;
          font-size: 14px;
        }
      }

      .file-uploader {
        display: flex;

        #droparea {
          height: 127px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $primary-active-blue-10;
          font-size: 12px;
          cursor: pointer;

          .browse-link {
            text-decoration: underline;
            font-weight: 700;
          }
        }

        .file-info {
          .clear-button {
            width: 100%;
          }

          .e-file-select-wrap, .e-upload-actions {
            display: none;
          }

          .e-upload-files {
            border: unset;

            .e-file-container {
              margin-left: unset;

              .e-file-name, .e-file-type {
                padding: unset;
              }

              .e-file-name::before {
                content: none;
              }
            }

            .e-file-remove-btn {
              padding: unset;
              margin: -16px 0 0;
            }
          }
        }

        .selected-file {
          width: 100%;
          margin-left: 24px;
        }
      }
    }

    .candidates {
      margin-top: 24px;
      position: relative;

      &.first-active {
        .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
          left: 0 !important;
          right: 98px !important;
        }
      }

      .error-template-button {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 12px;

        i-feather {
          margin-left: 4px;
        }
      }

      .tab-badge {
        background-color: $primary-active-blue-10;
        border-radius: 50%;
        color: white;
        padding: 1px 5px;
        font-size: 10px;
      }

      span {
        margin-left: 12px;
      }

      .candidates-selector {
        display: flex;
        height: 100%;
        border-top: 1px solid $secondary-dark-blue-45;
        margin: 1px -24px 0;

        .left {
          .side-menu {
            width: 231px;
            background-color: $white;
            height: 100%;
            border: 1px solid $secondary-dark-blue-45;
            border-top: none;
            border-bottom: none;
            overflow-y: auto;

            .list-box {
              .e-listbox-wrapper {
                border: none;

                .e-list-group-item, .e-list-item {
                  height: 48px;
                  padding: 14px 24px;
                  border-bottom: 1px solid $secondary-dark-blue-45;
                  background-color: $white;
                  color: $secondary-dark-blue-10;
                  font-size: 14px;
                  line-height: 20px;
                }

                .e-list-group-item {
                  font-weight: 700;
                  border-top: none;
                  cursor: default;
                }

                .e-list-item {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;

                  &.e-selected {
                    background-color: $primary-active-blue;
                    color: #FFF;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }

        .right {
          width: 100%;
          margin: 0 24px;

          .profile-list-container {
            height: 170px;
          }

          .education-list-container, .experience-list-container {
            height: 218px;
          }
        }
      }
    }
  }

  .action-link-btn {
    color: $primary-active-blue-10;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;

    i-feather {
      vertical-align: sub;
    }
  }

  #tooltip {
    display: inline-block;
  }

  #tooltip [disabled] {
    pointer-events: none;
  }
}

@media #{$max-mobile} {
  .dialog.responsive {
    width: 100% !important;
  }
}
