@import "colors.scss";

.e-dlg-content {
  margin-bottom: 24px;
}

.container {
  .header-container {
    margin-bottom: 24px;

    button {
      margin-left: 8px;
    }
  }

  .import-candidates-container {
    display: flex;
    height: 100%;
  }
}
