<ejs-dialog
  #sideDialog
  cssClass="dialog responsive"
  [width]="width"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }">
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">Import Candidates</h3>
          </div>
          <ng-container *ngIf="!(isMobile$ | async)" [ngTemplateOutlet]="actionButtons"></ng-container>
        </div>
      </section>
      <section class="import-candidates-container">
        <section class="file-uploader-container">
          <div class="section-header">
            <span class="message">Upload file, then hit import button</span>
            <span class="action-link-btn" (click)="downloadTemplate()">Download template</span>
          </div>
          <div class="file-uploader" #fileUploader>
            <div id="droparea" class="droparea" (click)="browse()">
              <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
            </div>
            <div class="file-info" [class.selected-file]="selectedFile">
              <ejs-uploader
                #previewupload
                [dropArea]="dropElement"
                [allowedExtensions]="allowedExtensions"
                [autoUpload]="false"
                [multiple]="false"
                [maxFileSize]="maxFileSize"
                (removing)="clear()"
                (selected)="selectFile($event)"
              >
              </ejs-uploader>
              <button *ngIf="selectedFile" ejs-button class="clear-button" cssClass="e-outline" (click)="clear()">Clear</button>
            </div>
          </div>
        </section>
        <section *ngIf="candidateImportResult && selectedCandidate" class="candidates" [ngClass]="{'first-active': firstActive}">
          <span *ngIf="activeErrorTab" class="action-link-btn error-template-button" (click)="downloadErrors()">
            Download file with Errors
            <i-feather name="download" class="icon"></i-feather>
          </span>
          <ejs-tab #tab (selecting)="onTabSelecting($event)" (created)="onTabCreated()">
            <e-tabitems>
              <e-tabitem [disabled]="!candidateImportResult.succesfullRecords.length">
                <ng-template #headerText> Successful <span class="tab-badge">{{candidateImportResult?.succesfullRecords?.length}}</span></ng-template>
                <ng-template #content>
                  <section class="candidates-selector">
                    <div class="left">
                      <div class="side-menu">
                        <ejs-listbox class="list-box"
                                     id="successfulCandidates"
                                     [dataSource]="successfulListBoxData"
                                     [fields]="fields"
                                     [selectionSettings]="selectionSettings"
                                     (created)="onListBoxCreated()"
                                     (change)="selectCandidate($event)">
                        </ejs-listbox>
                      </div>
                    </div>
                    <div class="right">
                      <div class="profile-list-container" *ngIf="selectedCandidate.candidateProfile">
                        <app-candidate-profile [candidateProfile]="selectedCandidate.candidateProfile"></app-candidate-profile>
                      </div>
                      <div class="experience-list-container" *ngIf="selectedCandidate.candidateExperiencesImportDtos.length">
                        <app-candidate-experience [candidateExperiencesImport]="selectedCandidate.candidateExperiencesImportDtos"></app-candidate-experience>
                      </div>
                      <div class="education-list-container" *ngIf="selectedCandidate.candidatEducationImportDtos.length">
                        <app-candidate-education [candidateEducationImport]="selectedCandidate.candidatEducationImportDtos"></app-candidate-education>
                      </div>
                    </div>
                  </section>
                </ng-template>
              </e-tabitem>
              <e-tabitem [disabled]="!candidateImportResult.errorRecords.length">
                <ng-template #headerText> Error <span class="tab-badge">{{candidateImportResult?.errorRecords?.length}}</span></ng-template>
                <ng-template #content>
                  <section class="candidates-selector">
                    <div class="left">
                      <div class="side-menu">
                        <ejs-listbox class="list-box"
                                     id="errorsCandidates"
                                     [dataSource]="errorListBoxData"
                                     [fields]="fields"
                                     [selectionSettings]="selectionSettings"
                                     (created)="onListBoxCreated()"
                                     (change)="selectCandidate($event)">
                        </ejs-listbox>
                      </div>
                    </div>
                    <div class="right">
                      <div class="profile-list-container" *ngIf="selectedCandidate.candidateProfile">
                        <app-candidate-profile [candidateProfile]="selectedCandidate.candidateProfile"></app-candidate-profile>
                      </div>
                      <div class="experience-list-container" *ngIf="selectedCandidate.candidateExperiencesImportDtos.length">
                        <app-candidate-experience [candidateExperiencesImport]="selectedCandidate.candidateExperiencesImportDtos"></app-candidate-experience>
                      </div>
                      <div class="education-list-container" *ngIf="selectedCandidate.candidatEducationImportDtos.length">
                        <app-candidate-education [candidateEducationImport]="selectedCandidate.candidatEducationImportDtos"></app-candidate-education>
                      </div>
                    </div>
                  </section>
                </ng-template>
              </e-tabitem>
            </e-tabitems>
          </ejs-tab>
        </section>
      </section>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <ng-container *ngIf="isMobile$ | async" [ngTemplateOutlet]="actionButtons"></ng-container>
  </ng-template>
</ejs-dialog>

<ng-template #importBtn>
  <button ejs-button cssClass="e-primary action-btn" [disabled]="!enabledImportButton" (click)="onImport()">Import</button>
</ng-template>

<ng-template #actionButtons>
  <div class="e-card-content">
    <button ejs-button cssClass="e-outline action-btn" (click)="onCancel()">Cancel</button>
    <ng-container *ngIf="!activeErrorTab" [ngTemplateOutlet]="importBtn"></ng-container>
    <ejs-tooltip *ngIf="activeErrorTab" id="tooltip" content="Invalid data cannot be imported" [showTipPointer]="false" position="BottomCenter">
      <div><ng-container *ngTemplateOutlet="importBtn"></ng-container></div>
    </ejs-tooltip>
  </div>
</ng-template>