@import "../../styles/variables/colors";
.flex-column {
  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    h3 {
      color: $title-black;
      margin: 8px;
    }

    button {
      margin-left: 18px;
    }
  }

  .grid-component {
    margin-top: 25px;
    overflow-y: auto;
  }
}

.grid {
  margin-top: 20px;

  .grid-checkbox {
    pointer-events: none;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.shifts-form-dialog {
  &.form-container {
    margin-top: 20px;
  }

  .timepicker-field {
    width: 52%;
  }

  .on-call-toggle {
    display: flex;
    margin-bottom: 16px;

    span {
      font-size: 14px;
      color: $black;
    }
  }
}
