@import "colors";
@import "mixins";

.flex-column {
  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    h3 {
      color: var(--text);
      margin: 8px;
    }

    button {
      margin-left: 18px;
    }
  }

  .grid-component {
    margin-top: 25px;
    overflow-y: auto;
  }
}

.grid {
  margin-top: 20px;

  .grid-checkbox {
    pointer-events: none;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.shifts-form-dialog {
  &.form-container {
    margin-top: 20px;
  }

  .timepicker-field {
    width: 52%;
  }
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  color: var(--sub-title-2);

  & span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

::ng-deep {
  .e-timepicker {
    background-color: var(--bg-default) !important;
  }

  .input-container {
    @include toggle;
  }
}
