<app-page-toolbar>
  <ng-container left>
    <app-tab-navigation
      (selectedTab)="tabSelected($event)"
    ></app-tab-navigation>
  </ng-container>
  <ng-container right>
    <app-search #search class="search" (inputKeyUpEnter)="searchOrders($event)"></app-search>
    <button ejs-button cssClass="e-outline button-filter" (click)="showFilters()">
      <div class="filter-button-content">
        <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-circle">{{ filteredItems.length }}</span>
        Filters <i-feather name="sliders" class="icon"></i-feather>
      </div>
    </button>
    <button
      ejs-dropdownbutton
      [items]="exportOptions"
      (select)="exportSelected($event)"
      id="importButton"
      cssClass="e-outline button-export">Export <i-feather name="download" class="icon"></i-feather></button>
    <button ejs-button [isPrimary]="true" (click)="navigateToOrderForm()">Create Order</button>
  </ng-container>
</app-page-toolbar>

<section>
  <ejs-grid
    #grid
    class="e-gridwithchildrow"
    (rowDataBound)="setRowHighlight($event)"
    [dataSource]="(ordersPage$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="gridHeight"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    [allowTextWrap]="allowWrap"
    (actionBegin)="actionBegin($event)"
    [enableVirtualization]="true"
    [selectionSettings]="selectionOptions"
    [textWrapSettings]="wrapSettings"
    (rowSelected)="onRowClick($event)"
    (rowDeselected)="onRowDeselect($event, gridWithChildRow)"
    (dataBound)="onDataBound()"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column headerTextAlign="Right" width="130">
        <ng-template #headerTemplate let-data>
          <div class="controls-header">
            <button ejs-button cssClass="e-flat icon-button c" *ngIf="!isSubrowDisplay; else onSubrowToggle" (click)="expandAll()">
              <span><img src="assets/icons/menu-expand.svg" alt="coll" class="icon"></span>
            </button>
            <ng-template #onSubrowToggle>
              <button ejs-button cssClass="e-flat icon-button" (click)="collapseAll()">
                <span><img src="assets/icons/menu-collapse.svg" alt="coll" class="icon c"></span>
              </button>
            </ng-template>
            <button ejs-button cssClass="e-flat icon-button" *ngIf="isRowScaleUp; else onRowScaleDown" (click)="onRowScaleUpClick()">
              <span><i-feather name="menu" class="icon"></i-feather></span>
            </button>
            <ng-template #onRowScaleDown>
              <button ejs-button cssClass="e-flat icon-button" (click)="onRowScaleDownClick()">
                <span><i-feather name="align-justify" class="icon"></i-feather></span>
              </button>
            </ng-template>
          </div>
        </ng-template>
        <ng-template #template let-data>
          <div class="row-tool-buttons" (click)="stopPropagation($event)">
            <button ejs-button cssClass="e-flat default-icon-button">
              <span><i-feather name="message-square" class="icon"></i-feather></span>
            </button>
            <button
              ejs-button
              cssClass="e-flat secondary-icon-button"
              [disabled]="disabledLock(data.status)"
              (click)="lockOrder(data)"
              *ngIf="isLockMenuButtonsShown">
              <span><i-feather [name]="data.isLocked ? 'lock' : 'unlock'" class="icon"></i-feather></span>
            </button>
            <button
              ejs-dropdownbutton
              [items]="data.isMoreMenuWithDeleteButton ? moreMenuWithDeleteButton : moreMenuWithCloseButton"
              (select)="menuOptionSelected($event, data)"
              cssClass="e-flat primary-icon-button"
            >
              <span><i-feather name="more-vertical" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="id" headerText="ORDER ID" width="120">
        <ng-template #template let-data>
          <ng-container *ngIf="showReOrders ? !data.reOrders?.length : !data.children?.length; else withToggle">
            <div>
              <b>{{ data.id }}</b>
            </div>
          </ng-container>

          <ng-template #withToggle>
            <div class="subrow-toggle" (click)="onSubrowToggle($event, data)">
              <b>{{ data.id }}</b
              ><i-feather [name]="subrowsState.has(+data.index) ? 'chevron-down' : 'chevron-right'"></i-feather>
            </div>
          </ng-template>
        </ng-template>
      </e-column>
      <e-column field="reOrderFromId" headerText="RE-ORDER ID" width="140" [visible]="false">
        <ng-template #template let-data>
          <ng-container *ngIf="!data.children?.length; else withToggle">
            <div>
              <b>{{ data.reOrderFromId }}</b>
            </div>
          </ng-container>

          <ng-template #withToggle>
            <div class="subrow-toggle" (click)="onSubrowToggle($event, data)">
              <b>{{ data.reOrderFromId }}</b>
              <i-feather [name]="subrowsState.has(+data.index) ? 'chevron-down' : 'chevron-right'"></i-feather>
            </div>
          </ng-template>
        </ng-template>
      </e-column>
      <e-column field="statusText" headerText="STATUS" width="200">
        <ng-template #template let-data>
          <div class="status-cell">
            <ejs-chiplist>
              <e-chips>
                <e-chip [text]="data.statusText" [cssClass]="(data.statusText | chipsCssClass)"></e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="jobTitle" headerText="JOB TITLE" width="200"></e-column>
      <e-column field="skillName" headerText="SKILL" textAlign="Left" width="200"></e-column>
      <e-column field="openPositions" headerText="# OF POSITIONS" width="180">
        <ng-template #template let-data>
          <div class="align-right">{{ data.openPositions }}</div>
        </ng-template>
      </e-column>
      <e-column field="locationName" headerText="LOCATION" textAlign="Left" width="200"></e-column>
      <e-column field="departmentName" headerText="DEPARTMENT" textAlign="Left" width="150"></e-column>
      <e-column field="orderType" headerText="TYPE" width="100">
        <ng-template #template let-data>
          <span>{{ getOrderTypeName(data.orderType) }}</span>
        </ng-template>
      </e-column>
      <e-column field="billRate" headerText="BILL RATE" width="150">
        <ng-template #template let-data>
          <div class="align-right">{{ data.billRate }}</div>
        </ng-template>
      </e-column>
      <e-column field="candidates" headerText="CANDIDATES" width="150">
        <ng-template #template let-data>
          <div class="align-right">{{ data.candidates }}</div>
        </ng-template>
      </e-column>
      <e-column field="startDate" headerText="START DATE" width="150">
        <ng-template #template let-data>
          <span>{{ data.startDate | date:'MM/dd/yyyy' }}</span>
        </ng-template>
      </e-column>
      <e-column field="jobStartDate" headerText="RE-ORDER DATE" width="150" [visible]="false">
        <ng-template #template let-data>
          <span>{{ data.jobStartDate | date:'MM/dd/yyyy' }}</span>
        </ng-template>
      </e-column>
      <e-column field="shift" headerText="SHIFT" width="150" [visible]="false">
        <ng-template #template let-data>
          <span>{{ data.shiftStartTime }}-{{ data.shiftEndTime }}</span>
        </ng-template>
      </e-column>
      <e-column field="agencies" headerText="AGENCY" width="150" [visible]="false">
        <ng-template #template let-data>
          <ng-container *ngIf="!data.agencies?.length">
            <span>All</span>
          </ng-container>

          <ng-container *ngIf="data.agencies?.length === 2">
            <span *ngFor="let agency of data.agencies; let i = index" class="agency-name">
              {{ agency }}
              <span class="agency-name" *ngIf="i !== data.agencies.length - 1">, </span>
            </span>
          </ng-container>

          <ng-container *ngIf="data.agencies?.length >= 3 && data.agencies?.length <= 5">
            <ejs-tooltip
              content="{{ data.agencies.length }}"
              target="#agencyName"
            >
              <span id="agencyName" class="agency-name">Multiple Agencies</span>
            </ejs-tooltip>
          </ng-container>

          <ng-container *ngIf="data.agencies?.length > 5">
            <span id="agencyName" class="agency-name">Multiple Agencies</span>
          </ng-container>
        </ng-template>
      </e-column>
      <e-column field="shiftsNext90Days" headerText="# of Shifts Next 90 Days " width="150" [visible]="false"></e-column>
    </e-columns>

    <ng-template #detailTemplate let-data>
      <div class="subrow-wrapper" *ngIf="!showReOrders">
        <app-grid-subrow-candidate
          *ngFor="let child of data.children"
          [candidat]="child"
          [order]="data"
          [selected]="selectedCandidate?.selected?.order === data.id && selectedCandidate?.selected.positionId === child.positionId"
          [isAgency]="true"
          (clickEvent)="onOpenCandidateDialog($event, data)"
        ></app-grid-subrow-candidate>
      </div>
      <div class="subrow-wrapper" *ngIf="showReOrders">
        <app-grid-subrow-reorder
          *ngFor="let child of data.reOrders"
          [reOrder]="child"
          [order]="data"
          [selected]="selectedReOrder?.selected?.order === data.id && selectedReOrder?.selected.reOrder === child.id"
          (clickEvent)="onOpenReorderDialog($event, data)"
        ></app-grid-subrow-reorder>
      </div>
    </ng-template>

    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(ordersPage$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(ordersPage$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>

<app-filter-dialog [items]="filteredItems" [count]="(ordersPage$ | async)?.totalCount" (deleteFilter)="onFilterDelete($event)" (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()" (closeDialogClicked)="onFilterClose()">
  <form [formGroup]="OrderFilterFormGroup">
    <div class="bootstrap">
      <div class="input-container" *ngIf="activeTab !== OrganizationOrderManagementTabs.ReOrders">
        <label for="orderId">Order ID</label>
        <div class="input-group">
          <input
            id="orderId"
            class="e-input"
            type="text"
            maxlength="50"
            formControlName="orderId"/>
        </div>
      </div>

      <div class="input-container" *ngIf="activeTab === OrganizationOrderManagementTabs.ReOrders">
        <label for="reOrderId">Re-Order ID</label>
        <div class="input-group">
          <input
            id="reOrderId"
            class="e-input"
            type="text"
            maxlength="50"
            formControlName="reOrderFromId"/>
        </div>
      </div>
    </div>
    <div class="row bootstrap">
      <div class="input-container">
        <label>Region</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="regionIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.regionIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Location</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="locationIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.locationIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="bootstrap">
      <div class="input-container">
        <label>Department</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="departmentsIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.departmentsIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="bootstrap">
      <div class="input-container">
        <label>Select Agency</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="agencyIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.agencyIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="row bootstrap">
      <div class="input-container">
        <label>Skill</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="skillIds"
                           placeholder="All"
                           [fields]="skillsFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.skillIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container" *ngIf="activeTab !== OrganizationOrderManagementTabs.ReOrders && activeTab !== OrganizationOrderManagementTabs.PerDiem">
        <label>Order Type</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="orderTypes"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.orderTypes.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="row bootstrap">
      <div class="input-container">
        <label>Order Status</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="orderStatuses"
                           placeholder="All"
                           [fields]="statusFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.orderStatuses.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Candidate Status</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="candidateStatuses"
                           placeholder="All"
                           [fields]="statusFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.candidateStatuses.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="bootstrap">
      <div class="input-container">
        <label>Job Title</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  formControlName="jobTitle"/>
        </div>
      </div>
    </div>
    <div class="row bootstrap" *ngIf="activeTab !== OrganizationOrderManagementTabs.PerDiem">
      <div class="input-container">
        <label>Bill Rate From</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  formControlName="billRateFrom"/>
        </div>
      </div>
      <div class="input-container">
        <label>Bill Rate To</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  formControlName="billRateTo"/>
        </div>
      </div>
    </div>
    <div class="row bootstrap">
      <div class="input-container">
        <label>Candidates Count From</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  formControlName="candidatesCountFrom"/>
        </div>
      </div>
      <div class="input-container">
        <label>Candidates Count To</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  formControlName="candidatesCountTo"/>
        </div>
      </div>
    </div>
    <div class="bootstrap" *ngIf="activeTab !== OrganizationOrderManagementTabs.PerDiem">
      <div class="input-container">
        <label for="numberOfPositions"># of Positions</label>
        <div class="input-group">
          <input
            id="numberOfPositions"
            class="e-input"
            type="text"
            maxlength="50"
            formControlName="openPositions"/>
        </div>
      </div>
    </div>
    <div class="row bootstrap" *ngIf="activeTab !== OrganizationOrderManagementTabs.PerDiem">
      <div class="input-container calendar">
        <label for="jobStartDate">{{ activeTab !== OrganizationOrderManagementTabs.ReOrders ? 'Job Start Date' : 'Re-Order Date' }}</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="jobStartDate"
            class="datepicker"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            formControlName="jobStartDate"
          >
          </ejs-datepicker>
        </div>
      </div>
      <div class="input-container calendar" *ngIf="activeTab !== OrganizationOrderManagementTabs.ReOrders">
        <label for="jobEndDate">Job End Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="jobEndDate"
            class="datepicker"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            formControlName="jobEndDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
    <div>
      <div class="radio-container">
        <label class="radio-label">Internal Agency</label>
        <ejs-radiobutton formControlName="agencyType" label="Yes" name="agencyType" value="1"></ejs-radiobutton>
        <ejs-radiobutton formControlName="agencyType" label="No" name="agencyType" value="2"></ejs-radiobutton>
        <ejs-radiobutton formControlName="agencyType" label="Both" name="agencyType" value="0"></ejs-radiobutton>
      </div>
    </div>
  </form>
</app-filter-dialog>

<app-order-details-dialog
  [order]="selectedOrder"
  [openEvent]="openDetails"
  (nextPreviousOrderEvent)="onNextPreviousOrderEvent($event)"></app-order-details-dialog>

<app-child-order-dialog [order]="$any(selectedOrder)" [candidate]="selectedCandidate"  [openEvent]="openChildDialog"></app-child-order-dialog>
