@import '../../../styles/variables/colors';

.e-grid {
  border-radius: 12px;

  .e-row {
    .e-checkbox-wrapper .e-frame.e-check, body.light .e-css.e-checkbox-wrapper .e-frame.e-check {
      background-color: #fff;
      color: $primary-active-blue-10;
    }
  }

  &.e-gridhover tr[role=row]:not(.e-editedrow):hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
    background-color: $primary-active-blue-90 !important;
  }

  .e-success-row {
    background-color: $supportive-green-50;
  }

  .align-right {
    text-align: right;
  }

  .e-sortnumber {
    display: none;
  }

  .e-sortfilterdiv.e-icons.e-descending.e-icon-descending {
    float: right;
  }

  .controls-header,
  .row-tool-buttons {
    display: flex;
    justify-content: end;
    cursor: pointer;

    .icon {
      margin: 0;
    }
  }

  .row-tool-buttons {
    display: flex;
    cursor: pointer;
  }

  .e-item-active {
    color: $primary-active-blue;
  }

  .agency-name {
    font-size: 14px;
    line-height: 20px;
  }
}

.e-tip-content {
  display: flex;
  justify-content: center;
}

.e-btn-icon.e-icons.e-icon-right.e-caret {
  display: none;
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.radio-container {
  label, ejs-radiobutton {
    margin-right: 8px;
  }

  label, ejs-radiobutton label .e-label {
    font-size: 12px;
    color: $secondary-dark-blue-30;
  }

  ejs-radiobutton label .e-label {
    padding-left: 21px;
  }
}

.row {
  display: flex;
  justify-content: space-between;

  .input-container {
    width: 100%;

    &:nth-child(n+2) {
      margin-left: 12px;
    }
  }
}

.calendar-container {
  width: 234px;
}

.subrow-wrapper {
  app-grid-subrow-candidate:not(:last-child) {
    display: block;
    border-bottom: 1px solid  $secondary-dark-blue-45;
  }
}
