<app-page-toolbar>
  <ng-container left>
    <app-tab-navigation
      (selectedTab)="tabSelected($event)"
    ></app-tab-navigation>
  </ng-container>
  <ng-container right>
    <app-search></app-search>
    <button ejs-button cssClass="e-outline button-filter" (click)="showFilters()">Filters <i-feather name="sliders" class="icon"></i-feather></button>
    <button ejs-button cssClass="e-outline button-export">Export <i-feather name="download" class="icon"></i-feather></button>
    <button ejs-button [isPrimary]="true" (click)="navigateToOrderForm()">Create Order</button>
  </ng-container>
</app-page-toolbar>

<section>
  <ejs-grid
    #grid
    (rowDataBound)="setRowHighlight($event)"
    [dataSource]="(ordersPage$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="gridHeight"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    [allowTextWrap]="allowWrap"
    (actionBegin)="actionBegin($event)"
    [enableVirtualization]="true"
    [selectionSettings]="selectionOptions"
    [textWrapSettings]="wrapSettings"
    (rowSelected)="onRowClick($event)"
    (dataBound)="onDataBound()"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column field="id" headerText="ORDER ID" width="120">
        <ng-template #template let-data>
          <div>
            <b>{{ data.id }}</b>
          </div>
        </ng-template>
      </e-column>
      <e-column field="statusText" headerText="STATUS" width="200">
        <ng-template #template let-data>
          <div class="status-cell">
            <ejs-chiplist>
              <e-chips>
                <e-chip [text]="data.statusText" [cssClass]="(data.statusText | chipsCssClass)"></e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="jobTitle" headerText="JOB TITLE" width="200"></e-column>
      <e-column field="skillName" headerText="SKILL" textAlign="Left" width="200"></e-column>
      <e-column field="openPositions" headerText="# OF POSITIONS" width="180">
        <ng-template #template let-data>
          <div class="align-right">{{ data.openPositions }}</div>
        </ng-template>
      </e-column>
      <e-column field="locationName" headerText="LOCATION" textAlign="Left" width="200"></e-column>
      <e-column field="departmentName" headerText="DEPARTMENT" textAlign="Left" width="150"></e-column>
      <e-column field="orderType" headerText="TYPE" width="100">
        <ng-template #template let-data>
          <span>{{ getOrderTypeName(data.orderType) }}</span>
        </ng-template>
      </e-column>
      <e-column field="billRate" headerText="BILL RATE" width="150">
        <ng-template #template let-data>
          <div class="align-right">{{ data.billRate }}</div>
        </ng-template>
      </e-column>
      <e-column field="candidates" headerText="CANDIDATES" width="150">
        <ng-template #template let-data>
          <div class="align-right">{{ data.candidates }}</div>
        </ng-template>
      </e-column>
      <e-column field="startDate" headerText="START DATE" width="150">
        <ng-template #template let-data>
          <span>{{ data.startDate | date:'MM/dd/yyyy' }}</span>
        </ng-template>
      </e-column>
      <e-column headerTextAlign="Right" width="130" freeze="Right">
        <ng-template #headerTemplate let-data>
          <div class="controls-header">
            <button ejs-button cssClass="e-flat icon-button">
              <span><i-feather name="menu" class="icon" (click)="onRowScaleUpClick()"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat icon-button">
              <span><i-feather name="align-justify" class="icon" (click)="onRowScaleDownClick()"></i-feather></span>
            </button>
          </div>
        </ng-template>
        <ng-template #template let-data>
          <div class="row-tool-buttons" (click)="stopPropagation($event)">
            <button ejs-button cssClass="e-flat default-icon-button">
              <span><i-feather name="message-square" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" *ngIf="isLockMenuButtonsShown">
              <span><i-feather name="lock" class="icon"></i-feather></span>
            </button>
            <button
              ejs-dropdownbutton
              [items]="data.isMoreMenuWithDeleteButton ? moreMenuWithDeleteButton : moreMenuWithCloseButton"
              (select)="menuOptionSelected($event, data)"
              cssClass="e-flat primary-icon-button"
            >
              <span><i-feather name="more-vertical" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>

    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(ordersPage$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(ordersPage$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-filter-dialog [items]="filteredItems" [count]="(ordersPage$ | async)?.totalCount" (deleteFilter)="onFilterDelete($event)" (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()">
  <form class="bootstrap" [formGroup]="OrderFilterFormGroup">
    <div>
      <div class="input-container">
        <label for="externalId">Order ID</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  placeholder="Order ID"
                  formControlName="orderId"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-container">
        <label>Region</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="regionIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.regionIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Location</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="locationIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.locationIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container">
        <label>Department</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="departmentsIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.departmentsIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-container">
        <label>Skill</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="skillIds"
                           placeholder="All"
                           [fields]="skillsFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.skillIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Order Type</label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="orderTypes"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.orderTypes.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container">
        <label for="externalId">Job Title</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  placeholder="Job Title"
                  formControlName="jobTitle"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-container">
        <label for="externalId">Bill Rate From</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  placeholder="Bill Rate From"
                  formControlName="billRateFrom"/>
        </div>
      </div>
      <div class="input-container">
        <label for="externalId">Bill Rate To</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  placeholder="Bill Rate To"
                  formControlName="billRateTo"/>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container">
        <label for="externalId">Open Positions</label>
        <div class="input-group">
          <input  class="e-input"
                  type="text"
                  maxlength="50"
                  placeholder="Open Positions"
                  formControlName="openPositions"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-container calendar">
        <label for="inactiveDate">Job Start Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            class="datepicker"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            formControlName="jobStartDate"
          >
          </ejs-datepicker>
        </div>
      </div>
      <div class="input-container calendar">
        <label for="inactiveDate">Job End Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            class="datepicker"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            formControlName="jobEndDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
  </form>
</app-filter-dialog>

<app-order-details-dialog
  [order]="selectedOrder"
  [openEvent]="openDetails"
  (nextPreviousOrderEvent)="onNextPreviousOrderEvent($event)"></app-order-details-dialog>
