<div class="profile-hours-statistics-container">
  <div class="chart">
    <section class="cumulative-hours">
      <h3>Week Hours</h3>

      <ejs-accumulationchart class="week-hours-chart"
                            [background]="chartSettings.background"
                            [width]="chartSettings.donutChart.width"
                            [height]="chartSettings.donutChart.height"
                            [legendSettings]="chartSettings.legend"
                            [tooltip]="chartSettings.tooltip"
                            (pointRender)="onPointRender($event)"
      >
        <e-accumulation-annotations>
          <e-accumulation-annotation [content]="weekChartAnnotation"
                                    region="Series"
                                    coordinateUnits="Pixel"
                                    y="46"
                                    x="5"
          ></e-accumulation-annotation>
        </e-accumulation-annotations>

        <e-accumulation-series-collection>
          <e-accumulation-series xName='x'
                                yName='y'
                                innerRadius="70%"
                                radius="70%"
                                [dataSource]='weekHoursChartData'
                                [dataLabel]="chartSettings.dataLabel"
                                [startAngle]="35"
          ></e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
    </section>

    <section class="cumulative-hours-otd">
      <h3>Cumulative Hours</h3>
      <ejs-accumulationchart class="cumulative-hours-chart"
                            [enableAnimation]="true"
                            [background]="chartSettings.background"
                            [width]="chartSettings.donutChart.width"
                            [height]="chartSettings.donutChart.height"
                            [legendSettings]="chartSettings.legend"
                            [tooltip]="chartSettings.tooltip"
                            (pointRender)="onPointRender($event)"

      >
        <e-accumulation-annotations>
          <e-accumulation-annotation [content]="cumulativeChartAnnotation"
                                    region="Series"
                                    coordinateUnits="Pixel"
                                    y="46"
                                    x="5"
          ></e-accumulation-annotation>
        </e-accumulation-annotations>

        <e-accumulation-series-collection>
          <e-accumulation-series xName='x'
                                yName='y'
                                innerRadius="70%"
                                radius="70%"
                                [dataSource]='cumulativeHoursChartData'
                                [dataLabel]="chartSettings.dataLabel"
                                [startAngle]="35"
          ></e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
    </section>
  </div>

  <section class="charts-legend">
    <div class="legend-wrapper">
      <table>
        <tr>
          <th></th>
          <th></th>
          <th class="week-title">Week</th>
          <th class="total-title" colspan="2">Cumulative</th>
        </tr>
        <tr *ngFor="let legendItem of legendItems; let i = index">
          <td>
            <div class="marker" [style.backgroundColor]="chartColorsMap[i]"></div>
          </td>
          <td class="name">{{legendItem.billRateConfigName}}</td>
          <td class="week-hours-value">
            {{legendItem.weekHours ? (legendItem.weekHours | number : '1.2-2') : '-'}}
          </td>
          <td class="cumulative-hours-value">
            {{legendItem.cumulativeHours ? (legendItem.cumulativeHours | number : '1.2-2') : '-'}}
          </td>
          <td class="checkbox-cell">
            <ejs-checkbox
                    [checked]="true"
                    (change)="toggleChartCategoryVisibility($event, legendItem)"
            ></ejs-checkbox>
          </td>
        </tr>
      </table>
    </div>
  </section>

  <ng-template #weekChartAnnotation>
    <ng-container [ngTemplateOutlet]="chartAnnotation">
      <div class="annotation-value">
        {{totalWeekHours === 0 ? 'No Data' : totalWeekHours  | number: '1.2-2'}}
      </div>
    </ng-container>
  </ng-template>

  <ng-template #cumulativeChartAnnotation>
    <ng-container [ngTemplateOutlet]="chartAnnotation">
      <div class="annotation-value">
        {{totalCumulativeHours === 0 ? 'No Data' : totalCumulativeHours  | number: '1.2-2'}}
      </div>
    </ng-container>
  </ng-template>

  <ng-template #chartAnnotation let-value="value">
    <div class="chart-annotation">
      <div class="work-time-value">{{value}}</div>
    </div>
  </ng-template>
</div>
