@import "../../../../styles/variables/colors";
@import "adaptive-response";

.work-time-value {
  font-weight: 700;
  font-size: 15px;
  color: $title-black;
}

.profile-hours-statistics-container {
  display: flex;
  justify-content: space-between;

  .chart {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }

  .week-hours-chart {
    left: -35px;
  }

  .cumulative-hours-chart {
    left: -15px;
  }

  .week-hours-chart,
  .cumulative-hours-chart {
    top: -20px;
    pointer-events: none;
  }

  section {
    padding: 13px 0 0 16px;
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 15px;
      margin-left: 0;
      margin-right: 0;
      font-weight: 700;
      font-size: 14px;
      color: $black;
    }

    &.cumulative-hours {
      padding-right: 0;
    }

    &.cumulative-hours-otd {
      padding-left: 0;
    }

    &.charts-legend {
      padding: 0 12px 0 0;

      h3 {
        visibility: hidden;
      }

      .column {
        display: flex;
        flex-direction: column;
      }

      .marker {
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }

      tr {
        th {
          padding-bottom: 6px;

          &.week-title,
          &.total-title {
            font-weight: 700;
            font-size: 12px;
            color: $secondary-dark-blue-30;
          }

          &.week-title {
            text-align: right;
            padding-right: 12px;
          }

          &.total-title {
            padding-right: 12px;
            text-align: left;
          }
        }

        td {
          height: 20px;

          &.name {
            font-size: 12px;
            color: $title-black;
            font-weight: 400;
            padding-left: 10px;
            padding-right: 25px;
          }

          &.week-hours-value,
          &.cumulative-hours-value {
            font-weight: 700;
            font-size: 12px;
            color: $title-black;
          }

          &.week-hours-value {
            padding-right: 12px;
            text-align: right;
          }

          &.cumulative-hours-value {
            text-align: left;
          }

          &.checkbox-cell {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.chart-annotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

@media (max-width: $tablet-max) {
  .profile-hours-statistics-container {
    flex-wrap: wrap;
    padding-bottom: 20px;

    .week-hours-chart {
      width: 120px;
    }

    .cumulative-hours-chart {
      width: 130px;
    }

    .charts-legend {
      flex-grow: 1;
      padding: 0 !important;

      .legend-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        table {
          width: 80%;
          padding-left: 20px;
        }
      }
    }
  }
}

@media #{$max-mobile} {
  .profile-hours-statistics-container {
    flex-direction: column;

    section {
      &.cumulative-hours {
        padding-left: 0;
      }
    }
  }
}
