@import "colors";

.add-reorder-link {
  display: flex;
  padding: 9px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: $primary-active-blue-10;
}

.link {
  color: $primary-active-blue-10;
  font-weight: bold;
  cursor: pointer;
}

.e-templatecell .row-tool-buttons {
  .primary-icon-button {
    &.disable {
      color: $secondary-dark-blue-30;
      cursor: default;

      &:hover, &:focus {
        color: $secondary-dark-blue-30;
        background: inherit;
      }


    }
  }
}
