<form class="reorder">
  <app-multiselect-dropdown
    [formGroupInstance]="reorderForm"
    [fields]="candidatesOptionFields"
    [dataSource]="candidates"
    [showSelectAll]="true"
    controlName="candidates"
    id="candidates"
    label="Candidate Name"
    selectAllText="All"
  ></app-multiselect-dropdown>
  <app-multiselect-dropdown
    #agencySelector
    appValidateWithMessage
    [formGroupInstance]="reorderForm"
    [fields]="agenciesOptionFields"
    [dataSource]="agencies"
    [showSelectAll]="false"
    [showClearAll]="false"
    [required]="true"
    selectAllText="All"
    controlName="agencies"
    id="agencies"
    label="Agency Name"
  ></app-multiselect-dropdown>
  <app-datepicker
    *ngIf="isEditMode"
    appValidateWithMessage
    [formGroupInstance]="reorderForm"
    [enableMask]="true"
    [required]="true"
    [maskPlaceholder]="datepickerMask"
    id="reorderDate"
    controlName="reorderDate"
    label="Re-Order Date"
    format="MM/dd/yyyy"
    placeholder="MM/DD/YYYY"
  ></app-datepicker>
  <div class="input-container" *ngIf="!isEditMode">
    <label>Re-Order Date <span class="required">*</span></label>
    <app-multi-date-picker
      appValidateWithMessage
      [showChipsBelowControl]="true"
      [hasError]="!!(!reorderForm.get('reorderDate')?.untouched && reorderForm.get('reorderDate')?.errors)"
      (appliedDates)="setMultipleDates($event)"></app-multi-date-picker>
      <span class="error"
      *ngIf="!reorderForm.get('reorderDate')?.untouched && reorderForm.get('reorderDate')?.errors"
      >{{ reorderForm.get('reorderDate')?.errors | validationError }}</span>
  </div>
  <div class="row-controls">
    <app-timepicker
      appValidateWithMessage
      [formGroupInstance]="reorderForm"
      [maskPlaceholder]="timepickerMask"
      [enableMask]="true"
      [required]="true"
      class="control"
      id="shiftStartTime"
      label="Shift Start Time"
      placeholder="HH:MM"
      controlName="shiftStartTime"
      format="HH:mm"
    ></app-timepicker>
    <app-timepicker
      appValidateWithMessage
      [formGroupInstance]="reorderForm"
      [maskPlaceholder]="timepickerMask"
      [enableMask]="true"
      [required]="true"
      class="control"
      id="shiftEndTime"
      label="Shift End Time"
      placeholder="HH:MM"
      controlName="shiftEndTime"
      format="HH:mm"
    ></app-timepicker>
  </div>
  <div class="row-controls">
    <app-numeric-textbox
      appValidateWithMessage
      [formGroupInstance]="reorderForm"
      [required]="true"
      [htmlAttributes]="numericInputAttributes"
      [decimals]="2"
      class="control"
      id="billRate"
      format="###.00"
      controlName="billRate"
      label="Bill Rate"
    ></app-numeric-textbox>
    <app-numeric-textbox
      appValidateWithMessage
      [formGroupInstance]="reorderForm"
      [required]="true"
      [htmlAttributes]="numericInputAttributes"
      class="control"
      id="openPosition"
      format="#"
      controlName="openPosition"
      label="Open Positions"
    ></app-numeric-textbox>
  </div>
  <div tabindex="0" class="e-card comments">
    <div class="e-card-content">
      <app-comments
        [comments]="comments"
        [commentContainerId]="commentContainerId"
        [useBackground]="false"
        [isCreating]="!isEditMode"></app-comments>
    </div>
  </div>
</form>
