@import 'colors';

.reorder {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  height: 100%;

  .row-controls {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;

    .control {
      width: 50%;
    }
  }

  .comments {
    padding: 0;
    min-height: 250px;
    height: 100%;

    .e-card-content {
      padding: 0;
      height: 100%;
    }
  }
}

.error {
  color: $supportive-red
}
