@import "colors";

::ng-deep {
  .custom-tooltip.e-tooltip-wrap.e-popup.e-popup-open {
    left: 0 !important;
    top: 45px !important;
    background-color: #fff !important;
    border-color: #fff !important;
    opacity: 1;

    h2 {
      color: $title-black;
      margin-top: 0;
      font-weight: 700;
      font-size: 16px;
    }

    .e-tip-content {
      box-shadow: rgb(0 0 0 / 30%) 0 24px 50px;
      border-radius: 10px;
      padding: 0;
    }
  }

  .file-upload-area-container {
    display: flex;
    flex-direction: column;
    padding: 25px 24px;
  }
}
