<ejs-tooltip
  #uploadTooltip
  [container]="container"
  [showTipPointer]="false"
  opensOn="Custom"
  position="TopLeft"
  width="100%"
  cssClass="custom-tooltip"
>
  <ng-template #content>
    <div
      class="file-upload-area-container"
      appClickOutside
      (clickOutside)="uploadTooltip.close()"
      [exclude]="excludeElement"
    >
      <h2>Upload Documents</h2>
      <app-file-uploader
        [allowedFileExtensions]="allowedFileExtensions"
        [maxFileSize]="maxFileSize"
        [maxFiles]="maxFiles"
        [showSelectedFiles]="false"
        (selectedFilesChanged)="emitSelectedFiles($event)"
      ></app-file-uploader>
    </div>
  </ng-template>
</ejs-tooltip>
