<ejs-tooltip
  #uploadTooltip
  [container]="container"
  [showTipPointer]="false"
  opensOn="Custom"
  position="TopLeft"
  width="100%"
  cssClass="custom-tooltip"
  *ngIf="!isMobile; else uploadFile"
>
  <ng-template #content>
    <div
      class="file-upload-area-container"
      appClickOutside
      (clickOutside)="uploadTooltip.close()"
      [exclude]="excludeElement"
    >
      <h2>Upload Documents</h2>
      <ng-container *ngTemplateOutlet="uploadFile"></ng-container>
    </div>
  </ng-template>
</ejs-tooltip>

<ng-template #uploadFile>
  <app-file-uploader
    #fileUploader
    [allowedFileExtensions]="allowedFileExtensions"
    [maxFileSize]="maxFileSize"
    [maxFiles]="maxFiles"
    [showSelectedFiles]="false"
    (selectedFilesChanged)="emitSelectedFiles($event)"
  ></app-file-uploader>
</ng-template>
