@import "colors";

.table-container {
  height: 95%;
}

.e-row {
  .e-customized-expand-cell {
    border-top: 1px solid $grid-row-border;
  }

  &:last-of-type .e-customized-expand-cell,
  &:last-of-type .e-detailrowcollapse {
    border-bottom: 1px solid $grid-row-border;
  }
}

.e-row[aria-selected='true'] {
  .e-customized-expand-cell {
    background-color: $primary-active-blue-70;
  }

  td.e-detailrowcollapse {
    div.e-icons.e-dtdiagonalright.e-icon-grightarrow::before {
      color: $white !important;
    }
  }

  td.e-detailrowexpand {
    div.e-icons.e-dtdiagonaldown.e-icon-gdownarrow::before {
      color: $white !important;
    }
  }
}

.e-grid.e-gridhover tr[role='row']:hover {
  &:not(.e-row[aria-selected='true']) {
    background-color: $primary-active-blue-90;
    color: $white !important;

    .e-detailrowexpand,
    .e-detailrowcollapse {
      background-color: $primary-active-blue-90 !important;
      color: $white !important;
    }
  }
}