<section class="grid flex-column">
  <section class="toolbar">
    <section>
      <h3>Configurations</h3>
    </section>
    <section>
      <button ejs-button appHideBeforeSyncfusionLoad id="filterButton" cssClass="e-outline button-filter"
        (click)="showFilters()">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill">{{ filteredItems.length
            }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
    </section>
  </section>
  <ejs-grid #grid [dataSource]="gridDataSource" (rowDataBound)="rowDataBound($event)" [allowPaging]="allowPaging"
    [pageSettings]="pageSettings" [height]="fullScreenGridHeight" [rowHeight]="rowHeight" [enableVirtualization]="false"
    [resizeSettings]="resizeSettings" [allowSorting]="allowSorting" [allowResizing]="allowResizing"
    (dataBound)="gridDataBound(grid)" (actionBegin)="actionBegin($event, grid)" class="grid-component">
    <ng-template #detailTemplate let-data>
      <table class="detailtable" width="100%">
        <tbody>
          <tr *ngFor="let child of data.children" [hidden]="child.hidden">
            <td class="e-rowcell e-templatecell" [style.width.px]="100">
              <div class="row-tool-buttons">
                <button ejs-button cssClass="e-flat primary-icon-button"
                  (click)="openEditSettingDialog(data, child, $event)"
                  [disabled]="hasPermissions | hasAccess : data : false">
                  <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
                </button>
              </div>
            </td>
            <td class="e-rowcell e-templatecell attr-td" [style.width.px]="400"> </td>
            <td class="e-rowcell e-templatecell" [style.width.px]="150">{{child.systemType}}</td>
            <td class="e-rowcell e-templatecell" [style.width.px]="150">{{child.regionName}}</td>
            <td class="e-rowcell e-templatecell" [style.width.px]="150">{{child.locationName}}</td>
            <td class="e-rowcell e-templatecell" [style.width.px]="150">{{child.departmentName}}</td>
            <td class="e-rowcell e-templatecell" [style.width.px]="400" style="text-align: left">{{child.displayValue}}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <e-columns>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button"
              (click)="openEditSettingDialog(data, undefined, $event)"
              [disabled]="hasPermissions | hasAccess : data : true">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat default-icon-button" (click)="openOverrideSettingDialog(data)"
              [disabled]="hasPermissions | hasAccess : data : false : disabledSettings">
              <span class="edit-button"><i-feather name="plus" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="name" headerText="ATTRIBUTE" width=400></e-column>
      <e-column [visible]="orgSystems.IRPAndVMS" field="systemType" headerText="SYSTEM" width=150></e-column>
      <e-column field="regionName" headerText="REGION" width=150></e-column>
      <e-column field="locationName" headerText="LOCATION" width=150></e-column>
      <e-column field="departmentName" headerText="DEPARTMENT" width=150></e-column>
      <e-column field="displayValue" headerText="VALUE" width=400></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist id="rowsPerPage" class="dropdown-no-border" [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown" [(value)]="activeRowsPerPageDropDown"
                (change)="changePageSize($event)">
              </ejs-dropdownlist>
              <ejs-numerictextbox id="goToPage" class="numeric-input-no-border" format="#"
                [validateDecimalOnType]="validateDecimalOnType" [decimals]="decimals" placeholder="Go to:" min="1"
                [max]="lastAvailablePage" [showSpinButton]="false" (change)="changePage($event)">
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{totalDataRecords}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager id="gridPager" #gridPager [pageSize]="pageSizePager" [totalRecordsCount]="totalDataRecords"
                [enablePagerMessage]="false" [currentPage]="currentPagerPage" (click)="changePage($event)">
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-filter-dialog [items]="filteredItems" [count]="totalDataRecords" (deleteFilter)="deleteFilter($event)"
                   (clearAllFiltersClicked)="clearAllFilters()" (applyFilterClicked)="applyFilters()"
                   (closeDialogClicked)="closeFilters()">
  <form class="bootstrap" [formGroup]="SettingsFilterFormGroup">
    <div class="input-container" *ngIf="orgSystems.IRPAndVMS">
      <label>Select System</label>
      <div class="bootstrap checkbox-container">
        <ejs-checkbox formControlName="includeInIRP" label="IRP"></ejs-checkbox>
        <ejs-checkbox formControlName="includeInVMS" label="VMS"></ejs-checkbox>
      </div>
    </div>
    <div class="input-container">
      <label>Region</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox" formControlName="regionIds" placeholder="All" [fields]="optionFields"
          [allowFiltering]="true" [showDropDownIcon]="true" [dataSource]="filterColumns.regionIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Location</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox" formControlName="locationIds" placeholder="All" [fields]="optionFields"
          [allowFiltering]="true" [showDropDownIcon]="true" [dataSource]="filterColumns.locationIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Department</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox" formControlName="departmentIds" placeholder="All" [fields]="optionFields"
          [allowFiltering]="true" [showDropDownIcon]="true" [dataSource]="filterColumns.departmentIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Attributes</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox" formControlName="attributes" placeholder="All" [allowFiltering]="true"
          [showDropDownIcon]="true" [dataSource]="filterColumns.attributes.dataSource">
        </ejs-multiselect>
      </div>
    </div>
  </form>
</app-filter-dialog>

<app-side-dialog [disableSaveButton]="!userPermission[userPermissions.CanEditOrganizationSettings]"
                 (formCancelClicked)="cancelSettingChanges()" (formSaveClicked)="saveSetting()" [header]="dialogHeader">
  <form class="form-container" id="addEditRecordForm" *ngIf="isFormShown" [formGroup]="organizationSettingsFormGroup">
    <app-button-group
      *ngIf="separateValuesInSystems && orgSystems.IRPAndVMS"
      [buttonOptions]="systemButtons"
      (buttonChange)="setConfigurationSystemType($event.id, false, true)"
    ></app-button-group>
    <div>
      <div class="input-container bootstrap" *ngIf="!IsSettingKeyPayPeriod">
        <label for="attribute">Attribute</label>
        <div class="input-group">
          <ejs-tooltip [content]="attribute.value" [showTipPointer]="false">
            <input #attribute id="attribute" class="e-input" type="text" formControlName="name" />
          </ejs-tooltip>
        </div>
      </div>
    </div>

    <form [formGroup]="regionFormGroup" *ngIf="isEdit && !(IsSettingKeyOtHours || IsSettingKeyAvailabiltyOverLap || IsSettingKeyScheduleOnlyWithAvailability) && !IsSettingKeyPayPeriod">
      <div class="input-container bootstrap">
        <label for="region">Region</label>
        <div class="input-group dropdown">
          <ejs-dropdownlist id="region" [allowFiltering]="true" [dataSource]="regions$ | async"
                            [fields]="optionFields" (select)="changeRegion($event)" [enabled]="!isParentEdit"
                            formControlName="regionId">
          </ejs-dropdownlist>
        </div>
      </div>
    </form>

    <form [formGroup]="regionRequiredFormGroup" *ngIf="!isEdit && !(IsSettingKeyOtHours || IsSettingKeyAvailabiltyOverLap || IsSettingKeyScheduleOnlyWithAvailability) && !IsSettingKeyPayPeriod">
      <div class="input-container bootstrap">
        <label for="regionRequired">Region <span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist id="regionRequired" appValidateWithMessage [allowFiltering]="true"
                            [dataSource]="regions$ | async" [fields]="optionFields" (select)="changeRegion($event)"
                            formControlName="regionId">
          </ejs-dropdownlist>
        </div>
      </div>
    </form>

    <form [formGroup]="locationFormGroup" *ngIf="!(IsSettingKeyOtHours || IsSettingKeyAvailabiltyOverLap || IsSettingKeyScheduleOnlyWithAvailability) && !IsSettingKeyPayPeriod">
      <div class="input-container bootstrap">
        <label for="location">Location</label>
        <div class="input-group dropdown">
          <ejs-dropdownlist id="location" [allowFiltering]="true" [dataSource]="locations$ | async"
                            [fields]="optionFields" (select)="changeLocation($event)" [enabled]="!isParentEdit"
                            formControlName="locationId">
          </ejs-dropdownlist>
        </div>
      </div>
    </form>

    <form [formGroup]="departmentFormGroup" *ngIf="!(IsSettingKeyOtHours || IsSettingKeyAvailabiltyOverLap || IsSettingKeyScheduleOnlyWithAvailability) && !IsSettingKeyPayPeriod">
      <div class="input-container bootstrap">
        <label for="department">Department</label>
        <div class="input-group dropdown">
          <ejs-dropdownlist id="department" [allowFiltering]="true" [dataSource]="departments$ | async"
                            [fields]="departmentFields" (select)="changeDepartment($event)" [enabled]="!isParentEdit"
                            formControlName="departmentId">
          </ejs-dropdownlist>
        </div>
      </div>
    </form>
    <form [formGroup]="RegionLocationSettingsMultiFormGroup" *ngIf="(IsSettingKeyOtHours||IsSettingKeyAvailabiltyOverLap || IsSettingKeyScheduleOnlyWithAvailability) && !IsSettingKeyPayPeriod">
      <div class="input-container">
        <label>Region<span class="required">*</span></label>
        <div class="dropdown-wrapper">
          <div class="input-group bootstrap">
            <ejs-multiselect mode="CheckBox" appValidateWithMessage formControlName="regionId" placeholder="All" [fields]="optionFields"
              [allowFiltering]="true" [showDropDownIcon]="true" [dataSource]="allRegions" >
            </ejs-multiselect>
          </div>
          <div class="switch">
            <ejs-switch name="allRegions" [disabled]="isParentEdit" [checked]="allRegionsSelected"  (change)="allRegionsChange($event)" label="All"></ejs-switch>
            <label for="allRegions" class="switch-text">All</label>
          </div>
        </div>
      </div>
      <div class="input-container">
        <label>Location<span class="required">*</span></label>
        <div class="dropdown-wrapper">
          <div class="input-group bootstrap">
            <ejs-multiselect mode="CheckBox" appValidateWithMessage formControlName="locationId" placeholder="All" [fields]="optionFields"
              [allowFiltering]="true" [showDropDownIcon]="true" [dataSource]="regionBasedLocations" >
            </ejs-multiselect>
          </div>
          <div class="switch">
            <ejs-switch name="allLocations" [disabled]="isParentEdit" [checked]="allLocationsSelected" (change)="allLocationsChange($event)" label="All"></ejs-switch>
            <label for="allLocations" class="switch-text">All</label>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="pushStartDateFormGroup"
      *ngIf="formControlType === organizationSettingControlType.FixedKeyDictionary">
      <div class="row">
        <div class="input-container bootstrap">
          <label>Days to Consider<span class="required">*</span></label>
          <div class="input-group">
            <ejs-numerictextbox class="numeric-input" appValidateWithMessage min="0" maxlength="3" format="0"
              formControlName="daysToConsider" [showSpinButton]="false">
            </ejs-numerictextbox>
          </div>
        </div>

        <div class="input-container bootstrap">
          <label for="daysToPush">Days to Push<span class="required">*</span></label>
          <div class="input-group">
            <ejs-numerictextbox id="daysToPush" class="numeric-input" appValidateWithMessage min="0" maxlength="3"
              format="0" formControlName="daysToPush" [showSpinButton]="false">
            </ejs-numerictextbox>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="invoiceGeneratingFormGroup"
      *ngIf="formControlType === organizationSettingControlType.InvoiceAutoGeneration">
      <div class="row">
        <div class="input-container bootstrap">
          <label>Day of week <span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist appValidateWithMessage [allowFiltering]="true" [dataSource]="daysOfWeek"
                              [fields]="textOptionFields" formControlName="dayOfWeek">
            </ejs-dropdownlist>
          </div>
        </div>
        <div class="input-container">
          <label>Time<span class="required">*</span> </label>
          <div class="input-group">
            <ejs-timepicker placeholder="HH:MM" formControlName="time" appValidateWithMessage format="HH:mm"
              [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }" [enableMask]="true" [step]="15" maskPlaceholder="HH:MM">
            </ejs-timepicker>
          </div>
        </div>
      </div>
      <div class="input-container bootstrap">
        <label>Grouping By<span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist appValidateWithMessage [allowFiltering]="true" [dataSource]="groupInvoicesOptions"
            [fields]="textOptionFields" formControlName="groupingBy">
          </ejs-dropdownlist>
        </div>
      </div>
    </form>

    <form *ngIf="formControlType === organizationSettingControlType.SwitchedValue" [formGroup]="switchedValueForm">

      <div class="input-container bootstrap">
        <label for="numeric">Value<span class="required">*</span></label>
        <div class="input-group">
          <ejs-numerictextbox id="numeric" class="numeric-input" min="0" [maxlength]="maxFieldLength"
          (keydown)="onlyNumerics($event)" [validateDecimalOnType]='true' decimals='0' format="#" [showSpinButton]="false" appValidateWithMessage
            formControlName="value"></ejs-numerictextbox>
        </div>
      </div>

      <div class="input-container">
        <div class="input-group switch">
          <ejs-switch id="switcher" class="switch" formControlName="isEnabled" (change)="disableSettingsValue($event,undefined)"></ejs-switch>
          <label class="switch-label">Turned {{ switchedValueForm.get('isEnabled')?.value ? 'on' : 'off' }}</label>
        </div>
      </div>
    </form>

    <form *ngIf="formControlType === organizationSettingControlType.CheckboxValue" [formGroup]="checkboxValueForm">

      <ng-container *ngIf="!checkboxValueForm.get('isEnabled')?.value && regularLocalRatesToggleMessage">
        <div class="toggle-message">
          Candidate Contact Details is mandatory as Enable Regular Local Rates flag is turned on.
        </div>
      </ng-container>

      <div class="input-container">
        <div class="input-group switch">
          <ejs-switch id="switcher" class="switch" formControlName="isEnabled"></ejs-switch>
          <label class="switch-label">Turned {{ checkboxValueForm.get('isEnabled')?.value ? 'on' : 'off' }}</label>
        </div>
      </div>
      <ng-container *ngIf="checkboxValueForm.get('isEnabled')?.value == true">
        <label for="numeric">Status<span class="required">*</span></label>
        <div class="input-group">
          <ejs-dropdownlist id="dropdown" [allowFiltering]="false" [dataSource]="dropdownCheckboxValueDataSource"
            [fields]="dropdownFields" appValidateWithMessage formControlName="value"></ejs-dropdownlist>
        </div>
      </ng-container>


    </form>

    <form [formGroup]="payPeriodFormGroup"
    *ngIf="formControlType === organizationSettingControlType.PayPeriod">
  <div class="row">
    <div class="input-container bootstrap">
      <label>
        Schedule Management Start Date
        </label>
      <div class="input-group datepicker">
        <ejs-datepicker id="datepicker" class="datepicker" format="MM/dd/yyyy" placeholder="MM/DD/YYYY"
          appValidateWithMessage [showClearButton]="false" formControlName="date"></ejs-datepicker>
      </div>
    </div>
   </div>
   <div class="row">
    <div class="input-container bootstrap">
      <label>
        No of pay periods
        </label>
      <div class="input-group dropdown">
        <ejs-dropdownlist appValidateWithMessage [allowFiltering]="true" [dataSource]="noOfWeek"
          [fields]="textOptionFields" formControlName="noOfWeek">
        </ejs-dropdownlist>
      </div>

    </div>


  </div>
 </form>

    <div [ngSwitch]="formControlType">
      <ng-container *ngSwitchCase="organizationSettingControlType.Checkbox">
        <ng-container *ngTemplateOutlet="switcher"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="organizationSettingControlType.FixedKeyDictionary">
        <ng-container *ngTemplateOutlet="switcher"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="organizationSettingControlType.InvoiceAutoGeneration">
        <ng-container *ngTemplateOutlet="switcher"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="organizationSettingControlType.PayPeriod">
        <ng-container *ngTemplateOutlet="switcher"></ng-container>
      </ng-container>

      <ng-template #switcher>
        <div class="input-container">
          <div class="input-group switch">
            <ejs-switch id="switcher" class="switch" formControlName="value"></ejs-switch>
            <label class="switch-label">Turned {{ switcherValue }}</label>
          </div>
        </div>

        <ng-container *ngIf="showToggleMessage">
          <div class="toggle-message">
            Please note: Tiering logic depends on how <span class="link" (click)="redirectToTiers()">Tiers</span>
            are set up and assigned to <span class="link" [routerLink]="associateLink">Associated Agencies</span>.
            Without these settings, Order will be distributed to all Associated Agencies.
          </div>
        </ng-container>
      </ng-template>

      <div class="input-container datepicker bootstrap" *ngSwitchCase="organizationSettingControlType.DateTime">
        <label for="datepicker">Value <span class="required">*</span></label>
        <div class="input-group datepicker">
          <ejs-datepicker id="datepicker" class="datepicker" format="MM/dd/yyyy" placeholder="MM/DD/YYYY"
            appValidateWithMessage [showClearButton]="false" formControlName="value"></ejs-datepicker>
        </div>
      </div>

      <div *ngSwitchCase="organizationSettingControlType.Text">
        <div class="input-container bootstrap" *ngIf="textFieldType === textFieldTypeControl.Email">
          <label for="email">Value</label>
          <div class="input-group">
            <input id="email" class="e-input" type="email" formControlName="value" />
            <i-feather name="alert-circle" class="icon validation-icon"
              [ngStyle]="{ display: !organizationSettingsFormGroup?.untouched && organizationSettingsFormGroup?.invalid ? 'block' : 'none' }"></i-feather>
          </div>
        </div>

        <div *ngIf="textFieldType === textFieldTypeControl.Numeric">
          <div class="input-container bootstrap">
            <label for="numeric">Value<span class="required">*</span></label>
            <div class="input-group">
              <ejs-numerictextbox id="numeric" class="numeric-input" min="0" [maxlength]="maxFieldLength"
                [validateDecimalOnType]='true' decimals='0' (keydown)="onlyNumerics($event)" format="#" [showSpinButton]="false" appValidateWithMessage
                formControlName="value"></ejs-numerictextbox>
            </div>
          </div>
        </div>
      </div>

      <div class="input-container dropdown bootstrap" *ngSwitchCase="organizationSettingControlType.Select">
        <label for="dropdown">Value <span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist id="dropdown" [allowFiltering]="true" [dataSource]="dropdownDataSource"
            [fields]="dropdownFields" appValidateWithMessage formControlName="value"></ejs-dropdownlist>
        </div>
      </div>

      <div class="input-container dropdown bootstrap" *ngSwitchCase="organizationSettingControlType.Multiselect">
        <label for="dropdownMulti">Value <span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-multiselect id="dropdownMulti" mode="CheckBox" appValidateWithMessage [allowFiltering]="true"
            [dataSource]="dropdownDataSource" [fields]="dropdownFields" selectAllText="All" showSelectAll="true"
            formControlName="value">
          </ejs-multiselect>
        </div>
      </div>

      <div class="input-container bootstrap" *ngSwitchCase="organizationSettingControlType.EmailAria">
        <div class="input-container">
          <label for="email">Emails</label>
          <div class="input-group">
            <ejs-textbox name="email" appValidateWithMessage formControlName="value" placeholder="Comma separated email"
              [multiline]="true">
            </ejs-textbox>
          </div>
        </div>
      </div>



      <ng-container *ngIf="showBillingMessage">
        <div class="toggle-message">
          Please make sure to align Billing contact e-mail recipients configuration with group by set in Auto-generation
          of invoices.
        </div>
      </ng-container>
    </div>



  </form>

</app-side-dialog>
