@import '../../styles/variables/colors';

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  h3 {
    margin: 8px;
  }
}

.row {
  display: flex;

  .input-container:first-child{
    margin-right: 12px;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.form-container {
  padding-top: 28px;

  .input-container {
    margin-bottom: 12px;
    width: 386px;

    &.datepicker {
      width: 187px;
    }

    .input-group.switch {
      display: flex;
      align-items: center;

      .switch-label {
        color: $black !important;
      }
    }
  }
}

.grid-component {
  margin-top: 25px;
  overflow-y: auto;
}

.e-row {
  .e-customized-expand-cell {
    border-top: 1px solid $grid-row-border;
  }

  &:last-of-type .e-customized-expand-cell,
  &:last-of-type .e-detailrowcollapse {
    border-bottom: 1px solid $grid-row-border;
  }
}

.e-row[aria-selected='true'] {
  .e-customized-expand-cell {
    background-color: $primary-active-blue-70;
  }

  td.e-detailrowcollapse {
    div.e-icons.e-dtdiagonalright.e-icon-grightarrow::before {
      color: $white !important;
    }
  }

  td.e-detailrowexpand {
    div.e-icons.e-dtdiagonaldown.e-icon-gdownarrow::before {
      color: $white !important;
    }
  }
}

.e-grid.e-gridhover tr[role='row']:hover {
  &:not(.e-row[aria-selected='true']) {
    background-color: $primary-active-blue-90;
    color: $white !important;

    .e-detailrowexpand,
    .e-detailrowcollapse {
      background-color: $primary-active-blue-90 !important;
      color: $white !important;
    }
  }
}

.toggle-message {
  font-weight: 400;
  font-size: 13px;

  .link {
    color: $primary-active-blue-10;
    cursor: pointer;
  }
}

ejs-textbox.e-control {
  .e-textbox {
    height: 120px !important;
  }
}
