@import '../../styles/variables/colors';

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  h3 {
    margin: 8px;
  }
}

app-configuration-grid {
  margin-top: 25px;
  height: 90%;
}

.row {
  display: flex;

  .input-container:first-child{
    margin-right: 12px;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;

  .checkbox-container {
    margin-top: 8px;

    ejs-checkbox {
      margin-right: 16px;
    }
  }
}

.form-container {
  padding-top: 28px;

  .input-container {
    margin-bottom: 12px;
    width: 386px;

    &.datepicker {
      width: 187px;
    }

    .input-group.switch {
      display: flex;
      align-items: center;

      .switch-label {
        color: $black !important;
      }
    }
  }
}

app-button-group {
  display: block;
  margin-bottom: 12px;
}

.toggle-message {
  font-weight: 400;
  font-size: 13px;

  .link {
    color: $primary-active-blue-10;
    cursor: pointer;
  }
}

ejs-textbox.e-control {
  .e-textbox {
    height: 120px !important;
  }
}

.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.input-group.bootstrap {
  width: 100%;
}

.switch {
  display: flex;
  align-items: center;
}

.attr-td {
  width: 400px !important;
}
