@import 'adaptive-response';

:host::ng-deep {
  .e-toolbar-items.e-lib.e-hscroll.e-control.e-touch {
    padding: 0 !important;
  }

  .e-control.e-tab.e-lib.disabled {
    & .e-toolbar-item.e-icon.e-template {
      background: inherit;
      opacity: 1;
      pointer-events: none;
    }
  }

  .tabs {
    max-width: calc(100% - 24px) !important;
    overflow: hidden !important;
    @media #{$max-mobile} {
      max-width: calc(100vw - 50px) !important;
    }
    
    .e-hscroll-content {
      padding: 0;
    }
  }

  .e-tab_default_tab_header_items_nav.e-scroll-nav.e-scroll-left-nav.e-lib.e-touch,
  .e-tab_default_tab_header_items_nav.e-scroll-nav.e-scroll-right-nav.e-lib.e-touch {
    display: none !important;
  }
}

.tab-item {
  display: flex;
  align-items: center;
}

.tab-navigation {
  &.e-badge {
    margin-left: 0.3rem;
  }
}

.e-toolbar.e-control {
  padding-right: 14px;
}
