<ng-container [ngTemplateOutlet]="tabsRef" #outletRef></ng-container>

<ng-template #tabsRef>
  <ejs-tab
    id="tab_default"
    cssClass="{{ isDisabled && 'disabled' }} tabs"
    heightAdjustMode="Auto"
    overflowMode="Scrollable"
    [width]="tabsWidth$ | async"
    (selecting)="onSelect($event)"
    >
      <div class="e-tab-header">
        <div *ngFor="let tab of tabConfig; trackBy: trackBy">
          {{ tab.title }}
          <span *ngIf="tab?.amount" class="tab-navigation e-badge e-badge-success e-badge-pill">
            {{ tab.amount }}
          </span>
        </div>
      </div>
      <div class="e-content"></div>
  </ejs-tab>
</ng-template>