<ejs-tab
  id="tab_default"
  heightAdjustMode="Auto"
  overflowMode="Scrollable"
  cssClass="{{ isDisabled && 'disabled' }} tabs"
  [width]="tabsWidth$ | async"
  (selecting)="onSelect($event)"
>
  <e-tabitems>
    <e-tabitem *ngFor="let tab of tabConfig; trackBy: trackBy">
      <ng-template #headerText>
        {{ tab.title }}
        <span *ngIf="tab?.amount" class="tab-navigation e-badge e-badge-success e-badge-pill">
            {{ tab.amount }}
        </span>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
