<section class="container">
  <div class="tools-button-group">
    <ng-container *ngIf="activeTab === tabs.Setup">
      <div
        class="credential-message"
        *ngIf="showCredentialMessage">
        <div class="icon">
          <i-feather name="info" class="icon"></i-feather>
        </div>
        <div class="text">
          <p>You need to setup <span>group</span> and <span>credentials</span></p>
          <p>first to proceed with <span>credential mapping</span></p>
        </div>
      </div>

      <app-tooltip-container
        [message]="toolTipMessage"
        [showToolTip]="!userPermission[userPermissions.CanEditCredentials]">
        <button
          ejs-button
          appHideBeforeSyncfusionLoad
          id="mapCredentials"
          [disabled]="!userPermission[userPermissions.CanEditCredentials]"
          [isPrimary]="true"
          (click)="showCredentialMappingModal()">Map Credentials</button>
      </app-tooltip-container>
    </ng-container>

    <div *ngIf="activeTab === tabs.CredentialsList">
      <button
        ejs-button
        appHideBeforeSyncfusionLoad
        id="filterButton"
        cssClass="e-outline button-filter"
        (click)="showCredentialDialogs()">
        <div class="filter-button-content">
          <span *ngIf="filteredItemsCount" class="e-badge e-badge-success e-badge-pill">{{ filteredItemsCount }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-dropdownbutton
        appHideBeforeSyncfusionLoad
        [items]="exportOptions"
        (select)="exportSelected($event)"
        cssClass="e-outline button-export">
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
      <ng-container *ngIf="permissions$ | async as permissions">
        <app-tooltip-container
          [message]="toolTipMessage"
          [showToolTip]="!userPermission[userPermissions.CanEditMasterCredentials] || !userPermission[userPermissions.CanManuallyAddCredentials]">
          <button
            *ngIf="permissions.canAddManual"
            ejs-button
            appHideBeforeSyncfusionLoad
            [disabled]="!userPermission[userPermissions.CanEditMasterCredentials] || !userPermission[userPermissions.CanManuallyAddCredentials]"
            id="addCredentialButton"
            [isPrimary]="true"
            (click)="showCredentialDialogs()">Add Credential</button>
        </app-tooltip-container>
        <app-tooltip-container
          [message]="toolTipMessage"
          [showToolTip]="!userPermission[userPermissions.CanEditCredentials]">
          <button
            ejs-button
            *ngIf="permissions.canManageOrganizationCredential"
            appHideBeforeSyncfusionLoad
            [disabled]="!userPermission[userPermissions.CanEditCredentials]"
            id="assignCredentialButton"
            [isPrimary]="true"
            (click)="showAssignCredential()">Assign Credential</button>
        </app-tooltip-container>
      </ng-container>
    </div>

    <div class="form-button-group" *ngIf="activeTab === tabs.GroupSetup">
      <button
        ejs-button
        id="addGroupButton"
        [isPrimary]="true"
        cssClass="add-group-button"
        (click)="showCredentialDialogs()"
        >Add Group</button>
    </div>
  </div>

  <ejs-tab
    id="navigationTabs"
    (selected)="selectTab($event)"
  >
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText>
          <div>Credentials Setup</div>
        </ng-template>
        <ng-template #content>
          <app-credential-setup-container *ngIf="activeTab === tabs.Setup"></app-credential-setup-container>
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText>
          <div>Credentials List</div>
        </ng-template>
        <ng-template #content>
          <app-credentials-list *ngIf="activeTab === tabs.CredentialsList"></app-credentials-list>
        </ng-template>
      </e-tabitem>

     <e-tabitem [disabled]="!userPermission[userPermissions.CanEditCredentials]">
        <ng-template #headerText>
          <app-tooltip-container
            [message]="toolTipMessage"
            [showToolTip]="!userPermission[userPermissions.CanEditCredentials]">
            <div>Group Setup</div>
          </app-tooltip-container>
        </ng-template>
       <ng-template #content>
          <app-credential-group-container
            *ngIf="activeTab === tabs.GroupSetup"
          ></app-credential-group-container>
       </ng-template>
      </e-tabitem>

    </e-tabitems>
  </ejs-tab>
</section>
