@import 'colors';

.container {
  height: 100%;

  .tools-button-group {
    float: right;
    padding-top: 24px;
    position: relative;
    z-index: 99;
    display: flex;

    .credential-message {
      background-color: $primary-active-blue-90;
      display: flex;
      padding: 16px;
      color: $primary-active-blue;
      border-radius: 8px;
      margin-right: 20px;

      .icon {
        margin-right: 5px;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

        span {
          font-weight: 700;
        }
      }
    }

    #addCredentialButton {
      margin-right: 10px;
    }

    button:not(:last-child) {
      margin-right: 12px;
    }
  }

  .e-tab {
    .e-tab-header {
      padding-top: 18px;
    }
  }
}

.form-container {
  .input-container {
    margin-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }
  }
}

ejs-tab {
  height: 100% !important;

  .e-content.e-lib.e-touch {
    height: calc(100% - 62px) !important;

    .e-item.e-active {
      height: 100% !important;

      #activeTab {
        height: 100% !important;
      }
    }
  }
}

