@import '../../styles/variables/colors';

.container {
  .tools-button-group {
    float: right;
    padding-top: 24px;
    position: relative;
    z-index: 99;

    .button-filter {
      margin-right: 12px;
    }
  }

  .e-tab {
    .e-tab-header {
      padding-top: 18px;
    }
  }
}

.form-container {
  .input-container {
    margin-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }
  }
}

