<section class="container">
  <div class="tools-button-group">
    <div *ngIf="isCredentialListToolButtonsShown">
      <button
        ejs-button
        appHideBeforeSyncfusionLoad
        id="filterButton"
        cssClass="e-outline button-filter"
        (click)="showFilters()">
        <div class="filter-button-content">
          <span *ngIf="filteredItemsCount" class="e-badge e-badge-success e-badge-circle">{{ filteredItemsCount }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        *ngIf="isCredentialListActive"
        ejs-dropdownbutton
        appHideBeforeSyncfusionLoad
        [items]="exportOptions"
        (select)="exportSelected($event)"
        cssClass="e-outline button-export">
        <div class="button-export-container">
          Export <i-feather name="download" class="icon"></i-feather>
        </div>
      </button>
      <ng-container *ngIf="permissions$ | async as permissions">
        <button
          *ngIf="permissions.canAddManual"
          ejs-button
          appHideBeforeSyncfusionLoad
          id="addCredentialButton"
          [isPrimary]="true"
          (click)='onAddCredentialClick()'>Add Credential</button>
        <button
          ejs-button
          *ngIf="permissions.canManageOrganizationCredential"
          appHideBeforeSyncfusionLoad
          id="assignCredentialButton"
          [isPrimary]="true"
          (click)='onAssignCredentialClick()'>Assign Credential</button>
      </ng-container>
    </div>

    <button
      *ngIf="!isCredentialListToolButtonsShown"
      ejs-button
      appHideBeforeSyncfusionLoad
      id="groupSetup"
      cssClass="e-outline"
      (click)="onGroupsSetupClick()">Groups Setup</button>
  </div>

  <ejs-tab
    id="navigationTabs"
    #navigationTabs
    (selected)="onTabSelected($event)"
    (created)="onTabsCreated()"
  >
    <e-tabitems>
      <e-tabitem content="#activeTab">
        <ng-template #headerText>
          <div>Credentials Setup</div>
        </ng-template>
      </e-tabitem>
      <e-tabitem content="#activeTab">
        <ng-template #headerText>
          <div>Credentials List</div>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>

  <div id="activeTab">
    <router-outlet></router-outlet>
  </div>
</section>
