.shell {
  #sidebar {
    visibility: hidden;
    background-color: #25263b;
    color: #ffffff;
  }

  #sidebar.e-sidebar {
    visibility: visible;
  }

  .collapse {

    .icon-container {
      height: 3rem;
      display: flex;
      align-items: center;

      .icon {
        padding-left: 1.5rem;
        padding-right: 1rem;
      }
    }

    .icon-container:hover {
      background-color: #272f51;

      .icon {
        color: #6499ff;
      }
    }
  }
}
