<section class="shell">
  <ejs-sidebar id="sidebar" #sidebar [enableDock]='enableDock' [width]='width' [dockSize]='dockSize'>
    <app-side-bar></app-side-bar>

    <section class="collapse">
      <div class="icon-container">
        <i-feather name="sidebar" class="icon" (click)="toggleClick()"></i-feather>
        <span>Collapse Sidebar</span>
      </div>
    </section>
  </ejs-sidebar>
  <section id="main">
    <div class="header">
      Header here
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
