<section class="shell">
  <ejs-sidebar id="sidebar" #sidebar [enableDock]='enableDock' [width]='width' [dockSize]='dockSize'>
    <section class="logo">
      <span class="e-text">EINSTEIN-II</span>
    </section>

    <section class="menu">
      <section class="sidebar-menu">
        <section>
          <a [routerLink]="['/client']" class="icon-container">
            <i-feather name="home" class="icon"></i-feather>
            <span class="e-text">Dashboard</span>
          </a>
        </section>
        <section>
          <a [routerLink]="['/client/client-management']" class="icon-container">
            <i-feather name="file-text" class="icon"></i-feather>
            <span class="e-text">Client Management</span>
          </a>
        </section>
        <section>
          <a [routerLink]="['/client/time-sheets']" class="icon-container">
            <i-feather name="users" class="icon"></i-feather>
            <span class="e-text">Timesheets</span>
          </a>
        </section>
        <section>
          <a [routerLink]="['/client/invoices']" class="icon-container">
            <i-feather name="dollar-sign" class="icon"></i-feather>
            <span class="e-text">Invoices</span>
          </a>
        </section>
        <section>
          <a [routerLink]="['/client/candidates']" class="icon-container">
            <i-feather name="users" class="icon"></i-feather>
            <span class="e-text">Candidates</span>
          </a>
        </section>
        <section>
          <a [routerLink]="['/client/reports']" class="icon-container">
            <i-feather name="file" class="icon"></i-feather>
            <span class="e-text">Reports</span>
          </a>
        </section>
      </section>
    </section>

    <section class="misc">
      <section class="theme-toggle">
        <ejs-switch class="switch" [checked]="isDarkTheme" (click)="toggleTheme()"></ejs-switch>
        <span class="e-text">{{themeName}}</span>
      </section>

      <section class="edu-faq">
        <a href="" class="icon-container">
          <i-feather name="folder" class="icon"></i-feather>
          <span class="e-text">Education Hub</span>
        </a>

        <a href="" class="icon-container">
          <i-feather name="info" class="icon"></i-feather>
          <span class="e-text">FAQ</span>
        </a>
      </section>
    </section>
    <section class="collapse">
      <div class="icon-container">
        <i-feather name="sidebar" class="icon" (click)="toggleClick()"></i-feather>
        <span class="e-text">Collapse Sidebar</span>
      </div>
    </section>
  </ejs-sidebar>

  <section id="main">
    <div class="header">
      Header here
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
