<div class="grid-wrapper">
  <div class="grid-header">
    <div class="left">
      <div class="group">
        <div class="input-container bootstrap">
          <div class="input-group dropdown candidate-autocomplete">
            <i-feather name="search" class="search-icon"></i-feather>
            <ejs-autocomplete
              [dataSource]="candidatesSuggestions"
              filterType="StartsWith"
              [fields]="candidateNameFields"
              [autofill]="true"
              placeholder="Name or ID"
              sortOrder="Ascending"
              (valueChange)="$event === null ? autoSelectCandidate($event) : null"
              (select)="autoSelectCandidate($event.itemData)"
              (filtering)="filteringCandidates($event)"></ejs-autocomplete>
          </div>
        </div>
      </div>
<!--      TODO: uncomment when sorting is implemented-->
<!--      <button-->
<!--        ejs-button-->
<!--        appHideBeforeSyncfusionLoad-->
<!--        cssClass="e-outline sorting-btn"-->
<!--      >-->
<!--        <app-custom-icon name="sorting" class="sorting-icon"></app-custom-icon>-->
<!--      </button>-->
    </div>
    <div class="right">
      <app-date-week-picker
        [initDates]="weekPeriod"
        [rangeType]="activePeriod"
        [firstDayOfWeek]="orgFirstDayOfWeek"
        [overrideInitDates]="true"
      ></app-date-week-picker>

      <div class="date-periods">
        <div *ngFor="let datePeriod of datesPeriods; trackBy: trackByPeriods"
             [class.active]="datePeriod.id === activePeriod"
             class="date-item"
             (click)="changeActiveDatePeriod(datePeriod.id)"
        >
          {{ datePeriod.text }}
        </div>
      </div>
    </div>
  </div>
  <div #scrollArea class="grid-body">
    <table *ngIf="scheduleData?.items?.length; else emptyTable">
      <thead>
        <tr>
          <th class="table-title candidates-head-cell fixed fixed--left fixed--top">{{ scheduleData?.totalCount || 0 }} Candidates</th>
          <th
            *ngFor="let dateHead of datesRanges; trackBy: trackByDatesRange"
            class="table-title date fixed fixed--top"
          >
            {{ dateHead | date: 'EEEE dd/MM' }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scheduleItem of scheduleData?.items; trackBy: trackByScheduleData" class="table-row">
          <td class="table-cell candidates-cell fixed fixed--left">
            <app-candidate-card
              [candidate]="scheduleItem.candidate"
              (click)="selectCandidate.emit(scheduleItem.candidate)"
            ></app-candidate-card>
          </td>
          <ng-container *ngFor="let dateSlot of datesRanges; trackBy: trackByDatesRange">
            <td
              *ngIf="dateSlot | calendarDateSlot: scheduleItem.schedule as dateSchedule; else emptyCell"
              class="table-cell date-slot"
              [attr.colspan]="dateSchedule.extendedDays"
              [class.selected]="selectedCandidatesSlot.get(scheduleItem.candidate.id)?.dates?.has(dateSlot)"
              (click)="handleCellSingleClick(dateSlot, scheduleItem.candidate, dateSchedule)"
              (dblclick)="handleScheduleCardDblClick(dateSchedule, scheduleItem.candidate)"
            >

              <ng-container *ngIf="!dateSchedule.isDisabled; else disabledCell">
                <app-schedule-card [dateSchedule]="dateSchedule"></app-schedule-card>
              </ng-container>

              <ng-template #disabledCell>
                <ejs-tooltip
                  [content]="dateSchedule | calendarTooltipSlot">
                  <div class="table-cell disabled-cell"></div>
                </ejs-tooltip>
              </ng-template>
            </td>

            <ng-template #emptyCell>
              <td
                class="table-cell date-slot empty-cell"
                [class.selected]="selectedCandidatesSlot.get(scheduleItem.candidate.id)?.dates?.has(dateSlot)"
                (click)="handleCellSingleClick(dateSlot, scheduleItem.candidate)"
                (dblclick)="handleCellDblClick(dateSlot, scheduleItem.candidate)"
              ></td>
            </ng-template>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <ng-template #emptyTable>
      <div class="empty-wrapper">
        <p class="empty-wrapper__text">Search for the candidate or use filter(s).</p>
      </div>
    </ng-template>
  </div>
</div>
