@import "colors";

:host {
  & * {
    box-sizing: border-box;
  }
}

.grid-wrapper {
  width: 100%;
  height: calc(100vh - 230px);
  border: 1px solid $secondary-dark-blue-45;
  border-radius: 12px;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.05));
  background: $white;
}

.grid-header {
  width: 100%;
  max-height: 64px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .left, & .right {
    display: flex;
    align-items: center;
  }

  & .right {
    width: 100%;
    justify-content: end;
    gap: 24px;
  }

  & .candidate-autocomplete {
    width: 224px;
    margin-right: 24px;

    & .e-input-group.e-control-wrapper {
      padding: 0;
    }

    & input.e-input {
      padding-left: 36px !important;
    }

    & .search-icon {
      right: 0;
      left: 10px;
      z-index: 1;
      width: 20px;
      height: 20px;
      display: block;
      color: $secondary-dark-blue-30;
    }
  }

  & .sorting-btn {
    width: 40px;
    margin-right: 8px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .date-periods {
    display: flex;
    align-items: center;

    & .date-item {
      white-space: nowrap;
      border: 1px solid $primary-active-blue-40;
      border-left: none;
      padding: 10px 16px;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      color: $primary-active-blue-10;
      cursor: pointer;

      &:first-child {
        border-left: 1px solid $primary-active-blue-40;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &.active {
        border: 1px solid $primary-active-blue-10;
        background-color: $primary-active-blue-10;
        color: $white;
      }

      &.disabled {
        cursor: default;
        color: $primary-active-blue-80;
        border-color: $primary-active-blue-80;
      }

      &.disabled.active {
        background-color: $primary-active-blue-70;
        border-color: $primary-active-blue-70;
        color: $white;
      }
    }
  }
}

.sorting-icon {
  width: 16px;
  height: 16px;
  margin-left: 0 !important;
}

.grid-body {
  height: calc(100% - 63px);
  overflow: auto;
}

.empty-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: center;
  background: $secondary-dark-blue-45;

  &__text {
    margin-top: 10%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

table {
  width: 100%;
  border-spacing: 0;
}

tr {
  position: relative;
}

th, td {
  border: 1px solid $secondary-dark-blue-45;
  border-top: none;
  border-left: none;
}

.table-title {
  padding: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: $secondary-dark-blue-15;
  text-align: left;
  white-space: nowrap;

  &.date {
    min-width: 112px;
    border-bottom: 1px solid $secondary-dark-blue-45;
    border-left: none;
    border-right: none;
    padding: 0 !important;

    span {
      padding-left: 16px;
      border-left: 1px solid $secondary-dark-blue-45;
    }
  }

  &.candidates-head-cell {
    border-right: none;
    z-index: 30;
    width: 240px;
    min-width: 240px;
    max-width: 240px;

    .e-badge {
      margin: 0 0 2px 8px;
    }
  }
}

.table-row, .table-cell {
  height: 80px;
}

.table-cell {
  padding: 0;

  &.selected {
    border: 1px solid $primary-active-blue;
  }

  &.date-slot {
    cursor: pointer;

    &:hover {
      border: 1px solid $primary-active-blue-10;
    }
  }

  &.candidates-cell {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
  }

  &.disabled-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-dark-blue-40;
    cursor: default;
  }
}

.fixed {
  position: sticky;
  z-index: 10;
  background: $white;

  &--top {
    top: 0;
    z-index: 20;
  }

  &--left {
    left: 0;
  }
}
