@import 'colors';

.grid-table-container {
  height: 800px;
  width: 100%;

  ::ng-deep {
    .ag-header-cell {
      color: $secondary-dark-blue-15;
    }

    .ag-cell {
      &.status-cell {
        padding-left: 0;
        padding-right: 0;

        .e-chip-list {
          justify-content: center;
        }
      }
    }
  }
}
