<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog candidate-dialog"
  [target]="targetElement"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption candidat-status">
            <h3 class="e-card-title candidate-title">
              {{orderCandidate?.lastName}}, {{orderCandidate?.firstName}}
            </h3>
          </div>
          <div class="e-card-content button-container">
            <div class="input-group dropdown bootstrap" *ngIf="showDropdown">
              <ejs-dropdownlist
                [allowFiltering]="true"
                [fields]="optionFields"
                [formControl]="statusesFormControl"
                [dataSource]="nextApplicantStatuses"
                placeholder="Select Status"
                (select)="onStatusChange($event)"
              ></ejs-dropdownlist>
            </div>
            <button ejs-button cssClass="e-primary" (click)="onSave()" *ngIf="showDropdown">
              Save
            </button>
            <!--TODO: create and use ReadOnly Mode for it-->
            <app-tooltip-container [showToolTip]="!actionsAllowed">
              <button ejs-button cssClass="e-outline"
                      [disabled]="!actionsAllowed"
                      (click)="onReject()" *ngIf="showRejectButton">Reject</button>
            </app-tooltip-container>
            <app-tooltip-container [showToolTip]="!actionsAllowed">
              <button ejs-button cssClass="e-outline"
                      [disabled]="!actionsAllowed"
                      (click)="onWithdraw()" *ngIf="showWithdrawButton">Withdraw</button>
            </app-tooltip-container>
            <app-tooltip-container [showToolTip]="!actionsAllowed">
              <button ejs-button cssClass="e-primary" (click)="onApply()"
                      [disabled]="isLocked || !actionsAllowed" *ngIf="showApplyButton">Apply</button>
            </app-tooltip-container>
            <app-tooltip-container [showToolTip]="!actionsAllowed">
              <button ejs-button cssClass="e-primary" (click)="onAccept()"
                      [disabled]="!actionsAllowed"*ngIf="showAcceptButton">Accept</button>
            </app-tooltip-container>
            <div ejs-button cssClass="e-flat close-button custom-button" (click)="closeDialog()">
              <i-feather name="x" class="icon"></i-feather>
            </div>
          </div>
        </div>
      </section>
      <section class="content-container">
        <div class="candidate-info">
          <ejs-accordion #accordionElement expandMode="Single" appOpenFirstAccordion>
            <e-accordionitems>
              <e-accordionitem expanded="true">
                <ng-template #header>
                  <div>Job Details</div>
                </ng-template>
                <ng-template #content>
                  <form [formGroup]="form">
                    <div class="input-container bootstrap">
                      <label class="input-group">Job ID</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="jobId" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Location</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="locationName" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Department</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="department" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Skill</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="skill" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                    <div class="input-container bootstrap" *ngIf="isCandidatePayRateVisible && showCandidatePayRateField">
                      <label>Candidate Pay Rate ($) <span *ngIf="candidatePayRateRequired" class="required">*</span></label>
                      <div class="input-group">
                        <app-numeric-textbox
                          [formGroupInstance]="form"
                          [decimals]="payRateSetting.decimals"
                          [maxLength]="payRateSetting.maxLength"
                          [min]="payRateSetting.min"
                          [format]="payRateSetting.format"
                          controlName="candidatePayRate"
                        ></app-numeric-textbox>
                      </div>
                    </div>
                    <div *ngIf="showClockId" class="input-container bootstrap">
                      <label class="input-group">Clock ID</label>
                      <div class="input-group input-readonly">
                        <!--TODO: create and use ReadOnly Mode for it-->
                        <input appValidateWithMessage formControlName="clockId" class="e-input" type="text" [readonly]="isAgency || isOnboard"/>
                      </div>
                    </div>
                    <!--TODO: create and use ReadOnly Mode for it-->
                    <div *ngIf="showClockId && !orderCandidateJob?.hasAllRequiredOnboardedCredentials" class="input-container bootstrap">
                      <ejs-checkbox [disabled]="isAgency || isOnboard" formControlName="allow" label="Allow deploy w/o credentials"
                                    maxlength="50"></ejs-checkbox>
                    </div>
                    <div class="input-container bootstrap" *ngIf="isRejected">
                      <label>Rejection Reason</label>
                      <div class="input-group input-readonly">
                        <input formControlName="rejectReason" class="e-input" type="text" readonly/>
                      </div>
                    </div>
                  </form>
                </ng-template>
              </e-accordionitem>
              <e-accordionitem>
                <ng-template #header>
                  <div>Historical Events</div>
                </ng-template>
                <ng-template #content>
                  <app-historical-events [organizationId]="orderCandidate?.organizationId!" [candidateJobId]="orderCandidate.candidateJobId" [candidateId]="orderCandidate.candidateId" [isAgency]="isAgency"></app-historical-events>
                </ng-template>
              </e-accordionitem>
            </e-accordionitems>
          </ejs-accordion>
        </div>
        <div class="comments">
          <app-comments [disabled]="showApplyButton" [comments]="comments" [commentContainerId]="orderCandidateJob?.commentContainerId || 0"></app-comments>
        </div>
      </section>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <ng-container *ngIf="showDropdown || showRejectButton || showWithdrawButton || showApplyButton || showAcceptButton">
      <div class="mobile-actions">
        <div class="input-group dropdown bootstrap" *ngIf="showDropdown">
          <ejs-dropdownlist
            placeholder="Select Status"
            [allowFiltering]="true"
            [fields]="optionFields"
            [formControl]="statusesFormControl"
            [dataSource]="nextApplicantStatuses"
            (select)="onStatusChange($event)"
          ></ejs-dropdownlist>
        </div>
        <button ejs-button cssClass="e-primary" (click)="onSave()" *ngIf="showDropdown">
          Save
        </button>
        <!--TODO: create and use ReadOnly Mode for it-->
        <button ejs-button cssClass="e-outline" [disabled]="!actionsAllowed"
          (click)="onReject()" *ngIf="showRejectButton">Reject</button>
        <button ejs-button cssClass="e-outline" [disabled]="!actionsAllowed"
          (click)="onWithdraw()" *ngIf="showWithdrawButton">Withdraw</button>
        <button ejs-button cssClass="e-primary"
          (click)="onApply()" [disabled]="isLocked || !actionsAllowed"
          *ngIf="showApplyButton">Apply</button>
        <button ejs-button cssClass="e-primary" [disabled]="!actionsAllowed"
          (click)="onAccept()" *ngIf="showAcceptButton">Accept</button>
      </div>
      <hr class="mobile" />
    </ng-container>
    <app-dialog-next-previous title="Candidate" [options]="dialogNextPreviousOption"></app-dialog-next-previous>
  </ng-template>
</ejs-dialog>

<app-reject-reason-dialog
  [rejectReasonsList]="rejectReasons"
  [openEvent]="openRejectDialog"
  (applyReject)="applyReject($event)"
  (cancelReject)="cancelRejectCandidate()"
></app-reject-reason-dialog>
