@import 'colors';
@import 'adaptive-response';

.container {
  .header-container {
    .button-container {
      display: flex;
      justify-content: end;

      &>button {
        margin-left: 12px;
      }

      @media (max-width: $tablet-min) {
        button:not(.close-button),
        .dropdown {
          display: none;
        }
      }
    }
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    .candidate-info {
      width: 55%;
      margin-right: 12px;

      .input-container {
        margin-bottom: 12px;

        .input-group.input-readonly {
          .e-input[readonly] {
            background-color: $secondary-dark-blue-50;
            color: $secondary-dark-blue-30;
            border: 1px solid $secondary-dark-blue-40 !important;
          }
        }

        label {
          white-space: nowrap;
        }
      }

      ejs-accordion {
        margin-bottom: 10px;
      }
    }

    .comments {
      border-radius: 8px;
      margin-bottom: 10px;
      width: 45%;
      background-color: $secondary-dark-blue-50;
    }

    @media (max-width: $tablet-min) {
      flex-direction: column;

      .candidate-info {
        width: 100%;
      }

      .comments {
        width: 100%;
      }
    }
  }

  .custom-button {
    .icon {
      padding: 7px 0 9px;
    }
    &:hover {
      border-radius: 8px;
      background-color: $supportive-red-40;
    }

    i-feather {
      cursor: pointer;
      color: $supportive-red;
    }
  }
}

.mobile-actions {
  padding: 12px 16px 8px;
  display: none;

  .dropdown {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 0 !important;

    &:not(:first-child) {
      margin-left: 16px !important;
    }
  }

  @media (max-width: $tablet-min) {
    display: flex;
  }
}

.mobile {
  display: none;

  @media (max-width: $tablet-min) {
    display: block;
  }
}
