@import "colors";

.container {
  .header-container {
    .button-container {
      display: flex;
      gap: 12px;
    }
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    .candidate-info {
      width: 55%;
      margin-right: 12px;


      .input-container {
        margin-bottom: 12px;

        .input-group.input-readonly {
          .e-input[readonly] {
            background-color: $secondary-dark-blue-50;
            color: $secondary-dark-blue-30;
            border: 1px solid $secondary-dark-blue-40 !important;
          }
        }

        label {
          white-space: nowrap;
        }
      }

      ejs-accordion {
        margin-bottom: 10px;
      }
    }

    .comments {
      width: 45%;
      background-color: $secondary-dark-blue-50;
    }
  }

  .custom-button {
    .icon {
      padding: 7px 0 9px;
    }
    &:hover {
      border-radius: 8px;
      background-color: $supportive-red-40;
    }

    i-feather {
      cursor: pointer;
      color: $supportive-red;
    }

  }
}
