@import 'colors';

.orders-pending-for-custom-chart {
  &__title {
    width: 95%;
  }

  &__tooltip {
    text-align: right;
    width: 5%;
  }
}

section {
  display: table;
  width: 100%;
  // margin-top: 10px;
}

section > * {
  display: table-row;
}

header .col {
  display: table-cell;
  background-color: #f8f8f8;
  background-color: var(--ag-header-background-color, #f8f8f8);
  border-bottom: solid 1px;
  border-bottom-color: #babfc7;
  border-bottom-color: var(--ag-border-color, #babfc7);
  text-align: left;
}
section .row .col:last-child {
  text-align: right;
}
.row .col {
  display: table-cell;
  background-color: #fff;
  background-color: var(--ag-background-color, #fff);
  color: #181d1f;
  color: var(--ag-data-color, var(--ag-foreground-color, #181d1f));
  border-width: 1px;
  border-color: #dde2eb;
  border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, #dde2eb));
  border-bottom-style: solid;
  padding: 6px 2px;
}

section span {
  font-weight: 800;
}

section .subcol {
  display: table-cell;
  border-collapse: collapse;
}
.border-top {
  border-top: 1px solid black;
}
.middle-col-header {
  display: table;
  width: 100%;
  padding: 6px 2px;
}
.middle-col {
  display: table;
  width: 100%;
  background-color: #fff;
  background-color: var(--ag-background-color, #fff);
  color: #181d1f;
  color: var(--ag-data-color, var(--ag-foreground-color, #181d1f));
  border-width: 1px;
  border-color: #dde2eb;
  border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, #dde2eb));
  border-bottom-style: solid;
  padding: 6px 2px;
}

.flex-container {
  display: table-row;
}

.flex-container > div {
  width: 40%;
  text-align: left;
  padding-right: 2px;
  display: table-cell;
}
.middle-col-header .flex-container div {
  text-align: left;
  padding-right: 0px;
  display: table-cell;
}

header .middle-cell {
  display: table-caption;
  font-weight: 800;
  line-height: 30px;
  color: #181d1f;
  color: var(--ag-data-color, var(--ag-foreground-color, #181d1f));
  border-width: 1px;
  border-color: #dde2eb;
  border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, #dde2eb));
  border-bottom-style: solid;
  text-align: left;
}
.pos-center {
  text-align: center;
}
.center {
  text-align: center;
  vertical-align: bottom;
}

.w-30 {
  width: 30%;
}

.customStatus {
  // white-space: nowrap;
  color: #4c5673;
}

.table-section {
  display: table-row-group !important;
}

.table-section .row {
  width: 100%;
  display: table-row;
}
.table-section .middle-col {
  border-width: 0px;
}
.app-widget-wrapper__orders_pending_in_custom {
  max-height: calc(100% - 30px);
}
header {
  position: sticky;
  top: 0;
}

.table-section .row ,
.orderStatus {
  padding-left: 12px;
}

.middle-col-header .row.middle-cell:before,
.middle-col-header .customStatus:before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  height: calc(100% - 30%);
  width: 1px;
  top: 15%;
  background: #ecf2ff;
}

.row.middle-cell,
.middle-col-header .customStatus {
  position: relative;
  display: block;
}
.orderStatus .customStatus:before {
  width: 0px;
}
.tableHeader .col {
  background: #fffbfb !important;
}
header.tableHeader .flex-container span {
  padding: 5px 0 !important;
}
.app-widget-wrapper__header {
  padding-bottom: 15px;
}
.status {
  width: 100px;
  height: 20px;
  text-transform: uppercase;
  border-color: transparent;
  color: #fff;
  align-items: center;
  border: 0 solid;
  border-radius: 14px;
  box-shadow: none;
  box-sizing: border-box;
  line-height: 20px;
  background-color: #677089;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  margin: 0px 10px;
  cursor: pointer;
}
