@import 'colors';

.comment {
  border-bottom: 1px solid $secondary-dark-blue-45;
  transition: background-color 1000ms linear;

  &.new {
    background-color: $secondary-dark-blue-10-1;
  }

  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-top: 16px;

    .avatar {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      border-radius: 4px;
      background-color: $secondary-dark-blue-40;
      color: $secondary-dark-blue-15; 
    }
  
    .name {
      width: 100%;
      font-size: 12px;
      color: $black;
      font-weight: 700;
      display: flex;
      align-items: center;
    }
  
    .controls {
      display: flex;
  
      .date {
        font-size: 12px;
        padding: 0 8px;
        color: $secondary-dark-blue-15;
        word-break: normal;
      }
    }
  }

  .comment-body {
    margin-bottom: 16px;
    padding-left: 25px;
    font-size: 12px;
    color: $secondary-dark-blue-15;
    word-break: break-word;
  }

  .icon {
    width: 14px;
    height: 14px;
    cursor: pointer;

    &.visibility {
      color: $secondary-dark-blue-15;
    }
  }
}
.pr-10{
  padding: 0px 11px 0px 0px;
}