<div>
  <ejs-dashboardlayout
    #sfComponent
    (created)="dashboardCreatedEmitter.emit()"
    (dragStart)="dragStartHandler()"
    (dragStop)="dragStopHandler()"
    [cellSpacing]="cellSpacing"
    [columns]="columns"
    id="dashboardLayout"
  >
    <e-panels>
      <e-panel
        *ngFor="let panel of panels; trackBy: trackByHandler"
        [col]="panel.col"
        [id]="panel.id"
        [maxSizeX]="panel.maxSizeX"
        [maxSizeY]="panel.maxSizeY"
        [minSizeX]="panel.minSizeX"
        [minSizeY]="panel.minSizeY"
        [row]="panel.row"
        [sizeX]="panel.sizeX"
        [sizeY]="panel.sizeY"
      >
        <ng-template #content [ngSwitch]="panel.id">
          <app-accumulation-chart *ngSwitchCase="widgetTypeEnum.CANDIDATES_ACTIVE_POSITIONS"
                                    [chartData]="widgetsData?.[widgetTypeEnum.CANDIDATES_ACTIVE_POSITIONS]"
                                    [isLoading]="isLoading" [isDarkTheme]="isDarkTheme"
                                    [description]="widgetDescriptionEnum.CANDIDATES_ACTIVE_POSITIONS"></app-accumulation-chart>
         <app-accumulation-chart *ngSwitchCase="widgetTypeEnum.AVERAGE_DAY_ACTIVE_POSITIONS"
                                  [chartData]="widgetsData?.[widgetTypeEnum.AVERAGE_DAY_ACTIVE_POSITIONS]"
                                  [isLoading]="isLoading" [isDarkTheme]="isDarkTheme"
                                  [description]="widgetDescriptionEnum.AVERAGE_DAY_ACTIVE_POSITIONS" [averageFlag]="true"></app-accumulation-chart>
          <app-accumulation-chart *ngSwitchCase="widgetTypeEnum.CANDIDATES"
                                  [chartData]="widgetsData?.[widgetTypeEnum.CANDIDATES]"
                                  [isLoading]="isLoading" [isDarkTheme]="isDarkTheme"
                                  [description]="UserType==4?widgetDescriptionEnum.AGENCY_CANDIDATES:widgetDescriptionEnum.CANDIDATES"></app-accumulation-chart>
          <app-accumulation-chart *ngSwitchCase="widgetTypeEnum.ACTIVE_POSITIONS"
                                  [chartData]="widgetsData?.[widgetTypeEnum.ACTIVE_POSITIONS]"
                                  [isLoading]="isLoading" [isDarkTheme]="isDarkTheme"
                                  [description]="widgetDescriptionEnum.ACTIVE_POSITIONS"></app-accumulation-chart>
          <app-maps-chart *ngSwitchCase="widgetTypeEnum.APPLICANTS_BY_REGION"
                          [chartData]="widgetsData?.[widgetTypeEnum.APPLICANTS_BY_REGION]"
                          [isLoading]="isLoading" [isDarkTheme]="isDarkTheme"
                          [description]="UserType==4?widgetDescriptionEnum.AGENCY_APPLICANTS_BY_REGION:widgetDescriptionEnum.APPLICANTS_BY_REGION"></app-maps-chart>
          <app-maps-chart *ngSwitchCase="widgetTypeEnum.APPLICANTS_BY_POSITIONS"
                          [chartData]="widgetsData?.[widgetTypeEnum.APPLICANTS_BY_POSITIONS]"
                          [isLoading]="isLoading" [isDarkTheme]="isDarkTheme"
                          [description]="widgetDescriptionEnum.APPLICANTS_BY_POSITIONS"></app-maps-chart>
          <app-line-chart *ngSwitchCase="widgetTypeEnum.POSITIONS_BY_TYPES" [slideBar]="isSideBarDocked$ | async"
                          [chartData]="widgetsData?.[widgetTypeEnum.POSITIONS_BY_TYPES]"
                          [isLoading]="isLoading"
                          [timeSelection]="timeSelection" [isDarkTheme]="isDarkTheme"
                          [description]="UserType==4?widgetDescriptionEnum.AGENCY_POSITIONS_BY_TYPES:widgetDescriptionEnum.POSITIONS_BY_TYPES"></app-line-chart>
          <app-position-chart *ngSwitchCase="widgetTypeEnum.IN_PROGRESS_POSITIONS"  [isLTAOrderEnding]="true"
                              [chartData]="widgetsData?.[widgetTypeEnum.IN_PROGRESS_POSITIONS]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.IN_PROGRESS_POSITIONS"
                              [isDarkTheme]="isDarkTheme" [slideBar]="isSideBarDocked$ | async"></app-position-chart>
          <app-position-chart *ngSwitchCase="widgetTypeEnum.OPEN_POSITIONS"  [isLTAOrderEnding]="true"
                              [chartData]="widgetsData?.[widgetTypeEnum.OPEN_POSITIONS]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.OPEN_POSITIONS"
                              [isDarkTheme]="isDarkTheme" [slideBar]="isSideBarDocked$ | async"></app-position-chart>
          <app-position-chart *ngSwitchCase="widgetTypeEnum.FILLED_POSITIONS"  [isLTAOrderEnding]="true"
                              [chartData]="widgetsData?.[widgetTypeEnum.FILLED_POSITIONS]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.FILLED_POSITIONS"
                              [isDarkTheme]="isDarkTheme" [slideBar]="isSideBarDocked$ | async"></app-position-chart>
          <app-position-chart *ngSwitchCase="widgetTypeEnum.LTA_ORDER_ENDING" [isLTAOrderEnding]="false"
                              [chartData]="widgetsData?.[widgetTypeEnum.LTA_ORDER_ENDING]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.LTA_ORDER_ENDING"
                              [isDarkTheme]="isDarkTheme" [slideBar]="isSideBarDocked$ | async"></app-position-chart>
          <app-candidate-chart *ngSwitchCase="widgetTypeEnum.Candidate_Applied_In_Last_N_Days"  [isCandidateApplied]="true"
                              [chartData]="widgetsData?.[widgetTypeEnum.Candidate_Applied_In_Last_N_Days]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.Candidate_Applied_In_Last_N_Days"
                              [isDarkTheme]="isDarkTheme"></app-candidate-chart>
          <app-org-widget *ngSwitchCase="widgetTypeEnum.ORG"
                              [chartData]="widgetsData?.[widgetTypeEnum.ORG]"
                              [isLoading]="isLoading"
                              [description]="isAgencyUser ? widgetDescriptionEnum.AGENCY_DESCRIPTION : widgetDescriptionEnum.ORG"
                              [isDarkTheme]="isDarkTheme"></app-org-widget>
          <app-agencyposition-widget *ngSwitchCase="isAgencyUser ? widgetTypeEnum.AGENCY_POSITION_COUNT : -1"
                              [chartData]="widgetsData?.[widgetTypeEnum.AGENCY_POSITION_COUNT]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.AGENCY_POSITION_COUNT"
                              [isDarkTheme]="isDarkTheme"></app-agencyposition-widget>
          <app-rn-utilization-widget *ngSwitchCase="widgetTypeEnum.RN_UTILIZATION"
                                [isLoading]="isLoading"
                                [chartData]="widgetsData?.[widgetTypeEnum.RN_UTILIZATION]"
                                [description]="widgetDescriptionEnum.RN_UTILIZATION_DESCRIPTION"
                                [isDarkTheme]="isDarkTheme"></app-rn-utilization-widget>
          <app-already-expired-creds *ngSwitchCase="widgetTypeEnum.ALREADY_EXPIRED_CREDS" class="exp_creds"
                              [chartData]="widgetsData?.[widgetTypeEnum.ALREADY_EXPIRED_CREDS]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.ALREADY_EXPIRED_CREDS"
                              [isDarkTheme]="isDarkTheme"></app-already-expired-creds>
          <app-upcoming-exp-creds *ngSwitchCase="widgetTypeEnum.UPCOMING_EXP_CREDS" class="exp_creds"
                              [chartData]="widgetsData?.[widgetTypeEnum.UPCOMING_EXP_CREDS]"
                              [isLoading]="isLoading"
                              [description]="widgetDescriptionEnum.UPCOMING_EXP_CREDS"
                              [isDarkTheme]="isDarkTheme"></app-upcoming-exp-creds>
          <app-available-employee *ngSwitchCase="widgetTypeEnum.AVAILABLE_EMPLOYEE"
                                [isLoading]="isLoading"
                                [description]="widgetDescriptionEnum.AVAILABLE_EMPLOYEE"
                                [chartData]="widgetsData?.[widgetTypeEnum.AVAILABLE_EMPLOYEE]"
                                [isDarkTheme]="isDarkTheme" ></app-available-employee>
        </ng-template>
      </e-panel>
    </e-panels>
  </ejs-dashboardlayout>
</div>
