<app-page-toolbar>
  <ng-container left>
    <app-tabs-list
      [tabConfig]="tabsConfig"
      (changeTab)="handleChangeTab($event)">
    </app-tabs-list>
  </ng-container>

  <ng-container right>
    <app-search class="search" *ngIf="false"></app-search>
    <button
      ejs-button
      cssClass="e-outline button-filter button--no-wrap"
      (click)="showFilters()">
      Filters <i-feather name="sliders" class="icon"></i-feather>
    </button>
    <app-export-button (optionSelected)="onExportOptionSelect($event)"></app-export-button>
    <button ejs-button class="e-primary"
            [disabled]="!invoiceRecordsTable?.selectedItems?.length"
            (click)="createInvoiceDialog.show()">
      Create Invoice
    </button>
  </ng-container>
</app-page-toolbar>

<section>
  <ng-container [ngSwitch]="selectedTabIdx">
    <ng-container *ngSwitchCase="0">
      <app-invoice-records-table [tableData]="invoiceRecordsData$ | async"
                                 [config]="tableConfig"
                                 #invoiceRecordsTable
      ></app-invoice-records-table>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <app-all-invoices-table
        #allInvoicesTable
        [tableData]="allInvoices"
        (rowSelectedData)="handleRowSelected($event)">
      </app-all-invoices-table>
    </ng-container>
  </ng-container>
</section>

<app-invoice-record-dialog #invoiceRecordDialog></app-invoice-record-dialog>

<ejs-dialog
        #createInvoiceDialog
        cssClass="dialog filter"
        [width]="470"
        [visible]="false"
        [isModal]="true"
        [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <form class="create-invoice-dialog-content">
      <div class="title">
        <h2>Create Invoice</h2>

        <div class="spacer"></div>

        <button ejs-button class="e-outline" (click)="createInvoiceDialog.hide()" type="button">Cancel</button>
        <button ejs-button class="e-primary"
                type="submit"
                (click)="$event.preventDefault();"
        >
          Create
        </button>
      </div>

      <div class="dropdown-container bootstrap">
        <label>Group Invoice by</label>
        <ejs-dropdownlist [dataSource]="invoicesGroupByOptions"
                          [value]="invoicesGroupByOptions[0].text"
                          [fields]="fieldValues" (select)="onInvoiceGrouping($event)" #groupBy></ejs-dropdownlist>
      </div>
    </form>
  </ng-template>
</ejs-dialog>

<app-invoice-detail-container
  [currentSelectedRowIndex]="currentSelectedTableRowIndex | async"
  [maxRowIndex]="allInvoices?.items?.length || 0"
  (nextPreviousOrderEvent)="onNextPreviousOrderEvent($event)"
  (updateTable)="handleUpdateTable()"
></app-invoice-detail-container>
