@import '../../../../styles/variables/colors';

.tab-navigation {
  &.e-badge {
    margin-left: 0.3rem;
  }
}

.create-invoice-dialog-content {
  padding: 25px 24px;

  .title {
    display: flex;
    align-items: center;
  }

  label {
    margin-bottom: 4px;
  }

  .spacer {
    flex-grow: 1;
  }

  button[type="submit"] {
    margin-left: 8px;
  }
}
