<app-page-toolbar>
  <ng-container left>
    <app-tabs-list [tabConfig]="tabsConfig"></app-tabs-list>
  </ng-container>

  <ng-container right>
    <app-search class="search" *ngIf="false"></app-search>
    <button
      ejs-button
      cssClass="e-outline button-filter button--no-wrap"
      (click)="showFilters()">
      Filters <i-feather name="sliders" class="icon"></i-feather>
    </button>
    <app-export-button (optionSelected)="onExportOptionSelect($event)"></app-export-button>
    <button ejs-button class="e-primary" (click)="createInvoiceDialog.show()">Create Invoice</button>
  </ng-container>
</app-page-toolbar>

<section>
  <app-invoice-records-table [tableData]="invoicesData$ | async" [config]="tableConfig"></app-invoice-records-table>
</section>

<ejs-dialog
        #createInvoiceDialog
        cssClass="dialog filter"
        [width]="470"
        [visible]="false"
        [isModal]="true"
        [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <form class="create-invoice-dialog-content">
      <div class="title">
        <h2>Add Invoice Segment</h2>

        <div class="spacer"></div>

        <button ejs-button class="e-outline" (click)="createInvoiceDialog.hide()">Cancel</button>
        <button ejs-button class="e-primary" type="submit" (click)="createInvoiceDialog.hide()">Create</button>
      </div>

      <div class="dropdown-container bootstrap">
        <label>Day</label>
        <ejs-dropdownlist
                title="Group by choice"
                [fields]="{}"
                [dataSource]="[]">
        </ejs-dropdownlist>

        <div class="form-row">
          <div class="mr-12">
            <label>Time In</label>
            <ejs-timepicker
                    placeholder="HH:MM"
                    format="hh:mm a"
                    [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                    [enableMask]="true"
                    maskPlaceholder="HH:MM">
            </ejs-timepicker>
          </div>

          <div>
            <label>Time Out</label>
            <ejs-timepicker
                    placeholder="HH:MM"
                    format="hh:mm a"
                    [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                    [enableMask]="true"
                    maskPlaceholder="HH:MM">
            </ejs-timepicker>
          </div>
        </div>

        <div class="form-row">
          <div class="mr-12">
            <label>Cost center <span class="required"></span></label>
            <ejs-dropdownlist
                    title="Group by choice"
                    [fields]="{}"
                    [dataSource]="[]">
            </ejs-dropdownlist>
          </div>

          <div>
            <label>Category <span class="required"></span></label>
            <ejs-dropdownlist
                    title="Group by choice"
                    [fields]="{}"
                    [dataSource]="[]">
            </ejs-dropdownlist>
          </div>
        </div>

        </div>
    </form>
  </ng-template>
</ejs-dialog>
