@import 'colors';
@import 'adaptive-response';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .align-right {
      text-align: right;
    }

    .ag-cell {
      .ag-cell-wrapper .ag-selection-checkbox {
        margin-right: 20px;
      }

      &.expansion-toggle-icons-order-1 {
        .ag-group-contracted,
        .ag-group-expanded {
          order: 1;
          margin-left: 25px;

          .ag-icon {
            color: $primary-active-blue-10;
            font-weight: 700;
          }
        }
      }
    }

    .multi-line-header {
      .ag-header-cell-text {
        white-space: normal;
      }
    }

    .app-grid {
      .ag-header-cell-text {
        font-weight: 600;
        color: $secondary-dark-blue-15;
      }
    }

    .inactive {
      .ag-center-cols-viewport {
        background: $secondary-dark-blue-45;
      }
    }

    app-attachments-list {
      height: 100%;

      .attachment {
        padding-bottom: 4px;
      }
    }
  }
}
.invoices-page-toolbar{
  ::ng-deep{
    .left-content{
      max-width: 40% !important;
    }
  }
}

.tab-navigation {
  &.e-badge {
    margin-left: 0.3rem;
  }
}

.invoices-table-container {
  flex-grow: 1;
  padding-bottom: 25px;
}

.create-invoice-dialog-content {
  padding: 25px 24px;

  .title {
    display: flex;
    align-items: center;
  }

  label {
    margin-bottom: 4px;
  }

  .spacer {
    flex-grow: 1;
  }

  button[type='submit'] {
    margin-left: 8px;
  }
}

.buttons-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 12px;

  .group-invoices-overlay {
    position: absolute;
    left: 50px;
    z-index: 10;

    top: 45px;
    right: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 28px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;

    &.hidden {
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .e-list-template {
      border: none;
    }

    .e-list-item {
      padding: 14px;
      display: flex;
      align-items: center;

      .group-option-name {
        padding-right: 25px;
        flex-grow: 1;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.015em;
        color: $black;
      }
    }
  }
}

.invoices-split-button {
  .main-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 1px;
    min-width: 225px;
  }

  .dropdown-button {
    padding: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    i-feather {
      margin-left: 0;
      font-weight: 700;
    }
  }
}

::ng-deep {
  .invoices-table-container {
    .ag-row {
      .disabled-checkbox {
        .ag-selection-checkbox {
          opacity: 0.5;
          pointer-events: none;

          .ag-checkbox {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }
    }
  }
}

.relative {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tooltip [disabled] {
  pointer-events: none;
}

.buttons-group,
.buttons-container {
  display: flex;
  column-gap: 12px;
}

@media #{$max-mobile} {
  .tabs {
    position: fixed;
    background: #f6f6f6;
    z-index: 100;
    margin-top: -19px;
    padding: 20px 25px 0;
    width: 100vw !important;
    margin-left: -25px;
  }
  .bootstrap,
  .top-margin {
    margin-top: 42px;
  }
  .bootstrap {
    margin-bottom: 12px;
  }
}

.top-margin {
  margin-left: 0;
}


@media (max-width: 480px) {
  .bootstrap,
  .top-margin {
    margin-top: 54px;
  }
}

.menu-mobile {
  display: none !important;
}

@media (max-width: 670px) {
  .buttons-group {
    flex-direction: column;
    .e-tooltip {
      margin-top: 12px;
      margin-left: 0;
    }
  }
}
