<div class="profile-uploads-container">
  <h3>Uploads</h3>

  <table>
    <tr *ngFor="let item of uploads">
      <td class="file-icon">
        <i-feather name="file-text" class="icon"></i-feather>
      </td>
      <td class="file-name">{{item.name}}</td>
      <td class="upload-icon">
        <!--      TODO: Change icon-->
        <i-feather name="upload" class="icon"></i-feather>
      </td>
      <td class="delete-icon">
        <i-feather name="trash-2" class="icon"></i-feather>
      </td>
    </tr>
  </table>

</div>
