@import 'colors';
@import 'mixins';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

h3 {
  padding: 0 16px 10px 14px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: $black;
}

.uploads-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 16px 0 14px;

  .attachment {
    display: flex;
    align-items: center;
    padding-bottom: 8px;

    .file-icon {
      flex-shrink: 0;
    }

    .file-icon, .file-name {
      color: $primary-active-blue-10;
      cursor: pointer;
    }

    .file-name {
      padding-left: 10px;

      @include with-ellipsis();
    }

    .delete-icon {
      display: flex;
      margin-left: auto;

      i-feather {
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }
}
