@import 'colors';
@import 'mixins';

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 6px;

  .title {
    @include dialog-title;
  }

  .controls {
    display: flex;
    gap: 28px;
    align-items: center;

    .close {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      cursor: pointer;

      i-feather {
        color: $primary-active-blue-10;
      }
    }
  }
}

.sidebar-content {
  padding: 24px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .tabs-wrapper {
    display: flex;
    overflow: auto;
    padding: 16px 0;

    .tab {
      min-width: 86px;
      height: 36px;
      padding: 16px;
      margin-right: 9px;
      border-radius: 12px;
      background-color: $white;
      border: 1px solid $secondary-dark-blue-45;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);

      &__title {
        font-size: 14px;
        font-weight: 600;
        color: $secondary-dark-blue-10;
      }

      &__sub-title {
        font-size: 12px;
        color: $secondary-dark-blue-15;
      }

      &:hover {
        cursor: pointer;
      }

      &.selected {
        background-color: $primary-active-blue-10;

        .tab__title, .tab__sub-title {
          color: $white;
        }
      }
    }
  }

  .add-new-schedule {
    margin-bottom: 20px;
    height: 40px;

    .schedule-types {
      display: flex;
      padding: 10px 0;
      gap: 24px;
    }

    .add-btn-container {
      display: flex;
      padding-right: 10px;
      justify-content: flex-end;

      i-feather {
        margin: 0 5px 4px 0;
      }

      .e-outline {
        border: none;

        &:hover {
          border: none;
        }
      }
    }
  }

  .separator {
    height: 1px;
    background-color: $secondary-dark-blue-45;
    margin: 0 0 28px 0;
  }

  .form-container {
    .validation-icon {
      display: none !important;
    }
  }

  .input-container .input-group.input-readonly {
    .e-input[readonly] {
      background-color: $secondary-dark-blue-50;
      color: $secondary-dark-blue-30;
      border: 1px solid $secondary-dark-blue-40 !important;
    }
  }
}

.sidebar-footer {
  display: flex;
  padding: 24px;
  border-top: 1px solid $secondary-dark-blue-45;

  .checkbox-container {
    padding: 10px 0;
    margin-right: 34px;
  }

  .remove-schedule-wrapper {
    flex-grow: 1;
  }

  .remove-schedule {
    width: 100%;
    color: $supportive-red !important;
    border-color: $supportive-red;

    &:hover:not([disabled]) {
      background-color: unset !important;
      border-color: $supportive-red-20 !important;
      color: $supportive-red-20 !important;;
    }
  }
}

.scheduled-availability-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours";
}

.custom-scheduled-availability-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
}

.scheduled-unavailability-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours"
    "reason reason reason reason";
}

.custom-scheduled-unavailability-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
    "reason reason reason reason";
}

.scheduled-shift-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap"
    "region region region region"
    "location location location location"
    "department department department department"
    "skill skill skill skill";
}

.custom-scheduled-shift-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap"
    "region region region region"
    "location location location location"
    "department department department department"
    "skill skill skill skill";
}

.new-shift-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap";
}

.custom-new-shift-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap";
}

.switch-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "toggle1 toggle2 toggle3 toggle4 toggle5"
    "meal meal meal meal meal";
  grid-area: switch-wrap;
}

.e-switch-wrapper.e-wrapper {
  margin-right: 8px;
}

.date {
  grid-area: date;
}

.reason {
  grid-area: reason;
}

.shift {
  grid-area: shift;
}

.startTime {
  grid-area: startTime;
}

.endTime {
  grid-area: endTime;
}

.hours {
  grid-area: hours;
}

.region {
  grid-area: region;
}

.location {
  grid-area: location;
}

.department {
  grid-area: department;
}

.skill {
  grid-area: skill;
}

::ng-deep {
  label {
    margin-bottom: 0 !important;
  }

  .tooltip-container {
    width: 100%;
  }
}
