<div class="sidebar-container" *ngIf="scheduledItem">

  <div class="sidebar-header">
    <h3 class="title">{{scheduledItem.candidate.lastName}}, {{scheduledItem.candidate.firstName}}</h3>
    <div class="controls">
      <app-tooltip-container [showToolTip]="!isCreateMode && !hasEditPermissions">
        <button
          [disabled]="!isCreateMode && !hasEditPermissions"
          (click)="saveSchedule()"
          [isPrimary]="true"
          ejs-button>
          Save
        </button>
      </app-tooltip-container>
      <button class="close" (click)="closeSchedule()">
        <i-feather name="x" class="icon"></i-feather>
      </button>
    </div>
  </div>

  <div class="sidebar-content">
    <div #tabs class="tabs-wrapper" *ngIf="selectedDaySchedule">
      <div
        class="tab"
        *ngFor="let tab of shiftTabs; let tabIndex = index; trackBy: trackByTabs"
        [class.selected]="selectedDayScheduleIndex === tabIndex"
        (click)="changeTab(tabIndex)"
      >
        <div class="tab__title">{{tab.title}}</div>
        <div class="tab__sub-title">{{tab.subTitle}}</div>
      </div>
    </div>
    <div class="add-new-schedule">
      <div *ngIf="isCreateMode" class="input-container schedule-types">
        <ng-container *ngFor="let type of scheduleTypes.source">
          <div class="input-group radio">
            <app-tooltip-container [showToolTip]="type.disabled">
              <ejs-radiobutton
                (change)="changeScheduleType($event.value)"
                [formControl]="scheduleTypesControl"
                [label]="type.label"
                [value]="type.value"
                [name]="type.name"
                [disabled]="type.disabled"
              ></ejs-radiobutton>
            </app-tooltip-container>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!isCreateMode" class="add-btn-container">
        <app-tooltip-container [showToolTip]="scheduleItemType === undefined">
          <button
            ejs-button
            cssClass="e-outline"
            [disabled]="scheduleItemType === undefined"
            (click)="addNewSchedule()"
          >
            <i-feather name="plus" class="icon"></i-feather>
            <span>Add Schedule</span>
          </button>
        </app-tooltip-container>
      </div>
    </div>
    <div class="separator"></div>
    <div *ngIf="showLockedMessage" class="locked-message">
      <i-feather name="lock" class="icon"></i-feather>
      <span>Locked {{selectedDaySchedule?.scheduleType}}</span>
    </div>
    <div class="form-container" *ngIf="scheduleForm">
      <form [formGroup]="scheduleForm" [class]="scheduleFormConfig.formClass">
        <ng-container *ngFor="let control of scheduleFormConfig.formFields">
          <ng-container [ngSwitch]="control.type">
            <ng-template [ngSwitchCase]="FieldTypes.Toggle">
              <div class="switch-wrap">
                <div *ngIf="control.show" class="input-group" [ngStyle]="{'grid-area': control.gridAreaName}">
                  <ejs-switch class="switch" [formControlName]="control.field" [disabled]="!!control.readonly"></ejs-switch>
                  <label class="switch-label">{{control.title}}</label>
                </div>
              </div>
            </ng-template>
            <ng-template [ngSwitchCase]="FieldTypes.Calendar">
              <app-datepicker
                class="input-container bootstrap"
                [label]="control.title"
                [required]="control.required"
                [controlName]="control.field"
                [min]="datePickerLimitations.minDate"
                [max]="datePickerLimitations.maxDate"
                [formGroupInstance]="scheduleForm"
                [disabled]="!!control.readonly"
              ></app-datepicker>
            </ng-template>
            <ng-template [ngSwitchCase]="FieldTypes.Input">
              <div class="input-container bootstrap"  [ngStyle]="{'grid-area': control.gridAreaName}">
                <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span></label>
                <div class="input-group" [ngClass]="{'input-readonly': control.readonly}">
                  <input
                    class="e-input"
                    [name]="control.field"
                    [readonly]="control.readonly"
                    [formControlName]="control.field"
                  />
                </div>
              </div>
            </ng-template>
            <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
              <div class="input-container bootstrap" [ngStyle]="{'grid-area': control.gridAreaName}">
                <label [for]="control.field">
                  {{control.title}}
                  <span class="required" *ngIf="control.required">*</span>
                </label>
                <div class="input-group dropdown" *ngIf="control.sourceKey">
                  <ejs-dropdownlist
                    [dataSource]="scheduleFormSourcesMap[control.sourceKey]"
                    [fields]="dropDownFields"
                    [enabled]="!control.readonly"
                    [formControlName]="control.field">
                  </ejs-dropdownlist>
                </div>
              </div>
            </ng-template>
            <ng-template [ngSwitchCase]="FieldTypes.Time">
              <div
                class="input-container bootstrap"
                [ngStyle]="{'grid-area': control.gridAreaName, 'display': control.show ? 'block' : 'none'}">
                <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span>
                </label>
                <div class="input-group">
                  <ejs-timepicker
                    (change)="changeTimeControls($event, control.field)"
                    placeholder="HH:MM"
                    [formControlName]="control.field"
                    format="HH:mm"
                    [enabled]="!control.readonly"
                    [showClearButton]="false"
                    [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                    [enableMask]="true"
                    [step]="15"
                    maskPlaceholder="HH:MM">
                  </ejs-timepicker>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
      </form>
    </div>
  </div>

  <div *ngIf="!isCreateMode" class="sidebar-footer">
    <div class="checkbox-container bootstrap" *ngIf="selectedDaySchedule?.scheduleType === scheduleType.Book">
      <ejs-checkbox
        [disabled]="!hasEditPermissions"
        [formControl]="createPerDiemOrderControl"
        label="Create Per Diem Order"
      ></ejs-checkbox>
    </div>
    <app-tooltip-container class="remove-schedule-wrapper" [showToolTip]="!hasEditPermissions">
      <button
        *ngIf="selectedDaySchedule"
        [disabled]="!hasEditPermissions"
        (click)="deleteSchedule()"
        cssClass="e-outline remove-schedule"
        ejs-button>
        Remove {{ removeButtonTitleMap[selectedDaySchedule.scheduleType] }}
      </button>
    </app-tooltip-container>
  </div>
</div>

<app-replacement-order-dialog
  *ngIf="replacementOrderDialogOpen"
  [replacementOrderData]="replacementOrderDialogData"
  (destroyDialog)="closeReplacementOrderDialog()"
  (createOrder)="saveNewEvent($event)"
></app-replacement-order-dialog>
