@import 'colors';
@import 'mixins';

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 16px;

  .title {
    @include dialog-title;
  }

  .controls {
    display: flex;
    gap: 28px;
    align-items: center;

    .close {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      cursor: pointer;

      i-feather {
        color: $primary-active-blue-10;
      }
    }
  }
}

.sidebar-items-selector {
  padding: 24px 24px 0;

  .sidebar-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .tabs-wrapper {
      display: flex;
      overflow: auto;
      padding-bottom: 14px;
      margin-bottom: 2px;

      .tab {
        min-width: 86px;
        height: 36px;
        padding: 16px;
        margin-right: 9px;
        border-radius: 12px;
        background-color: $white;
        border: 1px solid $secondary-dark-blue-45;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);

        &:last-child {
          margin-right: 0;
        }

        &__title {
          font-size: 14px;
          font-weight: 600;
          color: $secondary-dark-blue-10;
        }

        &__sub-title {
          font-size: 12px;
          color: $secondary-dark-blue-15;
        }

        &:hover {
          cursor: pointer;
        }

        &.selected {
          background-color: $primary-active-blue-10;

          .tab__title, .tab__sub-title {
            color: $white;
          }
        }
      }
    }

    .add-btn-container {
      display: flex;
      align-items: center;

      button {
        width: 40px;
        padding: 8px;
      }

      i-feather {
        margin: 0;
      }
    }
  }

  .schedule-types {
    display: flex;
    padding: 12px 0 16px;
    gap: 24px;
  }
}

.separator {
  height: 1px;
  background-color: $secondary-dark-blue-45;
  margin: 0 -24px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $secondary-dark-blue-45;
  padding: 16px 24px 24px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .locked-message {
    width: 100%;
    margin-bottom: 20px;
    line-height: 37px;
    border-radius: 8px;
    font-size: 14px;
    color: $roux;
    background-color: $sheer-peach;

    i-feather {
      width: 14px;
      height: 14px;
      margin: 0 14px;
      color: $supportive-orange;
    }
  }

  .form-container {
    .validation-icon {
      display: none !important;
    }
  }

  .input-container .input-group.input-readonly {
    .e-input[readonly] {
      background-color: $secondary-dark-blue-50;
      color: $secondary-dark-blue-30;
      border: 1px solid $secondary-dark-blue-40 !important;
    }
  }

  .position-counter {
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: $white;
    background-color: $primary-active-blue-10;
    border-radius: 50%;
    padding: 0 4px;
    margin-left: 6px;
  }

  .availability-open-position {
    &__title {
      font-size: 16px;
      font-weight: 700;
      color: $secondary-dark-blue-15;
      margin: 16px 0;
    }
  }

  .schedule-open-position-wrapper {
    margin: 8px -24px -24px;
    flex-grow: 1;
    color: $secondary-dark-blue-15;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    .position-title {
      padding: 8px 24px;
    }

    app-schedule-open-positions {
      flex-grow: 1;
    }

    ::ng-deep {
      .open-position-wrapper {
        .title {
          display: none;
        }

        .content {
          padding-top: 16px !important;
          margin: 0;
          border: none;

          .position-item {
            &__title {
              display: none;
            }

            .card-container {
              margin-top: 0 !important;
            }
          }
        }
      }
    }
  }
}

.sidebar-footer {
  display: flex;
  padding: 24px;
  border-top: 1px solid $secondary-dark-blue-45;

  .checkbox-container {
    padding: 10px 0;
    margin-right: 34px;
  }

  .remove-schedule-wrapper {
    flex-grow: 1;
  }

  .remove-schedule {
    width: 100%;
    color: $supportive-red !important;
    border-color: $supportive-red;

    &:hover:not([disabled]) {
      background-color: unset !important;
      border-color: $supportive-red-20 !important;
      color: $supportive-red-20 !important;;
    }
  }
}

.new-availability-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours";
}

.custom-new-availability-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
}

.scheduled-availability-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1.9fr 1fr 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours"
    "region region region region"
    "location location location location"
    "department department department department"
    "skill skill skill skill";
}

.custom-scheduled-availability-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
    "region region region region"
    "location location location location"
    "department department department department"
    "skill skill skill skill";
}

.scheduled-unavailability-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours"
    "reason reason reason reason";
}

.custom-scheduled-unavailability-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
    "reason reason reason reason";
}

.scheduled-shift-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap"
    "region region region region"
    "location location location location"
    "department department department department"
    "skill skill skill skill";
}

.custom-scheduled-shift-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap"
    "region region region region"
    "location location location location"
    "department department department department"
    "skill skill skill skill";
}

.new-shift-form {
  display: grid;
  grid-template-columns: 3.2fr 2.2fr 2.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date date date"
    "shift shift shift hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap";
}

.custom-new-shift-form {
  grid-template-areas:
    "date date date date"
    "shift startTime endTime hours"
    "switch-wrap switch-wrap switch-wrap switch-wrap";
}

.switch-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "toggle1 toggle2 toggle3 toggle4 toggle5"
    "meal meal meal meal meal";
  grid-area: switch-wrap;
}

.e-switch-wrapper.e-wrapper {
  margin-right: 8px;
}

.date {
  grid-area: date;
}

.reason {
  grid-area: reason;
}

.shift {
  grid-area: shift;
}

.startTime {
  grid-area: startTime;
}

.endTime {
  grid-area: endTime;
}

.hours {
  grid-area: hours;
}

.region {
  grid-area: region;
}

.location {
  grid-area: location;
}

.department {
  grid-area: department;
}

.skill {
  grid-area: skill;
}

::ng-deep {
  label {
    margin-bottom: 0 !important;
  }

  .tooltip-container {
    width: 100%;
  }
}
