<ejs-dialog
  #destroyableDialog
  cssClass="dialog"
  [width]="744"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
  [target]="targetElement"
>
  <ng-template #content>
    <div class="dialog-container">
      <div class="dialog-header">
        <h3 class="title">{{scheduledItem.candidate.lastName}}, {{scheduledItem.candidate.firstName}}</h3>
        <div class="controls">
          <button ejs-button cssClass="e-outline button-cancel" (click)="closeScheduleDialog()">Cancel</button>
          <button
            (click)="saveSchedule()"
            [isPrimary]="true"
            ejs-button>
            Save
          </button>
        </div>
      </div>

      <ejs-tab
        class="stepper"
        (selected)="handleTabChange($event)"
        (created)="setInitData()">
        <e-tabitems>
          <e-tabitem *ngFor="let tab of shiftTabs; trackBy: trackByTabs">
            <ng-template #headerText>
              <div class="e-tab-header">
                <div class="stepper-header">
                  <div class="stepper-title">{{tab.title}}</div>
                  <div class="stepper-sub-title">{{tab.subTitle}}</div>
                </div>
              </div>
            </ng-template>
            <ng-template #content></ng-template>
          </e-tabitem>
        </e-tabitems>
      </ejs-tab>
      <div class="add-new-schedule">
        <div *ngIf="createNewSchedule.mode" class="input-container schedule-types">
          <ng-container *ngFor="let type of scheduleTypes">
            <div class="input-group radio">
              <app-tooltip-container [showToolTip]="type.disabled">
                <ejs-radiobutton
                  (change)="changeScheduleType($event)"
                  [formControl]="scheduleTypesControl"
                  [label]="type.label"
                  [value]="type.value"
                  [name]="type.name"
                  [disabled]="type.disabled"
                ></ejs-radiobutton>
              </app-tooltip-container>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!createNewSchedule.mode" class="add-btn-container">
          <button
            ejs-button
            cssClass="e-outline"
            (click)="addNewSchedule()"
          >
            <i-feather name="plus" class="icon"></i-feather>
            <span>Add Schedule</span>
          </button>
        </div>
      </div>
      <div class="separator"></div>
      <div class="form-container" *ngIf="scheduleForm">
        <form [formGroup]="scheduleForm" [class]="scheduleFormConfig.formClass">
          <ng-container *ngFor="let control of scheduleFormConfig.formFields">
            <ng-container [ngSwitch]="control.type">
              <ng-template [ngSwitchCase]="FieldTypes.Calendar">
                <app-datepicker
                  class="input-container bootstrap"
                  [label]="control.title"
                  [required]="control.required"
                  [controlName]="control.field"
                  [min]="datePickerLimitations.minDate"
                  [max]="datePickerLimitations.maxDate"
                  [formGroupInstance]="scheduleForm"
                  [disabled]="!!control.readonly"
                ></app-datepicker>
              </ng-template>
              <ng-template [ngSwitchCase]="FieldTypes.Input">
                <div class="input-container bootstrap"  [ngStyle]="{'grid-area': control.gridAreaName}">
                  <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span></label>
                  <div class="input-group" [ngClass]="{'input-readonly': control.readonly}">
                    <input
                      class="e-input"
                      [name]="control.field"
                      [readonly]="control.readonly"
                      [formControlName]="control.field"
                    />
                  </div>
                </div>
              </ng-template>
              <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
                <div class="input-container bootstrap" [ngStyle]="{'grid-area': control.gridAreaName}">
                  <label [for]="control.field">
                    {{control.title}}
                    <span class="required" *ngIf="control.required">*</span>
                  </label>
                  <div class="input-group dropdown" *ngIf="control.sourceKey">
                    <ejs-dropdownlist
                      [dataSource]="scheduleFormSourcesMap[control.sourceKey]"
                      [fields]="dropDownFields"
                      [enabled]="!control.readonly"
                      [formControlName]="control.field">
                    </ejs-dropdownlist>
                  </div>
                </div>
              </ng-template>
              <ng-template [ngSwitchCase]="FieldTypes.Time">
                <div class="input-container bootstrap" [ngStyle]="{'grid-area': control.gridAreaName}">
                  <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <ejs-timepicker
                      (change)="changeTimeControls($event, control.field)"
                      placeholder="HH:MM"
                      [formControlName]="control.field"
                      format="HH:mm"
                      [showClearButton]="false"
                      [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
                      [enableMask]="true"
                      [step]="15"
                      maskPlaceholder="HH:MM">
                    </ejs-timepicker>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <div *ngIf="!createNewSchedule.mode" class="schedule-footer">
      <div class="checkbox-container bootstrap" *ngIf="selectedDaySchedule?.scheduleType === scheduleType.Book">
        <ejs-checkbox [formControl]="createPerDiemOrderControl" label="Create Per Diem Order"></ejs-checkbox>
      </div>
      <button
        (click)="deleteSchedule()"
        cssClass="e-outline remove-schedule"
        ejs-button>
        Remove Schedule
      </button>
    </div>
  </ng-template>
</ejs-dialog>

<app-replacement-order-dialog
  *ngIf="replacementOrderDialogOpen"
  [replacementOrderData]="replacementOrderDialogData"
  (destroyDialog)="closeReplacementOrderDialog()"
  (createOrder)="saveNewBooking($event)"
></app-replacement-order-dialog>
