<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog"
  [width]="width"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{header}}</h3>
          </div>
          <div  class="e-card-content">
            <button
              ejs-button
              cssClass="e-outline button-cancel"
              id="cancelFormButton"
              (click)="onFormCancelClick()">Cancel</button>
            <button
              ejs-button
              id="addFormButton"
              type="submit"
              [isPrimary]="true"
              [disabled]="disableSaveButton"
              (click)="onFormSaveClick()">{{ saveButtonLabel }}</button>
          </div>
        </div>
      </section>
      <ng-content></ng-content>
    </section>
  </ng-template>
</ejs-dialog>
