<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog responsive"
  [width]="width"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{header}}</h3>
          </div>
          <ng-container *ngIf="!(isMobile$ | async)" [ngTemplateOutlet]="actionButtons"></ng-container>
        </div>
      </section>
      <ng-content></ng-content>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <ng-container *ngIf="(isMobile$ | async)" [ngTemplateOutlet]="actionButtons"></ng-container>
  </ng-template>
</ejs-dialog>


<ng-template #actionButtons>
  <div class="e-card-content">
    <button
      ejs-button
      cssClass="e-outline button-cancel action-btn"
      id="cancelFormButton"
      (click)="onFormCancelClick()"
    >Cancel</button>
    <button
      ejs-button
      id="addFormButton"
      type="submit"
      cssClass="action-btn"
      [isPrimary]="true"
      [disabled]="disableSaveButton"
      (click)="onFormSaveClick()"
    >{{ saveButtonLabel }}</button>
  </div>
</ng-template>
