@import 'colors';

:host {
  ::ng-deep {
    .ag-group-expanded, .ag-group-contracted {
      margin-right: 35px !important;
      margin-left: 35px;
    }

    .ag-details-row {
      padding: 0 !important;

      .ag-root-wrapper {
        border: none;

        .ag-header {
          border: none;
        }

        .ag-body-viewport {
          .ag-center-cols-container {
            width: unset !important;

            .ag-row {
              background-color: $secondary-dark-blue-50;
            }
          }
        }
      }
    }

    .color-black-bold {
      font-weight: 700;
      font-size: 14px;
      color: $black;
    }

    .align-right {
      text-align: right;
    }

    .invoice-records-attachments-list {
      app-attachments-list {
        height: 100%;
      }
    }
  }
}


