<app-grid
        [class.inactive]="!tableData?.items?.length"
        (gridReadyEmitter)="gridReady($event)"
        (navigateToPageEmitter)="onGoToClick($event)"
        (pageSizeChangeEmitter)="onRowsDropDownChanged($event)"
        (approveEmitter)="bulkApprove($event)"
        (exportEmitter)="bulkExport($event)"
        (gridSelectedRow)="selectedRow($event)"
        (sortChanged)="sortHandler.emit($event)"
        [suppressRowClickSelection]="false"
        [columnDefinitions]="columnDefs"
        [currentPage]="currentPage"
        [isLoading]="isLoading"
        [pageSize]="pageSize"
        [rowData]="tableData?.items"
        [totalRecordsCount]="tableData?.totalCount || 0"
        [changeTableSelectedIndex]="newSelectedIndex"
        [allowBulkSelection]="true"
        [rowSelection]="'multiple'"
        [gridOptions]="gridOptions"
></app-grid>
