@import "colors";
@import "mixins";

.flex-column {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    .department-details {
      display: flex;

      ejs-dropdownlist.e-control {
        span.e-input-group {
          height: 40px !important;
        }
      }

      .region-dropdown {
        margin-right: 12px;
        width: 207px;
      }

      .location-dropdown {
        width: 207px;
      }

      .e-input-group.e-control-wrapper input {
        padding-left: 16px;
        padding-bottom: 7px;
        padding-top: 5px;
      }
    }

    .button-filter {
      margin-left: 12px;
      margin-right: 6px;
    }

    .button-import {
      margin-left: 6px;
      margin-right: 12px;
    }

    .button-export {
      margin-right: 12px;
    }
  }

  .grid-component {
    overflow-y: auto;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.form-container {
  padding-top: 24px;

  .dates-container {
    display: flex;

    .inactive-date {
      margin-right: 12px;
    }
  }

  .dates-message-container {
    margin-bottom: 12px;
  }

  .input-container {
    margin-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }

    ejs-dropdownlist.e-control {
      span.e-input-group {
        height: 40px !important;
      }
    }

    &.calendar {
      width: 198px;

      ejs-datepicker.e-control {
        span.e-input-group {
          height: 40px !important;
        }
      }
    }
  }
}

.toggle-wrapper {
  display: flex;
  align-items: center;

  & span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.text-box-fat textarea.e-input {
  height: 180px !important;
}

.text-box-error {
  color: $supportive-red;
}

::ng-deep {
  .input-container {
    @include toggle;
  }
}

.bulk-section {
  background-color: $primary-active-blue-10;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;

  &__rowscount {
    margin-right: 60px;
    margin-left:31px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #fff
  }
  .edit-button,
  .delete-button {
    color:#fff
  }
}
.gridrightpager{
position:absolute;
right:0;
}
.e-pager{
border-radius: 12px !important;
}