<section class="flex-column">
  <section class="toolbar">
    <section class="department-details bootstrap">
      <ejs-dropdownlist
        id="regionsDropDown"
        class="region-dropdown"
        placeholder="Region"
        [allowFiltering]="true"
        [dataSource]="regions$ | async"
        [fields]="fieldsSettings"
        (change)="onRegionDropDownChanged($event)"
        [value]="defaultValue"
      ></ejs-dropdownlist>
      <ejs-dropdownlist
        id="locationsDropDown"
        class="location-dropdown"
        placeholder="Location"
        [allowFiltering]="true"
        [enabled]="isLocationsDropDownEnabled"
        [dataSource]="locations$ | async"
        [fields]="fieldsSettings"
        (change)="onLocationDropDownChanged($event)"
        [value]="defaultLocationValue"
      ></ejs-dropdownlist>
    </section>
    <section [class.hidden]="!isLoaded">
      <button
        ejs-button
        id="filterButton"
        cssClass="e-outline button-filter"
        (click)="showFilters()">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-pill align-text">{{ filteredItems.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-button
        id="importButton"
        cssClass="e-outline button-import"
        (click)="onImportDataClick()">Import <i-feather name="download" class="icon"></i-feather></button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="exportButton"
        cssClass="e-outline button-export">
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-button
        id="addDepartmentButton"
        [isPrimary]="true"
        (click)="onAddDepartmentClick()">Add Department</button>
    </section>
  </section>

  <ejs-grid class="grid grid-component"
    #grid
    [dataSource]="(departments$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    [enableVirtualization]="false"
    (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)"
    (dataBound)="gridDataBound(grid)"
    [selectionSettings]="selectionSettings"
    (actionBegin)="actionBegin($event)"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditDepartmentClick(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemoveDepartmentClick(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="includeInIRP" headerText="Include in IRP" width=200>
        <ng-template #template let-data>
          <span>{{ data.includeInIRP ? 'Yes' : 'No' }}</span>
        </ng-template>
      </e-column>
      <e-column field="extDepartmentId" headerText="EXT DEPARTMENT ID" width=200></e-column>
      <e-column field="invoiceDepartmentId" headerText="INVOICE DEPARTMENT ID" width=200></e-column>
      <e-column field="departmentName" headerText="DEPARTMENT NAME" width=200></e-column>
      <e-column field="facilityContact" headerText="DEPARTMENT CONTACT" width=200></e-column>
      <e-column field="facilityEmail" headerText="DEPARTMENT EMAIL" width=200></e-column>
      <e-column field="facilityPhoneNo" headerText="DEPARTMENT PHONE NO" [valueAccessor]="formatPhoneNumber" width=200></e-column>
      <e-column field="inactiveDate" headerText="Inactivation Date" width=200>
        <ng-template #template let-data>
          {{ data.inactiveDate | date: 'MM/dd/yyy' : 'UTC' }}
        </ng-template>
      </e-column>
      <e-column field="reactivateDate" headerText="Reactivation Date" width=200>
        <ng-template #template let-data>
          {{ data.reactivateDate | date: 'MM/dd/yyy' : 'UTC' }}
        </ng-template>
      </e-column>
      <e-column field="primarySkillNames" headerText="PRIMARY SKILL" width=200>
        <ng-template #template let-data>
          <app-tooltip-container
            [showToolTip]="data.primarySkills?.length > 1"
            [message]="data?.primarySkillNames | join : ', ' "
          >
            {{ data | singleMultipleSkill :  'primarySkills' : 'primarySkillNames' }}
          </app-tooltip-container>
        </ng-template>
      </e-column>
      <e-column field="secondarySkillNames" headerText="SECONDARY SKILL" width=200>
        <ng-template #template let-data>
          <app-tooltip-container
            [showToolTip]="data.secondarySkills?.length > 1"
            [message]="data?.secondarySkillNames | join : ', '"
          >
            {{ data | singleMultipleSkill :  'secondarySkills' : 'secondarySkillNames' }}
          </app-tooltip-container>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [allowFiltering]="true"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(departments$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="changeTablePagination($event)"
              >
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{(departments$ | async)?.totalCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(departments$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="changeTablePagination($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>


<app-filter-dialog
  [items]="filteredItems"
  [count]="(departments$ | async)?.totalCount"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
  (closeDialogClicked)="onFilterClose()"
>
  <form class="bootstrap" [formGroup]="DepartmentFilterFormGroup">
    <div class="input-container">
      <label>Ext Department ID</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="externalIds"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns['externalIds'].dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Invoice Department ID</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="invoiceIds"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns['invoiceIds'].dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Department Name</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="departmentNames"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns['departmentNames'].dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Department Contact</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="facilityContacts"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns['facilityContacts'].dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Department Email</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="facilityEmails"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns['facilityEmails'].dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div *ngIf="isIRPFlagEnabled && isOrgUseIRPAndVMS" class="input-container">
      <label>Included in IRP</label>
      <div class="input-group multiselect">
        <ejs-dropdownlist
          [fields]="irpFieldsSettings"
          formControlName="includeInIRP"
          [dataSource]="filterColumns['includeInIRP'].dataSource"
          placeholder="All"
        ></ejs-dropdownlist>
      </div>
    </div>
    <div class="input-container calendar">
      <label for="inactiveDate">Inactive date</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          id="inactiveDate"
          class="datepicker"
          [format]="formatDate"
          [placeholder]="placeholderDate"
          [enableMask]="true"
          [maskPlaceholder]="datepickerMask"
          formControlName="inactiveDate"
        >
        </ejs-datepicker>
      </div>
    </div>
  </form>
</app-filter-dialog>


<app-side-dialog
  (formCancelClicked)="onDepartmentFormCancelClick()"
  (formSaveClicked)="onDepartmentFormSaveClick()"
  [header]="dialogHeader + ' Department'"
>
  <form class="form-container bootstrap"
        id="addEditRecordForm"
        [formGroup]="departmentsDetailsFormGroup">
    <div *ngIf="isIRPFlagEnabled && isLocationIRPEnabled && isOrgUseIRPAndVMS">
      <div class="input-container toggle-wrapper">
        <ejs-switch class="toggle"
                    formControlName="includeInIRP"
        ></ejs-switch>
        <span>Include in IRP</span>
      </div>
    </div>
    <div>
      <div class="input-container">
        <label for="extDepartmentId">Ext Department ID <span class="required">*</span></label>
        <div class="input-group">
          <input id="extDepartmentId"
                  class="e-input"
                  type="text"
                  maxlength="50"
                  appValidateWithMessage
                  formControlName="extDepartmentId"/>
        </div>
      </div>
    </div>

    <div *ngIf="isInvoiceDepartmentIdFieldShow">
      <div class="input-container">
        <label for="invoiceDepartmentId">Invoice Department ID <span *ngIf="!isIRPFlagEnabled" class="required">*</span></label>
        <div class="input-group">
          <input id="invoiceDepartmentId"
                  class="e-input"
                  type="text"
                  maxlength="50"
                  appValidateWithMessage
                  formControlName="invoiceDepartmentId"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="departmentName">Department Name <span class="required">*</span></label>
        <div class="input-group">
          <input id="departmentName"
                  class="e-input"
                  type="text"
                  maxlength="50"
                  appValidateWithMessage
                  formControlName="departmentName"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="facilityContact">Department Contact</label>
        <div class="input-group">
          <input
            id="facilityContact"
            class="e-input"
            type="text"
            maxlength="50"
            appValidateWithMessage
            formControlName="facilityContact"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="facilityEmail">Department Email</label>
        <div class="input-group">
          <input
            id="facilityEmail"
            class="e-input"
            type="email"
            appValidateWithMessage
            formControlName="facilityEmail"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="input-container facility-phone">
        <label for="facilityPhoneNumber">Department Phone No</label>
        <div class="input-group">
          <input
            id="facilityPhoneNumber"
            class="e-input facility-phone"
            type="tel"
            maxlength="10"
            appValidateWithMessage
            formControlName="facilityPhoneNo"
          />
        </div>
      </div>
    </div>

    <div *ngIf="isIRPFlagEnabled">
      <div class="input-container">
        <label for="skillDescription">Unit Description</label>
        <ejs-textbox
          name="skillDescription"
          [multiline]="true"
          formControlName="unitDescription"
          class="text-box-fat"
        ></ejs-textbox>
        <span class="text-box-error" *ngIf="departmentsDetailsFormGroup.get('unitDescription')?.errors">
          Unit description cannot be more than 2000 characters.
        </span>
      </div>
    </div>


    <div class="dates-message-container" *ngIf="selectedLocation?.isDeactivated && isEdit">
      <span>
        Department is inactivated due to Location inactivation on {{ maxInactivateDate }} <span *ngIf="minReactivateDate">to {{ minReactivateDate }}</span>
      </span>
    </div>

    <div class="dates-container">
      <div class="input-container calendar inactive-date">
        <label for="inactiveDate">Inactivation Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            #inactivationDatepicker
            id="inactiveDate"
            class="datepicker"
            [format]="formatDate"
            [placeholder]="placeholderDate"
            [enableMask]="true"
            [maskPlaceholder]="datepickerMask"
            [max]="maxInactivateDate"
            appValidateWithMessage
            formControlName="inactiveDate"
          >
          </ejs-datepicker>
        </div>
      </div>
      <div class="input-container calendar">
        <label for="inactiveDate">Reactivation date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            #reactivationDatepicker
            id="reactivateDate"
            class="datepicker"
            [format]="formatDate"
            [placeholder]="placeholderDate"
            [enableMask]="true"
            [maskPlaceholder]="datepickerMask"
            [min]="minReactivateDate"
            appValidateWithMessage
            formControlName="reactivateDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>

    <div *ngIf="areSkillsAvailable">
      <div class="input-container">
        <label>Primary Skill</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="primarySkills"
            placeholder="All"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [fields]="skillFields"
            [dataSource]="primarySkills"
          >
          </ejs-multiselect>
        </div>
      </div>
      <div class="input-container">
        <label>Secondary Skill</label>
        <div class="input-group multiselect">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="secondarySkills"
            placeholder="All"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [fields]="skillFields"
            [dataSource]="secondarySkills"
          >
          </ejs-multiselect>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>

<app-import-departments
  [dialogEvent]="importDialogEvent"
  [isOrgUseIRPAndVMS]="isOrgUseIRPAndVMS"
  [isInvoiceDepartmentIdFieldShow]="isInvoiceDepartmentIdFieldShow"
  (reloadItemsList)="updatePage()">
</app-import-departments>
