<section class="flex-column">
  <section class="toolbar">
    <section class="department-details bootstrap">
      <ejs-dropdownlist
        id="regionsDropDown"
        class="region-dropdown"
        placeholder="Region"
        [dataSource]="regions$ | async"
        [fields]="regionFields"
        (change)="onRegionDropDownChanged($event)"
        [value]="defaultValue"
      ></ejs-dropdownlist>
      <ejs-dropdownlist
        id="locationsDropDown"
        class="location-dropdown"
        placeholder="Location"
        [enabled]="isLocationsDropDownEnabled"
        [dataSource]="locations$ | async"
        [fields]="locationFields"
        (change)="onLocationDropDownChanged($event)"
        [value]="defaultLocationValue"
      ></ejs-dropdownlist>
    </section>
    <section>
      <button
        ejs-button
        id="filterButton"
        cssClass="e-outline button-filter"
        (click)="showFilters()">
        <div class="filter-button-content">
          <span *ngIf="filteredItems.length" class="e-badge e-badge-success e-badge-circle">{{ filteredItems.length }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <button
        ejs-button
        id="importButton"
        cssClass="e-outline button-import"
        (click)="onImportDataClick()">Import <i-feather name="upload" class="icon"></i-feather></button>
      <button
        ejs-dropdownbutton
        [items]="exportOptions"
        (select)="exportSelected($event)"
        id="exportButton"
        cssClass="e-outline button-export">Export <i-feather name="download" class="icon"></i-feather></button>
      <button
        ejs-button
        id="addDepartmentButton"
        [isPrimary]="true"
        (click)="onAddDepartmentClick()">Add Department</button>
    </section>
  </section>

  <ejs-grid class="grid grid-component"
    #grid
    [dataSource]="(departments$ | async)?.items"
    [allowPaging]="allowPaging"
    [pageSettings]="pageSettings"
    [height]="fullScreenGridHeight"
    [rowHeight]="rowHeight"
    [resizeSettings]="resizeSettings"
    [allowSorting]="allowSorting"
    [allowResizing]="allowResizing"
    [enableVirtualization]="true"
    (rowSelected)="rowSelected($event, grid)"
    (rowDeselected)="rowDeselected($event, grid)"
    (dataBound)="gridDataBound(grid)"
    [selectionSettings]="selectionSettings"
    (actionBegin)="actionBegin($event)"
  >
    <e-columns>
      <e-column type="checkbox" [customAttributes]="{ class: 'bootstrap' }" width="50"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditDepartmentClick(data, $event)">
              <span class="edit-button"><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemoveDepartmentClick(data, $event)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="extDepartmentId" headerText="EXT DEPARTMENT ID" width=200></e-column>
      <e-column field="invoiceDepartmentId" headerText="INVOICE DEPARTMENT ID" width=200></e-column>
      <e-column field="departmentName" headerText="DEPARTMENT NAME" width=200></e-column>
      <e-column field="facilityContact" headerText="FACILITY CONTACT" width=200></e-column>
      <e-column field="facilityEmail" headerText="FACILITY EMAIL" width=200></e-column>
      <e-column field="facilityPhoneNo" headerText="FACILITY PHONE NO" [valueAccessor]="formatPhoneNumber" width=200></e-column>
      <e-column field="inactiveDate" headerText="INACTIVE DATE" type="date" format="MM/dd/yyyy" width=200></e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist
                id="rowsPerPage"
                class="dropdown-no-border"
                [dataSource]="rowsPerPageDropDown"
                [(value)]="activeRowsPerPageDropDown"
                (change)="onRowsDropDownChanged()"
              >
              </ejs-dropdownlist>
              <ejs-numerictextbox
                id="goToPage"
                class="numeric-input-no-border"
                format="#"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
                placeholder="Go to:"
                min="1"
                [max]="(departments$ | async)?.totalPages"
                [showSpinButton]="false"
                (change)="onGoToClick($event)"
              >
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager
                id="gridPager"
                #gridPager
                [pageSize]="pageSize"
                [totalRecordsCount]="(departments$ | async)?.totalCount"
                [enablePagerMessage]="false"
                [currentPage]="currentPage"
                (click)="onGoToClick($event)"
              >
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-export-dialog [columns]="columnsToExport" [fileName]="fileName" (cancel)="closeExport()" (export)="export($event)"></app-export-dialog>


<app-filter-dialog [items]="filteredItems" [count]="totalDataRecords" (deleteFilter)="onFilterDelete($event)" (clearAllFiltersClicked)="onFilterClearAll()" (applyFilterClicked)="onFilterApply()" (closeDialogClicked)="onFilterClose()">
  <form class="bootstrap" [formGroup]="DepartmentFilterFormGroup">
    <div class="input-container">
      <label>Ext Department ID</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="externalIds"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.externalIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Invoice Department ID</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="invoiceIds"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.invoiceIds.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Department Name</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="departmentNames"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.departmentNames.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Facility Contact</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="facilityContacts"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.facilityContacts.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label>Facility Email</label>
      <div class="input-group multiselect">
        <ejs-multiselect mode="CheckBox"
                         formControlName="facilityEmails"
                         placeholder="All"
                         [allowFiltering]="true"
                         [showDropDownIcon]="true"
                         [dataSource]="filterColumns.facilityEmails.dataSource">
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container calendar">
      <label for="inactiveDate">Inactive date</label>
      <div class="input-group datepicker">
        <ejs-datepicker
          class="datepicker"
          format="MM/dd/yyyy"
          placeholder="MM/DD/YYYY"
          formControlName="inactiveDate"
        >
        </ejs-datepicker>
      </div>
    </div>
  </form>
</app-filter-dialog>


<app-side-dialog
  (formCancelClicked)="onDepartmentFormCancelClick()"
  (formSaveClicked)="onDepartmentFormSaveClick()"
  [header]="dialogHeader + ' Department'"
>
  <form class="form-container bootstrap"
        id="addEditRecordForm"
        [formGroup]="departmentsDetailsFormGroup">
    <div>
      <div class="input-container">
        <label for="extDepartmentId">Ext Department ID <span class="required">*</span></label>
        <div class="input-group">
          <input id="extDepartmentId"
                  class="e-input"
                  type="text"
                  maxlength="50"
                  appValidateWithMessage
                  formControlName="extDepartmentId"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="invoiceDepartmentId">Invoice Department ID <span class="required">*</span></label>
        <div class="input-group">
          <input id="invoiceDepartmentId"
                  class="e-input"
                  type="text"
                  maxlength="50"
                  appValidateWithMessage
                  formControlName="invoiceDepartmentId"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="departmentName">Department Name <span class="required">*</span></label>
        <div class="input-group">
          <input id="departmentName"
                  class="e-input"
                  type="text"
                  maxlength="50"
                  appValidateWithMessage
                  formControlName="departmentName"/>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="facilityContact">Facility Contact <span class="required">*</span></label>
        <div class="input-group">
          <input
            id="facilityContact"
            class="e-input"
            type="text"
            maxlength="50"
            appValidateWithMessage
            formControlName="facilityContact"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="input-container">
        <label for="facilityEmail">Facility Email <span class="required">*</span></label>
        <div class="input-group">
          <input
            id="facilityEmail"
            class="e-input"
            type="email"
            appValidateWithMessage
            formControlName="facilityEmail"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="input-container facility-phone">
        <label for="facilityPhoneNumber">Facility Phone No <span class="required">*</span></label>
        <div class="input-group">
          <input
            id="facilityPhoneNumber"
            class="e-input facility-phone"
            type="tel"
            maxlength="10"
            appValidateWithMessage
            formControlName="facilityPhoneNo"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="input-container calendar">
        <label for="inactiveDate">Inactive Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="inactiveDate"
            class="datepicker"
            format="MM/dd/yyyy"
            placeholder="MM/DD/YYYY"
            formControlName="inactiveDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>

<app-import-departments [dialogEvent]="importDialogEvent" (reloadItemsList)="updatePage()"></app-import-departments>
