<app-form-control-wrapper [formGroup]="formGroupInstance"
                          [label]="label" [id]="id"
                          [required]="required"
                          [class.app-dropdown]="hideBorder">
  <div class="input-group dropdown">
    <ejs-dropdownlist
      [allowFiltering]="allowFiltering"
      [dataSource]="dataSource"
      [formControlName]="controlName"
      [fields]="fields"
      [placeholder]="placeholder"
      [sortOrder]="sortOrder"
      (open)="openDropdown.emit($event)"
      (blur)="onBlur()"
      (change)="change.emit($event)"
    ></ejs-dropdownlist>
    <app-error-message [control]="getControl()"></app-error-message>
  </div>
</app-form-control-wrapper>
