@import "colors";

.open-sidebar {
  .left-bar {
    width: 100%;
    overflow-x: auto;
  }

  .right-bar {
    min-width: 435px;
    max-width: 435px;
    display: block;
  }
}

.close-sidebar {
  .left-bar {
    width: 100%;
  }

  .right-bar {
    width: 0%;
    display: none;
  }
}

.schedule-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 21px;

  .control-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .control-group {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 18px;
      font-weight: 700;
      line-height: 32px;
      color: $black;
    }

    &.block {
      display: block;
    }
  }

  .schedule-bar {
    background-color: $white;
    height: calc(100vh - 80px);
    margin-right: -25px;
  }
}
