<div
  class="schedule-wrapper"
  [ngClass]="sideBarSettings.isOpen ? 'open-sidebar' : 'close-sidebar'"
  cdkDropListGroup
>
  <div class="left-bar">
    <div class="control-container">
      <div class="control-group ">
        <div class="title">
          Scheduling
        </div>
        <div>

          <button
          ejs-button
          appHideBeforeSyncfusionLoad
          id="importButton"
          cssClass="e-outline button-export"
          (click)="exportTable()"
          target="_blank"
        >
          <div class="button-export-container">Export<i-feather name="upload" class="icon"></i-feather></div>
        </button>

        
          <app-tooltip-container [showToolTip]="!hasViewPermission">
            <button
              *ngIf="!isEmployee"
              ejs-button
              appHideBeforeSyncfusionLoad
              cssClass="e-outline button-filter"
              [disabled]="!hasViewPermission"
              (click)="showFilters()"
            >
              <div class="filter-button-content">
            <span *ngIf="appliedFiltersAmount" class="e-badge e-badge-success e-badge-pill align-text">
              {{ appliedFiltersAmount }}
            </span>
                <span class="filter-button-text">Filters</span> <i-feather name="sliders" class="icon"></i-feather>
              </div>
            </button>
          </app-tooltip-container>
        </div>
      </div>
      <div class="control-group block">
        <app-inline-chips [setChips]="chipsData" (filterChipDelted)="deleteFilterItem($event)"></app-inline-chips>
      </div>
    </div>
    <div class="content">
        <app-schedule-grid
          [hasViewPermission]="hasViewPermission"
          [hasSchedulePermission]="hasSchedulePermission"
          [initScheduleData]="scheduleData"
          [selectedFilters]="scheduleFilters"
          (activeTimePeriod)="activePeriod($event)"
          (changeFilter)="changeFilters($event)"
          (loadMoreData)="loadMoreData($event)"
          (selectedCells)="setSelectedCells($event)"
          (editCell)="editScheduledItem($event)"
          (selectCandidate)="selectCandidate($event)"
          (dateRange)="datesRanges($event)"
        ></app-schedule-grid>
    </div>
  </div>
  <div class="right-bar">
    <div class="schedule-bar">
      <ng-container *ngIf="sideBarSettings.isEditMode; else createSideBar">
        <app-edit-schedule
          *ngIf="sideBarSettings.isOpen"
          [datePickerLimitations]="datePickerLimitations"
          [scheduledShift]="scheduledShift"
          [isEmployee]="isEmployee"
          [userPermission]="userPermission"
          [scheduleOnlyWithAvailability]="scheduleOnlyWithAvailability"
          (updateScheduleGrid)="updateScheduleGrid(false)"
        ></app-edit-schedule>
      </ng-container>

      <ng-template #createSideBar>
        <app-create-schedule
          *ngIf="sideBarSettings.isOpen"
          [datePickerLimitations]="datePickerLimitations"
          [scheduleSelectedSlots]="scheduleSelectedSlots"
          [scheduleData]="scheduleData"
          [isEmployee]="isEmployee"
          [userPermission]="userPermission"
          [scheduleOnlyWithAvailability]="scheduleOnlyWithAvailability"
        ></app-create-schedule>
      </ng-template>
    </div>
  </div>
</div>

<app-schedule-filters
  #filters
  [chipsData]="chipsData"
  [selectedCandidateId]="selectedCandidate?.id"
  [count]="totalCount"
  (updateScheduleFilter)="updateScheduleFilter($event)"
></app-schedule-filters>
