<div class="control-container">
  <div class="control-group ">
    <app-tabs-list
        class="table-tabs irp"
        [tabConfig]="tabsListConfig"
        (changeTab)="changeTab($event)"
      >
      </app-tabs-list>
      <div>
        <app-tooltip-container *ngIf="activeTabIndex === tabIndex.Scheduling" [showToolTip]="!hasViewPermission">
          <button
            ejs-button
            appHideBeforeSyncfusionLoad
            cssClass="e-outline button-filter"
            [disabled]="!hasViewPermission"
            (click)="showFilters()"
          >
            <div class="filter-button-content">
            <span *ngIf="appliedFiltersAmount" class="e-badge e-badge-success e-badge-pill align-text">
              {{ appliedFiltersAmount }}
            </span>
              <span class="filter-button-text">Filters</span> <i-feather name="sliders" class="icon"></i-feather>
            </div>
          </button>
        </app-tooltip-container>
        <app-tooltip-container
          *ngIf="activeTabIndex === tabIndex.Scheduling"
          [showToolTip]="!!scheduleButtonTooltip"
          [message]="scheduleButtonTooltip"
        >
          <button
            ejs-button
            appHideBeforeSyncfusionLoad
            cssClass="e-primary"
            [disabled]="!!scheduleButtonTooltip"
            (click)="openScheduleDialog()"
          >
            Schedule
          </button>
        </app-tooltip-container>
      </div>
  </div>
  <div class="control-group block">
    <app-inline-chips [setChips]="chipsData" (filterChipDelted)="deleteFilterItem($event)"></app-inline-chips>
  </div>
</div>

<div class="content">
  <ng-container *ngIf="activeTabIndex === tabIndex.Scheduling">
    <app-schedule-grid
      [hasViewPermission]="hasViewPermission"
      [scheduleData]="scheduleData"
      [selectedFilters]="scheduleFilters"
      (changeFilter)="changeFilters($event)"
      (loadMoreData)="loadMoreData($event)"
      (selectedCells)="selectCells($event)"
      (scheduleCell)="scheduleCell($event)"
      (selectCandidate)="selectCandidate($event)"
    ></app-schedule-grid>
  </ng-container>
  <ng-container *ngIf="activeTabIndex === tabIndex.Analytics">
  </ng-container>
</div>

<app-schedule-filters #filters [count]="totalCount" (updateScheduleFilter)="updateScheduleFilter($event)"></app-schedule-filters>

<app-create-schedule
  *ngIf="createScheduleDialogOpen"
  [datePickerLimitations]="datePickerLimitations"
  [scheduleSelectedSlots]="scheduleSelectedSlots"
  [scheduleStructure]="scheduleStructure"
  [selectedScheduleFilters]="scheduleFilters"
  [scheduleFilterData]="filters.filterColumns"
  [scheduleData]="scheduleData"
  [userPermission]="userPermission"
  (destroyDialog)="closeScheduleDialog()"
  (updateScheduleGrid)="updateScheduleGrid()"
></app-create-schedule>
