.control-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
}

.control-group {
  display: flex;
  justify-content: space-between;

  &.block {
    display: block;
  }
}

.button-filter {
  margin-right: 12px;
}