@import '../../../styles/variables/colors.scss';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}