@import '../../../styles/variables/colors.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}