<section class="container">
  <section class="controls-container">
    <div class="left-content-items">
      <section class="setup-details bootstrap" [formGroup]="filterForm">
        <div *ngIf="isIRPAndVMSEnabled" class="input-container">
          <label for="systemDropDown">System Configuration</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="systemDropDown"
              class="system filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="systemOptions"
              [fields]="fields"
              [showClearButton]="true"
              [formControl]="systemIdControl"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="regionDropDown">Region</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="regionDropDown"
              class="region filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="orgRegions"
              [fields]="fields"
              [showClearButton]="true"
              popupWidth="auto"
              formControlName="regionId"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="locationDropDown">Location</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="locationDropDown"
              class="location filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="locations"
              [fields]="fields"
              [showClearButton]="true"
              popupWidth="auto"
              formControlName="locationId"
              [filterType]="filterType"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="departmentDropDown">Department</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="departmentDropDown"
              class="department filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="departments"
              [fields]="fields"
              [showClearButton]="true"
              popupWidth="auto"
              formControlName="departmentId"
              [filterType]="filterType"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="groups-filter">
          <div class="input-container">
            <label for="groupDropDown">Group</label>
            <div class="input-group">
              <ejs-dropdownlist
                id="groupDropDown"
                class="group filter-dropdown"
                [allowFiltering]="true"
                [dataSource]="(groups$ | async)?.items"
                [fields]="fields"
                [showClearButton]="true"
                popupWidth="auto"
                formControlName="groupId"
              ></ejs-dropdownlist>
            </div>
          </div>
        </div>

        <div class="groups-filter">
          <div class="input-container">
            <label for="skillDropDown">Skill</label>
            <div class="input-group">
              <ejs-dropdownlist
                id="skillDropDown"
                class="skill filter-dropdown"
                [allowFiltering]="true"
                [dataSource]="skills"
                [fields]="fields"
                [showClearButton]="true"
                popupWidth="auto"
                formControlName="skillId"
              ></ejs-dropdownlist>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="right-content-items">
      <button class="clear-all" (click)="clearFilters()">
        Clear All
      </button>
    </div>
  </section>
