<ejs-dialog
  id="filterDialog"
  #filterDialog
  cssClass="dialog filter"
  [width]="width"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [showCloseIcon]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
  (beforeClose)="onClose()"
>
  <ng-template #header>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">Filters<span *ngIf="items?.length" class="e-badge e-badge-success e-badge-pill">{{ items?.length }}</span></h3>
          </div>
        </div>
      </section>
    </section>
  </ng-template>
  <ng-template #content>
    <section class="filter-wrapper">
      <section [ngClass]="useGroupingFilters ? 'disp_content' : 'container'">
        <ng-content></ng-content>
      </section>
      <section class="applied-filters" *ngIf="items?.length && !groupedChips && !useGroupingFilters">
        <div class="chips-container">
          <ejs-chiplist (delete)="onChipDelete($event)" [chips]="items" enableDelete="true"></ejs-chiplist>
        </div>
        <div class="results-counter">
          <span class="label">Results </span><span class="count">{{ count }}</span>
        </div>
      </section>
      <section class="applied-filters" *ngIf="groupedChips">
        <div class="chips-container">
          <ng-container *ngIf="groupedChips" [ngTemplateOutlet]="groupedChips"></ng-container>
        </div>
      </section>
      <section class="applied-filters bg_grey" *ngIf="items?.length && useGroupingFilters">
        <div class="chips-container pt_20" *ngFor="let group of chipsData">
          <span class="chips-group-text">{{group.groupTitle}}</span>
          <div class="display_inlineblk" *ngFor="let chipText of group.data">
              <ejs-chiplist [chips]="[chipText]" (delete)="deleteFilterChip($event, group.groupField)" enableDelete="true"></ejs-chiplist>
          </div>
        </div>  
      </section>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="container">
      <div class="e-card-content">
        <button
          ejs-button
          cssClass="e-outline button-clear"
          id="clearAllButton"
          (click)="onClearAllFilterClick()">Clear All</button>
        <button
          ejs-button
          cssClass="button-filter"
          id="filterButton"
          type="submit"
          [isPrimary]="true"
          (click)="onFilterClick()">Filter</button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
