@import "colors";

.dialog {
  right: 0;
  top: 60px !important;
  left: auto !important;
  height: calc(100% - 60px) !important;

  .e-card-title {
    display: flex;
    align-items: center;

    .e-badge {
      margin-left: 18px;
    }
  }

  .e-dlg-content {
    padding: 0;
  }

  .filter-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .applied-filters {
    .results-counter {
      padding: 16px 29px;
      font-size: 12px;
      font-weight: 600;

      .label {
        color: $secondary-dark-blue-30;
      }

      .count {
        color: $black;
      }
    }

    .chips-container {
      max-height: 200px;
      overflow: auto;
      background-color: $secondary-dark-blue-50;
      padding: 16px 29px;

      .e-chip-list {
        .e-chip {
          margin: 5px 10px 5px 0;
          width: auto;
          text-transform: initial;
          font-variant: common-ligatures;
          font-weight: normal;
          font-size: 12px;
          height: 24px;
          background-color: $secondary-dark-blue-50;
          color: $black;
          border: 1px solid $secondary-dark-blue-40;
          line-height: 14px;

          .e-chip-delete.e-dlt-btn {
            color: $black;
            font-weight: 600;

            &::before {
              content: "\e7e7";
            }
          }
        }
      }
    }
  }

  .container {
    padding: 24px;
    flex: 1;
    height: 100%;
    overflow: auto;

    .form-container {
      .input-container {
        padding-top: 20px;

        label {
          margin-bottom: 12px;
        }
      }
    }
  }

  .e-dlg-header-content {
    padding: 24px;

    .e-dlg-closeicon-btn {
      margin-top: 5px;
    }

    .container {
      padding: 0;

      .header-container {
        .e-card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .e-card-title {
            color: $black;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .e-footer-content {
    padding: 0;

    .e-card-content {
      display: flex;
      justify-content: space-between;

      .button-clear {
        width: 100%;
        margin-right: 12px;
        margin-left: 0;
      }

      .button-filter {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

.chips-group-text {
  font-size: 12px;
  color: $secondary-dark-blue-30;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.display_inlineblk{
  display: inline-block;
}
.bg_grey{
  background: #f7f8fc;
  max-height: 150px;
  overflow: auto;
}
.pt_20{
  padding: 20px 20px 0px 20px;
}