@import "colors";
@import "adaptive-response";

ejs-tab {
  padding-bottom: 40px;

  .e-tab-header {
    .e-toolbar-items {
      .e-toolbar-item {
        background-color: var(--bg-steper);
        border: 1px solid var(--header-border);
      }

      .e-disable {
        opacity: 0.5;
      }

      .e-active {
        background-color: $primary-active-blue-10;

        .stepper-title {
          color: $white !important;
        }
      }
    }
  }
  .stepper-title {
    color: var(--title) !important;

    .required {
      color: $supportive-red;
    }
  }
}

@media #{$max-mobile} {
  .order-details-form-section {
    margin-bottom: 50px;
  }

  .e-tab .e-content {
    margin-top: 30px;
  }

  .e-tab.stepper {
    & > .e-content {
      padding-top: 10px;
    }
  }
}
