@import "colors";
@import "adaptive-response";

ejs-tab {
  padding-bottom: 40px;

  .stepper-title {
    .required {
      color: $supportive-red;
    }
  }
}

@media #{$max-mobile} {
  .order-details-form-section {
    margin-bottom: 50px;
  }

  .e-tab .e-content {
    margin-top: 30px;
  }

  .e-tab.stepper {
    & > .e-content {
      padding-top: 10px;
    }
  }
}
