<form [formGroup]="formGroup" class="candidate-agency">
  <div class="bootstrap">
    <div class="dropdown-container">
      <label>Agency<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist appValidateWithMessage
                          [fields]="agencyFields"
                          formControlName="agencyId"
                          [dataSource]="(agencies$ | async)?.items"
                          placeholder="Agency">
        </ejs-dropdownlist>
      </div>
    </div>
  </div>
</form>

