@import "colors";
.document-side-panel {
  background-color: $white;
  margin-right: 25px;
  height: 94%;
  width: 231px;
  margin-left: -25px;
  overflow-y: auto;
  margin-top:10px;
  padding: 0px 2px 0px 1px;
  .search {
    width: 230px;
  }

  .documentTreeview {
    color: $black;

    .e-list-item {
      padding: 3px 0px;
    }

    .e-level-1, .treeview-folder {
      font-weight: 600;
    }

    .treeview-normal {
      font-weight: normal !important;
    }

    .e-list-item .e-ul {
      padding: 5px;
    }

    .e-list-item.e-hover > .e-fullrow {
      background-color: $primary-active-blue-70;
    }

    .e-list-item.e-active > .e-text-content .e-list-text {
      color: $black;
    }

    .e-list-item.e-active > .e-fullrow {
      background-color: $primary-active-blue-70;
    }
  }
}
.add-folder-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 231px;
  border-radius: 5px;
  padding: 0px 0px 0px 3px;
}

.add-folder-button {
  width: 231px;
  background: $primary-active-blue-70 !important;
  color: $primary-active-blue;
}
.delete-folder-button {
  width: 231px;
  background: $supportive-red-40 !important;
  margin-bottom:5px;
}

