@import "colors";
.document-side-panel {
  background-color: $white;
  margin-right: 25px;
  height: 100%;
  width: 231px;
  margin-left: -25px;
  overflow-y: auto;

  .documentTreeview {
    color: $black;

    .e-list-item {
      padding: 3px 0px;
    }

    .e-level-1, .treeview-folder {
      font-weight: 600;
    }

    .treeview-normal {
      font-weight: normal !important;
    }

    .e-list-item .e-ul {
      padding: 0px;
    }

    .e-list-item.e-hover > .e-fullrow {
      background-color: $primary-active-blue-70;
    }

    .e-list-item.e-active > .e-text-content .e-list-text {
      color: $black;
    }

    .e-list-item.e-active > .e-fullrow {
      background-color: $primary-active-blue-70;
    }
  }
}

