 @import "colors";
 .app-accumulation-chart{
    &__title{
    width: 100%;
    display: block;
}
}
.widget-header{
    &__title{
        margin-bottom: 11px!important;
        padding-bottom: 5px;
        border-bottom-color: gray;
    }
}
.icon{
    color: gray;
}
.title i-feather.icon{
    margin-right: 10px;
}
