<app-widget-wrapper [isLoading]="isLoading" [description]="description" [isDarkTheme]="isDarkTheme">
    <ng-template #header>
      <div class="app-accumulation-chart__title w-100">
        <h3 class="widget-header__title d-inline title">{{description}}</h3> 
      </div>
    </ng-template>
    <ng-template #available_employee>
      <div class="shared-with-grid" *ngIf="(chartData)">

        <table>
          <thead>
            <th>EMPLOYEE</th>
            <th>DATE</th>
            <th>TIME</th>
          </thead>
          <tbody>
            <tr *ngFor="let empDetails of chartData">
              <td><a (click)="EmpScheduleRedirect(empDetails)">{{empDetails.fullName}}</a></td>
              <td>{{empDetails.startDate}}</td>
              <td class="shiftTime">{{empDetails.shiftTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </ng-template>
  </app-widget-wrapper>
  