<app-grid
  class="department-assigned-grid"
  gridTitle="Department Assigned"
  (bulkEventEmitter)="handleBulkEvent($event)"
  [rowData]="departmentsAssigned?.items ?? [] | sortByHomeCostCenter"
  [columnDefinitions]="columnDef"
  [totalRecordsCount]="departmentsAssigned?.totalCount ?? 0"
  [allowBulkSelection]="true"
  [disableBulkButton]="conditions.disableBulkButton"
  [rowSelection]="rowSelection"
  [bulkActionConfig]="bulkActionConfig"
  [pageSize]="filters.pageSize"
  [currentPage]="filters.pageNumber"
  (navigateToPageEmitter)="handleChangePage($event)"
  (pageSizeChangeEmitter)="handleChangePageSize($event)"
>
  <app-tooltip-container
    action-button
    position="TopCenter"
    [showToolTip]="conditions.noActiveWC"
    [message]="toggleTooltipMsg"
  >
    <app-toggle
      action-button
      [label]="(isMobile$ | async) ? '' : 'All'"
      [value]="conditions.showAllDepartments"
      [disabled]="conditions.noActiveWC"
      (checked)="showHideActiveDepartments($event)"
    ></app-toggle>
  </app-tooltip-container>
  <app-button
    action-button
    iconName="sliders"
    [text]="(isMobile$ | async) ? '' : 'Filters'"
    [type]="buttonType.ACTION"
    [badgeText]="filtersAmount"
    (clickEmitter)="showFilters()"
  ></app-button>
  <app-tooltip-container
    action-button
    position="TopCenter"
    [showToolTip]="conditions.showAllDepartments"
    [message]="assignDepTooltipMsg"
  >
    <app-button
      iconName="plus"
      [text]="(isMobile$ | async) ? '' : 'Assign Department'"
      [type]="buttonType.ACTION"
      [disabled]="!userPermission[this.userPermissions.ManageIrpCandidateProfile] || conditions.showAllDepartments"
      (clickEmitter)="showAssignDepartmentDialog()"
    ></app-button>
  </app-tooltip-container>
</app-grid>

<app-side-dialog
  #sideDialog
  *ngIf="(selectedTab$ | async) === candidateTabsEnum.Departments"
  [header]="sideDialogTitle$ | async"
  (formCancelClicked)="onCancel()"
  (formSaveClicked)="onSave()"
>
  <ng-container *ngIf="sideDialogTitle$ | async as dialogTitle">
    <app-assign-department
      #assignDepartment
      *ngIf="
        dialogTitle === sideDialogTitleEnum.AssignDepartment || dialogTitle === sideDialogTitleEnum.EditAssignDepartment
      "
      [dialogData$]="dialogData$"
      (refreshGrid)="refreshGrid()"
      [saveForm$]="saveForm$"
      [departmentHierarchy]="departmentHierarchy"
      [dateRanges]="dateRanges"
    ></app-assign-department>

    <app-edit-departments
      #editDepartments
      *ngIf="dialogTitle === sideDialogTitleEnum.EditBulkDepartments && sideDialog.sideDialog.visible"
      (refreshGrid)="refreshGrid()"
      [saveForm$]="saveForm$"
      [selectedDepartments]="selectedDepartments"
      [filters]="this.filters"
      [dateRanges]="bulkDateRanges"
    ></app-edit-departments>
  </ng-container>
</app-side-dialog>

<app-filter-department
  *ngIf="(selectedTab$ | async) === candidateTabsEnum.Departments"
  (resetFilters)="resetFilters()"
  (updateTableByFilters)="updateTableByFilters($event)"
  (appliedFiltersAmount)="applyFiltersAmount($event)"
></app-filter-department>
