<app-grid
  class="department-assigned-grid"
  *ngIf="departmentsAssigned$ | async as departmentsAssigned"
  gridTitle="Department Assigned"
  [rowSelection]="undefined"
  [rowData]="departmentsAssigned?.items"
  [columnDefinitions]="columnDef"
  [totalRecordsCount]="departmentsAssigned?.items?.length!"
>
  <app-button
    action-button
    iconName="sliders"
    text="Filters"
    [type]="buttonType.ACTION"
    (clickEmitter)="showFilters()"
  ></app-button>
  <app-button
    action-button
    iconName="plus"
    text="Assign Department"
    [type]="buttonType.ACTION"
    (clickEmitter)="showAssignDepartmentDialog()"
  ></app-button>
</app-grid>

<app-side-dialog
  *ngIf="(selectedTab$ | async) === candidateTabsEnum.Departments"
  [header]="sideDialogTitle$ | async"
  (formCancelClicked)="onCancel()"
  (formSaveClicked)="onSave()"
>
  <app-assign-department
    #assignDepartment
    *ngIf="(sideDialogTitle$ | async) !== sideDialogTitleEnum.Filter"
    [dialogData$]="dialogData$"
    [saveForm$]="saveForm$"
  ></app-assign-department>
</app-side-dialog>

<app-filter-department></app-filter-department>
