<app-grid
  class="department-assigned-grid"
  gridTitle="Department Assigned"
  (bulkEventEmitter)="handleBulkEvent($event)"
  [rowSelection]="undefined"
  [rowData]="departmentsAssigned?.items ?? []"
  [columnDefinitions]="columnDef"
  [totalRecordsCount]="departmentsAssigned?.totalCount ?? 0"
  [allowBulkSelection]="true"
  [disableBulkButton]="false"
  [rowSelection]="rowSelection"
  [bulkActionConfig]="bulkActionConfig"
>
  <app-button
    action-button
    iconName="sliders"
    text="Filters"
    [type]="buttonType.ACTION"
    (clickEmitter)="showFilters()"
  ></app-button>
  <app-button
    action-button
    iconName="plus"
    text="Assign Department"
    [type]="buttonType.ACTION"
    (clickEmitter)="showAssignDepartmentDialog()"
  ></app-button>
</app-grid>

<app-side-dialog
  *ngIf="(selectedTab$ | async) === candidateTabsEnum.Departments"
  [header]="sideDialogTitle$ | async"
  (formCancelClicked)="onCancel()"
  (formSaveClicked)="onSave()"
>
  <ng-container *ngIf="sideDialogTitle$ | async as dialogTitle">
    <app-assign-department
      #assignDepartment
      *ngIf="
        dialogTitle === sideDialogTitleEnum.AssignDepartment || dialogTitle === sideDialogTitleEnum.EditAssignDepartment
      "
      [dialogData$]="dialogData$"
      (refreshGrid)="refreshGrid()"
      [saveForm$]="saveForm$"
      [employeeWorkCommitmentId]="employeeWorkCommitmentId"
      [departmentHierarchy]="departmentHierarchy"
    ></app-assign-department>

    <app-edit-departments
      #editDepartments
      *ngIf="dialogTitle === sideDialogTitleEnum.EditBulkDepartments"
      [saveForm$]="saveForm$"
      [selectedDepartments]="selectedDepartments"
    ></app-edit-departments>
  </ng-container>
</app-side-dialog>

<app-filter-department
  (resetFilters)="resetFilters()"
  (updateTableByFilters)="updateTableByFilters($event)"
></app-filter-department>
