<section class="bootstrap">
  <ejs-toast
    [class]="cssClass"
    #toast
    showCloseButton="true"
    [newestOnTop]="false"
    [position]="{ X: 'Center', Y: 'Top' }"
    width="330"
  >
    <ng-template #title>
      <div *ngIf="type === messageType.Warning">
        <div>Warning</div>
      </div>
      <div *ngIf="type === messageType.Success">
        <i-feather name="check-circle" class="icon validation-icon"></i-feather>
        <div>Success</div>
      </div>
      <div *ngIf="type === messageType.Error">
        <i-feather name="alert-circle" class="icon validation-icon"></i-feather>
        <div>Error</div>
      </div>
    </ng-template>
    <ng-template #content>
      <div>
        <span *ngIf="isQuickOrder" class="order-id" (click)="navigateToAllOrders()">
          {{ organizationPrefix }}-{{ publicId }}
        </span>
        {{ messageContent }}
      </div>      
    </ng-template>
  </ejs-toast>
</section>
