<div class="billing-details bootstrap">
  <div class="billing-details-section">
    <div class="left-column">
      <form [formGroup]="formGroup">
        <div class="billing-address-section">
          <div class="input-container">
            <label>Name<span class="required">*</span></label>
            <div class="input-group">
              <input appValidateWithMessage formControlName="name" class="e-input" type="text" maxlength="100" />
            </div>
          </div>
          <div class="input-container">
            <label>Address</label>
            <input formControlName="address" class="e-input" type="text" maxlength="100" />
          </div>
        </div>
        <div class="billing-country-section">
          <div class="dropdown-container">
            <label>Country<span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist
                appValidateWithMessage
                formControlName="country"
                [fields]="optionFields"
                [allowFiltering]="true"
                [dataSource]="countries"
              ></ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <label>State<span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist
                appValidateWithMessage
                formControlName="state"
                [allowFiltering]="true"
                [dataSource]="states$ | async"
              ></ejs-dropdownlist>
            </div>
          </div>
          <div class="input-container">
            <label>City<span class="required">*</span></label>
            <div class="input-group">
              <input appValidateWithMessage formControlName="city" class="e-input" type="text" maxlength="20" />
            </div>
          </div>
          <div class="input-container">
            <label>Zipcode</label>
            <div class="input-group">
              <ejs-maskedtextbox
                class="e-input"
                promptChar="_"
                mask="00000"
                appValidateWithMessage
                formControlName="zipCode"
                placeholder=" "
                maxlength="6"
              ></ejs-maskedtextbox>
            </div>
          </div>
        </div>
        <div class="billing-phone-section">
          <div class="input-container">
            <label>Phone 1</label>
            <div class="input-group">
              <ejs-maskedtextbox
                class="e-input"
                promptChar="_"
                mask="000-000-0000"
                appValidateWithMessage
                formControlName="phone1"
                placeholder=" "
                maxlength="10"
              ></ejs-maskedtextbox>
            </div>
          </div>
          <div class="input-container">
            <label>Phone 2</label>
            <div class="input-group">
              <ejs-maskedtextbox
                class="e-input"
                promptChar="_"
                mask="000-000-0000"
                appValidateWithMessage
                formControlName="phone2"
                placeholder=" "
                maxlength="10"
              ></ejs-maskedtextbox>
            </div>
          </div>
          <div class="input-container">
            <label>Fax</label>
            <div class="input-group">
              <input appValidateWithMessage formControlName="fax" mask="000-000-0000" class="e-input" type="text" />
            </div>
          </div>
          <div class="input-container">
            <label>Ext</label>
            <div class="input-group">
              <input
                formControlName="ext"
                class="e-input"
                mask="00000"
                [validation]="false"
                type="text"
                maxlength="5"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="right-column"></div>
  </div>
</div>
