@import 'adaptive-response';

.billing-details {
  .billing-details-section {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);

    .name {
      grid-column: 1/3;
    }

    .address {
      grid-column: 3/5;
    }
  }

  .input-container label,
  .dropdown-container label {
    margin-bottom: 5px !important;
    display: block;
  }
}

@media (max-width: 880px) {
  .billing-details {
    .billing-details-section {
      grid-auto-columns: 1fr;
      grid-template-columns: repeat(2, 1fr);

      .address {
        grid-column: 1/3;
      }
    }
  }
}

@media #{$max-mobile} {
  .billing-details {
    .billing-details-section {
      grid-template-columns: 1fr;

      .name,
      .address {
        grid-column: unset;
      }
    }
  }
}
