<div class="billing-details bootstrap">
    <div class="billing-details-section">
      <div class="left-column">
        <form [formGroup]="formGroup">
          <div class="billing-address-section">
            <div class="input-container">
              <label>Name<span class="required">*</span></label>
              <div class="input-group">
                <input appValidateWithMessage formControlName="name" class="e-input" type="text" placeholder="Name" maxlength="100"/>
              </div>
            </div>
            <div class="input-container">
              <label>Address</label>
              <input formControlName="address" class="e-input" type="text" placeholder="Address" maxlength="100"/>
            </div>
          </div>
          <div class="billing-country-section">
            <div class="dropdown-container">
              <label>Country<span class="required">*</span></label>
              <div class="input-group dropdown">
                <ejs-dropdownlist
                  appValidateWithMessage
                  [fields]="optionFields"
                  formControlName="country"
                  [dataSource]="countries"
                  placeholder="Country"

                ></ejs-dropdownlist>
              </div>
            </div>
            <div class="dropdown-container">
              <label>State<span class="required">*</span></label>
              <div class="input-group dropdown">
                <ejs-dropdownlist
                  appValidateWithMessage
                  formControlName="state"
                  [dataSource]="states$| async"
                  placeholder="State"
                ></ejs-dropdownlist>
              </div>
            </div>
            <div class="input-container">
              <label>City<span class="required">*</span></label>
              <div class="input-group">
                <input appValidateWithMessage formControlName="city" class="e-input" type="text" placeholder="City" maxlength="100"/>
              </div>
            </div>
            <div class="input-container">
              <label>Zipcode</label>
              <div class="input-group">
                <input appValidateWithMessage
                formControlName="zipCode"
                mask="00000||000000"
                class="e-input"
                type="text"
                placeholder="Zipcode"/>
              </div>
            </div>
          </div>
          <div class="billing-phone-section">
            <div class="input-container">
              <label>Phone 1</label>
              <div class="input-group">
                <input appValidateWithMessage
                formControlName="phone1"
                mask="000-000-0000"
                class="e-input"
                type="text"
                placeholder="Phone 1"/>
              </div>
            </div>
            <div class="input-container">
              <label>Phone 2</label>
              <div class="input-group">
                <input appValidateWithMessage
                formControlName="phone2"
                mask="000-000-0000"
                class="e-input"
                type="text"
                placeholder="Phone 2"/>
              </div>
            </div>
            <div class="input-container">
              <label>Fax</label>
              <div class="input-group">
                <input appValidateWithMessage
                formControlName="fax"
                mask="000-000-0000"
                class="e-input"
                type="text"
                placeholder="Fax"/>
              </div>
            </div>
            <div class="input-container">
              <label>Ext</label>
              <input formControlName="ext" class="e-input" type="text" placeholder="Ext" maxlength="5" />
            </div>
          </div>
        </form>
      </div>
      <div class="right-column"></div>
    </div>
  </div>
