@import '../../styles/variables/colors';

.e-input-group.e-float-icon-left.search-with-icon {
  height: 38px;
}

.search {
  flex-grow: 1;
  max-width: 400px;
}

.button--no-wrap {
  white-space: nowrap !important;
}
