@import 'colors';
@import 'adaptive-response';

.right-container {
  justify-content: flex-end;

  .datepicker-mobile {
    display: none;
  }

  @media #{$max-tablet} {
    margin-top: 7px;
  }

  @media #{$max-mobile} {
    margin-top: 7px;
    flex-direction: column;

    .datepicker-desktop {
      display: none;
    }

    .datepicker-mobile {
      display: inline-block;
    }
  }
}

.dropdown-filter {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}

.datepicker-mobile {
  display: none;
}

.input-container {
  min-width: 180px;

  @media #{$max-mobile} {
    width: calc(100vw - 110px) !important;
  }
}

.e-input-group.e-float-icon-left.search-with-icon {
  height: 38px;
}

.search {
  flex-grow: 1;
  max-width: 400px;
  min-width: 200px;
}

.button--no-wrap {
  white-space: nowrap !important;
}

.top-margin {
  margin-left: 0;
}

@media #{$max-mobile} {
  .datepicker-desktop {
    display: none;
  }

  .datepicker-mobile {
    display: inline-block;
    margin-top: 7px;
  }

  .filter-button-text {
    display: none !important;
  }

  button.e-control.e-btn i-feather {
    margin-left: 0 !important;
  }

  .tabs {
    position: fixed;
    background: $background;
    z-index: 100;
    margin-top: -19px;
    padding: 20px 25px 0;
    width: 100vw !important;
    margin-left: -25px;
  }

  .bootstrap,
  .top-margin {
    margin-top: 42px;

    .bootstrap {
      margin-top: 0;
    }
  }

  .bootstrap {
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .bootstrap,
  .top-margin {
    margin-top: 54px;
  }
}
