@import '../../styles/variables/colors';

.datepicker--custom .e-input-group.e-control-wrapper.e-date-wrapper {
  min-width: 285px;
  background: $white;

  .e-input[readonly] {
    background: transparent !important;

    ~ span.e-input-group-icon {
      background: transparent !important;
    }
  }
}

.e-highlightselectedrange {
  background: $primary-active-blue-10 !important;

  span {
    color: $white !important;
  }
}

.e-input-group.e-float-icon-left.search-with-icon {
  height: 38px;
}

.search {
  flex-grow: 1;
  max-width: 400px;
}

.bootstrap .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}

.input-container {
  margin-bottom: 12px;

  :last-child {
    margin-bottom: 0;
  }

  label {
    color: $secondary-dark-blue-15;
  }
}
