<app-page-toolbar>
  <ng-container left>
    <app-timesheets-tabs
      [tabConfig]="tabConfig"
      [isDisabled]="!!(loading$ | async)"
      (changeTab)="handleChangeTab($event)"
      class="tabs"
      appTabsMobileShadow
    >
    </app-timesheets-tabs>
  </ng-container>
  <ng-container right>
    <div class="right-container top-margin">
      <div class="dropdown-filter">
        <div *ngIf="isAgency" class="bootstrap">
          <div class="input-container">
            <ejs-dropdownlist
              appHideBeforeSyncfusionLoad
              *ngIf="organizations$ | async as organizations"
              placeholder="Select organization"
              [allowFiltering]="true"
              [dataSource]="organizations"
              [fields]="unitOrganizationsFields"
              [formControl]="organizationControl"
            >
            </ejs-dropdownlist>
          </div>
        </div>
        <app-date-range-week-picker
          (range)="setRange($event)"
          class="datepicker-timesheet"
          [class.datepicker-desktop]="isAgency"
        ></app-date-range-week-picker>
        <button
          ejs-button
          appHideBeforeSyncfusionLoad
          cssClass="e-outline button-filter button--no-wrap"
          (click)="showFilters()"
        >
          <div class="filter-button-content">
            <span *ngIf="appliedFiltersAmount" class="e-badge e-badge-success e-badge-pill align-text">{{
              appliedFiltersAmount
            }}</span>
            <span class="filter-button-text">Filters</span> <i-feather name="sliders" class="icon"></i-feather>
          </div>
        </button>
      </div>
      <app-date-range-week-picker
        (range)="setRange($event)"
        *ngIf="isAgency"
        class="datepicker-mobile"
      ></app-date-range-week-picker>
    </div>
  </ng-container>
</app-page-toolbar>

<section class="table-wrapper">
  <app-timesheets-table
    #grid
    *ngIf="timesheets$ | async as timesheets"
    [tableData]="timesheets"
    [newSelectedIndex]="currentSelectedTableRowIndex | async"
    [activeTabIdx]="activeTabIdx"
    (changePage)="handleChangePage($event)"
    (changePerPage)="handleChangePerPage($event)"
    (timesheetRowSelected)="rowSelected($event)"
    (sortHandler)="sortHandler($event)"
    (bulkEventEmitter)="handleBulkEvent($event)"
  >
  </app-timesheets-table>
</section>

<app-timesheets-filter-dialog
  [activeTabIdx]="activeTabIdx"
  [orgId]="orgId"
  [isAgency]="isAgency"
  (appliedFiltersAmount)="changeFiltersAmount($event)"
  (resetFilters)="resetFilters()"
  (updateTableByFilters)="updateTableByFilters($event)"
></app-timesheets-filter-dialog>
<app-profile-details-container
  [currentSelectedRowIndex]="currentSelectedTableRowIndex | async"
  [maxRowIndex]="(timesheets$ | async)?.items?.length || 0"
  (nextPreviousOrderEvent)="onNextPreviousOrderEvent($event)"
>
</app-profile-details-container>
