<app-page-toolbar>
  <ng-container left>
    <app-tab-dynamic-navigation
      [tabConfig]="tabConfig"
      (changeTab)="handleChangeTab($event)">
    </app-tab-dynamic-navigation>
  </ng-container>
  <ng-container right>
    <app-search class="search"></app-search>
    <ejs-datepicker
      id="startDate"
      class="datepicker datepicker--custom"
      format="dd/MM/yyyy"
      placeholder="From: DD/MM/YYYY - To: DD/MM/YYYY"
      [formControl]="formGroup.get('date') | controlConverter"
      [allowEdit]="false"
      (renderDayCell)="onRenderCell($event)"
    >
    </ejs-datepicker>
    <button
      ejs-button
      cssClass="e-outline button-filter"
      (click)="showFilters()">Filters <i-feather name="sliders" class="icon"></i-feather></button>
    <button
      ejs-dropdownbutton
      [items]="exportOptions"
      (select)="exportSelected($event)"
      id="importButton"
      cssClass="e-outline button-export">Export <i-feather name="download" class="icon"></i-feather></button>
  </ng-container>
</app-page-toolbar>

<section>
  <app-timesheets-table
    *ngIf="timesheets$ | async as timesheets"
    [tableData]="timesheets"
    (changePage)="handleChangePage($event)"
    (changePerPage)="handleChangePerPage($event)"
  >
  </app-timesheets-table>
</section>

<app-filter-dialog
  [items]="filteredItems"
  [count]="(timesheets$ | async)?.totalCount"
  (deleteFilter)="onFilterDelete($event)"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()">
  <form class="bootstrap" [formGroup]="formGroup">
    <div class="input-container">
      <label for="orderId">Order ID</label>
      <input
        id="orderId"
        class="e-input"
        type="text"
        appValidateWithMessage
        formControlName="orderId"
        maxlength="50"
        placeholder="" />
    </div>
    <div class="input-container">
      <label for="status">Status</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          id="status"
          mode="CheckBox"
          [fields]="filterOptionFields"
          [dataSource]="filterColumns.status.dataSource"
          [showDropDownIcon]="true"
          formControlName="status"
          placeholder=""></ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label for="department">Department</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          id="department"
          mode="CheckBox"
          [fields]="filterOptionFields"
          [dataSource]="filterColumns.department.dataSource"
          [showDropDownIcon]="true"
          formControlName="department"
          placeholder=""></ejs-multiselect>
      </div>
    </div>
    <div class="input-container">
      <label for="agencyName">Select Agency</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          id="agencyName"
          mode="CheckBox"
          [fields]="filterOptionFields"
          [dataSource]="filterColumns.agencyName.dataSource"
          [showDropDownIcon]="true"
          formControlName="agencyName"
          placeholder=""></ejs-multiselect>
      </div>
    </div>
    <div class="row">
      <div class="input-container">
        <label for="totalHours">Total Hours</label>
        <input
          id="totalHours"
          class="e-input"
          type="number"
          appValidateWithMessage
          formControlName="totalHours"
          maxlength="50"
          placeholder="" />
      </div>
      <div class="input-container">
        <label for="billRate">Bill Rate</label>
        <input
          id="billRate"
          class="e-input"
          type="number"
          appValidateWithMessage
          formControlName="billRate"
          maxlength="50"
          placeholder="" />
      </div>
    </div>
    <div class="input-container">
      <label for="skill">Skill</label>
      <div class="input-group dropdown">
        <ejs-multiselect
          id="skill"
          mode="CheckBox"
          [fields]="filterOptionFields"
          [dataSource]="filterColumns.skill.dataSource"
          [showDropDownIcon]="true"
          formControlName="skill"
          placeholder=""></ejs-multiselect>
      </div>
    </div>
  </form>
</app-filter-dialog>
