<ng-container [ngSwitch]="editable">

  <ng-template [ngSwitchCase]="false">
    <div class="init-value-wrapper" *ngIf="value?.text">
      <span>{{ value.text }}</span>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="true">
    <div class="bootstrap dropdown-editor-dropdown-container">
      <ejs-dropdownlist
        [allowFiltering]="true"
        [dataSource]="options"
        [value]="value.text"
        [filterType]="filterType"
        (change)="itemChange($event)"
        popupWidth="auto"
      >
      </ejs-dropdownlist>
    </div>

  </ng-template>

</ng-container>
