.control-section {
  padding-bottom: 20px;

  #dashboardLayout {
    .e-panel {
      border-radius: 12px;

      .e-panel-container {
        .e-panel-content {
          position: relative;
          overflow: "hidden";
        }
      }
    }
  }
}
