.control-section {
  padding-bottom: 20px;
  
  #dashboardLayout {
    padding: 10px;

    .e-panel {
      border-radius: 12px;

      .e-panel-container {
        padding: 10px;

        .content {
          vertical-align: middle;
          font-weight: 500;
          font-size: 20px;
          text-align: center;
          line-height: 45px;
        }
      }
    }
  }
}
