<ng-container
  [ngTemplateOutlet]="dashboardTemplate"
  [ngTemplateOutletContext]="{
    isLoading: isLoading$ | async,
    panels: panels$ | async,
    selectedWidgets: selectedWidgets$ | async,
    widgets: widgets$ | async,
    widgetsData: widgetsData$ | async,
    timeSelection: timeSelection$ | async,
    allOrganizations: allOrganizations$ | async,
    skills: allOrganizationsSkills$ | async,
    userIsAdmin: userIsAdmin$ | async,
    isDarkTheme: isDarkTheme$ | async,
    isMobile: isMobile$ | async
  }"
></ng-container>

<ng-template
  #dashboardTemplate
  let-isLoading="isLoading"
  let-panels="panels"
  let-selectedWidgets="selectedWidgets"
  let-widgets="widgets"
  let-widgetsData="widgetsData"
  let-timeSelection="timeSelection"
  let-allOrganizations="allOrganizations"
  let-skills="skills"
  let-userIsAdmin="userIsAdmin"
  let-isDarkTheme="isDarkTheme"
  let-isMobile="isMobile"
>
  <app-dashboard-control
    (widgetToggleEmitter)="handleWidgetToggleEvent($event)"
    [isLoading]="isLoading"
    [selectedWidgets]="selectedWidgets"
    [widgets]="widgets"
    [hasOrderManagePermission]="hasOrderManagePermission"
    [hasWidgetPermission]="hasWidgetPermission"
    [hasOrderCreatePermission]="hasOrderCreatePermission"
    [allOrganizations]="allOrganizations"
    [userIsAdmin]="userIsAdmin || userIsAgency"
    [skills]="skills"
    [isMobile]="isMobile"
  ></app-dashboard-control>

  <ng-container [ngTemplateOutlet]="widgetsTemplate" #outlet></ng-container>

  <ng-template #widgetsTemplate>
    <div class="control-section">
      <app-dashboard-widgets
        (dashboardCreatedEmitter)="dashboardCreatedHandler()"
        (dragStopEmitter)="moveDashboardPanel()"
        [isLoading]="isLoading"
        [panels]="panels"
        [UserType]="UserType"
        [widgetsData]="widgetsData"
        [timeSelection]="timeSelection"
        [isDarkTheme]="isDarkTheme"
      ></app-dashboard-widgets>
    </div>
  </ng-template>
</ng-template>
