@import "colors";
@import 'adaptive-response';

.control-section {
  padding-bottom: 20px;
  padding-right: 16px;

  #dashboardLayout {
    #In_Progress_Positions,
    #Open_Positions,
    #Filled_Positions {
      @media #{max-mobile} {
        height: calc(5% - 5px) !important;
      }
    }
    
    .e-holder {
      background-color: $primary-active-blue-90;
      border: 2px dashed $primary-active-blue-20;
      border-radius: 12px;
    }

    .e-panel {
      border-radius: 12px;
      transition: 0.3s;

      .e-panel-container {
        .e-panel-content {
          position: relative;
        }
      }

      &:hover {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      }
    }
  }
}
