@import 'colors';
@import 'adaptive-response';
@import 'mixins';

@mixin smallDesktopMenu {
  .custom-order-btn {
    display: none !important;
  }

  .menu-desktop-small {
    display: inline-block !important;
  }
}

@mixin smallTabletMenu {
  .dialog-controls {
    display: flex !important;
  }

  button:not(.close-button, .menu-mobile, .edit-button),
  .vertical-divider {
    display: none !important;
  }

  .menu-tablet {
    display: inline-block !important;
  }

  .menu-desktop-small {
    display: none !important;
  }
}

.dialog {
  .header-container {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $white;

    .order-statuses {

      &.align-label {
        @media #{$max-mobile} {
          margin-right: -22px;
        }

        @media (max-width: 412px) {
          display: flex;
          justify-content: center;
          width: 100vw;
          margin-left: -22px;
        }
      }
    }
  }
}

.order-tabs {
  position: relative;
  padding-top: 24px;

  span {
    margin-left: 12px;
  }

  &.first-active {
    .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
      left: 0px !important;
      right: 235px !important;
    }
  }

  ::ng-deep {
    .e-tab-header {
      @include stickyTabsPosition(70px);

      @media #{$max-mobile} {
        top: 84px;
        margin-left: -18px;
        width: calc(100% + 36px) !important;
        padding-left: 12px;
      }
    }

    .e-content .e-tab-content {
      overflow-y: auto;
    }
  }
}

.order-statuses {
  display: flex;
  align-items: center;

  ejs-chiplist {
    &:not(.e-chip) {
      flex-wrap: nowrap !important;
    }

    .e-chip {
      &:hover {
        cursor: default;
      }
    }

    .ex-chip {
      width: auto;
      margin-left: 5px;
    }
  }
}

.e-btn.e-primary.delete-button {
  background-color: $supportive-red;
}

.dialog-controls {
  button {
    margin-left: 12px;

    &.edit-button {
      padding-left: 11px;
      padding-right: 11px;

      i-feather {
        margin-left: 0;
      }
    }
  }

  .menu-mobile {
    display: none !important;
  }

  .menu-tablet {
    display: none;
  }

  .menu-desktop-small {
    display: none;
  }

  @media #{$max-desktop-small} {
    .custom-order-btn {
      display: none;
    }

    .menu-desktop-small {
      display: inline-block;
    }
  }

  @media #{$max-tablet} {
    display: flex;

    button:not(.close-button, .menu-mobile, .edit-button),
    .vertical-divider {
      display: none;
    }

    .menu-tablet {
      display: inline-block !important;
    }

    .menu-desktop-small {
      display: none;
    }
  }

  @media (max-width: $tablet-min) {
    display: flex;
    margin-left: -15%;

    button:not(.close-button, .menu-mobile),
    .vertical-divider {
      display: none;
    }

    .menu-mobile {
      display: inline-block !important;
    }

    .menu-tablet {
      display: none !important;
    }
  }

  @media (max-width: 412px) {
    margin-left: -25%;
  }
}

.vertical-divider {
  border-left: 1px solid $secondary-dark-blue-40;
  margin: 0 8px;
  height: 20px;
}

.custom-chip {
  border: 1px solid $secondary-dark-blue-40;
  background: $secondary-dark-blue-50;
  border-radius: 16px;
  padding: 2px 8px;
  font-size: 14px;
}

.order-other-statuses {
  display: flex;
  align-items: center;

  & > span:not(:last-child) {
    margin-right: 8px;
  }
}

.order-actions {
  display: inline-flex;

  .e-btn:first-child {
    margin-left: 0;
  }

  .vertical-divider {
    height: auto;
    margin: 0 0 0 12px;
  }

  .e-primary {
    &:focus {
      background-color: $primary-active-blue-10;

      &:hover {
        background-color: $primary-btn-hover;
      }
    }
  }
}

.extension-grid {
  height: 500px;
  display: block;
}

::ng-deep {
  .container {
    &:has(app-add-edit-reorder) {
      height: calc(100% - 115px);
    }
  }
}

@media #{$min-desktop-small} {
  .order-details-dialog {
    .open-per-diem-order {
      @container main-content (max-width: 1775px) {
        @include smallDesktopMenu();
      }

      @container main-content (max-width: 1142px) {
        @include smallTabletMenu();
      }


      &.open-status {
        @media #{$min-desktop-large} {
          @container main-content (max-width: 1345px) and (min-width: 1107px) {
            @include smallTabletMenu();
          }
        }
      }
    }

    .traveler-order {
      @container main-content (max-width: 1500px) {
        @include smallDesktopMenu();
      }

      @container main-content (max-width: 885px) {
        @include smallTabletMenu();
      }
    }

    .perm-placement,
    .contact-to-perm {
      @container main-content (max-width: 1555px) {
        @include smallDesktopMenu();
      }

      @container main-content (max-width: 945px) {
        @include smallTabletMenu();
      }

      @media #{$min-desktop-large} {
        @container main-content (max-width: 1165px) and (min-width: 1105px) {
          @include smallTabletMenu();
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .dialog-controls button:not(.close-button, .menu-mobile, .edit-button) {
    display: block;
  }
}

@media (max-width: 640px) {
  .dialog-controls button:not(.close-button, .menu-mobile, .edit-button) {
    display: none;
  }
}