@import "colors";
@import 'adaptive-response';

.grid-component {
  height: calc(100% - 10px);

  &.mobile-login-on {
    @media (max-width: 1311px) {
      height: calc(100% - 30px);
    }
  
    @media #{$max-tablet} {
      height: calc(100% - 70px);
    }
  }
}

.actions {
  button {
    background-color: transparent;
  }
}

.input-container {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    color: $secondary-dark-blue-15;
  }
}

.experience-form-dialog {
  &.form-container {
    margin-top: 20px;
  }

  ejs-textbox {
    textarea.e-textbox.e-input {
      height: 100px;
    }
  }
}
