<section class="grid-component">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Experience</h3>
    </div>
    <div class="actions">
      <button ejs-button [disabled]="!areAgencyActionsAllowed || !userPermission[userPermissions.CanEditExperience]" class="action-link" *ngIf="!readonlyMode" (click)="addNew()"><i-feather name="plus" class="icon"></i-feather> Add Experience</button>
    </div>
  </div>
  <ejs-grid #grid class="e-gridwithheader"
            [dataSource]="experiences$ | async"
            [rowHeight]="rowHeight"
            [allowSorting]="allowSorting"
            [allowSelection]="false"
            [pageSettings]="pageSettings"
            [height]="fullScreenGridHeight"
            [enableVirtualization]="false"
            [resizeSettings]="resizeSettings"
            [allowResizing]="allowResizing"
            (dataBound)="dataBound()">
    <e-columns>
      <e-column textAlign="Right" *ngIf="!readonlyMode" maxWidth="50">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" [disabled]="!areAgencyActionsAllowed" (click)="onEdit(data)"><i-feather name="edit" class="icon"></i-feather></button>
            <button ejs-button cssClass="e-flat secondary-icon-button enabled-button" [disabled]="!areAgencyActionsAllowed || !userPermission[userPermissions.CanEditExperience]" (click)="onRemove(data)"><i-feather name="trash-2" class="icon"></i-feather></button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="employer" headerText="Employer" width="320"></e-column>
      <e-column field="jobTitle" headerText="Job Title" width="320"></e-column>
      <e-column headerText="Start Month/Year" width="220" textAlign="Right">
        <ng-template #template let-data>{{data.startDate | date:"MM/yyyy" : "UTC"}}</ng-template>
      </e-column>
      <e-column headerText="End Month/Year" width="220" textAlign="Right">
        <ng-template #template let-data>{{data.endDate | date:"MM/yyyy" : "UTC"}}</ng-template>
      </e-column>
      <e-column field="comments" headerText="Comments" width="520"></e-column>
    </e-columns>
  </ejs-grid>
</section>

<app-side-dialog header="{{ title }} Experience"
                 [disableSaveButton]="!userPermission[userPermissions.CanEditExperience]"
                 (formCancelClicked)="closeDialog()"
                 (formSaveClicked)="saveExperience()">
  <form class="experience-form-dialog form-container bootstrap"
        id="addExperienceForm"
        [formGroup]="experienceForm">
    <div class="input-container">
      <label>Employer<span class="required">*</span></label>
      <div class="input-group">
        <input class="e-input"
               type="text"
               maxlength="100"
               appValidateWithMessage
               formControlName="employer"/>
      </div>
    </div>
    <div class="input-container">
      <label>Job Title<span class="required">*</span></label>
      <div class="input-group">
        <input class="e-input"
               type="text"
               maxlength="20"
               appValidateWithMessage
               formControlName="jobTitle"/>
      </div>
    </div>
    <div class="input-container calendar">
      <label>Start Month/Year<span class="required">*</span></label>
      <div class="input-group datepicker">
        <ejs-datepicker class="datepicker" #startDate
                        format="MM/dd/yyyy"
                        placeholder="MM/DD/YYYY"
                        appValidateWithMessage
                        [enableMask]="true"
                        [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                        (change)="onStartDateChange($event)"
                        formControlName="startDate">
        </ejs-datepicker>
      </div>
    </div>
    <div class="input-container calendar">
      <label>End Month/Year<span class="required">*</span></label>
      <div class="input-group datepicker">
        <ejs-datepicker class="datepicker" #endDate
                        format="MM/dd/yyyy"
                        placeholder="MM/DD/YYYY"
                        appValidateWithMessage
                        [enableMask]="true"
                        [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                        (change)="onEndDateChange($event)"
                        formControlName="endDate">
        </ejs-datepicker>
      </div>
    </div>
    <div class="input-container">
      <label>Comments</label>
      <div class="input-group">
        <input class="e-input"
               type="text"
               maxlength="500"
               appValidateWithMessage
               formControlName="comments"/>
      </div>
    </div>


  </form>
</app-side-dialog>
