@import "colors";

.grid-component {
  height: 100%;
}

.actions {
  button {
    background-color: transparent;
  }
}

.input-container {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    color: $secondary-dark-blue-15;
  }
}

.experience-form-dialog {
  &.form-container {
    margin-top: 20px;
  }

  ejs-textbox {
    textarea.e-textbox.e-input {
      height: 100px;
    }
  }
}
