<div
  *ngIf="cardConfig"
  [style.background]="cardConfig.bgColor"
  class="card-wrapper"
>
  <app-tooltip-container
    [message]="tooltips.orderTooltip"
    [showToolTip]="!!cardConfig.showTitleToolTip"
    position="TopCenter"
  >
    <div class="title">
      <i-feather
        [style.color]="cardConfig.iconColor"
        [name]="cardIconName"
        class="icon"
      ></i-feather>
      <span
        [class.bordered]="dateSchedule.isInDifferentDepartments"
        class="title__text"
      >
      {{ cardTitle }}
    </span>
    </div>
  </app-tooltip-container>

  <div class="time">
    <span class="time__text">{{ firstSchedule.startDate | date: 'HH:mm': 'UTC' }}</span>
    <span class="time__text">-</span>
    <span class="time__text">{{ firstSchedule.endDate | date: 'HH:mm': 'UTC' }}</span>
    <span *ngIf="firstSchedule?.orderMetadata?.orderType === ltaOrder" class="time__text"> L </span>
    <ejs-tooltip
      *ngIf="firstSchedule.scheduleOrderType"
      [content]="firstSchedule.scheduleOrderType"
      position="TopCenter"
      [showTipPointer]="false"
    >
      <span class="time__text">{{ firstSchedule.scheduleOrderType[0] }}</span>
    </ejs-tooltip>
  </div>

  <ejs-tooltip
    *ngIf="tooltips.additionalTooltip"
    [content]="tooltips.additionalTooltip"
    position="TopCenter"
    [showTipPointer]="false"
  >
    <div class="badge">
      +{{ dateSchedule.daySchedules.length - 1 }}
    </div>
  </ejs-tooltip>

</div>
