@import "colors";

::ng-deep {
  & .schedule-custom-tooltip-container {
    margin: 0 !important;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 11px;
    line-height: 16px;
  }
}

:host {
  width: 100%;
  height: 100%;
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.card-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: $secondary-dark-blue-45;
}

.title {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 6px;

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $secondary-dark-blue-15;


    &.bordered {
      padding: 1px 8px;
      border: 1px solid $secondary-dark-blue-40;
      border-radius: 16px;
      background: $secondary-dark-blue-50;
      font-size: 12px;
      color: $black;
    }
  }
}

.time {
  display: flex;
  align-items: center;
  gap: 4px;

  &__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: $black;
  }
}

ejs-tooltip {
  margin-top: auto;
}

.badge {
  padding: 0 4px;
  border: 1px solid $white;
  border-radius: 13px;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  display: inline-flex;
  background: $primary-active-blue-10;
  color: $white;
}
