@import "colors";

.app-accumulation-chart {
  &__component {
      height:100%;
      width:100%;
  }

  &__legend-score {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__legend-Total-score {
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
    width: 90%;
    top: 29%;
    position: absolute;
    text-align: center;
  }

  &__title {
    width: 95%;
  }

  &__tooltip {
    text-align: right;
    width: 5%;
  }
}
