<app-widget-wrapper [title]="chart?.title ?? ''">
  <div class="chart-wrapper">
    <div class="control-section">
      <ejs-accumulationchart
        #pie
        [tooltip]="tooltip"
        [id]="chart?.id"
        [legendSettings]="legendSettings"
        [height]="height"
        [enableAnimation]="false"
      >
        <e-accumulation-series-collection>
          <e-accumulation-series
            [dataSource]="chartData"
            [dataLabel]="datalabel"
            xName="x"
            yName="y"
            [palettes]="palette"
            innerRadius="70%"
            radius="80%"
          >
          </e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
    </div>
    <div class="widget-legend__container">
      <div *ngFor="let legend of chart?.chartData; let idx = index" class="widget-legend__item">
        <div class="widget-legend__item-content">
          <input type="checkbox" checked (change)="onCheckboxChange(idx)" />
          <div [ngClass]="['widget-legend__point', 'point-' + idx]"></div>
          <div [ngClass]="['legend-text']">{{ legend.x }}</div>
        </div>
        <div class="legend-score">{{ legend.y }}</div>
      </div>
    </div>
  </div>
</app-widget-wrapper>
