@import "colors";

.app-accumulation-chart {
  &__component {
    aspect-ratio: 1.1;
  }

  &__legend-score {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__legend-Total-score {
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
    width: 50%;
    top: 40%;
    position: absolute;
    text-align: center;
  }
}
