<app-widget-header [title]="chartData.title"></app-widget-header>
<div class="chart-wrapper">
  
  <div class="control-section">
    <div class="donut-chart">
      <div class="chart-title">
        <h3 class="title">{{ chartData.candidates }}</h3>
        <h4 class="sub-title">
          Total
          <span class="score" [ngClass]="{ 'indicator-drop': chartData.progress < 0 }">
            <span class="e-icons e-plus" *ngIf="chartData.progress > 0"></span>
            <span class="sign-minus" *ngIf="chartData.progress < 0">&#8722;</span>
            <span>{{ chartData.score }}</span>
            <span class="e-icons e-arrow-right-up"></span>
          </span>
        </h4>
      </div>
      <ejs-accumulationchart
        [tooltip]="tooltip"
        [id]="chartData.id"
        #pie
        class="chart"
        [legendSettings]="legendSettings"
        [height]="height"
        (pointClick)="pointClick($event)"
        (legendClick)="clickD($event)"
        (chartMouseClick)="chartMouseClick($event)"
        [enableAnimation]="false"
      >
        <e-accumulation-series-collection>
          <e-accumulation-series
            name="Revenue"
            [dataSource]="chartData.chartData"
            [dataLabel]="datalabel"
            xName="x"
            yName="y"
            [palettes]="palette"
            legendShape="Circle"
            innerRadius="70%"
            radius="80%"
          >
          </e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
    </div>
  </div>
</div>
