<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog order-details-dialog"
  [target]="targetElement"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container preview-dialog">
      <section class="header-container">
        <div class="e-card-header preview-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title preview-title">
              Position ID {{ order?.organizationPrefix }}-{{ order?.publicId }}-{{ candidate?.positionId }}
            </h3>
            <div class="order-statuses">
              <ejs-chiplist #chipList class="events-off" *ngIf="candidate?.orderStatus">
                <e-chips>
                  <e-chip
                    [text]="orderStatusText[candidate.orderStatus]"
                    [cssClass]="orderStatusText[candidate.orderStatus] | chipsCssClass"
                  ></e-chip>
                </e-chips>
              </ejs-chiplist>
            </div>
          </div>
          <div class="e-card-content dialog-controls">
            <app-button
              *ngIf="showAddExtension"
              (clickEmitter)="showExtensionDialog()"
              [type]="buttonTypeEnum.OUTLINED"
              [disabled]="disableAddExtension"
              text="Add Extension"
            ></app-button>
            <button
              ejs-button
              cssClass="e-outline"
              *ngIf="showCloseOrder"
              [disabled]="disabledCloseButton || !canCloseOrder"
              (click)="closeOrder(order)"
            >
              Close Position
            </button>
            <button ejs-button cssClass="e-outline" *ngIf="canReOpen" (click)="reOpenPosition()">Re-Open</button>

            <button
              *ngIf="mobileMenu.length"
              ejs-dropdownbutton
              [items]="mobileMenu"
              (select)="onMobileMenuSelect($event)"
              iconCss="e-icons"
              cssClass="e-caret-hide primary-icon-button menu-mobile"
            >
              <i-feather name="more-vertical" class="icon"></i-feather>
            </button>

            <button ejs-button type="submit" cssClass="e-flat close-button" (click)="onClose()">
              <i-feather name="x" class="icon"></i-feather>
            </button>
          </div>
        </div>
      </section>
      <div class="order-tabs">
        <ejs-tab #tab (selecting)="onTabSelecting($event)" (created)="onTabCreated()">
          <e-tabitems>
            <e-tabitem>
              <ng-template #headerText>{{isReorderType ? 'Re-Order Details' : 'Order Details'}}</ng-template>
              <ng-template #content>
                <section class="order-details" *ngIf="selectedOrder$ | async as currentOrder">
                  <section class="job-details" [ngSwitch]="currentOrder?.orderType">
                    <app-general-order-per-diem-info *ngSwitchCase="orderType.OpenPerDiem"
                      [orderInformation]="currentOrder" [system]="activeSystem"></app-general-order-per-diem-info>
                    <app-general-reorder-info *ngSwitchCase="orderType.ReOrder"
                      [orderInformation]="currentOrder" [system]="activeSystem"></app-general-reorder-info>
                    <app-general-order-info *ngSwitchDefault [orderInformation]="currentOrder"
                      [system]="activeSystem"></app-general-order-info>
                  </section>
                  <hr />
                  <ng-container *ngIf="isClosedOrder">
                    <app-order-close-reason-info
                      [candidate]="candidateJob || candidate"
                      [orderInformation]="currentOrder"
                    >
                    </app-order-close-reason-info>
                    <hr />
                  </ng-container>
                  <app-order-details
                    [isPosition]="true"
                    [currentOrder]="currentOrder"
                    [jobId]="candidateJob?.jobId!"
                  ></app-order-details>
                </section>
              </ng-template>
            </e-tabitem>

            <e-tabitem>
              <ng-template #headerText>Candidate</ng-template>
              <ng-template #content>
                <hr />
                <section class="candidate">
                  <ng-container [ngSwitch]="selectedTemplate" *ngIf="!order?.extensionFromId; else extensionCandidate">
                    <ng-container *ngSwitchCase="template.onboarded">
                      <app-onboarded-candidate
                        *ngIf="!isReorderType"
                        [candidate]="$any(candidate)"
                        [isTab]="true"
                        appUnsavedForm
                        (closeModalEvent)="onClose()"
                        [orderDuration]="(selectedOrder$ | async)?.duration!"
                        [actionsAllowed]="agencyActionsAllowed"
                        [deployedCandidateOrderInfo]="(deployedCandidateOrderInfo$ | async) ?? []"
                        [order]="order"
                      ></app-onboarded-candidate>
                      <section *ngIf="isReorderType">
                        <ng-container *ngTemplateOutlet="acceptFormSection"></ng-container>
                      </section>
                    </ng-container>

                    <ng-container *ngSwitchCase="template.accept">
                      <app-accept-candidate
                        *ngIf="!isReorderType"
                        [candidate]="$any(candidate)"
                        [isTab]="true"
                        (closeModalEvent)="onClose()"
                        [isAgency]="isAgency"
                        [actionsAllowed]="agencyActionsAllowed && userPermission[userPermissions.CanAgencyMatchOrders]"
                        [deployedCandidateOrderInfo]="(deployedCandidateOrderInfo$ | async) ?? []"
                        [order]="order"
                      ></app-accept-candidate>
                      <section *ngIf="isReorderType">
                        <ng-container *ngTemplateOutlet="acceptFormSection"></ng-container>
                      </section>
                    </ng-container>

                    <ng-container *ngSwitchCase="template.apply">
                      <app-apply-candidate
                        [billRatesData]="$any((selectedOrder$ | async)?.billRates)"
                        [candidate]="$any(candidate)"
                        [order]="$any(selectedOrder$ | async)"
                        [isTab]="true"
                        [actionsAllowed]="agencyActionsAllowed && userPermission[userPermissions.CanAgencyMatchOrders]"
                        [deployedCandidateOrderInfo]="(deployedCandidateOrderInfo$ | async) ?? []"
                        [order]="order"
                      >
                      </app-apply-candidate>
                    </ng-container>

                    <ng-container *ngSwitchCase="template.offerDeployment">
                      <app-offer-deployment
                        [candidate]="$any(candidate)"
                        [isTab]="true"
                        [actionsAllowed]="agencyActionsAllowed"
                        [deployedCandidateOrderInfo]="(deployedCandidateOrderInfo$ | async) ?? []"
                        [order]="order"
                      ></app-offer-deployment>
                    </ng-container>

                    <div *ngSwitchDefault></div>
                  </ng-container>

                  <ng-template #extensionCandidate>
                    <section class="container onboarded-candidate-container">
                      <app-extension-candidate
                        [isTab]="true"
                        appUnsavedForm
                        [dialogEvent]="$any(openEvent)"
                        [actionsAllowed]="agencyActionsAllowed && userPermission[userPermissions.CanAgencyMatchOrders]"
                        [currentOrder]="order"
                      >
                      </app-extension-candidate>
                    </section>
                  </ng-template>
                </section>
              </ng-template>
            </e-tabitem>

            <e-tabitem *ngIf="order?.orderType === orderType.ContractToPerm || order?.orderType === orderType.Traveler">
              <ng-template #headerText>Extensions</ng-template>
              <ng-template #content>
                <section class="order-details" *ngIf="selectedOrder$ | async as currentOrder">
                  <section class="job-details">
                    <app-general-order-info [orderInformation]="currentOrder"></app-general-order-info>
                  </section>
                  <hr />
                  <app-extension-grid [data]="extensions" class="extension-grid"></app-extension-grid>
                </section>
              </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
      </div>
    </section>
  </ng-template>
</ejs-dialog>

<ejs-dialog
  id="extension-sidebar"
  #extensionSidebar
  cssClass="dialog"
  width="45%"
  [target]="targetElement"
  [visible]="isExtensionSidebarShown"
  [animationSettings]="{ effect: 'SlideRight' }"
  [isModal]="true"
>
  <ng-template #content>
    <section class="container preview-dialog">
      <section class="header-container">
        <div class="e-card-header preview-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title preview-title">Add Extension</h3>
          </div>
          <div class="e-card-content dialog-controls">
            <app-button
              (clickEmitter)="closeExtensionSidebar()"
              [type]="buttonTypeEnum.OUTLINED"
              text="Cancel"
            ></app-button>
            <app-button
              (clickEmitter)="saveExtension()"
              [type]="buttonTypeEnum.PRIMARY"
              [disabled]="candidate?.orderStatus === orderStatus.InProgressOfferAccepted"
              text="Save"
            ></app-button>
          </div>
        </div>
      </section>
    </section>
    <div class="extension-sidebar">
      <app-extension-sidebar
        *ngIf="isExtensionSidebarShown"
        [candidateJob]="candidateJob!"
        [orderPosition]="candidate"
        (saveEmitter)="updateGrid()"
      ></app-extension-sidebar>
    </div>
  </ng-template>
</ejs-dialog>

<ng-template #acceptFormSection>
  <section class="container onboarded-candidate-container">
    <section class="header-container">
      <div class="e-card-header">
        <div class="e-card-header-caption candidate-status">
          <h3 class="e-card-title candidate-title">{{ candidate?.lastName }}, {{ candidate?.firstName }}</h3>
          <ejs-chiplist *ngIf="candidate?.candidateStatus" [text]="candidateStatus[candidate.candidateStatus]">
            <e-chips>
              <e-chip [cssClass]="candidateStatus[candidate.candidateStatus] | chipsCssClass"></e-chip>
            </e-chips>
          </ejs-chiplist>
        </div>
        <div class="e-card-content button-container" *ngIf="isOnboard && !isAgency">
          <div class="input-group dropdown bootstrap input-readonly">
            <ejs-dropdownlist
              [allowFiltering]="true"
              [fields]="optionFields"
              [formControl]="jobStatusControl"
              [dataSource]="nextApplicantStatuses"
              [itemTemplate]="itemTemplate"
              placeholder="Select Status"
              (select)="onStatusChange($event)"
            >
              <ng-template #itemTemplate let-data>
                <span [ngClass]="{ 'disabled-item': !data.isEnabled }">{{ data.statusText }}</span>
              </ng-template>
            </ejs-dropdownlist>
          </div>
          <button ejs-button cssClass="e-primary save-button" (click)="onSave()">
            Save
          </button>
        </div>
      </div>
    </section>
    <section class="content-container">
      <div class="job-details">
        <ejs-accordion #accordionElement expandMode="Single" openFirstAccordion>
          <e-accordionitems>
            <e-accordionitem expanded="true">
              <ng-template #header>
                <div>Job Details</div>
              </ng-template>
              <ng-template #content>
                <app-accept-form
                  [formGroup]="acceptForm"
                  [status]="$any(candidateJob?.applicantStatus?.applicantStatus)"
                ></app-accept-form>
              </ng-template>
            </e-accordionitem>
            <e-accordionitem>
              <ng-template #header>
                <div>Historical Events</div>
              </ng-template>
              <ng-template #content>
                <app-historical-events
                  [organizationId]="candidateJob?.organizationId!"
                  [candidateJobId]="candidate.jobId"
                  [candidateId]="candidate.candidateId"
                  [isAgency]="isAgency"
                ></app-historical-events>
              </ng-template>
            </e-accordionitem>
          </e-accordionitems>
        </ejs-accordion>
      </div>
      <div class="comments">
        <app-comments
          *ngIf="candidateJob"
          [comments]="comments"
          [commentContainerId]="candidateJob.commentContainerId || 0"
        ></app-comments>
      </div>
    </section>

    <section class="bill-rates">
      <ng-container [ngTemplateOutlet]="isCancelled ? billRates : editBillRates"></ng-container>
      <ng-template #billRates>
        <app-bill-rates-view-grid [billRatesData]="candidateJob?.billRates || []"></app-bill-rates-view-grid>
      </ng-template>
      <ng-template #editBillRates>
        <app-bill-rates
          [billRates]="candidateJob?.billRates || []"
          [isActive]="true"
          (billRatesChanged)="onBillRatesChanged($event)"
        >
        </app-bill-rates>
      </ng-template>
    </section>
  </section>
</ng-template>

<app-candidate-cancellation-dialog
  [openEvent]="openCandidateCancellationDialog"
  [orderType]="candidateJob?.order?.orderType"
  [candidateJob]="candidateJob"
  (submitCandidateCancellation)="cancelCandidate($event)"
  (cancelCandidateCancellation)="resetStatusesFormControl()"
></app-candidate-cancellation-dialog>
