@import 'colors';
@import 'adaptive-response';
@import 'mixins';

.dialog {
  .header-container {
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: $white;
  }
}

.order-tabs {
  position: relative;
  padding-top: 24px;

  span {
    margin-left: 12px;
  }

  &.first-active {
    .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
      left: 114px !important;
      right: 109px !important;
    }
  }

  ::ng-deep {
    .e-tab-header {
      @include stickyTabsPosition(70px);

      @media #{$max-mobile} {
        top: 86px;
        margin-left: -18px;
        width: calc(100% + 36px) !important;
      }
    }

    .e-content .e-tab-content {
      overflow-y: auto;
    }
  }
}

.order-tabs span {
  margin-left: 0 !important;
}

.button-container {
  display: flex;

  .save-button {
    margin-left: 12px;
  }
}

.preview-dialog {
  .preview-header {
    align-items: start !important;
  }

  .preview-title {
    margin: 0;
  }

  ejs-chiplist {
    padding-left: 0;
  }
}

.order-statuses {
  display: flex;
  align-items: center;
}

.vertical-divider {
  border-left: 1px solid $secondary-dark-blue-40;
  margin: 0 8px;
  height: 20px;
}

.custom-chip {
  border: 1px solid $secondary-dark-blue-40;
  background: $secondary-dark-blue-50;
  border-radius: 16px;
  padding: 0 8px;
  font-size: 14px;
}

.order-other-statuses {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 8px;
  }
}

.order-details {
  margin-top: 24px;
}

.candidate {
  margin-left: -20px;
  margin-right: -20px;
}

ejs-chiplist.e-control.e-chip-list .e-chip {
  min-width: 112px;
  width: auto;
}

.dialog-controls {
  .menu-mobile {
    display: none !important;
  }

  button, app-button {
    margin-left: 12px;
  }

  @media (max-width: $tablet-min) {
    display: flex;
    
    button:not(.close-button, .menu-mobile), app-button {
      display: none;
    }

    .menu-mobile {
      display: inline-block !important;
    }
  }
}

.onboarded-candidate-container {
  .content-container {
    display: flex;
    margin-top: 24px;

    .job-details {
      margin-right: 12px;
      width: 55%;

      .input-container, .dropdown-container, .datepicker-container {
        margin-bottom: 12px;
        flex: 1 1 0px;
      }

      .input-group.input-readonly {
        .e-input[readonly], ejs-daterangepicker .e-input-group, ejs-datepicker .e-input-group {
          background-color: $secondary-dark-blue-50;
          color: $secondary-dark-blue-30;
          border: 1px solid $secondary-dark-blue-40 !important;
        }
      }

      .d-flex {
        display: flex;
        gap: 10px;

        .f-grow-2 {
          flex-grow: 2;
        }
      }
    }

    .comments {
      width: 45%;
      background-color: $secondary-dark-blue-50;
      height: 580px;
    }
  }

  .bill-rates {
    margin-top: 16px;
  }
}

.candidate-status {
  display: flex;
  align-items: center;
}

.extension-sidebar {
  padding: 0 20px;
}

.extension-grid {
  height: 500px;
  display: block;
}
