@import 'colors';
@import 'adaptive-response';

.e-switch-wrapper {
  height: 14px !important;
  width: 34px !important;
}

.e-switch-handle {
  height: 20px !important;
  width: 20px !important;
}

.button-group {
  width: auto;
  display: flex;
  align-items: center;
  button {
    margin-right: 12px;
  }
  label {
    margin-right: 24px;
  }
}

.tabs {
  margin-bottom: 15px;
}

.switch-text {
  color: $secondary-dark-blue-30;
}

.grid-component {
  &__irp {
    height: calc(100% - 155px);
  }

  &__vms {
    height: calc(100% - 200px);
  }
}

@media #{$max-desktop-small} {
  ::ng-deep {
    app-page-toolbar {
      .controls-container {
        flex-direction: row;

        .right-content {
          margin-top: 0;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media #{$max-mobile} {
  button.e-control.e-btn {
    padding: 8px 12px;
  }

  ::ng-deep {
    app-page-toolbar {
      .controls-container {
        padding: 16px 0 0;

        .right-content {
          flex-direction: row;
        }
      }
    }
  }
}
