@import "colors";

.flex-column {
  h3 {
    margin: 8px;
  }

  .tools-button-group {
    padding-top: 4px;

    .button-filter {
      margin-right: 12px;
    }
  }

  ejs-grid {
    table.e-table {
      width: 100% !important;
    }
  }

  .grid-component {
    overflow-y: auto;
    height: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

}

.reason-form {
  margin-top: 24px;
}

