<ejs-dialog
  #sideDialog
  cssClass="dialog"
  [width]="'434px'"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{ title }}</h3>
          </div>
          <div  class="e-card-content">
            <button
              ejs-button
              cssClass="e-outline button-cancel"
              (click)="closeDialog()"
              >Cancel</button>
            <button
              ejs-button
              type="submit"
              [isPrimary]="true"
              [disabled]="permission"
              (click)="saveTiers()"
              >Save</button>
          </div>
        </div>
      </section>
      <div class="form" *ngIf="tierForm">
        <form [formGroup]="tierForm" class="tier-form-dialog">
          <ng-container *ngFor="let field of dialogConfig?.fields; trackBy:trackByIndex">
            <ng-container [ngSwitch]="field.type">

              <ng-template [ngSwitchCase]="FieldTypes.Input">
                <div class="input-container bootstrap">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <input
                      class="e-input"
                      [name]="field.field"
                      appValidateWithMessage
                      [formControlName]="field.field"
                    />
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Number">
                <div class="input-container bootstrap">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <ejs-numerictextbox
                      class="numeric-input"
                      appValidateWithMessage
                      min="0"
                      format="0"
                      id="numOfHours"
                      [formControlName]="field.field"
                      [showSpinButton]="false"
                    >
                    </ejs-numerictextbox>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.MultiSelectDropdown">
                <div class="input-container">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="dropdown-wrapper">
                    <div class="input-group bootstrap">
                      <ejs-multiselect
                        appValidateWithMessage
                        selectAllText="Select All"
                        mode="CheckBox"
                        [dataSource]="field.dataSource"
                        [fields]="optionFields"
                        [showSelectAll]="!field.showAllToggle"
                        [allowFiltering]="true"
                        [showDropDownIcon]="true"
                        [formControlName]="field.field"
                        [query]="field.customFiltering ? query : noValue"
                        (filtering)="field.customFiltering ? onDepartmentsFiltering($event) : noValue"
                      >
                      </ejs-multiselect>
                    </div>
                    <div class="switch" *ngIf="field.showAllToggle">
                      <ejs-switch
                        [name]="'all' + field.field"
                        [checked]="getToggleValue(field.field)"
                        (change)="allRecordsChange($event, field.field)"
                        label="All"
                      ></ejs-switch>
                      <label [for]="'all' + field.field" class="switch-text">All</label>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.Dropdown">
                <div class="input-container bootstrap">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      appValidateWithMessage
                      [formControlName]="field.field"
                      [allowFiltering]="true"
                      [fields]="optionFields"
                      [dataSource]="field.dataSource"
                    ></ejs-dropdownlist>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldTypes.RadioButton">
                <div class="input-container bootstrap">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <div class="control-block" *ngFor="let radiobtn of field?.radiobuttons">
                      <ejs-radiobutton [formControlName]="radiobtn.title" name="radiobtn.title" label= {{radiobtn.title}}></ejs-radiobutton>
                    </div>
                  </div>
                </div>
              </ng-template>

            </ng-container>
          </ng-container>
        </form>
      </div>
      <ng-container *ngIf="isTierSettingsDialog">
        <div class="message">
            Please note: Priority is assigned by default. You can change priority using drag & drop on the Tier grid.
        </div>
      </ng-container>
    </section>
  </ng-template>
</ejs-dialog>
