.tier-form-dialog {
  margin-top: 20px;

  .input-group {
    margin-top: 5px;
  }

  .input-container {
    margin-bottom: 15px;
  }

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-wrapper {
    display: flex;

    .input-group {
      width: 100%;
      margin-right: 12px;
    }
  }
}

.message {
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: start;
}
.d_flex{
  display: flex;
}
.pt_30{
  padding: 0px 30px 0px 0px;
}