<section class="table-container">
  <div class="table-block">
    <div class="table-header">

      <div [ngClass]="{ 'first-tab': isFirstSelected}" class="tab-wrapper">
        <ejs-tab id="tab_default" #tabs (selected)="onTabSelect($event)">
          <e-tabitems>
            <e-tabitem *ngFor="let tab of tabsConfig; trackBy: trackByIndex">
              <ng-template #headerText >
                <div >{{ tab.title }}</div>
              </ng-template>
              <ng-template #content>
              </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
      </div>

      <button
        *ngIf="currentTab !== tableTypes.Expenses"
        class="add-action spaced"
        cssClass="e-action-button"
        ejs-button
        (click)="openAddDialog()"
        [disabled]="actionsDisabled"
      >
        <i-feather name="plus" class="icon"></i-feather> Add Record
      </button>
      <ng-container *ngIf="recordsToShow?.[currentTab]?.length || isEditOn">
        <button
          *ngIf="!isEditOn; else editHandlers"
          [disabled]="actionsDisabled"
          (click)="editTimesheets()"
          ejs-button
          cssClass="e-action-button"
          class="add-action">
          <i-feather name="edit" class="icon"></i-feather>
          Edit
        </button>
      </ng-container>

      <ng-template #editHandlers>
        <button ejs-button cssClass="e-outline button-cancel" (click)="cancelChanges()">Cancel</button>
        <button (click)="saveChanges()" ejs-button [isPrimary]="true" [disabled]="actionsDisabled">Save</button>
      </ng-template>
    </div>

    <div class="timesheet-table-container">
      <ag-grid-angular #grid
        *ngIf="recordsToShow"
        [columnDefs]="timesheetColDef"
        [rowData]="recordsToShow[currentTab]"
        [context]="context"
        [rowHeight]="64"
        [modules]="modules"
        [pagination]="false"
        (gridReady)="onGridReady($event)"
        class="ag-theme-alpine app-grid__component"
        >
      </ag-grid-angular>
    </div>
  </div>
</section>

