<section class="table-container">
  <div class="table-block">
    <div class="table-header">

      <ejs-tab #tabs (selecting)="selectTab($event)"></ejs-tab>

      <button class="add-action spaced">+ Add Record</button>
      <button
        *ngIf="!isEditOn; else editHandlers"
        (click)="editTimesheets()"
        class="add-action">
        <i-feather name="edit" class="icon"></i-feather>
        Edit
      </button>

      <ng-template #editHandlers>
        <button ejs-button cssClass="e-outline button-cancel" (click)="cancelChanges()">Cancel</button>
        <button (click)="saveChanges()" ejs-button [isPrimary]="true">Save</button>
      </ng-template>
    </div>

    <div class="timesheet-table-container">
      <ag-grid-angular #grid
        [columnDefs]="timesheetColDef"
        [rowData]="(timesheetRecords$ | async)?.timeRecords"
        [rowHeight]="64"
        [modules]="modules"
        [pagination]="false"
        [readOnlyEdit]="true"
        (gridReady)="onGridReady($event)"
        class="ag-theme-alpine app-grid__component"
        >
      </ag-grid-angular>
    </div>
  </div>
</section>

