@import "colors.scss";
@import "mixins";
@import "adaptive-response";
@import "@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "@ag-grid-community/core/dist/styles/ag-theme-alpine";

.table-container {
  margin-bottom: 25px;
}

.table-block {
  display: flex;
  flex-direction: column;

  .mobile-btn-group {
    display: none;
  }
}

.table-header {
  @include table-header;

  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
  }

  .button-cancel {
    margin-right: 12px;

    &.spaced {
      margin-left: auto;
    }
  }
}

.add-action {
  color: $primary-active-blue-10;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background: transparent;
  cursor: pointer;

  &.spaced {
    width: 135px;
    margin-left: auto;
    margin-right: 10px;
  }

  &.adaptive-btn {
    width: 60px;
  }

  &.no-right-space {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-right: 0;
  }
}

.timesheet-table-container {
  height: auto;
}

::ng-deep {
  .align-right {
    text-align: right;
  }

  .custom-wrap {
    .ag-header-cell-text {
      white-space: pre-wrap;
    }
  }

  .ag-center-cols-clipper,
  .ag-center-cols-container {
    min-height: 64px;
  }

  .ag-overlay-no-rows-wrapper {
    margin-top: 24px;
  }

  .ag-cell-focus,
  .ag-cell {
    border: none !important;
  }

  .ag-cell-value {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .common-cell {
    padding-left: 17px !important;
    padding-right: 17px !important;
    text-align: right;
  }

  .custom-scroll {
    overflow-y: auto;
  }
}

.first-tab {
  .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
    left: 0px !important;
    right: 151px !important;
  }
}

button.privilege {
  margin-left: 12px;
}

.action-buttons {
  display: flex;
}

::ng-deep {
  .spinner-btn {
    width: 81px !important;
    height: 40px !important;
    display: block;
    padding: 0 !important;

    .spinner-container {
      height: 40px;
    }

    .e-spinner-pane.e-spin-show {
      position: static !important;
      align-items: center;
    }
    .e-spinner-inner {
      position: static !important;
      left: 0 !important;
      transform: none !important;
      top: 0 !important;

      svg {
        stroke: #fff !important;
      }
    }
  }
}

.small-tablet {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;

  .btn-group {
    .spinner-btn {
      width: 100px !important;
    }

    .privilege {
      width: 100px;
      margin: 0;
    }

    > *:not(:first-child) {
      margin-left: 16px;
    }
  }

  .add-action {
    &.spaced {
      width: auto;
      margin: 0;
    }
  }
}

.middle-tablet {
  .action-text {
    display: none;
  }

  .add-action {
    &.spaced {
      width: auto;
      margin: 0;
    }
  }

  button.e-btn.e-control.e-action-button {
    width: 40px;
    padding: 8px 8px 8px 3px;
  }
}

@media #{$max-mobile} {
  .table-block {
    .btn-group {
      .privilege {
        min-width: 38vw;
        margin: 0;
      }
    }
  }

  .desktop-tablet-btn-group {
    display: none;
  }
}
