@import 'colors.scss';

.workflow-details {
  width: 100%;

  .e-card-title {
    color: $pure-black;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
  }

  .e-card {
    padding: 16px;

    &.group {
      display: flex;
      flex-direction: row;

      .input-container {
        width: 100%;
      }

      .with-padding {
        padding-left: 12px;
      }

      &.child {
        width: calc(100% - 52px);
        margin-left: 52px;
        margin-top: 12px;

        .remove-custom-step-button {
          display: flex;
          align-items: flex-end;

          button.e-control.e-btn {
            i-feather {
              margin: 0;
            }
          }

          .default-icon-button {
            width: 40px;
            height: 40px;
            border: 1px solid $supportive-red;;
            border-radius: 8px;
            color: $supportive-red;
            background-color: var(--bg-steper);

            &.e-active,
            &:focus {
              color: $supportive-red-20;
              border-color: $supportive-red-20;
            }

            &:hover {
              color: $supportive-red-20;
              border-color: $supportive-red-20;
            }
          }
        }
      }
    }

    .input-container {
      &:disabled {
        border-color: var(--input-border-color) !important;
      }

      .e-input {
        border-color: var(--input-border-color);

        &:hover,
        &:focus {
          border: 1px solid $primary-active-blue-10 !important;
        }
      }

      .input-group.input-readonly {
        .e-input[readonly] {
          background-color: var(--bg-input-field-disabled);
          color: $secondary-dark-blue-10;
          border-color: var(--input-border-color);

          &:hover,
          &:focus {
            border: 1px solid var(--input-border-color) !important;
          }
        }
      }
    }
  }
}

.button-container {
  padding: 12px;
}

.card-with-top-margin {
  margin-top: 24px;
}
