@import 'colors';
@import 'adaptive-response';
@import 'mixins';

:host {
  overflow-y: auto;
}

.container {

  .header-container {
    .button-container {
      display: flex;
      gap: 12px;

      @media (max-width: $tablet-min) {
        button:not(.close-button),
        .dropdown {
          display: none;
        }
      }
    }
  }

  .deployed-icon{
    color: $primary-active-blue;
  }

  .apply-button {
    margin-right: 8px;
  }

  .content-container {
    display: flex;
    margin-top: 24px;

    .job-details {
      margin-right: 12px;
      width: 55%;

      .input-container, .dropdown-container, .datepicker-container {
        margin-bottom: 12px;
        flex: 1 1 0px;
      }

      .input-group.input-readonly {
        .e-input[readonly], ejs-daterangepicker .e-input-group, ejs-datepicker .e-input-group {
          background-color: $secondary-dark-blue-50;
          color: $secondary-dark-blue-30;
          border: 1px solid $secondary-dark-blue-40 !important;
        }
      }

      .d-flex {
        display: flex;
        gap: 10px;

        .f-grow-2 {
          flex-grow: 2;
        }
      }
    }

    .comments {
      width: 45%;
      background-color: $secondary-dark-blue-50;
      border-radius: 8px;
    }

    @media (max-width: $tablet-min) {
      flex-direction: column;
      .job-details {
        width: 100%;
      }

      .comments {
        width: 100%;
        margin-top: 16px;
      }
    }
  }

  .bill-rates {
    margin-top: 16px;
  }

  .warning-deployed-candidate {
    color: $supportive-red-00;
    padding: 15px 5px 5px;
    font-size: 1rem;
  }
}

.candidat-status {
  display: flex;
  align-items: center;
}

.mobile-actions {
  padding: 12px 16px 8px;
  display: none;

  .dropdown {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 0 !important;

    &:not(:first-child) {
      margin-left: 16px !important;
    }
  }

  @media (max-width: $tablet-min) {
    display: flex;
  }
}

.mobile {
  display: none;

  @media (max-width: $tablet-min) {
    display: block;
  }
}

.candidate-message {
  @include candidateMessage;
}
