<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog candidate-dialog"
  [target]="targetElement"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption candidat-status">
            <h3 class="e-card-title candidate-title">
              {{ candidate?.lastName }}, {{ candidate?.firstName }}
            </h3>
          </div>
          <div class="e-card-content button-container">
            <div class="input-group dropdown bootstrap input-readonly" *ngIf="isBillRatePending">
              <ejs-dropdownlist
                [allowFiltering]="true"
                [fields]="optionFields"
                [formControl]="jobStatusControl"
                [disabled]="!actionsAllowed"
                [dataSource]="jobStatus$ | async"
                [itemTemplate]="itemTemplate"
                placeholder="Select Status"
              >
                <ng-template #itemTemplate let-data>
                  <span [ngClass]="{'disabled-item': !data.isEnabled}">{{data.statusText}}</span>
                </ng-template>
              </ejs-dropdownlist>
            </div>
            <button ejs-button class="e-outline" [disabled]="!actionsAllowed"
              (click)="onReject()" *ngIf="isOfferedBillRate">Reject</button>
            <button ejs-button [isPrimary]="true" class="apply-button"
              [disabled]="!actionsAllowed" (click)="onAccept()" *ngIf="showAccept">Accept</button>
            <button
              *ngIf="isBillRatePending && !isOfferedBillRate && !showAccept"
              ejs-button
              [isPrimary]="true"
              (click)="savePosition()"
            >Save</button>
            <button *ngIf="!isTab" ejs-button cssClass="e-flat close-button" (click)="onCloseDialog()">
              <i-feather name="x" class="icon"></i-feather>
            </button>

          </div>
        </div>
      </section>
      <section class="content-container">
        <div class="job-details">
          <ejs-accordion
            #accordionElement
            expandMode="Single"
            appOpenFirstAccordion
          >
            <e-accordionitems>
              <e-accordionitem expanded="true">
                <ng-template #header>
                  <div>Job Details</div>
                </ng-template>
                <ng-template #content>
                  <app-accept-form
                    [formGroup]="acceptForm"
                    [status]="currentCandidateApplicantStatus"
                    [isAgency]="isAgency"
                    [isCandidatePayRateVisible]="isCandidatePayRateVisible"
                    [isReorder]="true"
                  ></app-accept-form>
                </ng-template>
              </e-accordionitem>
              <e-accordionitem>
                <ng-template #header>
                  <div>Historical Events</div>
                </ng-template>
                <ng-template #content>
                  <app-historical-events [organizationId]="orderCandidateJob?.organizationId!" [candidateJobId]="candidate.candidateJobId" [candidateId]="candidate.candidateId" [isAgency]="isAgency"></app-historical-events>
                </ng-template>
              </e-accordionitem>
            </e-accordionitems>
          </ejs-accordion>
        </div>
        <div class="comments">
          <app-comments></app-comments>
        </div>
      </section>

      <section class="bill-rates">
        <app-bill-rates-view-grid
          *ngIf="billRatesViewMode; else editBlock"
          [billRatesData]="orderCandidateJob?.billRates || []"
        ></app-bill-rates-view-grid>
        <ng-template #editBlock>
          <app-bill-rates
            *ngIf="!isAgency"
            [billRates]="orderCandidateJob?.billRates || []"
            [isActive]="isActiveCandidateDialog$ | async"
            [readOnlyMode]="isRejectCandidate || (!canShortlist && !canInterview && !canReject && !canOffer && !canOnboard)"
            (billRatesChanged)="updateOrganizationCandidateJobWithBillRate($event)">
          </app-bill-rates>
        </ng-template>
      </section>
    </section>
  </ng-template>

  <ng-template #footerTemplate>
    <ng-container *ngIf="isBillRatePending || isOfferedBillRate || showAccept">
      <div class="mobile-actions">
        <div class="input-group dropdown bootstrap input-readonly" *ngIf="isBillRatePending">
          <ejs-dropdownlist
            [allowFiltering]="true"
            [fields]="optionFields"
            [formControl]="jobStatusControl"
            [dataSource]="jobStatus$ | async"
            [itemTemplate]="itemTemplate"
            placeholder="Select Status"
            [disabled]="!actionsAllowed"
            (change)="onJobStatusChange($event)"
          >
            <ng-template #itemTemplate let-data>
              <span [ngClass]="{'disabled-item': !data.isEnabled}">{{data.statusText}}</span>
            </ng-template>
          </ejs-dropdownlist>
        </div>
        <app-tooltip-container [showToolTip]="!actionsAllowed">
          <button ejs-button class="e-outline"
                  [disabled]="!actionsAllowed" (click)="onReject()" *ngIf="isOfferedBillRate">Reject</button>
        </app-tooltip-container>
        <app-tooltip-container [showToolTip]="!actionsAllowed">
          <button ejs-button [isPrimary]="true" class="apply-button"
                  [disabled]="!actionsAllowed" (click)="onAccept()" *ngIf="showAccept">Accept</button>
        </app-tooltip-container>
      </div>
      <hr class="mobile" />
    </ng-container>
    <app-dialog-next-previous
      title="Candidate"
      [options]="dialogNextPreviousOption"
      (nextEvent)="onNextPreviousOrder(true)"
      (previousEvent)="onNextPreviousOrder(false)"
    ></app-dialog-next-previous>
  </ng-template>
</ejs-dialog>

<app-reject-reason-dialog
  [rejectReasonsList]="rejectReasons"
  [openEvent]="openRejectDialog"
  (applyReject)="applyReject($event)"
  (cancelReject)="resetStatusesFormControl()"
></app-reject-reason-dialog>

<app-candidate-cancellation-dialog
  [openEvent]="openCandidateCancellationDialog"
  [orderType]="orderCandidateJob?.order?.orderType"
  [candidateJob]="orderCandidateJob"
  (submitCandidateCancellation)="cancelCandidate($event)"
  (cancelCandidateCancellation)="resetStatusesFormControl()"
></app-candidate-cancellation-dialog>
