<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog"
  width="45%"
  [target]="targetElement"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption candidat-status">
            <h3 class="e-card-title candidate-title">
              {{ candidate?.lastName }}, {{ candidate?.firstName }}
              <!-- <i-feather name="briefcase" class="icon deployed-icon" *ngIf="isDeployedCandidate"></i-feather> -->
            </h3>
          </div>
          <div class="e-card-content button-container">
            <div class="input-group dropdown bootstrap input-readonly" *ngIf="isBillRatePending">
              <ejs-dropdownlist
                [fields]="optionFields"
                [formControl]="jobStatusControl"
                [dataSource]="jobStatus$ | async"
                [itemTemplate]="itemTemplate"
                placeholder="Select Status"
                (change)="onJobStatusChange($event)"
              >
                <ng-template #itemTemplate let-data>
                  <span [ngClass]="{'disabled-item': !data.isEnabled}">{{data.statusText}}</span>
                </ng-template>
              </ejs-dropdownlist>
            </div>
            <button ejs-button class="e-outline" (click)="onReject()" *ngIf="isOfferedBillRate">Reject</button>
            <button ejs-button [isPrimary]="true" class="apply-button" (click)="onAccept()" *ngIf="showAccept">Accept</button>
            <button *ngIf="!isTab" ejs-button cssClass="e-flat close-button" (click)="onCloseDialog()">
              <i-feather name="x" class="icon"></i-feather>
            </button>
          </div>
        </div>
      </section>
      <section class="content-container">
        <div class="job-details">
          <ejs-accordion
            #accordionElement
            expandMode="Single"
            (expanding)="toForbidExpandSecondRow($event)"
            (clicked)="clickedOnAccordion($event)"
          >
            <e-accordionitems>
              <e-accordionitem expanded="true">
                <ng-template #header>
                  <div>Job Details</div>
                </ng-template>
                <ng-template #content>
                  <app-accept-form
                    [formGroup]="acceptForm"
                    [status]="currentCandidateApplicantStatus"
                  ></app-accept-form>
                </ng-template>
              </e-accordionitem>
              <e-accordionitem>
                <ng-template #header>
                  <div>Historical Events</div>
                </ng-template>
                <ng-template #content>
                  <app-historical-events [organizationId]="orderCandidateJob?.organizationId!" [candidateJobId]="candidate.candidateJobId" [candidateId]="candidate.candidateId" [isAgency]="isAgency"></app-historical-events>
                </ng-template>
              </e-accordionitem>
            </e-accordionitems>
          </ejs-accordion>
        </div>
        <div class="comments">
          <app-comments></app-comments>
        </div>
      </section>

      <section class="bill-rates">
        <app-bill-rates #billRates
                        [billRates]="orderCandidateJob?.billRates || []"
                        [isActive]="true"
                        (billRatesChanged)="updateOrganizationCandidateJobWithBillRate($event)">
        </app-bill-rates>
      </section>
    </section>
  </ng-template>

  <ng-template #footerTemplate>
    <app-dialog-next-previous
      title="Candidate"
      [options]="dialogNextPreviousOption"
      (nextEvent)="onNextPreviousOrder(true)"
      (previousEvent)="onNextPreviousOrder(false)"
    ></app-dialog-next-previous>
  </ng-template>
</ejs-dialog>

<app-reject-reason-dialog
  [rejectReasonsList]="rejectReasons"
  [openEvent]="openRejectDialog"
  (applyReject)="applyReject($event)"
></app-reject-reason-dialog>
