<div class="candidate-profile">
  <div class="candidate-details">
    <app-candidate-details></app-candidate-details>
  </div>
  <div class="photo">
    <app-image-uploader
      (selectImage)="onImageSelect($event)"
      uploaderTitle="Photo"
      [disabled]="readonlyMode"
      [logo]="photo$ | async">
    </app-image-uploader>
  </div>
  <div class="general-notes">
    <app-general-notes></app-general-notes>
  </div>
</div>

<app-candidate-confirm-dialog
  *ngIf="showSkillConfirmDialog"
  [text]="employeeSkillChangeWarning"
  [$confirmDialog]="$skillsConfirmDialog"
></app-candidate-confirm-dialog>

<app-candidate-confirm-dialog
  *ngIf="showStatusConfirmDialog"
  [text]="employeeTerminatedWaring"
  [$confirmDialog]="$statusConfirmDialog"
></app-candidate-confirm-dialog>
