@import 'colors';
@import 'adaptive-response';

%common-style {
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%);

  &:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 22%)
  }
}

.candidate-profile {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  .candidate-details {
    @extend %common-style;
  }

  .general-notes {
    @extend %common-style;
  }
}

@media #{$max-desktop-small} {
  .candidate-profile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 24px;
  }
  
  .general-notes {
    height: 300px;
  }
}

@media #{$max-mobile} {
  .candidate-profile {
    display: grid;
    padding-bottom: 50px;
  }
}
