<div class="candidate-profile">
  <div class="candidate-details">
    <app-candidate-details></app-candidate-details>
  </div>
  <div class="photo">
    <app-image-uploader
      (selectImage)="onImageSelect($event)"
      uploaderTitle="Photo"
      [disabled]="readonlyMode"
      [logo]="photo$ | async">
    </app-image-uploader>
  </div>
  <div class="general-notes">
    <app-general-notes></app-general-notes>
  </div>
</div>

<app-replacement-order-confirmation
  *ngIf="showSkillConfirmDialog"
  [text]="employeeSkillChangeWarning"
  (confirm)="$skillsConfirmDialog.next($event)"
  [(replaceChecked)]="replaceOrder"
></app-replacement-order-confirmation>

<app-replacement-order-confirmation
  *ngIf="showStatusConfirmDialog"
  [text]="employeeTerminatedWaring"
  (confirm)="$statusConfirmDialog.next($event)"
  [(replaceChecked)]="replaceOrder"
></app-replacement-order-confirmation>
