@import 'colors';

.bootstrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
}

.input-container {
  margin-bottom: 12px;

  &:not(.short) {
    grid-column: 1/3;
  }

  :last-child {
    margin-bottom: 0;
  }

  label {
    color: $secondary-dark-blue-15;
  }
}
