<app-filter-dialog
  [items]="filteredItems"
  [count]="(invoicesData$ | async)?.totalCount"
  [targetElement]="targetElement"
  (deleteFilter)="deleteFilter($event)"
  (clearAllFiltersClicked)="clearAllFilters()"
  (applyFilterClicked)="applyFilters()">
  <form class="bootstrap" [formGroup]="formGroup">
    <ng-container *ngFor="let fieldConfig of filtersFormConfig; trackBy: trackByFn">
      <ng-container [ngSwitch]="fieldConfig.type">

        <ng-container *ngSwitchCase="controlTypes.Text">
          <div class="input-container" [class.short]="fieldConfig.isShort">
            <label [for]="fieldConfig.field">{{ fieldConfig.title }}</label>
            <div class="input-group">
              <input
                [id]="fieldConfig.field"
                class="e-input"
                type="text"
                maxlength="50"
                [formControlName]="fieldConfig.field"
              />
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="controlTypes.Multiselect">
          <div class="input-container" [class.short]="fieldConfig.isShort">
            <label [for]="fieldConfig.field">{{ fieldConfig.title }}</label>
            <div class="input-group dropdown">
              <ejs-multiselect
                [id]="fieldConfig.field"
                mode="CheckBox"
                [allowFiltering]="true"
                [showSelectAll]="fieldConfig.showSelectAll"
                [fields]="fieldConfig.field === 'skillIds' ? skillOptionFields : filterOptionFields"
                [dataSource]="filterColumns[fieldConfig.field]?.dataSource"
                [showDropDownIcon]="true"
                [formControlName]="fieldConfig.field"
                placeholder=""></ejs-multiselect>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="controlTypes.Date">
          <div class="input-container calendar" [class.short]="fieldConfig.isShort">
            <label [for]="fieldConfig.field">{{ fieldConfig.title }}</label>
            <div class="input-group datepicker">
              <ejs-datepicker
                [id]="fieldConfig.field"
                class="datepicker"
                appValidateWithMessage
                format="MM/dd/yyyy"
                placeholder="MM/DD/YYYY"
                [formControlName]="fieldConfig.field"
              ></ejs-datepicker>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="controlTypes.Dropdown">
          <div class="input-container" [class.short]="fieldConfig.isShort">
            <label [for]="fieldConfig.field">{{ fieldConfig.title }}</label>
            <div class="input-group dropdown">
              <ejs-dropdownlist
                [id]="fieldConfig.field"
                [allowFiltering]="true"
                [dataSource]="filterColumns[fieldConfig.field]?.dataSource"
                [fields]="filterOptionFields"
                [formControlName]="fieldConfig.field"
              ></ejs-dropdownlist>
            </div>
          </div>
        </ng-container>
      </ng-container>

    </ng-container>
  </form>
</app-filter-dialog>
