<ejs-dialog
  id="dialog"
  #sideDialog
  cssClass="dialog"
  [width]="sidebarWidth"
  [target]="targetElement"
  [visible]="false"
  [animationSettings]="{ effect: 'SlideRight' }"
>
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{isReOrder ? 'Re-Order' : 'Order'}} ID {{ order?.id }}</h3>
            <div class="order-statuses">
              <ejs-chiplist #chipList>
                <e-chips>
                  <e-chip [text]="order?.statusText"></e-chip>
                </e-chips>
              </ejs-chiplist>
              <div class="vertical-divider"></div>
              <div *ngIf="order" class="order-other-statuses">
                <span class="custom-chip" *ngIf="!isReOrder">{{ order.orderType | orderTypeName }}</span>
                <span class="custom-chip"> {{order.isLocked ? "Locked" : "Unlocked"}}</span>
              </div>
            </div>
          </div>
          <div class="e-card-content dialog-controls">
            <div class="order-actions" *ngIf="order?.canApprove && !order?.orderOpenDate && order?.status === orderStatus.PreOpen">
              <button ejs-button cssClass="e-outline" (click)="cancelOrder(order.id)">Cancel</button>
              <button ejs-button cssClass="e-primary" (click)="approveOrder(order.id)">Approve</button>
              <div class="vertical-divider"></div>
            </div>

            <button ejs-button cssClass="e-outline edit-button" (click)="editOrder(order)"><i-feather name="edit" class="icon"></i-feather></button>
            <button ejs-button cssClass="e-outline"
                    [disabled]="disabledCloseButton"
                    (click)="closeOrder(order)">
              Close Order
            </button>
            <button ejs-button cssClass="e-outline" *ngIf="orderType.OpenPerDiem === order?.orderType" (click)="createReOrder()">Create Re-Order</button>
            <button ejs-button cssClass="e-primary delete-button" (click)="deleteOrder(order.id)" *ngIf="!showCloseButton">Delete</button>
            <button ejs-button [isPrimary]="true" (click)="lockOrder()" [disabled]="disabledLock">
              {{order?.isLocked ? "Unlock" : "Lock"}}
              <i-feather [name]="order?.isLocked ? 'unlock' : 'lock'" class="icon"></i-feather>
            </button>
            <button ejs-button type="submit" cssClass="e-flat close-button" (click)="onClose()">
              <i-feather name="x" class="icon"></i-feather>
            </button>
          </div>
        </div>
      </section>
      <div class="order-tabs">
        <ejs-tab #tab *ngIf="orderStatus.Incomplete !== order?.status" (selecting)="onTabSelecting($event)">
          <e-tabitems>
            <e-tabitem>
              <ng-template #headerText>{{isReOrder ? 'Re-Order' : 'Order'}} Details</ng-template>
              <ng-template #content>
                <app-order-details-container [currentOrder]="order"></app-order-details-container>
              </ng-template>
            </e-tabitem>
            <e-tabitem>
              <ng-template #headerText>Candidates <span class="e-badge e-badge-success e-badge-circle">{{ candidatesCounter }}</span></ng-template>
              <ng-template #content>
                <app-order-candidates-container [currentOrder]="order"></app-order-candidates-container>
              </ng-template>
            </e-tabitem>
            <e-tabitem *ngIf="orderType.OpenPerDiem === order?.orderType">
              <ng-template #headerText>Re-Orders <span class="e-badge e-badge-success e-badge-circle">{{ order?.reOrders?.length || '0'}}</span></ng-template>
              <ng-template #content>
                <app-order-reorders-container (selectReOrder)="selectReOrder.emit($event)" [currentOrder]="order"></app-order-reorders-container>
              </ng-template>
            </e-tabitem>
            <e-tabitem *ngIf="order?.orderType !== orderType.OpenPerDiem && isReOrder">
              <ng-template #headerText>Extensions</ng-template>
              <ng-template #content>
                <!--Extensions tab goes here-->
              </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
        <ejs-tab #tab *ngIf="orderStatus.Incomplete === order?.status" (selecting)="onTabSelecting($event)">
          <e-tabitems>
            <e-tabitem>
              <ng-template #headerText>Order Details</ng-template>
              <ng-template #content>
                <app-order-details-container [currentOrder]="order"></app-order-details-container>
              </ng-template>
            </e-tabitem>
            <e-tabitem>
              <ng-template #headerText>Extensions</ng-template>
              <ng-template #content>
                <!--Extensions tab goes here-->
              </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
        <app-close-order [order]="order"></app-close-order>
        <app-add-edit-reorder [order]="order" (saveEmitter)="saveReOrderEmitter.emit()"></app-add-edit-reorder>
      </div>
    </section>
  </ng-template>
  <ng-template #footerTemplate>
    <app-dialog-next-previous
      *ngIf="orderDialogOptions$ | async as options"
      [title]="isReOrder ? 'Re-Order' : 'Order'"
      [options]="options"
      (nextEvent)="onNextPreviousOrder(true)"
      (previousEvent)="onNextPreviousOrder(false)"
    ></app-dialog-next-previous>
  </ng-template>
</ejs-dialog>
