@import 'colors';
@import 'adaptive-response';

.order-tabs {
  margin-top: 24px;

  span {
    margin-left: 12px;
  }

  &.first-active {
    .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
      left: 0px !important;
      right: 235px !important;
    }
  }
}

.order-statuses {
  display: flex;
  align-items: center;

  ejs-chiplist {
    &:not(.e-chip) {
      flex-wrap: nowrap !important;
    }
    .e-chip {
      &:hover {
        cursor: default;
      }
    }

    .ex-chip {
      width: auto;
      margin-left: 5px;
    }
  }
}

.e-btn.e-primary.delete-button {
  background-color: $supportive-red;
}

.dialog-controls {
  button {
    margin-left: 12px;

    &.edit-button {
      padding-left: 11px;
      padding-right: 11px;

      i-feather {
        margin-left: 0;
      }
    }
  }

  .menu-mobile {
    display: none !important;
  }

  .menu-tablet {
    display: none !important;
  }

  .menu-desktop-small {
    display: none;
  }

  @media #{$max-desktop-small} {
    .custom-order-btn {
      display: none;
    }

    .menu-desktop-small {
      display: inline-block !important;
    }
  }

  @media #{$max-tablet} {
    display: flex;

    button:not(.close-button, .menu-mobile, .edit-button), .vertical-divider {
      display: none;
    }

    .menu-tablet {
      display: inline-block !important;
    }

    .menu-desktop-small {
      display: none !important;
    }
  }

  @media (max-width: $tablet-min) {
    display: flex;
    margin-left: -15%;

    button:not(.close-button, .menu-mobile), .vertical-divider {
      display: none;
    }

    .menu-mobile {
      display: inline-block !important;
    }
    .menu-tablet {
      display: none !important;
    }
  }

}

.vertical-divider {
  border-left: 1px solid $secondary-dark-blue-40;
  margin: 0 8px;
  height: 20px;
}

.custom-chip {
  border: 1px solid $secondary-dark-blue-40;
  background: $secondary-dark-blue-50;
  border-radius: 16px;
  padding: 2px 8px;
  font-size: 14px;
}

.order-other-statuses {
  display: flex;
  align-items: center;

  & > span:not(:last-child) {
    margin-right: 8px;
  }
}

.order-actions {
  display: inline-flex;

  .e-btn:first-child {
    margin-left: 0;
  }

  .vertical-divider {
    height: auto;
    margin: 0 0 0 12px;
  }

  .e-primary {
    &:focus {
      background-color: $primary-active-blue-10;

      &:hover {
        background-color: $primary-btn-hover;
      }
    }
  }
}

.extension-grid {
  height: 500px;
  display: block;
}
