@import "../../../styles/variables/colors.scss";

.side-menu {
  background-color: #fff;
  margin-right: 25px;
  height: 100%;
  width: 231px;
  margin-left: -25px;
  overflow-y: auto;

  .list-box {
    .e-listbox-wrapper {
      border: none;

      .e-list-item {
        height: 48px;
        border-bottom: 1px solid var(--grid-header-border);
        padding: 17px 23px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;

        &.e-selected {
          background-color: $primary-active-blue;
          color: #FFF;
          font-weight: 700;
        }

        &:hover {
          background-color: $primary-active-blue-70;
        }
      }
    }
  }
}


$blue-color: rgba(33, 150, 243, 0.1);

.analyticslist [data-value] {
  &.bold-text {
    background: $blue-color !important;
    font-weight: bold;
    pointer-events: none;
  }

  &[data-value="Orders"],
  &[data-value="Candidate"],
  &[data-value="Credentials"],
  &[data-value="Timesheets"],
  &[data-value="Invoices/Financials"],
  &[data-value="Vendor"],
  &[data-value="Audit Logs"] {
    @extend .bold-text;
  }
}
