<app-page-toolbar>
  <ng-container left>
    <h3>Candidates</h3>
  </ng-container>
  <ng-container right>
    <div class="button-group" >
      <ejs-switch
        id="switcher"
        (change)="onSwitcher($event);"
        [checked]="true"
      ></ejs-switch>
      <label for="switcher" class="switch-text">Include Deployed Candidates</label>
      <app-tooltip-container [showToolTip]="!agencyActionsAllowed || !userPermission[userPermissions.CanEditCandidateProfile]">
        <button
          ejs-button
          appHideBeforeSyncfusionLoad
          cssClass="e-outline"
          (click)="onImport()"
          [disabled]="!agencyActionsAllowed || !userPermission[userPermissions.CanEditCandidateProfile]">
          Import <span><i-feather name="download" class="icon"></i-feather></span>
        </button>
      </app-tooltip-container>
      <button
        ejs-dropdownbutton
        appHideBeforeSyncfusionLoad
        cssClass="e-outline button-export"
        [items]="exportOptions"
        (select)="exportSelected($event)">
        <div class="button-export-container">
          Export <i-feather name="upload" class="icon"></i-feather>
        </div>
      </button>
      <button ejs-button appHideBeforeSyncfusionLoad id="filterButton" cssClass="e-outline button-filter" (click)="showFilters()">
        <div class="filter-button-content">
          <span *ngIf="(filteredItems$ | async) || 0 as filteredItems" class="e-badge e-badge-success e-badge-pill">{{
            filteredItems
            }}</span>
          Filters <i-feather name="sliders" class="icon"></i-feather>
        </div>
      </button>
      <app-tooltip-container
        [message]="toolTipMessage"
        [showToolTip]="!userPermission[userPermissions.CanEditCandidateProfile]">
          <button ejs-button appHideBeforeSyncfusionLoad [isPrimary]="true" (click)="navigateToCandidateForm()" [disabled]="!agencyActionsAllowed || !userPermission[userPermissions.CanEditCandidateProfile]">Add Candidate</button>
      </app-tooltip-container>
    </div>
  </ng-container>
</app-page-toolbar>

<section class="grid-component">
  <app-candidate-list
    [userPermission]="userPermission"
    #candidateList
    [filteredItems$]="filteredItems$"
    [export$]="exportUsers$"
    [search$]="search$"
    [includeDeployedCandidates$]="includeDeployedCandidates$"
    [isAgency]="true"
    [agencyActionsAllowed]="agencyActionsAllowed"
  ></app-candidate-list>
</section>

<app-import-candidates [openEvent]="openImportDialog$" (reloadCandidateList)="reloadCandidatesList()"></app-import-candidates>
