@import '../../styles/variables/colors';

.container {
  display: flex;
  height: 100%;

  .grid {
    margin-bottom: 25px;
  }

  .side-menu {
    background-color: #fff;
    margin-right: 25px;
  }
}
