<ejs-dialog
  #sideDialog
  cssClass="dialog"
  [width]="width"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }">
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">{{title}} Visibility</h3>
          </div>
          <div  class="e-card-content">
            <button
              ejs-button
              cssClass="e-outline button-cancel"
              id="cancelFormButton"
              (click)="onFormCancelClick()">Cancel</button>
            <button
              ejs-button
              id="addFormButton"
              type="submit"
              [isPrimary]="true"
              (click)="onFormSaveClick()">Save</button>
          </div>
        </div>
      </section>
      <section class="form-container" *ngIf="showForm">
        <form [formGroup]="form">
          <div class="dropdown-container bootstrap">
            <label>Organization<span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist appValidateWithMessage
                                formControlName="organisationIds"
                                [allowFiltering]="true"
                                [fields]="organisationFields"
                                [dataSource]="organisations"
                                [enabled]="!isOrganisationUser">
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <label>Region</label>
            <div class="dropdown-wrapper">
              <div class="input-group bootstrap">
                <ejs-multiselect appValidateWithMessage
                                 #regionMultiselect
                                 mode="CheckBox"
                                 [allowFiltering]="true"
                                 [showDropDownIcon]="true"
                                 [fields]="optionFields"
                                 [dataSource]="regions"
                                 formControlName="regionIds">
                  <ng-template #itemTemplate let-data>
                    <div class="visibility-option-container">
                      <span>{{data?.name}}</span>
                      <span class="parent-option-name">{{data?.organisationName}}</span>
                    </div>
                  </ng-template>
                </ejs-multiselect>
              </div>
              <div class="switch">
                <ejs-switch
                  name="allRegions"
                  [checked]="allRegions"
                  (change)="allRegionsChange($event)"
                  label="All"
                ></ejs-switch>
                <label for="allRegions" class="switch-text">All</label>
              </div>
            </div>
          </div>
          <div class="dropdown-container">
            <label>Location</label>
            <div class="dropdown-wrapper">
              <div class="input-group bootstrap">
                <ejs-multiselect appValidateWithMessage
                                 mode="CheckBox"
                                 [allowFiltering]="true"
                                 [showDropDownIcon]="true"
                                 [fields]="optionFields"
                                 [dataSource]="locations"
                                 formControlName="locationIds">
                  <ng-template #itemTemplate let-data>
                    <div class="visibility-option-container">
                      <span [title]="data?.name">{{data?.name.length > 25 ? data?.name.slice(0,25) + "..." : data.name}}</span>
                      <span class="parent-option-name">{{data?.locationName}}</span>
                    </div>
                  </ng-template>
                </ejs-multiselect>
              </div>
              <div class="switch">
                <ejs-switch
                  name="allLocations"
                  [checked]="allLocations"
                  (change)="allLocationsChange($event)"
                  label="All"
                ></ejs-switch>
                <label for="allLocations" class="switch-text">All</label>
              </div>
            </div>
          </div>
          <div class="dropdown-container" *ngIf="!isAgencyUser">
            <label>Department</label>
            <div class="dropdown-wrapper">
              <div class="input-group bootstrap">
                <ejs-multiselect appValidateWithMessage
                                 mode="CheckBox"
                                 [allowFiltering]="true"
                                 [showDropDownIcon]="true"
                                 [fields]="optionFields"
                                 [dataSource]="departments"
                                 (filtering)="onDepartmentsFiltering($event)"
                                 formControlName="departmentIds"
                                 [query]="query">
                  <ng-template #itemTemplate let-data>
                    <div class="visibility-option-container">
                      <span>{{data?.name}}</span>
                      <span class="parent-option-name">{{data?.locationName}}</span>
                    </div>
                  </ng-template>
                </ejs-multiselect>
              </div>
              <div class="switch">
                <ejs-switch
                  name="allDepartments"
                  [checked]="allDepartments"
                  (change)="allDepartmentsChange($event)"
                  label="All"
                ></ejs-switch>
                <label for="allDepartments" class="switch-text">All</label>
              </div>
            </div>
            <div *ngIf="departments && departments.length > maxDepartmentsLength">
              Narrow down locations/regions or use input search for departments.
            </div>
          </div>
        </form>
      </section>
    </section>
  </ng-template>
</ejs-dialog>

