<div class="widget-legend">
  <div *ngFor="let legend of legendData; trackBy: trackByHandler">
    <div class="widget-legend__item-content">
      <ejs-checkbox [checked]="true" [cssClass]="'e-custom'" (change)="onChangeCheckbox(legend.label)"></ejs-checkbox>
      <div class="widget-legend__row-container" (click)="onClickLegendRow($event)" (mousedown)="defineMousePosition($event)">
        <div class="widget-legend__row">
          <div [ngStyle]="{ backgroundColor: legend.color }" class="widget-legend__point"></div>
          <div class="widget-legend__legend-text">{{ legend.label }}</div>
        </div>
        <div *ngIf="!showPercentRatio" class="widget-legend__score">{{ legend.value }}</div>
        <div *ngIf="showPercentRatio" class="widget-legend__score">{{ legend.value | number: '1.2-2'}} ^</div>
      </div>
    </div>
  </div>
</div>
