@import "colors";

.widget-legend {
  &__item,
  &__item-content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__score {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    // width: 100%;
    width: 50%;
    text-align: right
  }
  &__head {
   // font-size: 16px;
    font-weight: 700;
  //  line-height: 24px;
    width: 100%;
    text-align: right
  }

  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 10px;
  }

  &__row-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    margin: 5px 0 5px 8px;

    &:hover {
      background-color: $primary-active-blue-70;
      border-radius: 4px;
    }
  }

  &__legend-text {
    font-size: 13px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $secondary-dark-blue-15;
    width: 70%;
    &.right {
      width: 100%;
    }
  }

  &__point {
    //width: 32px;
    width: 24px;
    height: 16px;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__pointPositionTrend {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__percentage-ratio {
    font-size: 16px;
    line-height: 24px;
    float: right;
  }
  .container-mar{
    margin: 5px 0 5px 0px !important;
  }
  .trend-marright{
    margin-right: 6px !important;
  }
  .pointSize{
    width: 32px !important;
  }
  .ml-40{
    margin-left: 40px;
  }
}

.e-custom {
  &.e-checkbox-wrapper {
    .e-frame {
      height: 16px;
      width: 16px;
    }

    .e-check {
      font-size: 10px;
      line-height: 8px;
    }
  }
}

.widget-item-count
{
  font-size: 16px;
    font-weight: 700;
    line-height: 24px;
   align-items: center;
   width:100%;
   text-align:right;
   
}

.widget_left{
  width: 45% !important;
  align-items: center;
  display: flex;
}
.widget_center{
  width: 20% !important;
  align-items: center;
  display: flex;
}
.widget_right{
  width: 35% !important;
  align-items: right;
  display: flex;
 }
