<div class="uploader-container" #uploadArea>
  <div class="droparea" #droparea (click)="browseFiles()">
    <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
  </div>
  <ejs-uploader
    #fileUploader
    [dropArea]="droparea"
    [allowedExtensions]="allowedFileExtensions"
    [maxFileSize]="maxFileSize"
    [multiple]="true"
    [autoUpload]="false"
    [files]="existingFiles"
    [showFileList]="showSelectedFiles"
    (selected)="filesSelected($event)"
    (removing)="removeFile($event)"
  ></ejs-uploader>
</div>
