@import 'colors';
@import 'adaptive-response';

.e-file-select-wrap, .e-upload-actions {
  display: none;
}

.droparea {
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-active-blue-10;
  font-size: 12px;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  .browse-link {
    text-decoration: underline;
    font-weight: 700;
  }
}

:host::ng-deep .custom-trash {
  & .e-icons {
    &.e-file-delete-btn, &.e-file-remove-btn {
      &::before {
        content: url('../../../../assets/icons/trash-2-icon.svg') !important;
      }
    }
  }
}

@media #{$max-mobile} {
  .droparea {
    display: none;
  }
}
