:host {
  ::ng-deep {
    .app-grid {
      .ag-row {
        background-color: #F7F8FC !important;
      }

      .ag-row.ag-row-level-1 {
        background-color: transparent !important;
      }
    }

    .ag-header, .ag-root-wrapper {
      border: none;
    }

    .ag-body-viewport .ag-center-cols-viewport .ag-center-cols-container {
      width: unset !important;
    }

    .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper,
    .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container {
      min-height: unset !important;
    }

    .ag-row.ag-row-level-1 {
      height: auto !important;
    }
  }
}
