@import 'colors';

:host {
  ::ng-deep {
    .app-grid {
      .ag-row {
        background-color: $secondary-dark-blue-50 !important;
      }

      .ag-row.ag-row-level-1 {
        background-color: transparent !important;
      }
    }

    .app-grid-dark {
      .ag-row {
        background-color: $sidebar-background !important;

        .cell-value {
          color: $white !important;
        }
      }
    }

    .ag-header {
      display: none;
    }

    .ag-header, .ag-root-wrapper {
      border: none;
    }

    .ag-body-viewport .ag-center-cols-viewport .ag-center-cols-container {
      width: unset !important;
    }

    .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper,
    .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container {
      min-height: unset !important;
    }

    .ag-row.ag-row-level-1 {
      height: auto !important;
    }
  }
}
