<ejs-dialog
  #sideDialog
  cssClass="dialog"
  [width]="width"
  [target]="targetElement"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }">
  <ng-template #content>
    <section class="container">
      <section class="header-container">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <h3 class="e-card-title">Document Preview</h3>
          </div>
          <div class="e-card-content">
            <button ejs-button cssClass="e-outline" (click)="resizeDialog()">
              <span *ngIf="!isFullScreen"><i-feather name="maximize-2" class="icon"></i-feather></span>
              <span *ngIf="isFullScreen"><i-feather name="minimize-2" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-outline" class="download-button" (click)="downloadFile()">
              Download <span><i-feather name="download" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat" (click)="onCancel()">
              <i-feather name="x" class="icon"></i-feather>
            </button>
          </div>
        </div>
      </section>
      <section class="file-viewer-container">
        <div class="left">
          <div class="side-menu">
            <div class="files-title">Files</div>
            <ejs-listbox id="listBox" *ngIf="previewFile"
                         class="list-box"
                         [dataSource]="data"
                         [fields]="fields"
                         [selectionSettings]="selectionSettings"
                         (created)="onListBoxCreated()"
                         (change)="selectFile($event)">
            </ejs-listbox>
          </div>
        </div>
        <div class="right">
          <div class="file-viewer">
            <div *ngIf="!imageMode" >
              <div class="zoom">
                <button class="navigation" (click)="incrementZoom(-0.1)">
                  <i-feather name="zoom-out" class="icon"></i-feather>
                </button>
                <button class="navigation" (click)="incrementZoom(0.1)">
                  <i-feather name="zoom-in" class="icon"></i-feather>
                </button>
                <button class="navigation" ion-fab mini (click)="resetZoom()">
                  <i-feather name="refresh-cw" class="icon"></i-feather>
                </button>
                <button class="navigation" (click)="firstPage()">
                  <i-feather name="chevrons-left" class="icon"></i-feather>
                </button>
                <button class="navigation" (click)="prevPage()">
                  <i-feather name="chevron-left" class="icon"></i-feather>
                </button>
                <button class="navigation" (click)="nextPage()">
                  <i-feather name="chevron-right" class="icon"></i-feather>
                </button>
                <button class="navigation" (click)="lastPage()">
                  <i-feather name="chevrons-right" class="icon"></i-feather>
                </button>
                <input class="smallimput" id="name" type="number" [formControl]="pageSelection">
                <span> of {{ totalPages }} </span>
              </div>
              <pdf-viewer class="pdf-container" 
                [src]="loadedFileUrl"
                [render-text]="true"
                [fit-to-page]="true"
                [original-size]="false"
                [page]="page"
                [zoom]="zoom" 
                (pagechanging)="pagechanging($event)"
                (after-load-complete)="afterLoadComplete($event)"
              ></pdf-viewer>
            </div>
            <div *ngIf="imageMode" class="image-container"><img class="image" [src]="imageSrs"/></div>  
          </div>
        </div>
      </section>
    </section>
  </ng-template>
</ejs-dialog>
