@import "../../../../styles/variables/colors.scss";

.e-dlg-content {
  margin-bottom: 24px;
}

.container {
  height: 100%;
  margin-bottom: 24px;

  .header-container {
    margin-bottom: 24px;

    .download-button {
      margin: 0 12px;

      i-feather {
        margin-left: 5px;
      }
    }

    i-feather {
      margin: 0;
    }
  }

  .zoom {
    text-align: center;
  }

  .navigation {
    margin: 2px;
  }

  .pdf-container {
    display: block;
    height: 500px;
  }

  .smallimput {
    width: 50px !important;
  }
  
  .file-viewer-container {
    display: flex;
    height: 100%;

    .left {
      margin-right: 12px;

      .side-menu {
        width: 334px;
        background-color: $white;
        height: 100%;
        border: 1px solid $secondary-dark-blue-45;
        box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        overflow-y: auto;

        .files-title {
          font-size: 16px;
          font-weight: 700;
          padding: 23px 24px;
        }

        .list-box {
          .e-listbox-wrapper {
            border: none;

            .e-list-group-item, .e-list-item {
              height: 48px;
              padding: 14px 24px;
              border-bottom: 1px solid $secondary-dark-blue-45;
              background-color: $white;
              color: $secondary-dark-blue-10;
              font-size: 14px;
              line-height: 20px;
            }

            .e-list-group-item {
              font-weight: 700;
              border-top: none;
              cursor: default;
            }

            .e-list-item {
              &.e-selected {
                background-color: $primary-active-blue;
                color: #FFF;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .right {
      width: 100%;

      .file-viewer {
        height: 100%;
        border: 1px solid $secondary-dark-blue-45;
        box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.04);
        border-radius: 12px;

        .image-container {
          display: flex;
          justify-content: center;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
