<form class="department-form">
  <ng-container *ngIf="true">
    <app-multiselect-dropdown
      [formGroupInstance]="assignDepartmentForm"
      [fields]="departmentFields"
      [dataSource]="dataSource.regions"
      [required]="true"
      controlName="regionIds"
      id="region"
      label="Region"
    ></app-multiselect-dropdown>
    <app-multiselect-dropdown
      [formGroupInstance]="assignDepartmentForm"
      [fields]="departmentFields"
      [dataSource]="dataSource.locations"
      [required]="true"
      [sortOrder]="sortOrder"
      controlName="locationIds"
      id="location"
      label="Location"
    ></app-multiselect-dropdown>
    <app-multiselect-dropdown
      [formGroupInstance]="assignDepartmentForm"
      [fields]="departmentFields"
      [dataSource]="dataSource.departments"
      [required]="true"
      [sortOrder]="sortOrder"
      controlName="departmentIds"
      id="department"
      label="Department"
    ></app-multiselect-dropdown>
  </ng-container>

  <div class="date-fields">
    <app-datepicker
      [formGroupInstance]="assignDepartmentForm"
      [required]="true"
      [min]="dateRanges.min"
      [max]="dateRanges.max"
      id="start-date"
      controlName="startDate"
      label="Start Date"
    ></app-datepicker>
    <app-datepicker
      [formGroupInstance]="assignDepartmentForm"
      [min]="dateRanges.min"
      [max]="dateRanges.max"
      id="end-date"
      controlName="endDate"
      label="End Date"
    ></app-datepicker>
  </div>
  <div class="toggles">
    <app-toggle
      id="toggle2"
      controlName="isOriented"
      label="Oriented"
      [formGroupInstance]="assignDepartmentForm"
      (checked)="orientedChecked($event)"
    ></app-toggle>
    <app-toggle
      *ngIf="departmentId"
      id="toggle"
      controlName="isHomeCostCenter"
      label="Home Cost Center"
      [formGroupInstance]="assignDepartmentForm"
      (checked)="toggleChecked()"
    ></app-toggle>
  </div>

  <div class="date-fields">
    <app-datepicker
      *ngIf="isOriented$ | async as isOriented"
      [formGroupInstance]="assignDepartmentForm"
      [required]="isOriented"
      [min]="dateRanges.min"
      [max]="dateRanges.max"
      id="start-date"
      class="orientation-date"
      controlName="orientationDate"
      label="Orientation Date"
    ></app-datepicker>
  </div>
</form>
