.toggles {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 10px;
}

.department-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  .date-fields {
    display: flex;
    column-gap: 12px;
  }
}
