.toggles {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  margin: 10px 15px 0 0;
}

.department-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  .date-fields {
    display: flex;
    column-gap: 12px;

    .orientation-date {
      width: calc(50% - 6px);
    }
  }
}

.dropdown-wrapper {
  display: flex;
  align-items: flex-end;

  .multiselect-dropdown {
    flex: 1;
  }

  .switch {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding: 12px 5px;
  }
}
