<form class="department-form">
  <ng-container *ngIf="true">
    <div class="dropdown-wrapper">
      <app-multiselect-dropdown
        [formGroupInstance]="assignDepartmentForm"
        [fields]="departmentFields"
        [dataSource]="dataSource.regions"
        [required]="true"
        controlName="regionIds"
        id="region"
        label="Region"
        class="multiselect-dropdown"
      ></app-multiselect-dropdown>
      <div class="switch" *ngIf="!departmentId">
        <app-toggle
          id="switch-1"
          label="All"
          [value]="this.allRecords['regionIds']"
          [disabled]="disableToggles"
          (checked)="allRegionsChange($event)"
        ></app-toggle>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <app-multiselect-dropdown
        [formGroupInstance]="assignDepartmentForm"
        [fields]="departmentFields"
        [dataSource]="dataSource.locations"
        [required]="true"
        [sortOrder]="sortOrder"
        controlName="locationIds"
        [popupWidth]="'auto'"
        id="location"
        label="Location"
        class="multiselect-dropdown"
      ></app-multiselect-dropdown>
      <div class="switch" *ngIf="!departmentId">
        <app-toggle
          id="switch-2"
          label="All"
          [value]="this.allRecords['locationIds']"
          [disabled]="disableToggles"
          (checked)="allLocationsChange($event)"
        ></app-toggle>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <app-multiselect-dropdown
        [formGroupInstance]="assignDepartmentForm"
        [fields]="departmentFields"
        [dataSource]="dataSource.departments"
        [required]="true"
        [sortOrder]="sortOrder"
        controlName="departmentIds"
        [popupWidth]="'auto'"
        id="department"
        label="Department"
        class="multiselect-dropdown"
      ></app-multiselect-dropdown>

      <div class="switch" *ngIf="!departmentId">
        <app-toggle
          id="switch-3"
          label="All"
          [value]="this.allRecords['departmentIds']"
          [disabled]="disableToggles"
          (checked)="allDepartmentsChange($event)"
        ></app-toggle>
      </div>
    </div>
  </ng-container>

  <div class="date-fields" *ngIf="isOpen">
    <app-datepicker
      id="start-date"
      label="Start Date"
      controlName="startDate"
      [formGroupInstance]="assignDepartmentForm"
      [required]="true"
      [min]="minDate"
      [max]="maxDate"
    ></app-datepicker>
    <app-datepicker
      id="end-date"
      label="End Date"
      controlName="endDate"
      [formGroupInstance]="assignDepartmentForm"
      [min]="minDate"
      [max]="maxDate"
    ></app-datepicker>
  </div>
  <div class="toggles">
    <app-toggle
      id="toggle2"
      controlName="isOriented"
      label="Oriented"
      [formGroupInstance]="assignDepartmentForm"
      (checked)="orientedChecked($event)"
    ></app-toggle>
    <app-toggle
      *ngIf="departmentId"
      id="toggle"
      controlName="isHomeCostCenter"
      label="Home Cost Center"
      [formGroupInstance]="assignDepartmentForm"
      (checked)="toggleChecked()"
    ></app-toggle>
  </div>

  <div class="date-fields">
    <app-datepicker
      *ngIf="isOriented$ | async as isOriented"
      [formGroupInstance]="assignDepartmentForm"
      [required]="isOriented"
      [min]="minDate"
      [max]="maxDate"
      id="start-date"
      class="orientation-date"
      controlName="orientationDate"
      label="Orientation Date"
    ></app-datepicker>
  </div>
</form>

<app-replacement-order-confirmation
  *ngIf="showEndDateConfirmDialog"
  [text]="editDepartmentWaring"
  (confirm)="endDateConfirmDialog$.next($event)"
  [(replaceChecked)]="replaceOrder"
></app-replacement-order-confirmation>