.toggles {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  margin: 10px 15px 0 0;
}

.department-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  .date-fields {
    display: flex;
    column-gap: 12px;

    .orientation-date {
      width: calc(50% - 6px);
    }
  }
}
