@import 'colors';

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  h3 {
    color: $title-black;
    margin: 8px;
  }

  &>section {
    display: flex;
  }

  button {
    margin-left: 18px;
  }
}

.grid-component {
  margin-top: 25px;
  overflow-y: auto;
}

.reason-form {
  margin-top: 24px;
}

.penalties-grid {
  height: 100%;

  ::ng-deep {
    .ag-menu, .ag-tabs-header {
      background-color: var(--bg-default) !important;
      color: var(--text) !important;
      box-shadow: none !important;
    }

    ag-grid-angular {
      border-top-left-radius: 12px !important;
      border-top-right-radius: 12px !important;
    }
  }
  app-grid {
    margin-top: 20px;
  }
}
