<app-page-toolbar></app-page-toolbar>
<section class="app-grid table-wrapper" [ngClass]="(isDarkTheme$ | async) ? 'app-grid app-grid-dark' : 'app-grid'">
    <div class="custom-grid">
      <ag-grid-angular #agGridPagination
                       class="ag-theme-alpine grid app-grid__component"
                       [animateRows]="true"
                       [columnDefs]="columnDefs"
                       [defaultColDef]="defaultColDef"
                       [suppressAggFuncInHeader]="true"
                       [modules]="modules"
                       [cacheBlockSize]="cacheBlockSize"
                       [rowModelType]="rowModelType"
                       [frameworkComponents]="frameworkComponents"
                       [pagination]="true"
                       [paginationPageSize]="paginationPageSize"
                       (gridReady)="onGridReady($event)"
                       [sideBar]="sideBar"
                       toolPanel="columns"
                       [serverSideStoreType]="serverSideStoreType"
                       [paginationAutoPageSize]="false"
                       [maxBlocksInCache]="maxBlocksInCache"
                       [noRowsOverlayComponent]="noRowsOverlayComponent"
                       [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
                       [rowHeight]="gridConfig.initialRowHeight" domLayout="autoHeight"
                       [headerHeight]="52">
      </ag-grid-angular>
      <div class="grid-pagination">
        <ejs-dropdownlist id="rowsPerPage"
                          class="dropdown-no-border"
                          [allowFiltering]="true"
                          [dataSource]="rowsPerPageDropDown"
                          [(value)]="activeRowsPerPageDropDown"
                          (change)="onPageSizeChanged($event)">
        </ejs-dropdownlist>
        <div class="total-rows">
          Total Rows: {{totalRecordsCount}}
        </div>
      </div>
    </div>
  </section>