<form [formGroup]="formGroup">
  <div class="wrapper">
    <div>
      <div class="input-container bootstrap f-grow-2">
        <label class="input-group">Job ID</label>
        <div>
          <input appValidateWithMessage formControlName="jobId" class="e-input" type="text" />
        </div>
      </div>
    </div>
    <div>
      <div class="input-container bootstrap">
        <label class="input-group">Bill Rate</label>
        <div>
          <input appValidateWithMessage formControlName="billRates" class="e-input" type="text" mask="00.00" />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div>
      <div class="input-container bootstrap f-grow-2">
        <label class="input-group">Location</label>
        <div>
          <input appValidateWithMessage formControlName="location" class="e-input" type="text" />
        </div>
      </div>
    </div>
    <div>
      <div class="input-container bootstrap">
        <label class="input-group">Candidate Bill Rate</label>
        <div>
          <input appValidateWithMessage formControlName="candidateBillRates" class="e-input" type="text" mask="00.00" />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div>
      <div class="input-container bootstrap f-grow-2">
        <label class="input-group">Department</label>
        <div>
          <input appValidateWithMessage formControlName="department" class="e-input" type="text" />
        </div>
      </div>
      <div class="input-container bootstrap f-grow-2">
        <label class="input-group">Skill</label>
        <div>
          <input appValidateWithMessage formControlName="skill" class="e-input" type="text" />
        </div>
      </div>
      <div class="input-container bootstrap">
        <label class="input-group">Re-Order Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="startDate"
            class="datepicker"
            format="MM/dd/yyyy"
            appValidateWithMessage
            placeholder="MM/DD/YYYY"
            [enableMask]="true"
            [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
            formControlName="reorderDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <div class="wrapper cl-3">
    <div class="input-container bootstrap">
      <label class="input-group">Shift Start Time</label>
      <div>
        <ejs-timepicker
          placeholder="HH:MM"
          format="hh:mm a"
          [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
          [enableMask]="true"
          formControlName="shiftStartTime"
          maskPlaceholder="HH:MM"
        >
        </ejs-timepicker>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label class="input-group">Shift End Time</label>
      <div>
        <ejs-timepicker
          placeholder="HH:MM"
          format="hh:mm a"
          [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
          [enableMask]="true"
          formControlName="shiftEndTime"
          maskPlaceholder="HH:MM"
        >
        </ejs-timepicker>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label class="input-group">Open Positions</label>
      <div>
        <input appValidateWithMessage formControlName="openPosition" class="e-input" type="text" />
      </div>
    </div>
  </div>
</form>

