.input-container {
  margin-bottom: 12px;

  label {
    display: block;
    margin-bottom: 5px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 12px;
  align-items: flex-end;

  &.cl-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
