<form [formGroup]="formGroup">
  <div class="wrapper">
    <div>
      <div class="input-container bootstrap f-grow-2">
        <label>Job ID</label>
        <div class="input-group">
          <input appValidateWithMessage formControlName="reOrderFromId" class="e-input" type="text" />
        </div>
      </div>
    </div>
    <div>
      <div class="input-container bootstrap">
        <label>Bill Rate</label>
        <div class="input-group">
          <input
            appValidateWithMessage
            formControlName="offeredBillRate"
            class="e-input"
            type="text"
            [mask]="'0*.00'"
            [dropSpecialCharacters]="false"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div>
      <div class="input-container bootstrap f-grow-2">
        <label>Location</label>
        <div class="input-group">
          <input appValidateWithMessage formControlName="locationName" class="e-input" type="text" />
        </div>
      </div>
    </div>
    <div>
     <div class="input-container bootstrap">
        <label>Candidate Bill Rate</label>
        <div class="input-group">
          <input
            formControlName="candidateBillRate"
            class="e-input"
            type="text"
            (focus)="priceUtils.setPriceMask(formGroup, 'candidateBillRate', $event)"
            (blur)="priceUtils.setTwoDecimals(formGroup, 'candidateBillRate', $event)"
            maxlength="10"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="input-container bootstrap f-grow-2">
      <label>Department</label>
      <div class="input-group">
        <input appValidateWithMessage formControlName="departmentName" class="e-input" type="text" />
      </div>
    </div>
    <div class="input-container bootstrap">
      <label class="input-group">Clock ID</label>
      <div>
        <input appValidateWithMessage formControlName="clockId" class="e-input" type="text" [disabled]="isReorder" maxlength="50"/>
      </div>
    </div>
    <div *ngIf="showHourlyRate">
      <div class="input-container bootstrap">
        <label class="input-group">Offered Bill Rate</label>
        <div class="input-group">
          <input
            formControlName="hourlyRate"
            class="e-input"
            type="text"
            (focus)="priceUtils.setPriceMask(formGroup, 'hourlyRate', $event)"
            (blur)="priceUtils.setTwoDecimals(formGroup, 'hourlyRate', $event)"
            maxlength="10"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div>
      <div class="input-container bootstrap f-grow-2">
        <label>Skill</label>
        <div class="input-group">
          <input appValidateWithMessage formControlName="skillName" class="e-input" type="text" />
        </div>
      </div>
      <div class="input-container bootstrap">
        <label>Re-Order Date</label>
        <div class="input-group datepicker">
          <ejs-datepicker
            id="startDate"
            class="datepicker"
            format="MM/dd/yyyy"
            appValidateWithMessage
            placeholder="MM/DD/YYYY"
            [enableMask]="true"
            [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
            formControlName="orderOpenDate"
          >
          </ejs-datepicker>
        </div>
      </div>
    </div>
    <div>
      <div class="input-container bootstrap" *ngIf="isCandidatePayRateVisible">
        <label>Candidate Pay Rate ($) <span *ngIf="isBlankStatus" class="required">*</span> </label>
        <div class="input-group">
          <app-numeric-textbox
            [formGroupInstance]="formGroup"
            [decimals]="payRateSetting.decimals"
            [maxLength]="payRateSetting.maxLength"
            [min]="payRateSetting.min"
            [format]="payRateSetting.format"
            controlName="candidatePayRate"
          ></app-numeric-textbox>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper cl-3">
    <div class="input-container bootstrap">
      <label>Shift Start Time</label>
      <div class="input-group">
        <ejs-timepicker
          placeholder="HH:MM"
          format="HH:mm"
          [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
          [enableMask]="true"
          formControlName="shiftStartTime"
          maskPlaceholder="HH:MM"
        >
        </ejs-timepicker>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label>Shift End Time</label>
      <div class="input-group">
        <ejs-timepicker
          placeholder="HH:MM"
          format="HH:mm"
          [maskPlaceholder]="{ hour: 'HH', minute: 'MM' }"
          [enableMask]="true"
          formControlName="shiftEndTime"
          maskPlaceholder="HH:MM"
        >
        </ejs-timepicker>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label>Open Positions</label>
      <div class="input-group">
        <input appValidateWithMessage formControlName="openPositions" class="e-input" type="text" />
      </div>
    </div>
  </div>
  <div class="input-container bootstrap" *ngIf="isRejected">
    <label>Rejection Reason</label>
    <div class="input-group input-readonly">
      <input formControlName="rejectReason" class="e-input" type="text" readonly/>
    </div>
  </div>
  <div *ngIf="isCancelled">
    <div class="input-container bootstrap">
      <label class="input-group">Reason</label>
      <div class="input-group input-readonly">
        <input appValidateWithMessage formControlName="jobCancellationReason" class="e-input" type="text" readonly/>
      </div>
    </div>
    <div class="input-container bootstrap">
      <label class="input-group">Penalty Criteria</label>
      <div class="input-group input-readonly">
        <input appValidateWithMessage formControlName="penaltyCriteria" class="e-input" type="text" readonly/>
      </div>
    </div>
    <div class="d-flex" *ngIf="verifyNoPenalty">
      <div class="input-container bootstrap">
        <label class="input-group">{{ showPercentage ? '% ' : '' }}Rate</label>
        <div class="input-group input-readonly">
          <input appValidateWithMessage formControlName="rate" class="e-input" type="text" readonly/>
        </div>
      </div>
      <div class="input-container bootstrap" *ngIf="showHoursControl">
        <label class="input-group">Hours</label>
        <div class="input-group input-readonly">
          <input appValidateWithMessage formControlName="hours" class="e-input" type="text" readonly/>
        </div>
      </div>
    </div>
  </div>
</form>

