<section class="shell">
  <ejs-sidebar id="sidebar" #sidebar [enableDock]='enableDock' [width]='width' [dockSize]='dockSize' [type]="'Push'"
    (created)="sideBarCreated()">
    <section class="primary-container">
      <section class="logo">
        <span class="e-text">EINSTEIN-II</span>
      </section>

      <section class="menu">
        <section class="sidebar-menu">
          <ejs-treeview id="template" #treevalidate [fields]="sideBarMenuField" (nodeClicked)='nodeSelect($event)'
            [fullRowSelect]="true" [loadOnDemand]="false">
            <ng-template #nodeTemplate="" let-data="">
              <section class="icon-container"
                       (click)="onMenuItemClick(data)"
                        (mouseenter)="showContextMenu(data, $event)">
                <i-feather [name]="data.icon" class="icon"></i-feather>
                <span class="e-text">{{ data.title }}</span>
                <span class=" e-badge e-badge-success e-badge-circle" *ngIf="data.count">{{ data.count }}</span>
              </section>
            </ng-template>
          </ejs-treeview>

          <ejs-contextmenu id='contextmenu' #contextmenu target='#template'
                           (onClose)="onContextMenuClose()"
                           (select)="onSubMenuItemClick($event)"
                           (onOpen)="onContextMenuOpen($event)"></ejs-contextmenu>
        </section>
      </section>
    </section>

    <aside class="secondary-container">
      <section class="misc">
        <section class="theme-toggle">
          <ejs-switch class="switch" [checked]="isDarkTheme" (change)="toggleTheme()"></ejs-switch>
          <span class="e-text">Dark Theme</span>
        </section>

        <section class="edu-faq">
          <a href="" class="icon-container">
            <i-feather name="book-open" class="icon"></i-feather>
            <span class="e-text">Education Materials</span>
          </a>

          <a href="" class="icon-container">
            <i-feather name="info" class="icon"></i-feather>
            <span class="e-text">FAQ</span>
          </a>

          <a href="" class="icon-container">
            <i-feather name="settings" class="icon"></i-feather>
            <span class="e-text">Settings</span>
          </a>
        </section>
      </section>
      <section class="collapse">
        <a class="icon-container" (click)="toggleClick()">
          <i-feather name="sidebar" class="icon"></i-feather>
          <span class="e-text">Collapse</span>
        </a>
      </section>
    </aside>
  </ejs-sidebar>

  <section id="main">
    <div class="header">
      <div class="header-item">
        <h1>{{ (headerState$ | async).title }}</h1>
      </div>
      <div class="header-item stick-left">Header content</div>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
