<div class="header" [class.expanded]="sidebar?.isOpen">
  <div class="header-item">
    <i-feather *ngIf="(headerState$ | async)?.iconName" name="{{ (headerState$ | async)?.iconName }}" class="icon"></i-feather>
    <h1>{{ (headerState$ | async)?.title }}</h1>
  </div>

  <div class="stick-right header-content">
    <div class="switcher-container" [class.hidden]="!((isOrganizationAgencyArea$ | async)?.isOrganizationArea || (isOrganizationAgencyArea$ | async)?.isAgencyArea)">
      <app-organization-agency-selector></app-organization-agency-selector>
      <div class="devider"></div>
    </div>
    <div class="header-item">{{userLogin.firstName}} {{userLogin.lastName}}</div>

    <!-- Temporary solution to log out from the application -->
    <button class="logout-button" ejs-button cssClass="e-primary" (click)="logout()">Logout</button>
  </div>
</div>
<section class="shell">
  <ejs-sidebar id="sidebar" #sidebar [enableGestures]="false" [enableDock]="enableDock" [width]="width" [dockSize]="dockSize" [type]="sideBarType"
    (created)="onSideBarCreated()">
    <section class="primary-container">
      <section class="logo-container">
        <div class="logo" *ngIf="sidebar.isOpen"></div>
        <div class="small-logo" *ngIf="!sidebar.isOpen"></div>
      </section>

      <section class="menu">
        <section class="sidebar-menu">
          <ejs-treeview id="template" #treevalidate [fields]="sideBarMenuField" (nodeClicked)='nodeSelect($event)'
            [fullRowSelect]="true" [loadOnDemand]="false">
            <ng-template #nodeTemplate="" let-data="">
              <section class="icon-container"
                       (click)="onMenuItemClick(data)"
                       (mouseenter)="showContextMenu(data, $event)">
                <i-feather [name]="data.icon" class="icon"></i-feather>
                <span class="e-text">{{ data.title }}</span>
                <span class=" e-badge e-badge-success e-badge-circle" *ngIf="data.count">{{ data.count }}</span>
              </section>
            </ng-template>
          </ejs-treeview>

          <ejs-contextmenu id='contextmenu' #contextmenu target='#template'
                           (onClose)="onContextMenuClose()"
                           (beforeOpen)="onBeforeContextMenuOpen($event)"
                           (select)="onSubMenuItemClick($event)"></ejs-contextmenu>
        </section>
      </section>
    </section>

    <aside class="secondary-container">
      <section class="misc">
        <!--section class="theme-toggle">
          <ejs-switch class="switch" [checked]="isDarkTheme" (change)="toggleTheme()"></ejs-switch>
          <span class="e-text">Dark Theme</span> TODO: move to settings
        </!--section-->

        <section class="edu-faq">
          <a href="" class="icon-container" (click)="false">
            <i-feather name="settings" class="icon"></i-feather>
            <span class="e-text">Settings</span>
          </a>
        </section>
      </section>
      <section class="collapse">
        <a class="icon-container" (click)="toggleClick()">
          <i-feather name="sidebar" class="icon"></i-feather>
          <span class="e-text">Collapse</span>
        </a>
      </section>
    </aside>
  </ejs-sidebar>

  <section id="main">


    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>

<app-message-toast></app-message-toast>
