<div class="header" [class.expanded]="sidebar?.isOpen || false">
  <div class="header-item">
    <div class="header-item__sidebar-menu" *ngIf="isMobile$ | async" (click)="toggleSidebar()"></div>
    <ng-container *ngIf="headerState$ | async as headerState">
      <i-feather *ngIf="!headerState?.custom" name="{{ headerState?.iconName }}" class="icon"></i-feather>
      <app-custom-icon *ngIf="headerState?.custom" name="{{ headerState?.iconName }}" class="icon"></app-custom-icon>
      <h1 class="header-title">{{ headerState?.title }}</h1>
    </ng-container>
  </div>

  <div class="stick-right header-content">
    <div class="switcher-container" [class.hidden]="!((isOrganizationAgencyArea$ | async)?.isOrganizationArea || (isOrganizationAgencyArea$ | async)?.isAgencyArea)">
      <ng-container *ngIf="isDekstop$ | async">
        <app-organization-agency-selector [isDarkTheme]="isDarkTheme"></app-organization-agency-selector>
      </ng-container>
      <div class="devider" *ngIf="!(isMobile$ | async)"></div>
    </div>
    <div *ngIf="userChatConfig$ | async" class="bell-button left" (click)="toggleChatDialog()">
      <i-feather name="message-square" class="bell-button__icon"></i-feather>

      <span class="bell-button__badge empty-chat" *ngIf="isUnreadMessages"></span>
    </div>

    <div class="bell-button" (click)="bellIconClicked()">
      <i-feather name="bell"></i-feather>

      <span class="bell-button__badge" *ngIf="alertsCount<99">{{alertsCount}}</span>
      <span class="bell-button__badge" *ngIf="alertsCount>99">99+</span>
    </div>

    <div class="devider" *ngIf="!(isMobile$ | async) && (userChatConfig$ | async)"></div>

    <!-- Temporary solution to log out from the application -->

    <div class="header-item" *ngIf="!(isMobile$ | async)">
      <ejs-menu [items]="profileDatasource" (select)="onSelectProfileMenu($event)"> </ejs-menu>
    </div>
    <!-- Temporary solution to log out from the application -->
    <!--<button class="logout-button" ejs-button cssClass="e-primary" (click)="logout()">Logout</button>-->
  </div>
</div>
<section class="shell">
  <div *ngIf="isMobile$ | async">
    <ng-container [ngTemplateOutlet]="sidebarTmpl" [ngTemplateOutletContext]="{ sidebarDockSize: 0 }"></ng-container>
  </div>

  <ng-container *ngIf="!(isMobile$ | async)" [ngTemplateOutlet]="sidebarTmpl"
  [ngTemplateOutletContext]="{ sidebarDockSize: dockSize }"></ng-container>

  <ng-template #sidebarTmpl let-sidebarDockSize="sidebarDockSize">
    <ejs-sidebar
      id="sidebar"
      #sidebar
      [enableGestures]="false"
      [enableDock]="enableDock"
      [width]="width"
      [dockSize]="sidebarDockSize"
      [type]="sideBarType"
      [zIndex]="1002"
      (created)="onSideBarCreated()"
    >
      <section class="primary-container">
        <section class="logo-container">
          <div class="close-btn" *ngIf="sidebar.isOpen && (isMobile$ | async)" (click)="toggleSidebar()"></div>
          <div class="logo" *ngIf="sidebar.isOpen"></div>
          <div class="small-logo" *ngIf="!sidebar.isOpen"></div>
        </section>
        <section
          class="collapse search-menu"
          (click)="onSearchMenuClick()"
          [ngClass]="{ 'search-menuitem-expand': sidebar.isOpen, 'search-menu-item-active': isSearching }"
        >
          <a class="icon-container" #searchInputContainer>
            <i-feather name="search" class="icon"></i-feather>
            <span class="e-text">
              <input
                #searchInput
                id="sidebar-nav-search-input"
                class="nav-search-input"
                [(ngModel)]="searchString"
                placeholder="Start typing"
                [value]="searchString"
                (ngModelChange)="onSearchChange()"
                (focusout)="onSearchFocusOut()"
              />
            </span>
          </a>
        </section>
        <section class="menu">
          <section class="sidebar-menu">
            <ejs-treeview
              id="template"
              #treevalidate
              [fields]="sideBarMenuField"
              (nodeClicked)="toggleSubMenu($event)"
              [fullRowSelect]="true"
              [loadOnDemand]="false"
            >
              <ng-template #nodeTemplate="" let-data="">
                <section
                  appAnalyticByClick
                  [analyticData]="data.route"
                  [analyticTargetType]="'menu'"
                  [analyticEventValue]="data.title"
                  class="icon-container"
                  (click)="selectMenuItem(data)"
                  (mouseenter)="showContextMenu(data, $event)"
                >
                  <app-custom-icon *ngIf="data.custom" [name]="data.icon" class="icon"></app-custom-icon>
                  <i-feather *ngIf="!data.custom" [name]="data.icon" class="icon"></i-feather>
                  <span class="e-text">{{ data.title }}</span>
                  <span class="e-badge e-badge-success e-badge-circle" *ngIf="data.count">{{ data.count }}</span>
                </section>
              </ng-template>
            </ejs-treeview>

            <ejs-contextmenu
              id="contextmenu"
              #contextmenu
              target="#template"
              (onClose)="onContextMenuClose()"
              (beforeOpen)="onBeforeContextMenuOpen($event)"
              (beforeClose)="onBeforeContextMenuClose($event)"
              (select)="onSubMenuItemClick($event)"
            ></ejs-contextmenu>
          </section>
        </section>
      </section>

      <section class="help-container" *ngIf="showHelpIButton">
        <section class="help">
          <button
            class="icon-container help__button"
            (click)="onGetHelp()" >
            <i-feather name="help-circle" class="icon"></i-feather>
            <span class="e-text">Help</span>
          </button>
        </section>
      </section>

      <aside class="secondary-container">
        <section class="misc">
          <!--section class="edu-faq"> TODO: hidden until implemented
          <a href="" class="icon-container" (click)="false">
            <i-feather name="settings" class="icon"></i-feather>
            <span class="e-text">Settings</span>
          </a>
        </!--section-->
        </section>
        <section class="username sidebar-item">
          <div class="header-item header-item__inner" *ngIf="isMobile$ | async">
            <div class="header-item__img"></div>
            <ejs-menu class="user" [items]="profileDatasource" (select)="onSelectProfileMenu($event)"> </ejs-menu>
          </div>
        </section>
        <section class="org-agency sidebar-item">
          <div
            class="switcher-container switcher-container--tablet"
            [class.hidden]="
              !(
                (isOrganizationAgencyArea$ | async)?.isOrganizationArea ||
                (isOrganizationAgencyArea$ | async)?.isAgencyArea
              )
            "
          >
            <ng-container *ngIf="!(isDekstop$ | async)">
              <app-organization-agency-selector></app-organization-agency-selector>
            </ng-container>
          </div>
        </section>
        <section class="collapse" *ngIf="!(isMobile$ | async) && showCollapseButton">
          <button
            class="icon-container collapse-button"
            (click)="toggleSidebar()" >
            <i-feather name="sidebar" class="icon"></i-feather>
            <span class="e-text">Collapse</span>
          </button>
        </section>
      </aside>
    </ejs-sidebar>
  </ng-template>

  <section id="main" #mainContainer>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <dashboard-search-menu
      #searchMenuInstance
      class="dashboardSearchMenus"
      *ngIf="isSearching"
      [isMaximized]="isMaximized"
      [searchResult]="searchResult"
      [searchString]="searchString"
      (searchFocusOut)="onSearchFocusOut()"
      [searchHeight]="searchHeight"
      [isDarkTheme]="isDarkTheme$ | async"
      (handleOnSearchTextKeyUp)="handleOnSearchMenuTextKeyUp($event)"
    >
    </dashboard-search-menu>
  </section>
</section>

<app-message-toast></app-message-toast>
<ejs-sidebar
  id="alert-sidebar"
  *ngIf="showAlertSidebar"
  #alertSidebar
  [width]="alertSidebarWidth"
  [type]="alertSidebarType"
  [position]="alertSidebarPosition"
  showBackdrop="true"
  style="visibility: hidden"
  (created)="onAlertSidebarCreated()"
>
  <div class="sidebar-header">
    <div>
      <h5 class="alert-title-header-body-color">Notifications</h5>
    </div>
    <div class="closebtn">
      <button ejs-button id="close" class="e-btn close-btn" title="Close" (click)="alertSideBarCloseClick()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>

  <div id="listcontainer" #uiElement  (scroll)="onScrollLoadData()">
    <section class="alert-body">
      <section class="alert-panel" *ngFor="let item of alerts$ | async">
        <div class="alert-panel-header">
          <div class="alert-panel-header__flex-child">
            <span>
              <i-feather class="badge-info" name="bell"></i-feather>
            </span>
          </div>
          <div class="alert-panel-header__flex-child alert-panel-header__title">
            {{ item.title }}
          </div>
          <div class="alert-panel-header__flex-child alert-panel-header__date alert-date">
            <div>
              <span>{{ item.createdAt | date: 'MM/dd/yyyy' }}</span>
            </div>
            <div>
              <span>{{ item.createdAt | date: 'HH:mm:ss' }}</span>
            </div>
          </div>
        </div>
        <div
          class="alert-content alert-title-header-body-color"
          (click)="getContentDetails(item.organizationId, item.orderId,item.alertTitle)"
          [innerHTML]="item.content"
        ></div>
      </section>
      <p *ngIf="!scrollData">{{loadMoreCotent}}</p>
    </section>
  </div>
</ejs-sidebar>

<app-chat-container *ngIf="userChatConfig$ | async"></app-chat-container>
<app-custom-side-dialog [header]="contactHeaderTitle" [width]="dialogWidth">
  <app-contactus></app-contactus>
</app-custom-side-dialog>
