@import 'colors';
@import 'adaptive-response';

:host {
  height: 100%;
  display: block;
  
}
::ng-deep .document-grid.msp-list .ag-body-viewport.ag-layout-auto-height.ag-row-no-animation {
    height: calc(100vh - 280px) !important;
}