.candidat-tabs {
  margin-top: 24px;

  &.first-active {
    .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
      left: 0px !important;
      right: 116px !important;
    }
  }
}

.edit-btn {
  padding: 8px 11px !important;

  i-feather {
    margin: 0 !important;
  }
}

.candidat-dialog {
  .candidat-header {
    align-items: start !important;
  }
}

.candidat-info {
  display: flex;

  .e-card-title {
    margin: 0;
  }

  .info {
    margin-left: 16px;

    ejs-chiplist {
      padding-left: 0 !important;
    }
  }
}
