<form [formGroup]="filtersForm">
  <div class="input-container" *ngIf="isAgency"  >
    <label>Organization</label>
    <div class="input-group multiselect bootstrap">
      <ejs-multiselect
        #organizationMultiselect
        mode="CheckBox"
        selectAllText="All"
        [showSelectAll]="true"
        formControlName="organizationIds"
        placeholder="All"
        [fields]="optionFields"
        [allowFiltering]="true"
        [showDropDownIcon]="true"
        [changeOnBlur]="false"
        [dataSource]="filterColumns.organizationIds.dataSource"
      >
      </ejs-multiselect>
    </div>
  </div>
  <div class="input-container bootstrap" *ngIf="!isAgency">
    <label>Organization</label>
    <div class="input-group dropdown">
      <input class="e-input" type="text" value={{orgAgencyName}} [attr.disabled]="!isAgency"/>
    </div>
  </div>
  <div class="input-container">
    <label>Region</label>
    <div class="input-group multiselect bootstrap">
      <ejs-multiselect mode="CheckBox"
                       formControlName="regionsIds"
                       #regionDropdown
                       placeholder="All"
                       [fields]="typeFields"
                       [allowFiltering]="true"
                       [showDropDownIcon]="true"
                       [dataSource]="filterColumns.regionsIds.dataSource"
                       [selectAllText]='allOption' showSelectAll=true placeholder="All" >

        <ng-template #itemTemplate let-data>
          <div class="region-option-container" [class.admin]="isAgency">
            <span class="region-name">{{ data?.name }}</span>
            <span *ngIf="isAgency" class="org-name">{{ data?.orgName }}</span>
          </div>
        </ng-template>

      </ejs-multiselect>
    </div>
  </div>

  <div class="input-container">
    <label>Location</label>
    <div class="input-group multiselect bootstrap">
      <ejs-multiselect mode="CheckBox"   
      #locationDropdown
                       formControlName="locationIds"
                       placeholder="All"
                       [fields]="typeFields"
                       [allowFiltering]="true"
                       [showDropDownIcon]="true"
                       [dataSource]="filterColumns.locationIds.dataSource"
                       [filterType]="filterType"
                       [selectAllText]='allOption' showSelectAll=true placeholder="All" >

        <ng-template #itemTemplate let-data>
          <div class="region-option-container" [class.admin]="isAgency">
            <span class="region-name">{{ data?.name }}</span>
            <span *ngIf="isAgency" class="org-name">{{ data?.regionName }}</span>
          </div>
        </ng-template>

      </ejs-multiselect>
    </div>
  </div>



  <div class="input-container">
    <label>Department</label>
    <div class="input-group multiselect bootstrap">
      <ejs-multiselect mode="CheckBox"
       #departmentDropdown
                       formControlName="departmentIds"
                       placeholder="All"
                       [fields]="typeFields"
                       [allowFiltering]="true"
                       [showDropDownIcon]="true"
                       [dataSource]="filterColumns.departmentIds.dataSource"
                       [filterType]="filterType"
                       [selectAllText]='allOption' showSelectAll=true placeholder="All" >

        <ng-template #itemTemplate let-data>
          <div class="region-option-container" [class.admin]="isAgency">
            <span class="region-name">{{ data?.name }}</span>
            <span *ngIf="isAgency" class="org-name">{{ data?.locationName }}</span>
          </div>
        </ng-template>

      </ejs-multiselect>
    </div>


  </div>

  <div class="input-container">
    <label>Skill</label>
    <div class="input-group multiselect bootstrap">
      <ejs-multiselect mode="CheckBox"
                       formControlName="skillsIds"
                       placeholder="All"
                       [fields]="skillFields"
                       [allowFiltering]="true"
                       [showDropDownIcon]="true"
                       [dataSource]="filterColumns.skillsIds.dataSource">
      </ejs-multiselect>
    </div>
  </div>
  <div class="input-container bootstrap" *ngIf="!isAgency">
    <label>Agency</label>
    <div class="input-group dropdown">
      <ejs-multiselect mode="CheckBox" formControlName="agencyIds"  appValidateWithMessage
                       [allowFiltering]="true" [showDropDownIcon]="true" 
                       [dataSource]="filterColumns.agencyIds.dataSource"
                       [fields]="agencyFields" [selectAllText]='allOption' showSelectAll=true placeholder="All"  >
      </ejs-multiselect>
    </div>
  </div>

   
  <div class="input-container bootstrap" *ngIf="isAgency">
    <label>Agency</label>
    <div class="input-group dropdown">
      <input class="e-input" type="text" value={{orgAgencyName}} [attr.disabled]="isAgency" />
    </div>
  </div>

  <div class="input-container">
    <label>Order Type</label>
    <div class="input-group multiselect bootstrap">
      <ejs-multiselect mode="CheckBox"
                       formControlName="orderTypes"
                       placeholder="All"
                       [fields]="typeFields"
                       [allowFiltering]="true"
                       [showDropDownIcon]="true"
                       [dataSource]="filterColumns.orderTypes.dataSource">
      </ejs-multiselect>
    </div>
  </div>
  <div class="input-container" *ngIf="isAgency">
    <label>Candidate Status</label>
    <div class="input-group multiselect bootstrap">
      <ejs-multiselect mode="CheckBox"
                       formControlName="applicantStatuses"
                       placeholder="All"
                       [fields]="typeFields"
                       [allowFiltering]="true"
                       [showDropDownIcon]="true"
                       [dataSource]="filterColumns.applicantStatuses.dataSource">
      </ejs-multiselect>
    </div>
  </div>

 
  <div class="input-container bootstrap"  *ngIf="isAgency">
    <label>Position ID</label>
    <div class="input-group dropdown">
      <input class="e-input" type="text" appValidateWithMessage maxlength="50"  formControlName="orderId" />
    </div>
  </div>

      <div class="input-container bootstrap"  *ngIf="isAgency">
        <label>Candidate Name</label>
        <div class="input-group dropdown">          
          <ejs-autocomplete formControlName="candidateNames"  [dataSource]="filterColumns.candidateNames.dataSource" 
           filterType='StartsWith' [fields]='candidateNameFields'
                  [autofill]='true' [placeholder]='remoteWaterMark' sortOrder='Ascending' (filtering)='filterCandidateName($event)'></ejs-autocomplete>
        </div>
      </div>
      <div class="input-container bootstrap"  *ngIf="!isAgency">
        <label>Candidate Name</label>
        <div class="input-group dropdown">          
          <ejs-autocomplete formControlName="candidateNames"  [dataSource]="filterColumns.candidateNames.dataSource" 
           filterType='StartsWith' [fields]='candidateNameFields'
                  [autofill]='true' [placeholder]='remoteWaterMark' sortOrder='Ascending' (filtering)='filterCandidateName($event)'></ejs-autocomplete>
        </div>
      </div>
      <div class="input-container" *ngIf="!isAgency">
        <label>Candidate Status</label>
        <div class="input-group multiselect bootstrap">
          <ejs-multiselect mode="CheckBox"
                           formControlName="applicantStatuses"
                           placeholder="All"
                           [fields]="typeFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="filterColumns.applicantStatuses.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    
     
      <div class="input-container bootstrap"  *ngIf="!isAgency">
        <label>Position ID</label>
        <div class="input-group dropdown">
          <input class="e-input" type="text" appValidateWithMessage maxlength="50"  formControlName="orderId" />
        </div>
      </div>
    
      
  <div class="input-container calendar">
    <label>Start Date</label>
    <div class="input-group datepicker">
      <ejs-datepicker id="startDate"
                      class="datepicker"
                      format="MM/dd/yyyy"
                      placeholder="MM/DD/YYYY"
                      formControlName="startDate">
      </ejs-datepicker>
    </div>
  </div>
  <div class="input-container calendar">
    <label>End Date</label>
    <div class="input-group datepicker">
      <ejs-datepicker id="endDate"
                      class="datepicker"
                      format="MM/dd/yyyy"
                      placeholder="MM/DD/YYYY"
                      formControlName="endDate">
      </ejs-datepicker>
    </div>
  </div>




</form>
