@import 'adaptive-response';

:host {
  overflow-y: auto;
  .container.extension-container.container-tab {
    padding: 24px 0;
  }
}

.button-container {
  button:not(:last-child) {
    margin-right: 12px;
  }
}

.input-container {
  margin-bottom: 12px;
}

.comments {
  border-radius: 8px;
}

@media (max-width: $tablet-min) {
  .extension-container {
    padding: 0 !important;
  }

  .form-mobile {
    flex-direction: column;
  }
}
