<section class="container extension-container container-tab" *ngIf="candidate$ | async as candidate">
  <section class="header-container">
    <div class="e-card-header">
      <div class="e-card-header-caption candidat-status">
        <h3 class="e-card-title candidate-title link" (click)="onViewNavigation()">{{ candidate?.lastName }}, {{ candidate?.firstName }}</h3>
        <ng-container *ngIf="candidate.workflowStepType">
          <ejs-chiplist [text]="candidate.statusName">
            <e-chips>
              <e-chip [cssClass]="candidatStatus[candidate.status] | chipsCssClass"></e-chip>
            </e-chips>
          </ejs-chiplist>
        </ng-container>
      </div>
      <div class="e-card-content button-container" *ngIf="!isRejected && !isCancelled">
        <div class="input-group dropdown bootstrap">
          <ejs-dropdownlist
            *ngIf="!isAgency"
            [allowFiltering]="true"
            [fields]="optionFields"
            [dataSource]="applicantStatuses"
            [formControl]="statusesFormControl"
            [disabled]="!actionsAllowed"
            placeholder="Select Status"
            (select)="onStatusChange($event)"
          >
          </ejs-dropdownlist>
        </div>
        <button ejs-button cssClass="e-primary save-button" (click)="onSave()" *ngIf="!isAgency">Save</button>
        <app-tooltip-container [showToolTip]="!actionsAllowed">
          <button
            ejs-button
            cssClass="e-outline"
            *ngIf="canAccept"
            [disabled]="!actionsAllowed"
            (click)="onReject()"
            class="reject-button"
          >
            Reject
          </button>
        </app-tooltip-container>
        <app-tooltip-container [showToolTip]="!actionsAllowed">
          <button ejs-button [isPrimary]="true" *ngIf="canAccept" [disabled]="!actionsAllowed" (click)="onAccept()">
            Accept
          </button>
        </app-tooltip-container>
      </div>
    </div>
    <div class="candidate-message" *ngIf="candidateJob?.isLocal">
      <i-feather name="info" class="icon"></i-feather>
      Local Candidate
    </div>
  </section>
  <section class="content-container">
    <div class="candidate-info">
      <ejs-accordion #accordionElement expandMode="Single" appOpenFirstAccordion>
        <e-accordionitems>
          <e-accordionitem expanded="true">
            <ng-template #header>
              <div>Job Details</div>
            </ng-template>
            <ng-template #content>
              <form [formGroup]="form">
                <div class="d-flex form-mobile">
                  <div class="f-grow-2 flex-width">
                    <div class="input-container bootstrap">
                      <label class="input-group">Job ID</label>
                      <div class="input-group">
                        <input appValidateWithMessage formControlName="jobId" class="e-input" type="text" />
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <label class="input-group">Location</label>
                      <div class="input-group">
                        <input appValidateWithMessage formControlName="locationName" class="e-input" type="text" />
                      </div>
                    </div>

                    <div class="d-flex">
                      <div class="input-container bootstrap flex-width-date">
                        <label class="input-group">Extension Start Date</label>
                        <div class="input-group input-readonly">
                          <ejs-datepicker
                            class="datepicker"
                            format="MM/dd/yyyy"
                            appValidateWithMessage
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            readonly
                            [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                            formControlName="extensionStartDate"
                          >
                          </ejs-datepicker>
                        </div>
                      </div>
                      <div class="input-container bootstrap flex-width-date">
                        <label class="input-group">Extension End Date</label>
                        <div class="input-group input-readonly">
                          <ejs-datepicker
                            class="datepicker"
                            format="MM/dd/yyyy"
                            appValidateWithMessage
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            readonly
                            [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                            formControlName="extensionEndDate"
                          >
                          </ejs-datepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-width">
                    <div class="input-container bootstrap">
                      <label class="input-group">Offered Bill Rate</label>
                      <div
                        class="input-group"
                        [class.input-readonly]="(isOnBoard || !hasCanEditOrderBillRatePermission) && !isAgency"
                      >
                        <input
                          appValidateWithMessage
                          formControlName="offeredBillRate"
                          class="e-input"
                          (focus)="priceUtils.setPriceMask(form, 'offeredBillRate', $event)"
                          (blur)="priceUtils.setTwoDecimals(form, 'offeredBillRate', $event)"
                          type="text"
                          [readonly]="(isOnBoard || !hasCanEditOrderBillRatePermission) && !isAgency"
                        />
                      </div>
                    </div>
                    <div class="input-container bootstrap" *ngIf="isCandidatePayRateVisible">
                      <label>Candidate Pay Rate ($) <span *ngIf="isCandidatePayRateVisible && isOffered" class="required">*</span></label>
                      <div class="input-group input-readonly">
                        <app-numeric-textbox
                          [formGroupInstance]="form"
                          [decimals]="payRateSetting.decimals"
                          [maxLength]="payRateSetting.maxLength"
                          [min]="payRateSetting.min"
                          [format]="payRateSetting.format"
                          controlName="candidatePayRate"
                        ></app-numeric-textbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="input-container bootstrap" *ngIf="isAgency || isAccepted || isOnBoard || isOffboard">
                    <label class="input-group">Leave request comments</label>
                    <div class="input-group">
                      <input appValidateWithMessage formControlName="comments" class="e-input" type="text" />
                    </div>
                  </div>
                </div>

                <div class="d-flex" *ngIf="(isAccepted && !isAgency) || isOnBoard || isOffboard">
                  <div class="f-grow-2 flex-width">
                    <div class="input-container bootstrap flex-width-date">
                      <label class="input-group">Guaranted Work Week</label>
                      <div class="input-group">
                        <input
                          appValidateWithMessage
                          formControlName="guaranteedWorkWeek"
                          class="e-input"
                          type="text"
                          maxlength="50"
                        />
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="input-container bootstrap">
                        <label class="input-group">Actual Start Date</label>
                        <div class="input-group">
                          <ejs-datepicker
                            id="startDate"
                            #startDate
                            class="datepicker"
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                            formControlName="actualStartDate"
                            (change)="onStartDateChange($event)"
                          >
                          </ejs-datepicker>
                        </div>
                      </div>
                      <div class="input-container bootstrap">
                        <label class="input-group">Actual End Date</label>
                        <div class="input-group">
                          <ejs-datepicker
                            id="endDate"
                            class="datepicker"
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [min]="actualStartDateValue"
                            [enableMask]="true"
                            [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
                            formControlName="actualEndDate"
                          >
                          </ejs-datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="input-container bootstrap">
                      <ejs-checkbox
                        formControlName="allowDeployCredentials"
                        label="Allow deploy w/o credentials"
                        maxlength="50"
                      ></ejs-checkbox>
                    </div>
                  </div>
                  <div>
                    <div class="input-container bootstrap">
                      <label>Clock ID</label>
                      <div class="input-group">
                        <input
                          appValidateWithMessage
                          formControlName="clockId"
                          class="e-input"
                          type="text"
                          maxlength="50"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-container bootstrap" *ngIf="isRejected">
                  <label>Rejection Reason</label>
                  <div class="input-group">
                    <input
                      appValidateWithMessage
                      readonly
                      formControlName="rejectReason"
                      class="e-input"
                      type="text"
                      maxlength="50"
                    />
                  </div>
                </div>
                <div *ngIf="isCancelled">
                  <div class="input-container bootstrap">
                    <label class="input-group">Reason</label>
                    <div class="input-group input-readonly">
                      <input
                        appValidateWithMessage
                        formControlName="jobCancellationReason"
                        class="e-input"
                        type="text"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="input-container bootstrap">
                    <label class="input-group">Penalty Criteria</label>
                    <div class="input-group input-readonly">
                      <input
                        appValidateWithMessage
                        formControlName="penaltyCriteria"
                        class="e-input"
                        type="text"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="d-flex" *ngIf="!verifyNoPenalty">
                    <div class="input-container bootstrap">
                      <label class="input-group">{{ showPercentage ? '% ' : '' }}Rate</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="rate" class="e-input" type="text" readonly />
                      </div>
                    </div>
                    <div class="input-container bootstrap" *ngIf="showHoursControl">
                      <label class="input-group">Hours</label>
                      <div class="input-group input-readonly">
                        <input appValidateWithMessage formControlName="hours" class="e-input" type="text" readonly />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>Historical Events</div>
            </ng-template>
            <ng-template #content>
              <app-historical-events
                [organizationId]="candidateJob?.organizationId!"
                [candidateJobId]="candidate.candidateJobId"
                [candidateId]="candidate.candidateId"
                [isAgency]="isAgency"
              ></app-historical-events>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <div class="comments">
      <app-comments
        *ngIf="candidateJob"
        [comments]="comments"
        [canVmsCreateOrders]="canCreateOrder"
        [externalCommentConfiguration]="currentOrder.externalCommentsConfiguration"
        [commentContainerId]="candidateJob.commentContainerId || 0"
      ></app-comments>
    </div>
  </section>
  <section class="bill-rates">
    <ng-container [ngTemplateOutlet]="isAgency || isRejected || isCancelled ? billRates : editBillRates"></ng-container>
    <ng-template #billRates>
      <app-bill-rates-view-grid [billRatesData]="billRatesData"></app-bill-rates-view-grid>
    </ng-template>
    <ng-template #editBillRates>
      <app-bill-rates
        [billRates]="billRatesData"
        (billRatesChanged)="updateOrganizationCandidateJobWithBillRate($event)"
        [isActive]="true"
        [isExtension]="!!currentOrder.extensionFromId"
        [readOnlyMode]="isReadOnlyBillRates"
      ></app-bill-rates>
    </ng-template>
  </section>
  <ng-container *ngIf="canAccept || !isAgency">
    <div class="mobile-actions" [ngClass]="{ tab: isTab }">
      <div class="input-group dropdown bootstrap" *ngIf="!isAgency">
        <ejs-dropdownlist
          [allowFiltering]="true"
          [fields]="optionFields"
          [dataSource]="applicantStatuses"
          [formControl]="statusesFormControl"
          placeholder="Select Status"
          (select)="onStatusChange($event)"
        ></ejs-dropdownlist>
      </div>
      <button ejs-button cssClass="e-primary save-button" (click)="onSave()" *ngIf="!isAgency">Save</button>
      <button ejs-button cssClass="e-outline" [isPrimary]="true" *ngIf="canAccept" (click)="onReject()">Reject</button>
      <button ejs-button [isPrimary]="true" *ngIf="canAccept" (click)="onAccept()">Accept</button>
    </div>
  </ng-container>
</section>

<app-reject-reason-dialog
  [rejectReasonsList]="$any(rejectReasons$ | async)"
  [openEvent]="openRejectDialog"
  (applyReject)="rejectCandidateJob($event)"
  (cancelReject)="resetStatusesFormControl()"
></app-reject-reason-dialog>

<app-candidate-cancellation-dialog
  [openEvent]="openCandidateCancellationDialog"
  [candidateJob]="candidateJob"
  (submitCandidateCancellation)="cancelCandidate($event)"
  (cancelCandidateCancellation)="resetStatusesFormControl()"
></app-candidate-cancellation-dialog>

<app-send-email-side-dialog [header]="templateEmailTitle" [isSend]="isSend"  (groupEmailFormCancelClicked)="onGroupEmailAddCancel()" (groupEmailFormSendClicked)="onGroupEmailSend()" [width]="'1000px'">
  <app-onboard-candidate-message-dialog  [isFormInvalid]="isSendOnboardFormInvalid"
    [onBoardMessageEmailTemplateForm]="$any(sendOnboardMessageEmailFormGroup)" [title]="templateEmailTitle" [isSend]="isSend" [emailTo]="emailTo"
  ></app-onboard-candidate-message-dialog>
</app-send-email-side-dialog>
