@import 'adaptive-response';

.contact-details__form {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  @media #{$max-tablet} {
    grid-template-columns: repeat(3, 1fr);
  }
}
