<app-form-control-wrapper
  [label]="label"
  [formGroup]="formGroupInstance"
  [id]="id"
  [required]="required"
  class="app-numeric-textbox"
>
  <div class="input-group">
    <ejs-numerictextbox
      (change)="handleChangeEvent($event)"
      (blur)="onBlur()"
      [formControlName]="controlName"
      [id]="id"
      [max]="max"
      [min]="min"
      [placeholder]="placeholder"
      [showSpinButton]="false"
      [validateDecimalOnType]="true"
      [format]="format"
      [htmlAttributes]="htmlAttributes"
      [value]="fieldValue"
      [strictMode]="strictMode"
      [decimals]="decimals"
      [maxlength]="maxLength"
    ></ejs-numerictextbox>
    <app-error-message [control]="getControl()"></app-error-message>
  </div>
</app-form-control-wrapper>
