<div class="widget">
  <div class="widget-indicators">
    <div class="widget-score">
      <span class="widget-score-number">{{ widget.score }}</span>
      <span class="widget-score-percent" [ngClass]="{ 'indicator-grow': widget.progress > 0 }">{{ widget.data + "%" }}</span>
      <span
        class="e-icons e-arrow-right-up"
        [ngClass]="{
          'indicator-grow': widget.progress > 0,
          'indicator-down': widget.progress < 0
        }"
      ></span>
    </div>
    <span class="widget-score-title">{{ widget.name }}</span>
  </div>
  <div class="widget-chart">
    <ejs-chart
      [id]="chartId"
      [chartArea]="chartArea"
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      style="height: inherit !important"
    >
      <e-series-collection>
        <e-series
          [dataSource]="widget.chartData"
          [fill]="widget.progress < 0 ? '#FF5858' : '#5AA658'"
          type="Spline"
          xName="x"
          yName="y"
        ></e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>
