<div class="edit-user" [ngClass]="{'first-active': firstActive}">
  <ejs-tab #editOrgTab (selecting)="onTabSelecting()">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText> User Settings </ng-template>
        <ng-template #content>
          <app-user-settings [form]="$any(form)" [businessUnits]="businessUnits"></app-user-settings>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText> Visibility Settings </ng-template>
        <ng-template #content>
          <app-visibility-settings></app-visibility-settings>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</div>
