<div class="edit-user" [ngClass]="{'first-active': firstActive}">
  <ejs-tab #tab (selecting)="onTabSelecting($event)" (created)="onTabCreated()">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText> User Settings </ng-template>
        <ng-template #content>
          <app-user-settings [form]="$any(form)" (changeBusinessUnitId)="ChangeBusinessUnitID()"   [businessUnits]="businessUnits"></app-user-settings>
        </ng-template>
      </e-tabitem>
      <e-tabitem disabled="true">
        <ng-template #headerText> Visibility Settings </ng-template>
        <ng-template #content>
          <app-visibility-settings [user]="createdUser"></app-visibility-settings>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</div>
