<app-page-toolbar>
    <ng-container right>
      <div  class="button-group" *ngIf="userPermission[userPermissions.CanseeGroupEmailSentbyotherusers]">
        <ejs-switch
        id="switcher"
        [checked]="true" 
        (change)="onSwitcher($event);"
      ></ejs-switch>
      <label for="switcher" class="switch-text">See my emails only</label>  
      </div>
      <div class="bootstrap business-dropdowns">
        <div class="dropdown-container" *ngIf="userPermission[userPermissions.CanSendGroupEmail]">
          <button
          ejs-button
          id="sendGroupEmailButton"
          type="submit"
          [isPrimary]="true"
          (click)="onGroupEmailFormSendClick()">Send Group Email</button>
        </div>

      </div>
    </ng-container>

  </app-page-toolbar>
  <section>
    <app-group-email-table [gridOptions]="gridOptions"
                           [totalRecordsCount]="rowData.length"
                               (onGridReadyEvent)="onGridReady($event)"
                               (onGridPageSizeChanged)="onPageSizeChanged($event)"></app-group-email-table>
    </section>

  <app-send-email-side-dialog [header]="templateEmailTitle" [isSend]="isSend" (groupEmailFormCancelClicked)="onGroupEmailAddCancel()" (groupEmailFormSendClicked)="onGroupEmailSend()" [width]="'1000px'">
    <section>
      <app-send-group-email #emailTemplateForm [groupEmailTemplateForm]="$any(sendGroupEmailFormGroup)" [title]="templateEmailTitle"
                                      [emailSubject]="viewGroupEmailData.subjectMail" [emailBody]="viewGroupEmailData.bodyMail"
                                      [emailTo]="viewGroupEmailData.toList" [emailCc]="viewGroupEmailData.cCList"
                                      [isSend]="isSend">
     </app-send-group-email>
    </section>
  </app-send-email-side-dialog>

