<ejs-dialog
  #destroyableDialog
  cssClass="dialog"
  [width]="744"
  [visible]="false"
  [isModal]="true"
  [animationSettings]="{ effect: 'SlideRight' }"
  [target]="container"
>
  <ng-template #content>
    <div class="dialog-container">

      <div class="dialog-header">
        <h3 class="title">{{dialogTitle}} Payment</h3>
        <div class="controls">
          <button ejs-button cssClass="e-outline button-cancel" (click)="closePaymentDialog()">Cancel</button>
          <button (click)="savePayment()" ejs-button [isPrimary]="true">Save</button>
        </div>
      </div>

      <div class="form-container">
        <form [formGroup]="checkForm" autocomplete="off" class="bootstrap grid">
          <ng-container *ngFor="let field of addPaymentFormConfig">

            <ng-container [ngSwitch]="field.type">

              <ng-template [ngSwitchCase]="fieldTypes.Date">
                <div class="input-container">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <ejs-datepicker
                      appValidateWithMessage
                      class="datepicker"
                      [max]="today"
                      format="MM/dd/yyyy"
                      [formControlName]="field.field"
                    >
                    </ejs-datepicker>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="fieldTypes.Input">
                <div class="input-container">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group">
                    <input
                      appValidateWithMessage
                      class="e-input"
                      [name]="field.field"
                      [formControlName]="field.field"
                    />
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="fieldTypes.Number">
                <div class="input-container">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group numeric">
                    <input
                      appValidateWithMessage
                      class="e-input"
                      type="number"
                      [name]="field.field"
                      [formControlName]="field.field"
                    />
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="fieldTypes.Dropdown">
                <div class="input-container">
                  <label [for]="field.field">{{ field.title }} <span *ngIf="field.required" class="required">*</span>
                  </label>
                  <div class="input-group dropdown">
                    <ejs-dropdownlist
                      appValidateWithMessage
                      [formControlName]="field.field"
                      [fields]="optionFields"
                      [dataSource]="field.options"
                      [allowFiltering]="true"
                    ></ejs-dropdownlist>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="fieldTypes.Toggle">
                <div class="input-container row-flexed">
                  <div class="input-group wide">
                    <div class="amount-block">
                      <span class="toggle-header">Check Outstanding Amount</span>
                      <span class="amount-text">{{calculatedLeftAmount | currency: 'USD':'symbol':'1.2-2' }}</span>
                    </div>
                    <ejs-switch
                    class="toggle"
                    [formControlName]="field.field"
                  ></ejs-switch>
                  <label [for]="field.field">{{ field.title }}</label>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </form>
      </div>

      <div class="table-container">
        <div class="grid-table-container">
          <app-grid
            class="ag-theme-alpine app-grid__component"
            [columnDefinitions]="checkTableDef"
            [rowData]="tableData"
            [paginationPanel]="false"
            [adjustColumnsWidth]="true"
            [context]="tableContext"
            [gridTitle]="'Invoices'"
            (gridReadyEmitter)="setGridApi($event)"
          ></app-grid>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
