<section class="candidate-work-commitment-tab">
  <app-candidate-work-commitment-grid
    class="grid"
    [employeeIdVal]="candidateService.employeeId"
    [refreshSubject$]="refreshSubject$"
    [dialogSubject$]="dialogSubject$"
  ></app-candidate-work-commitment-grid>
  <app-availability-restriction
    class="grid"
    [employeeIdVal]="candidateService.employeeId"
  ></app-availability-restriction>
</section>
<app-candidate-work-commitment-dialog
  [employeeIdVal]="candidateService.employeeId"
  [refreshSubject$]="refreshSubject$"
  [dialogSubject$]="dialogSubject$"
></app-candidate-work-commitment-dialog>
