@import 'colors';
:host {
  height: calc(100vh - 340px);
}

.candidate-work-commitment-tab {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  height: auto;
  position: relative;
  padding-bottom: 90px;

  .grid {
    position: relative;
    height: 305px;
  }
}
