@import "../../../../styles/variables/colors.scss";

.credentials-container {
  margin: 24px -24px 0;
  padding: 24px;
  height: 312px;
  background-color: $secondary-dark-blue-50;

  .search-credential-form {
    display: flex;

    .left-column {
      width: 70%;
      padding-right: 6px;
    }

    .right-column {
      width: 30%;
      padding-left: 6px;
    }
  }

  .select-credential-error {
    display: flex;
    color: $supportive-red;
    margin-top: 6px;

    i-feather {
      margin-right: 8px;
    }

    span.error {
      font-size: 12px;
    }
  }
}

.add-credential-form {
  display: flex;
  margin-top: 24px;

  .left-column {
    padding-right: 6px;
  }

  .right-column {
    padding-left: 6px;
  }

  .input-container, .dropdown-container, .datepicker-container {
    max-width: 188px;
  }
}

#credentials-files {
  #files-droparea {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-active-blue-10;
    font-size: 12px;
    cursor: pointer;

    &.hidden {
      display: none;
    }

    .browse-link {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  .clear-files-button {
    width: 100%;
    margin-top: 12px;
  }
}

.e-file-select-wrap, .e-upload-actions {
  display: none;
}

.input-container, .dropdown-container, .datepicker-container {
  margin-bottom: 15px;
  flex: 1 1 0px;
}

.input-container label,
.dropdown-container label,
.datepicker-container label {
  margin-bottom: 5px !important;
  display: block;
}

.files-column {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $primary-active-blue-10;
  font-size: 14px;
  cursor: pointer;

  i-feather {
    margin-right: 6px;
    width: 14px;
    height: 14px;
  }

  &:hover {
    text-decoration: $primary-active-blue-10 underline;
  }
}
