<section>
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Credentials</h3>
    </div>
    <div class="actions">
      <span class="action-link" (click)="onFilter()"><i-feather name="sliders" class="icon"></i-feather> Filters</span>
      <span *ngIf="!readonlyMode" class="action-link" (click)="addNew()"><i-feather name="plus" class="icon"></i-feather> Add Credentials</span>
    </div>
  </div>
  <ejs-grid #grid class="e-gridwithheader"
            [dataSource]="candidateCredentialPage?.items"
            [allowPaging]="allowPaging"
            [allowSelection]="false"
            [pageSettings]="pageSettings"
            [height]="gridHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="true"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            (dataBound)="dataBound()">
    <e-columns>
      <e-column field="masterName" headerText="Credential" width=300></e-column>
      <e-column field="number" headerText="Credential #" width=180 textAlign="Right"></e-column>
      <e-column headerText="Certified On" width=165 textAlign="Right">
        <ng-template #template let-data>{{data.createdOn | date:"MM/dd/yyyy"}}</ng-template>
      </e-column>
      <e-column  headerText="Certified Until" width=165 textAlign="Right">
        <ng-template #template let-data>{{data.createdUntil | date:"MM/dd/yyyy"}}</ng-template>
      </e-column>
      <e-column field="insitute" headerText="Credential Institute" width=180></e-column>
      <e-column field="experience" headerText="Credential Experience" width=200></e-column>
      <e-column headerText="Verified Status" width=140>
        <ng-template #template let-data>
          <div>
            <ejs-chiplist>
              <e-chips>
                <e-chip [text]="statusEnum[data.status]"
                        [cssClass]="getChipCssClass(statusEnum[data.status])">
                </e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Completed Date" width=140 textAlign="Right">
        <ng-template #template let-data>{{data.completedDate | date:"MM/dd/yyyy"}}</ng-template>
      </e-column>
      <e-column headerText="Uploaded Files" width=240>
        <ng-template #template let-data>
          <div *ngFor="let file of data.credentialFiles"
               class="files-column">
            <span (click)="onDownload($event, file)" title="Download {{file.name}}"><i-feather name="download" class="icon"></i-feather></span>
            <span class="file-name" (click)="onViewFiles(file.id)" title="View {{file.name}}">{{file.name}}</span>
          </div>
        </ng-template>
      </e-column>
      <e-column textAlign="Right" minWidth="132" width="132" freeze="Right" *ngIf="!readonlyMode">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat default-icon-button" (click)="onCopy($event, data)" [disabled]="disabledCopy">
              <span><i-feather name="copy" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit($event, data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemove($event, data)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist id="rowsPerPage"
                                class="dropdown-no-border"
                                [dataSource]="rowsPerPageDropDown"
                                [(value)]="activeRowsPerPageDropDown"
                                (change)="onRowsDropDownChanged()">
              </ejs-dropdownlist>
              <ejs-numerictextbox id="goToPage"
                                  class="numeric-input-no-border"
                                  format="#"
                                  placeholder="Go to:"
                                  min="1"
                                  [max]="candidateCredentialPage?.totalPages"
                                  [showSpinButton]="false"
                                  (change)="onGoToClick($event)">
              </ejs-numerictextbox>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager id="gridPager"
                         #gridPager
                         [pageSize]="pageSize"
                         [totalRecordsCount]="candidateCredentialPage?.totalCount"
                         [enablePagerMessage]="false"
                         [currentPage]="currentPage"
                         (click)="onGoToClick($event)">
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>

<app-side-dialog header="{{ isEdit ? 'Edit' : 'Add' }} Credential"
                 (formCancelClicked)="closeDialog()"
                 (formSaveClicked)="onSaveCredential()">
  <div class="credentials-container">
    <form class="form-container bootstrap" [formGroup]="searchCredentialForm">
      <div class="search-credential-form">
        <div class="left-column">
          <div class="input-container">
            <label>Credential Name</label>
            <div class="input-group">
              <input class="e-input"
                     type="text"
                     appValidateWithMessage
                     placeholder="Search"
                     formControlName="searchTerm"/>
            </div>
          </div>
        </div>
        <div class="right-column">
          <div class="dropdown-container">
            <label>Credential Type</label>
            <div class="input-group dropdown">
              <ejs-dropdownlist appValidateWithMessage
                                [fields]="credentialTypesFields"
                                [showClearButton]="true"
                                formControlName="credentialTypeId"
                                [dataSource]="credentialType$ | async">
              </ejs-dropdownlist>
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-container *ngIf="masterCredentials$ | async as masterCredentials">
      <ejs-grid class="search-grid" *ngIf="masterCredentials.length"
                [dataSource]="masterCredentials"
                [enableVirtualization]="true"
                (rowSelected)="selectMasterCredentialId($event)"
                (rowDeselected)="clearMasterCredentialId()"
                [height]="238"
                [rowHeight]="48">
        <e-columns>
          <e-column field="name"></e-column>
          <e-column field="credentialTypeName" width="140"></e-column>
        </e-columns>
      </ejs-grid>
      <div class="empty-list" *ngIf="!masterCredentials.length">
        <i-feather name="alert-circle" class="icon"></i-feather>
        <span>There are no records to display</span>
      </div>
    </ng-container>
    <div class="select-credential-error" *ngIf="selectCredentialError">
      <i-feather name="alert-circle" class="icon"></i-feather>
      <span class="error">Required</span>
    </div>
  </div>

  <form class="form-container bootstrap" [formGroup]="addCredentialForm">
    <div class="add-credential-form bootstrap">
      <div class="left-column">
        <div class="dropdown-container">
          <label>Verified Status<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist appValidateWithMessage
                              [fields]="optionFields"
                              formControlName="status"
                              [dataSource]="verifiedStatuses">
            </ejs-dropdownlist>
          </div>
        </div>
        <div class="input-container">
          <label>Institute<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="100"
                   appValidateWithMessage
                   formControlName="insitute"/>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Certified On<span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker class="datepicker"
                            appValidateWithMessage
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                            [max]="today"
                            formControlName="createdOn">
            </ejs-datepicker>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Completed Date<span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker class="datepicker"
                            appValidateWithMessage
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                            formControlName="completedDate">
            </ejs-datepicker>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="input-container">
          <label>Credentials Number<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="100"
                   appValidateWithMessage
                   formControlName="number"/>
          </div>
        </div>
        <div class="input-container">
          <label>Experience<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="20"
                   appValidateWithMessage
                   formControlName="experience"/>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Certified Until<span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker class="datepicker"
                            appValidateWithMessage
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                            formControlName="createdUntil">
            </ejs-datepicker>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="credentials-files">
    <div id="files-droparea" class="droparea" (click)="browse()">
      <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
    </div>
    <ejs-uploader #filesUploader
                  [dropArea]="dropElement"
                  [allowedExtensions]="allowedExtensions"
                  [maxFileSize]="maxFileSize"
                  [autoUpload]="false"
                  (selected)="onFileSelected($event)">
    </ejs-uploader>
    <button [disabled]="disableClearButton" ejs-button class="clear-files-button" cssClass="e-outline" (click)="clearFiles()">Clear</button>
  </div>
</app-side-dialog>

<app-file-viewer [openEvent]="openFileViewerDialog"></app-file-viewer>
