<div class="filter-chips">
  <div [ngClass]="['filter-chips__wrapper', isCollapsed && items.length ? 'expand' : '']">
    <div class="filter-chips__list" #resize>
      <div class="filter-chips__applied-filters">Applied Filters: {{ items.length ? '' : 'None' }}</div>
      <div class="filter-chips__container" *ngFor="let filter of chipList">
        <div class="filter-chips__item" *ngIf="!!filter.value; else filterName">
          <ejs-chiplist [chips]="[filter]" enableDelete="true" (delete)="deleteChip($event)"></ejs-chiplist>
        </div>
        <ng-template #filterName><span class="filter-chips__title">{{ filter }}</span></ng-template>
      </div>
    </div>
    <div class="filter-chips__button">
      <div *ngIf="showMoreLessBtn && items.length" class="show-more-less" (click)="onCollapseExpandList()">
        {{ !isCollapsed ? 'Show more' : 'Show less' }}
      </div>
      <div class="clear-all" *ngIf="items.length" (click)="onClearFilters()">Clear all</div>
    </div>
  </div>
</div>
