<div class="e-input-group e-float-icon-left search-with-icon" #inputWithIcon>
  <span class="e-input-group-icon">
    <i-feather name="search" class="icon"></i-feather>
  </span>
  <div class="e-input-in-wrap">
    <input
      #input
      class="e-input"
      type="text"
      [placeholder]="placeholder"
      (click)="onSearchClick()"
      (blur)="onSearchBlur()"
      (keyup)="onKeyUp($event)"
      (focusout)="onSearchFocusOut($event)"
    />
  </div>
  <span *ngIf="showClearButton && input.value" class="e-input-group-icon" (click)="clearInputByButton()">
    <i-feather name="X" class="icon"></i-feather>
  </span>
</div>
