<section class="order-content" *ngIf="order">
  <div class="job-description-accordion">
    <ejs-accordion #accrdDescription (clicked)="accrdHistorical.expandItem(false)" expandMode="Single">
      <e-accordionitems>
        <e-accordionitem expanded="true">
          <ng-template #header>
            <div>Job Description</div>
          </ng-template>
          <ng-template #content>
            <div class="description">{{ order.jobDescription }}</div>
          </ng-template>
        </e-accordionitem>
        <e-accordionitem>
          <ng-template #header>
            <div>Unit Description</div>
          </ng-template>
          <ng-template #content>
            <div class="description">{{ order.unitDescription }}</div>
          </ng-template>
        </e-accordionitem>
      </e-accordionitems>
    </ejs-accordion>
    <div class="comments" *ngIf="!isPosition">
      <app-comments
        [comments]="comments"
        [orderId]="order.id"
        [commentContainerId]="order.commentContainerId || 0"
        [externalCommentConfiguration]="order.externalCommentsConfiguration"
      ></app-comments>
    </div>
    <div class="contacts-container" >
      <div class="contacts">
        <div class="contact-title">Supervisor/Work Location</div>
        <div class="contact-details">
          <span  *ngIf="!isHideContactDetailsOfOrderInAgencyLogin" > <i-feather name="user" class="icon"></i-feather> {{ contactDetails?.name }} </span>
          <span  *ngIf="!isHideContactDetailsOfOrderInAgencyLogin" > <i-feather name="mail" class="icon"></i-feather> {{ contactDetails?.email }} </span>
          <span>
            <i-feather name="map-pin" class="icon"></i-feather>
            {{ contactDetails?.address }}, {{ contactDetails?.city }}, {{ contactDetails?.state }},
            {{ contactDetails?.zipCode }}
          </span>
        </div>
      </div>
    </div>
    <ejs-accordion
      #accrdHistorical
      class="historical-events"
      (expanded)="onExpanded($event)"
      (clicked)="accrdDescription.expandItem(false)"
    >
      <e-accordionitems>
        <e-accordionitem>
          <ng-template #header>
            <div>Historical Events</div>
          </ng-template>
          <ng-template #content>
            <app-order-historical-events [events]="events"></app-order-historical-events>
          </ng-template>
        </e-accordionitem>
      </e-accordionitems>
    </ejs-accordion>
  </div>
  <div>
    <div class="credentials">
      <div class="credentials-title">Credentials</div>
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded="true" *ngFor="let item of order.groupedCredentials | keyvalue">
            <ng-template #header>
              <div>{{ item.key }}</div>
            </ng-template>
            <ng-template #content>
              <div>
                <div class="credential-item" *ngFor="let cred of item.value | keyvalue">
                  <div class="credential-title">{{ cred.value.credentialName }}</div>
                  <div>
                    <ejs-tooltip target=".icon" position="TopCenter" [windowCollision]="true">
                      <i-feather
                        title="Req. for Submission"
                        [name]="cred.value.reqForSubmission ? 'check-circle' : 'alert-triangle'"
                        [class.active]="cred.value.reqForSubmission"
                        class="icon"
                      ></i-feather>
                      <i-feather
                        title="Req. for Onboard"
                        [name]="cred.value.reqForOnboard ? 'check-circle' : 'alert-triangle'"
                        [class.active]="cred.value.reqForOnboard"
                        class="icon"
                      ></i-feather>
                      <i-feather
                        title="Optional"
                        [name]="cred.value.optional ? 'check-circle' : 'alert-triangle'"
                        [class.active]="cred.value.optional"
                        class="icon"
                      ></i-feather>
                    </ejs-tooltip>
                  </div>
                </div>
              </div>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
  </div>
</section>
<section
  class="bill-rates"
  *ngIf="order && order?.orderType !== orderType.OpenPerDiem && order?.orderType !== orderType.PermPlacement"
>
  <app-bill-rates-view-grid [billRatesData]="order.billRates"></app-bill-rates-view-grid>
</section>
