@import "colors";
@import "adaptive-response";

.bootstrap .row {
  display: flex;
  flex-wrap: wrap;

  @media #{$min-tablet} {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .input-container {
    width: 100%;

    &:nth-child(n+2) {
      margin-left: 0;

      @media #{$min-tablet} {
        margin-left: 12px;
      }

    }
  }
}

.input-container {
  margin-bottom: 12px;

  &.full-width {
    grid-column: 1 / 3;
  }

  :last-child {
    margin-bottom: 0;
  }
}
