<div class="general-info">
  <div class="e-card-title-wrapper">
    <div class="e-card-title">General Info</div>
  </div>
  <form
    [formGroup]="formGroup"
    class="form-group"
  >
    <div class="input-container bootstrap extend-cell">
      <label>First Name<span class="required">*</span></label>
      <div class="input-group">
        <input
          appValidateWithMessage
          formControlName="firstName"
          class="e-input"
          type="text"
          maxlength="50"
        />
      </div>
    </div>

    <div class="input-container bootstrap">
      <label>Middle Name</label>
      <div class="input-group">
        <input
          appValidateWithMessage
          formControlName="middleName"
          class="e-input"
          type="text"
          maxlength="10"
        />
      </div>
    </div>

    <div class="input-container bootstrap">
      <label>Last Name<span class="required">*</span></label>
      <div class="input-group">
        <input
          appValidateWithMessage
          formControlName="lastName"
          class="e-input"
          type="text"
          maxlength="50"
        />
      </div>
    </div>

    <div class="datepicker-container bootstrap">
      <label>DOB<span class="required">*</span></label>
      <div class="input-group datepicker">
        <ejs-datepicker 
          appValidateWithMessage
          id="inactiveDate"
          class="datepicker"
          format="MM/dd/yyyy"
          placeholder="MM/DD/YYYY"
          formControlName="dob"
          [max]="limitDate"
          [enableMask]="true"
          [maskPlaceholder]="maskPlaceholder"
        >
        </ejs-datepicker>
      </div>
    </div>
    <div class="dropdown-container bootstrap">
      <label>Skills<span class="required">*</span></label>
      <div class="input-group">
        <ejs-multiselect
          appValidateWithMessage
          ode="CheckBox"
          popupWidth="auto"
          formControlName="candidateProfileSkills"
          [allowFiltering]="true"
          [fields]="skillsFields"
          [dataSource]="skills"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="dropdown-container bootstrap">
      <label>Profile Status<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          appValidateWithMessage
          formControlName="profileStatus"
          placeholder="Status"
          [enabled]="enableStatusFields"
          [fields]="optionFields"
          [allowFiltering]="true"
          [dataSource]="statuses"
        >
        </ejs-dropdownlist>
      </div>
    </div>
    <div class="dropdown-container bootstrap">
      <label>Cand. Agency Status<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          appValidateWithMessage
          formControlName="candidateAgencyStatus"
          placeholder="Status"
          [enabled]="enableStatusFields"
          [fields]="optionFields"
          [allowFiltering]="true"
          [dataSource]="statuses"
        >
        </ejs-dropdownlist>
      </div>
    </div>

    <div class="dropdown-container bootstrap">
      <label>Classification</label>
      <div class="input-group dropdown">
        <ejs-dropdownlist
          appValidateWithMessage
          formControlName="classification"
          [fields]="optionFields"
          [allowFiltering]="true"
          [dataSource]="classifications"
        >
        </ejs-dropdownlist>
      </div>
    </div>
    <div class="dropdown-container bootstrap">
      <label>Region<span class="required">*</span></label>
      <div class="input-group dropdown">
        <ejs-multiselect appValidateWithMessage
          mode="CheckBox"
          formControlName="candidateProfileRegions"
          selectAllText="Select all"
          [allowFiltering]="true"
          [dataSource]="regions$ | async"
          [showSelectAll]="true"
        >
        </ejs-multiselect>
      </div>
    </div>
    <div class="input-container bootstrap extend-cell">
      <label>SSN</label>
      <div class="input-group">
        <input 
          appValidateWithMessage 
          formControlName="ssn" 
          class="e-input" 
          type="text" 
          mask="{{maskSSNPattern}}"
          (focus)="onSSNFocus()"
          (blur)="onSSNBlur()"
        />
      </div>
    </div>
  </form>
</div>
