@import 'adaptive-response';

.general-info {
  .form-group {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
    padding-bottom: 16px;

    .extend-cell {
      grid-column: 1 / 3;
    }
  }

  .input-container label,
  .dropdown-container label,
  .datepicker-container label {
    margin-bottom: 5px !important;
    display: block;
  }

  @media #{$max-tablet} {
    .form-group {
      grid-template-columns: repeat(4, 1fr);

      .extend-cell {
        grid-column: unset !important;
      }
    }
  }

  @media (max-width: 800px) {
    .form-group {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media #{$max-mobile} {
    .form-group {
      grid-template-columns: 1fr;
    }
  }
}
