<div [formGroup]="groupEmailTemplateForm" id="groupEmailTemplateForm" class="group-email-template-form">
    <div class="section-container">

      <div class="left-section">
        <div class="bootstrap business-dropdowns">
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-dropdownlist appValidateWithMessage
                                formControlName="businessUnit"
                                [fields]="optionFields"
                                [dataSource]="businessUnits"
                                [allowFiltering]="true"
                                placeholder="Business Unit">
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-dropdownlist appValidateWithMessage
                                formControlName="business"
                                [fields]="businessDataFields"
                                [dataSource]="businessData$ | async"
                                [value]="defaultBusinessValue"
                                [allowFiltering]="true"
                                placeholder="Business">
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-dropdownlist appValidateWithMessage
                                formControlName="userType"
                                [fields]="commonFields"
                                [dataSource]="filteredUserType"
                                [value]="defaultUserType"
                                [allowFiltering]="true"
                                placeholder="User Type">
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-dropdownlist appValidateWithMessage
                                formControlName="agencies"
                                [fields]="agencyFields"
                                [dataSource]="agencyData"                                
                                [allowFiltering]="true"
                                placeholder="Agencies">
              </ejs-dropdownlist>
            </div>
          </div>               
        </div>
        <div class="bootstrap business-dropdowns">
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-dropdownlist appValidateWithMessage
                                formControlName="skills"
                                [fields]="regionFields"
                                [dataSource]="skillData"                                
                                [allowFiltering]="true"
                                placeholder="Skills">
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-dropdownlist formControlName="region"
                               [allowFiltering]="true"
                               appValidateWithMessage
                               [fields]="regionFields"
                               [dataSource]="regionsList"
                               placeholder="Region">
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-dropdownlist formControlName="location"
                               [allowFiltering]="true"
                               appValidateWithMessage
                               [fields]="regionFields"
                               [dataSource]="locationsList"
                               placeholder="Location">
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-multiselect formControlName="orderType"
                               [allowFiltering]="true"
                               appValidateWithMessage
                               [fields]="regionFields"
                               [dataSource]="orderTypes"
                               placeholder="Order Type"
                               [showDropDownIcon]="true"
                               [selectAllText]='allOption'
                               showSelectAll=true>
              </ejs-multiselect>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-multiselect formControlName="candidateStatus"
                               [allowFiltering]="true"
                               appValidateWithMessage
                               [fields]="candidateStatusFields"
                               [dataSource]="candidateStatusData"
                               placeholder="Order Type"
                               [showDropDownIcon]="true"
                               [selectAllText]='allOption'
                               showSelectAll=true>
              </ejs-multiselect>
            </div>
          </div>
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-multiselect mode="CheckBox"
                               formControlName="roles"
                               [placeholder]='placeholderValue'
                               [allowFiltering]="true"
                               [showDropDownIcon]="true"
                               appValidateWithMessage
                               [fields]="businessDataFields"
                               [dataSource]="roleData"
                               [selectAllText]='allOption'
                               showSelectAll=true>
              </ejs-multiselect>
            </div>
          </div>      
          <div class="dropdown-container">
            <div class="input-group dropdown">
              <ejs-multiselect mode="CheckBox"
                               formControlName="user"
                               [placeholder]='placeholderValue'
                               [allowFiltering]="true"
                               [showDropDownIcon]="true"
                               appValidateWithMessage
                               [fields]="userDataFields"
                               [dataSource]="userData"
                               [selectAllText]='allOption'
                               showSelectAll=true>
              </ejs-multiselect>
            </div>
          </div>     
        </div>
        <div class="input-container bootstrap top-container">

          <label>To<span class="required">*</span></label>
          <div class="input-group">
            <input appValidateWithMessage formControlName="emailTo" class="e-input" type="text"
                   [(ngModel)]="emailTo" />
          </div>
        </div>
        <div class="input-container bootstrap top-container">
          <label>CC</label>
          <div class="input-group">
            <input formControlName="emailCc" class="e-input" type="text"
                   [(ngModel)]="emailCc" />
          </div>
        </div>
        <div class="input-container bootstrap top-container">
          <label>Subject<span class="required">*</span></label>
          <div class="input-group">
            <input appValidateWithMessage formControlName="emailSubject" class="e-input" type="text"
                   [(ngModel)]="emailSubject" />
          </div>
        </div>
        <div>
          <div class="id-container">
            <div class="input-container bootstrap">
              <label>Attachment</label>
              <div id="group-attachment-files">
                <div id="files-droparea" class="droparea" (click)="browseGroupEmail()">
                  <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
                </div>
                <ejs-uploader #filesUploaderGroupEmail formControlName="fileUpload"
                              [dropArea]="dropElement"
                              [allowedExtensions]="allowedExtensions"
                              [multiple]="false"
                              [maxFileSize]="maxFileSize"
                              [autoUpload]="false"
                              (selected)="onFileSelectedGroup($event)">
                </ejs-uploader>
              </div>
              <label>Attached file size should not exceed 2MB<span class="e-input"></span></label>
            </div>
          </div>
        </div>
        <div class="rich-text-container">
          <label>Mail Body<span class="required">*</span></label>
          <div class="input-group" id="richTextEditorDiv">
            <ejs-richtexteditor #RTEGroupEmail id='defaultGroupEmailRTE' appValidateWithMessage
                                formControlName="emailBody" [toolbarSettings]='tools' [(ngModel)]='emailBody'
                                [(value)]='emailBody'>
            </ejs-richtexteditor>
          </div>
        </div>

      </div>
    </div>
