<section>

  <ejs-grid #grid class="e-gridwithheader"
            [dataSource]="credential"
            [allowSelection]="false"
            [allowPaging]="true"
            [height]="gridHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="false"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            [groupSettings]='groupOptions'
            [allowGrouping]='true'
            [pageSettings]="gridPageSettings">
    <e-columns>
      <e-column field='credentialType' width="490" headerText="Type"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit($event, data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemoveButtonClick(data)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Credential Name" width="490">
        <ng-template #template let-data>{{data.credentialName}}</ng-template>
      </e-column>

      <e-column headerText="Req. For Submission" width="180">
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox
              [checked]="checkboxState[data.credentialId]?.reqForSubmission"
              (change)="updateCredential($event, data, checkbox.Submission)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>

      <e-column headerText="Req. For Onboard" width="180">
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox
              [checked]="checkboxState[data.credentialId]?.reqForOnboard"
              (change)="updateCredential($event, data, checkbox.Onboard)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>

      <e-column headerText="Optional" width="180">
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox
              [checked]="checkboxState[data.credentialId]?.optional"
              (change)="updateCredential($event, data, checkbox.Optional)"
            ></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>

      <e-column headerText="Comment" width="490">
        <ng-template #template let-data>
          <div class="comments-container">
            {{data.comment}}
          </div>
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #pagerTemplate let-data>
      <div class="e-pagertemplate">
        <div class="control-section">
          <div class="content-wrapper">
            <section class="left-side-pager-controls">
              <ejs-dropdownlist id="rowsPerPage"
                                class="dropdown-no-border"
                                [allowFiltering]="true"
                                [dataSource]="rowsPerPageDropDown"
                                [(value)]="activeRowsPerPageDropDown"
                                (change)="onRowsDropDownChanged()">
              </ejs-dropdownlist>
              <ejs-numerictextbox id="goToPage"
                                  class="numeric-input-no-border"
                                  format="#"
                                  placeholder="Go to:"
                                  min="1"
                                  [max]="totalPageCount"
                                  [showSpinButton]="false"
                                  (change)="onGoToClick($event)">
              </ejs-numerictextbox>
              <div class="total-rows">
                Total Rows: {{totalItemCount}}
              </div>
            </section>
            <section class="right-side-pager-controls">
              <ejs-pager id="gridPager"
                         #gridPager
                         [pageSize]="pageSize"
                         [totalRecordsCount]="totalItemCount"
                         [enablePagerMessage]="false"
                         [currentPage]="currentPage"
                         (click)="onGoToClick($event)">
              </ejs-pager>
            </section>
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</section>
