<section>

  <ejs-grid #grid class="e-gridwithheader"
            [dataSource]="credential"
            [allowSelection]="false"
            [allowPaging]="true"
            [height]="gridHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="false"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            [groupSettings]='groupOptions'
            [allowGrouping]='true'
            [pageSettings]="gridPageSettings">
    <e-columns>
      <e-column field='credentialType' width="490" headerText="Type"></e-column>
      <e-column textAlign="Right" width="100">
        <ng-template #template let-data>
          <div class="row-tool-buttons">
            <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEdit($event, data)">
              <span><i-feather name="edit" class="icon"></i-feather></span>
            </button>
            <button ejs-button cssClass="e-flat secondary-icon-button" (click)="onRemoveButtonClick(data)">
              <span class="remove-button"><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Credential Name" width="490">
        <ng-template #template let-data>{{data.credentialName}}</ng-template>
      </e-column>

      <e-column headerText="Req. For Submission" width="180">
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox [checked]="data.reqForSubmission" (change)="data.reqForSubmission = $event.checked; updateCredential(data)"></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>

      <e-column headerText="Req. For Onboard" width="180">
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox [checked]="data.reqForOnboard" (change)="data.reqForOnboard = $event.checked; updateCredential(data)"></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>

      <e-column headerText="Optional" width="180">
        <ng-template #template let-data>
          <div class="bootstrap">
            <ejs-checkbox [checked]="data.optional" (change)="data.optional = $event.checked; updateCredential(data)"></ejs-checkbox>
          </div>
        </ng-template>
      </e-column>

      <e-column headerText="Comment" width="490">
        <ng-template #template let-data>
          <div class="comments-container">
            {{data.comment}}
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</section>
