.comments-container {
  white-space: normal;
  line-height: 20px;
  word-break: break-word;
}


.e-groupdroparea.e-grouped.e-lib.e-droppable.e-draggable {
  display: none;
}
.e-virtualtable {
  transform: translate(0px, 0px) !important;
}

.e-groupcaption {
  font-weight: bold!important;
  font-size: 14px!important;
  color: rgba(0, 0, 0, 0.87)!important;
  height: Auto!important;
  line-height: 18px!important;
  overflow-wrap: break-word!important;
  text-overflow: clip!important;
  white-space: normal!important;
  word-wrap: break-word!important;
  text-overflow: ellipsis!important;
}
.e-gridheader.e-lib.e-draggable.e-droppable
{
  border-radius: 10px 10px 0px 0px !important;
}
.e-gridwithheader.e-control.e-grid.e-lib.e-gridhover.e-grid-min-height.e-responsive.e-default.e-droppable.e-resize-lines.e-tooltip.e-keyboard
{
  border-radius: 10px 10px 10px 10px !important;
}
.e-gridpager.e-control.e-pager.e-lib.e-pagertemplate
{
  border-radius: 0px 0px 10px 10px !important;
}
.e-icons.e-gnextforward.e-icon-grightarrow {
  font-size: 15px !important;
  text-indent: 18px !important;
}
.e-icons.e-gdiagonaldown.e-icon-gdownarrow{
  font-size: 13px !important;
  text-indent: 20px !important;
}
