.comments-container {
  white-space: normal;
  line-height: 20px;
}

.e-groupdroparea.e-grouped.e-lib.e-droppable.e-draggable {
  display: none;
}
.e-virtualtable {
  transform: translate(0px, 0px) !important;
}

.e-groupcaption {
  font-size: 14px;
  font-weight: bold;
}
