@import 'src/app/styles/variables/colors';
@import 'src/app/styles/variables/adaptive-response';

.actions {
  button {
    background-color: transparent;
  }
}
.grid-component {
  height: 100%;

  @media #{$max-desktop-small} {
    height: calc(100% - 20px);
  }
}

.credentials-container {
  .empty-list {
    display: flex;
    color: $secondary-dark-blue-30;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 234px;

    i-feather {
      margin-right: 8px;
    }
  }

  .search-credential-form {
    display: flex;

    .left-column {
      width: 70%;
      padding-right: 6px;
    }

    .right-column {
      width: 30%;
      padding-left: 6px;
    }
  }

  .select-credential-error {
    display: flex;
    color: $supportive-red;
    margin-top: 6px;

    i-feather {
      margin-right: 8px;
    }

    span.error {
      font-size: 12px;
    }
  }
}

.add-credential {
  margin: 24px -24px 0;
  padding: 24px;
  height: 312px;
  background-color: $secondary-dark-blue-50;
}

.edit-credential {
  margin: 36px 0 -24px;
}

.add-credential-form {
  display: flex;
  margin-top: 24px;

  .left-column {
    padding-right: 6px;
  }

  .right-column {
    padding-left: 6px;
  }

  .input-container,
  .dropdown-container,
  .datepicker-container {
    max-width: 188px;
  }
}

#credentials-files {
  #files-droparea {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-active-blue-10;
    font-size: 12px;
    cursor: pointer;

    &.hidden {
      display: none;
    }

    .browse-link {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}

.e-file-select-wrap,
.e-upload-actions {
  display: none;
}

.input-container,
.dropdown-container,
.datepicker-container {
  margin-bottom: 15px;
  flex: 1 1 0px;
}

.input-container label,
.dropdown-container label,
.datepicker-container label {
  margin-bottom: 5px !important;
  display: block;
}

.input-group.input-readonly {
  .e-input[readonly] {
    background-color: $secondary-dark-blue-50;
    color: $secondary-dark-blue-30;
    border: 1px solid $secondary-dark-blue-40 !important;
  }
}

.files-column {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $primary-active-blue-10;
  font-size: 14px;
  cursor: pointer;

  .file-name {
    &:hover {
      text-decoration: $primary-active-blue-10 underline;
    }
  }

  i-feather {
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }
}

.bulk-section {
  display: flex;
  align-items: center;
  margin-left: 16px;

  &__amount {
    margin-right: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: $white;
  }
}

.add-new-credential {
  border: none !important;

  i-feather {
    vertical-align: bottom;
  }
}
