<section class="grid-component">
  <div class="e-gridcustomheader">
    <div class="title">
      <h3>Credentials</h3>
    </div>
    <div class="actions">
      <button
        *ngIf="isIRP"
        [disabled]="disableAddCredentialButton"
        ejs-button
        cssClass="e-outline"
        (click)="addMissingCredentials()"
      >
        <i-feather name="rotate-cw" class="icon"></i-feather>
        <span class="btn-label">Add missing Credentials</span>
      </button>
      <button
        [disabled]="disableAddCredentialButton"
        ejs-button
        cssClass="e-outline"
        (click)="openAddCredentialDialog()"
      >
        <i-feather name="plus" class="icon"></i-feather>
        <span class="btn-label">Add Credential</span>
      </button>
    </div>
  </div>
  <ejs-grid #grid class="e-gridwithheader" [ngClass]="{'with-selected-rows': selectedItems.length}"
            [dataSource]="gridItems"
            [pageSettings]="pageSettings"
            [height]="(isMobile$ | async) ? mobileGridHeight : fullScreenGridHeight"
            [rowHeight]="rowHeight"
            [enableVirtualization]="false"
            [resizeSettings]="resizeSettings"
            [allowSorting]="allowSorting"
            [allowResizing]="allowResizing"
            (actionBegin)="actionBegin($event)"
            [selectionSettings]="selectionOptions"
            (rowSelected)="rowSelected($event, grid)"
            (rowDeselected)="rowDeselected($event, grid)"
            (dataBound)="dataBound()">
    <e-columns>
      <e-column
        type="checkbox"
        [customAttributes]="{ class: 'bootstrap' }"
        width="50"
        [allowResizing]="false"
      ></e-column>
      <e-column textAlign="Right" minWidth="162" width="170">
        <ng-template #template let-data>
          <div class="row-tool-buttons" [class.hidden]="!isLoaded">
            <button [disabled]="data.disableCopy" ejs-button cssClass="e-flat primary-icon-button" (click)="copyCredential($event, data)">
              <span><i-feather name="copy" class="icon"></i-feather></span>
            </button>

            <app-tooltip-container [showToolTip]="data.showDisableEditTooltip" [message]="disableEditMessage">
              <button [disabled]="data.disableEdit" ejs-button cssClass="e-flat primary-icon-button" (click)="editCredential($event, data)">
                <span><i-feather name="edit" class="icon"></i-feather></span>
              </button>
            </app-tooltip-container>

               <button
                ejs-button
                cssClass="default-icon-button e-flat e-primary with-badge"
                [disabled]="data.disableViewDocument"
                (click)="viewFiles($event,data.credentialFiles[0].id)"
              >
                <span><i-feather name="paperclip" class="icon"></i-feather></span>
                <span *ngIf="data.credentialFiles.length > 0" class="e-badge e-badge-success e-badge-pill right-overflow">
                  {{data.credentialFiles.length}}
                </span>
              </button>

            <button [disabled]="data.disableDelete" ejs-button cssClass="e-flat secondary-icon-button" (click)="removeCredential($event, data)">
              <span><i-feather name="trash-2" class="icon"></i-feather></span>
            </button>
          </div>
        </ng-template>
      </e-column>
      <e-column field="masterName" headerText="Credential" width=300></e-column>
      <e-column headerText="Order Match" width=180 *ngIf="isCandidateAssigned">
        <ng-template #template let-data>
          <app-order-match-column [orderMatch]="data.orderMatch"></app-order-match-column>
        </ng-template>
      </e-column>
      <e-column headerText="Department Match" width="175" *ngIf="isIRP">
        <ng-template #template let-data>
          <app-department-match-cell [cellData]="data"></app-department-match-cell>
        </ng-template>
      </e-column>
      <e-column headerText="Verified Status" width=140>
        <ng-template #template let-data>
          <div>
            <ejs-chiplist>
              <e-chips>
                <e-chip
                  *ngIf="statusEnum[data.status] as status"
                  [cssClass]="getChipCssClass(status)"
                  [text]="status"
                ></e-chip>
              </e-chips>
            </ejs-chiplist>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Required" width=120 *ngIf="isCandidateAssigned">
        <ng-template #template let-data>
          <ng-container *ngIf="isCandidateAssigned">
            <span *ngIf="data.reqForSubmission">Submission</span>
            <span *ngIf="data.reqForOnboard && !data.reqForSubmission">Onboard</span>
          </ng-container>
        </ng-template>
      </e-column>
      <e-column field="number" headerText="Credential #" width=180 textAlign="Right"></e-column>
      <e-column headerText="Certified On" width=165 textAlign="Right">
        <ng-template #template let-data>{{data.createdOn | date:"MM/dd/yyyy" : "UTC"}}</ng-template>
      </e-column>
      <e-column  headerText="Certified Until" width=165 textAlign="Right">
        <ng-template #template let-data>{{data.createdUntil | date:"MM/dd/yyyy" : "UTC"}}</ng-template>
      </e-column>
      <e-column
        *ngIf="this.isOrganizationAgencyArea.isAgencyArea"
        field="insitute"
        headerText="Credential Institute"
        width="180"
      ></e-column>
      <e-column
        *ngIf="this.isOrganizationAgencyArea.isAgencyArea"
        field="experience"
        headerText="Credential Experience"
        width="200"
      ></e-column>
      <e-column headerText="Completed Date" width=140 textAlign="Right">
        <ng-template #template let-data>{{data.completedDate | date:"MM/dd/yyyy"}}</ng-template>
      </e-column>
      <e-column headerText="Comments" width=180 *ngIf="isCandidateAssigned || isOrganizationAgencyArea.isOrganizationArea">
        <ng-template #template let-data>
          <ng-container *ngIf="data.comment as comment">
            <app-tooltip-container [message]="comment" [showToolTip]="true">
              <div class="comments-container">{{comment}}</div>
            </app-tooltip-container>
          </ng-container>
        </ng-template>
      </e-column>
      <e-column headerText="Uploaded Files" width=240>
        <ng-template #template let-data>
          <div *ngFor="let file of data.credentialFiles"
               class="files-column">
            <span (click)="downloadFile($event, file)" title="Download {{file.name}}"><i-feather name="download" class="icon"></i-feather></span>
            <span class="file-name" (click)="viewFiles($event, file.id)" title="View {{file.name}}">{{file.name}}</span>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
  <app-grid-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalRecordsCount]="candidateCredentialResponse?.credentials?.totalCount || 0"
    (navigateToPageEmitter)="selectPage($event)"
    (pageSizeChangeEmitter)="selectRowsPerPage($event)"
  ></app-grid-pagination>
  <app-scroll-to-top *ngIf="isMobile$ | async"></app-scroll-to-top>
</section>

<app-side-dialog *ngIf="isActive"
                 header="{{ isEdit ? 'Edit' : 'Add' }} Credential"
                 [disableSaveButton]="!(userPermission[userPermissions.CanEditCandidateCredentials]
                 || userPermission[userPermissions.ManageCredentialWithinOrderScope])"
                 (formCancelClicked)="closeDialog()"
                 (formSaveClicked)="saveFormValue()">
  <div class="credentials-container" [ngClass]="isEdit ? 'edit-credential' : 'add-credential'">
    <form class="form-container bootstrap" [formGroup]="searchCredentialForm">
      <div class="search-credential-form">
        <div class="left-column">
          <div class="input-container">
            <label>Credential Name</label>
            <div class="input-group" [ngClass]="{'input-readonly': isEdit}">
              <input class="e-input"
                     type="text"
                     appValidateWithMessage
                     placeholder="Search"
                     [readonly]="isEdit"
                     formControlName="searchTerm"/>
            </div>
          </div>
        </div>
        <div class="right-column">
          <div class="dropdown-container">
            <label>Credential Type</label>
            <div class="input-group dropdown" *ngIf="!isEdit">
              <ejs-dropdownlist appValidateWithMessage
                                [allowFiltering]="true"
                                [fields]="typeFieldSettingsModel"
                                [showClearButton]="true"
                                formControlName="credentialTypeId"
                                [dataSource]="credentialType$ | async">
              </ejs-dropdownlist>
            </div>
            <div class="input-group input-readonly" *ngIf="isEdit">
              <input class="e-input" type="text" formControlName="credentialTypeId" readonly/>
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-container *ngIf="!isEdit && (masterCredentials$ | async) as masterCredentials ">
      <ejs-grid class="search-grid" *ngIf="masterCredentials.length"
                [dataSource]="masterCredentials"
                [enableVirtualization]="false"
                (rowSelected)="selectMasterCredentialId($event)"
                (rowDeselected)="clearMasterCredentialId()"
                [height]="238"
                [rowHeight]="48">
        <e-columns>
          <e-column field="name"></e-column>
          <e-column field="credentialTypeName" width="140"></e-column>
        </e-columns>
      </ejs-grid>
      <div class="empty-list" *ngIf="!masterCredentials.length">
        <i-feather name="alert-circle" class="icon"></i-feather>
        <span>There are no records to display</span>
      </div>
    </ng-container>
    <div class="select-credential-error" *ngIf="selectCredentialError">
      <i-feather name="alert-circle" class="icon"></i-feather>
      <span class="error">Required</span>
    </div>
  </div>

  <form class="form-container bootstrap" [formGroup]="addCredentialForm">
    <div class="add-credential-form bootstrap">
      <div class="left-column">
        <div class="dropdown-container">
          <label>Credential Status<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist appValidateWithMessage
                              (change)="setCompleteDate($event)"
                              [fields]="statusFieldSettingsModel"
                              formControlName="status"
                              [allowFiltering]="true"
                              [dataSource]="credentialStatusOptions">
            </ejs-dropdownlist>
          </div>
        </div>
        <div *ngIf="isOrganizationAgencyArea.isAgencyArea" class="input-container">
          <label>Institute</label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="100"
                   appValidateWithMessage
                   formControlName="insitute"/>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Certified On<span *ngIf="requiredCertifiedFields" class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker class="datepicker"
                            appValidateWithMessage
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                            formControlName="createdOn">
            </ejs-datepicker>
          </div>
        </div>
        <div class="input-container calendar" *ngIf="showCompleteDate">
          <label>Completed Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker class="datepicker"
                            appValidateWithMessage
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                            formControlName="completedDate">
            </ejs-datepicker>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="input-container">
          <label>Credentials Number</label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="100"
                   appValidateWithMessage
                   formControlName="number"/>
          </div>
        </div>
        <div *ngIf="isOrganizationAgencyArea.isAgencyArea" class="input-container">
          <label>Experience</label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="20"
                   appValidateWithMessage
                   formControlName="experience"/>
          </div>
        </div>
        <div class="input-container calendar">
          <label>Certified Until<span *ngIf="requiredCertifiedFields" class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker class="datepicker"
                            appValidateWithMessage
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            [enableMask]="true"
                            [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
                            formControlName="createdUntil">
            </ejs-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="input-container" *ngIf="showRejectReason">
      <label>Rejection Reason</label>
      <div class="input-group" [ngClass]="{'input-readonly': !isOrganizationSide}">
        <input [readonly]="!isOrganizationSide && isOrganizationAgencyArea.isAgencyArea" formControlName="rejectReason" appValidateWithMessage class="e-input" type="text"/>
      </div>
    </div>
  </form>

  <div id="credentials-files">
    <div id="files-droparea" class="droparea" (click)="browse()">
      <span>Drag & Drop or <span class="browse-link">browse</span> files here</span>
    </div>
    <div *ngIf="existingFiles?.length" class="e-upload uploaded-list">
      <ul class="e-upload-files">
        <li *ngFor="let document of existingFiles" class="e-upload-file-list">
          <span class="e-file-container">
            <span class="e-file-name">{{document.name}}.{{document.type}}</span>
            <div class="file-info">
              <span class="e-file-type">{{document.uploadedDate | date: "MM/dd/yyyy":"utc": "en-US"}}</span> | <!--TODO provide created at date-->
              <span class="e-file-size">{{document.size | formatBytes}}</span>
            </div>
          </span>
          <span class="custom-trash">
            <span class="e-icons e-file-delete-btn" title="Remove" (click)="clearFiles()"></span>
          </span>
        </li>
      </ul>
    </div>
    <ejs-uploader #filesUploader
                  cssClass="custom-trash"
                  [dropArea]="dropElement"
                  [allowedExtensions]="allowedExtensions"
                  [multiple]="false"
                  [maxFileSize]="maxFileSize"
                  [autoUpload]="false"
                  (removing)="clearFiles()"
                  (selected)="selectCredentialFile($event)">
    </ejs-uploader>
  </div>
</app-side-dialog>

<app-file-viewer [openEvent]="openFileViewerDialog"></app-file-viewer>

<ng-template #selectedItemsTemplate>
  <section class="bulk-section">
    <h3 class="bulk-section__amount">{{bulkDownloadAmountText}}</h3>
    <button ejs-button cssClass="e-primary" (click)="verifyCredentials()" *ngIf="isOrganizationSide">Mark Selected As Verified</button>
    <button ejs-button cssClass="e-primary" (click)="bulkDownload()">Download</button>
  </section>
</ng-template>
