<section class="flex-column">
  <section class="toolbar">
    <section class="toolbar-header">
      <div class="toolbar-header-div">
        {{ title }}
      </div>
    </section>
    <section class="toolbar-message">
      <div class="toolbar-message-div">
        {{ message }}
      </div>
    </section>
    <section class="toolbar-buttons">
      <button ejs-button id="filterButton" (click)="showFilters()" cssClass="e-outline button-filter">
        <div class="filter-button-content">Filters <i-feather name="sliders" class="icon"></i-feather></div>
      </button>
    </section>
  </section>
</section>
<section class="credential-expiry-irp-report-section">
  <app-logi-report
    [paramsData]="paramsData"
    [reportName]="reportName"
    [catelogName]="catelogName"
    [reportType]="reportType"
  ></app-logi-report>
  <router-outlet></router-outlet>
</section>

<app-filter-dialog
  [items]="filteredItems"
  (clearAllFiltersClicked)="onFilterClearAll()"
  (applyFilterClicked)="onFilterApply()"
>
  <form [formGroup]="credentialExpiryForm" class="filter-form-dialog form-container bootstrap">
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Organization Name<span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            formControlName="businessIds"
            [fields]="organizationFields"
            [dataSource]="organizations"
            [allowFiltering]="true"
            placeholder="Business"
          >
          </ejs-dropdownlist>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Region</label>
        <div class="input-group dropdown">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="regionIds"
            appValidateWithMessage
            placeholder="All"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="regions"
            [fields]="commonFields"
          >
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Location</label>
        <div class="input-group dropdown">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="locationIds"
            appValidateWithMessage
            placeholder="All"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="locations"
            [fields]="commonFields"
          >
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Department</label>
        <div class="input-group dropdown">
          <ejs-multiselect
            mode="CheckBox"
            formControlName="departmentIds"
            appValidateWithMessage
            placeholder="All"
            [allowFiltering]="true"
            [showDropDownIcon]="true"
            [dataSource]="departments"
            [fields]="commonFields"
          >
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Skill</label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="skillIds"
              appValidateWithMessage
              placeholder="All"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="masterSkills"
              [fields]="commonFields"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Work Commitment</label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="workCommitments"
              appValidateWithMessage
              placeholder="All"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="workCommitments"
              [fields]="commonFields"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Credential Type</label>
          <div class="input-group dropdown">
            <ejs-multiselect
              mode="CheckBox"
              formControlName="credentialTypes"
              appValidateWithMessage
              placeholder="All"
              [allowFiltering]="true"
              [showDropDownIcon]="true"
              [dataSource]="credentialTypes"
              [fields]="commonFields"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Employee Name</label>
        <div class="input-group dropdown">
          <ejs-autocomplete
            formControlName="employee"
            [dataSource]="candidateSearchData"
            filterType="StartsWith"
            [fields]="candidateNameFields"
            [autofill]="true"
            [placeholder]="remoteWaterMark"
            sortOrder="Ascending"
            (filtering)="onFiltering($event)"
          ></ejs-autocomplete>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container calendar">
          <label>No of days expiring in<span class="required">*</span></label>
          <div class="input-group">
            <ejs-textbox
              appValidateWithMessage
              formControlName="daysExpiringIn"
              [multiline]="false"             
            >
            </ejs-textbox>
          </div>
          <div *ngIf="daysExpiringIn.invalid"
            class="alert alert-danger">
            <div *ngIf="daysExpiringIn.errors?.['required']">
              Enter days expiring in
            </div>
          </div>          
        </div>        
      </div>
    </div>
  </form>
</app-filter-dialog>

