@import 'colors';

.employee-credentials-container {
  background-color: $white;
  border: 1px solid $secondary-dark-blue-45;
  border-radius: 12px;
  border-bottom: unset;

  .grid-table-container {
    height: 532px;
    width: 100%;

    ::ng-deep {
      .ag-header-cell {
        color: $secondary-dark-blue-15;
      }
    }
  }

  .table-title {
    padding: 18px 22px;
    border-bottom: 1px solid $secondary-dark-blue-40;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: $title-black;
  }
}
