<div class="employee-credentials-container">
  <div class="table-title">Credentials and Licenses</div>
  <div class="grid-table-container">
    <ag-grid-angular
      [columnDefs]="gridDefs"
      [rowData]="credentialsPage?.items ?? []"
      [rowHeight]="64"
      [overlayNoRowsTemplate]="gridEmptyMessage"
      [class.empty-table]="!credentialsPage?.items?.length"
      class="ag-theme-alpine app-grid__component"
    ></ag-grid-angular>
    <app-grid-pagination
      [currentPage]="pageSettings.pageNumber"
      [pageSize]="pageSettings.pageSize"
      [totalRecordsCount]="credentialsPage?.items?.length || 0"
      (navigateToPageEmitter)="changePage($event)"
      (pageSizeChangeEmitter)="changePageSize($event)"
    ></app-grid-pagination>
  </div>
</div>
