@import "colors";

ejs-tab {
  padding-bottom: 40px;

  .stepper-title {
    .required {
      color: $supportive-red;
    }
  }
}

:host {
  ::ng-deep {
    app-order-credentials {
      .actions {
        margin-top: 18px;
      }
    }
  }
}
