<ejs-tab class="stepper">
  <e-tabitems>
    <e-tabitem *ngFor="let tab of tabsConfig; trackBy: trackByFn">
      <ng-template #headerText>
        <div class="stepper-header">
          <div class="stepper-title">{{tab.title}}<span *ngIf="tab.required" class="required">*</span></div>
          <div class="stepper-sub-title">{{tab.subTitle}}</div>
        </div>
      </ng-template>
      <ng-template #content>
        <ng-container [ngSwitch]="tab.content">
          <app-order-details-irp
            *ngSwitchCase="tabs.Details"
            [system]="selectedSystem"
          ></app-order-details-irp>
          <app-order-credentials
            *ngSwitchCase="tabs.Credential"
            [isActive]="tab.content === tabs.Credential"
            [credentials]="orderCredentials"
            [includeInIRP]="true"
            (credentialChanged)="updateOrderCredentials($event)"
            (credentialDeleted)="deleteOrderCredential($event)"
          ></app-order-credentials>
        </ng-container>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
<app-save-template-dialog
  *ngIf="isSaveForTemplate"
  [isIRPtab] = "true"
  [order]="generalInformationForm"
  (closeEmitter)="closeSaveTemplateDialog()"
  (createEmitter)="createTemplate($event)"
></app-save-template-dialog>