<section class="container">
  <div class="toolbar-buttons">
    <button ejs-button cssClass="e-outline button-filter">
      <div class="filter-button-content">
        Filters <i-feather name="sliders" class="icon"></i-feather>
      </div>
    </button>
    <button ejs-button [isPrimary]="true" (click)="handleOnAdd()">{{addButtonTitle}}</button>
  </div>
  <ejs-tab (selected)="onTabSelected($event)">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText><div>Special Projects</div></ng-template>
        <ng-template #content>
          <app-special-projects [form]="form"></app-special-projects>
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText><div>Purchase Orders</div></ng-template>
        <ng-template #content>
         
          <app-purchase-orders [form]="form"></app-purchase-orders>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText><div>Special Project Categories</div></ng-template>
        <ng-template #content>
          <span>Tab3</span>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</section>

<app-side-dialog header="{{ title }}" (formCancelClicked)="closeDialog()" (formSaveClicked)="saveSpecialProject()">
  <form [formGroup]="form" class="specialproject-form-dialog form-container bootstrap" id="addEditspecialProjectForm">
    <section *ngIf="selectedTab==SpecialProjectTabs.SpecialProjects">
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Project Category<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist formControlName="projectCategory"
                              appValidateWithMessage>
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Project Name<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   appValidateWithMessage
                   maxlength="100"
                   formControlName="projectName" />
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="selectedTab==SpecialProjectTabs.PurchaseOrders">
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>PO Name<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   name="poName"
                   formControlName="poName" />
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>PO Description<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   name="poDescription"
                   formControlName="poDescription" />
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="selectedTab==SpecialProjectTabs.SpecialProjectCategories">
      <div class="input-container bootstrap">
        <label>SpecialProjectCategories<span class="required">*</span></label>
        <div class="input-group">
          <input class="e-input"
                 type="text"
                 appValidateWithMessage
                 placeholder="test12"
                 maxlength="100"
                 formControlName="test123" />
        </div>
      </div>
    </section>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Region<span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="regionIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="orgStructureData.regionIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Location<span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="locationIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="orgStructureData.locationIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Department<span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="departmentsIds"
                           placeholder="All"
                           [fields]="optionFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="orgStructureData.departmentsIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <label>Skill<span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect mode="CheckBox"
                           formControlName="skillIds"
                           placeholder="All"
                           [fields]="skillsFields"
                           [allowFiltering]="true"
                           [showDropDownIcon]="true"
                           [dataSource]="orgStructureData.skillIds.dataSource">
          </ejs-multiselect>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="input-container bootstrap">
        <ejs-checkbox formControlName="allowOnOrderCreation" label="Prepopulate in all orders created with this combination  "></ejs-checkbox>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container calendar">
          <label for="startDate">Start Date <span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker id="startDate"
                            class="datepicker"
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            appValidateWithMessage
                            formControlName="startDate">
            </ejs-datepicker>
          </div>
        </div>
        <div class="input-container calendar">
          <label for="endDate">End Date <span class="required">*</span></label>
          <div class="input-group datepicker">
            <ejs-datepicker id="endDate"
                            class="datepicker"
                            format="MM/dd/yyyy"
                            placeholder="MM/DD/YYYY"
                            appValidateWithMessage
                            formControlName="endDate">
            </ejs-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="form-elemet">
      <div class="group">
        <div class="input-container bootstrap">
          <label>Project Budget<span class="required">*</span></label>
          <div class="input-group">
            <ejs-numerictextbox id="projectBudget"
                                class="numeric-input"
                                appValidateWithMessage
                                min="0"
                                [maxlength]="10"
                                [validateDecimalOnType]="true"
                                [showSpinButton]="false"
                                decimals='0'
                                format="#"
                                formControlName="projectBudget">
            </ejs-numerictextbox>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-side-dialog>

