<section class="flex-column">
  <section class="container">
    <div class="toolbar-buttons">
      <app-tooltip-container
        [message]="toolTipMessage"
        [showToolTip]="!userPermission[userPermissions.CanManageSpecialProjects]">
        <button ejs-button appHideBeforeSyncfusionLoad [isPrimary]="true" [disabled]="!userPermission[userPermissions.CanManageSpecialProjects]" (click)="handleOnAdd()">{{addButtonTitle}}</button>
      </app-tooltip-container>
    </div>
    <ejs-tab (selected)="onTabSelected($event)">
      <e-tabitems>
        <e-tabitem >
          <ng-template #headerText><div>Special Project Categories</div></ng-template>
          <ng-template #content>
            <app-special-project-category [showSelectSystem]="showSelectSystem" [form]="form" (onEdit)="onEditClick($event)"></app-special-project-category>
          </ng-template>
        </e-tabitem>
        <e-tabitem >
          <ng-template #headerText><div>Special Projects</div></ng-template>
          <ng-template #content>
            <app-special-projects [showSelectSystem]="showSelectSystem" [form]="form" (onEdit)="onEditClick($event)"></app-special-projects>
          </ng-template>
        </e-tabitem>
        <e-tabitem >
          <ng-template #headerText><div>Special Project Mapping</div></ng-template>
          <ng-template #content>
            <app-project-mapping [showSelectSystem]="showSelectSystem" [form]="form" (onEdit)="onEditClick($event)"></app-project-mapping>
          </ng-template>
        </e-tabitem>
        <e-tabitem *ngIf="selectedSystem.isVMS">
          <ng-template #headerText><div>Purchase Orders</div></ng-template>
          <ng-template #content>
            <app-purchase-orders [form]="form" (onEdit)="onEditClick($event)"></app-purchase-orders>
          </ng-template>
        </e-tabitem>
        <e-tabitem *ngIf="selectedSystem.isVMS">
          <ng-template #headerText><div>Purchase Order Mapping</div></ng-template>
          <ng-template #content>
            <app-purchase-order-mapping [form]="form" (onEdit)="onEditClick($event)"></app-purchase-order-mapping>
          </ng-template>
        </e-tabitem>
      </e-tabitems>
    </ejs-tab>
  </section>
</section>

<app-side-dialog header="{{ title }}" (formCancelClicked)="closeDialog()" (formSaveClicked)="handleOnSave()">
  <form [formGroup]="form" class="specialproject-form-dialog form-container bootstrap" id="addEditspecialProjectForm">
    <section *ngIf="selectedTab==SpecialProjectTabs.SpecialProjects">
      <div class="form-elemet">
        <div class="input-container" *ngIf="showSelectSystem">
          <label>System Configuration</label>
          <div class="bootstrap checkbox-container">
            <ejs-checkbox formControlName="includeInIRP" (change)="onCheckSystemConfig($event,'IRP')" label="IRP"></ejs-checkbox>
            <ejs-checkbox formControlName="includeInVMS" (change)="onCheckSystemConfig($event,'VMS')" label="VMS"></ejs-checkbox>
          </div>
        </div>
        <div class="input-container bootstrap">
          <label>Project Category<span class="required">*</span></label>
          <div class="input-group dropdown">
            <ejs-dropdownlist formControlName="projectCategory"
                              appValidateWithMessage
                              [allowFiltering]="true"
                              [dataSource]=" this.orgStructureData.projectTypeIds.dataSource"
                              [fields]="projectTypeFields">
            </ejs-dropdownlist>

          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Project Name<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   appValidateWithMessage
                   maxlength="100"
                   formControlName="projectName" />
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="selectedTab==SpecialProjectTabs.PurchaseOrders">
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>PO Name<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   name="poName"
                   formControlName="poName" />
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>PO Description<span class="required">*</span></label>
          <div class="input-group">
            <input class="e-input"
                   type="text"
                   maxlength="50"
                   appValidateWithMessage
                   name="poDescription"
                   formControlName="poDescription" />
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="selectedTab==SpecialProjectTabs.SpecialProjectCategories">
      <div class="input-container" *ngIf="showSelectSystem">
        <label>System Configuration</label>
        <div class="bootstrap checkbox-container">
          <ejs-checkbox formControlName="includeInIRP" label="IRP"></ejs-checkbox>
          <ejs-checkbox formControlName="includeInVMS" label="VMS"></ejs-checkbox>
        </div>
      </div>
      <div class="input-container bootstrap">
        <label>Category Name<span class="required">*</span></label>
        <div class="input-group">
          <input class="e-input"
                 type="text"
                 appValidateWithMessage
                 maxlength="100"
                 formControlName="SpecialProjectCategoryName" />
        </div>
      </div>
    </section>
    <section *ngIf="selectedTab!=SpecialProjectTabs.SpecialProjectCategories &&
              (selectedTab==SpecialProjectTabs.SpecialProjects || selectedTab==SpecialProjectTabs.PurchaseOrders)">


      <div class="form-elemet">
        <div class="group">
          <div class="input-container calendar">
            <label for="startDate">Start Date <span class="required">*</span></label>
            <div class="input-group datepicker">
              <ejs-datepicker id="startDate"
                              class="datepicker"
                              format="MM/dd/yyyy"
                              placeholder="MM/DD/YYYY"
                              appValidateWithMessage
                              formControlName="startDate"
                              [min]="startDate || today">
              </ejs-datepicker>
            </div>
          </div>
          <div class="input-container calendar">
            <label for="endDate">End Date <span class="required">*</span></label>
            <div class="input-group datepicker">
              <ejs-datepicker id="endDate"
                              class="datepicker"
                              format="MM/dd/yyyy"
                              placeholder="MM/DD/YYYY"
                              appValidateWithMessage
                              formControlName="endDate"
                              [min]="startDate || today">
              </ejs-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="group">
          <div class="input-container bootstrap">
            <label>Project Budget<span class="required">*</span></label>
            <div class="input-group">
              <ejs-numerictextbox id="projectBudget"
                                  class="numeric-input"
                                  appValidateWithMessage
                                  min="0"
                                  [maxlength]="10"
                                  [validateDecimalOnType]="true"
                                  [showSpinButton]="false"
                                  decimals='2'
                                  format="#.##"
                                  formControlName="projectBudget">
              </ejs-numerictextbox>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="(selectedTab==SpecialProjectTabs.SpecialProjectsMapping || selectedTab==SpecialProjectTabs.PurchaseOrdersMapping)">

      <div *ngIf="selectedTab==SpecialProjectTabs.SpecialProjectsMapping">
        <div class="form-elemet">
          <div class="input-container" *ngIf="showSelectSystem">
            <label>System Configuration</label>
            <div class="bootstrap checkbox-container">
              <ejs-checkbox formControlName="includeInIRP" (change)="onCheckSystemConfig($event,'IRP')" label="IRP"></ejs-checkbox>
              <ejs-checkbox formControlName="includeInVMS" (change)="onCheckSystemConfig($event,'VMS')" label="VMS"></ejs-checkbox>
            </div>
          </div>
          <div class="input-container bootstrap">
            <label>Project Category<span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist formControlName="projectCategoryMapping"
                                appValidateWithMessage
                                [allowFiltering]="true"
                                [dataSource]="this.orgStructureData.projectTypeIds.dataSource"
                                [fields]="projectTypeFields"
                                (select)="onProjectTypeDropDownChanged($event)">
              </ejs-dropdownlist>

            </div>
          </div>
        </div>
        <div class="form-elemet">
          <div class="input-container bootstrap">
            <label>Project Name<span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist formControlName="projectNameMapping"
                                appValidateWithMessage
                                [allowFiltering]="true"
                                [dataSource]="this.orgStructureData.projectNameIds.dataSource"
                                [fields]="projectNameFields">
              </ejs-dropdownlist>

            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedTab==SpecialProjectTabs.PurchaseOrdersMapping">
        <div class="form-elemet">
          <div class="input-container bootstrap">
            <label>Po Name<span class="required">*</span></label>
            <div class="input-group dropdown">
              <ejs-dropdownlist formControlName="poNamesMapping"
                                appValidateWithMessage
                                [allowFiltering]="true"
                                [dataSource]="this.orgStructureData.poNameIds.dataSource"
                                [fields]="poNameFields">
              </ejs-dropdownlist>

            </div>
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Region<span class="required">*</span></label>
          <div class="input-group multiselect">
            <ejs-multiselect mode="CheckBox"
                             formControlName="regionIds"
                             placeholder="All"
                             selectAllText="Select All"
                             appValidateWithMessage
                             [fields]="optionFields"
                             [showSelectAll]="true"
                             [allowFiltering]="true"
                             [showDropDownIcon]="true"
                             [dataSource]="orgStructureData.regionIds.dataSource">
            </ejs-multiselect>
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Location<span class="required">*</span></label>
          <div class="input-group multiselect">
            <ejs-multiselect mode="CheckBox"
                             formControlName="locationIds"
                             placeholder="All"
                             selectAllText="Select All"
                             appValidateWithMessage
                             [fields]="optionFields"
                             [showSelectAll]="true"
                             [allowFiltering]="true"
                             [showDropDownIcon]="true"
                             [dataSource]="orgStructureData.locationIds.dataSource">
            </ejs-multiselect>
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Department<span class="required">*</span></label>
          <div class="input-group multiselect">
            <ejs-multiselect mode="CheckBox"
                             formControlName="departmentsIds"
                             placeholder="All"
                             selectAllText="Select All"
                             appValidateWithMessage
                             [fields]="optionFields"
                             [showSelectAll]="true"
                             [allowFiltering]="true"
                             [showDropDownIcon]="true"
                             [dataSource]="orgStructureData.departmentsIds.dataSource">
            </ejs-multiselect>
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <label>Skill<span class="required">*</span></label>
          <div class="input-group multiselect">
            <ejs-multiselect mode="CheckBox"
                             formControlName="skillIds"
                             placeholder="All"
                             selectAllText="Select All"
                             appValidateWithMessage
                             [fields]="skillsFields"
                             [showSelectAll]="true"
                             [allowFiltering]="true"
                             [showDropDownIcon]="true"
                             [dataSource]="orgStructureData.skillIds.dataSource">
            </ejs-multiselect>
          </div>
        </div>
      </div>
      <div class="form-elemet">
        <div class="input-container bootstrap">
          <ejs-checkbox formControlName="PrePopulateInOrders" label="Prepopulate in all orders created with this combination  "></ejs-checkbox>
        </div>
      </div>
    </section>
  </form>
</app-side-dialog>

