<button ejs-button class="grid-actions-cell-item" cssClass="e-flat e-success"
        [disabled]="!!actionData.disabled"
        (click)="$event.stopImmediatePropagation(); actionData.action?.(data)"
        *ngFor="let actionData of actionsConfig; trackBy: trackBy">
    <i-feather *ngIf="actionData.iconName"
               [name]="actionData.iconName"
               class="icon grid-actions-cell-item-icon {{actionData?.iconClass}}"
    ></i-feather>

    <span *ngIf="actionData?.title"
          class="grid-actions-cell-item-title {{actionData?.titleClass}}">
        {{actionData.title}}
    </span>
</button>
