@import "colors";

:host {
  display: flex;
  align-items: center;

  .e-btn {
    padding: 6px 6px;

    &:disabled {
      background-color: transparent !important;
    }
  }

  button.grid-actions-cell-item {
    display: flex;
    align-items: center;

    .grid-actions-cell-item-icon {
      margin-left: 0;
    }

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    .grid-actions-cell-item-title {
      font-weight: 700;
    }

    &.centered {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .icon-unlock {
    width: 16px;
    height: 16px;

    &.supportive-green-10 {
      color: $supportive-green-10;
    }
  }
}

