<section class="container">
  <section class="controls-container">
    <div class="left-content-items">
      <section class="setup-details bootstrap" [formGroup]="headerFilterFormGroup">
        <div *ngIf="isIRPAndVMSEnabled" class="input-container">
          <label for="systemDropDown">System</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="systemDropDown"
              class="system filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="systemOptions"
              [fields]="fields"
              [showClearButton]="true"
              [formControl]="systemIdControl"
              placeholder="All"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="regionDropDown">Region</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="regionDropDown"
              class="region filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="orgRegions"
              [fields]="fields"
              [showClearButton]="true"
              formControlName="regionId"
              placeholder="All"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="locationDropDown">Location</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="locationDropDown"
              class="location filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="locations"
              [fields]="fields"
              [showClearButton]="true"
              formControlName="locationId"
              placeholder="All"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container">
          <label for="departmentDropDown">Department</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="departmentDropDown"
              class="department filter-dropdown"
              [allowFiltering]="true"
              [dataSource]="departments"
              [fields]="fields"
              [showClearButton]="true"
              formControlName="departmentId"
              placeholder="All"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="groups-filter">
          <div class="input-container">
            <label for="groupDropDown">Group</label>
            <div class="input-group">
              <ejs-dropdownlist
                id="groupDropDown"
                class="group filter-dropdown"
                [allowFiltering]="true"
                [dataSource]="(groups$ | async)?.items"
                [fields]="fields"
                [showClearButton]="true"
                formControlName="groupId"
                placeholder="All"
              ></ejs-dropdownlist>
            </div>
          </div>
        </div>

        <div class="groups-filter">
          <div class="input-container">
            <label for="skillDropDown">Skill</label>
            <div class="input-group">
              <ejs-dropdownlist
                id="skillDropDown"
                class="skill filter-dropdown"
                [allowFiltering]="true"
                [dataSource]="skills"
                [fields]="fields"
                [showClearButton]="true"
                formControlName="skillId"
                placeholder="All"
              ></ejs-dropdownlist>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="right-content-items">
      <div class="tools-button-group">
        <app-tooltip-container
          [message]="toolTipMessage"
          [showToolTip]="!userPermission[userPermissions.CanEditCredentials]">
          <button
            ejs-button
            appHideBeforeSyncfusionLoad
            id="mapCredentials"
            [disabled]="!userPermission[userPermissions.CanEditCredentials]"
            [isPrimary]="true"
            (click)="onCredentialMappingClick()">Map Credentials</button>
        </app-tooltip-container>
      </div>
    </div>
  </section>

  <section class="filter-grid-container">
    <app-filtered-credentials
      #filteredGrid
      [isIRPFlagEnabled]="isIRPFlagEnabled"
      [userPermission]="userPermission"
      [credentialSetupFilter$]="credentialSetupFilter"
      (selectedRow)="onSelectedCredentialClick($event)"
    ></app-filtered-credentials>
  </section>

  <section class="mapping-grid-container">
    <div class="e-gridcustomheader">
      <div class="title">
        <h3>Mapping</h3>
      </div>
      <div class="actions">
        <button
          ejs-button
          [disabled]="!userPermission[userPermissions.CanEditCredentials]"
          class="action-link"
          (click)="onMappingEditClick()">
          <i-feather name="edit" class="icon"></i-feather>
          Edit
        </button>
      </div>
    </div>
    <ejs-grid
      #grid
      class="e-gridwithheader"
      [dataSource]="gridDataSource"
      [allowPaging]="allowPaging"
      [enableVirtualization]="false"
      [pageSettings]="pageSettings"
      [height]="fullScreenGridHeight"
      [rowHeight]="rowHeight"
      [resizeSettings]="resizeSettings"
      [allowSorting]="allowSorting"
      [allowResizing]="allowResizing"
    >
      <e-columns>
        <e-column textAlign="Right" width="70">
          <ng-template #template let-data>
            <div class="row-tool-buttons">
              <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditCredentialClick(data, $event)">
                <span class="edit-button" ><i-feather name="edit" class="icon"></i-feather></span>
              </button>
            </div>
          </ng-template>
        </e-column>
        <e-column field="credentialType" headerText="CREDENTIAL TYPE" width=200></e-column>
        <e-column field="description" headerText="CREDENTIAL" width=200></e-column>
        <e-column field="reqSubmission" headerText="REQ. FOR SUBMISSION" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container bootstrap">
              <ejs-checkbox [checked]="data.reqSubmission" [disabled]="!userPermission[userPermissions.CanEditCredentials]" (change)="onCredentialCheckboxChange(data, 'reqSubmission', $event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="reqOnboard" headerText="REQ. FOR ONBOARD" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container bootstrap">
              <ejs-checkbox [checked]="data.reqOnboard" [disabled]="!userPermission[userPermissions.CanEditCredentials]" (change)="onCredentialCheckboxChange(data, 'reqOnboard', $event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="isActive" headerText="OPTIONAL" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container bootstrap">
              <ejs-checkbox [checked]="data.isActive" [disabled]="!userPermission[userPermissions.CanEditCredentials]" (change)="onCredentialCheckboxChange(data, 'isActive', $event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="inactiveDate" headerText="INACTIVE DATE" type='date' format="MM/dd/yyyy" width=200>
          <ng-template #template let-data>
            <div class="inactive-date">{{data.inactiveDate | date: 'MM/dd/yyyy'}}</div>
          </ng-template>
        </e-column>
        <e-column field="comments" headerText="COMMENT" width=250>
          <ng-template #template let-data>
            <div class="comment">{{data.comments}}</div>
          </ng-template>
        </e-column>
        <e-column field="irpComments" headerText="IRP COMMENT" width=250>
          <ng-template #template let-data>
            <div class="comment">{{ data.irpComments }}</div>
          </ng-template>
        </e-column>
      </e-columns>
      <ng-template #pagerTemplate let-data>
        <div class="e-pagertemplate">
          <div class="control-section">
            <div class="content-wrapper">
              <section class="left-side-pager-controls">
                <ejs-dropdownlist
                  id="rowsPerPage"
                  class="dropdown-no-border"
                  [allowFiltering]="true"
                  [dataSource]="rowsPerPageDropDown"
                  [(value)]="activeRowsPerPageDropDown"
                  (change)="onRowsDropDownChanged()"
                >
                </ejs-dropdownlist>
                <ejs-numerictextbox
                  id="goToPage"
                  class="numeric-input-no-border"
                  format="#"
                  [validateDecimalOnType]="validateDecimalOnType"
                  [decimals]="decimals"
                  placeholder="Go to:"
                  min="1" [max]="lastAvailablePage"
                  [showSpinButton]="false"
                  (change)="changeTablePagination($event)"
                >
                </ejs-numerictextbox>
                <div class="total-rows">
                  Total Rows: {{totalDataRecords}}
                </div>
              </section>
              <section class="right-side-pager-controls">
                <ejs-pager
                  id="gridPager"
                  #gridPager
                  [pageSize]="pageSizePager"
                  [totalRecordsCount]="totalDataRecords"
                  [enablePagerMessage]="false"
                  [currentPage]="currentPagerPage"
                  (click)="changeTablePagination($event)"
                >
                </ejs-pager>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </section>

  <app-side-dialog
    [disableSaveButton]="!userPermission[userPermissions.CanEditCredentials]"
    *ngIf="isCredentialSetupEdit"
    (formCancelClicked)="onCredentialFormCancelClick()"
    (formSaveClicked)="onCredentialFormSaveClick()"
    header="Edit Credential"
    [width]="'434px'"
  >
    <form
      class="form-container bootstrap"
      id="editRecordForm"
      [formGroup]="credentialsSetupFormGroup"
    >
      <div>
        <div class="input-container">
          <label for="credentialType">Credential Type</label>
          <div class="input-group">
            <input
              id="credentialType"
              class="e-input"
              type="text"
              formControlName="credentialType"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="input-container">
          <label for="description">Credential</label>
          <div class="input-group">
            <input
              id="description"
              class="e-input"
              type="text"
              formControlName="description"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="input-container">
          <label for="comments">Comment</label>
          <div class="input-group">
            <ejs-textbox
              id="comments"
              class="e-input"
              type="text"
              maxlength="500"
              [multiline]="true"
              formControlName="comments"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
      <div *ngIf="isIRPAndVMSEnabled && isCredentialIRP">
        <div class="input-container">
          <label for="irpComments">IRP Comment</label>
          <div class="input-group">
            <ejs-textbox
              id="irpComments"
              class="e-input"
              type="text"
              maxlength="500"
              [multiline]="true"
              formControlName="irpComments"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container calendar">
          <label for="inactiveDate">Inactive Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker
              id="inactiveDate"
              class="datepicker"
              format="MM/dd/yyyy"
              [enableMask]="true"
              [maskPlaceholder]="{ month: 'MM', day: 'DD', year: 'YYYY' }"
              placeholder="MM/DD/YYYY"
              formControlName="inactiveDate"
            >
            </ejs-datepicker>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="Optional"
              label="Optional"
              formControlName="isActive"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForSubmission"
              label="Req. For Submission"
              formControlName="reqSubmission"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForOnboard"
              label="Req. For Onboard"
              formControlName="reqOnboard"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>

  <app-map-credentials-form
    *ngIf="!isCredentialSetupEdit"
    [orgRegions]="orgRegions"
    [groups]="groups"
    [mappingDataForEdit$]="mappingDataForEditChanged$"
    (formClosed)="onMappingFormClosed()"
  ></app-map-credentials-form>
</section>
