<section class="container">
  <section class="controls-container">
    <div class="left-content">
      <section class="setup-details bootstrap">
        <div class="input-container">
          <label for="credentialsDropDown">Credentials</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="credentialsDropDown"
              class="credentials filter-dropdown"
              placeholder="Credentials"
              [dataSource]="credentials"
              [value]="selectedFilterSetupBy"
              (change)="onFilterDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container" *ngIf="isFilteredBySkill">
          <label for="regionDropDown">Region</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="regionDropDown"
              class="region filter-dropdown"
              placeholder="Region"
              [dataSource]="regions$ | async"
              [fields]="regionLocationSkillGroupDropDownFields"
              [value]="selectedRegionId"
              (change)="onRegionDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container" *ngIf="isFilteredBySkill">
          <label for="locationDropDown">Location</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="locationDropDown"
              class="location filter-dropdown"
              placeholder="Location"
              [dataSource]="locations$ | async"
              [fields]="regionLocationSkillGroupDropDownFields"
              [value]="selectedLocationId"
              (change)="onLocationDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="input-container" *ngIf="isFilteredBySkill">
          <label for="departmentDropDown">Department</label>
          <div class="input-group">
            <ejs-dropdownlist
              id="departmentDropDown"
              class="department filter-dropdown"
              placeholder="Department"
              [dataSource]="departments$ | async"
              [fields]="departmentFields"
              [value]="selectedDepartmentId"
              (change)="onDepartmentDropDownChanged($event)"
            ></ejs-dropdownlist>
          </div>
        </div>

        <div class="groups-filter">
          <div class="input-container" *ngIf="isFilteredBySkill">
            <label for="groupDropDown">Group</label>
            <div class="input-group">
              <ejs-dropdownlist
                id="groupDropDown"
                class="group filter-dropdown"
                placeholder="Group"
                [dataSource]="groups$ | async"
                [fields]="regionLocationSkillGroupDropDownFields"
                [value]="selectedSkillGroupId"
                (change)="onGroupDropDownChanged($event)"
              ></ejs-dropdownlist>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="right-content">
      <div class="tools-button-group" *ngIf="isFilteredBySkill">
        <button
          ejs-button
          id="groupSetup"
          cssClass="e-outline button-filter"
          (click)="onGroupsSetupClick()"
        >Groups Setup</button>
      </div>
    </div>
  </section>

  <section class="grid">
    <ejs-grid
      #grid
      [dataSource]="gridDataSource"
      [allowPaging]="allowPaging"
      [pageSettings]="pageSettings"
      [height]="gridHeight"
      [rowHeight]="rowHeight"
      [resizeSettings]="resizeSettings"
      [allowSorting]="allowSorting"
      [allowResizing]="allowResizing"
    >
      <e-columns>
        <e-column field="credentialType" headerText="CREDENTIAL TYPE" width=200></e-column>
        <e-column field="credential" headerText="CREDENTIAL" width=200></e-column>
        <e-column field="optional" headerText="OPTIONAL" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container bootstrap">
              <ejs-checkbox [checked]="data.optional" (change)="onOptionChange(data, $event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="reqSubmission" headerText="REQ. FOR SUBMISSION" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container bootstrap">
              <ejs-checkbox [checked]="data.reqSubmission" (change)="onReqForSubmissionChange(data, $event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="reqOnboard" headerText="REQ. FOR ONBOARD" width=200>
          <ng-template #template let-data>
            <div class="checkbox-container bootstrap">
              <ejs-checkbox [checked]="data.reqOnboard" (change)="onReqForOnboardChange(data, $event)"></ejs-checkbox>
            </div>
          </ng-template>
        </e-column>
        <e-column field="inactiveDate" headerText="INACTIVE DATE" type='date' format="MM/dd/yyyy" width=200>
          <ng-template #template let-data>
            <div class="inactive-date">{{data.inactiveDate | date: 'MM/dd/yyyy'}}</div>
          </ng-template>
        </e-column>
        <e-column field="comments" headerText="COMMENT" width=400>
          <ng-template #template let-data>
            <div class="comment">{{data.comments}}</div>
          </ng-template>
        </e-column>
        <e-column textAlign="Right" width=90 freeze="Right">
          <ng-template #template let-data>
            <div class="row-tool-buttons">
              <button ejs-button cssClass="e-flat primary-icon-button" (click)="onEditButtonClick(data, $event)">
                <span class="edit-button" ><i-feather name="edit" class="icon"></i-feather></span>
              </button>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
      <ng-template #pagerTemplate let-data>
        <div class="e-pagertemplate">
          <div class="control-section">
            <div class="content-wrapper">
              <section class="left-side-pager-controls">
                <ejs-dropdownlist
                  id="rowsPerPage"
                  class="dropdown-no-border"
                  [dataSource]="rowsPerPageDropDown"
                  [(value)]="activeRowsPerPageDropDown"
                  (change)="onRowsDropDownChanged()"
                >
                </ejs-dropdownlist>
                <ejs-numerictextbox
                  id="goToPage"
                  class="numeric-input-no-border"
                  format="#"
                  [validateDecimalOnType]="validateDecimalOnType"
                  [decimals]="decimals"
                  placeholder="Go to:"
                  min="1" [max]="lastAvailablePage"
                  [showSpinButton]="false"
                  (change)="onGoToClick($event)"
                >
                </ejs-numerictextbox>
              </section>
              <section class="right-side-pager-controls">
                <ejs-pager
                  id="gridPager"
                  #gridPager
                  [pageSize]="pageSizePager"
                  [totalRecordsCount]="totalDataRecords"

                  [enablePagerMessage]="false"
                  [currentPage]="currentPagerPage"
                  (click)="onGoToClick($event)"
                >
                </ejs-pager>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-grid>
  </section>

  <app-side-dialog
    (formCancelClicked)="onFormCancelClick()"
    (formSaveClicked)="onFormSaveClick()"
    [header]="'Edit Credential'"
    [width]="'436px'"
  >
    <form
      class="form-container bootstrap"
      id="editRecordForm"
      [formGroup]="credentialsSetupFormGroup"
    >
      <div>
        <div class="input-container">
          <label for="description">Credential</label>
          <div class="input-group">
            <input id="description"
                   class="e-input"
                   type="text"
                   placeholder="Credential Description"
                   formControlName="description"/>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container">
          <label for="comments">Comment</label>
          <div class="input-group">
            <ejs-textbox
              id="comments"
              class="e-input"
              type="text"
              maxlength="100"
              [multiline]="true"
              formControlName="comments"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container calendar">
          <label for="inactiveDate">Inactive Date</label>
          <div class="input-group datepicker">
            <ejs-datepicker
              id="inactiveDate"
              class="datepicker"
              format="MM/dd/yyyy"
              placeholder="MM/DD/YYYY"
              [enableMask]="true"
              [maskPlaceholder]="{ day: 'DD', month: 'MM', year: 'YYYY' }"
              formControlName="inactiveDate"
            >
            </ejs-datepicker>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="Optional"
              label="Optional"
              formControlName="optional"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForSubmission"
              label="Req. For Submission"
              formControlName="reqSubmission"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container checkbox-container">
          <div class="input-group">
            <ejs-checkbox
              id="reqForOnboard"
              label="Req. For Onboard"
              formControlName="reqOnboard"
            ></ejs-checkbox>
          </div>
        </div>
      </div>
    </form>
  </app-side-dialog>
</section>
