@import '../../../styles/variables/colors';

.container {
  height: 100%;

  .controls-container {
    height: 8%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .left-content-items {
      & > *:not(:last-child) {
        margin-right: 12px;
      }

      .setup-details {
        display: flex;

        .filter-dropdown {
          margin-right: 12px;
        }
      }
    }

    .right-content-items {
      width: auto;
    }

    ejs-dropdownlist {
      max-width: 208px;
    }
  }

  .filter-grid-container {
    height: 43%;
    margin-bottom: 24px;
  }

  .mapping-grid-container {
    height: 36%;

    .actions {
      button {
        background-color: transparent;
      }
    }

    .e-gridcustomheader {
      height: 64px;
    }
  }

  .comment {
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.form-container {
  padding-top: 24px;

  .input-container {
    padding-bottom: 12px;
    width: 386px;

    input {
      height: 40px;
    }

    ejs-datepicker.datepicker {
      .e-input-group.e-control-wrapper.e-date-wrapper {
        width: 198px !important;
        height: 40px !important;
      }
    }

    ejs-textbox.e-control {
      .e-textbox {
        height: 118px !important;
        padding-top: 10px;
        padding-right: 31px;
        padding-left: 17px;
      }
    }

    &.checkbox-container {
      padding-top: 4px;
    }
  }
}
