.tier-settings {
  .tier-container {
    width: 40%;
  }

  .tier-grid {
    margin-top: 24px;
    height: 600px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  .input-container {
    margin-bottom: 16px;
  }
}

