<section class="container">
  <div class="toolbar-buttons">
    <app-tooltip-container
      [message]="toolTipMessage"
      [showToolTip]="!canRejectOrClosure">
      <button
        ejs-button
        appHideBeforeSyncfusionLoad
        [isPrimary]="true"
        [disabled]="!canRejectOrClosure"
        (click)="addReason()"
      >Add {{ reasonsNavigationTabs.Penalties === selectedTab ? 'Penalties' : 'Reason' }}</button>
    </app-tooltip-container>
  </div>

  <ejs-tab
    (selected)="selectTab($event)"
    [heightAdjustMode]="'Fill'"
  >
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText><div>Candidate Rejection</div></ng-template>
        <ng-template #content>
          <app-candidate-reject-reason [userPermission]="userPermission"
            (editReason)="editReason($event)" [form]="reasonForm"></app-candidate-reject-reason>
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText><div>Candidate Cancellation (Penalties)</div></ng-template>
        <ng-template #content>
          <app-penalties (editReason)="editReason($event)" [form]="reasonForm"></app-penalties>
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText><div>Order Requisition</div></ng-template>
        <ng-template #content>
          <app-order-requisition (editReason)="editReason($event)" [form]="reasonForm"></app-order-requisition>
        </ng-template>
      </e-tabitem>

      <e-tabitem *ngIf="userPermission[userPermissions.CanViewOrderClosureReasons] && userPermission[userPermissions.CanManageOrderClosureReasons]">
        <ng-template #headerText><div>Order Closure</div></ng-template>
        <ng-template #content>
          <app-closure-reason [userPermission]="userPermission" (editReason)="editReason($event)" [form]="reasonForm"></app-closure-reason>
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText><div>Manual Invoice</div></ng-template>
        <ng-template #content>
          <app-manual-invoice-reject-reason (editReason)="editReason($event)" [form]="reasonForm"></app-manual-invoice-reject-reason>
        </ng-template>
      </e-tabitem>
      <e-tabitem *ngIf="isIRPFlagEnabled && userPermission[userPermissions.ViewUnavailabilityReasons]">
        <ng-template #headerText><div>Unavailability</div></ng-template>
        <ng-template #content>
          <app-unavailability-reasons
            [userPermission]="userPermission"
            (editReason)="editReason($event)"></app-unavailability-reasons>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText><div>Internal transfer/recruitment</div></ng-template>
        <ng-template #content>
          <app-internal-transfer
            [userPermission]="userPermission"
            (editReason)="editReason($event)"
            [form]="reasonForm"></app-internal-transfer>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText><div>Terminated Reason</div></ng-template>
        <ng-template #content>
          <app-emp-termination
            [userPermission]="userPermission"
            (editReason)="editReason($event)"
            [form]="reasonForm"></app-emp-termination>
        </ng-template>
      </e-tabitem>

    </e-tabitems>
  </ejs-tab>
</section>

<app-side-dialog
  [disableSaveButton]="!canRejectOrClosure"
  header="{{ title }} {{ reasonsNavigationTabs.Penalties === selectedTab ? 'Penalties' : 'Reason' }}"
  (formSaveClicked)="saveReason()"
  (formCancelClicked)="closeDialog()"
  [width]="reasonsNavigationTabs.Penalties === selectedTab ? '572px' : '434px'"
>

  <form *ngIf="reasonsNavigationTabs.Penalties === selectedTab; else dynamicForm" [formGroup]="reasonForm" class="penalties-form">
    <div>
      <div class="input-container bootstrap">
        <label for="reason">Reason <span class="required">*</span></label>
        <div class="input-group dropdown">
          <ejs-dropdownlist
            appValidateWithMessage
            [allowFiltering]="true"
            [dataSource]="cancellationReasons"
            [fields]="optionFields"
            formControlName="reason">
          </ejs-dropdownlist>
        </div>
      </div>

      <div class="input-container bootstrap">
        <label>Regions <span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect appValidateWithMessage
                            mode="CheckBox"
                            formControlName="regionIds"
                            selectAllText="Select All"
                            [fields]="optionFields"
                            [showSelectAll]="true"
                            [allowFiltering]="true"
                            [showDropDownIcon]="true"
                            [dataSource]="regions">
          </ejs-multiselect>
        </div>
      </div>
    </div>

    <div>
      <div class="input-container bootstrap">
        <label>Locations <span class="required">*</span></label>
        <div class="input-group multiselect">
          <ejs-multiselect appValidateWithMessage
                            mode="CheckBox"
                            formControlName="locationIds"
                            selectAllText="Select All"
                            [fields]="optionFields"
                            [showSelectAll]="true"
                            [allowFiltering]="true"
                            [showDropDownIcon]="true"
                            [dataSource]="locations">
            <ng-template #itemTemplate="" let-data="">
                <div *ngIf="data.id" class="location-option-container">
                  <span class="location-name">{{data.name}}</span>
                  <span class="region-name">{{data.regionName}}</span>
                </div>
                <ng-container *ngIf="!data.id">
                  <span class="location-name">{{data.name}}</span>
                </ng-container>
            </ng-template>
          </ejs-multiselect>
        </div>
      </div>
    </div>

    <div class="penalties-rate-container">
      <div class="rate">
        <div>
          <div class="input-container bootstrap left">
            <label for="billRatesCategory">Flat Rate<span class="required">*</span></label>
            <div class="input-group">
              <ejs-numerictextbox
                class="numeric-input"
                appValidateWithMessage
                min="0"
                maxlength="10"
                format="###.00"
                formControlName="flatRate"
                [showSpinButton]="false"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="2"
              >
              </ejs-numerictextbox>
            </div>
          </div>
        </div>

        <div>
          <div class="input-container bootstrap left">
            <label for="billRatesCategory">Bill Rate</label>
            <div class="input-group">
              <input
                class="e-input e-disabled"
                [disabled]="true"
                type="text"
                value="Regular/Local Amount" />
            </div>
          </div>
          <div class="input-container bootstrap right">
            <label for="billRatesCategory">Hours <span class="required">*</span></label>
            <div class="input-group">
                <ejs-numerictextbox
                class="numeric-input"
                appValidateWithMessage
                min="0"
                maxlength="10"
                format="#"
                formControlName="rateOfHours"
                [showSpinButton]="false"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
              >
              </ejs-numerictextbox>
            </div>
          </div>
        </div>

        <div>
          <div class="input-container bootstrap left">
            <label for="billRatesCategory">% Rate <span class="required">*</span></label>
            <div class="input-group">
                <ejs-numerictextbox
                class="numeric-input"
                appValidateWithMessage
                min="0"
                maxlength="10"
                format="###.00"
                formControlName="flatRateOfHoursPercentage"
                [showSpinButton]="false"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="2"
              >
              </ejs-numerictextbox>
              </div>
          </div>
          <div class="input-container bootstrap right">
            <label for="billRatesCategory">Hours <span class="required">*</span></label>
            <div class="input-group">
                <ejs-numerictextbox
                class="numeric-input"
                appValidateWithMessage
                min="0"
                maxlength="10"
                format="0"
                formControlName="flatRateOfHours"
                [showSpinButton]="false"
                [validateDecimalOnType]="validateDecimalOnType"
                [decimals]="decimals"
              >
              </ejs-numerictextbox>
            </div>
          </div>
        </div>

      </div>
      <div class="primary-selector">
        <div class="input-container">
          <label>Primary</label>
          <div class="input-group radio">
            <ejs-radiobutton
              formControlName="penaltyCriteria"
              name="penaltyCriteria"
              [value]="0"></ejs-radiobutton>
          </div>
          <div class="input-group radio">
            <ejs-radiobutton
              formControlName="penaltyCriteria"
              name="penaltyCriteria"
              [value]="2"></ejs-radiobutton>
          </div>
          <div class="input-group radio">
            <ejs-radiobutton
              formControlName="penaltyCriteria"
              name="penaltyCriteria"
              [value]="1"></ejs-radiobutton>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ng-template #dynamicForm>

    <form [formGroup]="reasonForm" class="reason-form">
      <!-- trackBy will prevent correct appValidateWithMessage work as it's not reasigning control -->
      <ng-container *ngFor="let control of dialogConfig">
        <ng-container [ngSwitch]="control.fieldType">
  
          <ng-template [ngSwitchCase]="inputType.Input">
            <div class="input-container bootstrap">
              <label [for]="control.field">{{control.title}}<span class="required" *ngIf="control.required">*</span></label>
              <div class="input-group">
                <input
                  class="e-input"
                  type="text"
                  appValidateWithMessage
                  [formControlName]="control.field"/>
              </div>
            </div>
          </ng-template>
  
          <ng-template [ngSwitchCase]="inputType.Toggle">
            <div class="input-container row-flexed">
              <div class="input-group wide">
                <ejs-switch
                  class="toggle"
                  [formControlName]="control.field"
                ></ejs-switch>
                <label [for]="control.field">{{ control.title }}</label>
              </div>
            </div>
          </ng-template>

          <ng-template [ngSwitchCase]="inputType.TextArea">
            <div class="input-container long">
              <label [for]="control.field">{{ control.title }} <span *ngIf="control.required" class="required">*</span></label>
              <div class="input-group text-input bootstrap">
                <ejs-textbox
                  class="e-input reason-textbox"
                  type="text"
                  [multiline]="true"
                  appValidateWithMessage
                  maxlength="500"
                  [formControlName]="control.field">
                </ejs-textbox>
              </div>
            </div>
          </ng-template>
  
        </ng-container>
      </ng-container>

    </form>

  </ng-template>
</app-side-dialog>
