@import 'colors.scss';

.container {
  padding-top: 24px;
  height: calc(100% - 20px);

  .toolbar-buttons {
    float: right;
    position: relative;
    z-index: 99;
    display: flex;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-top: 12px;
}

.reason-form,
.penalties-form {
  margin-top: 24px;
}

.penalties-rate-container {
  display: flex;

  .rate {
    width: 85%;

    & > div {
      display: flex;

      .left {
        width: 60%;
        margin-right: 12px;
      }

      .right {
        width: 35%;
      }
    }
  }

  .primary-selector {
    width: 15%;

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        text-align: center;
      }

      .radio {
        width: 18px;
        height: 71px;
      }
    }
  }
}

.location-option-container {
  display: inline-block;
  position: relative;
  height: 60px;
  text-indent: 0;

  .region-name {
    font-size: 12px;
    color: $secondary-dark-blue-20;
    position: absolute;
    left: 0;
    top: 20px;
  }
}

::ng-deep {
  .e-input.reason-textbox {
    .e-input-group.e-control-wrapper.e-multi-line-input {
      height: 103px;
    }
  }

  ejs-tab {
    .e-content.e-lib.e-touch {
      height: 94% !important;
    }
  }
}
