@import 'colors.scss';
@import "colors";
.container {
  padding-top: 24px;
  height: calc(100% - 50px);

  .toolbar-buttons {
    position: relative;
    z-index: 99;
    display: flex;
  }
}

.input-group {
  margin-top: 5px;
}

.input-container {
  margin-top: 12px;
}

.reason-form,
.penalties-form {
  margin-top: 24px;
}

.penalties-rate-container {
  display: flex;

  .rate {
    width: 85%;

    & > div {
      display: flex;

      .left {
        width: 60%;
        margin-right: 12px;
      }

      .right {
        width: 35%;
      }
    }
  }

  .primary-selector {
    width: 15%;

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        text-align: center;
      }

      .radio {
        width: 18px;
        height: 71px;
      }
    }
  }
}

.location-option-container {
  display: inline-block;
  position: relative;
  height: 60px;
  text-indent: 0;

  .region-name {
    font-size: 12px;
    color: $secondary-dark-blue-20;
    position: absolute;
    left: 0;
    top: 20px;
  }
}

::ng-deep {
  .e-input.reason-textbox {
    .e-input-group.e-control-wrapper.e-multi-line-input {
      height: 103px;
    }
  }

  ejs-tab {
    .e-content.e-lib.e-touch {
      height: 94% !important;
    }
  }
}
.input-group {
  margin-top: 5px;

  &.checkboxes {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ejs-checkbox {
      margin-right: 16px;
    }
  }
}
.toolbar-buttons{
  justify-content: flex-end;
    display: flex;
}

::ng-deep {
  .input-container.long {
    .e-switch-wrapper, body.light .bootstrap .e-css.e-switch-wrapper {
      margin-right: 0 !important;
    }

    .e-switch-on {
      color: $black !important;
    }

    .e-switch-wrapper .e-switch-handle {
      background-color: #f5f5f5 !important;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
      height: 18px !important;
      width: 18px !important;
      left: 0 !important;

      &.e-switch-active {
        background-color: $primary-active-blue-10 !important;
        left: 100% !important;
      }
    }

    .e-switch-wrapper .e-switch-inner.e-switch-active,
    .e-css.e-switch-wrapper .e-switch-inner.e-switch-active {
      opacity: 1 !important;
      background-color: $primary-active-blue-80 !important;
      border: 0px !important;
    }
  }
}

.switch-label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
}
