@import 'colors.scss';

.container {
  padding-top: 24px;

  .toolbar-buttons {
    float: right;
    position: relative;
    z-index: 99;
    display: flex;
  }
}

.input-group {
  margin-top: 5px;
}

.reason-form {
  margin-top: 24px;
}
